﻿<div >

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>

    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>

    <section class="content">
        <form>
            <div id="filtrosConsulta">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fechaInicial">Fecha Inicial</label>
                            <input name="fechaInicial" type="date" class="form-control" ng-model="FechaInicial">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fechaFinal">Fecha Final</label>
                            <input name="fechaFinal" type="date" class="form-control" ng-model="FechaFinal">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="numeroInicial">Número</label>
                            <input name="numeroInicial" type="text" class="form-control" ng-model="NumeroInicial" maxlength="10" id="numeroInicial" placeholder="Ingrese un numeró" ng-keyup="MaskNumero('numeroInicial',0,20,0,1)" autocomplete="off">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="TipoNota">Tipo Nota</label>
                            <select name="TipoNota" class="form-control" ng-model="TipoNota" ng-options="i.Nombre for i in ListadoTipoNotas"></select>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Cliente</label>
                            <input type="text" class="form-control" placeholder="Seleccione un cliente" ng-model="Clientes" autocomplete="off" ng-blur="Clientes=VerificarAutocomplete(Clientes);"
                                   uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in AutocompleteCliente($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="oficina">Oficina</label>
                            <select name="oficina" class="form-control" ng-model="Oficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <select name="estado" class="form-control" ng-model="Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>

                </div>
                <div id="lineButtons">
                    <div class="pull-left">
                        <button class="btn btn-block btn-primary" ng-click="Buscar()" title="Buscar Notas Factura" ng-disabled="DeshabilitarConsulta">
                            Buscar
                            <span class="glyphicon glyphicon-filter"></span>
                        </button>
                    </div>
                    <div class="pull-right">
                        <div class="pull-right">
                            <button class="btn btn-block btn-primary" ng-disabled="DeshabilitarActualizar" ng-click="NuevoDocumento()" title="Nueva Nota Factura">
                                Nuevo
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <br />
                <hr />
                <div id="resultadoConsulta" class="table-responsive">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm" ng-if="ListaNostasCredito.length > 0">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Número</th>
                                <th>Tipo Nota</th>
                                <th>Valor Nota</th>
                                <th>Fecha</th>
                                <th>No. Factura</th>
                                <th>Fecha Factura</th>
                                <th>Cliente</th>
                                <th>Valor Factura</th>
                                <th>Oficina</th>
                                <th>Estado Electrónico</th>
                                <th>Estado</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListaNostasCredito">
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                            <span class="fa fa-list"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-left" style="overflow-y:scroll; max-height:100px; cursor:pointer">
                                            <li ng-show="item.Estado == 1 && item.Anulado == 0">
                                                <a ng-click="GenerarMovimientoContable(item.Numero, item.TipoDocumento)" ng-disabled="DeshabilitarEliminarAnular">
                                                    <span class="fa fa-file" style="font-size:13px"></span>Generar Movimiento Contable
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="DesplegarInforme(item.Numero,1, 0)" ng-disabled="DeshabilitarImprimir">
                                                    <span class="glyphicon glyphicon-print"></span>Imprimir
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-if="MostrarModuloNotaElectronica" ng-click="GenerarArchivosNota(item)" ng-disabled="DeshabilitarActualizar">
                                                    <span class="fa fa-code"></span>Archivo Nota Electrónico
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-if="MostrarModuloNotaElectronica" ng-click="ProcesarNotaElectronica(item)" ng-disabled="DeshabilitarActualizar">
                                                    <span class="glyphicon glyphicon-send"></span>Enviar Nota Electrónica
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-if="MostrarModuloNotaElectronica" ng-click="EstadosNotaElectronica(item)" ng-disabled="DeshabilitarActualizar">
                                                    <span class="glyphicon glyphicon-flag"></span>Estados Nota Electrónica
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td><a href="#!GestionarNotaFacturas/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>
                                <td>{{item.NombreTipoDocumento}}</td>
                                <td class="text-right">${{item.ValorNota | number:0}}</td>
                                <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                <td>{{item.Factura.NumeroDocumento}}</td>
                                <td>{{item.Factura.Fecha | date: 'dd/MM/yyyy'}}</td>
                                <td>{{item.Clientes.NombreCompleto}}</td>
                                <td class="text-right">${{item.Factura.ValorFactura | number:0}}</td>
                                <td>{{item.OficinaNota.Nombre}}</td>
                                <td class="text-center">
                                    <span ng-if="item.NotaElectronica == 1" class="label label-success">Enviado</span>
                                    <span ng-if="item.NotaElectronica == 0" class="label label-warning">Pendiente</span>
                                </td>
                                <td class="text-center">
                                    <span ng-if="item.Anulado == 1" class="label label-danger pull-center bg-red">Anulado</span>
                                    <span ng-if="item.Estado == 1 && item.Anulado == 0" class="label label-success">Definitivo</span>
                                    <span ng-if="item.Estado == 0 && item.Anulado == 0" class="label label-warning ">Borrador</span>
                                </td>

                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="12">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </section>
    <!-- Modal Visualizacion Archivo Nota -->
    <div class="modal fade" id="modalArchivoNota" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <pre>
                        <code>{{ArchivoNota}}</code>
                        </pre>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal Visualizacion Archivo Nota -->
    <!-- Modal Estados Nota Electronica-->
    <div class="modal fade" id="modalEstadosNotaElectronica" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 ">
                                <div id="resultadoConsulta">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Tipo</th>
                                                    <th>Estado</th>
                                                    <th>Fecha</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Adquiriente</td>
                                                    <td align="center"><span class="label {{Estados.Adquiente.CampoAuxiliar3}}">{{Estados.Adquiente.Nombre}}</span></td>
                                                    <td>{{Estados.Fecha | date:'dd/MM/yyyy HH:mm'}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Notificación Correo</td>
                                                    <td align="center"><span class="label {{Estados.Notificacion.CampoAuxiliar3}}">{{Estados.Notificacion.Nombre}}</span></td>
                                                    <td>{{Estados.Fecha | date:'dd/MM/yyyy HH:mm'}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cerrar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Estados Nota Electronica-->
</div>