﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <label for="fecha">Número </label>
                            <span class="form-control">{{Modelo.NumeroDocumento}}</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <label for="fecha">Tipo Nota</label>
                            <select name="conceptonotas" class="form-control" ng-model="Modelo.TipoDocumento" ng-disabled="Deshabilitar || DeshabilitarTipoDocumento" ng-options="i.Nombre for i in ListadoTipoNotas" ng-blur="ObtenerConceptosNotas()"></select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <label for="fecha">Concepto Nota</label>
                            <select name="conceptonotas" class="form-control" ng-model="Modelo.ConceptoNotas" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoConceptoNotas" ng-blur="AsignarConceptoNotas(Modelo.ConceptoNotas)"></select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <label for="fecha">Fecha </label>
                            <input name="fecha" type="date" class="form-control" ng-model="Modelo.Fecha" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="fecha">Oficina Factura</label>
                            <select class="form-control" ng-model="Modelo.Factura.OficinaFactura" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoOficinas" ng-blur="AsignarFactura(Modelo.Factura.NumeroDocumento);"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="fecha">Número Factura</label>
                            <input class="form-control" name="FacturaDocumento" type="text" maxlength="10" id="FacturaDocumento" placeholder="Ingrese Factura" ng-change="MaskNumero()"
                                   ng-disabled="Deshabilitar" ng-model="Modelo.Factura.NumeroDocumento" ng-blur="AsignarFactura(Modelo.Factura.NumeroDocumento);MaskValores()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="fecha">Fecha Factura</label>
                            <span class="form-control" disabled>{{Modelo.Factura.Fecha | date: 'dd/MM/yyyy'}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="fecha">Valor Factura</label>
                            <input type="text" class="form-control text-right" ng-model="Modelo.Factura.ValorFactura" ng-change="MaskValores()" disabled>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Cliente</label>
                            <input type="text" class="form-control" placeholder="Cliente" ng-model="Modelo.Clientes.NombreCompleto" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Facturar A</label>
                            <input type="text" class="form-control" placeholder="Facturar A" ng-model="Modelo.FacturarA.NombreCompleto" disabled>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="fecha">Valor Nota</label>
                            <input type="text" class="form-control text-right" placeholder="Digite Valor Nota" ng-model="Modelo.ValorNota" ng-change="MaskValores()" ng-disabled="DeshabilitarValorNota">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-control text full-size" data-role="input">
                                <label for="observaciones">Observaciones</label>
                                <textarea class="form-control" maxlength="250" name="observaciones" type="text" ng-model="Modelo.Observaciones" ng-disabled="Deshabilitar"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Oficina y Estado-->
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="nombre">Oficina</label>
                            <input class="form-control" ng-model="Modelo.OficinaNota.Nombre" disabled>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <select name="estado" class="form-control" ng-model="Modelo.Estado" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
                <!--Oficina y Estado-->
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-right">
                        <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                            Cancelar
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                        <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="Deshabilitar">
                            Aceptar
                            <span class="glyphicon glyphicon-ok-circle"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
