﻿ <div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">{{opcion.Nombre}}</li>
    </ol>

    <section class="content-header">
        <h1>GESTIONAR ACTA DESCARGUE</h1>
    </section>

    <div class="content">
        <div class="row" style="margin: 0px">
            <form>
                <div class="SeccionFiltros-Formulario">
                    <ul class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                    <ul class="alert alert-success" role="alert" ng-if="MensajesConfirmacion.length > 0">
                        <li ng-repeat="mensaje in MensajesConfirmacion">
                            <span>{{mensaje}}</span>
                        </li>
                    </ul>

                    <div class="row">

                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label>Fecha</label>
                                <input class="form-control" type="text" autocomplete="off" ng-model="Fecha | date:'MM/dd/yyyy'" disabled />
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label>Número Acta Descargue</label>
                                <input class="form-control" type="text" ng-model="NumeroPlanillaDescargue" ng-disabled="true" placeholder="Ingrese código de la Acta de Descargue" />
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label>Número Planilla</label>
                                <input class="form-control" type="text" autocomplete="on" ng-model="NumeroPlanilla" placeholder="Ingrese código de la planilla" ng-blur="ObtenerPlanilla()"
                                       uib-typeahead="Vehi as Vehi.Numero for Vehi in AutocompleteDespachos($viewValue)| filter:$viewValue | limitTo: 5" ng-disabled="DeshabilitarActualizar" />
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="numero">Código Vehículo</label>
                                <input type="text" class="form-control" ng-model="CodigoAlternoVehiculo" placeholder="Ingrese código vehículo" maxlength="20" ng-blur="ObtenerPlanilla()" ng-disabled="DeshabilitarActualizar" />
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label>Vehículo</label>
                                <input class="form-control" type="text" ng-model="PlacaVehiculo" placeholder="Ingrese una Placa" ng-blur="ObtenerVehiculo();ObtenerPlanilla()"
                                       uib-typeahead="Vehi as Vehi.Placa for Vehi in AutocompleteVehiculos($viewValue)| filter:$viewValue | limitTo: 5" ng-disabled="DeshabilitarActualizar" />
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label>Semirremolque</label>
                                <input maxlength="30" type="text" class="form-control" name="marca" id="marca" placeholder="Seleccione el Semirremolque" ng-model="Semirremolque" uib-typeahead="Semirremolque as Semirremolque.Placa for Semirremolque in ListadoSemirremolques| filter:$viewValue | limitTo: 5" ng-blur="Semirremolque=VerificarAutocomplete(Semirremolque); ObtenerPlanilla()" ng-disabled="DeshabilitarActualizar">
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>No. Documento Conductor</label>
                                <input maxlength="60" type="text" class="form-control" name="conductorNumeroIde" id="conductorNumeroIde" ng-model="NumeroIdentificacion" ng-disabled="true">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Conductor</label>
                                <input maxlength="60" type="text" class="form-control" name="conductor" id="conductor" placeholder="Seleccione un conductor" ng-model="NombreConductor" uib-typeahead="conductores as conductores.NombreCompleto for conductores in AutocompleteConductor($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="NombreConductor=VerificarAutocomplete(NombreConductor); ObtenerPlanilla()" ng-disabled="DeshabilitarActualizar">
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label>Tenedor</label>
                                <input class="form-control" type="text" autocomplete="off" ng-model="NombreTenedor" ng-change="MaskMayus()" ng-disabled="true" />
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Obervaciones</label>
                                <textarea class="form-control" type="text" autocomplete="off" ng-model="Observaciones" ng-disabled="Deshabilitar"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>

        <div class="row" style="margin:0px">

            <div class="box-body">
                <div class="row" ng-show="ListadoGuiasPaqueteria.length > 0">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>No.Etiqueta Guia</label>
                            <input class="form-control" type="text" autocomplete="off" ng-model="NumeroGuia" placeholder="Ingrese un Número" ng-change="MaskNumero()" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>No.Unidad</label>
                            <input class="form-control" type="text" autocomplete="off" ng-model="UnidadGuia" placeholder="Ingrese un Número" ng-change="MaskNumero()" ng-blur="ValidarUnidad()" />
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>No.Etiqueta PreImpresa</label>
                            <input class="form-control" type="text" autocomplete="off" ng-model="NumeroEtiqueta" placeholder="Ingrese un Número" ng-change="MaskNumero()" ng-blur="ValidarEtiqueta()" />
                        </div>
                    </div>
                </div>
                <div id="Campos" class="tab-pane">
                    <ul class="nav nav-tabs tabs" role="tablist">
                        <li class="nav-item"><a class="nav-link active show" role="tab" aria-selected="false" data-toggle="tab" onselectstart="return false" ng-click="MostrarPendientes()">Guias Pendientes</a></li>
                        <li class="nav-item"><a class="nav-link" role="tab" aria-selected="false" data-toggle="tab" onselectstart="return false" ng-click="MostrarDescargadas()">Guias Descargadas</a></li>
                        <li class="nav-item"><a class="nav-link" role="tab" aria-selected="false" data-toggle="tab" onselectstart="return false" ng-click="MostrarRechazadas()">Guias Rechazadas</a></li>

                    </ul>
                </div>
                <div id="GuiasPendientes" class="table table-striped table-bordered table-hover table-condensed table table-sm display nowrap dataTable dtr-inline" ng-show="ListadoGuiasPaqueteria.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table-sm">
                        <thead>
                            <tr>
                                <th>No.Guia</th>
                                <th>Número Unidades</th>
                                <th>Unidades Pendientes</th>
                                <th>Destino</th>
                                <th>Observaciones</th>
                                <th>Unidades Descargadas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoGuiasPaqueteria">

                                <td class="col-md-3 col-sm-2 col-xs-2">
                                    <a href="#!GestionarRemesasPaqueteria/{{item.NumeroRemesa}}/470102">{{item.NumeroDocumentoRemesa}}</a>
                                </td>

                                <td class="col-md-1 col-sm-1 col-xs-1">
                                    <span>{{item.NumeroUnidad}}</span>
                                </td>
                                <td class="col-md-1 col-sm-1 col-xs-1">
                                    <span> {{item.Pendientes}}</span>
                                </td>
                                <td class="col-md-3 col-sm-2 col-xs-2">
                                    {{item.CiudadDestino}}
                                </td>
                                <td class="col-md-3 col-sm-2 col-xs-2">
                                    <input class="form-control" type="text" ng-model="item.ObservacionesVerificacion" ng-disabled="Deshabilitar" />
                                </td>
                                <td>
                                    <button class="button mini-button btn-primary" title="Unidades" ng-disabled="!item.verUnidaes" ng-click="verUnidades(item)">
                                        <span class="fas fa-book"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="GuiasDescargadas" class="table table-striped table-bordered table-hover table-condensed table table-sm display nowrap dataTable dtr-inline" ng-show="ListadoGuiasDescargadas.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table-sm">
                        <thead>
                            <tr>
                                <th>No.Guia</th>
                                <th>Número Unidades</th>
                                <th>Unidades Pendientes</th>
                                <th>Destino</th>
                                <th>Observaciones</th>
                                <th>Unidades Descargadas</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoGuiasDescargadas">

                                <td class="col-md-3 col-sm-2 col-xs-2">
                                    <a href="#!GestionarRemesasPaqueteria/{{item.NumeroRemesa}}/470102">{{item.NumeroDocumentoRemesa}}</a>
                                </td>

                                <td class="col-md-1 col-sm-1 col-xs-1">
                                    <span>{{item.NumeroUnidad}}</span>
                                </td>
                                <td class="col-md-1 col-sm-1 col-xs-1">
                                    <span> {{item.Pendientes}}</span>
                                </td>
                                <td class="col-md-3 col-sm-2 col-xs-2">
                                    {{item.CiudadDestino}}
                                </td>
                                <td class="col-md-3 col-sm-2 col-xs-2">
                                    <input class="form-control" type="text" ng-model="item.ObservacionesVerificacion" ng-disabled="Deshabilitar" />
                                </td>
                                <td>
                                    <button class="button mini-button btn-primary" title="Unidades" ng-disabled="!item.verUnidaes" ng-click="verUnidades(item)">
                                        <span class="fas fa-book"></span>
                                    </button>
                                </td>
                                <td>
                                    <button class="button mini-button btn-danger" title="Eliminar" ng-click="ConfirmarEliminar(item)" ng-disabled="item.EstadoGuia == 6005">
                                        <span class="fas fa-trash-alt"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="GuiasRechazadas" class="table table-striped table-bordered table-hover table-condensed table table-sm display nowrap dataTable dtr-inline" ng-show="ListadoGuiasRechazadas.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table-sm">
                        <thead>
                            <tr>
                                <th>No.Guia</th>
                                <th>Número Unidades</th>
                                <th>Destino</th>
                                <th>Observaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoGuiasRechazadas">

                                <td class="col-md-3 col-sm-2 col-xs-2">
                                    <a href="#!GestionarRemesasPaqueteria/{{item.NumeroRemesa}}/470102">{{item.NumeroDocumentoRemesa}}</a>
                                </td>

                                <td class="col-md-1 col-sm-1 col-xs-1">
                                    <span>{{item.NumeroUnidad}}</span>
                                </td>
                                <td class="col-md-3 col-sm-2 col-xs-2">
                                    {{item.CiudadDestino}}
                                </td>
                                <td class="col-md-3 col-sm-2 col-xs-2">
                                    <input class="form-control" type="text" ng-model="item.ObservacionesVerificacion" ng-disabled="Deshabilitar" />
                                </td>
                                <td>
                                    <button class="button mini-button btn-primary" title="Unidades" ng-disabled="!item.verUnidaes" ng-click="verUnidades(item)">
                                        <span class="fas fa-book"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <!--TOTALES-->
            <div class="box box-default box-solid collapsed-box" ng-show="MostrarSeccionGuias == true">
                <div class="box-header with-border">
                    <h3 class="box-title">Totales</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Cantidad guias</label>
                                <input style="text-align:right" maxlength="18" type="text" ng-change="MaskValores()" class="form-control" placeholder="Valor Total Cliente" ng-model="CantidadGuias" ng-required="false" disabled>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Peso(Kg)</label>
                                <input style="text-align:right" maxlength="18" type="text" ng-change="MaskValores()" class="form-control" placeholder="Valor Total Cliente" ng-model="Peso" ng-required="false" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Peso Volumétrico</label>
                                <input style="text-align:right" maxlength="18" type="text" ng-change="MaskValores()" class="form-control" placeholder="Valor Total Cliente" ng-model="PesoVolumetrico" ng-required="false" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Unidades Descargadas</label>
                                <input style="text-align:right" maxlength="18" type="text" ng-change="MaskValores()" class="form-control" placeholder="Valor Total Cliente" ng-model="UnidadesCargadas" ng-required="false" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Unidades pendientes</label>
                                <input style="text-align:right" maxlength="18" type="text" ng-change="MaskValores()" class="form-control" placeholder="Valor Total Cliente" ng-model="UnidadesPendientes" ng-required="false" disabled>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin:0px">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label>Oficina</label>
                        <span class="form-control">{{Oficina.Nombre}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label>Estado</label>
                        <select class="form-control" ng-model="Estado" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoEstados"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin:0px">

            <div class="pull-right">
                <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                    Cancelar
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
                <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="Deshabilitar">
                    Aceptar
                    <span class="glyphicon glyphicon-ok-circle"></span>
                </button>
            </div>
        </div>

    </div>

    <!-- Modal Confirmación Guardar Cargue -->
    <div class="modal fade" id="modalConfirmacionGuardarCargue" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalUnidadesRemesas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="alert alert-danger" role="alert" ng-if="MensajesErrorDocu.length > 0">
                                    <ul>
                                        <li ng-repeat="error in MensajesErrorDocu">
                                            <span>{{error}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10"></div>
                            <div class="form-group">
                                <label> No.Guia: {{modalUnidadesRemesas.NumeroDocumentoRemesa}}</label>
                            </div>
                            <div>
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Número Etiqueta</th>
                                            <th>Destino</th>
                                            <th>Observaciones</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="unidad in modalUnidadesRemesas.listaUnidades">

                                            <td class="col-md-3 col-sm-2 col-xs-2">
                                                <span>{{unidad.NumeroUnidad}}</span>
                                            </td>

                                            <td class="col-md-3 col-sm-2 col-xs-2">
                                                {{unidad.CiudadDestino}}
                                            </td>

                                            <td><input class="form-control" type="text" ng-model="unidad.ObservacionesVerificacion" ng-disabled="Deshabilitar" /></td>

                                            <td>
                                                <button class="button mini-button btn-danger" title="Eliminar" ng-click="ConfirmarEliminarGuia(unidad)" ng-disabled="modalUnidadesRemesas.EstadoGuia == 6005">
                                                    <span class="fas fa-trash-alt"></span>
                                                </button>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>

                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!--Modal Eliminar Guia-->
    <div class="modal fade" id="modalEliminarGuia" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Eliminar Guia</strong>
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p class="text-center">¿Esta seguro que desea eliminar la información?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Eliminar Concepto" ng-click="EliminarGuia(TmpEliminarGuia.Indice)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Eliminar Guia</strong>
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p class="text-center">¿Esta seguro que desea eliminar la información?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Eliminar Concepto" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>