﻿<div ng-controller="GestionarOficinasCtrl" ng-init="InitLoad()">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>

    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>

    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <section class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="Form-Imput">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="lblNombre">Nombre</label>
                            <input ng-change="MaskMayus()" name="txtNombre" placeholder="Digite Nombre" type="text" maxlength="40" class="form-control" ng-model="Modelo.Nombre">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Código Alterno</label>
                            <input ng-change="MaskMayus()" name="txtCodiAlte" type="text" maxlength="20" class="form-control" ng-model="Modelo.CodigoAlterno">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblBanco">Región</label>
                            <select name="cmbEstado" class="form-control" ng-model="Modelo.Region" ng-options="i.Nombre for i in ListaRegiones" ng-disabled="ListaRegiones.length == 0"></select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="CiudadOrigen">Ciudad</label>
                            <input type="text" class="form-control" name="CiudadOrigen" maxlength="50" id="ModeloCiudadOrigen" placeholder="Ingrese una Ciudad Origen"
                                   ng-model="Modelo.Ciudad"
                                   uib-typeahead="i as i.NombreCompleto for i in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5 | orderBy:'Nombre'"
                                   ng-required="false" ng-blur="Modelo.Ciudad=VerificarAutocomplete(Modelo.Ciudad);ValidarZona(Modelo.Ciudad) ">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblBanco">Zona</label>
                            <select name="cmbEstado" class="form-control" ng-model="Modelo.Zona" ng-options="i.Nombre for i in ListadoZonas" ng-disabled="HabilitarZonas"></select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-10 col-xs-12">
                        <div class="form-group">
                            <label for="lblDireccion">Dirección</label>
                            <input ng-change="MaskMayus()" placeholder="Digite la dirección" name="txtDireccion" type="text" maxlength="50" class="form-control" ng-model="Modelo.Direccion">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblTelefono">Teléfono</label>
                            <input ng-change="MaskTelefono()" placeholder="Digite el teléfono" name="txtTelefono" type="text" maxlength="20" class="form-control" ng-model="Modelo.Telefono">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>E-mail</label>
                            <input name="txtEmail" type="text" class="form-control" placeholder="Digite la dirección de correo electronico" maxlength="150" ng-model="Modelo.Email" ng-pattern="/^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,3})$/">
                            <small class="errorField" ng-show="myform.txtEmail.$error.pattern">
                                Por favor verifique el formato del correo.
                            </small>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblBanco">Tipo</label>
                            <select name="cmbEstado" class="form-control" ng-model="Modelo.TipoOficina" ng-options="i.Nombre for i in ListaTipoOficinas" ng-change="ValidarTipoOficina()"></select>
                        </div>
                    </div>


                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lbAplicaEnturne">Aplica Enturnamiento</label>
                            <br />
                            <input type="checkbox" name="AplicaEnturne" ng-model="Modelo.AplicaEnturnamiento">
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-12" ng-show="Sesion.UsuarioAutenticado.ManejoICACiudadOficinaDespacha">
                        <div class="form-group">
                            <label for="cuentapuc">Cuenta PUC ICA</label>
                            <input autocomplete="off" accept="" ng-change="MaskMayus()" type="text" class="form-control" name="txtCuenPuc" id="txtCuenPuc" placeholder="Ingrese una Cuenta PUC" ng-model="Modelo.CuentaPUC" typeahead-no-results="myform.txtCuenPuc.$error.required" uib-typeahead="cuenta as cuenta.Nombre for cuenta in ListadoCuentasPUC| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.CuentaPUC = VerificarAutocomplete(Modelo.CuentaPUC)">
                            <div ng-if="myform.txtCuenPuc.$error.required && LongitudCuentaPUC > 0">
                                <i class="glyphicon glyphicon-remove"></i><small class="errorField"> La cuenta PUC ingresada no se encuentra resgistrada</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-default box-solid collapsed-box CriteriosBusqueda" id="CriteriosBusqueda" ng-show="SeccionComisiones">
                    <div class="box-header with-border">
                        <h3 class="box-title">Parametrización Paquetería</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Porcentaje Manejo</label>
                                    <input ng-change="MaskPorcentaje(Modelo.PorcentajeSeguroPaqueteria)" name="porcentaje" type="text" maxlength="{{MaxLength}}" class="form-control text-right" ng-model="Modelo.PorcentajeSeguroPaqueteria">
                                </div>
                            </div>
                        </div>

                        <div class="box box-default box-solid CriteriosBusqueda" id="CriteriosBusqueda" ng-show="SeccionComisiones">
                            <div class="box-header with-border">
                                <h3 class="box-title">Comisiones</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="numero">Porcentaje</label>
                                        <input class="form-control text-right" name="numero" ng-change="MaskValores()" ng-model="Comisiones.Porcentaje" placeholder="Ingrese un porcentaje" maxlength="5" ng-disabled="DeshabilitarActualizar">
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-4 col-xs-12" ng-show="Modelo.TipoOficina.Codigo != 9901">
                                    <div class="form-group">
                                        <label for="numero">Tercero</label>
                                        <input name="numero" class="form-control" ng-model="Comisiones.Tercero" placeholder="Ingrese un tercero" maxlength="9" ng-disabled="DeshabilitarActualizar"
                                               uib-typeahead="Tercero as Tercero.NombreCompleto for Tercero in ListadoTercerosPerfilProovedor| filter:$viewValue | limitTo: 5"
                                               ng-blur="Comisiones.Tercero=VerificarAutocomplete(Comisiones.Tercero)">
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-4 col-xs-12" ng-show="Modelo.TipoOficina.Codigo == 9903">
                                    <div class="form-group">
                                        <label for="numero">Tercero Agencista</label>
                                        <input name="numero" ng-change="MaskNumero()" class="form-control" ng-model="Comisiones.TerceroAgencista" placeholder="Ingrese un agencista" maxlength="9" ng-disabled="DeshabilitarActualizar"
                                               uib-typeahead="Tercero as Tercero.NombreCompleto for Tercero in ListadoTercerosPerfilProovedor| filter:$viewValue | limitTo: 5"
                                               ng-blur="Comisiones.TerceroAgencista=VerificarAutocomplete(Comisiones.TerceroAgencista)">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12" ng-show="Modelo.TipoOficina.Codigo == 9903">
                                    <div class="form-group">
                                        <label for="lblBanco">Oficina Principal</label>
                                        <select name="cmbEstado" class="form-control" ng-model="Comisiones.OficinaPrincipal" ng-options="i.Nombre for i in ListadoOficinas | orderBy: 'Nombre'"></select>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12" ng-show="Modelo.TipoOficina.Codigo == 9903">
                                    <div class="form-group">
                                        <label for="numero">Porcentaje Agencista</label>
                                        <input class="form-control text-right" name="numero" ng-change="MaskValores()" ng-model="Comisiones.PorcentajeAgencista" placeholder="Ingrese un porcentaje" maxlength="5" ng-disabled="DeshabilitarActualizar">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Factura Electronica Por Oficina-->
                <div class="box box-default box-solid collapsed-box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Factura Electrónica</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-2 col-sm-6">
                                <div class="form-group">
                                    <label>Prefijo Factura</label>
                                    <input placeholder="Digite Prefijo Factura" class="form-control" ng-model="Modelo.PrefijoFactura">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label>Clave Externa</label>
                                    <input placeholder="Digite Clave Externa Factura" class="form-control" ng-model="Modelo.ClaveExternaFactura">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label>Clave Técnica</label>
                                    <input placeholder="Digite Clave Técnica Factura" class="form-control" ng-model="Modelo.ClaveTecnicaFactura">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label>Oficina Factura</label>
                                    <select class="form-control" ng-model="Modelo.OficinaFactura" ng-options="i.Nombre for i in ListadoOficinasFactura"></select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="lblResolucion">Resolución Facturación</label>
                                    <textarea ng-change="MaskMayus()" placeholder="Digite La resolución" class="form-control" maxlength="350" type="text"
                                              ng-model="Modelo.ResolucionFacturacion"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Factura Electronica Por Oficina-->

                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblBanco">Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModeloEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardarOficina()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </section>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <!-- Modal Confirmación Guardar Cuenta -->
    <div class="modal fade" id="modalConfirmacionGuardarOficina" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>