﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>

                <!-- Encabezado -->
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <span class="form-control">{{Modelo.NumeroDocumento}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Manifiesto Electrónico</label>
                            <span class="form-control">{{Modelo.NumeroElectronico}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Planilla</label>
                            <span class="form-control">{{Modelo.Planilla.NumeroDocumento}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha</label>
                            <span class="form-control">{{Modelo.Fecha |date: 'dd/MM/yyyy'}}</span>
                        </div>
                    </div>
                </div>

                <!-- Vehículo -->
                <div>
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Despacho</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Placa</label>
                                        <input type="text" class="form-control" ng-model="Modelo.PlacaVehiculo" disabled />
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Semiremolque</label>
                                        <input type="text" class="form-control" ng-model="Modelo.PlacaSemiremolque" disabled />
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Tenedor</label>
                                        <input type="text" class="form-control" ng-model="Modelo.Tenedor" disabled />
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Conductor</label>
                                        <input type="text" class="form-control" ng-model="Modelo.NombreConductor" disabled />
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Teléfono</label>
                                        <input type="text" class="form-control" ng-model="Modelo.TelefonoConductor" disabled />
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Ruta</label>
                                        <input type="text" class="form-control" ng-model="Modelo.Ruta" disabled />
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Fecha</label>
                                        <input type="date" class="form-control" ng-model="Modelo.FechaInicio" disabled />
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Fecha Cumplimiento</label>
                                        <input type="text" class="form-control" ng-model="Modelo.FechaCumplimiento |date: 'dd/MM/yyyy'" disabled />
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Observaciones</label>
                                        <textarea class="form-control" disabled> {{Modelo.Observaciones}}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Remesas -->
                <div>
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Remesas</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="ResultadoConsulta">
                            <div class="table-responsive" ng-if="Modelo.ListadoRemesas.length > 0">
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th>No. Remesa</th>
                                            <th>Cliente</th>
                                            <th>Producto</th>
                                            <th>Cantidad</th>
                                            <th>Peso(kg)</th>
                                            <th>Destinatario</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="item in Modelo.ListadoRemesas | orderBy:'Numero'">
                                            <td>{{item.Remesa.NumeroDocumento}}</td>
                                            <td>{{item.Cliente.NombreCompleto}}</td>
                                            <td>{{item.Producto.Nombre}}</td>
                                            <td align="right">{{MaskValoresGrid( item.Cantidad.CantidadCliente )}}</td>
                                            <td align="right">{{MaskValoresGrid( item.Peso.PesoCliente )}}</td>
                                            <td>{{item.Destinatario.NombreCompleto}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                        <tr>
                                            <td colinput="4">
                                                <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                    <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                        <span class="item">&laquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                        <span class="item">&lsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                        <span class="item">&rsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                        <span class="item">&raquo;</span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Totales -->
                <div>
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Totales</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Cantidad</label>
                                        <input type="text" class="form-control" ng-model="Modelo.Cantidad" ng-change="MaskValores()" style="text-align:right" disabled />
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Peso(Kg)</label>
                                        <input type="text" class="form-control" ng-model="Modelo.Peso" ng-change="MaskValores()" style="text-align:right" disabled />
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Valor Flete Transportador</label>
                                        <input type="text" class="form-control" ng-model="Modelo.Flete" ng-change="MaskValores()" style="text-align:right" disabled />
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Rete Fuente</label>
                                        <input type="text" class="form-control" ng-model="Modelo.ReteFuente" ng-change="MaskValores()" style="text-align:right" disabled />
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Rete ICA</label>
                                        <input type="text" class="form-control" ng-model="Modelo.ReteIca" ng-change="MaskValores()" style="text-align:right" disabled />
                                    </div>
                                </div>
                                <!--<div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Valor Otros Descuentos</label>
                                        <input type="text" class="form-control" ng-model="Modelo.Descuentos" ng-change="MaskNumero()" style="text-align:right" disabled/>
                                    </div>
                                </div>-->
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Anticipo</label>
                                        <input type="text" class="form-control" ng-model="Modelo.ValorAnticipo" ng-change="MaskValores()" style="text-align:right" disabled />
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Valor a Pagar</label>
                                        <input type="text" class="form-control" ng-model="Modelo.ValorPagar" ng-change="MaskValores()" style="text-align:right" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" title="Cancelar" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <!--<button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="DeshabilitarActualizar">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>-->
                </div>
            </div>
        </form>
    </div>

    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>