﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>IMPORTAR ARCHIVO ENTREGAS Y DT</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">

                </div>
            </div>

           

            <!--SECCIÓN BOTONES-->
            <div class="row">
                <div class="SeccionBotones" style="margin-left:5px">
                    <div class="pull-left" style="padding-right:1%" ng-show="(DataActual.length == 0 || DataActual === undefined || DataActual == null || DataActual == '')">
                        <div class="btn btn-block btn-primary btn-file" data-toggle="tooltip" title="Abrir Archivo" style="height:40px;" ng-click="CerrarModalNuevoProceso();">
                            Importar Archivo
                            <span class="glyphicon glyphicon-folder-open"></span>
                            <input id="filePrincipal" type="file" name="xlfile" ng-model-instant onchange="angular.element(this).scope().handleFile(this)" class="">
                        </div>
                    </div>

                    <div class="pull-left" style="padding-right:1%" ng-show="DataActual.length > 0 ">
                        <div class="btn btn-block btn-primary btn-file" data-toggle="tooltip" title="Abrir Archivo" style="height:40px;" ng-click="ModalConfirmacionNuevoProceso()">
                            Importar Archivo
                            <span class="glyphicon glyphicon-folder-open"></span>
                        </div>
                    </div>

                    <div class="pull-left" style="padding-right:1%" ng-show="DataActual.length > 0 ">
                        <div class="btn btn-block btn-primary btn-file" data-toggle="tooltip" title="Abrir Archivo" style="height:40px;" ng-click="ValidarPLanillas()">
                            Actualizar
                            <span class="fas fa-sync"></span>
                        </div>
                    </div>
                    <div class="pull-left" style="padding-right:1%" ng-show="ListaErrores.length > 0">
                        <!---->
                        <button class="btn btn-block btn-primary" ng-click="VerErrores = false" ng-show="ListaErrores.length > 0 && VerErrores" data-toggle="tooltip" title="Ver Errores" style="height:40px">
                            Ocultar Errores
                            <span class="glyphicon glyphicon-eye-close"></span>
                        </button>
                        <button class="btn btn-danger" ng-click="VerErrores = true" ng-show="ListaErrores.length > 0 && !VerErrores" data-toggle="tooltip" title="Ver Errores" style="height:40px">
                            Ver Errores
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>

                    </div>

                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div ng-show="DataActual.length > 0">
                <div class="ResultadoConsulta" ng-show="!VerErrores">
                    <!--DataActual.length > 0 &&-->
                    <div class="table-responsive" style="max-height:1200px;max-width:100%">
                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                            <thead>
                                <tr>
                                    <th>Omitir</th>
                                    <th>No. Planilla</th>
                                    <th>DT</th>
                                    <th>Entrega</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in DataActual" style="{{item.stRow}}">
                                    <!-- Omitir-->
                                    <td style="{{item.stGeneral}}">
                                        <input type="checkbox" ng-model="item.Omitido" />
                                        <span ng-if="item.msGeneral !== undefined && item.msGeneral !==''" class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msGeneral}}" data-placement="right"></span>
                                    </td>
                                    <!--Planilla-->
                                    <td style="min-width:150px;" ng-show="item.Planilla.Numero > 0">
                                        <a href="#!GestionarPlanillasDespachos/{{item.Planilla.Numero}}">{{item.Planilla.NumeroDocumento}}</a>
                                    </td>
                                    <td style="min-width:150px;" ng-show="item.Planilla.Numero == 0">
                                        {{item.Planilla.NumeroDocumento}}
                                    </td>

                                    <!-- DT-->
                                    <td style="min-width:150px">
                                        <div class="input-group">
                                            <input maxlength="60" type="text" class="form-control plcRed" placeholder="Ingrese DT" ng-model="item.DT" ng-required="false">
                                        </div>
                                    </td>
                                    <!-- Entrega-->
                                    <td style="min-width:150px">
                                        <div class="input-group">
                                            <input maxlength="60" type="text" class="form-control plcRed" placeholder="Ingrese DT" ng-model="item.Entrega" ng-required="false">
                                        </div>
                                    </td>
                                   
                                </tr>
                            </tbody>
                            <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                <tr>
                                    <td colspan="4">
                                        <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                        <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                            <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                <span class="item">&laquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                <span class="item">&lsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                <span class="item">&rsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                <span class="item">&raquo;</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                        <span style="color:red">
                            <small>{{ResultadoSinRegistros}}</small>
                        </span>
                    </div>
                </div>
                <div class="ResultadoConsulta" ng-show="VerErrores">
                    <br />
                    <label>Omitir Todos</label>
                    <input type="checkbox" ng-model="Marctodo" ng-change="MarcadDesmarcarTodo(Marctodo)" class="ng-valid ng-dirty ng-valid-parse ng-touched">
                    <div class="table-responsive" style="max-height:1200px;max-width:100%">
                        <div class="table-responsive" style="max-height:1200px;max-width:100%">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Omitir</th>
                                        <th>No. Planilla</th>
                                        <th>DT</th>
                                        <th>Entrega</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListaErrores" style="{{item.stRow}}">
                                        <!-- Omitir-->
                                        <td style="{{item.stGeneral}}">
                                            <input type="checkbox" ng-model="item.Omitido" />
                                            <span ng-if="item.msGeneral !== undefined && item.msGeneral !==''" class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msGeneral}}" data-placement="right"></span>
                                        </td>
                                        <!--Planilla-->
                                        <td style="min-width:150px;" ng-show="item.Planilla.Numero > 0">
                                            <a href="GestionarPlanillasDespachos/{{item.Planilla.Numero}}">{{item.Planilla.NumeroDocumento}}</a>
                                        </td>
                                        <td style="min-width:150px;" ng-show="item.Planilla.Numero == 0">
                                            {{item.Planilla.NumeroDocumento}}
                                        </td>

                                        <!-- DT-->
                                        <td style="min-width:150px">
                                            <div class="input-group">
                                                <input maxlength="60" type="text" class="form-control plcRed" placeholder="Ingrese DT" ng-model="item.DT" ng-required="false">
                                            </div>
                                        </td>
                                        <!-- Entrega-->
                                        <td style="min-width:150px">
                                            <div class="input-group">
                                                <input maxlength="60" type="text" class="form-control plcRed" placeholder="Ingrese DT" ng-model="item.Entrega" ng-required="false">
                                            </div>
                                        </td>

                                    </tr>
                                </tbody>
                                <tfoot ng-if="totalRegistrosErrores > 0 || Buscando == true">
                                    <tr>
                                        <td colspan="4">
                                            <small ng-if="totalRegistrosErrores > 0">Página: {{paginaActualError}} de {{totalPaginasErrores}} ({{totalRegistrosErrores}} Registros)</small>
                                            <div class="pagination rightAling" ng-if="totalRegistrosErrores > 0">
                                                <button class="button primary" ng-click="PrimerPaginaModalError()" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="AnteriorModalError()" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="SiguienteModalError()" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPaginaModalError()" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div style="text-align:center" class="col-md-12" ng-if="totalRegistrosErrores == 0 && Buscando == false">
                            <span style="color:red">
                                <small>{{ResultadoSinRegistros}}</small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="modalConfirmacionGuardarPorgramacion" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" onclick="closeModal('modalConfirmacionGuardarPorgramacion')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p style="text-align:center">Los datos se verificaron correctamente. ¿Desea continuar con el cargue de la información?</p>

                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" onclick="closeModal('modalConfirmacionGuardarPorgramacion')">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="CargueMasivo()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionCancelarProceso" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Desea cancelar el proceso actual?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>

                        </div>
                        <div class="pull-left">
                            <div class="btn btn-block btn-primary btn-file" style="min-width : 100px;" data-toggle="tooltip" title="Abrir Archivo" ng-click="LimpiarData();CerrarModalNuevoProceso(this);ListaErrores = ''; VerErrores = false;angular.element(document.querySelector('#fileModal')).scope().$destroy();">
                                Aceptar
                                <input id="fileModal" type="file" name="xlfile" ng-model-instant onchange="angular.element(this).scope().handleFile(this)" class="">
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>