﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>NOVEDADES DESPACHO</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechIni">Fecha Inicial</label>
                            <input name="txtFechIni" type="date" class="form-control" ng-model="ModeloFechaInicial">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechFin">Fecha Final</label>
                            <input name="txtFechFin" type="date" class="form-control" ng-model="ModeloFechaFinal">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="numeroinicial">Número Inicial</label>
                            <input name="numeroinicial" class="form-control" ng-model="ModeloNumeroinicial" placeholder="Ingrese un valor" maxlength="10" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="numerofinal">Número Final</label>
                            <input name="numerofinal" class="form-control" ng-model="ModeloNumerofinal" placeholder="Ingrese un valor" maxlength="40" ng-change="MaskNumero()">
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" ng-click="paginaActual=1;Buscar()" title="Buscar Ordenes Cargue " ng-disabled="DeshabilitarConsulta">
                        Buscar
                        <span class="glyphicon glyphicon-filter"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" ng-disabled="DeshabilitarActualizar" ng-click="NuevoDocumento()" title="Nueva Impuesto">
                            Nuevo
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoPlanillaDespacho.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th>Número </th>
                                <th>Fecha </th>
                                <th>Vehiculo </th>
                                <th>Conductor </th>
                                <th>Ruta </th>
                                <th>Estado </th>
                                <th>Opciones </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoPlanillaDespacho  | orderBy:'Nombre'">
                                <td><a href="#!GestionarPlanillasDespachos/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>
                                <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                <td>{{item.Vehiculo.Placa}}</td>
                                <td>{{item.NombreConductor}}</td>
                                <td>{{item.Ruta.Nombre}}</td>
                                <td>
                                    <span ng-if="item.Anulado == 1" class="label label-danger">Anulado</span>
                                    <span ng-if="item.Estado.Codigo == 1 && item.Anulado == 0" class="label label-success">Definitivo</span>
                                    <span ng-if="item.Estado.Codigo == 0 && item.Anulado == 0" class="label label-warning">Borrador</span>
                                </td>
                                <td>
                                    <button class="button mini-button btn-danger" title="Anular" ng-click="Anular(item.Numero,item.NumeroDocumento)" ng-disabled="DeshabilitarEliminarAnular">
                                        <span class="fas fa-trash-alt"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                        <tfoot ng-if="totalRegistros == 0 && Buscando == false">
                            <tr>
                                <td colspan="4" style="color:red; text-align:center">
                                    <small>{{ResultadoSinRegistros}}</small>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </form>
    </div>

    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalNovedades" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            Anular
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorAnula.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesErrorAnula">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                        <p>Novedades Planilla {{NumeroDocumento}}?</p>
                        <label>Causa Anulacion</label>
                        <input name="nombre" class="form-control" ng-model="ModeloCausaAnula" placeholder="Ingrese una Causa" maxlength="40">
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmaAnular()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Mensaje Error-->
</div>