﻿<div  ng-init="BuscarDocumentosPendientesReportar()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>REPORTAR DESPACHOS MINISTERIO TRANSPORTE</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" onselectstart="return false" ng-click="MostrarTab('TapRemesas', REPORTAR_RNDC.REMESA)">Remesas</a></li>
                        <li><a data-toggle="tab" onselectstart="return false" ng-click="MostrarTab('TapManifiestos', REPORTAR_RNDC.MANIFIESTO)">Manifiestos</a></li>
                        <li><a data-toggle="tab" onselectstart="return false" ng-click="MostrarTab('TapCumplidoRemesa', REPORTAR_RNDC.REMESA_CUMPLIDO_INICIAL)">Cumplido Inicial Remesas</a></li>
                        <li><a data-toggle="tab" onselectstart="return false" ng-click="MostrarTab('TapCumplidoRemesa', REPORTAR_RNDC.REMESA_CUMPLIDA)">Cumplido Remesas</a></li>
                        <li><a data-toggle="tab" onselectstart="return false" ng-click="MostrarTab('TapCumplidoManifiesto', REPORTAR_RNDC.MANIFIESTO_CUMPLIDO)">Cumplido Manifiesto</a></li>
                        <li><a data-toggle="tab" onselectstart="return false" ng-click="MostrarTab('TapRemesasAnuladas', REPORTAR_RNDC.REMESA_ANULADA)">Remesas Anuladas</a></li>
                        <li><a data-toggle="tab" onselectstart="return false" ng-click="MostrarTab('TapCumplidosManifiestosAnulados', REPORTAR_RNDC.MANIFIESTO_ANULADO)">Manifiestos Anulados</a></li>
                        <li><a data-toggle="tab" onselectstart="return false" ng-click="MostrarTab('TapRemesasAnuladas', REPORTAR_RNDC.REMESA_CUMLIDA_ANULADA)">Cumplidos Remesas Anuladas</a></li>
                        <li><a data-toggle="tab" onselectstart="return false" ng-click="MostrarTab('TapCumplidosManifiestosAnulados', REPORTAR_RNDC.MANIFIESTO_CUMPLIDO_ANULADO)">Cumplidos Manifiestos Anulados</a></li>

                    </ul>
                </div>

                <!-- Remesas -->
                <div id="TapRemesas">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Oficina</label>
                                    <select name="cmbOficina" class="form-control" ng-model="ModeloOficina" ng-options="i.Nombre for i in ListadoOficinas" ></select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha Inicial</label>
                                    <input type="date" class="form-control" ng-model="FiltroFechaInicial">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha Final</label>
                                    <input type="date" class="form-control" ng-model="FiltroFechaFinal">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Número</label>
                                    <input ng-change="MaskNumero()" type="text" maxlength="10" class="form-control" ng-model="FiltroNumeroRemesa">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>No. Manifiesto</label>
                                    <input ng-change="MaskNumero()" type="text" class="form-control" ng-model="FiltroNumeroManifiesto">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="lineButtons">
                                    <div class="pull-left">
                                        <button class="btn btn-primary" title="Buscar remesas" ng-click="Buscar()">
                                            Buscar
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </div>
                                    <div class="pull-right">
                                        <button class="btn btn-primary" title="Reportar remesas" ng-click="ReportarRemesas()">
                                            Reportar remesas
                                            <span class="glyphicon glyphicon-cloud-upload"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ResultadoConsulta">
                                    <div class="table-responsive" ng-if="ListadoRemesas.length > 0">
                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm table-responsive">
                                            <thead>
                                                <tr>
                                                    <th><input type="checkbox" ng-click="SlcTodo(SeleccionRemesa)" ng-model="SeleccionRemesa" ng-disabled="Deshabilitar" />Todos</th>
                                                    <th>Número</th>
                                                    <th>Fecha</th>
                                                    <th>Cliente</th>
                                                    <th>Vehículo</th>
                                                    <th>Ruta</th>
                                                    <th>Producto</th>
                                                    <th>Permiso Invias</th>
                                                    <th>Manifiesto</th>
                                                    <th>Orden Servicio</th>
                                                    <th>Mensaje Error</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ListadoRemesas | orderBy:'Nombre'">
                                                    <td><input type="checkbox" ng-model="item.Seleccionado" ng-disabled="Deshabilitar" /></td>
                                                    <td><a href="{{Sesion.Main}}GestionarManifiesto/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>
                                                    <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                                    <td>{{item.Cliente.NombreCompleto}}</td>
                                                    <td>{{item.Vehiculo.Placa}}</td>
                                                    <td>{{item.Ruta.Nombre}}</td>
                                                    <td>{{item.ProductoTransportado.Nombre}}</td>
                                                    <td>{{item.PermisoInvias}}</td>
                                                    <td>{{item.Manifiesto.NumeroDocumento}}</td>
                                                    <td>{{item.NumeroOrdenServicio}}</td>
                                                    <td>{{item.Mensaje}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                        <span style="color:red">
                                            <small>{{ResultadoSinRegistros}}</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="paginacion" ng-if="totalRegistros > 0 || Buscando == true">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Cumplido Remesas -->
                <div id="TapCumplidoRemesa">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Oficina</label>
                                    <select name="cmbOficina" class="form-control" ng-model="ModeloOficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha Inicial</label>
                                    <input type="date" class="form-control" ng-model="FiltroFechaInicial">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha Final</label>
                                    <input type="date" class="form-control" ng-model="FiltroFechaFinal">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Número</label>
                                    <input ng-change="MaskNumero()" type="text" maxlength="10" class="form-control" ng-model="FiltroNumeroRemesa">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>No. Manifiesto</label>
                                    <input ng-change="MaskNumero()" type="text" class="form-control" ng-model="FiltroNumeroManifiesto">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="lineButtons">
                                    <div class="pull-left">
                                        <button class="btn btn-primary" title="Buscar remesas" ng-click="paginaActual=1;Buscar()">
                                            Buscar
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </div>
                                    <div class="pull-right">
                                        <button class="btn btn-primary" title="Reportar remesas" ng-click="ReportarRemesas()">
                                            Reportar cumplido remesas
                                            <span class="glyphicon glyphicon-cloud-upload"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ResultadoConsulta">
                                    <div class="table-responsive" ng-if="ListadoRemesas.length > 0">
                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm table-responsive">
                                            <thead>
                                                <tr>
                                                    <th><input type="checkbox" ng-click="SlcTodo(SeleccionRemesa)" ng-model="SeleccionRemesa" ng-disabled="Deshabilitar" />Todos</th>
                                                    <th>Número</th>
                                                    <th>Fecha</th>
                                                    <th>Cliente</th>
                                                    <th>Vehículo</th>
                                                    <th>Ruta</th>
                                                    <th>Manifiesto</th>
                                                    <th>Orden Servicio</th>
                                                    <th>Mensaje Error</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ListadoRemesas | orderBy:'Nombre'">
                                                    <td><input type="checkbox" ng-model="item.Seleccionado" ng-disabled="Deshabilitar" /></td>
                                                    <td><a href="{{Sesion.Main}}GestionarRemesa/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>
                                                    <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                                    <td>{{item.Cliente.NombreCompleto}}</td>
                                                    <td>{{item.Vehiculo.Placa}}</td>
                                                    <td>{{item.Ruta.Nombre}}</td>
                                                    <td>{{item.Manifiesto.NumeroDocumento}}</td>
                                                    <td>{{item.NumeroOrdenServicio}}</td>
                                                    <td>{{item.Mensaje}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                        <span style="color:red">
                                            <small>{{ResultadoSinRegistros}}</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="paginacion" ng-if="totalRegistros > 0 || Buscando == true">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Remesas Anuladas -->
                <div id="TapRemesasAnuladas">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Oficina</label>
                                    <select name="cmbOficina" class="form-control" ng-model="ModeloOficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha Inicial</label>
                                    <input type="date" class="form-control" ng-model="FiltroFechaInicial">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha Final</label>
                                    <input type="date" class="form-control" ng-model="FiltroFechaFinal">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Número</label>
                                    <input ng-change="MaskNumero()" type="text" maxlength="10" class="form-control" ng-model="FiltroNumeroRemesa">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>No. Manifiesto</label>
                                    <input ng-change="MaskNumero()" type="text" class="form-control" ng-model="FiltroNumeroManifiesto">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="lineButtons">
                                    <div class="pull-left">
                                        <button class="btn btn-primary" title="Buscar remesas" ng-click="paginaActual=1;Buscar()">
                                            Buscar
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </div>
                                    <div class="pull-right">
                                        <button class="btn btn-primary" title="Reportar remesas" ng-click="ReportarRemesas()">
                                            Reportar Anulación remesas
                                            <span class="glyphicon glyphicon-cloud-upload"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ResultadoConsulta">
                                    <div class="table-responsive" ng-if="ListadoRemesas.length > 0">
                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm table-responsive">
                                            <thead>
                                                <tr>
                                                    <th><input type="checkbox" ng-click="SlcTodo(SeleccionRemesa)" ng-model="SeleccionRemesa" ng-disabled="Deshabilitar" />Todos</th>
                                                    <th>Número</th>
                                                    <th>Fecha</th>
                                                    <th>Cliente</th>
                                                    <th>Vehículo</th>
                                                    <th>Ruta</th>
                                                    <th>Manifiesto</th>
                                                    <th>Orden Servicio</th>
                                                    <th>Mensaje Error</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ListadoRemesas | orderBy:'Nombre'">
                                                    <td><input type="checkbox" ng-model="item.Seleccionado" ng-disabled="Deshabilitar" /></td>
                                                    <td><a href="{{Sesion.Main}}GestionarRemesa/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>
                                                    <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                                    <td>{{item.Cliente.NombreCompleto}}</td>
                                                    <td>{{item.Vehiculo.Placa}}</td>
                                                    <td>{{item.Ruta.Nombre}}</td>
                                                    <td>{{item.Manifiesto.NumeroDocumento}}</td>
                                                    <td>{{item.NumeroOrdenServicio}}</td>
                                                    <td>{{item.Mensaje}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                        <span style="color:red">
                                            <small>{{ResultadoSinRegistros}}</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="paginacion" ng-if="totalRegistros > 0 || Buscando == true">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Cumplidos Remesas Anulados -->
                <div id="TapCumplidosRemesasAnulados">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Oficina</label>
                                    <select name="cmbOficina" class="form-control" ng-model="ModeloOficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha Inicial</label>
                                    <input type="date" class="form-control" ng-model="FiltroFechaInicial">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha Final</label>
                                    <input type="date" class="form-control" ng-model="FiltroFechaFinal">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Número</label>
                                    <input ng-change="MaskNumero()" type="text" maxlength="10" class="form-control" ng-model="FiltroNumeroRemesa">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>No. Manifiesto</label>
                                    <input ng-change="MaskNumero()" type="text" class="form-control" ng-model="FiltroNumeroManifiesto">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="SeccionBotones">
                                <div class="pull-left">
                                    <button class="btn btn-block btn-primary" title="Buscar remesas cumplidas anuladas" ng-click="paginaActual=1;BuscarRemesa(ModeloFechaInicial,ModeloFechaFinal,ModeloNumero,ModeloManifiesto)">
                                        Buscar
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="ResultadoConsulta">
                                <div class="table-responsive" ng-if="ListadoRemesas.length > 0">
                                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Número</th>
                                                <th>Fecha</th>
                                                <th>Cliente</th>
                                                <th>Vehículo</th>
                                                <th>Ruta</th>
                                                <th>Manifiesto</th>
                                                <th>Orden Servicio</th>
                                                <th>Mensaje Error</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in ListadoRemesas | orderBy:'Nombre'">
                                                <td><a href="#">{{item.NumeroDocumento}}</a></td>
                                                <td>{{item.Fecha}}</td>
                                                <td>{{item.Cliente.NombreConpleto}}</td>
                                                <td>{{item.Vehiculo.Placa}}</td>
                                                <td>{{item.Ruta.Nombre}}</td>
                                                <td>{{item.NumeroManifiesto}}</td>
                                                <td>{{item.NumeroOrdenServicio}}</td>
                                                <td>{{item.Mensaje_Reporte_Electronico}}</td>
                                                <td>
                                                    <button class="button mini-button  btn-danger" title="Eliminar" ng-click="EliminarCiudades(item.Codigo,item.Nombre,item.CodigoAlterno)">
                                                        <span class="fas fa-trash-alt"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                            <tr>
                                                <td colspan="4">
                                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                            <span class="item">&laquo;</span>
                                                        </button>
                                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                            <span class="item">&lsaquo;</span>
                                                        </button>
                                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                            <span class="item">&rsaquo;</span>
                                                        </button>
                                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                            <span class="item">&raquo;</span>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>

                                    </table>
                                </div>
                                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                    <span style="color:red">
                                        <small>{{ResultadoSinRegistros}}</small>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Manifiestos -->
                <div id="TapManifiestos">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Oficina</label>
                                    <select name="cmbOficina" class="form-control" ng-model="ModeloOficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha Inicial</label>
                                    <input type="date" class="form-control" ng-model="FiltroFechaInicial">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha Final</label>
                                    <input type="date" class="form-control" ng-model="FiltroFechaFinal">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Número</label>
                                    <input ng-change="MaskNumero()" type="text" maxlength="10" class="form-control" ng-model="FiltroNumeroRemesa">
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="lineButtons">
                                    <div class="pull-left">
                                        <button class="btn btn-primary" title="Buscar remesas" ng-click="Buscar()">
                                            Buscar
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </div>
                                    <div class="pull-right">
                                        <button class="btn btn-primary" title="Reportar remesas" ng-click="ReportarRemesas()">
                                            Reportar Manifiestos
                                            <span class="glyphicon glyphicon-cloud-upload"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ResultadoConsulta">
                                    <div class="table-responsive" ng-if="ListadoRemesas.length > 0">
                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm table-responsive">
                                            <thead>
                                                <tr>
                                                    <th><input type="checkbox" ng-click="SlcTodo(SeleccionRemesa)" ng-model="SeleccionRemesa" ng-disabled="Deshabilitar" />Todos</th>
                                                    <th>Número</th>
                                                    <th>Fecha</th>
                                                    <th>Vehículo</th>
                                                    <th>Ruta</th>
                                                    <th>Mensaje Error</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ListadoRemesas | orderBy:'Nombre'">
                                                    <td><input type="checkbox" ng-model="item.Seleccionado" ng-disabled="Deshabilitar" /></td>
                                                    <td><a href="{{Sesion.Main}}GestionarRemesa/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>
                                                    <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                                    <td>{{item.Vehiculo.Placa}}</td>
                                                    <td>{{item.Ruta.Nombre}}</td>
                                                    <td>{{item.Mensaje}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                        <span style="color:red">
                                            <small>{{ResultadoSinRegistros}}</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="paginacion" ng-if="totalRegistros > 0 || Buscando == true">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Cumplido Manifiesto -->
                <div id="TapCumplidoManifiesto">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Oficina</label>
                                    <select name="cmbOficina" class="form-control" ng-model="ModeloOficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha Inicial</label>
                                    <input type="date" class="form-control" ng-model="FiltroFechaInicial">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha Final</label>
                                    <input type="date" class="form-control" ng-model="FiltroFechaFinal">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Número</label>
                                    <input ng-change="MaskNumero()" type="text" maxlength="10" class="form-control" ng-model="FiltroNumeroRemesa">
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="lineButtons">
                                    <div class="pull-left">
                                        <button class="btn btn-primary" title="Buscar remesas" ng-click="Buscar()">
                                            Buscar
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </div>
                                    <div class="pull-right">
                                        <button class="btn btn-primary" title="Reportar remesas" ng-click="ReportarRemesas()">
                                            Reportar Cumplido Manifiestos
                                            <span class="glyphicon glyphicon-cloud-upload"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ResultadoConsulta">
                                    <div class="table-responsive" ng-if="ListadoRemesas.length > 0">
                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm table-responsive">
                                            <thead>
                                                <tr>
                                                    <th><input type="checkbox" ng-click="SlcTodo(SeleccionRemesa)" ng-model="SeleccionRemesa" ng-disabled="Deshabilitar" />Todos</th>
                                                    <th>Número</th>
                                                    <th>Fecha</th>
                                                    <th>Vehículo</th>
                                                    <th>Ruta</th>
                                                    <th>Mensaje Error</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ListadoRemesas | orderBy:'Nombre'">
                                                    <td><input type="checkbox" ng-model="item.Seleccionado" ng-disabled="Deshabilitar" /></td>
                                                    <td><a href="{{Sesion.Main}}GestionarRemesa/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>
                                                    <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                                    <td>{{item.Vehiculo.Placa}}</td>
                                                    <td>{{item.Ruta.Nombre}}</td>
                                                    <td>{{item.Mensaje}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                        <span style="color:red">
                                            <small>{{ResultadoSinRegistros}}</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="paginacion" ng-if="totalRegistros > 0 || Buscando == true">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Manifiestos Anulados -->
                <div id="TapManifiestosAnulados">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Oficina</label>
                                    <select name="cmbOficina" class="form-control" ng-model="ModeloOficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha Inicial</label>
                                    <input type="date" class="form-control" ng-model="FiltroFechaInicial">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha Final</label>
                                    <input type="date" class="form-control" ng-model="FiltroFechaFinal">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Número</label>
                                    <input ng-change="MaskNumero()" type="text" maxlength="10" class="form-control" ng-model="FiltroNumeroRemesa">
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="SeccionBotones">
                                <div class="pull-left">
                                    <button class="btn btn-block btn-primary" title="Buscar manifiestos anulados" ng-click="paginaActual=1;BuscarManifiesto(ModeloFechaInicial,ModeloFechaFinal,ModeloManifiestoNumero)">
                                        Buscar
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="ResultadoConsulta">
                                <div class="table-responsive" ng-if="ListadoRemesas.length > 0">
                                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Número</th>
                                                <th>Fecha</th>
                                                <th>Cliente</th>
                                                <th>Vehículo</th>
                                                <th>Ruta</th>
                                                <th>Manifiesto</th>
                                                <th>Orden Servicio</th>
                                                <th>Mensaje Error</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in ListadoRemesas | orderBy:'Nombre'">
                                                <td><a href="#">{{item.NumeroDocumento}}</a></td>
                                                <td>{{item.Fecha}}</td>
                                                <td>{{item.Cliente.NombreConpleto}}</td>
                                                <td>{{item.Vehiculo.Placa}}</td>
                                                <td>{{item.Ruta.Nombre}}</td>
                                                <td>{{item.NumeroManifiesto}}</td>
                                                <td>{{item.NumeroOrdenServicio}}</td>
                                                <td>{{item.Mensaje_Reporte_Electronico}}</td>
                                                <td>
                                                    <button class="button mini-button  btn-danger" title="Eliminar" ng-click="EliminarCiudades(item.Codigo,item.Nombre,item.CodigoAlterno)">
                                                        <span class="fas fa-trash-alt"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                            <tr>
                                                <td colspan="4">
                                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                            <span class="item">&laquo;</span>
                                                        </button>
                                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                            <span class="item">&lsaquo;</span>
                                                        </button>
                                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                            <span class="item">&rsaquo;</span>
                                                        </button>
                                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                            <span class="item">&raquo;</span>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>

                                    </table>
                                </div>
                                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                    <span style="color:red">
                                        <small>{{ResultadoSinRegistros}}</small>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Cumplidos Manifiestos Anulados -->
                <div id="TapCumplidosManifiestosAnulados">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Oficina</label>
                                    <select name="cmbOficina" class="form-control" ng-model="ModeloOficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha Inicial</label>
                                    <input type="date" class="form-control" ng-model="FiltroFechaInicial">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha Final</label>
                                    <input type="date" class="form-control" ng-model="FiltroFechaFinal">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Número</label>
                                    <input ng-change="MaskNumero()" type="text" maxlength="10" class="form-control" ng-model="FiltroNumeroRemesa">
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="lineButtons">
                                    <div class="pull-left">
                                        <button class="btn btn-primary" title="Buscar remesas" ng-click="Buscar()">
                                            Buscar
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </div>
                                    <div class="pull-right">
                                        <button class="btn btn-primary" title="Reportar remesas" ng-click="ReportarRemesas()">
                                            Reportar Anulación Manifiestos
                                            <span class="glyphicon glyphicon-cloud-upload"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ResultadoConsulta">
                                    <div class="table-responsive" ng-if="ListadoRemesas.length > 0">
                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm table-responsive">
                                            <thead>
                                                <tr>
                                                    <th><input type="checkbox" ng-click="SlcTodo(SeleccionRemesa)" ng-model="SeleccionRemesa" ng-disabled="Deshabilitar" />Todos</th>
                                                    <th>Número</th>
                                                    <th>Fecha</th>
                                                    <th>Vehículo</th>
                                                    <th>Ruta</th>
                                                    <th>Mensaje Error</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ListadoRemesas | orderBy:'Nombre'">
                                                    <td><input type="checkbox" ng-model="item.Seleccionado" ng-disabled="Deshabilitar" /></td>
                                                    <td><a href="{{Sesion.Main}}GestionarRemesa/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>
                                                    <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                                    <td>{{item.Vehiculo.Placa}}</td>
                                                    <td>{{item.Ruta.Nombre}}</td>
                                                    <td>{{item.Mensaje}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                        <span style="color:red">
                                            <small>{{ResultadoSinRegistros}}</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="paginacion" ng-if="totalRegistros > 0 || Buscando == true">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="modal fade" id="modalMensajeEliminarCiudades" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click=" MostrarMensajeErrorCompleto = MostrarMensajeErrorModal(MostrarMensajeErrorCompleto)"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>