﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>LISTADOS PAQUETERÍA</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Listado Documentos</label>
                            <select name="cmbListados" class="form-control" ng-model="ListadosPaqueteria" ng-options="i.NombreMenu for i in ListaListados | orderBy: 'NombreMenu'" ng-change="LimpiarFormFiltros()"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="box box-default box-solid">
                        <div class="box-header">
                            <h3 class="box-title">Filtros</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-disabled="Deshabilitar" ng-click="Filtros()" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body" style="display:block">
                            <div class="row">
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblFechIni">Fecha Inicial</label>
                                        <input name="txtFechIni" type="date" class="form-control" ng-model="FechaInicial">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblFechFina">Fecha Final</label>
                                        <input name="txtFechFina" type="date" class="form-control" ng-model="FechaFinal">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12" ng-show="MostrarNumeroInicial">
                                    <div class="form-group">
                                        <label for="NumeroInicial">Número Inicial</label>
                                        <input name="NumeroInicial" class="form-control" ng-model="NumeroInicial" placeholder="Ingrese número inicial" maxlength="20" ng-change="MaskNumero()">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12" ng-show="MostrarNumeroFinal">
                                    <div class="form-group">
                                        <label for="NumeroInicial">Número Final</label>
                                        <input name="NumeroInicial" class="form-control" ng-model="NumeroFinal" placeholder="Ingrese número final" maxlength="20" ng-change="MaskNumero()">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12" ng-show="MostrarPlanilla">
                                    <div class="form-group">
                                        <label for="NumeroInicial">Número Planilla</label>
                                        <input name="NumeroInicial" class="form-control" ng-model="Planilla" placeholder="Ingrese la planilla" maxlength="20" ng-change="MaskNumero()">
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-4 col-xs-12" ng-show="MostrarPlaca">
                                    <div class="form-group">
                                        <label for="Ruta">Placa</label>
                                        <input maxlength="60" type="text" class="form-control" placeholder="Seleccione una Placa" ng-model="Placa">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12" ng-show="MostrarRuta">
                                    <div class="form-group">
                                        <label for="Ruta">Ruta</label>
                                        <input maxlength="60" type="text" class="form-control" placeholder="Seleccione una ruta" ng-model="Ruta"
                                               uib-typeahead="Ruta as Ruta.Nombre for Ruta in ListadoRutas| filter:$viewValue | limitTo: 5">
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-4 col-xs-12" ng-show="MostrarCiudad">
                                    <div class="form-group">
                                        <label>Ciudad</label>
                                        <input type="text" class="form-control" placeholder="Seleccione una Ciudad" ng-model="Ciudad" autocomplete="off"
                                               uib-typeahead="Ciudad as Ciudad.NombreCompleto for Ciudad in AutocompleteCiudad($viewValue)| filter:$viewValue | limitTo: 5"
                                               ng-blur="Ciudad=VerificarAutocomplete(Ciudad);">
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-4 col-xs-12" ng-show="MostrarFormaPago">
                                    <div class="form-group">
                                        <label for="Forma Pago">Forma de Pago</label>
                                        <select name="cmbFormaPago" class="form-control" ng-model="FormaPago" ng-options="i.Nombre for i in ListadoFormaPago"></select>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12" ng-show="MostrarReex">
                                    <div class="form-group">
                                        <label for="Reexpedicion">Reexpedición</label>
                                        <select name="cmbReexpedicion" class="form-control" ng-model="Reexpedicion" ng-options="i.Nombre for i in ListadoReexpedicion"></select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12" ng-show="MostrarCliente">
                                    <div class="form-group">
                                        <label>Cliente</label>
                                        <input type="text" class="form-control" placeholder="Seleccione un Cliente" ng-model="Cliente" autocomplete="off"
                                               uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in AutocompleteCliente($viewValue)| filter:$viewValue | limitTo: 5"
                                               ng-blur="Cliente=VerificarAutocomplete(Cliente);">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12" ng-show="MostrarOficina">
                                    <div class="form-group">
                                        <label for="lblOficina">Oficina</label>
                                        <select name="cmbOficina" class="form-control" ng-model="Oficinas" ng-options="i.Nombre for i in ListadoOficinas"></select>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12" ng-show="mostrarOficinaActual">
                                    <div class="form-group">
                                        <label for="lblOficina">Oficina Actual</label>
                                        <select name="cmbOficina" class="form-control" ng-model="OficinaActual" ng-options="i.Nombre for i in ListadoOficinas | orderBy: 'Nombre'"></select>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12" ng-show="MostrarEstado">
                                    <div class="form-group">
                                        <label>Estado</label>
                                        <select name="cmbEstado" class="form-control" ng-model="EstadoListado" ng-options="i.Nombre for i in ListadoEstados"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div id="lineButtons">
                    <div class="pull-left">

                        <table>
                            <tr>
                                <td>
                                    <button class="btn btn-block btn-primary" style="width:50px; height:50px" title="Abrir en PDF" ng-click="DesplegarInforme( 1, 0)">
                                        <img src="../../../FrontEnd/Css/img/pdf.png" width="40" height="40" />
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-block btn-primary" style="width:50px; height:50px; margin-left:10px" title="Descargar en EXCEL" ng-click="DesplegarInforme(0, 1)">
                                        <img src="../../../FrontEnd/Css/img/excel.png" width="40" height="40" style="margin-left:0px" />
                                    </button>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

        </form>
    </div>
</div>