﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>LISTADOS FIDELIZACIONES</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Listado Documentos</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModeloListadosFidelizacion" ng-change="AsignarFiltro(ModeloListadosFidelizacion.Codigo)" ng-options="i.NombreMenu for i in ListaFidelizaciones"></select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="box box-default box-solid">
                        <div class="box-header">
                            <h3 class="box-title">Filtros</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-disabled="Deshabilitar" ng-click="Filtros()" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body" style="display:block">

                            <div class="row">
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Vehículo</label>
                                        <input type="text" class="form-control" maxlength="18" placeholder="Vehículo" ng-model="ModeloVehiculo" autocomplete="off"
                                               uib-typeahead="Vehi as Vehi.Placa for Vehi in AutocompleteVehiculos($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                               ng-blur="ModeloVehiculo=VerificarAutocomplete(ModeloVehiculo);" />
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-4 col-xs-12" ng-show="MostrarFecha">
                                    <div class="form-group">
                                        <label for="lblFechIni">Fecha Inicial</label>
                                        <input name="txtFechIni" type="date" class="form-control" ng-model="ModeloFechaInicial">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12" ng-show="MostrarFecha">
                                    <div class="form-group">
                                        <label for="lblFechFina">Fecha Final</label>
                                        <input name="txtFechFina" type="date" class="form-control" ng-model="ModeloFechaFinal">
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-6 col-xs-12" ng-show="MostrarEstado">
                                    <div class="form-group">
                                        <label>Estado</label>
                                        <select name="cmbEstado" class="form-control" ng-model="ModeloEstado" ng-options="i.Nombre for i in ListadoEstado"></select>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <!--SECCIÓN BOTONES-->
                <div class="SeccionBotones">
                    <div id="lineButtons">
                        <div class="pull-left">
                            <table>
                                <tr>
                                    <td ng-show="DeshabilitarPDF">
                                        <button class="btn btn-block btn-primary" style="width:50px; height:50px" title="Abrir en PDF" ng-click="DesplegarInforme( 1, 0)">
                                            <img src="../../../FrontEnd/Css/img/pdf.png" width="40" height="40" />
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-block btn-primary" style="width:50px; height:50px; margin-left:10px" title="Descargar en EXCEL" ng-click="DesplegarInforme(0, 1)">
                                            <img src="../../../FrontEnd/Css/img/excel.png" width="40" height="40" style="margin-left:0px" />
                                        </button>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>

            </div>

           

        </form>
    </div>
 
</div>