<div id="map" style="width:1100px;height:600px;"></div>

<button type="button" class="btn btn-block btn-primary" title="Calcular" (click)="calculateRoute()">
  Calcular Ruta Optimizada
  <span class="glyphicon glyphicon-search"></span>
</button>

<div id="indicator"></div>


  <!--<div id="map" style="width:800px;height:700px;"></div>
  <div id="indicator" style="width:800px;height:300px;"></div>-->


