﻿<div  ng-init="InitLoad()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <section class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="Form-Imput">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">                   
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechIni">Fecha Inicial</label>
                            <input name="txtFechIni" type="date" class="form-control" ng-model="Modelo.FechaInicial">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechFina">Fecha Final</label>
                            <input name="txtFechFina" type="date" class="form-control" ng-model="Modelo.FechaFinal">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroInicial">Número</label>
                            <input class="form-control" ng-model="Modelo.NumeroDocumento" placeholder="Ingrese Número" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina</label>
                            <select class="form-control" ng-model="Modelo.Oficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select class="form-control" ng-model="Modelo.Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
                <!--SECCIÓN BOTONES-->
                <div class="lineButtons">
                    <div class="pull-left">
                        <button class="btn btn-block btn-primary" title="Buscar" ng-click="Buscar();">
                            Buscar
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" title="Nuevo" ng-click="NuevoDocumento()">
                            Nuevo
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
                <br />
                <hr />
                <!--RESULTADO CONSULTA-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive" ng-if="Listadolegalizacion.length > 0">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>No. Documento</th>
                                        <th>Fecha</th>
                                        <th>Valor Contado</th>
                                        <th>Valor Contra Entregas</th>
                                        <th>Observaciones</th>
                                        <th>Estado Documento</th>
                                        <th>Interfaz Contable</th>
                                        <th>Fecha Interfaz Contable</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in Listadolegalizacion | orderBy:'Numero'">
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                    <span class="fa fa-list"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-left" style="overflow-y:scroll; max-height:100px">
                                                    <li>
                                                        <a ng-click="DesplegarInforme(item.Numero,1, 0)" ng-disabled="DeshabilitarImprimir">
                                                            <span class="glyphicon glyphicon-print"></span>Imprimir Reporte
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td><a href="#!GestionarLegalizarRecaudoRemesasPaqueteria/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>
                                        <td>{{item.Fecha | date:'dd/MM/yyyy' }}</td>
                                        <td align="right">{{item.ValorContado | number}}</td>
                                        <td align="right">{{item.ValorContraEntregas | number}}</td>
                                        <td>{{item.Observaciones}}</td>
                                        <td align="center">
                                            <span ng-if="item.Estado == 0 && item.Anulado == 0" class="label label-warning">BORRADOR</span>
                                            <span ng-if="item.Estado == 1 && item.Anulado == 0" class="label label-success">DEFINITIVO</span>
                                            <span ng-if="item.Anulado == 1" class="label label-danger">ANULADO</span>
                                        </td>
                                        <td align="center">
                                            <span ng-if="item.InterfazContable == 0" class="label label-warning">Pendiente</span>
                                            <span ng-if="item.InterfazContable == 0 && item.IntentosInterfazContable > 0" data-toggle="tooltip" title="{{item.MensajeInterfazContable}}" class="label label-warning">Pendiente</span>
                                            <span ng-if="item.InterfazContable == 1" class="label label-success">Reportado</span>
                                        </td>
                                        <td>{{item.FechaInterfazContable | date:'dd/MM/yyyy'}}</td>
                                    </tr>
                                </tbody>
                                <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                    <tr>
                                        <td colspan="14">
                                            <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                            <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>

                            </table>
                        </div>
                        <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                            <span style="color:red">
                                <small>{{ResultadoSinRegistros}}</small>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </section>
</div>

