﻿<div  ng-init="InitLoad()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <section class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="Form-Imput">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="fecha">Número </label>
                            <span class="form-control">{{Modelo.NumeroDocumento}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Fecha</label>
                            <input type="date" class="form-control" ng-model="Modelo.Fecha" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Observaciones</label>
                            <textarea maxlength="200" type="text" class="form-control" ng-model="Modelo.Observaciones" ng-disabled="DeshabilitarActualizar"
                                      ng-required="false" placeholder="Observaciones"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Guías</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>No. Planilla</label>
                                            <input class="form-control" ng-model="Filtro.NumeroPlanilla" placeholder="Digite no. planilla" maxlength="20" ng-change="MaskNumero()">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>No. Legalización Guías</label>
                                            <input class="form-control" ng-model="Filtro.NumeroLegalizarGuia" placeholder="Digite no. legalización guía" maxlength="20" ng-change="MaskNumero()">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Conductor</label>
                                            <input type="text" class="form-control" placeholder="Seleccione un conductor" ng-model="Filtro.Conductor" ng-disabled="DeshabilitarActualizar"
                                                   uib-typeahead="conductores as conductores.NombreCompleto for conductores in AutocompleteConductor($viewValue)| filter:$viewValue | limitTo: 5"
                                                   ng-required="false" ng-blur="Filtro.Conductor=VerificarAutocomplete(Filtro.Conductor);LimpiarOficina()">
                                        </div>
                                    </div>
                                    <!--<div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Oficina</label>
                                            <select class="form-control" ng-model="Filtro.Oficina" ng-change="LimpiarConductor()"
                                                    ng-options="i.Nombre for i in ListadoOficinas | orderBy: 'Nombre'" ng-disabled="DeshabilitarActualizar"></select>
                                        </div>
                                    </div>-->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="numero">Oficina</label>
                                            <input name="numero" class="form-control" ng-model="Filtro.Oficina" placeholder="Ingrese una Oficina" maxlength="9"
                                                   ng-change="LimpiarConductor()"
                                                   uib-typeahead="Oficina as Oficina.Nombre for Oficina in AutocompleteOficinas($viewValue)| filter:$viewValue | limitTo: 5"
                                                   ng-blur="Filtro.Oficina=VerificarAutocomplete(Filtro.Oficina)">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-12">
                                        <button class="btn btn-primary" title="" ng-click="CargarRemesas()" ng-disabled="DeshabilitarActualizar">
                                            Cargar
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                        <button class="btn btn-primary" title="" ng-click="LimpiarRemesas()" ng-disabled="DeshabilitarActualizar">
                                            Limpiar
                                            <span class="fa fa-eraser"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row" ng-show="ListadoRemesas.length > 0">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <button type="button" class="btn btn-primary" title="Todos" ng-click="MarcarRemesas();" ng-disabled="DeshabilitarActualizar">
                                                                Todos
                                                                <span class="fas fa-plus-square"></span>
                                                            </button>
                                                        </th>
                                                        <th>Número</th>
                                                        <th>No. Planilla</th>
                                                        <th>No. Legalización Guía</th>
                                                        <th>Forma Pago</th>
                                                        <th>Remitente</th>
                                                        <th>Destinatario</th>
                                                        <th>Responsable</th>
                                                        <th align="right">Valor</th>
                                                        <th>Método Pago</th>
                                                        <th>Fecha Pago</th>
                                                        <th>Documento Pago</th>
                                                        <th>Observaciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in PagRemesas.PagArray | orderBy:['Remesa.FormaPago.Codigo', 'Remesa.Numero']">
                                                        <td style="text-align:center">
                                                            <!--<label>
                                                                <input type="checkbox" ng-model="item.Legalizo" ng-click="Calcular()" ng-disabled="DeshabilitarActualizar" ng-change="AsignaUsuaModifica(item)" />
                                                            </label>-->
                                                            <button type="button" class="btn btn-primary" title="Agregar" ng-click="AgregarRemesa(item.Remesa.Numero);" ng-disabled="DeshabilitarActualizar">
                                                                <span class="fas fa-plus-square"></span>
                                                            </button>
                                                        </td>
                                                        <td><a href="#!GestionarRemesasPaqueteria/{{item.Remesa.Numero}}/{{MENU_OPCION_GUIA}}" target="_blank">{{item.Remesa.NumeroDocumento}}</a></td>
                                                        <td>{{item.NumeroPlanilla}}</td>
                                                        <td>{{item.NumeroDocumentoLegalizarGuias}}</td>
                                                        <td>{{item.Remesa.FormaPago.Nombre}}</td>
                                                        <td ng-show="item.Remesa.Cliente.Codigo > 0">{{item.Remesa.Cliente.NombreCompleto}}</td>
                                                        <td ng-show="item.Remesa.Cliente.Codigo == 0">{{item.Remesa.Remitente.NombreCompleto}}</td>
                                                        <td>{{item.Remesa.Destinatario.NombreCompleto}}</td>
                                                        <td>{{item.ResponsableLegalizarRecaudo.NombreCompleto}}</td>
                                                        <td align="right">{{item.Remesa.TotalFleteCliente | number}}</td>
                                                        <td style="min-width:150px"><select class="form-control" ng-model="item.MetodoPago" ng-options="i.Nombre for i in ListadoMedioPago" ng-change="AsignaUsuaModifica(item)"></select></td>
                                                        <td><input type="date" class="form-control" ng-model="item.FechaPago" ng-change="AsignaUsuaModifica(item)" /></td>
                                                        <td><input type="text" class="form-control" ng-model="item.DocumentoPago" ng-change="AsignaUsuaModifica(item)" placeholder="Documento Pago" /></td>
                                                        <td style="min-width:150px">
                                                            <a class="form-control" uib-popover-template="'Observaciones.html'" popover-class="increase-popover-width" popover-placement="left-bottom " popover-title="Observaciones" popover-trigger="'outsideClick'" href="">
                                                                {{item.Observaciones.substring(0,30)}}...
                                                            </a>
                                                            <script type="text/ng-template" id="Observaciones.html">
                                                                <textarea class="form-control" style="width: 570px" maxlength="500" ng-change="item.Observaciones = MaskMayusGrid(item.Observaciones)" ng-model="item.Observaciones" ng-disabled="DeshabilitarGuardar"></textarea>
                                                            </script>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot ng-if="PagRemesas.totalRegistros > 0 || PagRemesas.Buscando == true">
                                                    <tr>
                                                        <td colspan="12">
                                                            <small ng-if="PagRemesas.totalRegistros > 0">Página: {{PagRemesas.paginaActual}} de {{PagRemesas.totalPaginas}} ({{PagRemesas.totalRegistros}} Registros)</small>
                                                            <div class="pagination rightAling" ng-if="PagRemesas.totalRegistros > 0">
                                                                <button class="button primary" ng-click="PrimerPagina(PagRemesas)" title="Primera">
                                                                    <span class="item">&laquo;</span>
                                                                </button>
                                                                <button class="button primary" ng-click="Anterior(PagRemesas)" title="Anterior">
                                                                    <span class="item">&lsaquo;</span>
                                                                </button>
                                                                <button class="button primary" ng-click="Siguiente(PagRemesas)" title="Siguiente">
                                                                    <span class="item">&rsaquo;</span>
                                                                </button>
                                                                <button class="button primary" ng-click="UltimaPagina(PagRemesas)" title="Última">
                                                                    <span class="item">&raquo;</span>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="text-align:center" class="col-sm-12" ng-if="PagRemesas.totalRegistros == 0 && PagRemesas.Buscando == false">
                                        <span style="color:red">
                                            <small>{{PagRemesas.ResultadoSinRegistros}}</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="ListadoRemesasGuardadas.length > 0">
                    <div class="col-sm-12">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Guías Guardadas</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th>Número</th>
                                                        <th>No. Planilla</th>
                                                        <th>No. Legalización Guía</th>
                                                        <th>Forma Pago</th>
                                                        <th>Remitente</th>
                                                        <th>Destinatario</th>
                                                        <th>Responsable</th>
                                                        <th align="right">Valor</th>
                                                        <th>Método Pago</th>
                                                        <th>Fecha Pago</th>
                                                        <th>Documento Pago</th>
                                                        <th>Observaciones</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in PagRemesasGuardadas.PagArray | orderBy:['FormaPago.Codigo', 'Numero']">
                                                        <td><a href="#!GestionarRemesasPaqueteria/{{item.Numero}}/{{MENU_OPCION_GUIA}}" target="_blank">{{item.NumeroDocumento}}</a></td>
                                                        <td>{{item.NumeroDocumentoPlanilla}}</td>
                                                        <td>{{item.NumeroDocumentoLegalizarRemesas}}</td>
                                                        <td>{{item.FormaPago.Nombre}}</td>
                                                        <td>{{item.Remitente.NombreCompleto}}</td>
                                                        <td>{{item.Destinatario.NombreCompleto}}</td>
                                                        <td>{{item.ResponsableLegalizarRecaudo.NombreCompleto}}</td>
                                                        <td align="right">{{item.Valor | number}}</td>
                                                        <td style="min-width:150px"><select class="form-control" ng-model="item.MetodoPago" ng-options="i.Nombre for i in ListadoMedioPago" ng-change="AsignaUsuaModifica(item)" ng-disabled="DeshabilitarActualizar"></select></td>
                                                        <td><input type="date" class="form-control" ng-model="item.FechaPago" ng-change="AsignaUsuaModifica(item)" ng-disabled="DeshabilitarActualizar" /></td>
                                                        <td><input type="text" class="form-control" ng-model="item.DocumentoPago" ng-change="AsignaUsuaModifica(item)" ng-disabled="DeshabilitarActualizar" placeholder="Documento Pago" /></td>
                                                        <td style="min-width:150px">
                                                            <a class="form-control" uib-popover-template="'Observaciones.html'" popover-class="increase-popover-width" popover-placement="left-bottom " popover-title="Observaciones" popover-trigger="'outsideClick'" href="">
                                                                {{item.Observaciones.substring(0,30)}}...
                                                            </a>
                                                            <script type="text/ng-template" id="Observaciones.html">
                                                                <textarea class="form-control" style="width: 570px" maxlength="500" ng-change="item.Observaciones = MaskMayusGrid(item.Observaciones)" ng-model="item.Observaciones" ng-disabled="DeshabilitarActualizar"></textarea>
                                                            </script>
                                                        </td>
                                                        <td>
                                                            <button class="button mini-button btn-danger" title="Eliminar" ng-click="EliminarGuiaGuardada(item);" ng-disabled="DeshabilitarActualizar">
                                                                <span class="fas fa-trash-alt"></span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot ng-if="PagRemesasGuardadas.totalRegistros > 0 || PagRemesasGuardadas.Buscando == true">
                                                    <tr>
                                                        <td colspan="12">
                                                            <small ng-if="PagRemesasGuardadas.totalRegistros > 0">Página: {{PagRemesasGuardadas.paginaActual}} de {{PagRemesasGuardadas.totalPaginas}} ({{PagRemesasGuardadas.totalRegistros}} Registros)</small>
                                                            <div class="pagination rightAling" ng-if="PagRemesasGuardadas.totalRegistros > 0">
                                                                <button class="button primary" ng-click="PrimerPagina(PagRemesasGuardadas)" title="Primera">
                                                                    <span class="item">&laquo;</span>
                                                                </button>
                                                                <button class="button primary" ng-click="Anterior(PagRemesasGuardadas)" title="Anterior">
                                                                    <span class="item">&lsaquo;</span>
                                                                </button>
                                                                <button class="button primary" ng-click="Siguiente(PagRemesasGuardadas)" title="Siguiente">
                                                                    <span class="item">&rsaquo;</span>
                                                                </button>
                                                                <button class="button primary" ng-click="UltimaPagina(PagRemesasGuardadas)" title="Última">
                                                                    <span class="item">&raquo;</span>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Totales</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor Contado</label>
                                            <input class="form-control text-right" ng-model="Modelo.ValorContado" placeholder="Ingrese valor contado" ng-change="MaskValores()" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor Contra Entrega</label>
                                            <input class="form-control text-right" ng-model="Modelo.ValorContraEntrega" placeholder="Valor contra entrega" ng-change="MaskValores()" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor Total Legalizar</label>
                                            <input class="form-control text-right" ng-model="Modelo.ValorTotalLegalizar" placeholder="Total legalizar" ng-change="MaskValores()" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Oficina</label>
                            <span class="form-control">{{Modelo.Oficina.Nombre}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="Modelo.Estado" ng-options="i.Nombre for i in ListadoEstados" ng-disabled="DeshabilitarActualizar"></select>
                        </div>
                    </div>
                </div>
                <!--SECCIÓN BOTONES-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="SeccionBotones">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                                    Cancelar
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="DeshabilitarActualizar">
                                    Aceptar
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ValidarGuardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>

