﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR RECOLECCIONES</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="FechaSalida">Fecha Inicial</label>
                            <input name="FechaSalida" type="date" class="form-control" ng-model="FechaInicio">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="FechaSalida">Fecha Final</label>
                            <input name="FechaSalida" type="date" class="form-control" ng-model="FechaFin">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="lblNumero">Número</label>
                            <input ng-change="MaskNumero()" name="txtNumero" placeholder="Digite número" class="form-control" ng-model="NumeroDocumento" type="text" maxlength="50" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="lblUsuario">Cliente</label>
                            <input ng-change="MaskMayus()" name="txtUsuario" placeholder="Digite nombre cliente" class="form-control" ng-model="ModeloCliente" type="text" maxlength="100" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="lblUsuario">Remitente</label>
                            <input ng-change="MaskMayus()" name="txtUsuario" placeholder="Digite nombre remitente" class="form-control" ng-model="ModeloRemitente" type="text" maxlength="100" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="lblOficina">Oficina</label>
                            <select name="cmbOficina" class="form-control" ng-model="ModeloOficinasCiudad" ng-options="i.Nombre for i in ListadoOficinasCiudad"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Zona</label>
                            <input ng-change="MaskMayus()" type="text" name="txtZona" class="form-control" maxlength="50" placeholder="Ingrese Zona" ng-model="ModeloZonas" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="lblEstadoDocumento">Estado</label>
                            <select name="cmbEstadoDocumento" class="form-control" ng-model="ModeloEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" title="Buscar" ng-click="paginaActual=1;Buscar()">
                        Buscar
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-block btn-primary" title="Nueva ciudad" ng-click="NuevoDocumento()">
                        Nuevo
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoRecolecciones.length > 0" style="overflow-y:scroll;overflow-x:scroll;max-height:500px;max-width:100%">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Número</th>
                                <th>Fecha</th>
                                <th>Cliente</th>
                                <th>Remitente</th>
                                <th>Contacto</th>
                                <th>Ciudad</th>
                                <th>Zona</th>
                                <th>Barrio</th>
                                <th>Dirección</th>
                                <th>Teléfonos</th>
                                <th>Mercancía</th>
                                <th>Unidad Empaque</th>
                                <th>Cantidad</th>
                                <th>Peso (Kg)</th>
                                <th class="Campo">Observaciones</th>
                                <th>No. Planilla Recolección</th>
                                <th>Fecha Planilla</th>
                                <th>Placa</th>
                                <th>Estado</th>
                                <th>Oficina</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoRecolecciones">
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                            <span class="fa fa-list"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-left" style="overflow-y:scroll; max-height:100px">
                                            <li ng-show="item.Estado != 4 && item.NumeroPlanilla == 0">
                                                <a ng-click="AdicionarPlanillaRecoleccion(item)">
                                                    <span class="fas fa-list-ol"></span>Adicionar Planilla Recolección
                                                </a>
                                            </li>
                                            <li ng-show="item.Estado != 4">
                                                <a ng-click="CancelarRecoleccion(item)">
                                                    <span class="glyphicon glyphicon-remove-circle"></span>Cancelar
                                                </a>
                                            </li>
                                            <li ng-show="DeshabilitarEliminarAnular == false && item.Estado < 2">
                                                <a ng-click="EliminarRecoleccion(item.Numero, item.Mercancia,item.NumeroDocumento)">
                                                    <span class="fas fa-trash-alt"></span> Anular
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </td>
                                <td><a href="#!GestionarRecolecciones/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>
                                <td>{{item.Fecha | date: 'dd/MM/yyyy'}}</td>
                                <td>{{item.Cliente.Nombre}}</td>
                                <td>{{item.Remitente.Nombre}}</td>
                                <td>{{item.NombreContacto}}</td>
                                <td>{{item.Ciudad.Nombre}}</td>
                                <td>{{item.NombreZona}}</td>
                                <td>{{item.Barrio}}</td>
                                <td>{{item.Direccion}}</td>
                                <td class="Campo">{{item.Telefonos}}</td>
                                <td>{{item.Mercancia}}</td>
                                <td>{{item.UnidadEmpaque}}</td>
                                <td align="right">{{MaskValoresGrid(item.Cantidad)}}</td>
                                <td align="right">{{item.Peso | number}}</td>
                                <td class="Campo">{{item.Observaciones}}</td>
                                <td>{{item.NumeroPlanilla}}</td>
                                <td>{{item.FechaPlanilla | date: 'dd/MM/yyyy'}}</td>
                                <td>{{item.PlacaVehiculo}}</td>

                                <td>
                                    <span ng-if="item.Estado == 3 " class="label pull-center bg-red">Anulada</span>
                                    <span ng-if="item.Estado == 2" class="label label-warning">Planillada</span>
                                    <span ng-if="item.Estado == 1" class="label label-success">Definitiva</span>
                                    <span ng-if="item.Estado == 4" class="label label-warning">Cancelada</span>
                                    <span ng-if="item.Estado == 5" class="label label-success">Recolectada</span>
                                    <span ng-if="item.Estado == 6" class="label label-warning">No Recolectada</span>
                                </td>
                                <td>{{item.NombreOficina}}</td>

                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <style>
                        .Campo {
                            max-width: 500px;
                        }
                    </style>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalEliminarRecolecciones" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de anular la recolección de {{NombreMercancia}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeEliminarRecolecciones" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click="MostrarMensajeErrorModal()"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="MostrarMensajeErrorModal()">
                                Mensaje Completo
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalAdicionarPlanilla" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                           Adicionar Planilla Recolección
                        </h4>
                    </div>

                    <div class="modal-body">
                        <!--SECCION FILTROS-FORMULARIO-->
                        <div class="SeccionFiltros-Formulario">
                            <ul>
                                <li ng-repeat="error in MensajesErrorModalPlanillas">
                                    <span class="errorField">{{error}}</span>
                                </li>
                            </ul>
                            <div class="row">

                                <div class="col-md-4 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label for="FechaSalida">Fecha</label>
                                        <input name="FechaSalida" type="date" class="form-control" ng-model="ModalPlanillas.Fecha">
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="Cuenta">No. Planilla</label>

                                        <input name="lblNumeGuia" class="form-control" ng-model="ModalPlanillas.NumeroDocumentoPlanilla" placeholder="Ingrese la guía" maxlength="20" ng-change="MaskNumero()">

                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="Cuenta">Vehículo</label>
                                        <input type="text" class="form-control" name="Ciudad Cargue" maxlength="50" id="ModeloCiudadCargue" placeholder="Ingrese un Vehículo" ng-model="ModalPlanillas.Vehiculo"
                                               uib-typeahead="i as i.Placa for i in AutocompleteVehiculos($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModalPlanillas.Vehiculo=VerificarAutocomplete(ModalPlanillas.Vehiculo)"
                                               autocomplete="off" ng-change="MaskPlaca()">

                                    </div>
                                </div>

                            </div>


                        </div>

                        <!--SECCIÓN BOTONES-->
                        <div class="SeccionBotones">
                            <div class="pull-left">
                                <button class="btn btn-block btn-primary" title="Buscar" ng-click="paginaActualModalPlanillas=1;BuscarModalPlanillas()">
                                    Buscar
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                        <br />
                        <br />
                        <!--RESULTADO CONSULTA-->
                        <div class="ResultadoConsulta">
                            <div class="table-responsive" ng-if="ListadoGuias.length > 0">
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Número </th>
                                            <th>Fecha </th>
                                            <th>Vehiculo </th>
                                            <th>Ruta </th>
                                            <th>Conductor </th>
                                            <th>Celular</th>
                                            <th>Estado </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ListadoGuias| orderBy:'Remesa.NumeroDocumento'">
                                            <td><input type="checkbox" ng-model="item.Seleccionado" ng-click="ValidarSeleccion(item)" /></td>
                                            <td><a href="#!GestionarPlanillaPaqueteria/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>
                                            <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                            <td>{{item.Vehiculo.Placa}}</td>
                                            <td>{{item.Ruta.Nombre}}</td>
                                            <td>{{item.NombreConductor}}</td>
                                            <td>{{item.Conductor.Celulares}}</td>
                                            <td>
                                                <span ng-if="item.Anulado == 1" class="label label-danger">Anulado</span>
                                                <span ng-if="item.Estado.Codigo == 1 && item.Anulado == 0" class="label label-success">Definitivo</span>
                                                <span ng-if="item.Estado.Codigo == 0 && item.Anulado == 0" class="label label-warning">Borrador</span>
                                            </td>

                                        </tr>
                                    </tbody>
                                    <tfoot ng-if="totalRegistrosModalPlanillas > 0 || BuscandoModalPlanillas == true">
                                        <tr>
                                            <td colspan="4">
                                                <small ng-if="totalRegistrosModalPlanillas > 0">Página: {{paginaActualModalPlanillas}} de {{totalPaginasModalPlanillas}} ({{totalRegistrosModalPlanillas}} Registros)</small>
                                                <div class="pagination rightAling" ng-if="totalRegistrosModalPlanillas > 0">
                                                    <button class="button primary" ng-click="PrimerPaginaModalPlanillas()" title="Primera">
                                                        <span class="item">&laquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="AnteriorModalPlanillas()" title="Anterior">
                                                        <span class="item">&lsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="SiguienteModalPlanillas()" title="Siguiente">
                                                        <span class="item">&rsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="UltimaPaginaModalPlanillas()" title="Última">
                                                        <span class="item">&raquo;</span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>

                                </table>
                            </div>
                            <div style="text-align:center" class="col-md-12" ng-if="totalRegistrosModalPlanillas == 0 && BuscandoModalPlanillas == false">
                                <span style="color:red">
                                    <small>{{ResultadoSinRegistrosModalPlanillas}}</small>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="AdicionarPlanilla()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>