﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>


    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <input ng-change="MaskNumero()" type="text" name="txtNumero" class="form-control" ng-model="ModeloNumeroDocumento" ng-disabled="DeshabilitarNumeroDocumento = true || Deshabilitar" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="Fecha">Fecha</label>
                            <input name="Fecha" type="date" class="form-control" ng-model="ModeloFecha" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="Fecha">Fecha Recolección</label>
                            <input name="Fecha" type="datetime-local" class="form-control" ng-model="ModeloFechaRecoleccion" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Cliente</label>
                            <input type="text" name="txtCliente" autocomplete="off" ng-change="MaskMayus()" class="form-control" maxlength="100" placeholder="Ingrese nombre cliente" ng-model="ModeloCliente" ng-blur="VerificarCliente(ModeloCliente); ModeloRemitente = ModeloCliente" uib-typeahead="i as i.NombreCompleto for i in ListaClientes| filter:$viewValue | limitTo: 5" ng-disabled="Deshabilitar" />
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Remitente</label>
                            <input type="text" name="txtRemitente" autocomplete="off" ng-change="MaskMayus()" class="form-control" maxlength="100" placeholder="Ingrese nombre remitente" ng-model="ModeloRemitente" ng-blur="ModeloRemitente = VerificarAutocomplete(ModeloRemitente)" uib-typeahead="i as i.NombreCompleto for i in AutocompleteRemitentes($viewValue)| filter:$viewValue | limitTo: 5" ng-disabled="Deshabilitar" />
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Identificación Contacto</label>
                            <input type="text" name="txtContacto" ng-change="MaskNumero()" class="form-control" maxlength="100" placeholder="Ingrese número identificación" ng-model="ModeloIdentificacionContacto" ng-disabled="Deshabilitar" />
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Contacto</label>
                            <input type="text" name="txtContacto" ng-change="MaskMayus()" class="form-control" maxlength="100" placeholder="Ingrese nombre contacto" ng-model="ModeloContacto" ng-disabled="Deshabilitar" />
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Ciudad</label>
                            <input ng-change="MaskMayus()" autocomplete="off" type="text" name="txtCiudad" class="form-control" maxlength="50" placeholder="Ingrese ciudad" ng-model="ModeloCiudad" uib-typeahead="i as i.Nombre for i in ListaCiudades| filter:$viewValue | limitTo: 5" ng-disabled="Deshabilitar" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="lblZona">Zona</label>
                            <select name="cmbZona" class="form-control" ng-model="ModeloZonas" ng-options="i.Nombre for i in ListadoZonas | orderBy:'Nombre'" ng-disabled="Deshabilitar"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Barrio</label>
                            <input type="text" name="txtBarrio" ng-change="MaskMayus()" class="form-control" maxlength="50" placeholder="Ingrese barrio" ng-model="ModeloBarrio" ng-disabled="Deshabilitar" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Dirección</label>
                            <input ng-change="MaskDireccion()" type="text" name="txtDireccion" class="form-control" maxlength="150" placeholder="Ingrese dirección" ng-model="ModeloDireccion" ng-disabled="Deshabilitar" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Teléfonos</label>
                            <input ng-change="MaskTelefono()" type="text" name="txtTelefonos" class="form-control" maxlength="100" placeholder="Ingrese teléfonos" ng-model="ModeloTelefonos" ng-disabled="Deshabilitar" />
                        </div>
                    </div>
                    <!--Latitud-->
                    <!--<div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form-group">
            <label>Latitud</label>
            <input maxlength="20" type="text" class="form-control" placeholder="Ingrese latitud" ng-model="Latitud" ng-required="false" ng-disabled="Deshabilitar">
        </div>
    </div>-->
                    <!--Longitud-->
                    <!--<div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form-group">
            <label>Longitud</label>
            <input maxlength="20" type="text" class="form-control" placeholder="Ingrese longitud" ng-model="Longitud" ng-required="false" ng-disabled="Deshabilitar">
        </div>
    </div>-->
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Mercancía</label>
                            <input type="text" name="txtMercancia" ng-change="MaskMayus()" class="form-control" maxlength="250" placeholder="Ingrese nombre mercancía" ng-model="ModeloMercancia" ng-disabled="Deshabilitar" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Unidad Empaque</label>
                            <select name="cmbUnidadEmpaque" class="form-control" ng-model="ModeloUnidadEmpaque" ng-options="i.Nombre for i in ListadoUnidadEmpaque | orderBy:'Nombre'" ng-disabled="Deshabilitar"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Cantidad</label>
                            <input style="text-align:right" ng-change="ModeloCantidad = MaskValoresInt(ModeloCantidad)" type="text" name="txtCantidad" class="form-control" maxlength="10" placeholder="Ingrese cantidad" ng-model="ModeloCantidad" ng-disabled="Deshabilitar" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Peso (Kg)</label>
                            <input style="text-align:right" ng-change="MaskValores()" type="text" name="txtPeso" class="form-control" maxlength="10" placeholder="Ingrese peso" ng-model="ModeloPeso" ng-disabled="Deshabilitar" />
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="input-control text full-size" data-role="input">
                                <label for="Observaciones">Observaciones</label>
                                <textarea class="form-control" maxlength="500" name="Observaciones" type="text" ng-model="ModeloObservaciones" ng-disabled="Deshabilitar"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="Deshabilitar">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>