﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR CUMPLIDOS PLANILLA PAQUETERÍA</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechIni">Fecha Inicial</label>
                            <input name="txtFechIni" type="date" class="form-control" ng-model="ModeloFechaInicial">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechFina">Fecha Final</label>
                            <input name="txtFechFina" type="date" class="form-control" ng-model="ModeloFechaFinal">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroInicial">Número</label>
                            <input name="NumeroInicial" class="form-control" ng-model="ModeloNumero" placeholder="Ingrese número" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroInicial">Planilla</label>
                            <input name="NumeroInicial" class="form-control" ng-model="ModeloPlanilla" placeholder="Número planilla inicial" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblManifiesto">No. Manifiesto</label>
                            <input name="txtManifiesto" class="form-control" ng-model="ModeloManifiesto" placeholder="Número Manifiesto" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="Placa">Placa</label>
                            <input name="Placa" class="form-control" ng-model="ModeloPlaca" placeholder="Placa" maxlength="20">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina</label>
                            <select name="cmbOficina" class="form-control" ng-model="ModeloOficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblTenedor">Tenedor</label>
                            <input name="txtTenedor" class="form-control" ng-model="ModeloTenedor" placeholder="Tenedor" maxlength="100">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblConductor">Conductor</label>
                            <input name="txtConductor" class="form-control" ng-model="ModeloConductor" placeholder="Conductor" maxlength="100">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModeloEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" title="Buscar" ng-click="paginaActual=1;Buscar()">
                        Buscar
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-block btn-primary" title="Nuevo Documento" ng-click="NuevoDocumento()">
                        Nuevo
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoCumplidos.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Número</th>
                                <th>Fecha</th>
                                <th>Vehículo</th>
                                <th>Tenedor</th>
                                <th>Conductor</th>
                                <th>Ruta</th>
                                <th>Planilla</th>
                                <th>Manifiesto</th>
                                <th>Estado</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoCumplidos | orderBy:'-Numero'">
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                            <span class="fa fa-list"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-left" style="overflow-y:scroll; max-height:100px">
                                            <li>
                                                <a ng-click="AbrirNovedades(item)" ng-disabled="DeshabilitarActualizar" href="">
                                                    <span class="fa fa-exclamation-circle"></span>Agregar Novedad
                                                </a>
                                            </li>


                                            <li>
                                                <a ng-click="DesplegarInforme(item.Numero,1, 0)" ng-disabled="DeshabilitarImprimir">
                                                    <span class="glyphicon glyphicon-print" style="font-size:18px"></span>Imprimir Reporte
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="Anular(item.Numero,item.NumeroDocumento)" ng-disabled="DeshabilitarEliminarAnular">
                                                    <span class="fas fa-trash-alt" style="font-size:18px; margin-right: 5px;"></span> Anular
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </td>
                                <td><a href="#!GestionarCumplidoDespachoPaqueteria/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>
                                <td>{{item.Fecha | date:'dd/MM/yyyy' }}</td>
                                <td>{{item.Vehiculo.Placa}}</td>
                                <td>{{item.Tenedor.NombreCompleto}}</td>
                                <td>{{item.Conductor.NombreCompleto}}</td>
                                <td>{{item.NombreRuta}}</td>
                                <td>{{item.NumeroPlanilla}}</td>
                                <td>{{item.NumeroManifiesto}}</td>
                                <td>
                                    <span ng-if="item.Estado == 0 && item.Anulado == 0" class="label label-warning">Borrador</span>
                                    <span ng-if="item.Estado == 1 && item.Anulado == 0" class="label label-success">Definitivo</span>
                                    <span ng-if="item.Anulado == 1" class="label label-danger">Anulado</span>
                                </td>


                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalEliminarTarifarioVentas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar la linea vehículo {{Nombre}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalAnular" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            Anular
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorAnula.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesErrorAnula">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                        <p>¿Está seguro de Anular el cumplido {{NumeroDocumentoAnular}}?</p>
                        <label>Causa Anulacion</label>
                        <input name="nombre" class="form-control" ng-model="ModeloCausaAnula" placeholder="Ingrese una Causa" maxlength="40">
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmaAnular()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalNovedades" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-body modal-lg">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="MensajesErrorModal = []"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <h4><strong>NOVEDADES DESPACHOS</strong></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorModal.length > 0">
                                        <ul>
                                            <li ng-repeat="error in MensajesErrorModal">
                                                <span>{{error}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label>No. Planilla</label><span> {{NumeroDocumentoPlanilla}}</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <br />
                                            <div class="pull-right" id="BotonNuevo">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <button type="button" class="btn btn-primary" title="Nueva Novedad" data-toggle="tooltip" onclick="$('#NuevaNovedad').show(500);$('#BotonNuevo').hide(500)" ng-click="Novedades.Novedad = '';
                                                                  MensajesErrorModal = []; Novedades.ValorCompra = ''; Novedades.ValorVenta = ''; Novedades.ValorCosto = ''; Novedades.Proveedor = ''; Novedades.Observaciones = ''; Remesa = '';
                                                                  DeshabilitarNumeroRemesa = true; DeshabilitarValorCompra = true; DeshabilitarValorCliente = true;" ng-disabled="DeshabilitarAgregarNovedad">
                                                            Nuevo
                                                            <span class="glyphicon glyphicon-plus"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="NuevaNovedad">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label>Novedad</label>
                                                <select class="form-control" ng-model="Novedades.Novedad" ng-change="CargarValidacionesNovedad(Novedades.Novedad)" ng-options="i.Nombre for i in ListadoNovedadesDespachos"></select>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label>No. Remesa</label>
                                                <input class="form-control" placeholder="Ingrese número remesa" ng-model="Remesa" ng-blur="VerificarNumeroFactura(Remesa)" uib-typeahead="i as i.NumeroDocumentoRemesa for i in ListadoNumerosRemesas | filter:$viewValue | limitTo: 5" ng-disabled="DeshabilitarNumeroRemesa" />
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label>Valor Transportador</label>
                                                <input style="text-align:right" ng-change="MaskNumero();MaskValores()" class="form-control" maxlength="10" placeholder="Ingrese valor transportador" ng-model="Novedades.ValorCompra" ng-disabled="DeshabilitarValorCompra" />
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label>Valor Cliente</label>
                                                <input style="text-align:right" ng-change="MaskNumero();MaskValores()" class="form-control" maxlength="10" placeholder="Ingrese valor cliente" ng-model="Novedades.ValorVenta" ng-disabled="DeshabilitarValorCliente" />
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label>Proveedor</label>
                                                <input ng-change="MaskMayus()" type="text" class="form-control" placeholder="Ingrese proveedor" ng-model="Novedades.Proveedor" uib-typeahead="i as i.NombreCompleto for i in ListaProveedores| filter:$viewValue | limitTo: 5" />
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label>Valor Costo</label>
                                                <input style="text-align:right" ng-change="MaskNumero();MaskValores()" class="form-control" maxlength="10" placeholder="Ingrese valor costo" ng-model="Novedades.ValorCosto" />
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <label>Observaciones</label>
                                                <input style="height:55px" type="text" class="form-control" maxlength="500" ng-model="Novedades.Observaciones">
                                            </div>
                                        </div>
                                        <br />
                                        <div class="pull-right">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <button type="button" class="btn btn-default" title="Cancelar" data-toggle="tooltip" onclick="$('#NuevaNovedad').hide(500);$('#BotonNuevo').show(500)" ng-click="MensajesErrorModal = []">
                                                        Cancelar
                                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-primary" title="Adicionar" data-toggle="tooltip" ng-click="InsertarNovedad()">
                                                        Adicionar
                                                        <span class="glyphicon glyphicon-ok-circle"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align:center" class="col-md-12" ng-if="ListaNovedades.length <= 0">
                        <span style="color:red">
                            <small>{{ResultadoSinRegistrosNovedad}}</small>
                        </span>
                    </div>
                    <div class="modal-body">
                        <div id="resultadoConsulta" class="table-responsive" ng-if="ListaNovedades.length > 0">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>

                                        <th>No. Planilla</th>
                                        <th>No. Remesa</th>
                                        <th>Novedad</th>
                                        <th>Valor Transportador</th>
                                        <th>Valor Cliente</th>
                                        <th>Valor Costo</th>
                                        <th>Usuario Crea</th>
                                        <th>Fecha Crea</th>
                                        <th>Observaciones</th>
                                        <th>Estado</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListaNovedades">

                                        <td>{{item.NumeroDocumentoPlanilla}}</td>
                                        <td>{{item.NumeroDocumentoRemesa}}</td>
                                        <td>{{item.Novedad.Nombre}}</td>
                                        <td align="right">{{MaskValoresGrid(item.ValorCompra | number: 0)}}</td>
                                        <td align="right">{{MaskValoresGrid(item.ValorVenta | number: 0)}}</td>
                                        <td align="right">{{MaskValoresGrid(item.ValorCosto | number: 0)}}</td>
                                        <td>{{item.UsuarioCrea.Nombre}}</td>
                                        <td>{{item.FechaCrea  | date: 'dd/MM/yyyy HH:mm'}}</td>
                                        <td>{{item.Observaciones}}</td>
                                        <td>
                                            <span ng-if="item.Anulado == 0 " class="label label-success">Activa</span>
                                            <span ng-if="item.Anulado == 1 " class="label pull-center bg-red">Anulada</span>
                                        </td>
                                        <td ng-if="item.Anulado == 0 ">
                                            <button class="button mini-button  btn-danger" title="Anular" ng-click="AnularNovedad(item)" ng-disabled="DeshabilitarEliminarAnular || DeshabilitarAgregarNovedad">
                                                <span class="fas fa-trash-alt"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="MensajesErrorModal = []">
                                Cerrar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalDatosAnular" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="causaAnulacion">Causa Anulación<small class="small">*</small></label>
                                    <input class="form-control" name="causaAnulacion" type="text" ng-model="CausaAnulacion">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="fechaAnulacion">Fecha Anulación</label>
                                    <span class="form-control">{{FechaAnulacion | date: 'dd/MM/yyyy HH:MM'}}</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Usuario Anula</label>
                                    <span class="form-control"> {{Sesion.Identificador}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="AnularNovedades(CausaAnulacion)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>