﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>

                <!-- Encabezado -->
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <input type="text" class="form-control" ng-model="ModeloNumeroDocumento" disabled />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha</label>
                            <span class="form-control">{{ModeloFechaCumplido | date: 'dd/MM/yyyy'}}</span>
                            <!--<input type="date" class="form-control" ng-model="ModeloFechaCumplido" />-->
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Planilla</label>
                            <input type="text" class="form-control" ng-model="ModeloNumeroPlanilla" ng-blur="ValidarPlanilla(ModeloNumeroPlanilla)" maxlength="20"
                                   ng-change="MaskNumero()" ng-disabled="DeshabilitarCampo || ModeloNumeroDocumento >0" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Manifiesto</label>
                            <input type="text" class="form-control" ng-model="ModeloNumeroManifiesto" maxlength="20" ng-change="MaskNumero()"
                                   ng-blur="ValidarPlanilla(ModeloNumeroManifiesto,1)" ng-disabled="DeshabilitarCampo || ModeloNumeroDocumento >0" />
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Vehículo</label>
                            <input type="text" class="form-control" ng-model="ModeloPlacaVehiculo" disabled />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Semirremolque</label>
                            <input type="text" class="form-control" ng-model="ModeloSemirremolque" disabled />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <label>Ruta</label>
                            <input type="text" class="form-control" name="Ruta" ng-model="ModeloRuta" tabindex="4"
                                   uib-typeahead="Ruta as Ruta.Nombre for Ruta in ListadoRutas| filter:$viewValue | limitTo: 5"
                                   ng-required="false" ng-blur="ModeloRuta=VerificarAutocomplete(ModeloRuta)" disabled />
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="lblTenedor">Tenedor</label>
                            <input type="text" class="form-control" ng-model="ModeloTenedor" disabled />
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="lblConductor">Conductor</label>
                            <input type="text" class="form-control" ng-model="ModeloConductor" disabled />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha Entrega</label>
                            <input type="date" class="form-control" ng-model="ModeloFechaEntrega" ng-disabled="DeshabilitarCampo" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha Llegada Cargue</label>
                            <input type="datetime-local" class="form-control" ng-model="ModeloFechaLlegadaCargue" ng-disabled="DeshabilitarCampo" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha Inicio Cargue</label>
                            <input type="datetime-local" class="form-control" ng-model="ModeloFechaInicioCargue" ng-disabled="DeshabilitarCampo" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha Fin Cargue</label>
                            <input type="datetime-local" class="form-control" ng-model="ModeloFechaFinCargue" ng-disabled="DeshabilitarCampo" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha Llegada Descargue</label>
                            <input type="datetime-local" class="form-control" ng-model="ModeloFechaLlegadaDescargue" ng-disabled="DeshabilitarCampo" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha Inicio Descargue</label>
                            <input type="datetime-local" class="form-control" ng-model="ModeloFechaInicioDescargue" ng-disabled="DeshabilitarCampo" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha Fin Descargue</label>
                            <input type="datetime-local" class="form-control" ng-model="ModeloFechaFinDescargue" ng-disabled="DeshabilitarCampo" />
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Multa Extemporánea</label>
                        <input type="text" class="form-control text-right" ng-model="ModeloMultaExtemporaneidad" ng-change="MaskValores();" ng-disabled="DeshabilitarCampo" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>	Nombre Entregó Cumplido</label>
                        <input type="text" class="form-control" ng-model="ModeloNombreEntregoCumplido" ng-disabled="DeshabilitarCampo" />
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12" ng-show="MostrarTipoCumplido">
                    <div class="form-group">
                        <label>Tipo Cumplido</label>
                        <select name="cmbEstado" class="form-control" ng-model="TipoCumplidoManifiesto" ng-options="i.Nombre for i in ListaTipoCumplidoManifiesto"
                                ng-disabled="DeshabilitarCampo || PlanillaUrbana || ModeloNumeroDocumento >0"
                                ng-blur="ValidarTipoCumplido(TipoCumplidoManifiesto)"></select>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12" ng-show="TipoCumplidoManifiesto.Codigo == 20802">
                    <div class="form-group">
                        <label>Motivo Suspensión</label>
                        <select name="cmbEstado" class="form-control" ng-model="MotivoSuspensionManifiesto" ng-options="i.Nombre for i in ListaMotivoSuspensionManifiesto"
                                ng-disabled="DeshabilitarCampo"></select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12" ng-show="TipoCumplidoManifiesto.Codigo == 20802">
                    <div class="form-group">
                        <label>Consecuencia Suspensión</label>
                        <select name="cmbEstado" class="form-control" ng-model="ConsecuenciaSuspencionManifiesto" ng-options="i.Nombre for i in ListaConsecuenciaSuspencionManifiesto"
                                ng-disabled="DeshabilitarCampo || (ModeloNumeroDocumento >0 && ConsecuenciaSuspencionManifiesto.Codigo == 21004)"></select>
                    </div>
                </div>-->

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Observaciones</label>
                            <textarea class="form-control" ng-model="ModeloObservaciones" ng-disabled="DeshabilitarCampo"></textarea>
                        </div>
                    </div>
                </div>
                <!--Transbordo-->
                <div class="row" ng-show="TipoCumplidoManifiesto.Codigo == 20802 && ConsecuenciaSuspencionManifiesto.Codigo != 21004">
                    <div class=" col-md-12">
                        <div class="box box-default box-solid collapsed-box ">
                            <!--Collapse-->
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    Transbordo
                                </h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!--Contenido-->
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-2 col-sm-6">
                                        <div class="form-group">
                                            <label>Vehículo </label>
                                            <input type="text" class="form-control" maxlength="18" placeholder="Vehículo" ng-model="VehiculoTransbordo" tabindex="1"
                                                   uib-typeahead="Vehi as Vehi.Placa for Vehi in AutocompleteVehiculos($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                                   ng-blur="VehiculoTransbordo=VerificarAutocomplete(VehiculoTransbordo);ValidarVehiculoDocumentos(VehiculoTransbordo, 1)"
                                                   ng-disabled="DeshabilitarCampo" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6">
                                        <div class="form-group">
                                            <label>Semirremolque </label>
                                            <input type="text" class="form-control" placeholder="Semirremolque" ng-model="SemirremolqueTransbordo" tabindex="2"
                                                   uib-typeahead="Semirremolque as Semirremolque.Placa for Semirremolque in AutoCompleteSemiRemolque($viewValue)| filter:$viewValue |  limitTo: 5"
                                                   ng-blur="SemirremolqueTransbordo=VerificarAutocomplete(SemirremolqueTransbordo);" ng-disabled="DeshabilitarCampo"
                                                   autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label>Conductor </label>
                                            <input maxlength="60" type="text" class="form-control" placeholder="" ng-model="ConductorTransbordo" tabindex="3"
                                                   uib-typeahead="i as i.NombreCompleto for i in AutocompleteConductor($viewValue)| filter:$viewValue | limitTo: 5"
                                                   ng-required="false" ng-disabled="DeshabilitarCampo" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label>Tenedor </label>
                                            <input maxlength="60" type="text" class="form-control" placeholder="" ng-model="TenedorTransbordo.NombreCompleto" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-sm-6">
                                        <div class="form-group">
                                            <label>Planilla </label>
                                            <input maxlength="60" type="text" class="form-control" placeholder="" ng-model="PlanillaTransbordo" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6">
                                        <div class="form-group">
                                            <label>Manifiesto </label>
                                            <input maxlength="60" type="text" class="form-control" placeholder="" ng-model="ManifiestoTransbordo" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label>Ruta</label>
                                            <input type="text" class="form-control" name="Ruta" placeholder="Ingrese una ruta" ng-model="RutaTransbordo" tabindex="4"
                                                   uib-typeahead="Ruta as Ruta.Nombre for Ruta in ListadoRutas| filter:$viewValue | limitTo: 5"
                                                   ng-required="false" ng-blur="RutaTransbordo=VerificarAutocomplete(RutaTransbordo);ValidarRutaTransbordo();" ng-disabled="DeshabilitarCampo" autocomplete="off">
                                        </div>
                                    </div>
                                    <!--Tarifa-->
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label>Tarifa</label>
                                            <select name="cmbTarifa" class="form-control" ng-model="TarifaTransbordo" ng-options="i.Nombre for i in ListadoTarifasTransporte" tabindex="5"
                                                    ng-disabled="DeshabilitarCampo" ng-change="CambioTarifaCompra(TarifaTransbordo)"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!--Tipo Tarifa-->
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label>Tipo Tarifa</label>
                                            <select name="cmbTipoTarifa" class="form-control" ng-model="TipoTarifaTransbordo" ng-options="i.Nombre for i in ListadoTipoTarifaFiltradas" tabindex="6"
                                                    ng-disabled="DeshabilitarCampo" ng-change="CambioTipoTarifaCompra(TipoTarifaTransbordo)"></select>
                                        </div>
                                    </div>
                                    <!--Cantidad-->
                                    <div class="col-md-2 col-sm-6">
                                        <div class="form-group">
                                            <label>Cantidad</label>
                                            <input ng-change="MaskValores()" name="txtCantidad" placeholder="Cantidad" class="form-control text-right" ng-model="CantidadTransbordo" tabindex="8"
                                                   ng-disabled="DeshabilitarCampo" autocomplete="off" ng-blur="GestionarFletesCompra()" />
                                        </div>
                                    </div>
                                    <!--Peso Kg-->
                                    <div class="col-md-2 col-sm-6">
                                        <div class="form-group">
                                            <label>Peso (Kg)</label>
                                            <input ng-change=" MaskValores()" name="txtPeso" placeholder="Peso" class="form-control text-right" ng-model="PesoTransbordo" tabindex="9"
                                                   ng-disabled="DeshabilitarCampo" autocomplete="off" ng-blur="GestionarFletesCompra()" />
                                        </div>
                                    </div>
                                    <!--Flete Transportador-->
                                    <div class="col-md-2 col-sm-6">
                                        <div class="form-group">
                                            <label>Flete</label>
                                            <input name="txtFleteTransportador" type="text" class="form-control text-right" ng-model="FleteTransportadorTransbordo" disabled />
                                        </div>
                                    </div>
                                    <!--Total Flete Transportador-->
                                    <div class="col-md-2 col-sm-6">
                                        <div class="form-group">
                                            <label>Valor Flete Transportador</label>
                                            <input ng-change="MaskNumero();MaskValores()" type="text" placeholder="Valor Flete Transportador" class="form-control text-right" tabindex="10"
                                                   ng-model="TotalFleteTransportadorTransbordo" ng-disabled="DeshabilitarCampo" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Transbordo-->
                <div class="row" ng-show="TipoCumplidoManifiesto.Codigo == 20801 || (TipoCumplidoManifiesto.Codigo == 20802 && ConsecuenciaSuspencionManifiesto.Codigo == 21004)">
                    <div class="ResultadoConsulta">
                        <div style="overflow-x:scroll; max-width:100%" class="table-responsive" ng-if="ModeloListadoRemesasManifisestoPlanilla.length > 0">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <!--<th><input type="checkbox" ng-click="SeleTodoItem(Seleccion)" ng-model="Seleccion" />Todos</th>-->
                                        <th hidden></th>
                                        <th>No. Remesa</th>
                                        <th>Cliente</th>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Peso(kg)</th>
                                        <th>Destinatario</th>
                                        <!--<th>No. Remesa</th>
                                        <th>Fecha</th>
                                        <th>Ciudad Origen</th>
                                        <th>Ciudad Destino</th>
                                        <th>Cliente</th>
                                        <th>Documento Cliente</th>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Peso (Kg)</th>-->
                                        <!--<th>Ident. Recibe</th>
                                        <th>Nombre Recibe</th>
                                        <th>Teléfono Recibe</th>
                                        <th>Fecha Recibe</th>
                                        <th>Cantidad Recibe</th>
                                        <th>Peso Recibe</th>
                                        <th>Cantidad Faltante</th>
                                        <th>Peso Faltante</th>
                                        <th>Peso Cargue</th>
                                        <th>Peso Descargue</th>
                                        <th>Valor Faltante</th>-->
                                        <!--<th>Observaciones</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ModeloListadoRemesasManifisestoPlanilla | orderBy:'Codigo'">
                                        <!--<td><input type="checkbox" ng-model="item.Seleccionado" /> </td>-->
                                        <td>{{item.Remesa.NumeroDocumento}}</td>
                                        <td>{{item.Cliente.NombreCompleto}}</td>
                                        <td>{{item.Producto.Nombre}}</td>
                                        <td align="right">{{MaskValoresGrid( item.Cantidad.CantidadCliente )}}</td>
                                        <td align="right">{{MaskValoresGrid( item.Peso.PesoCliente )}}</td>
                                        <td>{{item.Destinatario.NombreCompleto}}</td>
                                        <!--<td hidden>{{item.NumeroInternoRemesa}}</td>
                                        <td>{{item.NumeroRemesa}}</td>
                                        <td>{{item.Fecha | date: 'dd/MM/yyyy'}}</td>

                                        <td>{{item.CiudadOrigen}}</td>
                                        <td>{{item.CiudadDestino}}</td>
                                        <td>{{item.NombreCliente}}</td>
                                        <td align="right">{{item.DocumentoCliente}}</td>
                                        <td>{{item.NombreProducto}}</td>
                                        <td align="right">{{item.CantidadRemesa | number:0}}</td>
                                        <td align="right">{{item.PesoRemesa | number:2}}</td>-->
                                        <!--<td style="min-width:150px"><input type="text" class="form-control" maxlength="30" ng-disabled="DeshabilitarCampo" ng-change="item.IdentificacionRecibe = MaskNumeroGrid(item.IdentificacionRecibe)" ng-model="item.IdentificacionRecibe" placeholder="Ident. Recibe" /></td>
                                        <td style="min-width:300px"><input type="text" class="form-control" maxlength="100" ng-disabled="DeshabilitarCampo" ng-model="item.NombreRecibe" placeholder="Nombre Recibe" /></td>
                                        <td style="min-width:150px"><input type="text" class="form-control" maxlength="50" ng-disabled="DeshabilitarCampo" ng-change="item.TelefonoRecibe = MaskNumeroGrid(item.TelefonoRecibe)" ng-model="item.TelefonoRecibe" placeholder="Teléfono Recibe" /></td>
                                        <td style="min-width:100px"><input name="txtFechVinc" type="date" class="form-control" ng-disabled="DeshabilitarCampo" ng-model="item.FechaRecibe"></td>
                                        <td style="min-width:100px"><input type="text" class="form-control" maxlength="10" ng-disabled="DeshabilitarCampo" ng-change="item.CantidadRecibida = MaskValoresGrid(item.CantidadRecibida);" ng-blur="ValidarCantidad(item)" ng-model="item.CantidadRecibida" placeholder="Cantidad Recibe" style="text-align:right" /></td>
                                        <td style="min-width:100px"><input type="text" class="form-control" maxlength="10" ng-disabled="DeshabilitarCampo" ng-change="item.PesoRecibido = MaskValoresGrid(item.PesoRecibido)" ng-model="item.PesoRecibido" placeholder="Peso Recibe" style="text-align:right" /></td>
                                        <td style="min-width:100px"><input type="text" class="form-control" maxlength="10" ng-change="item.CantidadRecibida = MaskValoresGrid(item.CantidadFaltante)" ng-model="item.CantidadFaltante" placeholder="Cantidad Faltante" disabled style="text-align:right" /></td>
                                        <td style="min-width:100px"><input type="text" class="form-control" maxlength="10" ng-change="item.PesoRecibido = MaskValoresGrid(item.PesoFaltante)" ng-model="item.PesoFaltante" placeholder="Peso Faltante" disabled style="text-align:right" /></td>
                                        <td style="min-width:100px"><input type="text" class="form-control" maxlength="10" ng-disabled="DeshabilitarCampo" ng-change="item.PesoCargue = MaskValoresGrid(item.PesoCargue)" ng-model="item.PesoCargue" ng-blur="CalcularFaltantes()" placeholder="Peso Cargue" style="text-align:right" /></td>
                                        <td style="min-width:100px"><input type="text" class="form-control" maxlength="10" ng-disabled="DeshabilitarCampo" ng-change="item.PesoDescargue = MaskValoresGrid(item.PesoDescargue)" ng-model="item.PesoDescargue" ng-blur="CalcularFaltantes()" placeholder="Peso Descargue" style="text-align:right" /></td>
                                        <td style="min-width:100px"><input type="text" class="form-control" maxlength="10" ng-disabled="DeshabilitarCampo" ng-change="item.ValorFlatante = MaskValoresGrid(item.ValorFlatante)" ng-model="item.ValorFlatante" placeholder="Valor Faltante" style="text-align:right" /></td>-->
                                        <!--<td style="min-width:500px"><input type="text" class="form-control" maxlength="250" ng-disabled="DeshabilitarCampo" ng-model="item.ObservacionesRecibe" placeholder="Observaciones" /></td>-->
                                    </tr>
                                </tbody>
                                <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                    <tr>
                                        <td colspan="4">
                                            <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                            <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                            <span style="color:red">
                                <small>{{ResultadoSinRegistros}}</small>
                            </span>
                        </div>
                    </div>
                </div>
                <!--<div class="row" ng-show="TipoCumplidoManifiesto.Codigo == 20801 || (TipoCumplidoManifiesto.Codigo == 20802 && ConsecuenciaSuspencionManifiesto.Codigo == 21004)">
                    <div class="ResultadoConsulta">
                        <div style="overflow-x:scroll; max-width:100%" class="table-responsive" ng-if="ModeloListadoRemesasCumplido.length > 0">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>-->
                <!--<th><input type="checkbox" ng-model="Seleccion" />Todos</th>-->
                <!--<th hidden></th>
                <th>No. Remesa</th>
                <th>Fecha</th>
                <th>Ruta</th>
                <th>Cliente</th>
                <th>Documento Cliente</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Peso (Kg)</th>-->
                <!--<th>Ident. Recibe</th>
                <th>Nombre Recibe</th>
                <th>Teléfono Recibe</th>
                <th>Fecha Recibe</th>
                <th>Cantidad Recibe</th>
                <th>Peso Recibe</th>
                <th>Cantidad Faltante</th>
                <th>Peso Faltante</th>
                <th>Valor Faltante</th>
                <th>Peso Cargue</th>
                <th>Peso Descargue</th>-->
                <!--<th>Observaciones</th>-->
                <!--</tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ModeloListadoRemesasCumplido | orderBy:'Codigo'">-->
                <!--<td><input type="checkbox" ng-model="item.Seleccionado" disabled /> </td>-->
                <!--<td hidden>{{item.NumeroInternoRemesa}}</td>
                <td>{{item.NumeroRemesa}}</td>
                <td>{{item.FechaRemesa | date: 'dd/MM/yyyy'}}</td>
                <td>{{item.NombreRuta}}</td>
                <td align="right">{{item.NombreCliente}}</td>
                <td align="right">{{item.DocumentoCliente}}</td>
                <td>{{item.NombreProducto}}</td>
                <td align="right">{{item.Cantidad | number:0}}</td>
                <td align="right">{{item.Peso | number:2}}</td>-->
                <!--<td>{{item.IdentificacionRecibe}}</td>
                <td>{{item.NombreRecibe}}</td>
                <td>{{item.TelefonoRecibe}}</td>
                <td>{{item.FechaRecibe | date: 'dd/MM/yyyy'}}</td>
                <td align="right">{{item.CantidadRecibida | number:0}}</td>
                <td align="right">{{item.PesoRecibido | number:0}}</td>
                <td align="right">{{item.CantidadFaltante | number:0}}</td>
                <td align="right">{{item.PesoFaltante | number:0}}</td>
                <td align="right">{{MaskValoresGrid(item.ValorFlatante)}}</td>
                <td align="right">{{item.PesoCargue | number:0}}</td>
                <td align="right">{{item.PesoDescargue | number:0}}</td>-->
                <!--<td>{{item.ObservacionesRecibe}}</td>-->
                <!--<td style="min-width:150px"><input type="text" class="form-control" maxlength="30" ng-disabled="DeshabilitarCampo" ng-model="item.IdentificacionRecibe" placeholder="Ident. Recibe" /></td>
                <td style="min-width:300px"><input type="text" class="form-control" maxlength="100" ng-disabled="DeshabilitarCampo" ng-model="item.NombreRecibe" placeholder="Nombre Recibe" /></td>
                <td style="min-width:150px"><input type="text" class="form-control" maxlength="50" ng-disabled="DeshabilitarCampo" ng-model="item.TelefonoRecibe" placeholder="Teléfono Recibe" /></td>
                <td style="min-width:100px"><input name="txtFechVinc" type="datetime-local" class="form-control" ng-disabled="DeshabilitarCampo" ng-model="item.FechaRecibe"></td>
                <td style="min-width:100px"><input type="text" class="form-control" maxlength="10" ng-disabled="DeshabilitarCampo" ng-change="item.CantidadRecibida = MaskNumeroGrid(item.CantidadRecibida)" ng-model="item.CantidadRecibida" placeholder="Cantidad Recibe" /></td>
                <td style="min-width:100px"><input type="text" class="form-control" maxlength="10" ng-disabled="DeshabilitarCampo" ng-change="item.PesoRecibido = MaskNumeroGrid(item.PesoRecibido)" ng-model="item.PesoRecibido" placeholder="Peso Recibe" /></td>
                <td style="min-width:500px"><input type="text" class="form-control" maxlength="250" ng-disabled="DeshabilitarCampo" ng-model="item.ObservacionesRecibe" placeholder="Observaciones" /></td>-->
                <!--</tr>
                                </tbody>
                                <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                    <tr>
                                        <td colspan="4">
                                            <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                            <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                            <span style="color:red">
                                <small>{{ResultadoSinRegistros}}</small>
                            </span>
                        </div>
                    </div>
                </div>-->
                <!--Documentos-->

                <div class="row">

                    <div class="box box-default box-solid collapsed-box">
                        <!--Collapse-->
                        <div class="box-header with-border" ng-disabled="Bloquear">
                            <h3 class="box-title">
                                Adjuntar Documentos
                            </h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>

                        <!--Contenido-->
                        <div class="box-body">

                            <div class="row">
                                <div class="SeccionBotones">
                                    <div class="pull-right" style="margin-bottom:5px">
                                        <button type="button" class="btn btn-primary" title="Aceptar" ng-click="AgregarFilaDocumento()" ng-disabled="DeshabilitarGuardar">
                                            Agregar
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>


                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Documento</th>
                                            <th>Archivo</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ListadoDocumentos">
                                            <td>
                                                <input ng-change="MaskMayus()" maxlength="80" type="text" class="form-control" ng-model="item.NombreAsignado" placeholder="Ingrese un nombre" ng-disabled="false" />
                                            </td>
                                            <td>{{item.NombreDocumento}}.{{item.ExtensionDocumento}}</td>
                                            <td>
                                                <div tabindex="400" class="btn btn-primary btn-file" ng-if="item.AplicaArchivo > 0 && (item.NombreAsignado == undefined || item.NombreAsignado == null || item.NombreAsignado == '')" title="Debe primero asignar un nombre al documento para habilitar la carga de archivos">
                                                    <i class="glyphicon glyphicon-folder-open"></i>
                                                    <input type="file" class="" disabled="disabled">
                                                </div>

                                                <div tabindex="400" class="btn btn-primary btn-file" ng-if="item.AplicaArchivo > 0 && (item.NombreAsignado !== undefined && item.NombreAsignado !== null && item.NombreAsignado !== '')">
                                                    <i class="glyphicon glyphicon-folder-open"></i>
                                                    <input type="file" ng-click="SeleccionarObjeto(item)" ng-model-instant onchange="angular.element(this).scope().CargarArchivo(this)" accept="{{item.TipoArchivoDocumento}}" class="">
                                                </div>
                                                <button ng-if="item.ValorDocumento == 1" class="button mini-button btn-success" data-toggle="tooltip" title="Ver Archivo" ng-click="DesplegarArchivo(item)">
                                                    <span class="fa fa-file"></span>
                                                </button>
                                                <button ng-if="(item.ValorDocumento == 0 || item.ValorDocumento == Undefined) && item.AplicaDescargar > 0" class="button mini-button primary" disabled>
                                                    <span class="fa fa-file"></span>
                                                </button>
                                                <button ng-if="item.ValorDocumento == 1 && item.AplicaEliminar > 0 && DeshabilitarGuardar !== true" class="button mini-button btn-danger" data-toggle="tooltip" title="Eliminar Archivo" ng-click="ElimiarDocumento(item)">
                                                    <span class="fas fa-trash-alt"></span>
                                                </button>
                                                <button ng-if="(item.ValorDocumento == 0 || item.ValorDocumento == Undefined) &&  item.AplicaEliminar > 0" class="button mini-button primary" disabled>
                                                    <span class="fas fa-trash-alt"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <canvas id="CanvasVertical" width="500" height="700" style="display:none">
                                Accede a este script con un navegador que acepte canvas del HTML 5
                            </canvas>
                            <canvas id="CanvasHorizontal" width="700" height="500" style="display:none">
                                Accede a este script con un navegador que acepte canvas del HTML 5
                            </canvas>

                        </div>
                    </div>


                </div>

                <!------------------------------------>



                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina</label>
                            <span class="form-control">{{ModeloOficina}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModeloEstado" ng-options="i.Nombre for i in ListadoEstados" ng-disabled="DeshabilitarCampo"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" title="Cancelar" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="DeshabilitarGuardar">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>