﻿<div >

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>

    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>

    <section class="content">
        <form>
            <div id="filtrosConsulta">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h4>Fecha Inicio Vigencia</h4>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="IniVigenciaDesde">Desde</label>
                                    <input name="IniVigenciaDesde" type="date" class="form-control" ng-model="Modelo.IniVigeDesde">
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="IniVigenciaHasta">Hasta</label>
                                    <input name="IniVigenciaHasta" type="date" class="form-control" ng-model="Modelo.IniVigeHasta">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h4>Fecha Fin Vigencia</h4>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="FinVigenciaDesde">Desde</label>
                                    <input name="FinVigenciaDesde" type="date" class="form-control" ng-model="Modelo.FinVigeDesde">
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="FinVigenciaHasta">Hasta</label>
                                    <input name="FinVigenciaHasta" type="date" class="form-control" ng-model="Modelo.FinVigeHasta">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Vehículo</label>
                            <input type="text" class="form-control" maxlength="18" placeholder="Vehículo" ng-model="Modelo.Vehiculo" autocomplete="off"
                                   uib-typeahead="Vehi as Vehi.Placa for Vehi in AutocompleteVehiculos($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="Modelo.Vehiculo=VerificarAutocomplete(Modelo.Vehiculo);ObtenerInformacionTenedor();" />
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tenedor</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un tenedor" ng-model="Modelo.Tenedor" autocomplete="off"
                                   uib-typeahead="tenedores as tenedores.NombreCompleto for tenedores in AutocompleteTenedor($viewValue)| filter:$viewValue | limitTo: 5"
                                   ng-required="false" ng-blur="Modelo.Tenedor=VerificarAutocomplete(Modelo.Tenedor)">
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Conductor</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un conductor" ng-model="Modelo.Conductor" autocomplete="off"
                                   uib-typeahead="conductores as conductores.NombreCompleto for conductores in AutocompleteConductor($viewValue)| filter:$viewValue | limitTo: 5"
                                   ng-required="false" ng-blur="Modelo.Conductor=VerificarAutocomplete(Modelo.Conductor)">
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Causal">Causal</label>
                            <select name="Causal" class="form-control" ng-model="Modelo.Causal" ng-options="i.Nombre for i in ListadoCausales"></select>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <select name="estado" class="form-control" ng-model="Modelo.Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div id="lineButtons">
                            <div class="pull-left">
                                <button class="btn btn-block btn-primary" ng-click="Buscar()" title="Buscar" ng-disabled="DeshabilitarConsulta">
                                    Buscar
                                    <span class="glyphicon glyphicon-filter"></span>
                                </button>
                            </div>
                            <div class="pull-right">
                                <div class="pull-right">
                                    <button class="btn btn-block btn-primary" ng-disabled="DeshabilitarActualizar" ng-click="NuevoDocumento()" title="Nuevo">
                                        Nuevo
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div id="resultadoConsulta">
                            <div class="table-responsive" ng-if="ListaFidelizacionCausales.length > 0">
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Vehículo</th>
                                            <th>Tenedor</th>
                                            <th>Conductor</th>
                                            <th>Causal</th>
                                            <th>Puntos</th>
                                            <th>Fecha inicio</th>
                                            <th>Fecha fin</th>
                                            <th>Usuario crea</th>
                                            <th>Fecha crea</th>
                                            <th>Estado</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ListaFidelizacionCausales">
                                            <td><a href="#!GestionarCausalesFidelizacion/{{item.Codigo}}">{{item.Vehiculo.Placa}}</a></td>
                                            <td>{{item.Tenedor.NombreCompleto}}</td>
                                            <td>{{item.Conductor.NombreCompleto}}</td>
                                            <td>{{item.CATA_CPPV.Nombre}}</td>
                                            <td>{{item.Puntos}}</td>
                                            <td>{{item.FechaInicioVigencia | date:'dd/MM/yyyy'}}</td>
                                            <td>{{item.FechaFinVigencia | date:'dd/MM/yyyy'}}</td>
                                            <td>{{item.UsuarioCrea.CodigoUsuario}}</td>
                                            <td>{{item.FechaCrea | date:'dd/MM/yyyy'}}</td>
                                            <td class="text-center">
                                                <span ng-if="item.Anulado == 1" class="label pull-center bg-red">Anulado</span>
                                                <span ng-if="item.Estado == 1 && item.Anulado == 0" class="label label-success">Activo</span>
                                                <span ng-if="item.Estado == 0 && item.Anulado == 0" class="label label-warning">Vencido</span>
                                            </td>
                                            <td>
                                                <button class="button mini-button btn-danger" title="Anular" ng-click="ConfirmarAnularCausalFidelizacion(item.Codigo, item.Vehiculo)" ng-if="item.Anulado == 0">
                                                    <span class="fas fa-trash-alt"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                        <tr>
                                            <td colspan="9">
                                                <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                    <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                        <span class="item">&laquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                        <span class="item">&lsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                        <span class="item">&rsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                        <span class="item">&raquo;</span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                <span style="color:red">
                                    <small>{{ResultadoSinRegistros}}</small>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!-- Modal Confirmación Anular Causal -->
    <div class="modal fade" id="modalConfirmacionAnularCausal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de anular la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="SolicitarDatosAnulacion()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!-- Modal Asignar datos anulación-->
    <div class="modal fade" id="modalDatosAnularCausal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">

                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="alert alert-danger" role="alert" ng-if="MensajesErrorAnula.length > 0">
                                    <ul>
                                        <li ng-repeat="error in MensajesErrorAnula">
                                            <span>{{error}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <p><strong>Vechiculo:</strong> {{PlacaVehiculoAnulacion}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="causaAnulacion">Causa Anulación<small class="small">*</small></label>
                                    <input class="form-control" name="causaAnulacion" type="text" ng-model="CausaAnulacion">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Anular()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>