﻿<div >

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>

    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>

    <section class="content">
        <form>
            <div id="filtrosConsulta">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Vehículo</label>
                            <input type="text" class="form-control" maxlength="18" placeholder="Vehículo" ng-model="Modelo.Vehiculo" autocomplete="off"
                                   uib-typeahead="Vehi as Vehi.Placa for Vehi in AutocompleteVehiculos($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="Modelo.Vehiculo=VerificarAutocomplete(Modelo.Vehiculo);ObtenerInformacionTenedor();" />
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tenedor</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un tenedor" ng-model="Modelo.Tenedor" autocomplete="off"
                                   uib-typeahead="tenedores as tenedores.NombreCompleto for tenedores in AutocompleteTenedor($viewValue)| filter:$viewValue | limitTo: 5"
                                   ng-required="false" ng-blur="Modelo.Tenedor=VerificarAutocomplete(Modelo.Tenedor)">
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Conductor</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un conductor" ng-model="Modelo.Conductor" autocomplete="off"
                                   uib-typeahead="conductores as conductores.NombreCompleto for conductores in AutocompleteConductor($viewValue)| filter:$viewValue | limitTo: 5"
                                   ng-required="false" ng-blur="Modelo.Conductor=VerificarAutocomplete(Modelo.Conductor)">
                        </div>

                    </div>
                </div>

                <div class="row">

                    <div class="col-md-2 col-sm-6 col-xs-12" ng-show="ActivarCategoria">
                        <div class="form-group">
                            <label for="categoria">Categoría</label>
                            <select name="categoria" class="form-control" ng-model="Modelo.Categoria" ng-options="i.Nombre for i in ListadoCategorias"></select>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <select name="estado" class="form-control" ng-model="Modelo.Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div id="lineButtons">
                            <div class="pull-left">
                                <button class="btn btn-block btn-primary" ng-click="Buscar()" title="Buscar" ng-disabled="DeshabilitarConsulta">
                                    Buscar
                                    <span class="glyphicon glyphicon-filter"></span>
                                </button>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-block btn-primary" ng-disabled="DeshabilitarActualizar" ng-click="NuevoDocumento()" title="Nuevo">
                                    Nuevo
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div id="resultadoConsulta">
                            <div class="table-responsive" ng-if="ListaFidelizacion.length > 0">
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Vehículo</th>
                                            <th>Tenedor</th>
                                            <th>Conductor</th>
                                            <th ng-show="ActivarCategoria">Categoria</th>
                                            <th>Puntos</th>
                                            <th>Fecha Última Actualización</th>
                                            <th>Estado</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ListaFidelizacion">
                                            <td><a href="#!GestionarFidelizacion/{{item.Vehiculo.Codigo}}">{{item.Vehiculo.Placa}}</a></td>
                                            <td>{{item.Tenedor.NombreCompleto}}</td>
                                            <td>{{item.Conductor.NombreCompleto}}</td>
                                            <td ng-show="ActivarCategoria">{{item.CATA_CFTR.Nombre}}</td>
                                            <td class="text-right">{{item.TotalPuntos | number:0}}</td>
                                            <td>{{item.FechaActulizacion | date:'dd/MM/yyyy'}}</td>
                                            <td class="text-center">
                                                <span ng-if="item.Estado == 1" class="label label-success">Activo</span>
                                                <span ng-if="item.Estado == 0" class="label label-danger">Inactivo</span>
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                        <span class="fa fa-list"></span>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-right" style="overflow-y:scroll; max-height:100px; cursor:pointer">
                                                        <li>
                                                            <a ng-click="ConsultarFidelizacionCausales(item.Vehiculo.Codigo)" ng-disabled="Deshabilitar">
                                                                <span class="fa fa-credit-card" style="font-size:13px"></span> Causales
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a ng-click="ConsultarFidelizacionDespachos(item.Vehiculo.Codigo)" ng-disabled="Deshabilitar">
                                                                <span class="fa fa-bus" style="font-size:13px"></span> Despachos
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                        <tr>
                                            <td colspan="9">
                                                <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                    <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                        <span class="item">&laquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                        <span class="item">&lsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                        <span class="item">&rsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                        <span class="item">&raquo;</span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                <span style="color:red">
                                    <small>{{ResultadoSinRegistros}}</small>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>