﻿<div >

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>

    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>

    <section class="content">
        <form>
            <div id="filtrosConsulta">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="Manifiesto">No. Manifiesto</label>
                            <input name="Manifiesto" class="form-control" ng-model="NumDocuManifiesto" placeholder="Ingrese No. Manifiesto" maxlength="20" ng-change="MaskNumero()"
                                   ng-blur="ValidaManifiesto(NumDocuManifiesto)" ng-disabled="Deshabilitar">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="Planilla">No. Planilla</label>
                            <input name="Planilla" class="form-control" ng-model="NumDocuPlanilla" placeholder="Ingrese No. Planilla" maxlength="20" ng-change="MaskNumero()"
                                   ng-blur="ValidaPlanilla(NumDocuPlanilla)" ng-disabled="Deshabilitar">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Vehículo</label>
                            <input type="text" class="form-control" maxlength="18" ng-model="Modelo.Vehiculo.Placa" disabled />
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tenedor</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="" ng-model="Modelo.Tenedor.NombreCompleto" disabled>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Conductor</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="" ng-model="Modelo.Conductor.NombreCompleto" disabled>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Ruta">Ruta</label>
                            <input name="Ruta" class="form-control" ng-model="Modelo.Ruta.Nombre" placeholder="" disabled>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="puntos">Puntos</label>
                            <input maxlength="60" type="text" class="form-control text-right" ng-model="Modelo.Puntos" ng-change="MaskNumero();MaskValores()" disabled>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fechaInicial">Fecha Inicio Vigencia</label>
                            <input name="fechaInicial" type="date" class="form-control" ng-model="Modelo.FechaInicioVigencia" ng-blur="AsignarFecha(Modelo.FechaInicioVigencia);AsignarFechaFinVigencia(Modelo.FechaInicioVigencia)" ng-disabled="Deshabilitar">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fechaFinal">Fecha Fin Vigencia</label>
                            <input name="fechaFinal" type="date" class="form-control" ng-model="Modelo.FechaFinVigencia" disabled>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <!--<select name="estado" class="form-control" ng-model="Modelo.Estado" ng-options="i.Nombre for i in ListadoEstados" ng-disabled="DeshabilitarEstado"></select>-->
                            <input name="estado" type="text" class="form-control" ng-model="Modelo.Estado.Nombre" disabled>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="text-right">
                            <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="Deshabilitar">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()" >
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>