﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR REMESAS</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechIni">Fecha Inicial</label>
                            <input name="txtFechIni" type="date" class="form-control" ng-model="FechaInicio">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechFina">Fecha Final</label>
                            <input name="txtFechFina" type="date" class="form-control" ng-model="FechaFin">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroInicial">Número</label>
                            <input name="NumeroInicial" class="form-control" ng-model="ModeloNumero" placeholder="Ingrese número" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="SoliServ">No. Órden Servicio</label>
                            <input name="SoliServ" class="form-control" ng-model="ModeloOrdenServicio" placeholder="Ingrese número" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="Manifiesto">Planilla</label>
                            <input name="Manifiesto" class="form-control" ng-model="ModeloPlanilla" placeholder="Ingrese número" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="Manifiesto">Manifiesto</label>
                            <input name="Manifiesto" class="form-control" ng-model="ModeloManifiesto" placeholder="Ingrese número" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Cliente">Cliente</label>
                            <input name="Cliente" class="form-control" ng-model="ModeloCliente" placeholder="Ingrese el cliente" maxlength="50">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>No. Contenedor</label>
                            <input type="text" class="form-control" placeholder="N° Contenedor" ng-model="ModalNumeroContenedor" maxlength="30" tabindex="1" ng-change="MaskMayus()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="DocuClie">Documento Cliente</label>
                            <input name="DocuClie" class="form-control" ng-model="ModeloDocumentoCliente" placeholder="Ingrese número" maxlength="20">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="Placa">Placa</label>
                            <input name="Placa" class="form-control" ng-model="ModeloPlaca" placeholder="Ingrese la placa" maxlength="20">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Conductor">Conductor</label>
                            <input name="Conductor" class="form-control" ng-model="ModeloConductor" placeholder="Ingrese el cliente" maxlength="50">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Tenedor">Tenedor</label>
                            <input name="Tenedor" class="form-control" ng-model="ModeloTenedor" placeholder="Ingrese el tenedor" maxlength="50">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Remesa</label>
                            <select name="cmbTipoRemesa" class="form-control" ng-model="ModeloTipoRemesa" ng-options="i.Nombre for i in ListadoTipoRemesas"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina</label>
                            <select name="cmbOficina" class="form-control" ng-model="ModeloOficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModeloEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" title="Buscar Remesas" ng-click="paginaActual=1;Buscar()">
                        Buscar
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <!--<div class="pull-right">
                    <button class="btn btn-block btn-primary" title="Nuevo Documento" ng-click="NuevoDocumento()">
                        Nuevo
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>-->
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoRemesas.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Número</th>
                                <th>Fecha</th>
                                <th>Cliente</th>
                                <th>Vehículo</th>
                                <th>Semirremolque</th>
                                <th>Ruta</th>
                                <th>Órden Servicio</th>
                                <th>Planilla</th>
                                <th>Manifiesto </th>
                                <th>Cumplido</th>
                                <th>Factura</th>
                                <th>Estado</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoRemesas | orderBy:'Numero'">
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                            <span class="fa fa-list"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-left" style="overflow-y:scroll; max-height:100px">
                                            <li>
                                                <a ng-click="
                                                        Distribucion.Producto = ''; Distribucion.UnidadEmpaque = ''; Distribucion.Cantidad = ''; Distribucion.Peso = ''; Distribucion.DocumentoCliente = ''; Distribucion.Destinatario.NumeroIdentificacion = '';
                                                        Distribucion.Destinatario.NombreCompleto = ''; Distribucion.Destinatario.Ciudad = ''; Distribucion.Zona = ''; ListadoZonasDestinatario =''; Distribucion.Destinatario.Barrio = '';
                                                        Distribucion.Destinatario.Direccion = ''; Distribucion.Destinatario.CodigoPostal = ''; Distribucion.Destinatario.Telefonos = ''; Distribucion.Observaciones = ''; BloquearZona = true;
                                                        AbrirDistribucion(item)" href="" ng-class="{'optiondisabled': DeshabilitarActualizar == true}">
                                                    <span class="fa fa-truck"></span>Adicionar Distribución
                                                </a>
                                            </li>


                                            <li>
                                                <a ng-click="DesplegarInforme(item.Numero,1, 0)" ng-class="{'optiondisabled': DeshabilitarImprimir == true}">
                                                    <span class="glyphicon glyphicon-print" style="font-size:18px"></span>Imprimir Reporte
                                                </a>
                                            </li>

                                            <li>
                                                <a ng-click="AbrirEstadosDistribucion(item)">
                                                    <span class="fas fa-calendar-check-o"></span>Consultar Entrega
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="AnularDocumento(item.Numero,item.NumeroDocumento)" ng-show="item.Anulado == 0" ng-class="{'optiondisabled': DeshabilitarEliminarAnular == true}">
                                                    <span class="fas fa-trash-alt" style="font-size:18px; margin-right: 5px;"></span> Anular
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </td>
                                <td><a href="#!GestionarRemesa/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>
                                <td>{{item.Fecha | date:'dd/MM/yyyy' }}</td>
                                <td>{{item.Cliente.NombreCompleto}}</td>
                                <td>{{item.Vehiculo.Placa}}</td>
                                <td>{{item.Semirremolque.Placa}}</td>
                                <td>{{item.Ruta.Nombre}}</td>
                                <td>{{item.NumeroOrdenServicio}}</td>
                                <td>{{item.Planilla.NumeroDocumento}}</td>
                                <td>{{item.Manifiesto.NumeroDocumento}}</td>
                                <td>{{item.NumeroCumplido}}</td>
                                <td>{{item.Factura.Numero}}</td>
                                <td>
                                    <span ng-if="item.Estado == 0 && item.Anulado == 0" class="label label-warning">Borrador</span>
                                    <span ng-if="item.Estado == 1 && item.Anulado == 0" class="label label-success">Definitivo</span>
                                    <span ng-if="item.Anulado == 1" class="label label-danger">Anulado</span>
                                </td>


                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalEliminarTarifarioVentas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar la linea vehículo {{Nombre}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal puestos de control-->
    <div class="modal fade" id="modalDistribuciones" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-body modal-lg">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            DISTRIBUCIÓN REMESA
                        </h4>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger" role="alert" ng-if="MensajesErrorModal.length > 0">
                                <ul>
                                    <li ng-repeat="error in MensajesErrorModal">
                                        <span>{{error}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <label>No. Remesa</label>
                                        <p>{{NumeroDocumentoRemesa}}</p>
                                    </div>
                                    <!--<div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Producto</label>
                                            <span class="form-control">{{NombreProductoTransportado}}</span>
                                        </div>
                                    </div>-->
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Cantidad</label>
                                            <span class="form-control" style="text-align:right">{{NumeroCantidad | number: 0}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Peso (Kg)</label>
                                            <span class="form-control" style="text-align:right">{{NumeroPeso | number: 0}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <p style="text-align:left"><strong>Pendiente Distribución</strong></p>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Cantidad</label>
                                            <span class="form-control" style="text-align:right">{{NumeroCantidadPendiente | number: 0}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Peso (Kg)</label>
                                            <span class="form-control" style="text-align:right">{{NumeroPesoPendiente | number: 0}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="pull-left" id="BotonNuevo">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <br />
                                            <button type="button" class="btn btn-primary" title="Adicionar Distribucion" data-toggle="tooltip"
                                                    ng-click="Distribucion.Producto = ''; Distribucion.UnidadEmpaque = ''; Distribucion.Cantidad = ''; Distribucion.Peso = ''; Distribucion.DocumentoCliente = ''; Distribucion.Destinatario.NumeroIdentificacion = '';
                                                        Distribucion.Destinatario.NombreCompleto = ''; CargarTipoIdentificacion(); Distribucion.Destinatario.Ciudad = ''; Distribucion.Zona = ''; Distribucion.SitioEntrega = ''; ListadoZonasDestinatario =''; Distribucion.Destinatario.Barrio = '';
                                                        Distribucion.Destinatario.Direccion = ''; Distribucion.Destinatario.CodigoPostal = ''; Distribucion.Destinatario.Telefonos = ''; Distribucion.Observaciones = ''; BloquearZona = true; CargarDatosRemesa()">
                                                Adicionar
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="NuevaDistribucion">
                                <div class="box box-default box-solid">
                                    <div class="box-header with-border">
                                        <h3 class="box-title ng-binding">Distribución</h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <div class="form-group">
                                                    <label>Producto</label>
                                                    <input type="text" class="form-control" placeholder="Ingrese producto transportado" ng-model="Distribucion.Producto" uib-typeahead="i as i.Nombre for i in ListaProductoTransportados| filter:$viewValue | limitTo: 5" ng-blur="Distribucion.Producto=VerificarAutocomplete(Distribucion.Producto)" />
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Unidad Empaque</label>
                                                    <select class="form-control" ng-model="Distribucion.UnidadEmpaque" ng-options="i.Nombre for i in ListadoUnidadEmpaque | orderBy:'Nombre'"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label>Cantidad</label>
                                                    <input style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="8" placeholder="Ingrese cantidad" ng-model="Distribucion.Cantidad" />
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label>Peso (Kg)</label>
                                                    <input style="text-align:right" ng-change="MaskValores(); ValidarPeso(Distribucion.Peso)" class="form-control" maxlength="8" placeholder="Ingrese peso" ng-model="Distribucion.Peso" />
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Documento Cliente</label>
                                                    <input class="form-control" maxlength="20" placeholder="Ingrese documento cliente" ng-model="Distribucion.DocumentoCliente" />
                                                </div>
                                            </div>
                                            <!--<div class="col-md-4 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Fecha Documento Cliente</label>
                                                    <input name="Fecha" type="date" class="form-control" ng-model="Distribucion.FechaDocumentoCliente">
                                                </div>
                                            </div>-->
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="box box-default box-solid">
                                                    <div class="box-header with-border">
                                                        <h3 class="box-title ng-binding">Destinatario</h3>
                                                        <div class="box-tools pull-right">
                                                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                                        </div>
                                                    </div>
                                                    <div class="box-body">
                                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                                            <div class="form-group">
                                                                <label for="lblTipoIden">Tipo Iden.</label>
                                                                <select name="cmbTipoIden" class="form-control" ng-model="Distribucion.Destinatario.TipoIdentificacion" ng-options="i.Nombre for i in ListadoTipoIdentificacion"></select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                                            <div class="form-group">
                                                                <label>Número Iden.</label>
                                                                <input ng-change="MaskNumero()" placeholder="Digite número identificación" maxlength="30" type="text" class="form-control" ng-model="Distribucion.Destinatario.NumeroIdentificacion" ng-blur="VerificarDestinatario(Distribucion.Destinatario.NumeroIdentificacion)">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5 col-sm-8 col-xs-12">
                                                            <div class="form-group">
                                                                <label>Nombre</label>
                                                                <input ng-change="MaskMayus()" maxlength="50" placeholder="Digite nombre" type="text" class="form-control" ng-model="Distribucion.Destinatario.NombreCompleto">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-sm-8 col-xs-12">
                                                            <div class="form-group">
                                                                <label>Ciudad</label>
                                                                <input autocomplete="off" type="text" class="form-control" maxlength="50" placeholder="Ingrese ciudad" ng-model="Distribucion.Destinatario.Ciudad"
                                                                       uib-typeahead="i as i.NombreCompleto for i in ListaCiudades| filter:$viewValue | limitTo: 5" ng-blur="CambiarZonasCiudad(Distribucion.Destinatario.Ciudad)" ng-change="ListadoSitiosCargueAlterno2 = [];Distribucion.SitioEntrega = '';Distribucion.Destinatario.Direccion=''">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                                            <div class="form-group">
                                                                <label for="lblZona">Zona</label>
                                                                <select name="cmbZona" class="form-control" ng-model="Distribucion.ZonaDestinatario" ng-disabled="BloquearZona" ng-options="i.Nombre for i in ListadoZonasDestinatario"></select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-sm-8 col-xs-12">
                                                            <div class="form-group">
                                                                <label>Sitio Entrega</label>
                                                                <input maxlength="50" type="text" class="form-control" placeholder="Ingrese sitio" ng-model="Distribucion.SitioEntrega"
                                                                       uib-typeahead="sitio as sitio.Nombre for sitio in AutocompleteSitiosClienteCargue($viewValue, Distribucion.Destinatario,Distribucion.Destinatario.Ciudad)| filter:$viewValue | limitTo: 5" ng-required="false"
                                                                       ng-blur="Distribucion.SitioEntrega=VerificarAutocomplete(Distribucion.SitioEntrega); Distribucion.Destinatario.Direccion = Distribucion.SitioEntrega.DireccionSitio;Distribucion.Destinatario.Telefonos = Distribucion.SitioEntrega.Telefono;">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-sm-8 col-xs-12">
                                                            <div class="form-group">
                                                                <label>Dirección</label>
                                                                <input ng-change="MaskDireccion()" placeholder="Digite dirección" maxlength="150" type="text" class="form-control" ng-model="Distribucion.Destinatario.Direccion">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                                            <div class="form-group">
                                                                <label>Barrio</label>
                                                                <input ng-change="MaskMayus()" placeholder="Digite barrio" maxlength="50" type="text" class="form-control" ng-model="Distribucion.Destinatario.Barrio">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                                            <div class="form-group">
                                                                <label>Teléfono</label>
                                                                <input ng-change="MaskTelefono()" placeholder="Digite teléfono" maxlength="30" type="text" class="form-control" ng-model="Distribucion.Destinatario.Telefonos">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                                            <div class="form-group">
                                                                <label>Código Postal</label>
                                                                <input ng-change="MaskNumero()" placeholder="Digite código postal" maxlength="8" type="text" class="form-control" ng-model="Distribucion.Destinatario.CodigoPostal">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="form-group">
                                                                <label>Observaciones</label>
                                                                <input style="height:55px" type="text" class="form-control" maxlength="500" ng-model="Distribucion.Observaciones">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <br />
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <button type="button" class="btn btn-default" title="Cancelar" data-toggle="tooltip" onclick="$('#NuevaDistribucion').hide(500);$('#BotonNuevo').show(500)">
                                                    Cancelar
                                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                                </button>
                                                <button type="button" class="btn btn-primary" title="Adicionar" data-toggle="tooltip" ng-click="InsertarDistribucion()">
                                                    Adicionar
                                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align:center" class="col-md-12" ng-if="ListaDistribucion.length <= 0">
                        <span style="color:red">
                            <small>{{ResultadoSinRegistrosDistribucion}}</small>
                        </span>
                    </div>
                    <div class="modal-body">
                        <div id="resultadoConsulta" class="table-responsive" ng-if="ListaDistribucion.length > 0">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Documento Cliente</th>
                                        <th>Ciudad</th>
                                        <th>Zona</th>
                                        <th>Dirección</th>
                                        <th>Destinatario</th>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Peso</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListaDistribucion">
                                        <td>{{item.DocumentoCliente}}</td>
                                        <td>{{item.Destinatario.Ciudad.Nombre}}</td>
                                        <td>{{item.ZonaDestinatario.Nombre}}</td>
                                        <td>{{item.Destinatario.Direccion}}</td>
                                        <td>{{item.Destinatario.NombreCompleto}}</td>
                                        <td>{{item.Producto.Nombre}}</td>
                                        <td style="text-align:right">{{MaskValoresGrid(item.Cantidad)}}</td>
                                        <td style="text-align:right">{{MaskValoresGrid(item.Peso)}}</td>
                                        <td>
                                            <button class="button mini-button btn-danger" title="Eliminar" ng-click="EliminarNovedadesDespachos(item.Codigo,item.Destinatario.Ciudad.Nombre)" ng-disabled="DeshabilitarEliminarAnular || item.DistribucionRecidida">
                                                <span class="fas fa-trash-alt"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cerrar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal Asignar datos anulación-->
    <div class="modal fade" id="modalAnular" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <ul>
                        <li ng-repeat="error in MensajesErrorAnular">
                            <span class="errorField">{{error}}</span>
                        </li>
                    </ul>
                    <div class="modal-body">
                        <p>¿Está seguro de Anular la remesa {{NumeroDocumento}}?</p>

                        <label>Causa Anulacion</label>
                        <input name="nombre" class="form-control" ng-model="ModeloCausaAnula" placeholder="Ingrese una Causa" maxlength="40">

                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Anular()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeEliminarTarifarioVentas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click="MostrarMensajeErrorModal()"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="MostrarMensajeErrorModal()">
                                Mensaje Completo
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal confirmar eliminar distribucion-->
    <div class="modal fade" id="modalEliminarDistribucionRemesas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar distribución para la ciudad {{NombreCiudadDistribucionRemesa}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


    <!--Modal Distribuciones-->
    <div class="modal fade" id="modalEstadosDistribuciones" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-body modal-lg">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            ENTREGAS REMESA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorModal.length > 0">
                                        <ul>
                                            <li ng-repeat="error in MensajesErrorModal">
                                                <span>{{error}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                <label>No. Remesa</label>
                                                <p>{{NumeroDocumentoRemesa}}</p>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Producto</label>
                                                    <span class="form-control">{{NombreProductoTransportado}}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Cantidad</label>
                                                    <span class="form-control" style="text-align:right">{{NumeroCantidad | number: 0}}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Peso (Kg)</label>
                                                    <span class="form-control" style="text-align:right">{{NumeroPeso | number: 0}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align:center" class="col-md-12" ng-if="ListaDistribucion.length <= 0">
                        <span style="color:red">
                            <small>{{ResultadoSinRegistrosDistribucion}}</small>
                        </span>
                    </div>
                    <div class="modal-body">
                        <div id="resultadoConsulta" class="table-responsive" ng-if="ListaDistribucion.length > 0">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Detalle Entrega</th>
                                        <th>Documento Cliente</th>
                                        <th>Estado</th>
                                        <th>Ciudad</th>
                                        <th>Zona</th>
                                        <th>Dirección</th>
                                        <th>Destinatario</th>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Peso</th>
                                        <th>Nombre Recibe</th>
                                        <th>Teléfono Recibe</th>
                                        <th>Observaciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListaDistribucion">
                                        <td>
                                            <button type="button" class="btn btn-default" title="Registrar entrega" ng-click="ConsultarControlEntregas(item)" ng-show="(item.EstadoDistribucionRemesas.Codigo == 11402)">
                                                Entrega
                                                <i class="fas fa-clipboard-check"></i>
                                            </button>
                                        </td>
                                        <td>{{item.DocumentoCliente}}</td>
                                        <td>
                                            <span ng-if="item.EstadoDistribucionRemesas.Codigo == 11401 " class="label label-info">PROCESANDO</span>
                                            <span ng-if="item.EstadoDistribucionRemesas.Codigo == 11402 " class="label label-success">ENTREGADA</span>
                                            <span ng-if="item.EstadoDistribucionRemesas.Codigo == 11403 " class="label label-warning">RECHAZADA</span>

                                        </td>
                                        <td>{{item.Destinatario.Ciudad.Nombre}}</td>
                                        <td>{{item.ZonaDestinatario.Nombre}}</td>
                                        <td>{{item.Destinatario.Direccion}}</td>
                                        <td>{{item.Destinatario.NombreCompleto}}</td>
                                        <td>{{item.Producto.Nombre}}</td>
                                        <td style="text-align:right">{{item.Cantidad | number : 0}}</td>
                                        <td style="text-align:right">{{item.Peso | number : 0}}</td>
                                        <td>{{item.NombreRecibe}}</td>
                                        <td>{{item.TelefonoRecibe}}</td>

                                        <td>
                                            {{item.Observaciones}}
                                            <a href="" data-toggle="tooltip" ng-show="item.OcultarVerMas" title={{item.ObservacionCompleta}}>...Ver más</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="DeshabilitarCerrarModal">
                                Cerrar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

        <!-- Modal Control Entregas-->
    
    <div class="modal fade" id="modalControlEntregas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            ENTREGA REMESA
                        </h4>
                    </div>
                    <div class="modal-body">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="box box-default box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title ng-binding">Destinatario</h3>
                                    <div class="box-tools pull-right">
                                        <button id="Destinatario" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <label for="lblTipoIden">Tipo Identificación</label>
                                                <select name="cmbTipoIden" class="form-control" ng-model="Destinatario.TipoIdentificacion" ng-options="i.Nombre for i in ListadoTipoIdentificacion" ng-disabled="DeshabilitarDatosRecibe"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <label>Identificación</label>
                                                <input ng-change="MaskNumero()" placeholder="Digite identificación" maxlength="30" type="text" class="form-control" ng-model="Destinatario.NumeroIdentificacion" ng-disabled="DeshabilitarDatosRecibe">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-8 col-xs-12">
                                            <div class="form-group">
                                                <label>Nombre</label>
                                                <input ng-change="MaskMayus()" maxlength="50" placeholder="Digite nombre" type="text" class="form-control" ng-model="Destinatario.NombreCompleto" ng-disabled="DeshabilitarDatosRecibe">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <label>Ciudad</label>
                                                <input autocomplete="off" type="text" class="form-control" maxlength="50" placeholder="Ingrese ciudad" ng-model="Destinatario.Ciudad.Nombre" ng-disabled="DeshabilitarDatosRecibe">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <label for="lblZona">Zona</label>
                                                <input class="form-control" type="text" ng-model="Destinatario.ZonaDestinatario.Nombre" ng-disabled="DeshabilitarDatosRecibe">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-8 col-xs-12">
                                            <div class="form-group">
                                                <label>Sitio Entrega</label>
                                                <span class="form-control" ng-disabled="true"> {{Destinatario.SitioEntrega.Nombre}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-8 col-xs-12">
                                            <div class="form-group">
                                                <label>Barrio</label>
                                                <input ng-change="MaskMayus()" placeholder="Digite barrio" maxlength="50" type="text" class="form-control" ng-model="Destinatario.Barrio" ng-disabled="DeshabilitarDatosRecibe">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-8 col-xs-12">
                                            <div class="form-group">
                                                <label>Dirección</label>
                                                <input ng-change="MaskDireccion()" placeholder="Digite dirección" maxlength="150" type="text" class="form-control" ng-model="Destinatario.Direccion" ng-disabled="DeshabilitarDatosRecibe">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <label>Código Postal</label>
                                                <input ng-change="MaskNumero()" placeholder="Digite código postal" maxlength="8" type="text" class="form-control" ng-model="Destinatario.CodigoPostal" ng-disabled="DeshabilitarDatosRecibe">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <label>Teléfono</label>
                                                <input ng-change="MaskTelefono()" placeholder="Digite teléfono" maxlength="30" type="text" class="form-control" ng-model="Destinatario.Telefonos" ng-disabled="DeshabilitarDatosRecibe">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="box box-default box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title ng-binding">Recibe</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="row">

                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label>Cantidad</label>
                                                <input style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="8" placeholder="Ingrese cantidad" ng-model="Recibe.Cantidad" ng-disabled="DeshabilitarDatosRecibe" ng-blur="VerificarCantidad()">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label>Peso (Kg)</label>
                                                <input style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="8" placeholder="Ingrese peso" ng-model="Recibe.Peso" ng-disabled="DeshabilitarDatosRecibe" ng-blur="VerificarPeso()">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label>Tipo Identificación</label>
                                                <select class="form-control" ng-model="Recibe.TipoIdentificacionRecibe" ng-options="i.Nombre for i in ListadoTipoIdentificacion  | orderBy:'Nombre' " ng-disabled="DeshabilitarDatosRecibe"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label>Identificación</label>
                                                <input ng-change="MaskNumero()" placeholder="Digite identificación" maxlength="30" type="text" class="form-control" ng-model="Recibe.NumeroIdentificacion" ng-disabled="DeshabilitarDatosRecibe" ng-blur="VerificarRecibe(Modal.NumeroIdentificacion)">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-8 col-xs-12">
                                            <div class="form-group">
                                                <label>Nombre</label>
                                                <input ng-change="MaskMayus()" maxlength="50" placeholder="Digite nombre" type="text" class="form-control" ng-model="Recibe.NombreCompleto" ng-disabled="DeshabilitarDatosRecibe">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <label>Teléfono</label>
                                                <input ng-change="MaskTelefono()" placeholder="Digite teléfono" maxlength="30" type="text" class="form-control" ng-model="Recibe.Telefonos" ng-disabled="DeshabilitarDatosRecibe">
                                            </div>
                                        </div>


                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label>Observaciones</label>
                                                <input style="height:55px" type="text" class="form-control" maxlength="500" ng-model="Recibe.Observaciones" ng-disabled="DeshabilitarDatosRecibe">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <br />
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <label class="text-center">Foto</label>
                            <img class="img-responsive" style="width:100%" src="{{Foto[0].FotoCargada}}" id="FotoRecibe" />
                        </div>

                        <br />
                        <div class="row">
                            <div class=" col-sm-6 col-xs-12">
                                <label class="text-center">Firma</label>
                                <img style="width:100%;border:1px solid #000" ng-src="{{Recibe.FirmaImg}}" />
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                   
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="DeshabilitarCerrarModal">
                                Cerrar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</div>