﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <!-- Encabezado -->
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <span class="form-control" disabled>{{Modelo.NumeroDocumento}}</span>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha</label>
                            <span class="form-control" disabled>{{Modelo.Fecha |date: 'dd/MM/yyyy'}}</span>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Linea de Negocio</label>
                            <input type="text" class="form-control" ng-model="LineaNegocio" disabled />
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Forma de Pago</label>
                            <input type="text" class="form-control" ng-model="FormaDePago.Nombre" disabled />
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Cliente</label>
                            <input type="text" class="form-control" ng-model="Modelo.Cliente" disabled />
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Documento Cliente</label>
                            <input type="text" class="form-control" ng-model="Modelo.DocumentoCliente" disabled />
                        </div>
                    </div>

                </div>

                <!-- Información Despacho -->
                <div>
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Información Despacho</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Ruta</label>
                                        <input type="text" class="form-control" ng-model="Modelo.Ruta" disabled />
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Placa</label>
                                        <input type="text" class="form-control" ng-model="Modelo.PlacaVehiculo" disabled />
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Tipo Vehículo</label>
                                        <input type="text" class="form-control" ng-model="Modelo.TipoVehiculo" disabled />
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Semiremolque</label>
                                        <input type="text" class="form-control" ng-model="Modelo.PlacaRemolque" disabled />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Tenedor</label> <label ng-show="Modelo.numIdeTenedor != undefined"> - {{Modelo.numIdeTenedor}} </label>
                                        <input type="text" class="form-control" ng-model="Modelo.NombreTenedor" disabled />
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Operador de vehículo</label> <label ng-show="Modelo.CodigoConductor != undefined"> - {{Modelo.CodigoConductor}} </label>
                                        <input type="text" class="form-control" ng-model="Modelo.NombreConductor" disabled />
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Teléfono Conductor</label>
                                        <input type="text" class="form-control" ng-model="Modelo.TelefonoConductor" disabled />
                                    </div>
                                </div>
                                <!--Valor Declarado-->
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="form-group">
                                        <label>Valor Declarado</label>
                                        <input type="text" name="txtTelefonoRemi" class="form-control text-right" placeholder="Teléfonos" ng-model="Modelo.ValorDeclarado" maxlength="100" tabindex="1" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Remitente / Destinatario</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>

                    <div class="box-body">

                        <div class="col-sm-12">
                            <fieldset class="px-3 py-2 mb-4">
                                <legend>Remitente</legend>
                                <div class="row">

                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input type="text" class="form-control" ng-model="Modelo.NombreRemitente" disabled />
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Ciudad</label>
                                            <input type="text" class="form-control" ng-model="Modelo.CiudadRemitente" disabled />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Dirección</label>
                                            <input type="text" class="form-control" ng-model="Modelo.DireccionRemitente" disabled />
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Teléfono</label>
                                            <input type="text" class="form-control" ng-model="Modelo.TelefonoRemitente" disabled />
                                        </div>
                                    </div>

                                </div>
                            </fieldset>
                        </div>

                        <div class="col-sm-12">
                            <fieldset class="px-3 py-2 mb-4">
                                <legend>Destinatario</legend>
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input type="text" class="form-control" ng-model="Modelo.NombreDestinatario" disabled />
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Ciudad</label>
                                            <input type="text" class="form-control" ng-model="Modelo.CiudadDestinatario" disabled />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Dirección</label>
                                            <input type="text" class="form-control" ng-model="Modelo.DireccionDestinatario" disabled />
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Teléfono</label>
                                            <input type="text" class="form-control" ng-model="Modelo.TelefonoDestinatario" disabled />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                    </div>                       

                </div>

                    <fieldset class="box box-default box-solid">

                        <div class="box-header with-border">
                            <h3 class="box-title">
                                Tarifa/Producto
                            </h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse" id="btnTarifa"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>

                        <div class="box-body">

                            <div class="row">
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Tarifa</label>
                                        <input type="text" class="form-control" ng-model="Modelo.TipoTarifaCliente" disabled />
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Tipo Tarifa</label>
                                        <input type="text" class="form-control" ng-model="Modelo.ValorTipoTarifaCliente" disabled />
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Producto Transportado</label>
                                        <input type="text" class="form-control" ng-model="Modelo.Producto" disabled />
                                    </div>
                                </div>

                                <div class="col-md-1 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Cantidad</label>
                                        <input type="text" class="form-control" style="text-align:right" ng-model="Modelo.Cantidad | number:0" ng-change="MaskValores()" disabled />
                                    </div>
                                </div>
                                <div class="col-md-1 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Peso</label>
                                        <input type="text" class="form-control " style="text-align:right" ng-model="Modelo.Peso" ng-change="MaskValores()" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <fieldset class="px-3 py-2 mb-4">
                                <legend>Contenedor</legend>
                                <div class="row">
                                    <!--Número Contenedor-->
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label>No. Contenedor</label>
                                            <input type="text" class="form-control" placeholder="N° Contenedor" ng-model="ModalNumeroContenedor" maxlength="30" tabindex="1" ng-change="MaskMayus()" disabled>
                                        </div>
                                    </div>
                                    <!--Mbl-->
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label>MBL</label>
                                            <input type="text" class="form-control" placeholder="MBL" ng-model="ModalMBLContenedor" maxlength="30" tabindex="1" ng-change="MaskMayus()" disabled>
                                        </div>
                                    </div>
                                    <!--HBL-->
                                    <div class="col-md-2 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label>HBL</label>
                                            <input type="text" class="form-control" placeholder="HBL" ng-model="ModalHBLContenedor" maxlength="30" tabindex="1" ng-change="MaskMayus()" disabled>
                                        </div>
                                    </div>
                                    <!--DO-->
                                    <div class="col-md-2 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label>DO</label>
                                            <input type="text" class="form-control" placeholder="DO" ng-model="ModalDOContenedor" maxlength="30" tabindex="1" ng-change="MaskMayus()" disabled>
                                        </div>
                                    </div>
                                    <!--ValorFOB-->
                                    <div class="col-md-2 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor FOB</label>
                                            <input type="text" class="form-control" placeholder="FOB" ng-model="ModalValorFOB" maxlength="30" tabindex="1" ng-change="MaskValores()" disabled>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </fieldset>

                    <!-- Fletes -->
                    <div>
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Fletes</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">

                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Flete Cliente</label>
                                            <input type="text" class="form-control" style="text-align:right" ng-model="Modelo.FleteCliente" ng-change="MaskNumero()" disabled />
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor Manejo</label>
                                            <input type="text" class="form-control" style="text-align:right" ng-model="Modelo.ValorManejo" ng-change="MaskNumero()" disabled />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor Cargue</label>
                                            <input type="text" class="form-control" style="text-align:right" ng-model="Modelo.ValorCargue" ng-change="MaskNumero()" disabled />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor Descargue</label>
                                            <input type="text" class="form-control" style="text-align:right" ng-model="Modelo.ValorDescargue" ng-change="MaskNumero()" disabled />
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor Flete Cliente</label>
                                            <input type="text" class="form-control" style="text-align:right" ng-model="Modelo.TotalFleteCliente" ng-change="MaskNumero()" disabled />
                                        </div>
                                    </div>

                                    <!--<div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Anticipo</label>
                            <input type="text" class="form-control" ng-model="Modelo.Anticipo" ng-change="MaskNumero()" disabled />
                        </div>
                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box box-default box-solid collapsed-box">
                                <!--Collapse-->
                                <div class="box-header with-border">
                                    <h3 class="box-title">Información Remesa</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <!--Contenido-->
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <label>Oficina Origen</label>
                                                <span class="form-control">{{Modelo.OficinaOrigen.Nombre}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <label>Aforador {{Modelo.numIdeConductor}}</label>
                                                <span class="form-control">{{Modelo.NombreConductor}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <fieldset class="px-3 py-2 mb-4">
                                                <legend>Estado Remesa</legend>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Estado</label>
                                                            <span class="form-control">{{ModeloEstado}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Fecha Estado</label>
                                                            <span class="form-control">{{Modelo.Fecha  | date:'dd/MM/yyyy HH:mm:ss'}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Oficina Responsable</label>
                                                            <span class="form-control">{{ModeloOficina}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <!-- Documentsos Relacionados -->
                                        <div class="col-md-12">
                                            <fieldset class="px-3 py-2 mb-4">
                                                <legend> Documentos Relacionados</legend>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Orden de Servicio</label>
                                                            <span class="form-control">{{Modelo.OrdenServicio}} </span>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Orden de Cargue</label>
                                                            <span class="form-control">{{Modelo.OrdenCargue}} </span>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Planilla Despacho</label>
                                                            <span class="form-control">{{Modelo.NumeroPlanilla}} </span>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Manifiesto</label>
                                                            <span class="form-control">{{Modelo.NumeroManifiesto}} </span>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Factura</label>
                                                            <span class="form-control">{{Modelo.NumeroFactura}} </span>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Legalización Recaudo</label>
                                                            <span class="form-control">{{Modelo.Recaudo}} </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" title="Cancelar" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <!--<button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="DeshabilitarActualizar">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>-->
                </div>
            </div>
        </form>
    </div>

    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>