﻿<div ng-controller="GestionarRemesasPaqueteriaPortalCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>

            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>

                <div class="row">

                    <!--Numero-->
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <span class="form-control">{{Modelo.Remesa.NumeroDocumento}}</span>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label>No. Preimpreso</label>
                            <input type="text" class="form-control" ng-model="Modelo.Remesa.Numeracion" ng-disabled="Deshabilitar" />
                        </div>
                    </div>
                    <!--Fecha-->
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label>Fecha</label>
                            <input type="date" class="form-control" ng-model="Modelo.Remesa.Fecha" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <!--Tipo Entrega-->
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Entrega</label>
                            <select class="form-control" ng-model="Modelo.TipoEntregaRemesaPaqueteria" ng-options="i.Nombre for i in ListadoTipoEntregaRemesaPaqueteria" ng-disabled="Deshabilitar"></select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12" ng-show="!Modelo.Remesa.NumeroDocumento > 0">
                        <div class="form-group">
                            <label>Oficina Destino</label>
                            <select name="cmbOficina" class="form-control" ng-model="Modelo.OficinaDestino" ng-options="i.Nombre for i in ListaOficinas" ng-disabled="DeshabilitarOficinaDestino || Deshabilitar"></select>
                        </div>
                    </div>
                </div>

                <!--DATOS REMITENTES-->
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Remitente</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="alert alert-info alert-dismissible" ng-show="RemitenteNoRegistrado">
                            <a href="" class="close" ng-click="RemitenteNoRegistrado = false" aria-label="close">&times;</a>
                            El remitente no se encuentra registrado, sin embargo puede crearlo llenando el resto de campos.
                        </div>

                        <div class="row">

                            <!--Cliente-->
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblTenedor">Cliente</label>
                                    <input maxlength="60" type="text" autocomplete="off" class="form-control" placeholder="Seleccione un Tenedor" ng-model="Modelo.Remesa.Cliente" ng-change="ObtenerInformacionCliente()"
                                           uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in Sesion.FilterLst($viewValue,ListaClientes,'NombreCompleto') | filter:$viewValue | limitTo: 5"
                                           ng-blur="Modelo.Remesa.Cliente=VerificarAutocomplete(Modelo.Remesa.Cliente);ConsultarDatosClienteRemitente(Modelo.Remesa.Cliente);ObtenerTarifarioCliente()" ng-disabled="Deshabilitar">
                                </div>
                            </div>

                            <!--Documento Cliente-->
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Documento Cliente</label>
                                    <input type="text" ng-change="MaskNumero()" class="form-control" maxlength="18" placeholder="Documento Cliente" ng-model="Modelo.Remesa.NumeroDocumentoCliente" ng-disabled="Deshabilitar" />
                                </div>
                            </div>
                            <!--Documento Cliente-->
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Centro Costo</label>
                                    <input type="text" ng-change="MaskMayus()" class="form-control" maxlength="18" placeholder="Centro Costo" ng-model="Modelo.Remesa.CentroCosto" ng-disabled="Deshabilitar" />
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Linea Servicio</label>
                                    <select name="cmbEstado" class="form-control" ng-model="Modelo.Remesa.Remitente.LineaSerivicioCliente" ng-options="i.Nombre for i in ListadoLineaServicio | orderBy:'Nombre'" ng-disabled="Deshabilitar"></select>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <!--Tipo identificacion-->
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Tipo Identificación</label>
                                    <select name="cmbEstado" class="form-control" ng-model="Modelo.Remesa.Remitente.TipoIdentificacion" ng-options="i.Nombre for i in ListadoTipoIdentificacion" ng-disabled="BloqueoRemitenteIdentificacion || Deshabilitar"></select>
                                </div>
                            </div>

                            <!--Numero Identificacion-->
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Número Identificación</label>
                                    <input maxlength="20" type="text" ng-change="MaskNumero()" class="form-control" placeholder="Ingrese el numero de identificacion" ng-model="Modelo.Remesa.Remitente.NumeroIdentificacion" ng-required="false" ng-blur="ObtenerRemitente(true)" ng-disabled="BloqueoRemitenteIdentificacion || Deshabilitar">
                                </div>
                            </div>

                            <!--Nombre-->
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input maxlength="50" type="text" class="form-control" ng-change="MaskMayus()" placeholder="Ingrese nombre completo" ng-model="Modelo.Remesa.Remitente.Nombre" ng-required="false" ng-disabled="BloqueoRemitenteNombre || Deshabilitar">
                                </div>
                            </div>

                            <!--Ciudad Origen-->
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>Ciudad</label>
                                    <input maxlength="60" type="text" class="form-control" placeholder="Seleccione una ciudad de origen" ng-model="Modelo.Remesa.Remitente.Ciudad" ng-required="false" ng-disabled="Deshabilitar" uib-typeahead="Ciudad as Ciudad.NombreCompleto for Ciudad in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5" ng-blur="Modelo.Remesa.Remitente.Ciudad=VerificarAutocomplete(Modelo.Remesa.Remitente.Ciudad);ObtenerTarifarioCliente()">
                                </div>
                            </div>

                            <!--Barrio-->
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Barrio</label>
                                    <input maxlength="80" type="text" class="form-control" placeholder="Ingrese barrio" ng-model="Modelo.Remesa.BarrioRemitente" ng-disabled="Deshabilitar">
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="Cuenta">Sitio Cargue</label>
                                    <input type="text" class="form-control" name="Ciudad Cargue" maxlength="50" id="ModeloCiudadCargue" placeholder="Ingrese un Sitio Cargue" ng-model=" Modelo.Remesa.Remitente.SitioCargue" ng-disabled="Deshabilitar" autocomplete="off"
                                           uib-typeahead="i as i.SitioCliente.Nombre for i in AutocompleteSitiosClienteCargue($viewValue, Modelo.Remesa.Remitente,Modelo.Remesa.Remitente.Ciudad)| filter:$viewValue | limitTo: 5" ng-required="false"
                                           ng-blur=" Modelo.Remesa.Remitente.SitioCargue=VerificarAutocomplete(Modelo.Remesa.Remitente.SitioCargue); Modelo.Remesa.Remitente.Direccion = Modelo.Remesa.Remitente.SitioCargue.DireccionSitio; Modelo.Remesa.Remitente.Telefonos = Modelo.Remesa.Remitente.SitioCargue.Telefono">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="catalogos">Dirección</label>
                                    <input class="form-control" data-live-search="true" ng-model="Modelo.Remesa.Remitente.Direccion" ng-disabled="Deshabilitar" ng-change="MaskMayus()" ng-required="false">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-10">
                                <div class="form-group">
                                    <label for="lblCodPost">Código Postal</label>
                                    <input ng-change="MaskNumero()" placeholder="Código Postal" name="txtCodPost" type="text" maxlength="15" class="form-control" ng-model="Modelo.Remesa.CodigoPostalRemitente" ng-disabled="Deshabilitar">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Teléfono</label>
                                    <input maxlength="60" type="text" class="form-control" ng-change="MaskNumero()" placeholder="Ingrese telefono" ng-model="Modelo.Remesa.Remitente.Telefonos" ng-disabled="Deshabilitar" ng-required="false">
                                </div>
                            </div>
                            <!--Direccion-->
                            <!--<div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Dirección</label>
                                    <input name="cmbEstado" ng-show="!ListadoDireccionesRemitente.length > 0" class="form-control" ng-model="Modelo.Remesa.Remitente.Direccion" ng-change="MaskMayus()" placeholder="Ingrese dirección">
                                    <div style="display: flex" ng-show="ListadoDireccionesRemitente.length > 0">
                                        <select name="cmbEstado" ng-show="ListadoDireccionesRemitente.length > 0" class="form-control" ng-model="Modelo.Remesa.Remitente.Direccion" ng-options="i.Direccion for i in ListadoDireccionesRemitente"></select>
                                        <button type="button" class="btn btn-primary" ng-click="Modal = {}" onclick="showModal('modalAdicionarDireccionRemitente')"  ng-disabled="Deshabilitar" title="Agregar Dirección">
                                            <span class="fa fa-plus"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>-->
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Observaciones</label>
                                    <input type="text" class="form-control" Name="txtObservaciones" maxlength="500" ng-model="Modelo.Remesa.ObservacionesRemitente" ng-disabled="Deshabilitar" />
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <!--DATOS DESTINATARIO-->
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Destinatario</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="alert alert-info alert-dismissible" ng-show="DestinatarioNoRegistrado">
                            <a href="" class="close" ng-click="DestinatarioNoRegistrado = false" aria-label="close">&times;</a>
                            El destinatario no se encuentra registrado, sin embargo puede crearlo llenando el resto de campos.
                        </div>
                        <div class="row">

                            <!--Tipo identificacion-->
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Tipo Identificación</label>
                                    <select name="cmbEstado" class="form-control" ng-model="Modelo.Remesa.Destinatario.TipoIdentificacion" ng-options="i.Nombre for i in ListadoTipoIdentificacion" ng-disabled="BloqueoDestinatario || Deshabilitar"></select>
                                </div>
                            </div>

                            <!--Numero Identificacion-->
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Número Identificación</label>
                                    <input maxlength="20" type="text" ng-change="MaskNumero()" class="form-control" placeholder="Ingrese el numero de identificacion" ng-model="Modelo.Remesa.Destinatario.NumeroIdentificacion" ng-required="false" ng-blur="ObtenerDestinatario(true)" ng-disabled="Deshabilitar">
                                </div>
                            </div>

                            <!--Nombre-->
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input maxlength="50" type="text" class="form-control" ng-change="MaskMayus()" placeholder="Ingrese el nombre" ng-model="Modelo.Remesa.Destinatario.Nombre" ng-required="false" ng-disabled="BloqueoDestinatario || Deshabilitar">
                                </div>
                            </div>

                            <!--Ciudad Destino-->
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>Ciudad</label>
                                    <input maxlength="60" type="text" class="form-control" placeholder="Seleccione una ciudad de destino" ng-model="Modelo.Remesa.Destinatario.Ciudad" ng-required="false" ng-disabled="Deshabilitar" uib-typeahead="Ciudad as Ciudad.NombreCompleto for Ciudad in  AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5" ng-blur="Modelo.Remesa.Destinatario.Ciudad=VerificarAutocomplete(Modelo.Remesa.Destinatario.Ciudad);ObtenerTarifarioCliente()">
                                </div>
                            </div>

                            <!--Barrio-->
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Barrio</label>
                                    <input maxlength="80" type="text" class="form-control" placeholder="Ingrese barrio" ng-model="Modelo.Remesa.BarrioDestinatario" ng-disabled="Deshabilitar">
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="Cuenta">Sitio Entrega</label>
                                    <input type="text" class="form-control" name="Ciudad Cargue" maxlength="50" id="ModeloCiudadCargue" placeholder="Ingrese un Sitio Cargue" ng-model="Modelo.Remesa.Destinatario.SitioDescargue" ng-disabled="Deshabilitar" autocomplete="off"
                                           uib-typeahead="i as i.SitioCliente.Nombre for i in AutocompleteSitiosClienteDescargue($viewValue, Modelo.Remesa.Destinatario,Modelo.Remesa.Destinatario.Ciudad)| filter:$viewValue | limitTo: 5" ng-required="false"
                                           ng-blur=" Modelo.Remesa.Destinatario.SitioDescargue=VerificarAutocomplete(Modelo.Remesa.Destinatario.SitioDescargue); Modelo.Remesa.Destinatario.Direccion = Modelo.Remesa.Destinatario.SitioDescargue.DireccionSitio; Modelo.Remesa.Destinatario.Telefonos = Modelo.Remesa.Destinatario.SitioDescargue.Telefono">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="catalogos">Dirección</label>
                                    <input class="form-control" data-live-search="true" ng-model="Modelo.Remesa.Destinatario.Direccion" ng-disabled="Deshabilitar" ng-change="MaskMayus()" ng-required="false">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-10">
                                <div class="form-group">
                                    <label for="lblCodPost">Código Postal</label>
                                    <input ng-change="MaskNumero()" placeholder="Código Postal" name="txtCodPost" type="text" maxlength="15" class="form-control" ng-model="Modelo.Remesa.CodigoPostalDestinatario" ng-disabled="Deshabilitar">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Teléfono</label>
                                    <input maxlength="60" type="text" class="form-control" ng-change="MaskNumero()" placeholder="Ingrese telefono" ng-model="Modelo.Remesa.Destinatario.Telefonos" ng-disabled="Deshabilitar" ng-required="false">
                                </div>
                            </div>
                            <!--Direccion-->
                            <!--<div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Dirección</label>
                                    <input name="cmbEstado" ng-show="!ListadoDireccionesRemitente.length > 0" class="form-control" ng-model="Modelo.Remesa.Remitente.Direccion" ng-change="MaskMayus()" placeholder="Ingrese dirección">
                                    <div style="display: flex" ng-show="ListadoDireccionesRemitente.length > 0">
                                        <select name="cmbEstado" ng-show="ListadoDireccionesRemitente.length > 0" class="form-control" ng-model="Modelo.Remesa.Remitente.Direccion" ng-options="i.Direccion for i in ListadoDireccionesRemitente"></select>
                                        <button type="button" class="btn btn-primary" ng-click="Modal = {}" onclick="showModal('modalAdicionarDireccionRemitente')"  ng-disabled="Deshabilitar" title="Agregar Dirección">
                                            <span class="fa fa-plus"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>-->
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFechVinc">Fecha Entrega</label>
                                    <input name="txtFechVinc" type="date" class="form-control" ng-model="Modelo.Remesa.FechaEntrega" ng-disabled="Deshabilitar">
                                    <!--<input name="txtFechVinc" type="datetime-local" class="form-control" ng-model="Modelo.Remesa.FechaEntrega" ng-disabled="Deshabilitar">-->
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Observaciones</label>
                                    <input type="text" class="form-control" Name="txtObservaciones" maxlength="500" ng-model="Modelo.Remesa.ObservacionesDestinatario" ng-disabled="Deshabilitar" />
                                </div>
                            </div>

                        </div>


                    </div>

                </div>



                <!--DETALLE-->
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Detalle</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>

                    <!--DETALLE-->
                    <div class="box-body">
                        <div class="alert alert-warning alert-dismissible" ng-show="TarifarioInvalido">
                            <!--<a href="" class="close" ng-click="TarifarioInvalido = false" aria-label="close">&times;</a>-->
                            No existe una tarifa con las condiciones especificadas
                        </div>
                        <div class="row">
                            <!--Forma Pago-->
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Forma Pago</label>
                                    <select name="cmbEstado" class="form-control" ng-model="Modelo.Remesa.FormaPago" ng-options="i.Nombre for i in ListadoFormaPago" ng-disabled="Deshabilitar" ng-blur="ObtenerTarifarioCliente()"></select>
                                </div>
                            </div>
                            <!--Tarifa-->
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Tarifa</label>
                                    <!--<input class="form-control" ng-model="Modelo.Remesa.TarifaCarga.Nombre" />-->
                                    <select name="cmbTarifa" class="form-control" ng-model="Modelo.Remesa.TarifaCarga" ng-options="i.Nombre for i in ListaTarifaCarga" ng-change="CargarTipoTarifa(Modelo.Remesa.TarifaCarga.Codigo)" ng-disabled="Deshabilitar"></select>

                                </div>
                            </div>
                            <div class="col-md-5 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>Producto</label>
                                    <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un producto" ng-change="MaskMayus()" ng-model="Modelo.Remesa.ProductoTransportado"
                                           uib-typeahead="Prod as Prod.Nombre for Prod in ListadoProductoTransportados| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.Remesa.ProductoTransportado=VerificarAutocomplete(Modelo.Remesa.ProductoTransportado)" ng-disabled="Deshabilitar">
                                </div>
                            </div>


                            <!--Peso Volumetrico-->
                            <!--<div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Peso (Vol)</label>
                                    <input style="text-align:right" maxlength="18" type="text" class="form-control" ng-change="MaskMoneda()" placeholder="Ingrese el peso volumetrico" ng-model="Modelo.Remesa.PesoVolumetricoCliente" ng-required="false">
                                </div>
                            </div>-->
                            <!--Cantidad-->
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Número Unidades</label>
                                    <input style="text-align:right" maxlength="18" type="text" class="form-control" ng-change="MaskMoneda()" ng-blur="Calcular()" placeholder="Ingrese la cantidad" ng-model="Modelo.Remesa.CantidadCliente" ng-required="false" ng-disabled="Deshabilitar">
                                </div>
                            </div>
                            <!--Peso-->
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Peso (Kg)</label>
                                    <input style="text-align:right" maxlength="18" type="text" class="form-control" ng-change="MaskValores()" ng-blur="Calcular()" placeholder="Ingrese el peso" ng-model="Modelo.Remesa.PesoCliente" ng-required="false" ng-disabled="Deshabilitar">
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-12" ng-show="ManejoPesoVolumetrico">
                                <div class="form-group">
                                    <label>Largo (Cm)</label>
                                    <input style="text-align:right" maxlength="18" type="text" class="form-control" ng-change="MaskValores()" ng-blur="Calcular()" placeholder="Largo" ng-model="Modelo.Largo" ng-required="false" ng-disabled="Deshabilitar">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12" ng-show="ManejoPesoVolumetrico">
                                <div class="form-group">
                                    <label>Alto (Cm)</label>
                                    <input style="text-align:right" maxlength="18" type="text" class="form-control" ng-change="MaskValores()" ng-blur="Calcular()" placeholder="Alto" ng-model="Modelo.Alto" ng-required="false" ng-disabled="Deshabilitar">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12" ng-show="ManejoPesoVolumetrico">
                                <div class="form-group">
                                    <label>Ancho (Cm)</label>
                                    <input style="text-align:right" maxlength="18" type="text" class="form-control" ng-change="MaskValores()" ng-blur="Calcular()" placeholder="Ancho" ng-model="Modelo.Ancho" ng-required="false" ng-disabled="Deshabilitar">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12" ng-show="ManejoPesoVolumetrico">
                                <div class="form-group">
                                    <label>Peso Volumétrico</label>
                                    <input style="text-align:right" maxlength="18" type="text" class="form-control" ng-change="MaskValores()" ng-blur="Calcular()" placeholder="Peso Volumétrico" ng-model="Modelo.PesoVolumetrico" ng-required="false" disabled>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12" ng-show="ManejoPesoVolumetrico">
                                <div class="form-group">
                                    <label>Peso a Cobrar</label>
                                    <input style="text-align:right" maxlength="18" type="text" class="form-control" ng-change="MaskValores()" ng-blur="Calcular()" placeholder="Peso a Cobrar" ng-model="Modelo.PesoCobrar" ng-required="false" disabled>
                                </div>
                            </div>
                            <!--Valor Comercial-->
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Valor Comercial</label>
                                    <input style="text-align:right" maxlength="18" type="text" class="form-control" ng-change="MaskValores()" ng-blur="Calcular()" placeholder="Ingrese el valor comercial" ng-model="Modelo.Remesa.ValorComercialCliente" ng-required="false" ng-disabled="Deshabilitar">
                                </div>
                            </div>
                            <!--Descripcion-->
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Descripción Mercancia</label>
                                    <input maxlength="50" type="text" class="form-control" placeholder="Ingrese la descripción de la mercancia" ng-change="MaskMayus()" ng-model="Modelo.DescripcionProductoTransportado" ng-required="false" ng-disabled="Deshabilitar">
                                </div>
                            </div>



                            <!--Tipo Tarifa-->
                            <!--<div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Tipo Tarifa</label>
                                    <select name="cmbEstado" class="form-control" ng-model="Modelo.Remesa.TipoTarifaCarga" ng-options="i.Nombre for i in ListaTipoTarifaCargaVenta"></select>
                                </div>
                            </div>-->


                        </div>

                    </div>

                </div>

                <!--Reexpedicion-->
                <div class="box box-default box-solid collapsed-box">
                    <!--Collapse-->
                    <div class="box-header with-border" ng-disabled="Bloquear">
                        <h3 class="box-title">
                            Reexpedición
                        </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>

                    <!--Contenido-->
                    <div class="box-body">
                        <div class="row" ng-show="!Deshabilitar">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Oficina</label>
                                    <input maxlength="60" type="text" class="form-control" placeholder="Seleccione una oficina" ng-model="Modelo.Remesa.Oficina" ng-required="false" uib-typeahead="Oficina as Oficina.Nombre for Oficina in ListaOficinas| filter:$viewValue | limitTo: 5" ng-blur="Modelo.Remesa.Oficina=VerificarAutocomplete(Modelo.Remesa.Oficina)" ng-disabled="Deshabilitar">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Tipo Reexpedición</label>
                                    <select class="form-control" ng-model="Modelo.Remesa.TipoReexpedicion" ng-options="i.Nombre for i in ListadoTipoReexpedicionRemesaPaqueteria" ng-disabled="Deshabilitar"></select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Valor</label>
                                    <input style="text-align:right" maxlength="18" type="text" class="form-control" ng-change="Modelo.Remesa.Valor = MaskValoresGrid(Modelo.Remesa.Valor)" placeholder="Ingrese el valor" ng-model="Modelo.Remesa.Valor" ng-disabled="Deshabilitar">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12" ng-show="Modelo.Remesa.TipoReexpedicion.Codigo == 11102">
                                <div class="form-group">
                                    <label>Proveedor externo</label>
                                    <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un Proveedor" ng-model="Modelo.Remesa.ProveedorExterno" ng-disabled="Deshabilitar" ng-required="false" uib-typeahead="Prov as Prov.NombreCompleto for Prov in ListaProveedores| filter:$viewValue | limitTo: 5" ng-blur="Modelo.Remesa.ProveedorExterno=VerificarAutocomplete(Modelo.Remesa.ProveedorExterno)">
                                </div>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="form-group">
                                    <label>Observaciones</label>
                                    <textarea maxlength="500" type="text" class="form-control" ng-model="Modelo.Remesa.ObservacionesReexpedicion" ng-disabled="Deshabilitar"></textarea>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:left">
                                <br />
                                <button type="button" class="btn btn-primary" ng-click="AdicionarOficinas()" tabindex="1" ng-disabled="Deshabilitar">
                                    Adicionar
                                    <span class="glyphicon glyphicon-upload"></span>
                                </button>
                            </div>

                        </div>

                        <div>

                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Oficina</th>
                                        <th>Tipo Reexpedición</th>
                                        <th>Proveedor Externo</th>
                                        <th>Valor</th>
                                        <th>Observaciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListaReexpedicionOficinas">
                                        <td>{{item.Oficina.Nombre}}</td>
                                        <td>{{item.TipoReexpedicion.Nombre}}</td>
                                        <td>
                                            <div ng-show="item.TipoReexpedicion.Codigo == 11101">
                                                (NO APLICA)
                                            </div>
                                            <div ng-show="item.TipoReexpedicion.Codigo == 11102">
                                                {{item.ProveedorExterno.NombreCompleto}}
                                            </div>
                                        </td>
                                        <td>
                                            {{MaskValoresGrid(item.Valor)}}
                                        </td>
                                        <td>
                                            {{item.Observaciones}}
                                        </td>
                                        <td>
                                            <button class="button mini-button primary" title="Detalle Conceptos" ng-click="EliminarOficinaReexpedicion($index)" ng-disabled="Deshabilitar">
                                                <span class="glyphicon fa fa-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                    <tr>
                                        <td colspan="4">
                                            <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                            <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                                <tfoot ng-if="totalRegistros == 0 && Buscando == false">
                                    <tr>
                                        <td colspan="4" style="color:red; text-align:center">
                                            <small>{{ResultadoSinRegistros}}</small>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>


                        </div>
                    </div>
                </div>

                <!--Liquidacion-->
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Liquidación</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-12" ng-show="ManejoPesoVolumetrico">
                                <div class="form-group">
                                    <label>Ajustar Flete</label>
                                    <br />
                                    <label>
                                        <input type="checkbox" ng-model="Modelo.AjusteFlete" />
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Valor Flete</label>
                                    <input style="text-align:right" maxlength="18" type="text" ng-change="MaskValores()" ng-blur="CalcularAjusteFlete()" class="form-control" placeholder="Valor flete" ng-model="Modelo.Remesa.ValorFleteCliente" ng-required="false" ng-disabled="!Modelo.AjusteFlete || Deshabilitar">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Flete Pactado</label>
                                    <input style="text-align:right" maxlength="18" type="text" ng-change="MaskValores()" class="form-control" placeholder="Valor flete" ng-model="Modelo.FletePactado" ng-required="false" disabled>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12" ng-show="Sesion.UsuarioAutenticado.ManejoPorcentajeAfiliado">
                                <div class="form-group">
                                    <label>Valor Transportador</label>
                                    <input style="text-align:right" maxlength="18" type="text" ng-change="MaskValores()" class="form-control" placeholder="Valor flete" ng-model="Modelo.Remesa.ValorFleteTransportador" ng-required="false" disabled>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Valor Manejo</label>
                                    <input style="text-align:right" maxlength="18" type="text" ng-change="MaskValores()" class="form-control" placeholder="Valor Manejo" ng-model="Modelo.Remesa.ValorManejoCliente" ng-required="false" disabled>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Valor Seguro</label>
                                    <input style="text-align:right" maxlength="18" type="text" ng-change="MaskValores()" class="form-control" placeholder="Valor Seguro" ng-model="Modelo.Remesa.ValorSeguroCliente" ng-required="false" disabled>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Valor Reexpedición</label>
                                    <input style="text-align:right" maxlength="18" type="text" ng-change="MaskValores()" class="form-control" placeholder="Valor Reexpedición" ng-model="ValorReexpedicion" ng-required="false" disabled>
                                </div>
                            </div>
                            <!--<div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>Valor Reexpedicion</label>
                                    <input style="text-align:right" maxlength="18" type="text" ng-change="MaskValores();" class="form-control" placeholder="Valor Reexpedición" ng-model="Modelo.Remesa.ValorReexpedicion" ng-required="false">
                                </div>
                            </div>-->

                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>Total</label>
                                    <input style="text-align:right" maxlength="18" type="text" ng-change="MaskValores()" class="form-control" placeholder="Valor Total Cliente" ng-model="Modelo.Remesa.TotalFleteCliente" ng-required="false" disabled>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Observaciones</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>

                    <!--Observaciones-->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <textarea maxlength="200" type="text" class="form-control" ng-model="Modelo.Remesa.Observaciones" ng-disabled="Deshabilitar" ng-change="MaskMayus()" ng-required="false"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--Informacion Despacho-->
                <div class="box box-default box-solid collapsed-box">
                    <!--Collapse-->
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Información Despacho
                        </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>

                    <!--Contenido-->
                    <div class="box-body">
                        <div class="row">

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Oficina Origen</label>
                                    <span class="form-control">{{Modelo.OficinaOrigen.Nombre}}</span>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12" ng-show="Modelo.Remesa.NumeroDocumento > 0">
                                <div class="form-group">
                                    <label>Oficina Destino</label>
                                    <span class="form-control">{{Modelo.OficinaDestino.Nombre}}</span>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Oficina Actual</label>
                                    <span class="form-control">{{Modelo.OficinaActual.Nombre}}</span>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Estado Guía</label>
                                    <span class="form-control">{{Modelo.EstadoGuia.Nombre}}</span>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>No. Planilla</label>
                                    <span class="form-control">{{Modelo.NumeroPlanilla}}</span>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Vehículo</label>
                                    <span class="form-control">{{Modelo.Remesa.Vehiculo.Placa}}</span>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Conductor</label>
                                    <span class="form-control">{{Modelo.Remesa.Conductor.NombreCompleto}}</span>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <!--Oficina-->
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label>Oficina</label>
                        <span class="form-control">{{Modelo.Oficina.Nombre}}</span>
                    </div>
                </div>

                <!--Estado-->
                <!--<div class="col-md-2 col-sm-2 col-xs-12">
                    <div class="form-group">
                        <label>Estado</label>
                        <select name="cmbEstado" class="form-control" ng-disabled="Deshabilitar" ng-model="Modelo.Estado" ng-options="i.Nombre for i in ListaEstadoDocumento"></select>
                    </div>
                </div>-->
                <!--fin pantalla-->
            </div>

            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="Deshabilitar">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>


    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalConfirmacionEliminar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar la tarifa?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmarEliminarTarifa()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!--Modal adicionar dirección remitente-->
    <div class="modal fade" id="modalAdicionarDireccionRemitente" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <div class="box box-default box-solid">
                            <!--Collapse-->
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">
                                    AGREGAR DIRECCIÓN REMITENTE
                                </h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>

                            <!--Contenido-->
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblCiudad">Ciudad</label>
                                            <input ng-change="MaskMayus()" type="text" class="form-control" name="txtCiudad" id="txtCiudad" maxlength="50" placeholder="Ingrese la ciudad" ng-model="Modal.Ciudad" ng-blur="Modal.Ciudad=VerificarAutocomplete(Modal.Ciudad)" uib-typeahead="Ciudad as Ciudad.NombreCompleto for Ciudad in  AutocompleteCiudades($viewValue) | filter:$viewValue | limitTo: 5">
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Dirección</label>
                                            <input ng-change="MaskMayus()" placeholder="Digite la direción" name="txtDireccion" type="text" maxlength="150" class="form-control" ng-model="Modal.Direccion">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblCiudad">Barrio</label>
                                            <input ng-change="MaskMayus()" type="text" class="form-control" name="txtCiudad" id="txtCiudad" maxlength="50" placeholder="Ingrese la ciudad" ng-model="Modal.Barrio">
                                        </div>

                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Código Postal</label>
                                            <input ng-change="MaskNumero()" placeholder="Digite el Código postal" type="text" maxlength="8" class="form-control" ng-model="Modal.CodigoPostal">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Teléfono</label>
                                            <input ng-change="MaskNumero()" placeholder="Digite el n° de teléfono 1" type="text" maxlength="15" class="form-control" ng-model="Modal.Telefonos">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarDireccionRemitente()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalAdicionarDireccionDestinatario" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <div class="box box-default box-solid">
                            <!--Collapse-->
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">
                                    AGREGAR DIRECCIÓN DESTINATARIO
                                </h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>

                            <!--Contenido-->
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblCiudad">Ciudad</label>
                                            <input ng-change="MaskMayus()" type="text" class="form-control" maxlength="50" placeholder="Ingrese la ciudad" ng-model="Modal.Ciudad" ng-blur="Modal.Ciudad=VerificarAutocomplete(Modal.Ciudad)" uib-typeahead="Ciudad as Ciudad.NombreCompleto for Ciudad in  AutocompleteCiudades($viewValue) | filter:$viewValue | limitTo: 5">
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Dirección</label>
                                            <input ng-change="MaskMayus()" placeholder="Digite la direción" type="text" maxlength="150" class="form-control" ng-model="Modal.Direccion">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblCiudad">Barrio</label>
                                            <input ng-change="MaskMayus()" type="text" class="form-control" maxlength="50" placeholder="Ingrese la ciudad" ng-model="Modal.Barrio">
                                        </div>

                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Código Postal</label>
                                            <input ng-change="MaskNumero()" placeholder="Digite el Código postal" type="text" maxlength="8" class="form-control" ng-model="Modal.CodigoPostal">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Teléfono</label>
                                            <input ng-change="MaskNumero()" placeholder="Digite el n° de teléfono 1" type="text" maxlength="15" class="form-control" ng-model="Modal.Telefonos">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarDireccionDestinatario()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>