﻿<body themebg-pattern="theme1">
    <img ng-s rc="{{ImagenFondoPantalla}}" style="width:100%;height:100%;z-index:0;position:absolute" id="ImgFondoMain" />

    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="loader-track">
            <div class="preloader-wrapper">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <section class="login-block" style="margin: 0;">
        <!-- Container-fluid starts -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Authentication card start -->
                    <form class="md-float-material form-material" style="margin-top: 80px;" ng-submit="ValidarUsuario()">
                        <div class="text-center">
                            <h3 class="text-center txt-primary"></h3>
                            <!--<img src="{{ImagenLogo}}" style="max-height:50px;max-width:150px" alt="logo.png">-->
                        </div>
                        <div class="auth-box card">
                            <div class="card-block" style="box-shadow: 6px 27px 146px 36px rgba(66,66,66,0.4);">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class="text-center txt-primary">GESTRANS.NET CARGA 5.0</h3>
                                    </div>
                                </div>
                                <p class="text-muted text-center p-b-5">Inicie sesión con su cuenta regular.</p>
                                <div class="form-group form-primary">
                                    <select name="empresa" class="form-control" ng-change="ValidarEmpresa(Empresa);AsignarLogos()" ng-model="Empresa" ng-options="i.RazonSocial for i in ListadoEmpresas" required title="Por favor seleccione una empresa"></select>
                                    <span class="form-bar"></span>
                                </div>
                                <div class="form-group form-primary">
                                    <input type="text" name="user-name" class="form-control" required=""  ng-model="Sesion.Identificador">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Usuario</label>
                                </div>
                                <div class="form-group form-primary">
                                    <input type="password" name="password" class="form-control" required="" ng-model="Sesion.Contrasena">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Contraseña</label>
                                </div>
                                <div class="row m-t-25 text-left">
                                    <div class="col-12">
                                        <div class="checkbox-fade fade-in-primary">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                <span class="text-inverse">Recordarme</span>
                                            </label>
                                        </div>
                                        <div class="forgot-phone text-right float-right">
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t-30">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Iniciar Sesión</button>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6"><span class="fa fa-copyright"></span> {{AnoActual}} EncoExpres</div>
                                    <div class="col-md-6"><span class="pull-right"> Versión 19.03.2019.1</span> <!-- dia.mes.año.número publicación--></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</body>

