﻿<!DOCTYPE html>
<html ng-app="EncoExpresApp" lang="es">

<head>
    <title>GESTRANS.NET CARGA</title>

    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Admindek Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
    <meta name="keywords" content="flat ui, admin Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="colorlib" />
    <!-- Favicon icon -->
    <link rel="icon" href="../../Css/Logo46.png" sizes="192x192" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">
    <!-- Required Fremwork -->
    <link href="../../Css/EncoExpres.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../files/bower_components/bootstrap/css/bootstrap.min.css">
    <!-- waves.css -->
    <link rel="stylesheet" href="../../files/assets/pages/waves/css/waves.min.css" type="text/css" media="all">
    <!-- feather icon -->
    <link rel="stylesheet" type="text/css" href="../../files/assets/icon/feather/css/feather.css">
    <!-- font-awesome-n -->
    <link rel="stylesheet" type="text/css" href="../../files/assets/css/font-awesome-n.min.css">
    <!-- Chartlist chart css -->
    <link rel="stylesheet" href="../../files/bower_components/chartist/css/chartist.css" type="text/css" media="all">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="../../files/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="../../files/assets/icon/icofont/css/icofont.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="../../files/assets/css/pages.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="../../files/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../files/assets/css/widget.css">
    <link rel="stylesheet" href="../../Css/Bootstrap/datepiker.css" />
    <link rel="stylesheet" href="../../Css/Angular/angular-block-ui.css" />
    <link rel="stylesheet" href="../../Css/jsTree/style.css" />
    <link rel="stylesheet" href="../../Css/Metro/metro-icons.css" />
    <link rel="stylesheet" href="../../Css/EncoExpres/EncoExpres.css" />
    <link rel="stylesheet" href="../../Css/skins/skin-blue.css" />
    <link rel="stylesheet" href="../../Css/EncoExpres/sweetalert.css" />
    <link rel="stylesheet" href="../../Css/EncoExpres/select2.css" />
    <link rel="stylesheet" href="../../Css/skins/facebook.css" />
    <link rel="stylesheet" href="../../Css/EncoExpres/_all.css" />
    <link rel="stylesheet" href="../../Css/Toastr/toastr.css" />
    <link rel="stylesheet" href="../../Css/Bootstrap/bootstrap-select.css" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="../../Css/fontawesome-free-5.11.2-web/css/all.css" rel="stylesheet" />
</head>

<body ng-controller="MainCtrl" onkeypress="QuitarModals(e)">

    <div ng-show="NoAutorizado">
        <img ng-src="{{ImagenFondoPantalla}}" style="width:100%;height:100%;z-index:0;position:absolute" id="ImgFondoMain" />
        <section class="login-block" style="margin: 0;">
            <!-- Container-fluid starts -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Authentication card start -->
                        <form class="md-float-material form-material" style="margin-top: 80px;" ng-submit="ValidarUsuario()">
                            <div class="text-center">
                                <h3 class="text-center txt-primary"></h3>
                                <!--<img src="{{ImagenLogo}}" style="max-height:50px;max-width:150px" alt="logo.png">-->
                            </div>
                            <div class="auth-box card">
                                <div class="card-block" style="box-shadow: 6px 27px 146px 36px rgba(66,66,66,0.4);">
                                    <div class="row m-b-20">
                                        <div class="col-md-12">
                                            <h3 class="text-center txt-primary">GESTRANS.NET CARGA 5.0</h3>
                                        </div>
                                    </div>
                                    <p class="text-muted text-center p-b-5">Inicie sesión con su cuenta regular.</p>
                                    <div class="form-group form-primary">
                                        <select name="empresa" class="form-control" ng-change="ValidarEmpresa(Empresa);AsignarLogos()" ng-model="Empresa" ng-options="i.RazonSocial for i in ListadoEmpresas" required title="Por favor seleccione una empresa"></select>
                                        <span class="form-bar"></span>
                                    </div>
                                    <div class="form-group form-primary">
                                        <input type="text" name="user-name" class="form-control" required="" ng-model="Sesion.Identificador">
                                        <span class="form-bar"></span>
                                        <label class="float-label">Usuario</label>
                                    </div>
                                    <div class="form-group form-primary">
                                        <input type="password" name="password" class="form-control" required="" ng-model="Sesion.Contrasena">
                                        <span class="form-bar"></span>
                                        <label class="float-label">Contraseña</label>
                                    </div>
                                    <div class="row m-t-25 text-left">
                                        <div class="col-12">
                                            <div class="checkbox-fade fade-in-primary">
                                                <label>
                                                    <input type="checkbox" value="">
                                                    <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                    <span class="text-inverse">Recordarme</span>
                                                </label>
                                            </div>
                                            <div class="forgot-phone text-right float-right">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m-t-30">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Iniciar Sesión</button>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6"><span class="fa fa-copyright"></span> {{AnoActual}} EncoExpres</div>
                                        <div class="col-md-6"><span class="pull-right"> Versión {{Version}}</span> <!-- dia.mes.año.número publicación--></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>


    </div>

    <div class="loader-bg">
        <div class="loader-bar"></div>
    </div>
    <div id="pcoded" class="pcoded" ng-show="Autorizado">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <!-- [ Header ] start -->
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <img class="img-fluid" src="{{ImagenLogo}}" alt="Theme-Logo" style="max-height:100%;margin: 0 auto   " />
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="feather icon-menu icon-toggle-right"></i>
                        </a>
                        <a class="mobile-options waves-effect waves-light">
                            <i class="feather icon-more-horizontal"></i>
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <!--<li class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-prepend search-close">
                                            <i class="feather icon-x input-group-text"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Enter Keyword">
                                        <span class="input-group-append search-btn">
                                            <i class="feather icon-search input-group-text"></i>
                                        </span>
                                    </div>
                                </div>
                            </li>-->
                            <li>
                                <a onclick="if (!window.__cfRLUnblockHandlers) return false; javascript:toggleFullScreen()" class="waves-effect waves-light" data-cf-modified-8df2698723cdfd00f1a0ec3f-="">
                                    <i class="full-screen feather icon-maximize"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <!--<li class="header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="feather icon-bell"></i>
                                        <span class="badge bg-c-red">5</span>
                                    </div>
                                    <ul class="show-notification notification-view dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                        <li>
                                            <h6>Notifications</h6>
                                            <label class="label label-danger">New</label>
                                        </li>
                                        <li>
                                            <div class="media">
                                                <img class="img-radius" src="../../files/assets/images/avatar-4.jpg" alt="Generic placeholder image">
                                                <div class="media-body">
                                                    <h5 class="notification-user">John Doe</h5>
                                                    <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                    <span class="notification-time">30 minutes ago</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media">
                                                <img class="img-radius" src="../../files/assets/images/avatar-3.jpg" alt="Generic placeholder image">
                                                <div class="media-body">
                                                    <h5 class="notification-user">Joseph William</h5>
                                                    <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                    <span class="notification-time">30 minutes ago</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media">
                                                <img class="img-radius" src="../../files/assets/images/avatar-4.jpg" alt="Generic placeholder image">
                                                <div class="media-body">
                                                    <h5 class="notification-user">Sara Soudein</h5>
                                                    <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                    <span class="notification-time">30 minutes ago</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="displayChatbox dropdown-toggle" data-toggle="dropdown">
                                        <i class="feather icon-message-square"></i>
                                        <span class="badge bg-c-green">3</span>
                                    </div>
                                </div>
                            </li>-->
                            <li class="user-profile header-notification">

                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="../../Css/img/avatar1.png" class="img-radius" alt="User-Profile-Image">
                                        <span>{{Sesion.UsuarioAutenticado.Nombre}}</span>
                                        <i class="feather icon-chevron-down"></i>
                                    </div>
                                    <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                        <!--<!--<li>
                                            <a href="#!">
                                                <i class="feather icon-settings"></i> Settings

                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="feather icon-user"></i> Profile

                                            </a>
                                        </li>-->
                                        <li>
                                            <p class="text-info text-bold text-small" ng-show="Sesion.UsuarioAutenticado.Conductor.Codigo > 0">PUNTOS FIDELIZACIÓN: {{Sesion.UsuarioAutenticado.TotalPuntos}} </p>
                                        </li>
                                        <li>
                                            <a ng-click="MostrarModalCambio()">
                                                <i class="feather icon-lock"></i> Cambiar Contraseña

                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="CerrarSesion()">
                                                <i class="feather icon-log-out"></i> Cerrar Sesión

                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- [ chat user list ] start -->
            <div id="sidebar" class="users p-chat-user showChat">
                <div class="had-container">
                    <div class="p-fixed users-main">
                        <div class="user-box">
                            <div class="chat-search-box">
                                <a class="back_friendlist">
                                    <i class="feather icon-x"></i>
                                </a>
                                <div class="right-icon-control">
                                    <div class="input-group input-group-button">
                                        <input type="text" id="search-friends" name="footer-email" class="form-control" placeholder="Search Friend">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-light" type="button"><i class="feather icon-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-friend-list">
                                <div class="media userlist-box waves-effect waves-light" data-id="1" data-status="online" data-username="Josephin Doe">
                                    <a class="media-left" href="#!">
                                        <img class="media-object img-radius img-radius" src="../../files/assets/images/avatar-3.jpg" alt="Generic placeholder image ">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="chat-header">Josephin Doe</div>
                                    </div>
                                </div>
                                <div class="media userlist-box waves-effect waves-light" data-id="2" data-status="online" data-username="Lary Doe">
                                    <a class="media-left" href="#!">
                                        <img class="media-object img-radius" src="../../files/assets/images/avatar-2.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="f-13 chat-header">Lary Doe</div>
                                    </div>
                                </div>
                                <div class="media userlist-box waves-effect waves-light" data-id="3" data-status="online" data-username="Alice">
                                    <a class="media-left" href="#!">
                                        <img class="media-object img-radius" src="../../files/assets/images/avatar-4.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="f-13 chat-header">Alice</div>
                                    </div>
                                </div>
                                <div class="media userlist-box waves-effect waves-light" data-id="4" data-status="offline" data-username="Alia">
                                    <a class="media-left" href="#!">
                                        <img class="media-object img-radius" src="../../files/assets/images/avatar-3.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-default"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="f-13 chat-header">Alia<small class="d-block text-muted">10 min ago</small></div>
                                    </div>
                                </div>
                                <div class="media userlist-box waves-effect waves-light" data-id="5" data-status="offline" data-username="Suzen">
                                    <a class="media-left" href="#!">
                                        <img class="media-object img-radius" src="../../files/assets/images/avatar-2.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-default"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="f-13 chat-header">Suzen<small class="d-block text-muted">15 min ago</small></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ chat user list ] end -->
            <!-- [ chat message ] start -->
            <div class="showChat_inner">
                <div class="media chat-inner-header">
                    <a class="back_chatBox">
                        <i class="feather icon-x"></i> Josephin Doe
                    </a>
                </div>
                <div class="main-friend-chat">
                    <div class="media chat-messages">
                        <a class="media-left photo-table" href="#!">
                            <img class="media-object img-radius img-radius m-t-5" src="../../files/assets/images/avatar-2.jpg" alt="Generic placeholder image">
                        </a>
                        <div class="media-body chat-menu-content">
                            <div class="">
                                <p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
                            </div>
                            <p class="chat-time">8:20 a.m.</p>
                        </div>
                    </div>
                    <div class="media chat-messages">
                        <div class="media-body chat-menu-reply">
                            <div class="">
                                <p class="chat-cont">Ohh! very nice</p>
                            </div>
                            <p class="chat-time">8:22 a.m.</p>
                        </div>
                    </div>
                    <div class="media chat-messages">
                        <a class="media-left photo-table" href="#!">
                            <img class="media-object img-radius img-radius m-t-5" src="../../files/assets/images/avatar-2.jpg" alt="Generic placeholder image">
                        </a>
                        <div class="media-body chat-menu-content">
                            <div class="">
                                <p class="chat-cont">can you come with me?</p>
                            </div>
                            <p class="chat-time">8:20 a.m.</p>
                        </div>
                    </div>
                </div>
                <div class="chat-reply-box">
                    <div class="right-icon-control">
                        <div class="input-group input-group-button">
                            <input type="text" class="form-control" placeholder="Write hear . . ">
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-light" type="button"><i class="feather icon-message-circle"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ chat message ] end -->


            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <!-- [ navigation menu ] start -->
                    <nav class="pcoded-navbar">
                        <div class="nav-list">
                            <div class="pcoded-inner-navbar main-menu" id="PanelMenu">
                                <!--<div class="pcoded-navigation-label">APLICATIVO</div>
                                <ul class="pcoded-item pcoded-left-item" item-border="true" item-border-style="solid" subitem-border="false">
                                    <li class="pcoded-hasmenu" dropdown-icon="style1" subitem-icon="style1" ng-repeat="item in ListaModulo" ng-if="(item.Aplicacion == 201 ) && (item.Codigo !== 26) && (item.MostrarModulo == 1) && (item.Estado == 1)">
                                        <a href="javascript:void(0)" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="{{item.Imagen}}"></i></span>
                                            <span class="pcoded-mtext">{{item.Nombre}}</span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class="pcoded-hasmenu" ng-repeat="itemmenu in ListadoMenu" ng-if="(item.Codigo == itemmenu.Padre) && (itemmenu.MostrarMenu == 1)">
                                                <a class="waves-effect waves-dark" ng-if="(itemmenu.Aplicacion == 201 || itemmenu.Aplicacion == 204 ) && (itemmenu.UrlPagina != '#!' && itemmenu.UrlPagina != '')" href="{{itemmenu.UrlPagina}}" ng-click="UltimaUbicacion(itemmenu.UrlPagina);Redimencionar()">
                                                    <i class="pcoded-mtext"></i>{{itemmenu.Nombre}}<i class="fa fa-angle-left pull-right"></i>
                                                </a>
                                                <a class="waves-effect waves-dark" ng-if="(itemmenu.Aplicacion == 201 || itemmenu.Aplicacion == 204 ) && (itemmenu.UrlPagina == '#!' || itemmenu.UrlPagina == '')" ng-click="UltimaUbicacion(itemmenu.UrlPagina);Redimencionar()" style="cursor:pointer">
                                                    <i class="pcoded-mtext"></i>{{itemmenu.Nombre}}<i class="fa fa-angle-left pull-right"></i>
                                                </a>
                                                <a class="waves-effect waves-dark" ng-if="itemmenu.Aplicacion == 203 || itemmenu.Aplicacion == 204" href="{{itemmenu.UrlPagina}}">
                                                    <span class="pcoded-mtext">{{itemmenu.Nombre}}</span>
                                                </a>
                                                <ul class="pcoded-submenu">
                                                    <li class="pcoded-hasmenu" ng-repeat="itemlistado in ListadoMenu" ng-if="itemmenu.Codigo == itemlistado.Padre">
                                                        <a ng-if="itemlistado.Aplicacion == 201" href="{{itemlistado.UrlPagina}}" class="waves-effect waves-dark">
                                                            <span class="pcoded-mtext">{{itemlistado.Nombre}}</span>
                                                        </a>
                                                        <ul class="pcoded-submenu">
                                                            <li class="pcoded-hasmenu" ng-repeat="itemmenu in ListadoMenu" ng-if="(item.Codigo == itemmenu.Padre) && (itemmenu.MostrarMenu == 1)">
                                                                <a class="waves-effect waves-dark" ng-if="(itemmenu.Aplicacion == 201 || itemmenu.Aplicacion == 204 ) && (itemmenu.UrlPagina != '#!' && itemmenu.UrlPagina != '')" href="{{itemmenu.UrlPagina}}" ng-click="UltimaUbicacion(itemmenu.UrlPagina);Redimencionar()">
                                                                    <i class="pcoded-mtext"></i>{{itemmenu.Nombre}}<i class="fa fa-angle-left pull-right"></i>
                                                                </a>
                                                                <a class="waves-effect waves-dark" ng-if="(itemmenu.Aplicacion == 201 || itemmenu.Aplicacion == 204 ) && (itemmenu.UrlPagina == '#!' || itemmenu.UrlPagina == '')" ng-click="UltimaUbicacion(itemmenu.UrlPagina);Redimencionar()" style="cursor:pointer">
                                                                    <i class="pcoded-mtext"></i>{{itemmenu.Nombre}}<i class="fa fa-angle-left pull-right"></i>
                                                                </a>
                                                                <a class="waves-effect waves-dark" ng-if="itemmenu.Aplicacion == 203 || itemmenu.Aplicacion == 204" href="{{itemmenu.UrlPagina}}">
                                                                    <span class="pcoded-mtext">{{itemmenu.Nombre}}</span>
                                                                </a>
                                                                <ul class="pcoded-submenu">
                                                                    <li class="" ng-repeat="itemlistado in ListadoMenu" ng-if="itemmenu.Codigo == itemlistado.Padre">
                                                                        <a ng-if="itemlistado.Aplicacion == 201" href="{{itemlistado.UrlPagina}}" class="waves-effect waves-dark">
                                                                            <span class="pcoded-mtext">{{itemlistado.Nombre}}</span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </li>

                                                        </ul>

                                                    </li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </li>

                                </ul>-->


                                <div class="pcoded-navigation-label">GESPHONE</div>
                                <ul class="pcoded-item pcoded-left-item">
                                    <li class="pcoded-hasmenu" dropdown-icon="style1" subitem-icon="style1" ng-repeat="item in LitaGesphone">
                                        <a href="javascript:void(0)" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="{{item.Imagen}}"></i></span>
                                            <span class="pcoded-mtext">{{item.Nombre}}</span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class="pcoded-hasmenu" ng-repeat="itemmenu in ListadoMenu" ng-if="(item.Codigo == itemmenu.Padre) && (itemmenu.MostrarMenu == 1)">
                                                <!--<a class="waves-effect waves-dark" ng-if="itemmenu.Aplicacion == 203 || itemmenu.Aplicacion == 204" href="{{itemmenu.UrlPagina}}">
                                                    <span class="pcoded-mtext">{{itemmenu.Nombre}}</span>
                                                </a>-->
                                                <a class="waves-effect waves-dark" ng-if="(itemmenu.Aplicacion == 203 || itemmenu.Aplicacion == 204 ) && (itemmenu.UrlPagina != '#!' && itemmenu.UrlPagina != '')" href="{{itemmenu.UrlPagina}}" onclick="$('#mobile-collapse').click()">
                                                    <span class="pcoded-mtext">{{itemmenu.Nombre}}</span>
                                                </a>
                                                <a class="waves-effect waves-dark" ng-if="(itemmenu.Aplicacion == 203 || itemmenu.Aplicacion == 204 ) && (itemmenu.UrlPagina == '#!' || itemmenu.UrlPagina == '')" style="cursor:pointer">
                                                    <span class="pcoded-mtext">{{itemmenu.Nombre}}</span>
                                                </a>
                                                <ul class="pcoded-submenu">
                                                    <li class="" ng-repeat="itemlistado in ListadoMenu" ng-if="itemmenu.Codigo == itemlistado.Padre">
                                                        <a ng-if="itemlistado.Aplicacion == 203" href="{{itemlistado.UrlPagina}}" onclick="$('#mobile-collapse').click()" class="waves-effect waves-dark">
                                                            <span class="pcoded-mtext">{{itemlistado.Nombre}}</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </nav>
                    <!-- [ navigation menu ] end -->
                    <div class="pcoded-content">
                        <!-- [ breadcrumb ] end -->
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <!-- [ page content ] start -->
                                        <div class="row">
                                            <div class="box box-solid" ng-show="Autorizado">
                                                <div class="box-body">

                                                    <div class="box-group" id="accordion">
                                                        <div class="panel box box-primary">
                                                            <div style=" box-shadow: 0px 0px 21px #999" ng-view>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- [ page content ] end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ style Customizer ] start -->
                    <div id="styleSelector">
                    </div>
                    <!-- [ style Customizer ] end -->
                </div>
            </div>
        </div>
    </div>
    <!--Modal Cambio de clave-->
    <div class="modal fade" id="modalCambioContraseña" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <strong>CAMBIAR CONTRASEÑA</strong>
                        </h4>
                        <button type="button" class="close" ng-click="CerrarModalCambio()" aria-label="Close" ng-disabled="CambioObligatorio"><span aria-hidden="true">&times;</span></button>
                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorCambioClave.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesErrorCambioClave">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="box-body">
                            <p id="Mensajecambio"></p>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Contraseña Actual</label>
                                    <input type="password" class="form-control" placeholder="Clave" ng-model="ClaveAnterior" maxlength="20">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Nueva Contraseña</label>
                                    <input type="password" class="form-control" placeholder="Clave" ng-model="Clave" maxlength="20">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Confirmar Contraseña</label>
                                    <input type="password" class="form-control" placeholder="Confirmación Clave" ng-model="ConfirClave" maxlength="20">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-left">
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="CambiarContrasena()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="CerrarModalCambio()" ng-disabled="CambioObligatorio">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModalGestionarSolicitud" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            {{TituloModal}}
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Detalle Solicitud</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Tipo Solicitud</label>
                                            <p type="text" class="form-control">{{Solicitud.TipoAutorizacion.Nombre}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Fecha Solicitud</label>
                                            <p type="text" class="form-control">{{Solicitud.FechaSolicita | date: 'dd/MM/yyyy HH:mm'}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Usuario Solicita</label>
                                            <p type="text" class="form-control">{{Solicitud.UsuarioSolicita.Nombre}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Observaciones Solicita</label>
                                            <textarea type="text" class="form-control" ng-model="Solicitud.ObservacionSolicita" disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="Solicitud.TipoAutorizacion.Codigo == 18401">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Estudio Seguridad</label>
                                            <p type="text" class="form-control">{{Solicitud.EstudioSeguridad.NumeroDocumento}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Número Autorizacion</label>
                                            <p type="text" class="form-control">{{Solicitud.NumeroAutorizacion}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="Solicitud.TipoAutorizacion.Codigo == 18402">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Planilla</label>
                                            <p type="text" class="form-control">{{Solicitud.PlanillaDespacho.NumeroDocumento}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Vahículo</label>
                                            <p type="text" class="form-control">{{Solicitud.Vehiculo.Placa}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor Anticipo</label>
                                            <p type="text" style="text-align:right" class="form-control">{{Solicitud.Valor}}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Gestionar Solicitud</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblEstado">Accion solicitud</label>
                                            <select name="cmbEstado" class="form-control" ng-model="EstadoAcccion" ng-options="i.Nombre for i in LidatosAcciones"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <div class="input-control text full-size" data-role="input">
                                                <label for="observaciones">Observaciones</label>
                                                <textarea class="form-control" maxlength="200" name="observaciones" type="text" ng-model="Observaciones" ng-disabled="Deshabilitar"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button class="btn btn-primary" data-dismiss="modal" title="Aceptar" ng-click="ActualizarSolicitud()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>

                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <script src="../../Scripts/Angular/angular.min.js"></script>
    <script src="../../Scripts/Angular/angular-route.js"></script>
    <script src="../../Scripts/Angular/angular-block-ui.min.js"></script>
    <script src="../../Scripts/Angular/angular-linq.min.js"></script>
    <script src="../../Scripts/Angular/angular-local-storage.js"></script>
    <script src="../../Scripts/Angular/mask.min.js"></script>
    <script src="../../Scripts/Angular/signature_pad.js"></script>
    <script src="../../Scripts/Angular/ng-signature-pad.js"></script>
    <script src="../../Scripts/Jquery/jquery-2.1.4.js"></script>
    <script type="8df2698723cdfd00f1a0ec3f-text/javascript" src="../../files/bower_components/jquery/js/jquery.min.js"></script>
    <script type="8df2698723cdfd00f1a0ec3f-text/javascript" src="../../files/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="8df2698723cdfd00f1a0ec3f-text/javascript" src="../../files/bower_components/popper.js/js/popper.min.js"></script>
    <script type="8df2698723cdfd00f1a0ec3f-text/javascript" src="../../files/bower_components/bootstrap/js/bootstrap.min.js"></script>
    <!-- waves js -->
    <script src="../../files/assets/pages/waves/js/waves.min.js" type="8df2698723cdfd00f1a0ec3f-text/javascript"></script>
    <!-- jquery slimscroll js -->
    <script type="8df2698723cdfd00f1a0ec3f-text/javascript" src="../../files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
    <!-- Float Chart js -->
    <script src="../../files/assets/pages/chart/float/jquery.flot.js" type="8df2698723cdfd00f1a0ec3f-text/javascript"></script>
    <script src="../../files/assets/pages/chart/float/jquery.flot.categories.js" type="8df2698723cdfd00f1a0ec3f-text/javascript"></script>
    <script src="../../files/assets/pages/chart/float/curvedLines.js" type="8df2698723cdfd00f1a0ec3f-text/javascript"></script>
    <script src="../../files/assets/pages/chart/float/jquery.flot.tooltip.min.js" type="8df2698723cdfd00f1a0ec3f-text/javascript"></script>
    <!-- Chartlist charts -->
    <script src="../../files/bower_components/chartist/js/chartist.js" type="8df2698723cdfd00f1a0ec3f-text/javascript"></script>
    <!-- amchart js -->
    <script src="../../files/assets/pages/widget/amchart/amcharts.js" type="8df2698723cdfd00f1a0ec3f-text/javascript"></script>
    <script src="../../files/assets/pages/widget/amchart/serial.js" type="8df2698723cdfd00f1a0ec3f-text/javascript"></script>
    <script src="../../files/assets/pages/widget/amchart/light.js" type="8df2698723cdfd00f1a0ec3f-text/javascript"></script>
    <!-- Custom js -->
    <script src="../../files/assets/js/pcoded.min.js" type="8df2698723cdfd00f1a0ec3f-text/javascript"></script>
    <script src="../../files/assets/js/vertical/vertical-layout.min.js" type="8df2698723cdfd00f1a0ec3f-text/javascript"></script>
    <script type="8df2698723cdfd00f1a0ec3f-text/javascript" src="../../files/assets/pages/dashboard/custom-dashboard.min.js"></script>
    <script type="8df2698723cdfd00f1a0ec3f-text/javascript" src="../../files/assets/js/script.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="8df2698723cdfd00f1a0ec3f-text/javascript"></script>
    <script type="8df2698723cdfd00f1a0ec3f-text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>

    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js" data-cf-settings="8df2698723cdfd00f1a0ec3f-|49" defer=""></script>
    <!-- jquery slimscroll js -->
    <script type="2626606c951ff19674a745c3-text/javascript" src="../../files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="2626606c951ff19674a745c3-text/javascript" src="../../files/bower_components/modernizr/js/modernizr.js"></script>
    <script type="2626606c951ff19674a745c3-text/javascript" src="../../files/bower_components/modernizr/js/css-scrollbars.js"></script>
    <script type="2626606c951ff19674a745c3-text/javascript" src="../../files/assets/js/common-pages.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="2626606c951ff19674a745c3-text/javascript"></script>
    <script type="2626606c951ff19674a745c3-text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCyJxTw1sIsDYgxWfKcNZUK5DrchMw9V0"></script>

    <!--<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>-->

    <script src="../../Scripts/Bootstrap/bootstrap.min.js"></script>
    <script src="../../Scripts/Bootstrap/ui-bootstrap-tpls-0.13.3.min.js"></script>
    <script src="../../Scripts/app.min.js"></script>
    <script src="../../Scripts/Toastr/toastr.min.js"></script>
    <script src="../../Scripts/sweetalert.min.js"></script>
    <script src="../../Scripts/sweetalert2.min.js"></script>
    <script src="../../Scripts/select2.full.min.js"></script>
    <script src="../../Scripts/jsTree/jstree.min.js"></script>
    <script src="../../Scripts/Angular/loading-bar.js"></script>
    <script src="../../Scripts/Angular/moment.min.js"></script>
    <script src="../../Scripts/Angular/angular-moment.min.js"></script>
    <script src="../../Scripts/Calendar.js"></script>
    <script src="../../Scripts/JsBarcode-master/dist/JsBarcode.all.js"></script>
    <script src="../../Scripts/jsPdf/jspdf.js"></script>
    <script src="../../Scripts/jsPdf/jspdf.plugin.addimage.js"></script>
    <script src="../../Scripts/jsPdf/jspdf.plugin.standard_fonts_metrics.js"></script>
    <script src="../../Scripts/jsPdf/jspdf.plugin.split_text_to_size.js"></script>
    <script src="../../Scripts/jsPdf/jspdf.plugin.from_html.js"></script>
    <script src="../../Scripts/xlsxLibrary/jszip.js"></script>
    <script src="../../Scripts/xlsxLibrary/ods.js"></script>
    <script src="../../Scripts/xlsxLibrary/xlsx.js"></script>
    <script src="../../Scripts/qrcode/qrcode.js"></script>
    <!-- Latest compiled and minified CSS -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="../../Scripts/Bootstrap/bootstrap-select.min.js.js"></script>
    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="../../Scripts/Bootstrap/i18n/defaults-es_ES.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    <script src="../Cross/Start.js"></script>
    <script src="../../ConfiguracionAplicativo.js"></script>
    <script src="../Cross/App.js"></script>
    <script src="../Cross/Mensajes.js"></script>
    <script src="../Cross/Utilitarios.js"></script>
    <script src="../Cross/Constantes.js"></script>
    <script src="../Cross/datejs.js"></script>
    <script src="../Cross/Validaciones.js"></script>
    <script src="../Cross/moment.js"></script>
    <script src="../Cross/moment.min.js"></script>
    <script src="../Controllers/MainController.js"></script>
    <script src="../Controllers/InicioController.js"></script>
    <script src="../Controllers/MapaController.js"></script>
    <!-- /build -->

    <script src="../Factory/settingsFactory.js"></script>
    <script src="../Factory/authFactory.js"></script>
    <script src="../Factory/authInterceptorFactory.js"></script>

    <script src="../Directives/MapaDirective.js"></script>

    <!-- Factory -->
    <!-- Factory APLICATIVO-BASICO-GENERAL -->
    <script src="../Factory/Aplicativo/Basico/General/CatalogosFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/General/CiudadesFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/General/NotificacionesFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/General/DepartamentosFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/General/EmpresasFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/General/OficinasFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/General/TercerosFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/General/ValorCatalogosFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/General/ConfiguracionCatalogosFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/General/TipoDocumentosFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/General/ImpuestosTipoDocumentosFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/General/DocumentosFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/General/GestionDocumentosFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/General/ImpuestosFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/General/MonedasFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/General/PaisesFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/General/TRMFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/General/ProductoTransportadosFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/General/UnidadEmpaqueFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/General/UnidadMedidaFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/General/ProductosMinisterioTransporteFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/General/ZonasFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/General/PuertosPaisesFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/General/SitiosTerceroClienteFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/General/FormularioInspeccionesFactory.js"></script>

    <!-- Factory APLICATIVO-BASICO-TESORERIA -->
    <script src="../Factory/Aplicativo/Basico/Tesoreria/BancosFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Tesoreria/PlanUnicoCuentasFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Tesoreria/CuentaBancariasFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Tesoreria/CajasFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Tesoreria/ChequeraCuentaBancariasFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Tesoreria/ConceptoContablesFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Tesoreria/ParametrizacionContablesFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Tesoreria/DetalleConceptoContablesFactory.js"></script>

    <!-- Factory APLICATIVO-BASICO-FACTURACION -->
    <script src="../Factory/Aplicativo/Basico/Facturacion/ConceptosFacturacionFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Facturacion/ConceptoNotasFacturasFactory.js"></script>

    <!-- Factory APLICATIVO-BASICO-DESPACHOS -->
    <script src="../Factory/Aplicativo/Basico/Despachos/LineaVehiculosFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Despachos/ColorVehiculosFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Despachos/MarcaVehiculosFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Despachos/RutasFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Despachos/VehiculosFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Despachos/SemirremolquesFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Despachos/MarcaSemirremolquesFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Despachos/PuestoControlesFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Despachos/ConceptoLiquidacionFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Despachos/NovedadesDespachosFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Despachos/NovedadesConceptosFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Despachos/PrecintosFactory.js"></script>
    <script src="../Controllers/Aplicativo/Facturacion/Procesos/MarcarRemesasFacturadasController.js"></script>
    <script src="../Controllers/Aplicativo/Despachos/Consultas/ConsultarDetalleNovedadesDespachoController.js"></script>
    <script src="../Factory/Aplicativo/Basico/Despachos/FotosVehiculosFactory.js"></script>

    <!-- Factory APLICATIVO-BASICO-ALMACEN -->
    <script src="../Factory/Aplicativo/Basico/Almacen/AlmacenesFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Almacen/GrupoReferenciasFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Almacen/ReferenciaAlmacenesFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Almacen/ReferenciaProveedoresFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Almacen/ReferenciasFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Almacen/UbicacionAlmacenesFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Almacen/UnidadEmpaqueReferenciasFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Almacen/UnidadMedidaReferenciasFactory.js"></script>

    <!-- Factory APLICATIVO-CONTROL_VIAJES -->
    <script src="../Factory/Aplicativo/ControlViajes/DetalleSeguimientoVehiculosFactory.js"></script>
    <script src="../Factory/Aplicativo/ControlViajes/SolicitudAutorizacionesOperacionFactory.js"></script>
    <script src="../Factory/Aplicativo/ControlViajes/InspeccionPreoperacionalFactory.js"></script>
    <script src="../Factory/Aplicativo/ControlViajes/DocumentoInspeccionPreoperacionalFactory.js"></script>

    <!-- Factory APLICATIVO-PAQUETERIA -->
    <script src="../Factory/Aplicativo/Paqueteria/Documentos/RecoleccionesFactory.js"></script>
    <script src="../Factory/Aplicativo/Paqueteria/Documentos/PlanillaRecoleccionesFactory.js"></script>
    <script src="../Factory/Aplicativo/Paqueteria/DetalleNovedadesDespachosFactory.js"></script>
    <script src="../Factory/Aplicativo/Paqueteria/Documentos/DetallePlanillaDespachosFactory.js"></script>

    <!-- Factory APLICATIVO-SEGURIDAD_USUARIOS -->
    <script src="../Factory/Aplicativo/SeguridadUsuarios/SeguridadUsuariosFactory.js"></script>
    <script src="../Factory/Aplicativo/SeguridadUsuarios/GrupoUsuariosFactory.js"></script>
    <script src="../Factory/Aplicativo/SeguridadUsuarios/UsuariosFactory.js"></script>
    <script src="../Factory/Aplicativo/SeguridadUsuarios/PermisoGrupoUsuariosFactory.js"></script>

    <!-- Factory APLICATIVO-SEGURIDAD -->
    <script src="../Factory/Aplicativo/Seguridad/EstudioSeguridadFactory.js"></script>
    <script src="../Factory/Aplicativo/Seguridad/EntidadOrigenEstudioSeguridadFactory.js"></script>
    <script src="../Factory/Aplicativo/Seguridad/TipoDocumentoEstudioSeguridadFactory.js"></script>
    <script src="../Factory/Aplicativo/Seguridad/EstudioSeguridadDocumentosFactory.js"></script>

    <!-- Factory APLICATIVO-SEGURIDAD -->
    <script src="../Factory/Aplicativo/ServicioCliente/GestionDocumentalDocumentosFactory.js"></script>

    <!-- Factory APLICATIVO-CONTABILIDAD -->
    <script src="../Factory/Aplicativo/Contabilidad/EncabezadoComprobantesContablesFactory.js"></script>
    <script src="../Factory/Aplicativo/Contabilidad/CierreContableDocumentosFactory.js"></script>

    <!-- Factory GESPHONE -->
    <script src="../Factory/Gesphone/NovedadTransitoFactory.js"></script>

    <!-- Factory DESPACHOS -->
    <script src="../Factory/Aplicativo/Despachos/EncabezadoSeguimientoVehiculosFactory.js"></script>
    <script src="../Factory/Aplicativo/Paqueteria/RemesaGuiasFactory.js"></script>
    <script src="../Factory/Aplicativo/Paqueteria/PlanillaGuiasFactory.js"></script>
    <script src="../Factory/Aplicativo/Despachos/RemesasFactory.js"></script>
    <script src="../Factory/Aplicativo/Despachos/PlanillaDespachosFactory.js"></script>
    <script src="../Factory/Aplicativo/Despachos/ManifiestoFactory.js"></script>
    <script src="../Factory/Aplicativo/Despachos/OrdenCargueFactory.js"></script>
    <script src="../Factory/Aplicativo/Despachos/CumplidosFactory.js"></script>
    <script src="../Factory/Aplicativo/Despachos/LiquidacionesFactory.js"></script>
    <script src="../Factory/Aplicativo/Despachos/ReporteMinisterioFactory.js"></script>
    <script src="../Factory/Aplicativo/Paqueteria/PlanillaEntregadaFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/Despachos/SitiosCargueDescargueFactory.js"></script>
    <script src="../Factory/Aplicativo/Despachos/NovedadesDespachoFactory.js"></script>
    <script src="../Factory/Aplicativo/Despachos/DetalleDistribucionRemesasFactory.js"></script>

    <!-- Factory TESORERIA -->
    <script src="../Factory/Aplicativo/Tesoreria/DocumentoComprobantesFactory.js"></script>
    <script src="../Factory/Aplicativo/Tesoreria/DocumentoCuentasFactory.js"></script>

    <!-- Factory COMERCIAL -->
    <script src="../Factory/Aplicativo/Comercial/Documentos/LineaNegocioTransportesFactory.js"></script>
    <script src="../Factory/Aplicativo/Comercial/Documentos/TarifarioVentasFactory.js"></script>
    <script src="../Factory/Aplicativo/Comercial/Documentos/TarifarioComprasFactory.js"></script>
    <script src="../Factory/Aplicativo/Comercial/Documentos/TarifaTransportesFactory.js"></script>
    <script src="../Factory/Aplicativo/Comercial/Documentos/TipoLineaNegocioTransportesFactory.js"></script>
    <script src="../Factory/Aplicativo/Comercial/Documentos/TipoTarifaTransportesFactory.js"></script>
    <script src="../Factory/Aplicativo/ServicioCliente/TipoTarifaTransporteCargaFactory.js"></script>

    <!-- Factory UTILITARIOS -->
    <script src="../Factory/Aplicativo/Utilitarios/BandejaSalidaCorreosFactory.js"></script>
    <script src="../Factory/Aplicativo/Utilitarios/ConfiguracionServidorCorreosFactory.js"></script>
    <script src="../Factory/Aplicativo/Utilitarios/EventoCorreosFactory.js"></script>
    <script src="../Factory/Aplicativo/Utilitarios/ListaDistribucionCorreosFactory.js"></script>
    <script src="../Factory/Aplicativo/Utilitarios/ListadosAuditoriaDocumentosFactory.js"></script>

    <!-- Factory SERVICIO CLIENTE -->
    <script src="../Factory/Aplicativo/ServicioCliente/EncabezadoSolicitudOrdenServiciosFactory.js"></script>
    <script src="../Factory/Aplicativo/Basico/ServicioCliente/ConceptoVentasFactory.js"></script>
    <!-- Factory Facturacion -->
    <script src="../Factory/Aplicativo/Facturacion/FacturasFactory.js"></script>
    <script src="../Factory/Aplicativo/Facturacion/DetalleConceptosFacturasFactory.js"></script>
    <script src="../Factory/Aplicativo/Facturacion/ImpuestoFacturasFactory.js"></script>
    <script src="../Factory/Aplicativo/Facturacion/FacturasOtrosConceptosFactory.js"></script>
    <script src="../Factory/Aplicativo/Facturacion/NotasFacturasFactory.js"></script>

    <!-- CONTROLADORES -->
    <!-- CONTROLLER APLICATIVO-BASICO-GENERAL -->
    <script src="../Controllers/Aplicativo/Basico/General/ConsultarEmpresasController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/General/GestionarEmpresasController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/General/ConsultarCatalogosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/General/ConsultarOficinasController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/General/GestionarCatalogosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/General/GestionarOficinasController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/General/ConsultarCiudadesController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/General/GestionarCiudadesController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/General/ConsultarTercerosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/General/GestionarTercerosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/General/ConsultarDepartamentosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/General/GestionarDepartamentosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/General/ConsultarPaisesController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/General/GestionarPaisesController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/General/ConsultarMonedaController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/General/GestionarMonedaController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/General/GestionarImpuestoController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/General/ConsultarImpuestosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/General/GestionarProductoTransportadosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/General/ConsultarProductoTransportadosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/General/ConsultarTipoDocumentosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/General/GestionarTipoDocumentosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/General/ConsultarPuertosPaises.js"></script>
    <script src="../Controllers/Aplicativo/Basico/General/GestionarPuertosPaises.js"></script>
    <script src="../Controllers/Aplicativo/Basico/General/ConsultarFormularioInspeccionesController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/General/GestionarFormularioInspeccionesController.js"></script>

    <!-- CONTROLLER APLICATIVO-BASICO-DESPACHOS -->
    <script src="../Controllers/Aplicativo/Basico/Despachos/ConsultarColorVehiculosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Despachos/ConsultarLineaVehiculosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Despachos/ConsultarMarcaVehiculosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Despachos/ConsultarRutasController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Despachos/GestionarColorVehiculosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Despachos/GestionarLineaVehiculosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Despachos/GestionarMarcaVehiculosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Despachos/GestionarRutasController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Despachos/GestionarVehiculosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Despachos/ConsultarVehiculosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Despachos/GestionarSemirremolquesController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Despachos/GestionarMarcaSemirremolquesController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Despachos/ConsultarSemirremolquesController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Despachos/ConsultarMarcaSemirremolquesController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Despachos/ConsultarPuestoControlesController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Despachos/GestionarPuestoControlesController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Despachos/ConsultarNovedadesDespachosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Despachos/GestionarNovedadesDespachosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Despachos/ConsultarConceptosLiquidacionController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Despachos/GestionarConceptosLiquidacionController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Despachos/ConsultarSitiosCargueDescargueController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Despachos/GestionarSitiosCargueDescargueController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Despachos/ConsultarPrecintosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Despachos/GestionarTransladoPrecintosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Despachos/GestionarAsignacionPrecintosController.js"></script>

    <!-- CONTROLLER APLICATIVO-BASICO-TESORERIA -->
    <script src="../Controllers/Aplicativo/Basico/Tesoreria/ConsultarBancosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Tesoreria/GestionarBancosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Tesoreria/ConsultarCuentaBancariasController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Tesoreria/GestionarCuentaBancariasController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Tesoreria/ConsultarPlanUnicoCuentasController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Tesoreria/GestionarPlanUnicoCuentasController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Tesoreria/ConsultarCajasController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Tesoreria/GestionarCajasController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Tesoreria/ConsultarChequeraCuentaBancariasController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Tesoreria/GestionarChequeraCuentaBancariasController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Tesoreria/ConsultarConceptoContablesController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Tesoreria/GestionarConceptoContablesController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Tesoreria/ConsultarParametrizacionContablesController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Tesoreria/GestionarParametrizacionContablesController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Tesoreria/ConsultarCuentaCambistaController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Tesoreria/GestionarCuentaCambistaController.js"></script>

    <!-- CONTROLLER APLICATIVO-BASICO-FACTURACION -->
    <script src="../Controllers/Aplicativo/Basico/Facturacion/ConsultarConceptosFacturacionController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Facturacion/GestionarConceptosFacturacionController.js"></script>

    <!-- CONTROLLER APLICATIVO-BASICO-ALMACEN -->
    <script src="../Controllers/Aplicativo/Basico/Almacen/ConsultarAlmacenesController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Almacen/GestionarAlmacenesController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Almacen/ConsultarGrupoReferenciasController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Almacen/GestionarGrupoReferneciasController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Almacen/ConsultarReferenciaAlmacenesController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Almacen/GestionarReferenciaAlmacenesController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Almacen/ConsultarReferenciaProveedoresController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Almacen/GestionarReferenciaProveedoresController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Almacen/ConsultarReferenciasController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Almacen/GestionarReferenciasController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Almacen/ConsultarUbicacionAlmacenesController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Almacen/GestionarUbicacionAlmacenesController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Almacen/ConsultarUnidadEmpaqueReferenciasController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Almacen/GestionarUnidadEmpaqueReferenciasController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Almacen/ConsultarUnidadMedidaReferenciasController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Almacen/GestionarUnidadMedidaReferenciasController.js"></script>
    <!-- CONTROLLER CONTROL VIAJES -->
    <script src="../Controllers/Aplicativo/ControlViajes/ConsultasSeguimientoController.js"></script>
    <script src="../Controllers/Aplicativo/ControlViajes/ConsultarSolicitudAutorizacionesOperacionController.js"></script>
    <script src="../Controllers/Aplicativo/ControlViajes/ConsultarSeguimientoVehiculosController.js"></script>
    <script src="../Controllers/Aplicativo/ControlViajes/Documentos/ConsultarInspeccionPreoperacionalController.js"></script>
    <script src="../Controllers/Aplicativo/ControlViajes/Documentos/GestionarInspeccionPreoperacionalController.js"></script>

    <!-- CONTROLLER PAQUETERIA -->
    <script src="../Controllers/Aplicativo/Paqueteria/Documentos/Recolecciones/ConsultarRecoleccionesController.js"></script>
    <script src="../Controllers/Aplicativo/Paqueteria/Documentos/Recolecciones/GestionarRecoleccionesController.js"></script>
    <script src="../Controllers/Aplicativo/Paqueteria/Documentos/PlanillaRecoleccion/ConsultarPlanillaRecoleccionesController.js"></script>
    <script src="../Controllers/Aplicativo/Paqueteria/Documentos/PlanillaRecoleccion/GestionarPlanillaRecoleccionesController.js"></script>

    <!-- CONTROLLER SEGURIDAD -->
    <script src="../Controllers/Aplicativo/Seguridad/ConsultarEstudioSeguridadController.js"></script>
    <script src="../Controllers/Aplicativo/Seguridad/GestionarEstudioSeguridadController.js"></script>
    <script src="../Controllers/Aplicativo/Seguridad/AprobarEstudioSeguridadController.js"></script>

    <!-- CONTROLLER CONTABILIDAD -->
    <script src="../Controllers/Aplicativo/Contabilidad/Documentos/ConsultarComprobantesContablesController.js"></script>
    <script src="../Controllers/Aplicativo/Contabilidad/Documentos/GestionarComprobantesContablesController.js"></script>
    <script src="../Controllers/Aplicativo/Contabilidad/Procesos/GenerarInterfazContableController.js"></script>
    <script src="../Controllers/Aplicativo/Contabilidad/Procesos/GestionarCierreContableController.js"></script>

    <script src="../Controllers/Aplicativo/Contabilidad/Listados/ConsultarListadoContabilidadController.js"></script>
    <script src="../Controllers/Aplicativo/FlotaPropia/Listados/ConsultarListadoFlotaPropiaController.js"></script>
    <!-- CONTROLLER SEGURIDAD USUARIOS -->
    <script src="../Controllers/Aplicativo/SeguridadUsuarios/ConsultarGruposController.js"></script>
    <script src="../Controllers/Aplicativo/SeguridadUsuarios/ConsultarUsuariosController.js"></script>
    <script src="../Controllers/Aplicativo/SeguridadUsuarios/GestionarGruposController.js"></script>
    <script src="../Controllers/Aplicativo/SeguridadUsuarios/GestionarUsuariosController.js"></script>

    <!-- CONTROLLER TESORERIA -->
    <script src="../Controllers/Aplicativo/Tesoreria/ConsultarComprobanteEgresosController.js"></script>
    <script src="../Controllers/Aplicativo/Tesoreria/GestionarComprobanteEgresosController.js"></script>
    <script src="../Controllers/Aplicativo/Tesoreria/ConsultarComprobanteIngresosController.js"></script>
    <script src="../Controllers/Aplicativo/Tesoreria/GestionarComprobanteIngresosController.js"></script>
    <script src="../Controllers/Aplicativo/Tesoreria/GenerarComprobanteEgresosController.js"></script>
    <script src="../Controllers/Aplicativo/Tesoreria/GenerarComprobanteIngresosController.js"></script>
    <script src="../Controllers/Aplicativo/Tesoreria/Listados/ConsultarListadoTesoreriaController.js"></script>
    <script src="../Controllers/Aplicativo/Tesoreria/GestionarArchivoUIAFController.js"></script>

    <!-- CONTROLLER GESPHONE -->
    <script src="../Controllers/Gesphone/Entregas/ConsultarControlEntregasController.js"></script>
    <script src="../Controllers/Gesphone/Entregas/GestionarControlEntregasController.js"></script>
    <script src="../Controllers/Gesphone/Transito/GestionarNovedadTransitoController.js"></script>
    <script src="../Controllers/Gesphone/ListaChequeo/ConsultarListaChequeCargueDescarguesController.js"></script>
    <script src="../Controllers/Gesphone/ListaChequeo/ConsultarListaChequeoVehiculosController.js"></script>
    <script src="../Controllers/Gesphone/ListaChequeo/GestionarListaChequeoCargueDescarguesController.js"></script>
    <script src="../Controllers/Gesphone/ListaChequeo/GestionarListaChequeoVehiculosController.js"></script>

    <!-- CONTROLLER COMERCIAL -->
    <script src="../Controllers/Aplicativo/Comercial/Documentos/ConsultarTarifarioVentasController.js"></script>
    <script src="../Controllers/Aplicativo/Comercial/Documentos/GestionarTarifarioVentasController.js"></script>
    <script src="../Controllers/Aplicativo/Comercial/Documentos/ConsultarTarifarioComprasController.js"></script>
    <script src="../Controllers/Aplicativo/Comercial/Documentos/GestionarTarifarioComprasController.js"></script>
    <script src="../Controllers/Aplicativo/Comercial/Procesos/CargarTarifarioController.js"></script>

    <!-- CONTROLLER DESPACHOS -->
    <script src="../Controllers/Aplicativo/Paqueteria/Documentos/Guias/ConsultarGuiaPaqueteriasController.js"></script>
    <script src="../Controllers/Aplicativo/Paqueteria/Documentos/Guias/GestionarGuiaPaqueteriasController.js"></script>
    <script src="../Controllers/Aplicativo/Paqueteria/Documentos/PlanillaGuias/ConsultarPlanillaGuiasController.js"></script>
    <script src="../Controllers/Aplicativo/Paqueteria/Documentos/PlanillaGuias/GestionarPlanillaGuiasController.js"></script>
    <script src="../Controllers/Aplicativo/Paqueteria/Procesos/CumplidoGuiasPaqueteriaController.js"></script>
    <script src="../Controllers/Aplicativo/Paqueteria/Documentos/LiquidacionGuias/ConsultarLiquidacionGuiasController.js"></script>
    <script src="../Controllers/Aplicativo/Paqueteria/Documentos/LiquidacionGuias/GestionarLiquidacionGuiasControlle.js"></script>
    <script src="../Controllers/Aplicativo/Despachos/Documentos/Manifiestos/ConsultarManifiestosController.js"></script>
    <script src="../Controllers/Aplicativo/Despachos/Documentos/Manifiestos/GestionarManifiestoController.js"></script>
    <script src="../Controllers/Aplicativo/Despachos/Procesos/AprobarLiquidaciones/AprobarLiquidacionesController.js"></script>
    <script src="../Controllers/Aplicativo/Despachos/Documentos/Remesas/ConsultarRemesasController.js"></script>

    <script src="../Controllers/Aplicativo/Despachos/Consultas/ConsultarUnicoPrecintosController.js"></script>


    <script src="../Controllers/Aplicativo/Despachos/Documentos/Remesas/GestionarRemesaController.js"></script>
    <script src="../Controllers/Aplicativo/Despachos/Documentos/Cumplidos/ConsultarCumplidosController.js"></script>
    <script src="../Controllers/Aplicativo/Despachos/Documentos/Cumplidos/GestionarCumplidoController.js"></script>
    <script src="../Controllers/Aplicativo/Despachos/Documentos/Liquidaciones/ConsultarLiquidacionesController.js"></script>
    <script src="../Controllers/Aplicativo/Despachos/Documentos/Liquidaciones/GestionarLiquidacionController.js"></script>
    <script src="../Controllers/Aplicativo/Despachos/Procesos/CumplidoRemesasController.js"></script>
    <script src="../Controllers/Aplicativo/Despachos/Listados/ConsultarListadoDespachosController.js"></script>
    <script src="../Controllers/Aplicativo/Paqueteria/Listados/ConsultarListadoGuiaPaqueteriasController.js"></script>
    <script src="../Controllers/Aplicativo/Despachos/Documentos/OrdenCargues/ConsultarOrdenCargueController.js"></script>
    <script src="../Controllers/Aplicativo/Despachos/Documentos/OrdenCargues/GestionarOrdenCargueController.js"></script>
    <script src="../Controllers/Aplicativo/Despachos/Documentos/PlanillaDespacho/ConsultarPlanillaDespachosController.js"></script>
    <script src="../Controllers/Aplicativo/Despachos/Documentos/PlanillaDespacho/GestionarPlanillaDespachosController.js"></script>
    <script src="../Controllers/Aplicativo/Despachos/Procesos/ConsultarDespacharOrdenServiciosController.js"></script>
    <script src="../Controllers/Aplicativo/Despachos/Procesos/GestionarDespacharOrdenServiciosController.js"></script>
    <script src="../Controllers/Aplicativo/Despachos/Procesos/ReportarDespachosMinisterioController.js"></script>
    <script src="../Controllers/Aplicativo/Paqueteria/Procesos/RecepcionGuiasOficinaController.js"></script>
    <script src="../Controllers/Aplicativo/Despachos/Procesos/NovedadesDespachoController.js"></script>
    <script src="../Controllers/Aplicativo/Paqueteria/Documentos/PlanillaEntrega/ConsultarPlanillaEntregadasController.js"></script>
    <script src="../Controllers/Aplicativo/Paqueteria/Documentos/PlanillaEntrega/GestionarPlanillaEntregadasController.js"></script>
    <script src="../Controllers/Aplicativo/Paqueteria/Procesos/CargarRemesasPaqueteriaController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/Listados/ConsultarListadoBasicoController.js"></script>

    <!--FACTURACION-->
    <script src="../Controllers/Aplicativo/Facturacion/ConsultarFacturaVentasController.js"></script>
    <script src="../Controllers/Aplicativo/Facturacion/GestionarFacturaVentasController.js"></script>
    <script src="../Controllers/Aplicativo/Facturacion/GestionarFacturaOtrosConceptosController.js"></script>
    <script src="../Controllers/Aplicativo/Facturacion/ConsultarFacturaOtrosConceptosController.js"></script>
    <script src="../Controllers/Aplicativo/Facturacion/Listados/ConsultarListadoFacturacionController.js"></script>
    <!--NOTAS FACTURACION-->
    <script src="../Controllers/Aplicativo/Facturacion/ConsultarNotaCreditoController.js"></script>
    <script src="../Controllers/Aplicativo/Facturacion/GestionarNotaCreditoController.js"></script>

    <!-- CONTROLLER SERVICIO CLIENTE -->
    <script src="../Controllers/Aplicativo/ServicioCliente/ConsultarOrdenServicioController.js"></script>
    <script src="../Controllers/Aplicativo/ServicioCliente/GestionarOrdenServicioController.js"></script>
    <script src="../Controllers/Aplicativo/ServicioCliente/ConsultarGenerarOrdenServicioController.js"></script>
    <script src="../Controllers/Aplicativo/ServicioCliente/GestionarGenerarOrdenServicioController.js"></script>
    <script src="../Controllers/Aplicativo/ServicioCliente/Listados/ConsultarListadoServicioClienteController.js"></script>
    <script src="../Controllers/Aplicativo/ServicioCliente/GestionarProgramacionOrdenServicioController.js"></script>
    <script src="../Controllers/Aplicativo/ServicioCliente/ConsultarProgramacionOrdenServicioController.js"></script>
    <script src="../Factory/Aplicativo/ServicioCliente/EncabezadoProgramacionOrdenServiciosFactory.js"></script>
    <script src="../Controllers/Aplicativo/Despachos/Procesos/ProgramarOrdenServicio/ConsultarProcesoProgramacionOrdenServicioController.js"></script>
    <script src="../Controllers/Aplicativo/Despachos/Procesos/ProgramarOrdenServicio/GestionarProcesoProgramacionOrdenServicioController.js"></script>


    <!-- CONTROLLER SERVICIO PORTAL -->
    <script src="../Controllers/Aplicativo/ServicioCliente/ConsultarSolicitudOrdenServicioController.js"></script>
    <script src="../Controllers/Aplicativo/ServicioCliente/GestionarSolicitudOrdenServicioController.js"></script>

    <!-- CONTROLLER UTILITARIOS -->
    <script src="../Controllers/Aplicativo/Utilitarios/ConsultarBandejaSalidaCorreosController.js"></script>
    <script src="../Controllers/Aplicativo/Utilitarios/GestionarConfiguracionServidorCorreos.js"></script>
    <script src="../Controllers/Aplicativo/Utilitarios/ConsultarListaDristibucionCorreosController.js"></script>
    <script src="../Controllers/Aplicativo/Utilitarios/GestionarListaDristibucionCorreosController.js"></script>
    <script src="../Controllers/Aplicativo/Utilitarios/ConsultarListadosAuditoriaDocumentosController.js"></script>
    <script src="../Controllers/Aplicativo/Tesoreria/GestionarArchivoUIAFController.js"></script>


    <!-- CONTROLLER LEGALIZACIÓN GASTOS -->
    <script src="../Factory/Aplicativo/FlotaPropia/LegalizacionGastosFactory.js"></script>
    <script src="../Controllers/Aplicativo/FlotaPropia/Documentos/ConsultarLegalizacionGastosController.js"></script>
    <script src="../Controllers/Aplicativo/FlotaPropia/Documentos/GestionarLegalizacionGastosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/FlotaPropia/ConsultarConceptosGastosController.js"></script>
    <script src="../Controllers/Aplicativo/Basico/FlotaPropia/GestionarConceptosGastosController.js"></script>
    <script src="../Factory/Aplicativo/Basico/FlotaPropia/ConceptoGastosFactory.js"></script>

    <!-- CONTROLLER FIDELIZACION TRANSPORTADORES -->
    <script src="../Controllers/Aplicativo/Fidelizacion/Documentos/ConsultarFidelizacionController.js"></script>
    <script src="../Controllers/Aplicativo/Fidelizacion/Documentos/GestionarFidelizacionController.js"></script>

    <script src="../Controllers/Aplicativo/Fidelizacion/Documentos/ConsultarCausalesFidelizacionController.js"></script>
    <script src="../Controllers/Aplicativo/Fidelizacion/Documentos/GestionarCausalesFidelizacionController.js"></script>

    <script src="../Controllers/Aplicativo/Fidelizacion/Documentos/ConsultarDespachosFidelizacionController.js"></script>
    <script src="../Controllers/Aplicativo/Fidelizacion/Documentos/GestionarDespachosFidelizacionController.js"></script>

    <!-- FACTORY FIDELIZACION TRANSPORTADORES -->
    <script src="../Factory/Aplicativo/Fidelizacion/Documentos/PuntosVehiculosFactory.js"></script>
    <script src="../Factory/Aplicativo/Fidelizacion/Documentos/DetalleCausalesPuntosVehiculosFactory.js"></script>
    <script src="../Factory/Aplicativo/Fidelizacion/Documentos/DetalleDespachosPuntosVehiculosFactory.js"></script>

    <!-- ENTURNAMIENTOS -->
    <script src="../Factory/Aplicativo/Despachos/EnturnamientoFactory.js"></script>
    <script src="../Controllers/Aplicativo/Despachos/Procesos/Enturnamientos/GestionarConsultaEntunramientoController.js"></script>
    <script src="../Controllers/Gesphone/Enturnamiento/GestionarEntunramientoController.js"></script>

    <!--GESPHONE DOCUMENTOS-->
    <script src="../Controllers/Gesphone/Documentos/Terceros/DocumentosTercerosController.js"></script>
    <script src="../Controllers/Gesphone/Documentos/Vehiculos/DocumentosVehiculosController.js"></script>
    <script src="../Controllers/Gesphone/Documentos/Cuentas/ConsultarCuentasController.js"></script>
    <script src="../Controllers/Gesphone/Documentos/DocumentosProximoVencer/DocumentosProximosVencer.js"></script>

    <script src="../Controllers/Gesphone/Entregas/ConsultarControlEntregasControllerV2.js"></script>
</body>

</html>
