﻿<!--<div class="col-md-12 col-sm-12 col-xs-12" ng-show="NoAutorizado"  style="background:url(../../Css/img/Fondo_Gestrans_1_B.jpg);padding:200px;border-top:0;">-->
<div class="login-box" ng-show="NoAutorizado" style="position:relative;
    -webkit-box-shadow: 6px 27px 146px 36px rgba(66,66,66,0.4);
    -moz-box-shadow: 6px 27px 146px 36px rgba(66,66,66,0.4);
    box-shadow: 6px 27px 146px 36px rgba(66,66,66,0.4);
">
    <!--<div ng-show="FondoPantalla" class="login-logo">
        <h4>GESTRANS.NET CARGA 4.6</h4>
        <img class="img-circle" src="{{ImagenLogo}}" style="height:100%;width:100%" alt="Colviajes">
        <hr class="thin" />
    </div>-->
    <!-- /.login-logo -->

    <div class="login-box-body">
        <div class="form-group">
            <section class="modal-header">
                <h5 class="modal-title">
                    <label>INGRESO A GESTRANS.NET CARGA 5.0</label>
                </h5>
            </section>
        </div>
        <div id="SeccionLogin">
            <div ng-if="RecuperarClave == false && VistaVerificacion == false && ModificarClave == false">
                <div class="form-group">
                    <label for="empresa">Empresa</label>
                    <select name="empresa" class="form-control" ng-change="ValidarEmpresa(Empresa);AsignarLogos()" ng-model="Empresa" ng-options="i.RazonSocial for i in ListadoEmpresas" required title="Por favor seleccione una empresa"></select>
                </div>
                <div class="form-group">
                    <label for="usuario">Usuario</label>
                    <input name="usuario" type="text" class="form-control" placeholder="Usuario" ng-model="Sesion.Identificador" maxlength="10" minlength="5" required title="Por favor ingrese su usuario" autocomplete="off" oncopy="return false">
                    <!--<span class="glyphicon glyphicon-user form-control-feedback"></span>-->
                </div>
                <div class="form-group">
                    <label for="clave">Contraseña</label>
                    <input name="clave" type="password" class="form-control" placeholder="Contraseña" ng-model="Sesion.Contrasena" maxlength="10" required title="Por favor ingrese su contraseña" autocomplete="off" oncopy="return false">
                    <!--<span class="glyphicon glyphicon-lock form-control-feedback"></span>-->
                </div>



                <button type="button" ng-click="ValidarUsuario()" class="btn btn-block btn-primary">Iniciar Sesión</button>
                <div class="form-group">

                    <a href="#" ng-click="BuscarCorreo()">Olvidé mi contraseña</a>
                    <!--<span class="glyphicon glyphicon-lock form-control-feedback"></span>-->
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6"><span class="glyphicon glyphicon-copyright-mark"></span> {{AnoActual}} EncoExpres</div>
                    <div class="col-md-6"><span class="pull-right">Versión {{Version}}</span> <!-- dia.mes.año.número publicación--></div>
                </div>
                <div class="container">
                </div>
            </div>
            <div ng-if="RecuperarClave == true && VistaVerificacion == false && ModificarClave == false">
                <div class="form-group">
                    <h5 class="modal-title text-center">
                        <label>VALIDAR CUENTA CORREO</label>
                    </h5>
                </div>
                <div class="{{EstilosMensaje}} form-group" role="alert" ng-if="InforecuperacionClave.length > 0">
                    <ul>
                        <li ng-repeat="info in InforecuperacionClave">
                            <span>{{info}}</span>
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="usua">Usuario</label>
                    <input name="usua" type="text" class="form-control" placeholder="Código Usuario" ng-model="Sesion.Identificador" required title="Por favor ingrese su código de usuario" autocomplete="off">
                    <!--<span class="glyphicon glyphicon-lock form-control-feedback"></span>-->
                </div>
                <div class="form-group">
                    <label for="Correo">Correo Electrónico</label>
                    <input name="Correo" type="text" class="form-control" placeholder="Email" ng-model="Sesion.CorreoValidar" title="Por favor ingrese su dirección de correo">
                    <!--<span class="glyphicon glyphicon-lock form-control-feedback"></span>-->
                </div>
                <button type="button" ng-click="ValidarCorreo()" class="btn btn-block btn-primary">Validar Correo</button>
                <button type="button" ng-click="VolverLogin()" class="btn btn-block btn-default"><span class="glyphicon glyphicon-remove-circle"></span>Cancelar</button>
            </div>
            <div ng-if="RecuperarClave == false && VistaVerificacion == true && ModificarClave == false">
                <div class={{EstilosMensaje}} role="alert" ng-if="InforecuperacionClave.length > 0">
                    <ul>
                        <li ng-repeat="info in InforecuperacionClave">
                            <span>{{info}}</span>
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="CodigoV">Ingrese el Código</label>
                    <input name="CodigoV" type="text" class="form-control" placeholder="Código" ng-model="Sesion.CodigoVerificacion" title="Por favor ingrese el código de validación" maxlength="6" ng-change="MaskNumero()">

                </div>
                <button type="button" ng-click="ValidarCodigoCorreo()" class="btn btn-block btn-primary">Validar Código</button>
                <button type="button" ng-click="VolverLogin()" class="btn btn-block btn-default"><span class="glyphicon glyphicon-remove-circle"></span>Cancelar</button>
            </div>
            <div ng-if="RecuperarClave == false && VistaVerificacion == false && ModificarClave == true">
                <div class={{EstilosMensaje}} role="alert" ng-if="InforecuperacionClave.length > 0">
                    <ul>
                        <li ng-repeat="info in InforecuperacionClave">
                            <span>{{info}}</span>
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="clave">Contraseña</label>
                    <input name="clave" type="password" class="form-control" placeholder="Contraseña" ng-model="Sesion.NuevaContrasena" maxlength="10" required title="Por favor ingrese su contraseña" autocomplete="off" oncopy="return false">
                    <!--<span class="glyphicon glyphicon-lock form-control-feedback"></span>-->
                </div>
                <div class="form-group">
                    <label for="clave">Confirmar Contraseña</label>
                    <input name="clave" type="password" class="form-control" placeholder="Contraseña" ng-model="Sesion.ConfNuevaContrasena" maxlength="10" required title="Por favor ingrese su contraseña" autocomplete="off" oncopy="return false">
                    <!--<span class="glyphicon glyphicon-lock form-control-feedback"></span>-->
                </div>
                <button type="button" ng-click="ValidarContrasenas()" class="btn btn-block btn-primary">Validar Contraseña</button>
                <button type="button" ng-click="VolverLogin()" class="btn btn-block btn-default"><span class="glyphicon glyphicon-remove-circle"></span>Cancelar</button>
            </div>
        </div>
        <div id="SeccionOficina" style="display: none;">
            <div class="alert alert-danger" role="alert" ng-show="MensajesErrorSeleccionOficina.length>0">
                <ul>
                    <li ng-repeat="error in MensajesErrorSeleccionOficina">
                        <span>{{error}}</span>
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <label for="lblOficina">Oficina</label>
                <select name="cmbOficina" class="form-control" ng-model="ModalOficina" ng-options="i.Nombre for i in ListadoOficinas | orderBy: 'Nombre'"> </select>
            </div>
            <div class="row">
                <div class="col-md-6"><button class="btn btn-block btn-primary" ng-click="AsignarOficina(ModalOficina)">Aceptar</button></div>
                <div class="col-md-6"> <button class="btn btn-block btn-default" ng-click="CerrarSesion()">Cancelar</button></div>
            </div>
        </div>
    </div>
</div>
<!--</div>-->