﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR NOVEDADES DESPACHOS</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechIni">Fecha Inicial</label>
                            <input name="txtFechIni" type="date" class="form-control" ng-model="FechaInicio">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechFin">Fecha Final</label>
                            <input name="txtFechFin" type="date" class="form-control" ng-model="FechaFin">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>No. Remesa</label>
                            <input class="form-control" ng-model="NumeroRemesa" placeholder="Ingrese número" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Novedad</label>
                            <select class="form-control" ng-model="Novedad" ng-options="i.Nombre for i in ListadoNovedadesDespachos"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>No. Planilla</label>
                            <input class="form-control" ng-model="NumeroPlanilla" placeholder="Ingrese número" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>No. Manifiesto</label>
                            <input class="form-control" ng-model="NumeroManifiesto" placeholder="Ingrese número" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" title="Buscar ciudad" ng-click="paginaActual=1;Buscar()">
                        Buscar
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoNovedadesDespacho.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>No. Remesa</th>
                                <th>Novedad</th>
                                <th>No. Planilla </th>
                                <th>No. Manifiesto</th>
                                <th style="text-align:right">Valor Transportador</th>
                                <th style="text-align:right">Valor Cliente</th>
                                <th>Proveedor</th>
                                <th style="text-align:right">Valor Costo</th>
                                <th>Usuario Crea</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoNovedadesDespacho  | orderBy:'Nombre'">
                                <td>{{item.FechaCrea | date:'dd/MM/yyyy'}}</td>
                                <td>{{item.NumeroDocumentoRemesa}}</td>
                                <td>{{item.Novedad.Nombre}}</td>
                                <td>{{item.NumeroDocumentoPlanilla}}</td>
                                <td>{{item.NumeroDocumentoManifiesto}}</td>
                                <td style="text-align:right">{{item.ValorCompra | number:0 }}</td>
                                <td style="text-align:right">{{item.ValorVenta | number:0 }}</td>
                                <td>{{item.Proveedor.Nombre}}</td>
                                <td style="text-align:right">{{item.ValorCosto | number:0 }}</td>
                                <td>{{item.UsuarioCrea.Nombre}}</td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>

</div>