﻿<div  ng-init="InitLoad()">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>

    <section class="content-header">
        <h1>CONSULTAR ALERTAS DOCUMENTOS</h1>
    </section>

    <div class="content">

        <div class="row">

            <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                <ul>
                    <li ng-repeat="error in MensajesError">{{error}}</li>
                </ul>
            </div>


            <div class="row" style="margin:10px">
                <!--Encabezado-->
                <div class="box box-default box-solid">

                    <div class="box-header with-border">
                        <h3 class="box-title">Filtros</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>

                    <div class="box-body">

                        <div class="row">

                            <!--Vehículo-->
                            <div class="col-md-6 col-sm-12 col-xs-12">

                                <div class="form-group">

                                    <label for="lblVehiculo">Vehículo</label>
                                    <input maxlength="60" type="text" autocomplete="off" class="form-control" placeholder="Ingrese Vehículo" ng-model="Modelo.Vehiculo"
                                           uib-typeahead="Vehiculo as Vehiculo.Placa for Vehiculo in AutocompleteVehiculos($viewValue) | filter: $viewValue | limitTo:5"
                                           ng-change="MaskPlaca()" ng-blur="Modelo.Vehiculo = VerificarAutocomplete(Modelo.Vehiculo)" />

                                </div>

                            </div>

                            <!--Conductor-->
                            <div class="col-md-6 col-sm-12 col-xs-12">

                                <div class="form-group">

                                    <label for="lblVehiculo">Conductor</label>
                                    <input maxlength="60" type="text" autocomplete="off" class="form-control" placeholder="Ingrese Conductor" ng-model="Modelo.Conductor"
                                           uib-typeahead="Conductor as Conductor.NombreCompleto for Conductor in AutocompleteConductores($viewValue) | filter: $viewValue | limitTo:5"
                                           ng-change="MaskMayus()" ng-blur="Modelo.Conductor = VerificarAutocomplete(Modelo.Conductor)" />

                                </div>

                            </div>

                        </div>

                        <!--Sección Botones-->
                        <div class="lineButtons">

                            <div class="pull-left">

                                <button class="btn btn-block btn-primary" title="Buscar" ng-click="Buscar()">
                                    Buscar
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <div class="row" style="margin:10px" ng-show="Vehiculo.Codigo > 0">
                <div class="box box-default box-solid collapsed-box ">
                    <div class="box-header with-border">
                        <h3 class="box-title">Vehículo</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="resultadoConsulta" class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th>Placa</th>
                                        <th>Semirremolque</th>
                                        <th>Tipo Vehículo</th>
                                        <th>Estado</th>
                                        <th>Causa Inactividad</th>
                                        <th>Justificación Inactividad</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="#!GestionarVehiculos/{{Vehiculo.Codigo}}">{{Vehiculo.Placa}}</a></td>
                                        <td>{{Vehiculo.Semirremolque.Placa}}</td>
                                        <td>{{Vehiculo.TipoVehiculo.Nombre}}</td>
                                        <td ng-show="Vehiculo.Estado.Codigo == 1">ACTIVO</td>
                                        <td ng-show="Vehiculo.Estado.Codigo == 0">INACTIVO</td>
                                        <td ng-show="Vehiculo.Estado.Codigo == 1"></td>
                                        <td ng-show="Vehiculo.Estado.Codigo == 0">{{Vehiculo.CausaInactividad.Nombre}}</td>
                                        <td ng-show="Vehiculo.Estado.Codigo == 1"></td>
                                        <td ng-show="Vehiculo.Estado.Codigo == 0">{{Vehiculo.JustificacionBloqueo}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row" style="margin:10px" ng-show="ListadoDocumentosVehiculo.length > 0">
                            <div class="box box-default box-solid collapsed-box ">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Documentos</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div id="resultadoConsulta" class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover table-condensed">
                                            <thead>
                                                <tr>
                                                    <th>Documento</th>
                                                    <th>Fecha Emisión</th>
                                                    <th>Fecha Vencimiento</th>
                                                    <th>Estado</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ListadoDocumentosVehiculo ">
                                                    <td>{{item.Documento}}</td>
                                                    <td>{{item.FechaEmision | date:'dd/MM/yyyy'}}</td>
                                                    <td>{{item.FechaVenceDocumento | date:'dd/MM/yyyy'}}</td>
                                                    <td ng-show="item.DiasDiferencia > 15" class="label-success"></td>
                                                    <td ng-show="item.DiasDiferencia <= 15 && item.DiasDiferencia >= 0" class="label-warning"></td>
                                                    <td ng-show="item.DiasDiferencia < 0" class="label-danger"></td>


                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div ng-show="ListadoDocumentosVehiculo.length <= 0" colspan="4" style="color:red; text-align:center">
                            <small>No hay Documentos Parametrizados</small>
                        </div>

                    </div>
                </div>

            </div>


            <div class="row" style="margin:10px" ng-show="Semirremolque.Codigo > 0">
                <div class="box box-default box-solid collapsed-box ">
                    <div class="box-header with-border">
                        <h3 class="box-title">Semirremolque</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="resultadoConsulta" class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th>Placa</th>
                                        <th>Tipo Semirremolque</th>
                                        <th>Estado</th>
                                        <th>Justificación Inactividad</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="#!GestionarSemirremolques/{{Semirremolque.Codigo}}">{{Semirremolque.Placa}}</a></td>
                                        <td>{{Semirremolque.TipoSemirremolque.Nombre}}</td>
                                        <td ng-show="Semirremolque.Estado.Codigo == 1">ACTIVO</td>
                                        <td ng-show="Semirremolque.Estado.Codigo == 0">INACTIVO</td>                                        
                                        <td ng-show="Semirremolque.Estado.Codigo == 1"></td>
                                        <td ng-show="Semirremolque.Estado.Codigo == 0">{{Semirremolque.JustificacionBloqueo}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row" style="margin:10px" ng-show="ListadoDocumentosSemirremolque.length > 0">
                            <div class="box box-default box-solid collapsed-box ">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Documentos</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div id="resultadoConsulta" class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover table-condensed">
                                            <thead>
                                                <tr>
                                                    <th>Documento</th>
                                                    <th>Fecha Emisión</th>
                                                    <th>Fecha Vencimiento</th>
                                                    <th>Estado</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ListadoDocumentosSemirremolque ">
                                                    <td>{{item.Documento}}</td>
                                                    <td>{{item.FechaEmision | date:'dd/MM/yyyy'}}</td>
                                                    <td>{{item.FechaVenceDocumento | date:'dd/MM/yyyy'}}</td>
                                                    <td ng-show="item.DiasDiferencia > 15" class="label-success"></td>
                                                    <td ng-show="item.DiasDiferencia <= 15 && item.DiasDiferencia >= 0" class="label-warning"></td>
                                                    <td ng-show="item.DiasDiferencia < 0" class="label-danger"></td>


                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div ng-show="ListadoDocumentosSemirremolque.length <= 0" colspan="4" style="color:red; text-align:center">
                            <small>No hay Documentos Parametrizados</small>
                        </div>

                    </div>
                </div>

            </div>



            <div class="row" style="margin:10px" ng-show="Conductor.Codigo > 0">
                <div class="box box-default box-solid collapsed-box ">
                    <div class="box-header with-border">
                        <h3 class="box-title">Conductor</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="resultadoConsulta" class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>No. Identificación</th>
                                        <th>Teléfono</th>
                                        <th>Estado</th>
                                        <th>Justificación Inactividad</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="#!GestionarTerceros/{{Conductor.Codigo}}">{{Conductor.NombreCompleto}}</a></td>
                                        <td>{{Conductor.NumeroIdentificacion}}</td>
                                        <td>{{Conductor.Telefonos}}</td>
                                        <td ng-show="Conductor.Estado.Codigo == 1">ACTIVO</td>
                                        <td ng-show="Conductor.Estado.Codigo == 0">INACTIVO</td>
                                        <td ng-show="Conductor.Estado.Codigo == 1"></td>
                                        <td ng-show="Conductor.Estado.Codigo == 0">{{Conductor.JustificacionBloqueo}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row" style="margin:10px" ng-show="ListadoDocumentosConductor.length > 0">
                            <div class="box box-default box-solid collapsed-box ">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Documentos </h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div id="resultadoConsulta" class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover table-condensed">
                                            <thead>
                                                <tr>
                                                    <th>Documento</th>
                                                    <th>Fecha Emisión</th>
                                                    <th>Fecha Vencimiento</th>
                                                    <th>Estado</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ListadoDocumentosConductor ">
                                                    <td>{{item.Documento}}</td>
                                                    <td>{{item.FechaEmision | date:'dd/MM/yyyy'}}</td>
                                                    <td>{{item.FechaVenceDocumento | date:'dd/MM/yyyy'}}</td>
                                                    <td ng-show="item.DiasDiferencia > 15" class="label-success"></td>
                                                    <td ng-show="item.DiasDiferencia <= 15 && item.DiasDiferencia >= 0" class="label-warning"></td>
                                                    <td ng-show="item.DiasDiferencia < 0" class="label-danger"></td>


                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div ng-show="ListadoDocumentosConductor.length <= 0" colspan="4" style="color:red; text-align:center">
                            <small>No hay Documentos Parametrizados</small>
                        </div>

                    </div>
                </div>

            </div>



            <div class="row" style="margin:10px" ng-show="Tenedor.Codigo > 0">
                <div class="box box-default box-solid collapsed-box ">
                    <div class="box-header with-border">
                        <h3 class="box-title">Tenedor</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="resultadoConsulta" class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>No. Identificación</th>
                                        <th>Teléfono</th>
                                        <th>Estado</th>
                                        <th>Justificación Inactividad</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="#!GestionarTerceros/{{Tenedor.Codigo}}">{{Tenedor.NombreCompleto}}</a></td>
                                        <td>{{Tenedor.NumeroIdentificacion}}</td>
                                        <td>{{Tenedor.Telefonos}}</td>
                                        <td ng-show="Tenedor.Estado.Codigo == 1">ACTIVO</td>
                                        <td ng-show="Tenedor.Estado.Codigo == 0">INACTIVO</td>
                                        <td ng-show="Tenedor.Estado.Codigo == 1"></td>
                                        <td ng-show="Tenedor.Estado.Codigo == 0">{{Tenedor.JustificacionBloqueo}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row" style="margin:10px" ng-show="ListadoDocumentosTenedor.length > 0">
                            <div class="box box-default box-solid collapsed-box ">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Documentos</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div id="resultadoConsulta" class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover table-condensed">
                                            <thead>
                                                <tr>
                                                    <th>Documento</th>
                                                    <th>Fecha Emisión</th>
                                                    <th>Fecha Vencimiento</th>
                                                    <th>Estado</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ListadoDocumentosTenedor ">
                                                    <td>{{item.Documento}}</td>
                                                    <td>{{item.FechaEmision | date:'dd/MM/yyyy'}}</td>
                                                    <td>{{item.FechaVenceDocumento | date:'dd/MM/yyyy'}}</td>
                                                    <td ng-show="item.DiasDiferencia > 15" class="label-success"></td>
                                                    <td ng-show="item.DiasDiferencia <= 15 && item.DiasDiferencia >= 0" class="label-warning"></td>
                                                    <td ng-show="item.DiasDiferencia < 0" class="label-danger"></td>


                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div ng-show="ListadoDocumentosTenedor.length <= 0" colspan="4" style="color:red; text-align:center">
                            <small>No hay Documentos Parametrizados</small>
                        </div>
                    </div>
                </div>

            </div>




        </div>

    </div>

</div>