﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR CONTROL CONTENEDORES</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <section class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="Form-Imput">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <!-- Encabezado -->
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha Inicial</label>
                            <input type="date" class="form-control" ng-model="FechaInicial" ng-disabled="DeshabilitarGuardar" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha Final</label>
                            <input type="date" class="form-control" ng-model="FechaFinal" ng-disabled="DeshabilitarGuardar" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Orden de Servicio</label>
                            <input maxlength="60" type="text" class="form-control" ng-change="MaskNumero()" placeholder="Ingrese un número" ng-model="NumeroDocumentoOrdenServicio">
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Remesa</label>
                            <input maxlength="60" type="text" class="form-control" ng-change="MaskNumero()" placeholder="Ingrese un número" ng-model="Remesa">
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Cliente</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="Ingrese Cliente" ng-model="Cliente">
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>No. Contenedor</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="Ingrese un número" ng-model="Contenedor">
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Placa</label>
                            <input maxlength="60" type="text" class="form-control" ng-change="MaskPlaca()" placeholder="Ingrese una placa" ng-model="Placa">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina</label>
                            <select name="cmbOficina" class="form-control" ng-model="Oficina" ng-options="i.Nombre for i in ListadoOficinas | orderBy: 'Nombre'"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="Estado" ng-options="i.Nombre for i in ListadoEstados | orderBy: 'Nombre'"></select>
                        </div>
                    </div>

                </div>
                <!--SECCIÓN BOTONES-->
                <div class="lineButtons">
                    <div class="pull-left">
                        <button class="btn btn-block btn-primary" ng-click="Buscar()" title="Buscar Unidades " ng-disabled="DeshabilitarConsulta">
                            Buscar
                            <span class="glyphicon glyphicon-filter"></span>
                        </button>
                    </div>
                </div>
                <br />
                <hr />
                <!--RESULTADO CONSULTA-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive" ng-show="ListadoControl.length > 0">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Orden de Servicio </th>
                                        <th>Remesa </th>
                                        <th>Fecha </th>
                                        <th>Manifiesto </th>
                                        <th>Fecha Devolución </th>
                                        <th>Fecha Real Devolución</th>
                                        <th>Días Demora </th>
                                        <th>Estado Devolución</th>
                                        <th>Cliente </th>
                                        <th>Ruta </th>
                                        <th>Placa </th>
                                        <th>Conductor </th>
                                        <th>Número Contenedor </th>
                                        <th>Línea Naviera  </th>
                                        <th>MBL </th>
                                        <th>HBL </th>
                                        <th>Ciudad Devolución </th>
                                        <th>Patio Devolución </th>
                                        <th>Devuelto </th>
                                        <th>Fecha Entrega Mercancía  </th>
                                        <th> Observaciones </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--Listado Grid agrupado-->
                                    <tr ng-repeat="item in ListadoControl | orderBy: 'FechaDevolucion'">
                                        <td><a href="#!GestionarOrdenservicio/{{item.CodigoOrdenServicio}}">{{item.NumeroOrdenServicio}}</a></td>
                                        <td>{{item.NumeroDocumento}}</td>
                                        <td>{{item.Fecha | date:'dd/MM/yyyy' }}</td>
                                        <td>{{item.Manifiesto.NumeroDocumento}}</td>
                                        <td>{{item.DSOS.FechaDevolucionContenedor | date:'dd/MM/yyyy' }}</td>
                                        <td>{{item.FechaDevolucion | date:'dd/MM/yyyy' }}</td>
                                        <td>{{item.DiasDemora}}</td>
                                        <td class={{item.EstadoDevolucion}}></td>
                                        <td>{{item.Cliente.NombreCompleto}}</td>
                                        <td>{{item.Ruta.Nombre}}</td>
                                        <td>{{item.Vehiculo.Placa}}</td>
                                        <td>{{item.Conductor.NombreCompleto}}</td>
                                        <td>{{item.NumeroContenedor}}</td>
                                        <td>{{item.Naviera}}</td>
                                        <td>{{item.MBLContenedor}}</td>
                                        <td>{{item.HBLContenedor}}</td>
                                        <td>{{item.CiudadDevolucion.Nombre}}</td>
                                        <td>{{item.PatioDevolucion}}</td>
                                        <td>{{item.Devuelto}}</td>
                                        <td>{{item.FechaDescargueMercancia | date:'dd/MM/yyyy' }}</td>
                                        <td>{{item.Observaciones}}</td>
                                        <td>
                                            <a uib-popover-template="'myPopoverTemplate.html'" popover-is-open="item1.popvisible" popover-class="increase-popover-width" popover-placement="left-bottom " popover-title="Editar Valores" popover-trigger="'outsideClick'" href="">
                                                <button class="button mini-button btn-primary" title="Editar">
                                                    <span ng-click="AsignarFechas(item)" class="far fa-edit"></span>
                                                </button>
                                            </a>
                                            <script type="text/ng-template" id="myPopoverTemplate.html">
                                                <div class="col-md-6 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Fecha Real Devolución</label>
                                                        <input type="date" class="form-control" maxlength="50" ng-model="item.FechaReal">

                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Fecha Entrega Mercancía</label>
                                                        <input type="date" class="form-control" maxlength="50" ng-model="item.FechaMercancia" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-10 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Observaciones</label>
                                                        <textarea class="form-control" ng-model="item.Observaciones"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-actions">
                                                    <div class="pull-right">
                                                        <button type="button" class="btn btn-danger" ng-click="GuardarCambios(item)">Guardar</button>
                                                    </div>
                                                </div>
                                            </script>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                    <tr>
                                        <td colspan="4">
                                            <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                            <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                            <span style="color:red">
                                <small>{{ResultadoSinRegistros}}</small>
                            </span>
                        </div>
                        <!--SECCIÓN BOTONES-->
                        <div class="SeccionBotones" ng-show="ListadoControl.length > 0">
                            <div id="lineButtons">
                                <div class="pull-left">
                                    <table>
                                        <tr>
                                            <td>
                                                <button class="btn btn-block btn-primary" style="width:50px; height:50px; margin-left:10px" title="Descargar en EXCEL" ng-click="DesplegarInforme(0, 1)">
                                                    <img src="../../../FrontEnd/Css/img/excel.png" width="40" height="40" style="margin-left:0px" />
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
