﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CARGAR DOCUMENTOS TERCEROS</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left" style="padding-right:1%" ng-show="DataActual.length == 0 || DataActual === undefined || DataActual == null || DataActual == ''">
                    <div class="btn btn-block btn-primary btn-file" data-toggle="tooltip" title="Abrir Archivo" style="height:40px;">
                        Abrir Archivo
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <input id="filePrincipal" type="file" name="xlfile" ng-model-instant onchange="angular.element(this).scope().handleFile(this)" class="">
                    </div>
                </div>

                <div class="pull-left" style="padding-right:1%" ng-show="DataActual.length > 0">
                    <div class="btn btn-block btn-primary btn-file" data-toggle="tooltip" title="Abrir Archivo" style="height:40px;" ng-click="ModalConfirmacionNuevoProceso()">
                        Abrir Archivo
                        <span class="glyphicon glyphicon-folder-open"></span>
                    </div>
                </div>

                <div class="pull-left" style="padding-right:1%">
                    <button class="btn btn-block btn-primary" ng-click="GenerarPlanilla()" data-toggle="tooltip" title="Generar Planitlla" style="height:40px">
                        Generar Plantilla
                        <span class="glyphicon glyphicon-save-file"></span>
                    </button>
                </div>
                <div class="pull-left" style="padding-right:1%" ng-show="DataActual.length > 0">
                    <button class="btn btn-block btn-primary" ng-click="DataArchivo = [];DataActual = []; ListaErrores=[]" data-toggle="tooltip" title="Limpiar" style="height:40px">
                        Limpiar
                        <span class="glyphicon glyphicon-erase"></span>
                    </button>
                </div>
                <div class="pull-left" style="padding-right:1%" ng-show="DataActual.length > 0">
                    <!---->
                    <button class="btn btn-block btn-primary" id="btnValida" ng-click="ValidarDocumento();VerErrores = false" data-toggle="tooltip" title="Guardar" style="height:40px">
                        Guardar
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                </div>
                <div class="pull-left" style="padding-right:1%" ng-show="ListaErrores.length > 0">
                    <!---->
                    <button class="btn btn-block btn-primary" ng-click="VerErrores = false" ng-show="ListaErrores.length > 0 && VerErrores" data-toggle="tooltip" title="Ver Errores" style="height:40px">
                        Ocultar Errores
                        <span class="glyphicon glyphicon-eye-close"></span>
                    </button>
                    <button class="btn btn-danger" ng-click="VerErrores = true" ng-show="ListaErrores.length > 0 && !VerErrores" data-toggle="tooltip" title="Ver Errores" style="height:40px">
                        Ver Errores
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>

                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div ng-show="DataActual.length > 0">
                <div class="ResultadoConsulta" ng-show="!VerErrores">
                    <!--DataActual.length > 0 &&-->
                    <div class="table-responsive" style="overflow-y:scroll;max-width:100%">
                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                            <thead>
                                <tr>
                                    <th>Omitir</th>
                                    <th>Tercero</th>
                                    <th>Documento</th>
                                    <th>Referencia</th>
                                    <th>Emisor</th>
                                    <th>Fecha Emisión</th>
                                    <th>Fecha Vencimiento</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in DataActual" style="{{item.st.Row}}">
                                    <!-- Omitir-->
                                    <td style="{{item.st.General}}">
                                        <input type="checkbox" ng-model="item.Omitido" />
                                        <span ng-if="item.ms.General !== undefined && item.ms.General !==''" class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.General}}" data-placement="right"></span>
                                    </td>

                                    <!-- Tercero-->
                                    <td style="min-width:150px;{{item.st.Tercero}}">
                                        <div style="display:flex">
                                            <input maxlength="60" type="text" class="form-control plcRed" placeholder="{{item.ms.Tercero}}" ng-model="item.Tercero" ng-required="false" uib-typeahead="i as i.NombreCompleto for i in AutocompleteTerceros($viewValue)| filter:$viewValue | limitTo: 5 | orderBy:'Nombre'" autocomplete="off" ng-blur="item.Tercero=VerificarAutocomplete(item.Tercero)" disabled>
                                        </div>
                                    </td>
                                    <!--Documento-->
                                    <td style="min-width:150px;{{item.st.Configuracion}}">
                                        <div class="input-group">
                                            <select class="form-control" ng-model="item.Configuracion" ng-options="i.Documento.Nombre for i in  ListadoDocumentos"></select>
                                            <span ng-if="item.ms.Configuracion !== undefined && item.ms.Configuracion !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.Configuracion}}"></span>
                                        </div>
                                    </td>
                                    <!--Referencia-->
                                    <td style="min-width:150px;{{item.st.Referencia}}">
                                        <div style="display:flex">
                                            <input maxlength="20" type="text" ng-change="item.Referencia=MaskMayusGrid(item.Referencia)" class="form-control plcRed" placeholder="{{item.ms.Referencia}}" ng-model="item.Referencia" ng-required="false">
                                        </div>
                                    </td>
                                    <!--Emisor-->
                                    <td style="min-width:150px;{{item.st.Emisor}}">
                                        <div style="display:flex">
                                            <input maxlength="30" type="text" ng-change="item.Emisor=MaskMayusGrid(item.Emisor)" class="form-control plcRed" placeholder="{{item.ms.Emisor}}" ng-model="item.Emisor" ng-required="false">
                                        </div>
                                    </td>
                                    <!--FechaEmision-->
                                    <td style="min-width:150px;{{item.st.FechaEmision}}">
                                        <div style="display:flex">
                                            <div class="input-group">
                                                <input name="txtFechVinc" type="date" class="form-control" ng-model="item.FechaEmision" ng-show="item.Configuracion.AplicaFechaEmision > 0">
                                                <span ng-if="item.ms.FechaEmision !== undefined && item.ms.FechaEmision !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.FechaEmision}}"></span>
                                            </div>
                                        </div>
                                    </td>
                                    <!--Fecha Vencimiento-->
                                    <td style="min-width:150px;{{item.st.FechaVence}}">
                                        <div style="display:flex">
                                            <div class="input-group">
                                                <input name="txtFechVinc" type="date" class="form-control" ng-model="item.FechaVence" ng-show="item.Configuracion.AplicaFechaVencimiento > 0">
                                                <span ng-if="item.ms.FechaVence !== undefined && item.ms.FechaVence !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.FechaVence}}"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                <tr>
                                    <td colspan="4">
                                        <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                        <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                            <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                <span class="item">&laquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                <span class="item">&lsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                <span class="item">&rsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                <span class="item">&raquo;</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                        <span style="color:red">
                            <small>{{ResultadoSinRegistros}}</small>
                        </span>
                    </div>
                </div>
                <div class="ResultadoConsulta" ng-show="VerErrores">
                    <br />
                    <label>Omitir Todos</label>
                    <input type="checkbox" ng-model="Marctodo" ng-change="MarcadDesmarcarTodo(Marctodo)" class="ng-valid ng-dirty ng-valid-parse ng-touched">
                    <div class="table-responsive" style="overflow-y:scroll;max-height:500px;max-width:100%">
                        <div class="table-responsive" style="overflow-y:scroll;max-height:500px;max-width:100%">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Omitir</th>
                                        <th>Tercero</th>
                                        <th>Documento</th>
                                        <th>Referencia</th>
                                        <th>Emisor</th>
                                        <th>Fecha Emisión</th>
                                        <th>Fecha Vencimiento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in DataErrorActual" style="{{item.st.Row}}">
                                        <!-- Omitir-->
                                        <td style="{{item.st.General}}">
                                            <input type="checkbox" ng-model="item.Omitido" />
                                            <span ng-if="item.ms.General !== undefined && item.ms.General !==''" class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.General}}" data-placement="right"></span>
                                        </td>

                                        <!-- Tercero-->
                                        <td style="min-width:150px;{{item.st.Tercero}}">
                                            <div style="display:flex">
                                                <input maxlength="60" type="text" class="form-control plcRed" placeholder="{{item.ms.Tercero}}" ng-model="item.Tercero" ng-required="false" uib-typeahead="i as i.NombreCompleto for i in AutocompleteTerceros($viewValue)| filter:$viewValue | limitTo: 5 | orderBy:'Nombre'" autocomplete="off" ng-blur="item.Tercero=VerificarAutocomplete(item.Tercero)" disabled>
                                            </div>
                                        </td>
                                        <!--Documento-->
                                        <td style="min-width:150px;{{item.st.Configuracion}}">
                                            <div class="input-group">
                                                <select class="form-control" ng-model="item.Configuracion" ng-options="i.Documento.Nombre for i in  ListadoDocumentos"></select>
                                                <span ng-if="item.ms.Configuracion !== undefined && item.ms.Configuracion !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.Configuracion}}"></span>
                                            </div>
                                        </td>
                                        <!--Referencia-->
                                        <td style="min-width:150px;{{item.st.Referencia}}">
                                            <div style="display:flex">
                                                <input maxlength="20" type="text" ng-change="item.Referencia=MaskMayusGrid(item.Referencia)" class="form-control plcRed" placeholder="{{item.ms.Referencia}}" ng-model="item.Referencia" ng-required="false">
                                            </div>
                                        </td>
                                        <!--Emisor-->
                                        <td style="min-width:150px;{{item.st.Emisor}}">
                                            <div style="display:flex">
                                                <input maxlength="20" type="text" ng-change="item.Emisor=MaskMayusGrid(item.Emisor)" class="form-control plcRed" placeholder="{{item.ms.Emisor}}" ng-model="item.Emisor" ng-required="false">
                                            </div>
                                        </td>
                                        <!--FechaEmision-->
                                        <td style="min-width:150px;{{item.st.FechaEmision}}">
                                            <div style="display:flex">
                                                <div class="input-group">
                                                    <input name="txtFechVinc" type="date" class="form-control" ng-model="item.FechaEmision">
                                                    <span ng-if="item.ms.FechaEmision !== undefined && item.ms.FechaEmision !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.FechaEmision}}"></span>
                                                </div>
                                            </div>
                                        </td>
                                        <!--Fecha Vencimiento-->
                                        <td style="min-width:150px;{{item.st.FechaVence}}">
                                            <div style="display:flex">
                                                <div class="input-group">
                                                    <input name="txtFechVinc" type="date" class="form-control" ng-model="item.FechaVence">
                                                    <span ng-if="item.ms.FechaVence !== undefined && item.ms.FechaVence !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.FechaVence}}"></span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot ng-if="totalRegistrosErrores > 0 || Buscando == true">
                                    <tr>
                                        <td colspan="4">
                                            <small ng-if="totalRegistrosErrores > 0">Página: {{paginaActualError}} de {{totalPaginasErrores}} ({{totalRegistrosErrores}} Registros)</small>
                                            <div class="pagination rightAling" ng-if="totalRegistrosErrores > 0">
                                                <button class="button primary" ng-click="PrimerPaginaModalError()" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="AnteriorModalError()" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="SiguienteModalError()" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPaginaModalError()" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div style="text-align:center" class="col-md-12" ng-if="totalRegistrosErrores == 0 && Buscando == false">
                            <span style="color:red">
                                <small>{{ResultadoSinRegistros}}</small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade" id="ModalErrorCargue" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" onclick="closeModal('ModalErrorCargue')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRNAS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p style="text-align:center">Los siguientes registros no se cargarón correctamente dado que el número de identificación ingresado no corresponde a un tercero registrado en el sistema</p>
                        <div ng-show="DataError.length > 0">
                            <div class="ResultadoConsulta">
                                <div class="table-responsive" style="overflow-y:scroll;max-height:500px;max-width:100%">
                                    <div class="table-responsive" style="overflow-y:scroll;max-height:500px;max-width:100%">
                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                            <thead>
                                                <tr>

                                                    <th>Tercero</th>
                                                    <th>Documento</th>
                                                    <th>Referencia</th>
                                                    <th>Emisor</th>
                                                    <th>Fecha Emisión</th>
                                                    <th>Fecha Vencimiento</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in DataError" style="{{item.st.Row}}">
                                                    <!-- Omitir-->
                                                    <!-- Tercero-->
                                                    <td style="min-width:150px;{{item.st.Tercero}}">
                                                        <div style="display:flex">
                                                            <input maxlength="60" type="text" class="form-control plcRed" ng-model="item.Numero_Identificacion" disabled>
                                                        </div>
                                                    </td>
                                                    <!--Documento-->
                                                    <td style="min-width:150px;{{item.st.Configuracion}}">
                                                        <div class="input-group">
                                                            <select class="form-control" ng-model="item.Configuracion" ng-options="i.Documento.Nombre for i in  ListadoDocumentos" disabled></select>
                                                            <span ng-if="item.ms.Configuracion !== undefined && item.ms.Configuracion !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.Configuracion}}"></span>
                                                        </div>
                                                    </td>
                                                    <!--Referencia-->
                                                    <td style="min-width:150px;{{item.st.Referencia}}">
                                                        <div style="display:flex">
                                                            <input maxlength="20" type="text" ng-change="item.Referencia=MaskMayusGrid(item.Referencia)" class="form-control plcRed" placeholder="{{item.ms.Referencia}}" ng-model="item.Referencia" ng-required="false" disabled>
                                                        </div>
                                                    </td>
                                                    <!--Emisor-->
                                                    <td style="min-width:150px;{{item.st.Emisor}}">
                                                        <div style="display:flex">
                                                            <input maxlength="20" type="text" ng-change="item.Emisor=MaskMayusGrid(item.Emisor)" class="form-control plcRed" placeholder="{{item.ms.Emisor}}" ng-model="item.Emisor" ng-required="false" disabled>
                                                        </div>
                                                    </td>
                                                    <!--FechaEmision-->
                                                    <td style="min-width:150px;{{item.st.FechaEmision}}">
                                                        <div style="display:flex">
                                                            <div class="input-group">
                                                                <input name="txtFechVinc" type="date" class="form-control" ng-model="item.FechaEmision" disabled>
                                                                <span ng-if="item.ms.FechaEmision !== undefined && item.ms.FechaEmision !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.FechaEmision}}"></span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <!--Fecha Vencimiento-->
                                                    <td style="min-width:150px;{{item.st.FechaVence}}">
                                                        <div style="display:flex">
                                                            <div class="input-group">
                                                                <input name="txtFechVinc" type="date" class="form-control" ng-model="item.FechaVence" disabled>
                                                                <span ng-if="item.ms.FechaVence !== undefined && item.ms.FechaVence !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.FechaVence}}"></span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" onclick="closeModal('ModalErrorCargue')">
                                Cerrar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalConfirmacionCancelarProceso" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Desea cancelar el proceso actual?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>

                        </div>
                        <div class="pull-left">
                            <div class="btn btn-block btn-primary btn-file" style="min-width : 100px;" data-toggle="tooltip" title="Abrir Archivo" ng-click="LimpiarData();CerrarModalNuevoProceso(this);ListaErrores = ''; VerErrores = false;angular.element(document.querySelector('#fileModal')).scope().$destroy();">
                                Aceptar
                                <input id="fileModal" type="file" name="xlfile" ng-model-instant onchange="angular.element(this).scope().handleFile(this)" class="">
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>