﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div id="filtrosConsulta">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="Grupo">Grupo</label>
                            <select name="Grupo" class="form-control" ng-disabled="Deshabilitar" ng-model="Grupo" ng-options="i.Nombre for i in ListadoGrupos"></select>
                        </div>
                    </div>
                </div>
                <!--SECCIÓN BOTONES-->
                <div id="lineButtons">
                    <div class="pull-left" style="padding-right:1%" ng-show="DataActual.length == 0 || DataActual === undefined || DataActual == null || DataActual == ''">
                        <div class="btn btn-block btn-primary btn-file" data-toggle="tooltip" title="Abrir Archivo" style="height:40px;">
                            Abrir Archivo
                            <span class="glyphicon glyphicon-folder-open"></span>
                            <input id="filePrincipal" type="file" name="xlfile" ng-model-instant onchange="angular.element(this).scope().handleFile(this)" class="">
                        </div>
                    </div>

                    <div class="pull-left" style="padding-right:1%" ng-show="DataActual.length > 0">
                        <div class="btn btn-block btn-primary btn-file" data-toggle="tooltip" title="Abrir Archivo" style="height:40px;" ng-click="ModalConfirmacionNuevoProceso()">
                            Abrir Archivo
                            <span class="glyphicon glyphicon-folder-open"></span>
                        </div>
                    </div>

                    <div class="pull-left" style="padding-right:1%">
                        <button class="btn btn-block btn-primary" ng-click="GenerarPlanilla()" data-toggle="tooltip" title="Generar Planitlla" style="height:40px">
                            Generar Plantilla
                            <span class="glyphicon glyphicon-save-file"></span>
                        </button>
                    </div>

                    <div class="pull-left" style="padding-right:1%" ng-show="DataActual.length > 0">
                        <button class="btn btn-block btn-primary" ng-click="DataArchivo = [];DataActual = []; ListaErrores=[]" data-toggle="tooltip" title="Limpiar" style="height:40px">
                            Limpiar
                            <span class="glyphicon glyphicon-erase"></span>
                        </button>
                    </div>

                    <div class="pull-left" style="padding-right:1%" ng-show="DataActual.length > 0">
                        <button class="btn btn-block btn-primary" id="btnValida" ng-click="ValidarDocumento();VerErrores = false" data-toggle="tooltip" title="Guardar" style="height:40px">
                            Guardar
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                        </button>
                    </div>

                    <div class="pull-left" style="padding-right:1%" ng-show="ListaErrores.length > 0">
                        <button class="btn btn-block btn-primary" ng-click="VerErrores = false" ng-show="ListaErrores.length > 0 && VerErrores" data-toggle="tooltip" title="Ver Errores" style="height:40px">
                            Ocultar Errores
                            <span class="glyphicon glyphicon-eye-close"></span>
                        </button>
                        <button class="btn btn-danger" ng-click="VerErrores = true" ng-show="ListaErrores.length > 0 && !VerErrores" data-toggle="tooltip" title="Ver Errores" style="height:40px">
                            Ver Errores
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                    </div>
                </div>
                <!--RESULTADO CONSULTA-->
                <div class="row">
                    <div class="col-md-12">
                        <div ng-show="DataActual.length > 0">
                            <div class="ResultadoConsulta" ng-show="!VerErrores">
                                <!--DataActual.length > 0 &&-->
                                <div class="table-responsive" style="overflow-y:scroll;max-height:500px;max-width:100%">
                                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Omitir</th>
                                                <th>Código</th>
                                                <th>Nombre</th>
                                                <th>Habilitar</th>
                                                <th>Consultar</th>
                                                <th>Actualizar</th>
                                                <th>Eliminar</th>
                                                <th>Imprimir</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in DataActual" style="{{item.st.Row}}">
                                                <!-- Omitir-->
                                                <td style="{{item.st.General}}">
                                                    <input type="checkbox" ng-model="item.Omitido" />
                                                    <span ng-if="item.ms.General !== undefined && item.ms.General !==''" class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.General}}" data-placement="right"></span>
                                                </td>
                                                <!-- Codigo-->
                                                <td style="min-width:150px;{{item.st.Codigo}}">
                                                    <div style="display:flex">
                                                        <span>{{item.Codigo}}</span>
                                                    </div>
                                                </td>
                                                <!-- Nombre-->
                                                <td style="min-width:150px;{{item.st.Nombre}}">
                                                    <div style="display:flex">
                                                        <span>{{item.Nombre}}</span>
                                                    </div>
                                                </td>
                                                <!--Habilitar-->
                                                <td style="min-width:150px;{{item.st.Habilitar}}">
                                                    <div class="input-group">
                                                        <select class="form-control" ng-model="item.Habilitar" ng-options="i.Nombre for i in  ListadoEstados"></select>
                                                    </div>
                                                </td>
                                                <!--Consultar-->
                                                <td style="min-width:150px;{{item.st.Consultar}}">
                                                    <div class="input-group">
                                                        <select class="form-control" ng-model="item.Consultar" ng-options="i.Nombre for i in  ListadoEstados"></select>
                                                    </div>
                                                </td>
                                                <!--Actualizar-->
                                                <td style="min-width:150px;{{item.st.Actualizar}}">
                                                    <div class="input-group">
                                                        <select class="form-control" ng-model="item.Actualizar" ng-options="i.Nombre for i in  ListadoEstados"></select>
                                                    </div>
                                                </td>
                                                <!--Eliminar-->
                                                <td style="min-width:150px;{{item.st.Eliminar}}">
                                                    <div class="input-group">
                                                        <select class="form-control" ng-model="item.Eliminar" ng-options="i.Nombre for i in  ListadoEstados"></select>
                                                    </div>
                                                </td>
                                                <!--Imprimir-->
                                                <td style="min-width:150px;{{item.st.Imprimir}}">
                                                    <div class="input-group">
                                                        <select class="form-control" ng-model="item.Imprimir" ng-options="i.Nombre for i in  ListadoEstados"></select>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                            <tr>
                                                <td colspan="4">
                                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                            <span class="item">&laquo;</span>
                                                        </button>
                                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                            <span class="item">&lsaquo;</span>
                                                        </button>
                                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                            <span class="item">&rsaquo;</span>
                                                        </button>
                                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                            <span class="item">&raquo;</span>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                    <span style="color:red">
                                        <small>{{ResultadoSinRegistros}}</small>
                                    </span>
                                </div>
                            </div>
                            <div class="ResultadoConsulta" ng-show="VerErrores">
                                <br />
                                <label>Omitir Todos</label>
                                <input type="checkbox" ng-model="Marctodo" ng-change="MarcadDesmarcarTodo(Marctodo)" class="ng-valid ng-dirty ng-valid-parse ng-touched">
                                <div class="table-responsive" style="overflow-y:scroll;max-height:500px;max-width:100%">
                                    <div class="table-responsive" style="overflow-y:scroll;max-height:500px;max-width:100%">
                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Omitir</th>
                                                    <th>Código</th>
                                                    <th>Nombre</th>
                                                    <th>Habilitar</th>
                                                    <th>Consultar</th>
                                                    <th>Actualizar</th>
                                                    <th>Eliminar</th>
                                                    <th>Imprimir</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in DataErrorActual" style="{{item.st.Row}}">
                                                    <!-- Omitir-->
                                                    <td style="{{item.st.General}}">
                                                        <input type="checkbox" ng-model="item.Omitido" />
                                                        <span ng-if="item.ms.General !== undefined && item.ms.General !==''" class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.General}}" data-placement="right"></span>
                                                    </td>
                                                    <!-- Codigo-->
                                                    <td style="min-width:150px;{{item.st.Codigo}}">
                                                        <div style="display:flex">
                                                            <span>{{item.Codigo}}</span>
                                                        </div>
                                                    </td>
                                                    <!-- Nombre-->
                                                    <td style="min-width:150px;{{item.st.Nombre}}">
                                                        <div style="display:flex">
                                                            <span>{{item.Nombre}}</span>
                                                        </div>
                                                    </td>
                                                    <!--Habilitar-->
                                                    <td style="min-width:150px;{{item.st.Habilitar}}">
                                                        <div class="input-group">
                                                            <select class="form-control" ng-model="item.Habilitar" ng-options="i.Nombre for i in  ListadoEstados"></select>
                                                        </div>
                                                    </td>
                                                    <!--Consultar-->
                                                    <td style="min-width:150px;{{item.st.Consultar}}">
                                                        <div class="input-group">
                                                            <select class="form-control" ng-model="item.Consultar" ng-options="i.Nombre for i in  ListadoEstados"></select>
                                                        </div>
                                                    </td>
                                                    <!--Actualizar-->
                                                    <td style="min-width:150px;{{item.st.Actualizar}}">
                                                        <div class="input-group">
                                                            <select class="form-control" ng-model="item.Actualizar" ng-options="i.Nombre for i in  ListadoEstados"></select>
                                                        </div>
                                                    </td>
                                                    <!--Eliminar-->
                                                    <td style="min-width:150px;{{item.st.Eliminar}}">
                                                        <div class="input-group">
                                                            <select class="form-control" ng-model="item.Eliminar" ng-options="i.Nombre for i in  ListadoEstados"></select>
                                                        </div>
                                                    </td>
                                                    <!--Imprimir-->
                                                    <td style="min-width:150px;{{item.st.Imprimir}}">
                                                        <div class="input-group">
                                                            <select class="form-control" ng-model="item.Imprimir" ng-options="i.Nombre for i in  ListadoEstados"></select>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot ng-if="totalRegistrosErrores > 0 || Buscando == true">
                                                <tr>
                                                    <td colspan="4">
                                                        <small ng-if="totalRegistrosErrores > 0">Página: {{paginaActualError}} de {{totalPaginasErrores}} ({{totalRegistrosErrores}} Registros)</small>
                                                        <div class="pagination rightAling" ng-if="totalRegistrosErrores > 0">
                                                            <button class="button primary" ng-click="PrimerPaginaModalError()" title="Primera">
                                                                <span class="item">&laquo;</span>
                                                            </button>
                                                            <button class="button primary" ng-click="AnteriorModalError()" title="Anterior">
                                                                <span class="item">&lsaquo;</span>
                                                            </button>
                                                            <button class="button primary" ng-click="SiguienteModalError()" title="Siguiente">
                                                                <span class="item">&rsaquo;</span>
                                                            </button>
                                                            <button class="button primary" ng-click="UltimaPaginaModalError()" title="Última">
                                                                <span class="item">&raquo;</span>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistrosErrores == 0 && Buscando == false">
                                        <span style="color:red">
                                            <small>{{ResultadoSinRegistros}}</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="modalConfirmacionGuardarPorgramacion" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" onclick="closeModal('modalConfirmacionGuardarPorgramacion')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            {{TituloModal}}
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p style="text-align:center">{{MSJ}}</p>

                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" onclick="closeModal('modalConfirmacionGuardarPorgramacion')">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modalConfirmacionCancelarProceso" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Desea cancelar el proceso actual?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>

                        </div>
                        <div class="pull-left">
                            <div class="btn btn-block btn-primary btn-file" style="min-width : 100px;" data-toggle="tooltip" title="Abrir Archivo" ng-click="LimpiarData();CerrarModalNuevoProceso(this);ListaErrores = ''; VerErrores = false;angular.element(document.querySelector('#fileModal')).scope().$destroy();">
                                Aceptar
                                <input id="fileModal" type="file" name="xlfile" ng-model-instant onchange="angular.element(this).scope().handleFile(this)" class="">
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>