﻿<div >
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>INDICADORES NOVEDADES ENTREGAS</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="fechaInicial">Fecha Inicial</label>
                                <input name="fechaInicial" type="date" class="form-control" ng-model="Modelo.FechaInicial">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="fechaFinal">Fecha Final</label>
                                <input name="fechaFinal" type="date" class="form-control" ng-model="Modelo.FechaFinal">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Cliente</label>
                                <input tabindex="1" maxlength="60" type="text" class="form-control" placeholder="Seleccione un Cliente" ng-model="Modelo.Cliente" ng-disabled="DeshabilitarCliente || Deshabilitar" autocomplete="off"
                                       uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in AutocompleteCliente($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false"
                                       ng-blur="Modelo.Cliente=VerificarAutocomplete(Modelo.Cliente); CargarTarifarioCliente(Modelo.Cliente)">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Remitente</label>
                                <input tabindex="1" maxlength="60" type="text" class="form-control" placeholder="Seleccione un remitente" ng-model="Modelo.Remitente" ng-disabled="Deshabilitar" autocomplete="off"
                                       uib-typeahead="Remitente as Remitente.NombreCompleto for Remitente in AutocompleteRemitente($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false"
                                       ng-blur="Modelo.Remitente=VerificarAutocomplete(Modelo.Remitente)">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Destinatario</label>
                                <input tabindex="1" maxlength="60" type="text" class="form-control" placeholder="Seleccione un destinatario" ng-model="Modelo.Destinatario" ng-disabled="Deshabilitar" autocomplete="off"
                                       uib-typeahead="Destinatario as Destinatario.NombreCompleto for Destinatario in AutocompleteDestinatario($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false"
                                       ng-blur="Modelo.Destinatario=VerificarAutocomplete(Modelo.Destinatario)">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Sitio Descargue</label>
                                <input tabindex="1" maxlength="60" type="text" class="form-control" placeholder="Seleccione un Sitio descargue" ng-model="Modelo.SitioDescargue" ng-disabled="Deshabilitar" autocomplete="off"
                                       uib-typeahead="Sitio as Sitio.Nombre for Sitio in AutocompleteSitiosDescargue($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false"
                                       ng-blur="Modelo.SitioDescargue=VerificarAutocomplete(Modelo.SitioDescargue)">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Tipo Gráfica</label>
                                <select name="cmbPuntoGestion" class="form-control" ng-model="Modelo.TipoGrafica" ng-options="i.Nombre for i in ListadoTiposGrafica"></select>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label></label>
                                <button class="btn btn-block btn-primary" title="Buscar" ng-click="paginaActual=1;BuscarGrafica();Buscar();" ng-disabled="DeshabilitarConsulta">
                                    Buscar
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" onselectstart="return false" ng-click="MostrarGrafica()">Gráfica</a></li>
                        <li><a data-toggle="tab" onselectstart="return false" ng-click="MostrarConsulta()">Consulta</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div id="Grafica">
                        <div class="row">
                            <div class="box box-default box-solid">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="modal-body">
                                            <div class="box-body">
                                                <div id="donutchart" style="width: 100%; height: 600px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ConsultaViajes">
                        <div class="row">
                            <div class="box-body">
                                <div class="row">
                                    <div class="box box-default box-solid">
                                        <!--RESULTADO CONSULTA-->
                                        <div class="ResultadoConsulta">
                                            <div class="table-responsive" ng-if="ListadoConsulta.length > 0">
                                                <table class="table table-striped table-bordered table-hover table-condensed">
                                                    <thead>
                                                        <tr>
                                                            <th>Número</th>
                                                            <th>Fecha</th>
                                                            <th>Cliente</th>
                                                            <th>Ruta</th>
                                                            <th>Oficina Actual</th>
                                                            <th>Observaciones</th>
                                                            <th>Documento Cliente</th>
                                                            <th>Sitio Descargue</th>
                                                            <th>Novedad Entrega</th>
                                                            <th>Obervaciones Entrega</th>
                                                            <th>Fecha Entrega</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in ListadoConsulta">
                                                            <td><a href="#!GestionarGuiaPaqueterias/{{item.Remesa.Numero}}">{{item.Remesa.NumeroDocumento}}</a></td>
                                                            <td>{{item.Remesa.Fecha | date:'dd/MM/yyyy' }}</td>
                                                            <td>{{item.Remesa.Cliente.NombreCompleto}}</td>
                                                            <td>{{item.Remesa.CiudadRemitente.Nombre}} - {{item.Remesa.CiudadDestinatario.Nombre}}</td>
                                                            <td>{{item.OficinaActual.Nombre}}</td>
                                                            <td>{{item.Remesa.Observaciones}}</td>
                                                            <td>{{item.Remesa.NumeroDocumentoCliente}}</td>
                                                            <td>{{item.SitioDescargue.Nombre}}</td>
                                                            <td>{{item.Remesa.NovedadEntrega.Nombre}}</td>
                                                            <td>{{item.Remesa.ObservacionesRecibe}}</td>
                                                            <td>{{item.Remesa.FechaRecibe | date:'dd/MM/yyyy HH:mm'}}</td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                                        <tr>
                                                            <td colspan="4">
                                                                <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                                <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                                    <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                                        <span class="item">&laquo;</span>
                                                                    </button>
                                                                    <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                                        <span class="item">&lsaquo;</span>
                                                                    </button>
                                                                    <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                                        <span class="item">&rsaquo;</span>
                                                                    </button>
                                                                    <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                                        <span class="item">&raquo;</span>
                                                                    </button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tfoot>

                                                </table>
                                            </div>
                                            <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                                <span style="color:red">
                                                    <small>{{ResultadoSinRegistros}}</small>
                                                </span>
                                            </div>
                                            <div style="padding:15px 0 0 0" ng-if="ListadoConsulta.length > 0">
                                                <button class="btn btn-block btn-primary" style="width:50px; height:50px; margin-left:10px" title="Descargar en EXCEL" ng-click="DesplegarDescargaConsulta()">
                                                    <img src="../../../FrontEnd/Css/img/excel.png" width="40" height="40" style="margin-left:0px" />
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--SECCIÓN BOTONES-->
                                <!--<div class="SeccionBotones row">
                                    <div class="pull-left">
                                        <table>
                                            <tr>
                                                <td>
                                                    <button class="button mini-button btn-success" style="border-radius:5px; width:50px; height:50px; color:white; padding:5px; margin-left:10px" title="Descargar en EXCEL" ng-click="DesplegarInforme(NumeroInicial,NumeroFinal,FechaInicial,FechaFinal, 0, 1)">
                                                        <span class="fa fa-file-excel-o" style="font-size:35px"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                        <style>
                                            .fa-file-pdf-o:hover {
                                                color: #58ACFA;
                                            }

                                            .fa-file-excel-o:hover {
                                                color: #58ACFA;
                                            }
                                        </style>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
