<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <!--
  Ejemplo: para pasar información a pagina home @Input strCiudad(Variable).....
  <app-home *ngFor="let elemento of lstCiudades" [strCiudad]="elemento">
  </app-home>
  Ejemplo: mostrar toda la información de lstCiudades.Datos | json
  -->

  <section class="content-header">
    <h1>CONSULTAR CIUDADES</h1>
  </section>
  <div class="content">
    <form [formGroup]="form" autocomplete="off">
      <div class="SeccionFiltros-Formulario">
        <ul>
          <li *ngFor="let error in lstMensajesError">
            <span class="errorField">{{ error }}</span>
          </li>
        </ul>
        <div class="row">
          <div class="col-md-3 col-sm-2 col-xs-12">
            <div>
              <label for="lblNombre">Nombre</label>
              <input class="form-control" type="text" placeholder="Ciudad" formControlName="txtBuscNomb" maxlength="50" />
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-12">
            <div>
              <label for="lblCodiDane">Código DANE</label>
              <input class="form-control" type="text" placeholder="Código" formControlName="txtBuscCodi" max="999999" maxlength="6" />
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div>
              <label for="lblNombDepa">Departamento</label>
              <input class="form-control" type="text" placeholder="Departamento" formControlName="txtBuscDepa" maxlength="50" />
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div>
              <label for="lblEstado">Estado</label>
              <select class="form-control" formControlName="cmbEstado">
                <!--<option value="">Selecciona una opción</option>-->
                <!--<option *ngFor="let estado of lstEstados" [ngValue]="estado.Codigo">{{ estado.Nombre }}</option>-->
                <option value="1" [selected]>ACTIVO</option>
                <option value="0">INACTIVO</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="pull-left">
          <button type="button" class="btn btn-block btn-primary" title="Buscar" (click)="funBuscar()">
            Buscar
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
        <!--<div class="pull-right">
          <button type="button" class="btn btn-block btn-primary" title="Nuevo">
            Nuevo
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>-->
      </div>
      <div class="ResultadoConsulta">
        <div class="table-responsive" *ngIf="lstCiudades.length > 0">
          <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Código DANE</th>
                <th>País</th>
                <th>Departamento</th>
                <th>Estado</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ciudad of lstCiudades" (click)="onSelect(ciudad)">
                <td>{{ ciudad.Nombre }}</td>
                <td>{{ ciudad.CodigoAlterno }}</td>
                <td>{{ ciudad.Pais }}</td>
                <td>{{ ciudad.Departamento.Nombre }}</td>
                <td>
                  <span *ngIf="ciudad.Estado == 0" class="label pull-center bg-red">Inactivo</span>
                  <span *ngIf="ciudad.Estado == 1" class="label label-success">Activo</span>
                </td>
                <td>
                  <button class="button mini-button  btn-danger" title="Eliminar" (click)="funEliminar(ciudad.Codigo)">
                    <span class="fas fa-trash-alt"></span>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot *ngIf="numTotaRegi > 0">
              <tr>
                <td colspan="4">
                  <small *ngIf="numTotaRegi > 0">Página: {{numPagina}} de {{numTotalPaginas}} ({{numTotaRegi}} Registros)</small>
                  <div class="pagination rightAling" *ngIf="numTotaRegi > 0">
                    <button class="button primary" (click)="funPrimerPagina()" title="Primera">
                      <span class="item">&laquo;</span>
                    </button>
                    <button class="button primary" (click)="funAnteriorPagina()" title="Anterior">
                      <span class="item">&lsaquo;</span>
                    </button>
                    <button class="button primary" (click)="funSiguientePagina()" title="Siguiente">
                      <span class="item">&rsaquo;</span>
                    </button>
                    <button class="button primary" (click)="funUltimaPagina()" title="Última">
                      <span class="item">&raquo;</span>
                    </button>
                  </div>
                </td>
              </tr>
            </tfoot>

          </table>
        </div>
        <div style="text-align:center" class="col-md-12" *ngIf="numTotaRegi == 0">
          <span style="color:red">
            <small>{{ strMensajeSinRegistros }}</small>
          </span>
        </div>
      </div>

    </form>

    <app-detalle-ciudades [ciudad]="selectedCiudad"></app-detalle-ciudades>

  </div>

</body>
</html>
