﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">





                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>

                <!-- Encabezado -->
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <span class="form-control">{{Modelo.NumeroDocumento}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha</label>
                            <input type="date" class="form-control" ng-model="Modelo.Fecha" ng-disabled="DeshabilitarGuardar" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Planilla</label>
                            <input ng-change="MaskNumero()" type="text" autocomplete="off" ng-blur="CargarConductoresPlanilla()" class="form-control" maxlength="8" placeholder="Ingrese la planilla" ng-model="Planilla.NumeroDocumento" ng-disabled="ListadoConductoresLegalizacion.length > 0">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Vehículo</label>
                            <input type="text" class="form-control" maxlength="18" placeholder="Vehículo" ng-model="Planilla.Planilla.Vehiculo.Placa" disabled />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tenedor</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="" ng-model="Planilla.Planilla.Vehiculo.Tenedor.NombreCompleto" disabled>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Ruta</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="Seleccione una ruta" ng-model="Planilla.Planilla.Ruta.Nombre" disabled>
                        </div>
                    </div>

                </div>


                <div class="">
                    <div class="table-responsive" ng-show="ListadoConductoresLegalizacion.length > 0" style="overflow-y:scroll;overflow-x:scroll;max-height:1000px;max-width:100%">
                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm display nowrap dataTable dtr-inline">
                            <thead>
                                <tr>
                                    <th width="10px"></th>
                                    <th ng-click="OrdenarPor(ListadoConductoresLegalizacion,'NombreCompleto')" class="btn-link" style="cursor:pointer">Conductor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--Listado Grid agrupado-->
                                <tr ng-repeat="Conductor in ListadoConductoresLegalizacion">
                                    <td ng-click="ListConceptos(Conductor)" width="15px"><span class="glyphicon glyphicon-menu-right"></span></td>
                                    <td>
                                        <div>
                                            <label>
                                                {{Conductor.NombreCompleto}}
                                            </label>
                                        </div>
                                        <div ng-show="!Conductor.lstData">
                                            <div class="table-responsive" style="overflow-y:scroll;overflow-x:scroll;max-height:1000px;max-width:100%">
                                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm display nowrap dataTable dtr-inline">

                                                    <thead>
                                                        <tr>
                                                            <th ng-click="OrdenarPor(Conductor.Data,'Concepto','Nombre')" class="btn-link" style="cursor:pointer">Concepto<span style="color:red">*</span></th>
                                                            <th ng-click="OrdenarPor(Conductor.Data,'Valor')" class="btn-link" style="cursor:pointer">Valor <span style="color:red">*</span></th>
                                                            <th ng-click="OrdenarPor(Conductor.Data,'Concepto.Operacion')" class="btn-link" style="cursor:pointer; min-width : 100px">Operación <span style="color:red">*</span></th>
                                                            <th ng-click="OrdenarPor(Conductor.Data,'Proveedor','Nombre')" class="btn-link" style="cursor:pointer">Proveedor <span style="color:red">*</span></th>
                                                            <!--<th ng-click="OrdenarPor(item.Data,'Proveedor','Nombre')" class="btn-link" style="cursor:pointer">Identificación<span style="color:red">*</span></th>-->
                                                            <th ng-click="OrdenarPor(Conductor.Data,'NumeroFactura')" class="btn-link" style="cursor:pointer">Factura</th>
                                                            <th ng-click="OrdenarPor(Conductor.Data,'FechaFactura')" class="btn-link" style="cursor:pointer">Fecha Factura</th>
                                                            <th ng-show="HabilitarCantidadGalones" ng-click="OrdenarPor(Conductor.Data,'CantidadGalones')" class="btn-link" style="cursor:pointer">Cantidad Galones</th>
                                                            <th ng-click="OrdenarPor(Conductor.Data,'Observaciones')" class="btn-link" style="cursor:pointer">Observaciones</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr ng-repeat="item1 in Conductor.Data">
                                                            <td style="min-width:260px">
                                                                <select name="cmbEstado" class="form-control" ng-model="item1.Concepto" ng-options="i.Nombre for i in ListadoConceptos" ng-disabled="DeshabilitarGuardar" data-template-u ng-show="item1.Concepto.ConceptoSistema == 0 || item1.Concepto == undefined"></select>
                                                                <input type="text" class="form-control" ng-model="item1.Concepto.Nombre" ng-disabled="DeshabilitarGuardar || item1.Concepto.ConceptoSistema == 1" ng-show="item1.Concepto.ConceptoSistema == 1" />
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" maxlength="10" ng-change="item1.Valor = MaskValoresGrid(item1.Valor);Calcular()" ng-model="item1.Valor" style="text-align: right" ng-disabled="DeshabilitarGuardar || (item1.Concepto.ConceptoSistema == 1 && item1.Concepto.Codigo !=10013 && item1.Concepto.Codigo !=10001 && item1.Concepto.Codigo !=10002 && item1.Concepto.Codigo !=10014 && item1.Concepto.Codigo !=10000)" ng-click="GuardarValorSaldoOriginal(item1,$index)" ng-blur="ValidarSaldoConcepto(item1,$index)"/>
                                                            </td>
                                                            <td align="center">
                                                                <span ng-if="item1.Concepto.Operacion == 2 && item1.Concepto.Codigo != 10012" class="label pull-center bg-red">-</span>
                                                                <span ng-if="item1.Concepto.Operacion == 1 && item1.Concepto.Codigo != 10012" class="label label-success">+</span>
                                                                <span ng-if="item1.Concepto.Codigo == 10012">(N/A)</span>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" maxlength="100" ng-model="item1.Proveedor" uib-typeahead="i as i.NombreCompleto for i in AutocompleteProveedores($viewValue)| filter:$viewValue | limitTo: 5" ng-blur="item1.Proveedor = VerificarAutocomplete(item1.Proveedor)" ng-disabled="DeshabilitarGuardar" ng-change="Calcular()" />
                                                            </td>
                                                            <!--<td>
        <input type="text" class="form-control" maxlength="50" ng-change="item1.Proveedor.NumeroIdentificacion = MaskNumeroGrid(item1.Proveedor.NumeroIdentificacion)" ng-model="item1.Proveedor.NumeroIdentificacion" />
    </td>-->
                                                            <td>
                                                                <input type="text" class="form-control" maxlength="10" ng-change="item1.NumeroFactura = MaskNumeroGrid(item1.NumeroFactura)" ng-model="item1.NumeroFactura" ng-disabled="DeshabilitarGuardar" />
                                                            </td>
                                                            <td>
                                                                <input type="date" class="form-control" ng-model="item1.FechaFactura" ng-disabled="DeshabilitarGuardar">
                                                            </td>
                                                            <td ng-show="HabilitarCantidadGalones">
                                                                <input type="text" class="form-control" maxlength="10" ng-change="item1.CantidadGalones = MaskNumeroGrid(item1.CantidadGalones)" ng-model="item1.CantidadGalones" style="text-align: right" ng-disabled="DeshabilitarGuardar" />
                                                            </td>
                                                            <td style="min-width:100px">
                                                                <!--<a href="" data-toggle="tooltip" title={{item1.Observaciones}} ng-click>...Ver más</a>-->

                                                                <a uib-popover-template="'myPopoverTemplate.html'" popover-is-open="item1.popvisible" popover-class="increase-popover-width" popover-placement="left-bottom " popover-title="Observaciones" popover-trigger="'outsideClick'" href="" data-toggle="tooltip" title={{item1.Observaciones}}>

                                                                    ...Ver más
                                                                </a>
                                                                
                                                                <div>
                                                                    <script type="text/ng-template" id="myPopoverTemplate.html">
                                                                        <div class="col-md-12 col-sm-12 col-xs-12" style="min-width:550px">
                                                                            <div class="form-group">
                                                                                <label>Observaciones</label>
                                                                                <textarea class="form-control" ng-model="item1.Observaciones" ng-disabled="DeshabilitarGuardar"></textarea>
                                                                            </div>
                                                                        </div>
                                                                    </script>
                                                                </div>

                                                            </td>
                                                            <td style="display:inline-flex">
                                                                <button class="button mini-button btn-danger" title="Eliminar" ng-click="Conductor.Data.splice($index, 1);Calcular()" ng-show="!DeshabilitarGuardar" ng-disabled="DeshabilitarEliminarAnular">
                                                                    <span class="fas fa-trash-alt"></span>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="pull-left">
                                                    <button class="btn btn-block btn-primary" title="" ng-click="Conductor.Data == undefined ? Conductor.Data = [{}] : Conductor.Data.push({})" ng-show="!DeshabilitarGuardar">
                                                        Concepto
                                                        <span class="fa fa-plus"></span>
                                                    </button>
                                                </div>

                                            </div>
                                            <div>
                                                <div class="box box-default box-solid collapsed-box">
                                                    <div class="box-header with-border">
                                                        <h3 class="box-title">Comprobantes</h3>
                                                        <div class="box-tools pull-right">
                                                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                                        </div>
                                                    </div>
                                                    <div class="box-body">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm display nowrap dataTable dtr-inline">

                                                                <thead>
                                                                    <tr>
                                                                        <th>Número</th>
                                                                        <th>Fecha</th>
                                                                        <th>Oficina</th>
                                                                        <th>Documento Origen</th>
                                                                        <th>No. Documento Origen</th>
                                                                        <th>Valor</th>
                                                                        <th>Observaciones</th>

                                                                        <th></th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody>
                                                                    <tr ng-repeat="item in Conductor.Comprobantes">
                                                                        <td><a href="#!GestionarComprobanteEgresos/{{item.Codigo}}">{{item.Numero}}</a></td>
                                                                        <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                                                        <td>{{item.OficinaDestino.Nombre}}</td>
                                                                        <td>{{item.DocumentoOrigen.Nombre}}</td>
                                                                        <td>{{item.NumeroDocumentoOrigen}}</td>
                                                                        <td class="text-right">{{item.ValorPagoTotal | number:0}}</td>
                                                                        <td>{{item.Observaciones}}</td>
                                                                        
                                                                        <td style="display:inline-flex">
                                                                            <button class="button mini-button btn-danger" title="Eliminar" ng-click="EliminarComprobante(item,Conductor.Comprobantes);Calcular()" ng-hide="DeshabilitarGuardar || item.DocumentoOrigen.Codigo !== 2609">
                                                                                <span class="fas fa-trash-alt"></span>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <div class="pull-left">
                                                                <button class="btn btn-block btn-primary" title="" ng-click="CargarComprobantes(Conductor)" ng-show="!DeshabilitarGuardar">
                                                                    Cargar Comprobantes
                                                                    <span class="glyphicon glyphicon-refresh"></span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div>
                                                <div class="box box-default box-solid">
                                                    <div class="box-header with-border">
                                                        <h3 class="box-title">Totales</h3>
                                                        <div class="box-tools pull-right">
                                                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                                        </div>
                                                    </div>
                                                    <div class="box-body">
                                                        <div class="row">
                                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                                <div class="form-group">
                                                                    <label>Valor Gastos</label>
                                                                    <span class="form-control" style="text-align:right">{{Conductor.ValorGastos}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                                <div class="form-group">
                                                                    <label>Valor Anticipos</label>
                                                                    <span class="form-control" style="text-align:right">{{Conductor.ValorAnticipos}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                                <div class="form-group">
                                                                    <label>Valor Pre-Anticipos</label>
                                                                    <span class="form-control" style="text-align:right">{{Conductor.ValorReanticipos}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                                <div class="form-group">
                                                                    <label>Saldo Favor Conductor</label>
                                                                    <span class="form-control" style="text-align:right">{{Conductor.SaldoConductor}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                                <div class="form-group">
                                                                    <label>Saldo Favor Empresa</label>
                                                                    <span class="form-control" style="text-align:right">{{Conductor.SaldoEmpresa}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 col-sm-6 col-xs-12" ng-show=" Sesion.UsuarioAutenticado.ManejoGalonCombustible">
                                                                <div class="form-group">
                                                                    <label>Total Peajes</label>
                                                                    <span class="form-control" style="text-align:right">{{Conductor.TotalPeajes}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 col-sm-6 col-xs-12" ng-show=" Sesion.UsuarioAutenticado.ManejoGalonCombustible">
                                                                <div class="form-group">
                                                                    <label>Total Galones Suministrados</label>
                                                                    <span class="form-control" style="text-align:right">{{Conductor.TotalGalones}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 col-sm-6 col-xs-12" ng-show=" Sesion.UsuarioAutenticado.ManejoGalonCombustible">
                                                                <div class="form-group">
                                                                    <label>Diferencia Galonaje</label>
                                                                    <span class="form-control" style="text-align:right">{{Conductor.TotalGalonesAutorizados}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                                <div class="form-group">
                                                                    <br />
                                                                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Calcular()" ng-disabled="DeshabilitarGuardar">
                                                                        Recalcular
                                                                        <span class="glyphicon glyphicon-refresh"></span>
                                                                    </button>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <!--<div ng-repeat="Conductor in ListadoConductoresLegalizacion">


                </div>-->


                <div class="row">
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Observaciones</label>
                            <textarea class="form-control" ng-model="Modelo.Observaciones" ng-disabled="DeshabilitarGuardar"></textarea>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina</label>
                            <span class="form-control">{{ModeloOficina}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModeloEstado" ng-options="i.Nombre for i in ListadoEstados" ng-disabled="DeshabilitarGuardar"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" title="Cancelar" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="DeshabilitarGuardar">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>