﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR LEGALIZACIÓN PLANILLA PAQUETERÍA</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechIni">Fecha Inicial</label>
                            <input name="txtFechIni" type="date" class="form-control" ng-model="ModeloFechaInicial">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechFina">Fecha Final</label>
                            <input name="txtFechFina" type="date" class="form-control" ng-model="ModeloFechaFinal">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="Numero">Número</label>
                            <input name="Numero" class="form-control" ng-model="ModeloNumero" placeholder="Ingrese número" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>

                    <!--<div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="Planilla">No. Planilla</label>
                            <input name="Planilla" class="form-control" ng-model="ModeloPlanilla" placeholder="Ingrese No. Planilla" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="Manifiesto">No. Manifiesto</label>
                            <input name="Manifiesto" class="form-control" ng-model="ModeloManifiesto" placeholder="Ingrese No. Manifiesto" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>-->

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblConductor">Conductor</label>
                            <!--<input name="txtConductor" class="form-control" ng-model="ModeloConductor" placeholder="Conductor" maxlength="100">-->
                            <input maxlength="60" type="text" class="form-control" name="conductor" id="conductor" placeholder="Seleccione un conductor" autocomplete="off"
                                   ng-model="ModeloConductor" uib-typeahead="conductores as conductores.NombreCompleto for conductores in AutocompleteConductor($viewValue)| filter:$viewValue | limitTo: 5"
                                   ng-required="false" ng-blur="ModeloConductor=VerificarAutocomplete(ModeloConductor)">
                            <!--<input maxlength="60" type="text" class="form-control" name="conductor" id="conductor" placeholder="Seleccione un conductor"
                                   ng-model="Modelo.Conductor" uib-typeahead="conductores as conductores.NombreCompleto for conductores in AutocompleteConductor($viewValue)| filter:$viewValue | limitTo: 5"
                                   ng-required="false" ng-blur="Modelo.Conductor=VerificarAutocomplete(Modelo.Conductor)">-->
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina</label>
                            <select name="cmbOficina" class="form-control" ng-model="ModeloOficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModeloEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" title="Buscar" ng-click="paginaActual=1;Buscar()">
                        Buscar
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-block btn-primary" title="Nuevo Documento" ng-click="NuevoDocumento()">
                        Nuevo
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoLegalizacionGastos.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Número</th>
                                <th>Fecha</th>
                                <th>Conductor</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoLegalizacionGastos | orderBy:'-Numero'">
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                            <span class="fa fa-list"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-left" style="overflow-y:scroll; max-height:100px; cursor:pointer">
                                            <li ng-show="item.Estado == 1 && item.Anulado == 0">
                                                <a ng-click="GenerarMovimientoContable(item.Numero)" ng-disabled="DeshabilitarEliminarAnular">
                                                    <span class="fa fa-file" style="font-size:13px"></span> Generar Movimiento Contable
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="DesplegarInforme(item.Numero,1, 0)" ng-disabled="DeshabilitarImprimir">
                                                    <span class="glyphicon glyphicon-print"></span> Imprimir
                                                </a>
                                            </li>
                                            <li ng-show="item.Anulado == 0">
                                                <a ng-click="Anular(item.Numero,item.NumeroDocumento,item.Anulado)" ng-disabled="DeshabilitarEliminarAnular">
                                                    <span class="fas fa-trash-alt" style="font-size:13px"></span> Anular
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td><a href="#!GestionarLegalizacionPlanillaPaqueteria/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>
                                <td>{{item.Fecha | date:'dd/MM/yyyy' }}</td>
                                <td>{{item.Conductor.NombreCompleto}}</td>
                                <td>
                                    <span ng-if="item.Estado == 0 && item.Anulado == 0" class="label label-warning">Borrador</span>
                                    <span ng-if="item.Estado == 1 && item.Anulado == 0" class="label label-success">Definitivo</span>
                                    <span ng-if="item.Anulado == 1" class="label label-danger">Anulado</span>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalAnular" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            Anular
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorAnula.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesErrorAnula">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                        <p>¿Está seguro de anular la liquidación {{NumeroDocumentoAnular}}?</p>
                        <label>Causa Anulacion</label>
                        <input name="nombre" class="form-control" ng-model="ModeloCausaAnula" placeholder="Ingrese una Causa" maxlength="40">
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmaAnular()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>