﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR TARIFARIO COMPRAS</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>
                <div class="row">

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input name="nombre" type="text" class="form-control" ng-model="Modelo.Nombre" maxlength="40" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="CodigoAlterno">Número</label>
                            <input name="CodigoAlterno" class="form-control" ng-model="Modelo.Numero" placeholder="Ingrese un valor" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechVinc">Fecha Inicio</label>
                            <input name="txtFechVinc" type="date" class="form-control" ng-model="Modelo.FechaInicio">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechVinc">Fecha Fin</label>
                            <input name="txtFechVinc" type="date" class="form-control" ng-model="Modelo.FechaFin">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="Modelo.Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" title="Buscar ciudad" ng-click="paginaActual=1;Buscar()">
                        Buscar
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-block btn-primary" title="Nueva ciudad" ng-click="NuevoDocumento()">
                        Nuevo
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoTarifarioCompras.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th>  </th>
                                <th>Número</th>
                                <th>Nombre</th>
                                <th>Vigencia</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoTarifarioCompras | orderBy:'Codigo'">
                                <!--Lista de Opciones tarifario-->
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                            <span class="fa fa-list"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-left" style="overflow-y:scroll; max-height:100px">
                                            <li>
                                                <a ng-click="CopiarDocumento(item.Codigo)">
                                                    <span class="fa fa-copy" style="font-size:18px; margin-right: 5px;"></span>Copiar
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="AnularDocumento(item.Codigo,item.Nombre)" ng-disabled="DeshabilitarEliminarAnular">
                                                    <span class="fas fa-trash-alt" style="font-size:18px; margin-right: 5px;"></span>Anular
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="ExportarTarifarioExcel(item.Codigo)">
                                                    <span class="glyphicon glyphicon-print" style="font-size:18px; margin-right: 5px;" ></span>Exportar EXCEL
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <!--Cierre de Opciones tarifario-->
                                <td><a href="#!GestionarTarifarioCompras/{{item.Codigo}}">{{item.Codigo}}</a></td>
                                <td>{{item.Nombre}}</td>
                                <td>{{item.FechaInicio  | date:'dd/MM/yyyy' }} - {{item.FechaFin  | date:'dd/MM/yyyy' }}</td>
                                <td>
                                    <span ng-if="item.Estado.Codigo == 0 " class="label pull-center bg-red">Inactiva</span>
                                    <span ng-if="item.Estado.Codigo == 1" class="label label-success">Activa</span>
                                </td>
                                <!--<td>
                                    <button class="button mini-button btn-primary" title="Copiar" ng-click="CopiarDocumento(item.Codigo) ">
                                        <span class="fa fa-copy"></span>
                                    </button>
                                </td>
                                <td>
                                    <button class="button mini-button btn-danger" title="Anular" ng-click="AnularDocumento(item.Codigo,item.Nombre)">
                                        <span class="fas fa-trash-alt"></span>
                                    </button>
                                </td>-->
                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalEliminarTarifarioCompras" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar la linea vehículo {{Nombre}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeEliminarTarifarioCompras" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click="MostrarMensajeErrorModal()"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="MostrarMensajeErrorModal()">
                                Mensaje Completo
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modalAnular" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <ul>
                        <li ng-repeat="error in MensajesErrorAnular">
                            <span class="errorField">{{error}}</span>
                        </li>
                    </ul>
                    <div class="modal-body">
                        <p>¿Está seguro de Anular El tarifario {{Nombre}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Anular()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeAnularImpuesto" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-open">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click=" MostrarMensajeErrorCompleto = MostrarMensajeErrorModal(MostrarMensajeErrorCompleto)"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>



</div>