﻿<div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">

                    <div class="col-md-2 col-sm-2 col-xs-12" ng-show="NumeroTarifario > 0">
                        <div class="form-group">
                            <label for="fecha">Número</label>
                            <span class="form-control">{{NumeroTarifario}}</span>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" name="txtNombre" ng-change="MaskMayus()" class="form-control" maxlength="40" placeholder="Nombre" ng-model="Modelo.Nombre" ng-blur="VerificarExistencia()" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechVinc">Fecha Inicio</label>
                            <input name="txtFechVinc" type="date" class="form-control" ng-model="Modelo.FechaInicio" ng-blur="MostrarReplicar()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechVinc">Fecha Fin</label>
                            <input name="txtFechVinc" type="date" class="form-control" ng-model="Modelo.FechaFin" ng-blur="MostrarReplicar()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="Modelo.Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <input ng-disabled="habilitarTarifarioBase" type="checkbox" ng-model="Modelo.TarifarioBase"> Tarifario Base
                    </div>
                </div>
                <div class="row">
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" title="Aceptar" ng-click="NuevaTarifa()" ng-disabled="DeshabilitarActualizar">
                            Tarifa
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                    <div class="pull-right" id="BtnPaquetria" ng-if="Modelo.Paqueteria  == undefined">
                        <button type="button" class="btn btn-primary" title="Aceptar" ng-click="NuevaTarifa(true)">
                            Paqueteria
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
                <br>
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Filtros</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <label>Línea Negocio</label>
                                <select name="cmbTipoDueno" ng-disabled="AplicaPaqueteria" class="form-control" ng-model="LineaNegocio" ng-options="i.Nombre for i in ListadoLineaNegocioTransportes | orderBy: 'Nombre'" ng-change="CargarTipoLineaFiltrosGeneral(LineaNegocio.Codigo)"></select>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <label>Tipo Línea Negocio</label>
                                <select name="cmbTipoDueno" ng-disabled="HabilitarLineaNegocioFiltrosGeneral" class="form-control" ng-model="TipoLineaNegocio" ng-options="i.Nombre for i in ListadoTipoLineaNegocioTransportesFiltrosGeneral | orderBy:'Nombre'" ng-change="FiltrarRutasFiltrosGeneral();CargarTarifaFiltrosGeneral(TipoLineaNegocio.Codigo)"></select>
                            </div>
                            <!--Ruta-->
                            <div class="col-md-6 col-sm-12 col-xs-12" ng-if="HabilitarRutaFiltrosGeneral == true">
                                <div class="form-group">
                                    <label>Ruta</label>
                                    <input maxlength="60" type="text" class="form-control" placeholder="Seleccione una Ruta" ng-model="FiltroRuta" uib-typeahead="Ruta as Ruta.Nombre for Ruta in ListadoRutasFiltrosGeneral | filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="FiltroRuta=VerificarAutocomplete(FiltroRuta)">
                                </div>
                            </div>
                            <!--Ciudad Origen-->
                            <div class="col-md-3 col-sm-6 col-xs-12" ng-show="HabilitarRutaFiltrosGeneral == false && LineaNegocio.Codigo != -1">
                                <div class="form-group">
                                    <label for="Ciudad">Ciudad Origen </label>
                                    <input type="text" class="form-control" name="Ciudad" maxlength="50" id="ModeloCiudad" placeholder="Ingrese una Ciudad Origen" ng-model="CiudadOrigen"
                                           uib-typeahead="i as i.NombreCompleto for i in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5 | orderBy:'Nombre'"
                                           ng-required="false" ng-blur="CiudadOrigen=VerificarAutocomplete(CiudadOrigen)" autocomplete="off">
                                </div>
                                <div class="pull-left">
                                    <button class="btn btn-block btn-primary" ng-click="AsignarCiudadesOrigen()" title="Asignar" ng-disabled="DeshabilitarConsulta">
                                        Asignar Origen
                                    </button>
                                </div>
                            </div>
                            <!--Ciudad Destino-->
                            <div class="col-md-3 col-sm-6 col-xs-12" ng-show="HabilitarRutaFiltrosGeneral == false && LineaNegocio.Codigo != -1">
                                <div class="form-group">
                                    <label for="CiudadDestino">Ciudad Destino</label>
                                    <input type="text" class="form-control" name="CiudadDestino" maxlength="50" id="ModeloCiudadDestino" placeholder="Ingrese una Ciudad Destino" ng-model="CiudadDestino"
                                           uib-typeahead="i as i.NombreCompleto for i in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5 | orderBy:'Nombre'"
                                           ng-required="false" ng-blur="CiudadDestino=VerificarAutocomplete(CiudadDestino)" autocomplete="off">
                                </div>
                                <div class="pull-left">
                                    <button class="btn btn-block btn-primary" ng-click="AsignarCiudadesDestino()" title="Asignar" ng-disabled="DeshabilitarConsulta">
                                        Asignar Destino
                                    </button>
                                </div>
                            </div>


                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <br />
                                    <button type="button" class="btn btn-primary" title="Filtrar tarifarios" ng-click="BuscarDetalle()">
                                        Buscar
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="table-responsive col-md-4 col-sm-6 col-xs-12" ng-if="ciudadesOrigen.length > 0">
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Ciudad Origen</th>
                                            <th>Eliminar</th>

                                        </tr>
                                    <tbody>
                                        <tr ng-repeat="item in ciudadesOrigen | orderBy:'Numero'">
                                            <td>{{item.NombreCompleto}}</td>
                                            <td style="text-align:right">
                                                <button class="button mini-button danger" title="Eliminar" ng-click="EliminarCiudadOrigen($index,item)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div>
                            <div class="table-responsive col-md-4 col-sm-6 col-xs-12" ng-if="ciudadesDestino.length > 0">
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Ciudad Destino</th>
                                            <th>Eliminar</th>

                                        </tr>
                                    <tbody>
                                        <tr ng-repeat="item in ciudadesDestino | orderBy:'Numero'">
                                            <td>{{item.NombreCompleto}}</td>
                                            <td style="text-align:right">
                                                <button class="button mini-button danger" title="Eliminar" ng-click="EliminarCiudadDestino($index,item)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive" ng-if="ListadoTarifas.length > 0">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">

                                <thead>
                                    <tr>
                                        <th ng-if="ListadoTarifas[0].LineaNegocioTransportes.Codigo !== 3" style="cursor:pointer">Ruta</th>
                                        <th ng-if="ListadoTarifas[0].LineaNegocioTransportes.Codigo == 3 && ListadoTarifas[0].TipoLineaNegocioTransportes.Codigo !== 301" style="cursor:pointer">Ciudad</th>
                                        <th ng-if="ListadoTarifas[0].LineaNegocioTransportes.Codigo == 3 && ListadoTarifas[0].TipoLineaNegocioTransportes.Codigo == 301" style="cursor:pointer">Ciudad Origen</th>
                                        <th ng-if="ListadoTarifas[0].LineaNegocioTransportes.Codigo == 3 && ListadoTarifas[0].TipoLineaNegocioTransportes.Codigo == 301" style="cursor:pointer">Ciudad Destino</th>
                                        <th style="cursor:pointer">Tiempo Entrega</th>
                                        <th style="cursor:pointer">Tarifa</th>
                                        <th style="cursor:pointer">Tipo Tarifa</th>
                                        <th ng-if="ListadoTarifas[0].LineaNegocioTransportes.Codigo == 3 && !Sesion.UsuarioAutenticado.ProcesoOcultarFormaPagoTarifarios" style="cursor:pointer">Forma Pago</th>
                                        <th style="cursor:pointer">Flete Cliente</th>
                                        <th style="cursor:pointer">Porcentaje Manejo</th>
                                        <th ng-if="ListadoTarifas[0].LineaNegocioTransportes.Codigo == 1" ng-show="!(ListadoTarifas[0].TipoLineaNegocioTransportes.Nombre.toUpperCase() == 'Urbana'.toUpperCase() || ListadoTarifas[0].TipoLineaNegocioTransportes.Nombre.toUpperCase() == 'Urbano'.toUpperCase())" style="cursor:pointer">Valor Escolta</th>
                                        <th ng-if="ListadoTarifas[0].LineaNegocioTransportes.Codigo == 1" ng-show="(ListadoTarifas[0].TipoLineaNegocioTransportes.Nombre.toUpperCase() == 'Urbana'.toUpperCase() || ListadoTarifas[0].TipoLineaNegocioTransportes.Nombre.toUpperCase() == 'Urbano'.toUpperCase())" style="cursor:pointer">Valor Auxiliar</th>
                                        <th ng-if="ListadoTarifas[0].LineaNegocioTransportes.Codigo !== 3" style="cursor:pointer">Flete Transportador</th>
                                        <th ng-if="ListadoTarifas[0].LineaNegocioTransportes.Codigo == 3" style="cursor:pointer">Reexpedición</th>
                                        <th ng-if="ListadoTarifas[0].LineaNegocioTransportes.Codigo == 3" style="cursor:pointer"> % Reexpedición</th>
                                        <th style="cursor:pointer">Fecha Inicio Vigencia</th>
                                        <th style="cursor:pointer">Fecha Fin Vigencia</th>
                                        <th style="cursor:pointer">Estado</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="item in ListadoTarifas">
                                        <td ng-if="item.LineaNegocioTransportes.Codigo !== 3" ng-show="item.Mostrar == true">{{item.Ruta.Nombre}}</td>
                                        <td ng-if="item.LineaNegocioTransportes.Codigo == 3 " ng-show="item.Mostrar == true">{{item.CiudadOrigen.Nombre}}</td>
                                        <td ng-if="item.LineaNegocioTransportes.Codigo == 3 && item.TipoLineaNegocioTransportes.Codigo == 301" ng-show="item.Mostrar == true">{{item.CiudadDestino.Nombre}}</td>

                                        <td ng-show="item.Mostrar == true">
                                            <div ng-if="item.editable !== true">{{item.TiempoEntrega}}</div>
                                            <input ng-if="item.editable == true" name="txtTiempoEntrega" type="number" class="form-control" maxlength="3" ng-model="item.TiempoEntrega" ng-change="item.TiempoEntrega=MaskNumeroGrid(item.TiempoEntrega);item.Modifico = true">
                                        </td>
                                        <td ng-show="item.Mostrar == true">{{item.TarifaTransportes.Nombre}}</td>
                                        <td ng-show="item.Mostrar == true">{{item.TipoTarifaTransportes.Nombre}}</td>
                                        <td ng-if="item.LineaNegocioTransportes.Codigo == 3" ng-show="item.Mostrar == true  && !Sesion.UsuarioAutenticado.ProcesoOcultarFormaPagoTarifarios" style="min-width:90px">
                                            <div ng-if="item.LineaNegocioTransportes.Codigo == 3" ng-show="item.Mostrar == true">{{item.FormaPagoVentas.Nombre}}</div>

                                        </td>
                                        <td align="right" ng-show="item.Mostrar == true">
                                            <div ng-if="item.editable !== true">{{item.ValorFlete}}</div>
                                            <input type="text" class="form-control" maxlength="10" ng-change="item.ValorFlete = MaskValoresGrid(item.ValorFlete);item.Modifico = true" ng-if="item.editable == true" ng-model="item.ValorFlete" />
                                        </td>
                                        <td align="right" ng-show="item.Mostrar == true">
                                            <div ng-if="item.editable !== true">{{item.PorcentajeSeguro}}</div>
                                            <input type="text" class="form-control" maxlength="10" ng-change="item.PorcentajeSeguro = MaskDecimales(item.PorcentajeSeguro);item.Modifico = true" ng-if="item.editable == true" ng-model="item.PorcentajeSeguro" />
                                        </td>

                                        <td align="right" ng-if="item.LineaNegocioTransportes.Codigo == 1" ng-show="item.Mostrar == true">
                                            <div ng-if="item.editable !== true">{{item.ValorEscolta}}</div>
                                            <input type="text" class="form-control" maxlength="10" ng-change="item.ValorEscolta = MaskValoresGrid(item.ValorEscolta);item.Modifico = true" ng-if="item.editable == true" ng-model="item.ValorEscolta" />
                                        </td>
                                        <td align="right" ng-show="item.Mostrar == true && item.LineaNegocioTransportes.Codigo != 3">
                                            <div ng-if="item.editable !== true">{{item.ValorFleteTransportador}}</div>
                                            <input type="text" class="form-control" maxlength="10" ng-change="item.ValorFleteTransportador = MaskValoresGrid(item.ValorFleteTransportador);VerificarValorCliente(item.ValorFlete,item.ValorFleteTransportador,2,item);item.Modifico = true" ng-if="item.editable == true" ng-model="item.ValorFleteTransportador" />
                                        </td>

                                        <td align="center" ng-show="item.Mostrar == true && item.LineaNegocioTransportes.Codigo == 3">
                                            <input type="checkbox" ng-show="item.editable !== true && item.Reexpedicion == 1" checked disabled />
                                            <input type="checkbox" ng-show="item.editable !== true && item.Reexpedicion == 0" disabled />
                                            <input type="checkbox" ng-change="item.Modifico = true; item.Reexpedicion = item.ValorReexpedicion == true ? 1: 0" ng-show="item.editable == true" ng-model="item.ValorReexpedicion" />
                                        </td>

                                        <td align="right" ng-show="item.Mostrar == true && item.LineaNegocioTransportes.Codigo == 3">
                                            <div ng-if="item.editable !== true">{{item.PorcentajeAfiliado}}</div>
                                            <input type="text" class="form-control" maxlength="10" ng-change="item.PorcentajeAfiliado = MaskPorcentaje(item.PorcentajeAfiliado,item.PorcentajeAfiliado);item.Modifico = true;" ng-if="item.editable == true" ng-model="item.PorcentajeAfiliado" ng-blur="ValidarPorcentajeReexpedicion(item)" />
                                        </td>

                                        <td ng-show="item.Mostrar == true">
                                            <div ng-if="item.editable !== true">{{item.FechaInicioVigencia  | date:'dd/MM/yyyy' }}</div>
                                            <input ng-if="item.editable == true" name="txtFechVinc" type="date" class="form-control" ng-model="item.FechaInicioVigencia" ng-change="item.Modifico = true">
                                        </td>
                                        <td ng-show="item.Mostrar == true">
                                            <div ng-if="item.editable !== true">{{item.FechaFinVigencia | date:'dd/MM/yyyy'}}</div>
                                            <input ng-if="item.editable == true" name="txtFechVinc" type="date" class="form-control" ng-model="item.FechaFinVigencia" ng-change="item.Modifico = true">
                                        </td>
                                        <td style="min-width:90px" ng-show="item.Mostrar == true">
                                            <div ng-if="item.editable !== true">{{item.Estado.Nombre}}</div>
                                            <select name="cmbEstado" class="form-control" ng-if="item.editable == true" ng-model="item.Estado" ng-options="i.Nombre for i in ListadoEstados" ng-change="item.editableEstado = false;AsignarValor(item)"></select>
                                        </td>
                                        <td style="display:inline-flex" ng-show="item.Mostrar == true">


                                            <button ng-if="item.editable != true" class="button mini-button btn-primary" title="Editar" ng-click="item.editable = true;item.temValorFlete = item.ValorFlete;item.FechaInicioVigencia = Date(item.FechaInicioVigencia);item.temPorcentajeAfiliado = item.PorcentajeAfiliado;item.FechaFinVigencia = Date(item.FechaFinVigencia);item.temItem = CopyItem(item)" ng-disabled="DeshabilitarActualizar">
                                                <span class="far fa-edit"></span>
                                            </button>

                                            <button ng-if="item.editable == true && !(item.FechaInicioVigencia > item.FechaFinVigencia || item.FechaInicioVigencia == undefined || item.FechaInicioVigencia == null || item.FechaFinVigencia == undefined || item.FechaFinVigencia == null) && !(item.ValorReexpedicion == true && item.PorcentajeAfiliado <= 0 && item.LineaNegocioTransportes.Codigo == 3)" class="button mini-button btn-success" title="Guardar" ng-click="item.editable = false;AsignarValor(item);item.ValorFlete = ValidarFlete(item)">
                                                <span class="fa fa-check"></span>
                                            </button>
                                            <button ng-if="item.editable == true && (item.FechaInicioVigencia > item.FechaFinVigencia || item.FechaInicioVigencia == undefined || item.FechaInicioVigencia == null || item.FechaFinVigencia == undefined || item.FechaFinVigencia == null)" class="button mini-button btn-success" title="Guardar" onclick="ShowError('Por favor diligencie las fechas correctamente')">
                                                <span class="fa fa-check"></span>
                                            </button>

                                            <button ng-if="item.editable == true && !(item.FechaInicioVigencia > item.FechaFinVigencia || item.FechaInicioVigencia == undefined || item.FechaInicioVigencia == null || item.FechaFinVigencia == undefined || item.FechaFinVigencia == null) && (item.ValorReexpedicion == true && item.PorcentajeAfiliado <= 0 && item.LineaNegocioTransportes.Codigo == 3)" class="button mini-button btn-success" title="Guardar" onclick="ShowError('Debe diligenciar un porcentaje reexpedición')">
                                                <span class="fa fa-check"></span>
                                            </button>
                                            <button ng-show="item.editable == true" class="button mini-button btn-warning " title="Cancelar" ng-click="item = CopyItem(item.temItem);item.editable = false">
                                                <span class="fa fa-times"></span>
                                            </button>

                                            <button ng-if="item.editable != true" class="button mini-button btn-danger" title="Eliminar" ng-click="EliminarTarifa(item,$index,ListadoTarifas)" ng-disabled="DeshabilitarEliminarAnular">
                                                <span class="fas fa-trash-alt"></span>
                                            </button>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <div></div>

                        <div style="max-width:100%" ng-if="Modelo.Paqueteria  != undefined">
                            <div class="box box-default box-solid collapsed-box">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Paquetería</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="row" style="padding: 1%">
                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm display nowrap dataTable dtr-inline">

                                            <thead>
                                                <tr>
                                                    <!--<th ng-click="" class="btn-link" style="cursor:pointer">Minimo Kg Cobro</th>
                                        <th ng-click="" class="btn-link" style="cursor:pointer">Maximo Kg Cobro</th>
                                        <th ng-click="" class="btn-link" style="cursor:pointer">Valor Kg Adicional</th>-->
                                                    <!--<th ng-click="" class="btn-link" style="cursor:pointer">Valor Manejo</th>-->
                                                    <th ng-click="" class="btn-link" style="cursor:pointer">Porcentaje Manejo Condiciones Comerciales</th>
                                                    <th ng-click="" class="btn-link" style="cursor:pointer">Manejo Mínimo Paquetería</th>
                                                    <!--<th ng-click="" class="btn-link" style="cursor:pointer">Valor Seguro</th>
                                        <th ng-click="" class="btn-link" style="cursor:pointer">Porcentaje Seguro</th>-->
                                                    <th ng-click="" class="btn-link" style="cursor:pointer">Manejo Mínimo Mensajería</th>
                                                    <th ng-click="" class="btn-link" style="cursor:pointer">Flete Mínimo</th>
                                                    <th ng-click="" class="btn-link" style="cursor:pointer"></th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <!--<td align="right">
                                            <div ng-if="Modelo.Paqueteria.editable !== true">{{Modelo.Paqueteria.MinimoKgCobro}}</div>
                                            <input type="text" class="form-control" maxlength="9" ng-change="Modelo.Paqueteria.MinimoKgCobro = MaskMonedaGrid(Modelo.Paqueteria.MinimoKgCobro)" ng-if="Modelo.Paqueteria.editable == true" ng-model="Modelo.Paqueteria.MinimoKgCobro" />
                                        </td>
                                        <td align="right">
                                            <div ng-if="Modelo.Paqueteria.editable !== true">{{Modelo.Paqueteria.MaximoKgCobro}}</div>
                                            <input type="text" class="form-control" maxlength="9" ng-change="Modelo.Paqueteria.MaximoKgCobro = MaskMonedaGrid(Modelo.Paqueteria.MaximoKgCobro)" ng-if="Modelo.Paqueteria.editable == true" ng-model="Modelo.Paqueteria.MaximoKgCobro" />
                                        </td>
                                        <td align="right">
                                            <div ng-if="Modelo.Paqueteria.editable !== true">{{Modelo.Paqueteria.ValorKgAdicional}}</div>
                                            <input type="text" class="form-control" maxlength="8" ng-change="Modelo.Paqueteria.ValorKgAdicional = MaskValoresGrid(Modelo.Paqueteria.ValorKgAdicional)" ng-if="Modelo.Paqueteria.editable == true" ng-model="Modelo.Paqueteria.ValorKgAdicional" />
                                        </td>-->
                                                    <!--<td align="right">
                                            <div ng-if="Modelo.Paqueteria.editable !== true">{{Modelo.Paqueteria.ValorManejo}}</div>
                                            <input type="text" class="form-control" maxlength="8" ng-change="Modelo.Paqueteria.ValorManejo = MaskValoresGrid(Modelo.Paqueteria.ValorManejo)" ng-if="Modelo.Paqueteria.editable == true" ng-model="Modelo.Paqueteria.ValorManejo" />
                                        </td>-->
                                                    <td align="right">
                                                        <div ng-if="Modelo.Paqueteria.editable !== true">{{Modelo.Paqueteria.PorcentajeManejo}}</div>
                                                        <input type="text" class="form-control" ng-change="Modelo.Paqueteria.PorcentajeManejo = MaskPorcentaje(Modelo.Paqueteria.PorcentajeManejo,Modelo.Paqueteria.PorcentajeManejo)" ng-if="Modelo.Paqueteria.editable == true" ng-model="Modelo.Paqueteria.PorcentajeManejo" />
                                                    </td>


                                                    <td align="right">
                                                        <div ng-if="Modelo.Paqueteria.editable !== true">{{Modelo.Paqueteria.MinimoValorManejo}}</div>
                                                        <input type="text" class="form-control" maxlength="8" ng-change="Modelo.Paqueteria.MinimoValorManejo = MaskValoresGrid(Modelo.Paqueteria.MinimoValorManejo)" ng-if="Modelo.Paqueteria.editable == true" ng-model="Modelo.Paqueteria.MinimoValorManejo" />
                                                    </td>
                                                    <!--<td align="right">
                                            <div ng-if="Modelo.Paqueteria.editable !== true">{{Modelo.Paqueteria.ValorSeguro}}</div>
                                            <input type="text" class="form-control" maxlength="8" ng-change="Modelo.Paqueteria.ValorSeguro = MaskValoresGrid(Modelo.Paqueteria.ValorSeguro)" ng-if="Modelo.Paqueteria.editable == true" ng-model="Modelo.Paqueteria.ValorSeguro" />
                                        </td>
                                        <td align="right">
                                            <div ng-if="Modelo.Paqueteria.editable !== true">{{Modelo.Paqueteria.PorcentajeSeguro}}</div>
                                            <input type="text" class="form-control" maxlength="5" ng-change="Modelo.Paqueteria.PorcentajeSeguro = MaskValoresGrid(Modelo.Paqueteria.PorcentajeSeguro)" ng-if="Modelo.Paqueteria.editable == true" ng-model="Modelo.Paqueteria.PorcentajeSeguro" />
                                        </td>-->
                                                    <td align="right">
                                                        <div ng-if="Modelo.Paqueteria.editable !== true">{{Modelo.Paqueteria.MinimoValorSeguro}}</div>
                                                        <input type="text" class="form-control" maxlength="8" ng-change="Modelo.Paqueteria.MinimoValorSeguro = MaskValoresGrid(Modelo.Paqueteria.MinimoValorSeguro)" ng-if="Modelo.Paqueteria.editable == true" ng-model="Modelo.Paqueteria.MinimoValorSeguro" />
                                                    </td>
                                                    <td align="right">
                                                        <div ng-if="Modelo.Paqueteria.editable !== true">{{Modelo.Paqueteria.MinimoValorUnidad}}</div>
                                                        <input type="text" class="form-control" maxlength="8" ng-change="Modelo.Paqueteria.MinimoValorUnidad = MaskValoresGrid(Modelo.Paqueteria.MinimoValorUnidad)" ng-if="Modelo.Paqueteria.editable == true" ng-model="Modelo.Paqueteria.MinimoValorUnidad" />
                                                    </td>

                                                    <td style="display:inline-flex">
                                                        <button class="button mini-button btn-danger" title="Eliminar" ng-click="EliminarTarifaPaqueteria()" ng-disabled="DeshabilitarEliminarAnular">
                                                            <span class="fas fa-trash-alt"></span>
                                                        </button>
                                                        <button ng-if="Modelo.Paqueteria.editable != true" class="button mini-button btn-primary" title="Editar" ng-click="Modelo.Paqueteria.editable = true;GuardarCampos()">
                                                            <span class="far fa-edit"></span>
                                                        </button>
                                                        <button ng-if="Modelo.Paqueteria.editable == true" class="button mini-button btn-success" title="Guardar" ng-click="ValidarCampos()">
                                                            <span class="fa fa-check"></span>
                                                        </button>
                                                        <button ng-if="Modelo.Paqueteria.editable == true" class="button mini-button btn-warning    " title="Cancelar" ng-click="RestaurarCampos();Modelo.Paqueteria.editable = false">
                                                            <span class="fa fa-times"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div style="text-align:center" class="col-md-12" ng-show="Buscando == false">
                            <span style="color:red">
                                <small>{{ResultadoSinRegistros}}</small>
                            </span>
                        </div>
                    </div>


                </div>
                <!--SECCIÓN BOTONES-->
                <div class="SeccionBotones">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                            Cancelar
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                        <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="DeshabilitarActualizar">
                            Aceptar
                            <span class="glyphicon glyphicon-ok-circle"></span>
                        </button>
                    </div>
                </div>
</form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modalConfirmacionEliminar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar la tarifa?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmarEliminarTarifa()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modalConfirmacionEliminarPaqueteria" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar la tarifa?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmarEliminarTarifaPaqueteria()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="ModalNuevaTarifa" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            Nueva Tarifa
                        </h4>
                    </div>

                    <div class="modal-body">


                        <!--<div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title ng-binding">Nueva Tarifa</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">-->
                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorModal.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesErrorModal">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <label>Línea Negocio</label>
                                <select name="cmbTipoDueno" ng-disabled="AplicaPaqueteria" class="form-control" ng-model="Modal.LineaNegocioTransportes" ng-options="i.Nombre for i in ListadoLineaNegocioTransportesFiltrado" ng-change="CargarTipoLinea(Modal.LineaNegocioTransportes.Codigo)"></select>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <label>Tipo Línea Negocio</label>
                                <select name="cmbTipoDueno" class="form-control" ng-model="Modal.TipoLineaNegocioTransportes" ng-options="i.Nombre for i in ListadoTipoLineaNegocioTransportesFiltrado | orderBy:'Nombre'" ng-change="FiltrarRutas();CargarTarifa(Modal.TipoLineaNegocioTransportes.Codigo)"></select>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <label>Tarifa</label>
                                <select name="cmbTipoDueno" ng-disabled="HabilitarTipoLineaNegocio" class="form-control" ng-model="Modal.TarifaTransportes" ng-options="i.Nombre for i in ListadoTarifaTransportesFiltrado  | orderBy:'Nombre'" ng-change="CargarTipoTarifa(Modal.TarifaTransportes.Codigo) "></select>
                            </div>
                            <div id="TipoTarifa">
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <label>Tipo Tarifa</label>
                                    <select name="cmbTipoDueno" ng-disabled="HabilitarTipoTarifa" class="form-control" ng-model="Modal.TipoTarifaTransportes" ng-options="i.Nombre for i in ListadoTipoTarifaTransportesFiltrado  | orderBy:'Nombre'"></select>
                                </div>


                                <div class="col-md-3 col-sm-6 col-xs-12" ng-show="HabilitarFormaPago == true && Modal.LineaNegocioTransportes.Codigo != 1" style="margin-top:15px">
                                    <label>Forma Pago</label>
                                    <select name="cmbTipoDueno" ng-disabled="HabilitarTipoTarifa" class="form-control" ng-model="Modal.FormaPagoVentas" ng-options="i.Nombre for i in ListaFormaPagoVentas"></select>
                                </div>
                            </div>

                        </div>



                        <div class="row" id="Secciontarifa">
                            <div class="col-md-6 col-sm-12 col-xs-12" ng-if="HabilitarRuta == true" style="margin-top:15px">
                                <div class="form-group">
                                    <label>Ruta</label>
                                    <input maxlength="60" type="text" class="form-control" placeholder="Seleccione una Ruta" ng-model="Modal.Ruta" uib-typeahead="Ruta as Ruta.Nombre for Ruta in ListadoRutasFiltrado| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modal.Ruta=VerificarAutocomplete(Modal.Ruta)">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12" ng-if="HabilitarCiudadOrigenDestino == true" style="margin-top:15px">
                                <div class="form-group">
                                    <label for="CiudadOrigen">Ciudad Origen</label>
                                    <input type="text" class="form-control" name="CiudadOrigen" maxlength="50" id="ModeloCiudadOrigen" placeholder="Ingrese una Ciudad Origen" ng-model="Modal.CiudadOrigen"
                                           uib-typeahead="i as i.NombreCompleto for i in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5 | orderBy:'Nombre'" ng-required="false" ng-blur="Modal.CiudadOrigen=VerificarAutocomplete(Modal.CiudadOrigen)">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12" ng-if="HabilitarCiudadOrigenDestino == true" style="margin-top:15px">
                                <div class="form-group">
                                    <label for="CiudadDestino">Ciudad Destino</label>
                                    <input type="text" class="form-control" name="CiudadDestino" maxlength="50" id="ModeloCiudadDestino" placeholder="Ingrese una Ciudad Destino" ng-model="Modal.CiudadDestino"
                                           uib-typeahead="i as i.NombreCompleto for i in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5 | orderBy:'Nombre'" ng-required="false" ng-blur="Modal.CiudadDestino=VerificarAutocomplete(Modal.CiudadDestino)">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12" ng-if="HabilitarCiudadUrbana == true" style="margin-top:15px">
                                <div class="form-group">
                                    <label for="Ciudad">Ciudad</label>
                                    <input type="text" class="form-control" name="Ciudad" maxlength="50" id="ModeloCiudad" placeholder="Ingrese una Ciudad" ng-model="Modal.Ciudad"
                                           uib-typeahead="i as i.Nombre for i in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5 | orderBy:'Nombre'" ng-required="false" ng-blur="Modal.Ciudad=VerificarAutocomplete(Modal.Ciudad);Modal.CiudadOrigen = Modal.Ciudad">
                                </div>
                            </div>
                            <div class="row" style="margin: 0px">
                                <div class="col-md-3 col-sm-6 col-xs-12" style="margin-top:15px">
                                    <div class="form-group">
                                        <label>Flete Cliente</label>
                                        <input type="text" style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="10" placeholder="Flete cliente" ng-model="Modal.ValorFlete" />
                                    </div>
                                </div>



                                <div class="col-md-3 col-sm-6 col-xs-12" ng-if="Modal.LineaNegocioTransportes.Codigo == 1 &&  !(Modal.TipoLineaNegocioTransportes.Nombre.toUpperCase() == 'Urbana'.toUpperCase() || Modal.TipoLineaNegocioTransportes.Nombre.toUpperCase() == 'Urbano'.toUpperCase())" style="margin-top:15px">
                                    <div class="form-group">
                                        <label>Valor Escolta</label>
                                        <input type="text" style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="10" placeholder="Valor escolta" ng-model="Modal.ValorEscolta" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12" ng-if="Modal.LineaNegocioTransportes.Codigo == 1 &&  (Modal.TipoLineaNegocioTransportes.Nombre.toUpperCase() == 'Urbana'.toUpperCase() || Modal.TipoLineaNegocioTransportes.Nombre.toUpperCase() == 'Urbano'.toUpperCase())" style="margin-top:15px">
                                    <div class="form-group">
                                        <label>Valor Auxiliar</label>
                                        <input type="text" style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="10" placeholder="Valor auxiliar" ng-model="Modal.ValorEscolta" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12" ng-show="Modal.LineaNegocioTransportes.Codigo != 3" style="margin-top:15px">
                                    <div class="form-group">
                                        <label>Flete Transportador</label>
                                        <input type="text" style="text-align:right" ng-change="MaskValores();VerificarValorCliente(Modal.ValorFlete, Modal.ValorFleteTransportador,1)" class="form-control" maxlength="10" placeholder="Flete transportador" ng-model="Modal.ValorFleteTransportador" />
                                    </div>
                                </div>
                                <!--<div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label>Valor Cargue Transportador</label>
                <input type="text" style="text-align:right" ng-change="MaskValores();VerificarValorTransportador(Modal.ValorFleteTransportador,Modal.ValorCargue,Modal.ValorDescargue,1)" class="form-control" maxlength="10" placeholder="Valor cargue" ng-model="Modal.ValorCargue" />
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label>Valor Descargue Transportador</label>
                <input type="text" style="text-align:right" ng-change="MaskValores();VerificarValorTransportador(Modal.ValorFleteTransportador,Modal.ValorCargue,Modal.ValorDescargue,2)" class="form-control" maxlength="10" placeholder="Valor descargue" ng-model="Modal.ValorDescargue" />
            </div>
        </div>-->
                                <div class="col-md-3 col-sm-4 col-xs-12" style="margin-top:15px">
                                    <div class="form-group">
                                        <label>Porcentaje Manejo</label>
                                        <input type="text" style="text-align:right" ng-change="Modal.PorcentajeSeguro=MaskDecimales(Modal.PorcentajeSeguro)" class="form-control" maxlength="10" placeholder="Porcentaje Manejo" ng-model="Modal.PorcentajeSeguro" />
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-4 col-xs-12" ng-show="Modal.LineaNegocioTransportes.Codigo == CODIGO_LINEA_NEGOCIO_TRANSPORTE_PAQUETERIA" style="margin-top:15px">
                                    <div class="form-group">
                                        <label>Reexpedición</label>
                                        <br />
                                        <input type="checkbox" ng-model="Modal.Reexpedicion">
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12" ng-show="Modal.LineaNegocioTransportes.Codigo == CODIGO_LINEA_NEGOCIO_TRANSPORTE_PAQUETERIA">
                                    <div class="form-group" style="margin-top: 15px">
                                        <label>Porcentaje Reexpedición</label>
                                        <input type="text" style="text-align:right" ng-change="Modal.PorcentajeAfiliado = MaskPorcentaje(Modal.PorcentajeAfiliado,Modal.PorcentajeAfiliado)" class="form-control" maxlength="10" placeholder="Porcentaje Reexpedición" ng-model="Modal.PorcentajeAfiliado" />
                                    </div>
                                </div>

                                <br />
                                <br />
                                <br />
                                <br />
                            </div>


                            <!--<div class="col-md-3 col-sm-6 col-xs-12" ng-show="Modal.LineaNegocioTransportes.Codigo == CODIGO_LINEA_NEGOCIO_TRANSPORTE_PAQUETERIA">
        <div class="form-group">
            <label>Acarreo Local</label>
            <input type="text" style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="10" placeholder="Valor Acarreo Local" ng-model="Modal.ValorCargue" />
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12" ng-show="Modal.LineaNegocioTransportes.Codigo == CODIGO_LINEA_NEGOCIO_TRANSPORTE_PAQUETERIA">
        <div class="form-group">
            <label>Acarreo Destino</label>
            <input type="text" style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="10" placeholder="Valor Acarreo Destino" ng-model="Modal.ValorDescargue" />
        </div>
    </div>-->

                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Tiempo Entrega</label>
                                    <input type="number" style="text-align:right" ng-change="Modal.TiempoEntrega=MaskNumeroGrid(Modal.TiempoEntrega)" class="form-control" maxlength="3" placeholder="Días para entrega" ng-model="Modal.TiempoEntrega" />
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFechVinc">Fecha Inicio Vigencia</label>
                                    <input name="txtFechVinc" type="date" class="form-control" ng-model="Modal.FechaInicioVigencia">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFechVinc">Fecha Fin Vigencia</label>
                                    <input name="txtFechVinc" type="date" class="form-control" ng-model="Modal.FechaFinVigencia">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Estado</label>
                                    <select name="cmbEstado" class="form-control" ng-model="Modal.Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="Seccionpaqueteria">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Minimo Kg Cobro</label>
                                    <input type="text" ng-change="MaskMoneda()" class="form-control" maxlength="9" placeholder="Minimo Kg Cobro" ng-model="Modal.MinimoKgCobro" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Maximo Kg Cobro</label>
                                    <input type="text" ng-change="MaskMoneda()" class="form-control" maxlength="9" placeholder="Maximo Kg Cobro" ng-model="Modal.MaximoKgCobro" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Valor Kg Adicional</label>
                                    <input type="text" style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="8" placeholder="Valor Kg Adicional" ng-model="Modal.ValorKgAdicional" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Valor Manejo</label>
                                    <input type="text" style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="8" placeholder="Valor Manejo" ng-model="Modal.ValorManejo" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12" ng-show="Modal.LineaNegocioTransportes.Codigo == CODIGO_LINEA_NEGOCIO_TRANSPORTE_PAQUETERIA">
                                <div class="form-group">
                                    <label>Porcentaje Manejo</label>
                                    <input type="text" ng-change="MaskNumero()" class="form-control" maxlength="2" placeholder="Porcentaje Manejo" ng-model="Modal.PorcentajeManejo" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Manejo Mínimo Paquetería</label>
                                    <input type="text" style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="8" placeholder="Minimo Valor Manejo" ng-model="Modal.MinimoValorManejo" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Valor Seguro</label>
                                    <input type="text" style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="8" placeholder="Valor Seguro" ng-model="Modal.ValorSeguro" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Porcentaje Seguro</label>
                                    <input type="text" ng-change="MaskValores()" maxlength="5" class="form-control" placeholder="Porcentaje Seguro" ng-model="Modal.PorcentajeSeguro" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Manejo Mínimo Mensajería</label>
                                    <input type="text" style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="8" placeholder="Minimo Valor Seguro" ng-model="Modal.MinimoValorSeguro" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Flete Mínimo</label>
                                    <input type="text" style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="8" placeholder="Flete Mínimo" ng-model="Modal.MinimoValorUnidad" />
                                </div>
                            </div>
                        </div>
                        <!--</div>
                        </div>-->
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="AgregarTarifa()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="ModalReplicarVIgencia" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Desea replicar la vigencia a las tarifas?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ReplicarVigencias()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>