﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">

                    <div class="col-md-2 col-sm-2 col-xs-12" ng-show="NumeroTarifario > 0">
                        <div class="form-group">
                            <label for="fecha">Número</label>
                            <span class="form-control">{{NumeroTarifario}}</span>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" name="txtNombre" ng-change="MaskMayus()" class="form-control" maxlength="40" placeholder="Nombre" ng-model="Modelo.Nombre" ng-disabled="DeshabilitarCampos" ng-blur="VerificarExistencia()" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechVinc">Fecha Inicio</label>
                            <input name="txtFechVinc" type="date" class="form-control" ng-model="Modelo.FechaInicio" ng-blur="MostrarReplicar()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechVinc">Fecha Fin</label>
                            <input name="txtFechVinc" type="date" class="form-control" ng-model="Modelo.FechaFin" ng-blur="MostrarReplicar()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="Modelo.Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <input ng-disabled="habilitarTarifarioBase" type="checkbox" ng-model="Modelo.TarifarioBase"> Tarifario Base
                    </div>
                </div>
                <div class="row">
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" title="Nuevo" ng-click="NuevaTarifa()">
                            Tarifa
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>

                </div>

                <br>
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Filtros</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12" ng-show="AplicaPaqueteria">
                                <label>Línea Negocio</label>
                                <select name="cmbTipoDueno" class="form-control" ng-model="LineaNegocio" ng-options="i.Nombre for i in ListadoLineaNegocioTransportes | orderBy: 'Nombre'"></select>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <label>Tipo Línea Negocio</label>
                                <select name="cmbTipoDueno" ng-disabled="HabilitarLineaNegocioFiltrosGeneral" class="form-control" ng-model="TipoLineaNegocio" ng-options="i.Nombre for i in ListadoTipoLineaNegocioTransportesFiltrosGeneral | orderBy:'Nombre'" ng-change="FiltrarRutasFiltrosGeneral();CargarTarifaFiltrosGeneral(TipoLineaNegocio.Codigo)"></select>
                            </div>
                            <!--Ruta-->
                            <div class="col-md-6 col-sm-12 col-xs-12" ng-show="HabilitarRutaFiltrosGeneral == true">
                                <div class="form-group">
                                    <label>Ruta</label>
                                    <input type="text" class="form-control" placeholder="Seleccione una Ruta" ng-model="FiltroRuta" uib-typeahead="Ruta as Ruta.Nombre for Ruta in ListadoRutasFiltrosGeneral| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="FiltroRuta=VerificarAutocomplete(FiltroRuta)">
                                </div>
                            </div>
                            <!--Ciudad Origen-->
                            <div class="col-md-3 col-sm-6 col-xs-12" ng-show="HabilitarRutaFiltrosGeneral == false">
                                <div class="form-group">
                                    <label for="Ciudad">Ciudad Origen </label>
                                    <input type="text" class="form-control" name="Ciudad" maxlength="50" id="ModeloCiudad" placeholder="Ingrese una Ciudad Origen" ng-model="CiudadOrigen"
                                           uib-typeahead="i as i.Nombre for i in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5 | orderBy:'Nombre'" ng-required="false" ng-blur="CiudadOrigen=VerificarAutocomplete(CiudadOrigen)">
                                </div>
                            </div>
                            <!--Ciudad Destino-->
                            <div class="col-md-3 col-sm-6 col-xs-12" ng-show="HabilitarRutaFiltrosGeneral == false">
                                <div class="form-group">
                                    <label for="CiudadDestino">Ciudad Destino</label>
                                    <input type="text" class="form-control" name="CiudadDestino" maxlength="50" id="ModeloCiudadDestino" placeholder="Ingrese una Ciudad Destino" ng-model="CiudadDestino"
                                           uib-typeahead="i as i.Nombre for i in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5 | orderBy:'Nombre'" ng-required="false" ng-blur="CiudadDestino=VerificarAutocomplete(CiudadDestino)">
                                </div>
                            </div>
                            <!--Tarifa-->
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <label>Tarifa</label>
                                <select name="cmbTipoDueno" class="form-control" ng-model="Tarifa" ng-options="i.Nombre for i in ListadoTarifaTransportesFiltrado | orderBy:'Nombre'" ng-change="CargarTipoTarifaFiltrosGeneral(Tarifa.Codigo) "></select>
                            </div>

                            <!--Tipo Tarifa-->
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <label>Tipo Tarifa</label>
                                <select name="cmbTipoDueno" class="form-control" ng-model="TipoTarifa" ng-options="i.Nombre for i in ListadoTipoTarifaTransportesFiltrado | orderBy:'Nombre'"></select>
                            </div>

                            <!--Forma Pago-->
                            <div class="col-md-3 col-sm-6 col-xs-12" ng-show="HabilitarFormaPagoFiltrosGeneral == true">
                                <label>Forma Pago</label>
                                <select name="cmbTipoDueno" class="form-control" ng-model="FormaPago" ng-options="i.Nombre for i in ListaFormaPagoVentas | orderBy: 'Nombre'"></select>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <br />
                                    <button type="button" class="btn btn-primary" title="Filtrar tarifarios" ng-click="FiltrarTarifarioPaqueteria()" ng-disabled="HabilitarBotonesFiltros">
                                        Filtrar
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                    <button type="button" class="btn btn-primary" title="Reinicia consulta" ng-click="LimpiarFiltrosGeneral()" ng-disabled="HabilitarBotonesFiltros">
                                        Limpiar
                                        <span class="glyphicon glyphicon-refresh"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="max-width:100%" ng-if="ListadoTarifas.length > 0 && verData">

                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Tarifas</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>

                        <div class="box-body" style="overflow-x: scroll">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm display nowrap dataTable dtr-inline">

                                <thead>
                                    <tr>
                                        <th class="btn-link" style="cursor:pointer">Tipo Línea Negocio</th>
                                        <th class="btn-link" style="cursor:pointer">Ruta</th>
                                        <th class="btn-link" style="cursor:pointer">Tarifa</th>
                                        <th class="btn-link" style="cursor:pointer">Tipo Tarifa</th>
                                        <th class="btn-link" style="cursor:pointer">Valor Flete</th>
                                        <!--<th ng-click="OrdenarPor(item1.Data,'ValorFlete')" class="btn-link" style="cursor:pointer" ng-show="Sesion.UsuarioAutenticado.ManejoPorcentajeAfiliado">Porcentaje Afiliado</th>-->
                                        <th ng-if="ListadoTarifas[0].LineaNegocioTransportes.Codigo == 1" ng-show="!(ListadoTarifas[0].TipoLineaNegocioTransportes.Nombre.toUpperCase() == 'Urbana'.toUpperCase() || ListadoTarifas[0].TipoLineaNegocioTransportes.Nombre.toUpperCase() == 'Urbano'.toUpperCase())" class="btn-link" style="cursor:pointer">Valor Escolta</th>
                                        <th ng-if="ListadoTarifas[0].Codigo == 1" ng-show="(ListadoTarifas[0].TipoLineaNegocioTransportes.Nombre.toUpperCase() == 'Urbana'.toUpperCase() || ListadoTarifas[0].TipoLineaNegocioTransportes.Nombre.toUpperCase() == 'Urbano'.toUpperCase())" class="btn-link" style="cursor:pointer">Valor Auxiliar</th>
                                        <th class="btn-link" style="cursor:pointer">Fecha Inicio Vigencia</th>
                                        <th class="btn-link" style="cursor:pointer">Fecha Fin Vigencia</th>
                                        <th class="btn-link" style="cursor:pointer">Estado</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="item in ListadoTarifas | orderBy:'Ruta.Nombre' ">
                                        <td ng-show="item.Mostrar == true">{{item.TipoLineaNegocioTransportes.Nombre}}</td>
                                        <td ng-show="item.Mostrar == true">{{item.Ruta.Nombre}}</td>
                                        <td ng-show="item.Mostrar == true">{{item.TarifaTransportes.Nombre}}</td>
                                        <td ng-show="item.Mostrar == true">{{item.TipoTarifaTransportes.Nombre}}</td>
                                        <td align="right" ng-show="item.Mostrar == true">
                                            <div ng-if="item.editable !== true">{{item.ValorFlete}}</div>
                                            <input type="text" class="form-control" maxlength="10" ng-change="item.ValorFlete = MaskValoresGrid(item.ValorFlete)" ng-if="item.editable == true" ng-model="item.ValorFlete" />
                                        </td>

                                        <td align="right" ng-if="item.LineaNegocioTransportes.Codigo == 1" ng-show="item.Mostrar == true">
                                            <div ng-if="item.editable !== true">{{item.ValorEscolta}}</div>
                                            <input type="text" class="form-control" maxlength="10" ng-change="item.ValorEscolta = MaskValoresGrid(item.ValorEscolta)" ng-if="item.editable == true" ng-model="item.ValorEscolta" />
                                        </td>
                                        <td ng-show="item.Mostrar == true">
                                            <div ng-if="item.editable !== true">{{item.FechaInicioVigencia  | date:'dd/MM/yyyy' }}</div>
                                            <input ng-if="item.editable == true" name="txtFechVinc" type="date" class="form-control" ng-model="item.FechaInicioVigencia">
                                        </td>
                                        <td ng-show="item.Mostrar == true">
                                            <div ng-if="item.editable !== true">{{item.FechaFinVigencia | date:'dd/MM/yyyy'}}</div>
                                            <input ng-if="item.editable == true" name="txtFechVinc" type="date" class="form-control" ng-model="item.FechaFinVigencia">
                                        </td>
                                        <td style="min-width:90px" ng-show="item.Mostrar == true">
                                            <div ng-if="item.editable !== true">{{item.Estado.Nombre}}</div>
                                            <select name="cmbEstado" class="form-control" ng-if="item.editable == true" ng-model="item.Estado" ng-options="i.Nombre for i in ListadoEstados" ng-change="item.editableEstado = false;AsignarValor(item)"></select>
                                        </td>
                                        <td style="display:inline-flex" ng-show="item.Mostrar == true">
                                            <button class="button mini-button btn-danger" ng-if="item.editable != true && (item.Codigo == 0 || item.Codigo == undefined)" title="Eliminar" ng-click="EliminarTarifa(item,$index,item1.Data)" ng-disabled="DeshabilitarEliminarAnular">
                                                <span class="fas fa-trash-alt"></span>
                                            </button>
                                            <button ng-if="item.editable != true" class="button mini-button btn-primary" title="Editar" ng-click="item.editable = true;item.temValorFlete = item.ValorFlete;item.FechaInicioVigencia = Date(item.FechaInicioVigencia);item.FechaFinVigencia = Date(item.FechaFinVigencia);item.temItem = CopyItem(item)">
                                                <span class="far fa-edit"></span>
                                            </button>
                                            <button ng-if="item.editable == true && !(item.FechaInicioVigencia > item.FechaFinVigencia || item.FechaInicioVigencia == undefined || item.FechaInicioVigencia == null || item.FechaFinVigencia == undefined || item.FechaFinVigencia == null)" class="button mini-button btn-success" title="Guardar" ng-click="item.editable = false;AsignarValor(item);item.ValorFlete = ValidarFlete(item)">
                                                <span class="fa fa-check"></span>
                                            </button>
                                            <button ng-if="item.editable == true && (item.FechaInicioVigencia > item.FechaFinVigencia || item.FechaInicioVigencia == undefined || item.FechaInicioVigencia == null || item.FechaFinVigencia == undefined || item.FechaFinVigencia == null)" class="button mini-button btn-success" title="Guardar" onclick="ShowError('Por favor diligencie las fechas correctamente')">
                                                <span class="fa fa-check"></span>
                                            </button>
                                            <button ng-show="item.editable == true" class="button mini-button btn-warning " title="Cancelar" ng-click="item = CopyItem(item.temItem);item.editable = false">
                                                <span class="fa fa-times"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modalConfirmacionEliminar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar la tarifa?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmarEliminarTarifa()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="ModalNuevaTarifa" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">


                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title ng-binding">Nueva Tarifa</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="alert alert-danger" role="alert" ng-if="MensajesErrorModal.length > 0">
                                    <ul>
                                        <li ng-repeat="error in MensajesErrorModal">
                                            <span>{{error}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-xs-12" ng-show="AplicaPaqueteria">
                                        <label>Línea Negocio</label>
                                        <select name="cmbTipoDueno" class="form-control" ng-model="Modal.LineaNegocioTransportes" ng-options="i.Nombre for i in ListadoLineaNegocioTransportesFiltrado" ng-change="CargarTipoLinea(Modal.LineaNegocioTransportes.Codigo)"></select>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <label>Tipo Línea Negocio</label>
                                        <select name="cmbTipoDueno" ng-disabled="HabilitarLineaNegocio" class="form-control" ng-model="Modal.TipoLineaNegocioTransportes" ng-options="i.Nombre for i in ListadoTipoLineaNegocioTransportesFiltrado" ng-change="FiltrarRutas();CargarTarifa(Modal.TipoLineaNegocioTransportes.Codigo)"></select>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <label>Tarifa</label>
                                        <select name="cmbTipoDueno" ng-disabled="HabilitarTipoLineaNegocio" class="form-control" ng-model="Modal.TarifaTransportes" ng-options="i.Nombre for i in ListadoTarifaTransportesFiltrado" ng-change="CargarTipoTarifa(Modal.TarifaTransportes.Codigo) "></select>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <label>Tipo Tarifa</label>
                                        <select name="cmbTipoDueno" ng-disabled="HabilitarTipoTarifa" class="form-control" ng-model="Modal.TipoTarifaTransportes" ng-options="i.Nombre for i in ListadoTipoTarifaTransportesFiltrado"></select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Ruta</label>
                                            <input maxlength="60" type="text" class="form-control" placeholder="Seleccione una Ruta" ng-model="Modal.Ruta" uib-typeahead="Ruta as Ruta.Nombre for Ruta in ListadoRutasFiltrado| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modal.Ruta=VerificarAutocomplete(Modal.Ruta)">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor Flete</label>
                                            <input type="text" style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="10" placeholder="Valor Flete" ng-model="Modal.ValorFlete" />
                                        </div>
                                    </div>
                                    <!--<div class="col-md-3 col-sm-6 col-xs-12" ng-show="Sesion.UsuarioAutenticado.ManejoPorcentajeAfiliado">
                                        <div class="form-group">
                                            <label>Porcentaje Afiliado</label>
                                            <input type="text" style="text-align:right" ng-change="MaskNumero()" class="form-control" maxlength="10" placeholder="" ng-model="Modal.PorcentajeAfiliado" />
                                        </div>
                                    </div>-->
                                    <div class="col-md-3 col-sm-6 col-xs-12" ng-if="Modal.LineaNegocioTransportes.Codigo == 1 &&  !(Modal.TipoLineaNegocioTransportes.Nombre.toUpperCase() == 'Urbana'.toUpperCase() || Modal.TipoLineaNegocioTransportes.Nombre.toUpperCase() == 'Urbano'.toUpperCase())">
                                        <div class="form-group">
                                            <label>Valor Escolta</label>
                                            <input type="text" style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="10" placeholder="Valor Escolta" ng-model="Modal.ValorEscolta" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12" ng-if="Modal.LineaNegocioTransportes.Codigo == 1 &&  (Modal.TipoLineaNegocioTransportes.Nombre.toUpperCase() == 'Urbana'.toUpperCase() || Modal.TipoLineaNegocioTransportes.Nombre.toUpperCase() == 'Urbano'.toUpperCase())">
                                        <div class="form-group">
                                            <label>Valor Auxiliar</label>
                                            <input type="text" style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="10" placeholder="Valor Auxiliar" ng-model="Modal.ValorEscolta" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblFechVinc">Fecha Inicio Vigencia</label>
                                            <input name="txtFechVinc" type="date" class="form-control" ng-model="Modal.FechaInicioVigencia">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblFechVinc">Fecha Fin Vigencia</label>
                                            <input name="txtFechVinc" type="date" class="form-control" ng-model="Modal.FechaFinVigencia">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Estado</label>
                                            <select name="cmbEstado" class="form-control" ng-model="Modal.Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="AgregarTarifa()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="ModalReplicarVIgencia" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Desea replicar la vigencia a las tarifas?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ReplicarVigencias()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>