﻿<div ng-controller="DocumentosTercerosCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form name="myform">
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario" ng-show="Modelo.Codigo > 0">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="">
                    <div>
                        <div>
                            <div class="row ">
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblTipoNatu">Tipo Naturaleza</label>
                                        <input ng-change="AsignarTipoIdentificacion()" name="cmbTipoNatu" class="form-control" ng-model="Modelo.TipoNaturaleza.Nombre" ng-disabled="Deshabilitar" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblTipoIden">Tipo Identificación</label>
                                        <input name="cmbTipoIden" class="form-control" ng-model="Modelo.TipoIdentificacion.Nombre" ng-disabled="Deshabilitar" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblNumeIden">No. Identificación</label>
                                        <input ng-change="MaskNumero()" name="txtNumeIden" type="text" maxlength="15" class="form-control" ng-model="Modelo.NumeroIdentificacion" ng-disabled="Deshabilitar" ng-blur="verificarExistencia()">
                                    </div>
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-2" ng-show="Juridica">
                                    <div class="form-group">
                                        <label>Dígito</label>
                                        <input ng-change="MaskNumero()" maxlength="1" cname="txtDigiCheq" class="form-control" ng-model="Modelo.DigitoChequeo">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="CiudadOrigen">Ciudad Expedición</label>
                                        <input type="text" class="form-control" name="CiudadOrigen" maxlength="50" id="ModeloCiudadOrigen"
                                               ng-model="Modelo.CiudadExpedicionIdentificacion"
                                               uib-typeahead="i as i.NombreCompleto for i in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5 | orderBy:'Nombre'"
                                               ng-required="false" ng-blur="Modelo.CiudadExpedicionIdentificacion=VerificarAutocomplete(Modelo.CiudadExpedicionIdentificacion)" autocomplete="off" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="Juridica">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Razón Social</label>
                                        <input ng-change="MaskMayus()" ng-blur="AsignarNombre()" name="txtRazoSoci" type="text" class="form-control" ng-model="Modelo.RazonSocial" maxlength="100" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Representante Legal</label>
                                        <input ng-change="MaskMayus()" type="text" class="form-control" ng-model="Modelo.RepresentanteLegal" maxlength="100" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="Natural">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input ng-change="MaskMayus()" ng-blur="AsignarNombre()" name="txtNombre" type="text" maxlength="100" class="form-control" ng-model="Modelo.Nombre" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Apellido 1</label>
                                        <input ng-change="MaskMayus()" ng-blur="AsignarNombre()" name="txtApellido1" type="text" maxlength="50" class="form-control" ng-model="Modelo.PrimeroApellido" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Apellido 2</label>
                                        <input ng-change="MaskMayus()" ng-blur="AsignarNombre()" name="txtApellido2" type="text" maxlength="50" class="form-control" ng-model="Modelo.SegundoApellido" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Sexo</label>
                                        <input name="cmbSexo" class="form-control" ng-model="Modelo.Sexo.Nombre" disabled />
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="CiudadOrigen">Ciudad Nacimiento</label>
                                        <input type="text" class="form-control" name="CiudadOrigen" maxlength="50" id="ModeloCiudadOrigen"
                                               ng-model="Modelo.CiudadNacimiento"
                                               uib-typeahead="i as i.NombreCompleto for i in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5 | orderBy:'Nombre'"
                                               ng-required="false" ng-blur="Modelo.CiudadNacimiento=VerificarAutocomplete(Modelo.CiudadNacimiento) " autocomplete="off" disabled>
                                    </div>
                                </div>
                            </div>


                            <div class="box box-default box-solid collapsed-box" ng-show="btnconductor">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Datos Conductor</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse" ng-click="MostrarOcultarSeccionConductor()"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">

                                    <div class="row">
                                        <div class="col-md-3 col-sm-2 col-xs-12">
                                            <div class="form-group">
                                                <label>
                                                    <input type="checkbox" ng-model="Modelo.Conductor.Propio" ng-checked="Modelo.Conductor.Propio" disabled> Conductor Propio
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="form-group">
                                                <label for="cmbTipoCont">Tipo Contrato</label>
                                                <input name="cmbTipoCont" class="form-control" ng-model="Modelo.Conductor.TipoContrato.Nombre" disabled />

                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="form-group">
                                                <label>Número Licencia</label>
                                                <input ng-change="MaskNumero()" name="txtNumeLice" type="text" maxlength="15" class="form-control" ng-model="Modelo.Conductor.NumeroLicencia" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="form-group">
                                                <label for="lblFechVinc">Fecha Vencimiento</label>
                                                <input name="txtFechVinc" type="date" class="form-control" ng-model="Modelo.Conductor.FechaVencimiento" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="form-group">
                                                <label>Categoria</label>
                                                <input name="cmbTipoSang" class="form-control" ng-model="Modelo.Conductor.CategoriaLicencia.Nombre" disabled />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="form-group">
                                                <label>Tipo Sangre</label>
                                                <input name="cmbTipoSang" class="form-control" ng-model="Modelo.Conductor.TipoSangre.Nombre" disabled />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="box box-default box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Documentos</h3>
                                    <div class="box-tools pull-right">
                                        <!--<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>-->
                                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Documento</th>
                                                    <th>Referencia</th>
                                                    <th>Emisor</th>
                                                    <th>Fecha Emisión</th>
                                                    <th>Fecha Vencimiento</th>
                                                    <th>Opciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ListadoDocumentos">
                                                    <td style="background-color: yellow" ng-show="item.FechaVence  >  MIN_DATE && ACT_DATE  > item.FechaVence && item.FechaVence  != ''">
                                                        {{item.Documento.Nombre}}
                                                    </td>
                                                    <td ng-show="!(item.FechaVence  >  MIN_DATE && ACT_DATE  > item.FechaVence  && item.FechaVence  != '')">
                                                        {{item.Documento.Nombre}}
                                                    </td>
                                                    <td style="background-color: yellow" ng-show="item.FechaVence  >  MIN_DATE && ACT_DATE  > item.FechaVence && item.FechaVence  != ''">
                                                        <input disabled ng-change="MaskMayus()" ng-if="item.AplicaReferencia > 0" type="text" class="form-control" ng-model="item.Referencia" maxlength="50" placeholder="Ingrese una referencia" />
                                                    </td>
                                                    <td ng-show="!(item.FechaVence  >  MIN_DATE && ACT_DATE  > item.FechaVence  && item.FechaVence  != '')">
                                                        <input disabled ng-change="MaskMayus()" ng-if="item.AplicaReferencia > 0" type="text" class="form-control" ng-model="item.Referencia" maxlength="50" placeholder="Ingrese una referencia" />
                                                    </td>
                                                    <td style="background-color: yellow" ng-show="item.FechaVence  >  MIN_DATE && ACT_DATE  > item.FechaVence && item.FechaVence  != ''">
                                                        <input ng-change="MaskMayus()" ng-if="item.AplicaEmisor > 0" maxlength="60" type="text" class="form-control" name="propietario" id="propietario" ng-model="item.Emisor" disabled>
                                                    </td>
                                                    <td ng-show="!(item.FechaVence  >  MIN_DATE && ACT_DATE  > item.FechaVence  && item.FechaVence  != '')">
                                                        <input ng-change="MaskMayus()" ng-if="item.AplicaEmisor > 0" maxlength="60" type="text" class="form-control" name="propietario" id="propietario" ng-model="item.Emisor" disabled>
                                                    </td>
                                                    <td style="background-color: yellow" ng-show="item.FechaVence  >  MIN_DATE && ACT_DATE  > item.FechaVence && item.FechaVence  != ''">
                                                        <input disabled type="date" class="form-control" ng-if="item.AplicaFechaEmision > 0" ng-model="item.FechaEmision" id="FechaEmision" />
                                                    </td>
                                                    <td ng-show="!(item.FechaVence  >  MIN_DATE && ACT_DATE  > item.FechaVence  && item.FechaVence  != '')">
                                                        <input disabled type="date" class="form-control" ng-if="item.AplicaFechaEmision > 0" ng-model="item.FechaEmision" id="FechaEmision" />
                                                    </td>
                                                    <td style="background-color: yellow" ng-show="item.FechaVence  >  MIN_DATE && ACT_DATE  > item.FechaVence && item.FechaVence  != ''">
                                                        <input disabled type="date" class="form-control" ng-if="item.AplicaFechaVencimiento > 0" ng-model="item.FechaVence" id="FechaVence" />
                                                    </td>
                                                    <td ng-show="!(item.FechaVence  >  MIN_DATE && ACT_DATE  > item.FechaVence  && item.FechaVence  != '')">
                                                        <input disabled type="date" class="form-control" ng-if="item.AplicaFechaVencimiento > 0" ng-model="item.FechaVence" id="FechaVence" />
                                                    </td>
                                                    <td style="background-color: yellow" ng-show="item.FechaVence  >  MIN_DATE && ACT_DATE  > item.FechaVence && item.FechaVence  != ''">
                                                        <button ng-if="item.ValorDocumento == 1 && item.AplicaDescargar > 0" class="button mini-button btn-success" data-toggle="tooltip" title="Ver Archivo" ng-click="DesplegarArchivo(item)">
                                                            <span class="fa fa-file"></span>
                                                        </button>
                                                        <button ng-if="(item.ValorDocumento == 0 || item.ValorDocumento == Undefined) && item.AplicaDescargar > 0" class="button mini-button primary" disabled>
                                                            <span class="fa fa-file"></span>
                                                        </button>
                                                    </td>
                                                    <td ng-show="!(item.FechaVence  >  MIN_DATE && ACT_DATE  > item.FechaVence  && item.FechaVence  != '')">
                                                        <button ng-if="item.ValorDocumento == 1 && item.AplicaDescargar > 0" class="button mini-button btn-success" data-toggle="tooltip" title="Ver Archivo" ng-click="DesplegarArchivo(item)">
                                                            <span class="fa fa-file"></span>
                                                        </button>
                                                        <button ng-if="(item.ValorDocumento == 0 || item.ValorDocumento == Undefined) && item.AplicaDescargar > 0" class="button mini-button primary" disabled>
                                                            <span class="fa fa-file"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                            <div class="box box-default box-solid collapsed-box">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Localización</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label for="Cuenta">Pais</label>
                                                <input type="text" class="form-control" name="Ciudad Cargue" maxlength="50" id="ModeloCiudadCargue" ng-model="Modelo.Pais"
                                                       uib-typeahead="i as i.Nombre for i in ListadoPaises| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.Pais=VerificarAutocomplete(Modelo.Pais)" disabled>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label for="CiudadOrigen">Ciudad</label>
                                                <input type="text" class="form-control" name="CiudadOrigen" maxlength="50" id="txtCiudad"
                                                       ng-model="Modelo.Ciudad"
                                                       uib-typeahead="i as i.NombreCompleto for i in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5 | orderBy:'Nombre'"
                                                       ng-required="false" ng-blur="Modelo.Ciudad=VerificarAutocomplete(Modelo.Ciudad) " autocomplete="off" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <label>Barrio</label>
                                                <input ng-change="MaskMayus()" name="txtBarrio" type="text" maxlength="150" class="form-control" ng-model="Modelo.Barrio" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <label>Dirección</label>
                                                <input ng-change="MaskMayus()" name="txtDireccion" type="text" maxlength="150" class="form-control" ng-model="Modelo.Direccion" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <div class="form-group">
                                                <label>Código Postal</label>
                                                <input ng-change="MaskNumero()" type="text" maxlength="8" class="form-control" ng-model="Modelo.CodigoPostal" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <div class="form-group">
                                                <label>Teléfono 1</label>
                                                <input ng-change="MaskNumero()" type="text" maxlength="15" class="form-control" ng-model="Telefono" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <div class="form-group">
                                                <label>Teléfono 2</label>
                                                <input ng-change="MaskNumero()" type="text" maxlength="15" class="form-control" ng-model="Telefono2" disabled>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="form-group">
                                                <label>Celular</label>
                                                <div class="input-group">
                                                    <input ng-change="MaskCelular()" name="txtCelular" type="text" maxlength="33" class="form-control" ng-model="Modelo.Celular" disabled>
                                                    <span class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="Para el ingreso de 2 números de celular sepárelos con guion después del décimo dígito"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label>E-mail</label>
                                                <input name="txtEmail" type="text" class="form-control" maxlength="100" ng-model="Modelo.Correo" ng-pattern="/^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,3})$/" disabled>
                                                <small class="errorField" ng-show="myform.txtEmail.$error.pattern">
                                                    Por favor verifique el formato del correo.
                                                </small>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="box box-default box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Estado </h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="form-group">
                                                <label for="lblBanco">Estado</label>
                                                <input name="cmbEstado" ng-change="AsignarJustificacionBloqueo(Modelo.Estado.Codigo)" class="form-control" ng-model="Modelo.Estado.Nombre" />
                                            </div>
                                        </div>

                                        <div class="col-md-9 col-sm-9 col-xs-12" id="JustificacionBloqueo">
                                            <div class="form-group">
                                                <label>Justificación Inactividad</label>
                                                <input name="txtJustBloq" type="text" class="form-control" ng-model="Modelo.JustificacionBloqueo" ng-change="MaskMayus()" maxlength="150">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <div class="SeccionFiltros-Formulario" ng-show="Modelo.Codigo == 0">
                <div class="alert alert-danger" role="alert">
                    <ul>
                        <li>
                            <span>No se encontro un conductor asociado al usuario actual</span>
                        </li>
                    </ul>
                </div>

            </div>
        </form>
    </div>

    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <!-- Modal Confirmación Guardar Cuenta -->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>
                    <div class="modal-footer">

                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmación Eliminar Documento  -->
    <div class="modal fade" id="modalConfirmacionEliminarDocumento" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p id="mensajearchivo"></p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="BorrarDocumento()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal remplazar Eliminar Documento  -->
    <div class="modal fade" id="modalConfirmacionRemplazarDocumento" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>Ya hay un documento asignado ¿Desea remplazarlo?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="RemplazarDocumento()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmación Eliminar Documento  -->
    <div class="modal fade" id="modalConfirmacionEliminarDocumento" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p id="mensajearchivo"></p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="BorrarDocumento()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmación Eliminar Sitio  -->
    <div class="modal fade" id="modalConfirmacionEliminar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar el sitio {{tempNombre}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmarEliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <canvas id="CanvasVertical" width="500" height="700" style="display:none">
        Accede a este script con un navegador que acepte canvas del HTML 5
    </canvas>
    <canvas id="CanvasHorizontal" width="700" height="500" style="display:none">
        Accede a este script con un navegador que acepte canvas del HTML 5
    </canvas>
</div>