﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-5 col-xs-12">
                        <div class="form-group">
                            <label>Código </label>
                            <input ng-change="MaskMayus()" placeholder="Ingrese una referencia" name="Referencia" type="text" maxlength="30" ng-disabled="Deshabilitar" class="form-control" ng-model="Modelo.CodigoReferencia">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-5 col-xs-12">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input ng-change="MaskMayus()" placeholder="Ingrese un nombre" name="Nombre" type="text" maxlength="50" class="form-control" ng-model="Modelo.Nombre" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="unidadmedida">Unidad Medida</label>
                            <select name="unidadmedida" class="form-control" ng-model="Modelo.UnidadMedida" ng-options="i.Nombre for i in ListadoUnidadMedida" ng-disabled="Deshabilitar"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="unidadempaque">Unidad Empaque</label>
                            <select name="unidadempaque" class="form-control" ng-model="Modelo.UnidadEmpaque" ng-options="i.Nombre for i in ListadoUnidadEmpaques" ng-disabled="Deshabilitar"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="grupo">Grupo</label>
                            <select name="grupo" class="form-control" ng-model="Modelo.GrupoReferencias" ng-options="i.Nombre for i in ListadoGrupoReferencias" ng-disabled="Deshabilitar"></select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-5 col-xs-12">
                        <div class="form-group">
                            <label>Marca</label>
                            <input ng-change="MaskMayus()" placeholder="Ingrese marca" name="marca" type="text" maxlength="50" class="form-control" ng-disabled="Deshabilitar" ng-model="Modelo.Marca">
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <div class="input-control text full-size" data-role="input">
                                <label for="descripciones">Descripción</label>
                                <input placeholder="Ingrese descripcion" class="form-control" maxlength="150" name="descripciones" ng-disabled="Deshabilitar" type="text" ng-model="Modelo.Descripcion">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Contabilidad</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="cuentapuc">Código Cuenta</label>
                                    <input type="text" class="form-control" name="txtcuentapuc" id="txtcuentapuc" maxlength="30" typeahead-no-results="myform.txtcuentapuc.$error.required" placeholder="Ingrese la cuenta PUC" ng-model="Modelo.CuentaPUC" uib-typeahead="CuentaPUC as CuentaPUC.Nombre for CuentaPUC in ListadoCuentasPUC | filter:$viewValue | limitTo: 5" ng-blur="AsignarCuentaPUC(Modelo.CuentaPUC)" autocomplete="off">
                                    <div ng-if="myform.txtcuentapuc.$error.required && LongitudCuentaPUC > 0">
                                        <i class="glyphicon glyphicon-remove"></i><small class="errorField">La cuenta ingresada no existe</small>
                                    </div>
                                </div>
                            </div>

                          
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>Porcentaje IVA</label>
                                    <input class=" form-control text-right" ng-change="MaskPorcentaje(Modelo.PorcentajeIva)" placeholder="Ingrese porcentaje iva" name="porcentajeiva" maxlength="{{MaxLength}}" class="form-control" ng-disabled="Deshabilitar" ng-model="Modelo.PorcentajeIva">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>

            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>