﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" name="txtNombre" ng-change="MaskMayus()" class="form-control" maxlength="40" placeholder="Nombre" ng-model="Modelo.Nombre" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Código Alterno</label>
                            <input type="text" name="txtCodiAlte" class="form-control" maxlength="20" placeholder="Código Alterno" ng-model="Modelo.CodigoAlterno" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Ciudad</label>
                            <input type="text" class="form-control" name="txtCiudad" id="txtCiudad" maxlength="30" typeahead-no-results="myform.txtCiudad.$error.required" placeholder="Ingrese le ciudad" ng-model="Modelo.Ciudad" ng-required="true" uib-typeahead="Ciudad as Ciudad.NombreCompleto for Ciudad in ListadoCiudades | filter:$viewValue | limitTo: 5" ng-blur="AsignarCiudad(Modelo.Ciudad)" autocomplete="off">
                            <div ng-if="myform.txtCiudad.$error.required && LongitudCiudad > 0">
                                <i class="glyphicon glyphicon-remove"></i><small class="errorField">La ciudad ingresada no existe</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Dirección</label>
                            <input type="text" name="txtNombre" ng-change="MaskDireccion()" class="form-control" maxlength="40" placeholder="Dirección" ng-model="Modelo.Direccion" />
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Teléfono</label>
                            <input type="text" name="txtNombre" ng-change="MaskTelefono()" class="form-control" maxlength="40" placeholder="Teléfono" ng-model="Modelo.Telefono" />
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Celular</label>
                            <input type="text" name="txtNombre" ng-change="MaskCelular()" class="form-control" maxlength="10" placeholder="Nombre" ng-model="Modelo.Celular" />
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Contacto</label>
                            <input type="text" name="txtNombre" class="form-control" maxlength="40" placeholder="Nombre" ng-model="Modelo.Contacto" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="cuentapuc">Cuenta PUC</label>
                            <input type="text" class="form-control" name="txtcuentapuc" id="txtcuentapuc" maxlength="30" typeahead-no-results="myform.txtcuentapuc.$error.required" placeholder="Ingrese la cuenta PUC" ng-model="Modelo.CuentaPUC" uib-typeahead="CuentaPUC as CuentaPUC.Nombre for CuentaPUC in ListadoCuentasPUC | filter:$viewValue | limitTo: 5" ng-blur="AsignarCuentaPUC(Modelo.CuentaPUC)" autocomplete="off">
                            <div ng-if="myform.txtcuentapuc.$error.required && LongitudCuentaPUC > 0">
                                <i class="glyphicon glyphicon-remove"></i><small class="errorField">La cuenta ingresada no existe</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina</label>
                            <select name="cmbOficina" class="form-control" ng-model="Modelo.Oficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                        </div>
                    </div>


                    <!--<div class="col-md-3 col-sm-4 col-xs-12">
        <div class="form-group">
            <label for="cuentapuc">Nombre Cuenta</label>
            <input type="text" name="txtNombreCuenta" ng-disabled="true" class="form-control" placeholder="" ng-model="NombreCuentaPUC" />
        </div>
    </div>-->

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>

                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>