﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Proveedor</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="Ingrese un Proveedor" ng-model="Modelo.Proveedor"
                                   typeahead-no-results="myform.txtproveedor.$error.required" uib-typeahead="Proveedor as Proveedor.NombreCompleto for Proveedor in ListadoProveedores| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="Modelo.Proveedor=VerificarAutocomplete(Modelo.Proveedor)">
                        </div>
                        <div ng-if="myform.txtproveedor.$error.required">
                            <i class="glyphicon glyphicon-remove"></i><small class="errorField">el proveedor ingresado no se encuentra en el sistema</small>
                        </div>
                    </div>
                    
                    <!--<div class="col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="referencia">Referencia</label>
            <select id="CmbReferencia" class="form-control" data-live-search="true" ng-disabled="DeshabilitarLlave" name="referencia" ng-model="Modelo.Referencia" ng-change="CarReferencia(Modelo.Referencia)" ng-options="Referencia as Referencia.CodigoReferencia for Referencia in ListadoReferencias | orderBy:'Nombre'" title="Seleccione una referencia"></select>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="NombreReferencia">Nombre Referencia</label>
            <select id="CmbNombreReferencia" class="form-control" data-live-search="true" ng-disabled="DeshabilitarLlave" name="NombreReferencia" ng-model="Modelo.NombreReferencia" ng-change="CarNombreReferencia(Modelo.NombreReferencia)" ng-options="Referencia as Referencia.Nombre for Referencia in ListadoReferencias | orderBy:'Nombre'" title="Seleccione el nombre de la referencia"></select>
        </div>
    </div>-->
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Referencia</label>
                            <input type="text" class="form-control" maxlength="30" placeholder="Ingrese una referencia" ng-model="Modelo.NombreReferencia" uib-typeahead="Referencia as Referencia.Nombre for Referencia in ListadoReferencias  | filter:$viewValue | limitTo: 5" ng-blur="VerificarAutocomplete(Modelo.NombreReferencia); CarReferencia(Modelo.NombreReferencia)" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-5 col-xs-12">
                        <div class="form-group">
                            <label>Referencia Proveedor</label>
                            <input ng-change="MaskMayus()" placeholder="Ingrese una referencia proveedor" name="referencia provedor" type="text" maxlength="50" class="form-control" ng-disabled="Deshabilitar" ng-model="Modelo.ReferenciaProveedor">
                        </div>
                    </div>

                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>