﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Almacen">Almacén</label>
                            <select name="Almacen" class="form-control" ng-model="Modelo.Almacen" ng-disabled="DeshabilitarLlave" ng-options="i.Nombre for i in ListadoAlmacenes | orderBy: 'Nombre'"></select>
                        </div>
                    </div>

                    <!--<div class="col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="referencia">Referencia</label>
            <select id="CmbReferencia" class="form-control" data-live-search="true" ng-disabled="DeshabilitarLlave" name="referencia" ng-model="Modelo.Referencia" ng-change="CarReferencia(Modelo.Referencia)" ng-options="Referencia as Referencia.CodigoReferencia for Referencia in ListadoReferencias | orderBy:'Nombre'" title="Seleccione una referencia"></select>
        </div>
    </div>-->
                    <!--<div class="col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="NombreReferencia">Nombre Referencia</label>
            <select id="CmbNombreReferencia" class="form-control" ng-disabled="DeshabilitarLlave" name="NombreReferencia" ng-model="Modelo.NombreReferencia" ng-change="CarNombreReferencia(Modelo.NombreReferencia)" ng-options="Referencia as Referencia.Nombre for Referencia in ListadoReferencias | orderBy:'Nombre'" title="Seleccione el nombre de la referencia"></select>
        </div>
    </div>-->

                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Referencia</label>
                            <input type="text" class="form-control" maxlength="30" placeholder="Ingrese una Referencia" ng-model="Modelo.NombreReferencia" uib-typeahead="Referencia as Referencia.Nombre for Referencia in ListadoReferencias  | filter:$viewValue | limitTo: 5" ng-blur="VerificarAutocomplete(Modelo.NombreReferencia); CarReferencia(Modelo.NombreReferencia)" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="ubicacion">Ubicación</label>
                            <input name="ubicacion" id="ubicacion" type="text" maxlength="100" ng-disabled="Deshabilitar" class="form-control" ng-model="Modelo.UbicacionAlmacen">
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">EXISTENCIAS</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="minima"> Mínima</label>
                                        <input name="minima" style="text-align:right" type="text" class="form-control" ng-disabled="Deshabilitar" ng-model="Modelo.ExistenciaMinima" maxlength="10" id="minima" placeholder="Ingrese la cantidad de existencias mínimas" ng-change="MaskNumero(); MaskValores()">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="maxima">Máxima</label>
                                        <input name="maxima" style="text-align:right" type="text" class="form-control" ng-disabled="Deshabilitar" ng-model="Modelo.ExistenciaMaxima" maxlength="10" id="maxima" placeholder="Ingrese la cantidad de existencias máximas" ng-change="MaskNumero(); MaskValores()">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="actual">Actual</label>
                                        <input name="actual" style="text-align:right" type="text" class="form-control" ng-disabled="true" ng-model="Modelo.ExistenciaActual" maxlength="10" id="actual" ng-change="MaskNumero(); MaskValores()">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="ultimoprecio">Último Precio </label>
                                        <input name="ultimoprecio" style="text-align:right" type="text" class="form-control" ng-disabled="true" ng-model="Modelo.UltimoPrecio" maxlength="15" id="ultimoprecio" ng-change="MaskNumero(); MaskValores()">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="valorpromedio">Valor Promedio</label>
                                        <input name="valorpromedio" style="text-align:right" type="text" class="form-control" ng-disabled="true" ng-model="Modelo.ValorPromedio" maxlength="10" id="valorpromedio" ng-change="MaskNumero(); MaskValores()">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>