﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div id="infofactura">
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="almacen">Almacén</label>
                                    <select name="almacen" class="form-control" ng-model="Almacen" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoAlmacenes"></select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="filas">Filas</label>
                                    <input name="filas" type="text" class="form-control" ng-model="Filas" maxlength="2" placeholder="Ingrese la cantidad de filas" ng-blur="PintarVehiculo()">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="columnas">Columnas</label>
                                    <input name="columnas" type="text" class="form-control" ng-model="Columnas" maxlength="2" placeholder="Ingrese la cantidad de columnas" ng-blur="PintarAlmacen()">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="niveles">Niveles</label>
                                    <input name="niveles" type="text" class="form-control" ng-model="Niveles" maxlength="2" placeholder="Ingrese la cantidad de Niveles">
                                </div>
                            </div>
                            <div col-lg-3">
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="estado">Estado</label>
                                        <select name="estado" class="form-control" ng-model="ModalEstado" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoEstados"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box box-default box-solid" ng-show="HabilitarDistribucion">
                        <div class="box-header with-border">
                            <h3 class="box-title">Asignación</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="columna">Columna</label>
                                        <select name="columna" class="form-control" ng-model="AsignarColumna" ng-disabled="Deshabilitar" ng-options="i.Columna for i in ListadoCantidadColumnas"></select>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="tipoubicacion">Tipo Ubicación</label>
                                        <select name="tipoubicacion" class="form-control" ng-model="Asignartipo" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoTipoUbicacion"></select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-4 col-xs-12">
                                    <br>
                                    <button type="button" class="btn btn-primary" ng-click="AsignarColumnas()" tabindex="2">
                                        Asignar columnas
                                        <span class="glyphicon glyphicon-upload"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="columna">Fila</label>
                                        <select name="columna" class="form-control" ng-model="AsignarFila" ng-disabled="Deshabilitar" ng-options="i.Fila for i in ListadoCantidadFilas"></select>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="tipoubicacion">Tipo Ubicación</label>
                                        <select name="tipoubicacion" class="form-control" ng-model="AsignartipoFila" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoTipoUbicacion"></select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-4 col-xs-12">
                                    <br>
                                    <button type="button" class="btn btn-primary" ng-click="AsignarFilas()" tabindex="2">
                                        Asignar Filas
                                        <span class="glyphicon glyphicon-upload"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table style="text-align:center; width:100%">
                <tr>
                    <td>
                        <div class="row" style="font-size:x-small;">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <div class="form-group">
                                    <label for="lblSillaSeleccionada">Válida</label>
                                    <button type="button" class="AlmacenEstanValido" id="SillaSeleccionada" disabled="disabled" title="Color de la silla seleccionada"></button>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <div class="form-group">
                                    <label for="lblSillaSeleccionada">Pasillo</label>
                                    <button type="button" class="AlmacenPasillo" id="SillaDisponibleMuestra" disabled="disabled" title="Color de la silla seleccionada"></button>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <div class="form-group">
                                    <label for="lblSillaSeleccionada">Espacio</label>
                                    <button type="button" class="AlmacenEspacio" id="SillaReservada" disabled="disabled" title="Color de la silla seleccionada"></button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            <table style="text-align:center" class="table table-striped ">
                <tr>
                    <td>
                        <div>
                            <div style="margin: 0em 0em 0em 0em" class="col-md-1 col-md-push-1 col-sm-1 col-xs-1">
                                <span class="row" ng-repeat="columna in Columna1">
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_VALIDO " class="AlmacenEstanValido" id="SillaDisponible" style="margin: -1em 0em 0em" title="Disponible" ng-click="SeleccionarUbicacion(columna)"></button>
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_PASILLO" class="AlmacenPasillo" id="Pasillo" style="margin: -1em 0em 0em" title="Pasillo" ng-click="SeleccionarUbicacion(columna)"></button>
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_VACIO || columna.CodigoTipoUbicacion == CODIGO_NO_APLICA_UBICACION" class="AlmacenEspacio" id="Vacio" ng-click="SeleccionarUbicacion(columna)" style="margin: -1em 0em 0em"></button>
                                </span>
                            </div>
                            <div style="margin: 0em 0em 0em 0em" class="col-md-1 col-md-push-1 col-sm-1 col-xs-1">
                                <span class="row" ng-repeat="columna in Columna2">
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_VALIDO " class="AlmacenEstanValido" id="SillaDisponible" style="margin: -1em 0em 0em" title="Disponible" ng-click="SeleccionarUbicacion(columna)"></button>
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_PASILLO" class="AlmacenPasillo" id="Pasillo" style="margin: -1em 0em 0em" title="Pasillo" ng-click="SeleccionarUbicacion(columna)"></button>
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_VACIO || columna.CodigoTipoUbicacion == CODIGO_NO_APLICA_UBICACION" class="AlmacenEspacio" id="Vacio" ng-click="SeleccionarUbicacion(columna)" style="margin: -1em 0em 0em"></button>
                                </span>
                            </div>
                            <div style="margin: 0em 0em 0em 0em" class="col-md-1 col-md-push-1 col-sm-1 col-xs-1">
                                <span class="row" ng-repeat="columna in Columna3">
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_VALIDO " class="AlmacenEstanValido" id="SillaDisponible" style="margin: -1em 0em 0em" title="Disponible" ng-click="SeleccionarUbicacion(columna)"></button>
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_PASILLO" class="AlmacenPasillo" id="Pasillo" style="margin: -1em 0em 0em" title="Pasillo" ng-click="SeleccionarUbicacion(columna)"></button>
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_VACIO || columna.CodigoTipoUbicacion == CODIGO_NO_APLICA_UBICACION" class="AlmacenEspacio" id="Vacio" ng-click="SeleccionarUbicacion(columna)" style="margin: -1em 0em 0em"></button>
                                </span>
                            </div>
                            <div style="margin: 0em 0em 0em 0em" class="col-md-1 col-md-push-1 col-sm-1 col-xs-1">
                                <span class="row" ng-repeat="columna in Columna4">
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_VALIDO " class="AlmacenEstanValido" id="SillaDisponible" style="margin: -1em 0em 0em" title="Disponible" ng-click="SeleccionarUbicacion(columna)"></button>
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_PASILLO" class="AlmacenPasillo" id="Pasillo" style="margin: -1em 0em 0em" title="Pasillo" ng-click="SeleccionarUbicacion(columna)"></button>
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_VACIO || columna.CodigoTipoUbicacion == CODIGO_NO_APLICA_UBICACION" class="AlmacenEspacio" id="Vacio" ng-click="SeleccionarUbicacion(columna)" style="margin: -1em 0em 0em"></button>
                                </span>
                            </div>
                            <div style="margin: 0em 0em 0em 0em" class="col-md-1 col-md-push-1 col-sm-1 col-xs-1">
                                <span class="row" ng-repeat="columna in Columna5">
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_VALIDO " class="AlmacenEstanValido" id="SillaDisponible" style="margin: -1em 0em 0em" title="Disponible" ng-click="SeleccionarUbicacion(columna)"></button>
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_PASILLO" class="AlmacenPasillo" id="Pasillo" style="margin: -1em 0em 0em" title="Pasillo" ng-click="SeleccionarUbicacion(columna)"></button>
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_VACIO || columna.CodigoTipoUbicacion == CODIGO_NO_APLICA_UBICACION" class="AlmacenEspacio" id="Vacio" ng-click="SeleccionarUbicacion(columna)" style="margin: -1em 0em 0em"></button>
                                </span>
                            </div>
                            <div style="margin: 0em 0em 0em 0em" class="col-md-1 col-md-push-1 col-sm-1 col-xs-1">
                                <span class="row" ng-repeat="columna in Columna6">
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_VALIDO " class="AlmacenEstanValido" id="SillaDisponible" style="margin: -1em 0em 0em" title="Disponible" ng-click="SeleccionarUbicacion(columna)"></button>
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_PASILLO" class="AlmacenPasillo" id="Pasillo" style="margin: -1em 0em 0em" title="Pasillo" ng-click="SeleccionarUbicacion(columna)"></button>
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_VACIO || columna.CodigoTipoUbicacion == CODIGO_NO_APLICA_UBICACION" class="AlmacenEspacio" id="Vacio" ng-click="SeleccionarUbicacion(columna)" style="margin: -1em 0em 0em"></button>
                                </span>
                            </div>
                            <div style="margin: 0em 0em 0em 0em" class="col-md-1 col-md-push-1 col-sm-1 col-xs-1">
                                <span class="row" ng-repeat="columna in Columna7">
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_VALIDO " class="AlmacenEstanValido" id="SillaDisponible" style="margin: -1em 0em 0em" title="Disponible" ng-click="SeleccionarUbicacion(columna)"></button>
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_PASILLO" class="AlmacenPasillo" id="Pasillo" style="margin: -1em 0em 0em" title="Pasillo" ng-click="SeleccionarUbicacion(columna)"></button>
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_VACIO || columna.CodigoTipoUbicacion == CODIGO_NO_APLICA_UBICACION" class="AlmacenEspacio" id="Vacio" ng-click="SeleccionarUbicacion(columna)" style="margin: -1em 0em 0em"></button>
                                </span>
                            </div>
                            <div style="margin: 0em 0em 0em 0em" class="col-md-1 col-md-push-1 col-sm-1 col-xs-1">
                                <span class="row" ng-repeat="columna in Columna8">
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_VALIDO " class="AlmacenEstanValido" id="SillaDisponible" style="margin: -1em 0em 0em" title="Disponible" ng-click="SeleccionarUbicacion(columna)"></button>
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_PASILLO" class="AlmacenPasillo" id="Pasillo" style="margin: -1em 0em 0em" title="Pasillo" ng-click="SeleccionarUbicacion(columna)"></button>
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_VACIO || columna.CodigoTipoUbicacion == CODIGO_NO_APLICA_UBICACION" class="AlmacenEspacio" id="Vacio" ng-click="SeleccionarUbicacion(columna)" style="margin: -1em 0em 0em"></button>
                                </span>
                            </div>
                            <div style="margin: 0em 0em 0em 0em" class="col-md-1 col-md-push-1 col-sm-1 col-xs-1">
                                <span class="row" ng-repeat="columna in Columna9">
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_VALIDO " class="AlmacenEstanValido" id="SillaDisponible" style="margin: -1em 0em 0em" title="Disponible" ng-click="SeleccionarUbicacion(columna)"></button>
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_PASILLO" class="AlmacenPasillo" id="Pasillo" style="margin: -1em 0em 0em" title="Pasillo" ng-click="SeleccionarUbicacion(columna)"></button>
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_VACIO || columna.CodigoTipoUbicacion == CODIGO_NO_APLICA_UBICACION" class="AlmacenEspacio" id="Vacio" ng-click="SeleccionarUbicacion(columna)" style="margin: -1em 0em 0em"></button>
                                </span>
                            </div>
                            <div style="margin: 0em 0em 0em 0em" class="col-md-1 col-md-push-1 col-sm-1 col-xs-1">
                                <span class="row" ng-repeat="columna in Columna10">
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_VALIDO " class="AlmacenEstanValido" id="SillaDisponible" style="margin: -1em 0em 0em" title="Disponible" ng-click="SeleccionarUbicacion(columna)"></button>
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_PASILLO" class="AlmacenPasillo" id="Pasillo" style="margin: -1em 0em 0em" title="Pasillo" ng-click="SeleccionarUbicacion(columna)"></button>
                                    <button type="button" ng-if="columna.CodigoTipoUbicacion == CODIGO_VACIO || columna.CodigoTipoUbicacion == CODIGO_NO_APLICA_UBICACION" class="AlmacenEspacio" id="Vacio" ng-click="SeleccionarUbicacion(columna)" style="margin: -1em 0em 0em"></button>
                                </span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardarUbicacion()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Seleccion -->
    <div class="modal fade" id="modaldetalleAlmacen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-body modal-sm">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>DETALLE UBICACIÓN ALMACÉN</strong>
                        </h4>
                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorDetalleAlmacen.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesErrorDetalleAlmacen">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="box-body">
                            <div class="col-md-12 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="fila">Fila</label>
                                    <input name="fila" type="text" class="form-control" ng-model="Fila" ng-disabled="true">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="fila">Colunma</label>
                                    <input name="fila" type="text" class="form-control" ng-model="Columna" ng-disabled="true">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="tipo">Tipo</label>
                                    <select name="tipo" class="form-control" ng-model="Tipo" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoTipoUbicacion" ng-change="ValidarTipoUbicacion(Tipo)"></select>
                                </div>
                            </div>
                            <!--<div class="col-md-12 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="nivel">Nivel</label>
                                    <input name="nivel" type="text" class="form-control" ng-model="Nivel" ng-disabled="DeshabilitarNivel">
                                </div>
                            </div>-->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="AsignarNivel(Tipo,Nivel,Fila)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>