﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>LISTADOS CARTERA</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Listado Documentos</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModeloDocumentosFactura" ng-options="i.NombreMenu for i in ListaFacturaCartera | orderBy: 'NombreMenu'"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="box box-default box-solid">
                        <div class="box-header">
                            <h3 class="box-title">Filtros</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-disabled="Deshabilitar" ng-click="Filtros()" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body" style="display:block">

                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFechIni">Fecha Inicial</label>
                                    <input name="txtFechIni" type="date" class="form-control" ng-model="ModeloFechaInicial">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFechFina">Fecha Final</label>
                                    <input name="txtFechFina" type="date" class="form-control" ng-model="ModeloFechaFinal">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFechFina">Fecha Corte</label>
                                    <input name="txtFechCorte" type="date" class="form-control" ng-model="ModeloFechaCorte">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12" ng-show="FiltroCliente">
                                <div class="form-group">
                                    <label>Cliente</label>
                                    <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un Cliente" ng-model="ModeloCliente" autocomplete="off"
                                           uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in AutocompleteClientes($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                           ng-blur="ModeloCliente=VerificarAutocomplete(ModeloCliente) ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div id="lineButtons">
                    <div class="pull-left">
                        <table>
                            <tr>
                                <td>
                                    <button class="btn btn-block btn-primary" style="width:50px; height:50px" title="Abrir en PDF" ng-click="DesplegarInforme( 1, 0)">
                                        <img src="../../../FrontEnd/Css/img/pdf.png" width="40" height="40" />
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-block btn-primary" style="width:50px; height:50px; margin-left:10px" title="Descargar en EXCEL" ng-click="DesplegarInforme(0, 1)">
                                        <img src="../../../FrontEnd/Css/img/excel.png" width="40" height="40" style="margin-left:0px" />
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>