﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>

            <!--Encabezado Orden Servicio-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="fecha">Número </label>
                            <span class="form-control">{{ModeloNumero}}</span>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="fecha">Fecha </label>
                            <input name="fecha" type="date" class="form-control" ng-model="ModeloFecha">
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Cliente</label>
                            <span class="form-control">{{ModeloCliente.Nombre}}</span>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="Celu">Teléfono </label>
                            <span class="form-control">{{ModeloCliente.Telefonos}}</span>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="facturarA">Tipo Línea Negocio </label>
                            <span class="form-control">{{ModeloTipoLineaNegocio.Nombre}}</span>
                        </div>
                    </div>

                </div>



                <div class="box box-default box-solid">
                    <!--Collapse-->
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Información Despacho
                        </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>

                    <!--Contenido-->
                    <div class="box-body">
                        <div class="">
                            <div class="row">
                                <!--Placa vehiculo-->
                                <div class="col-md-2 col-sm-2 col-xs-12" ng-show="!ManejoVehiculoEnturne">
                                    <div class="form-group">
                                        <label for="placa">Vehículo</label>
                                        <input type="text" class="form-control" name="placa" id="placa" placeholder="Vehículo" ng-model="ModalPlaca"
                                               uib-typeahead="Vehiculo as Vehiculo.Placa for Vehiculo in AutocompleteVehiculos($viewValue) | filter:$viewValue | limitTo: 5"
                                               ng-blur="ModalPlaca=VerificarAutocomplete(ModalPlaca);ValidarVehiculoDocumentos(ModalPlaca, 1)"
                                               tabindex="1" ng-disabled="DeshabilitarDespacho || DeshabilitarVehiculo" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-12" ng-show="ManejoVehiculoEnturne">
                                    <div class="form-group">
                                        <label for="placa">Vehículo</label>
                                        <div class="input-group" style="display:flex">
                                            <input type="text" class="form-control" name="placa" id="placa" placeholder="Vehículo" ng-model="ModalPlaca"
                                                   uib-typeahead="Vehiculo as Vehiculo.Placa for Vehiculo in AutocompleteVehiculos($viewValue) | filter:$viewValue | limitTo: 5"
                                                   ng-blur="ModalPlaca=VerificarAutocomplete(ModalPlaca);ConsultarTarifarioCompra(ModalTenedor.Codigo);GestionarFletesCompra();GestionarFletesVenta();ValidarVehiculoDocumentos(ModalPlaca, 1)"
                                                   tabindex="1" distables autocomplete="off" ng-disabled="DeshabilitarDespacho || !(CambioVehiculoEnturnado)">
                                            <button type="button" class="btn btn-warning" title="Rechazar Vehículo" data-toggle="tooltip" onclick="showModal('ModalRechazarTurno')" tabindex="1" ng-disabled="ModalNumeroPlanilla>0 || !(ModalPlaca.Codigo>0)">
                                                <span class="glyphicon glyphicon-ban-circle"></span>
                                            </button>
                                            <!--<span class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="Para el ingreso de 2 números de celular sepárelos con guion después del décimo dígito"></span>-->
                                        </div>
                                    </div>
                                </div>

                                <!--Semirremolque-->
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="form-group">
                                        <label for="placa">Semirremolque</label>
                                        <input type="text" class="form-control" name="placa" id="semi" placeholder="Semirremolque" ng-model="ModalSemirremolque" uib-typeahead="Semirremolque as Semirremolque.Placa for Semirremolque in AsignarListasemirremolque($viewValue) | filter:$viewValue | limitTo: 5" ng-blur="ModalSemirremolque=VerificarAutocomplete(ModalSemirremolque);" tabindex="1" ng-disabled="DeshabilitarDespacho || DeshabilitarVehiculo || Sesion.UsuarioAutenticado.ManejoTarifasProgramacion" autocomplete="off">
                                    </div>
                                </div>

                                <!--Conductor-->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblConductor">Conductor</label>
                                        <input maxlength="60" type="text" autocomplete="off" class="form-control" placeholder="Seleccione un Conductor" ng-model="ModalConductor" tabindex="1"
                                               uib-typeahead="Conductor as Conductor.NombreCompleto for Conductor in AutocompleteConductor($viewValue) | filter:$viewValue | limitTo: 5"
                                               ng-blur="ModalConductor=VerificarAutocomplete(ModalConductor)" ng-disabled="DeshabilitarDespacho || DeshabilitarVehiculo || Sesion.UsuarioAutenticado.ManejoTarifasProgramacion">
                                    </div>
                                </div>
                                <!--Semirremolque-->
                                <div class="col-md-1 col-sm-1 col-xs-12" ng-show="ManejoVehiculoEnturne">
                                    <div class="form-group">
                                        <label for="placa">Puntos</label>
                                        <input type="text" class="form-control" name="placa" id="semi" ng-model="ModalPlaca.Puntos" disabled>
                                    </div>
                                </div>

                                <!--Celular-->
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblcelular">Celular </label>
                                        <span class="form-control">{{ModalConductor.Celular}}</span>
                                    </div>
                                </div>

                                <!--Tenedor-->
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblTenedor">Tenedor</label>
                                        <input maxlength="60" type="text" autocomplete="off" class="form-control" placeholder="Seleccione un Tenedor" ng-model="ModalTenedor"
                                               uib-typeahead="Tenedor as Tenedor.NombreCompleto for Tenedor in AutocompleteTenedor($viewValue) | filter:$viewValue | limitTo: 5" tabindex="1"
                                               ng-blur="ModalTenedor=VerificarAutocomplete(ModalTenedor);ConsultarTarifarioCompra(ModalTenedor.Codigo)" ng-disabled="DeshabilitarDespacho || DeshabilitarVehiculo || Sesion.UsuarioAutenticado.ManejoTarifasProgramacion">
                                    </div>
                                </div>

                                <!--Ruta viaje-->
                                <div class="col-md-3 col-sm-3 col-xs-12" ng-show="!ManejoCVCPDeseDespachar">
                                    <div class="form-group">
                                        <label for="lblRuta">Ruta </label>
                                        <span class="form-control">{{ModalRuta.Nombre}}</span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12" ng-show="ManejoCVCPDeseDespachar">
                                    <div class="form-group">
                                        <label>Ruta </label>
                                        <input tabindex="1" maxlength="60" type="text" class="form-control" placeholder="Seleccione una ruta" ng-model="ModalRuta" 
                                               uib-typeahead="Ruta as Ruta.Nombre for Ruta in ListadoRutas| filter:$viewValue | limitTo: 5" ng-required="false"
                                               ng-blur="ModalRuta=VerificarAutocomplete(ModalRuta);ObtenerRuta()" ng-disabled="DeshabilitarActualizar">
                                    </div>
                                </div>
                                <!--Tarifa-->
                                <div class="col-md-3 col-sm-2 col-xs-12" ng-show="(!TarifaCantidadViajes ) || IDCodigo > 0">
                                    <div class="form-group">
                                        <label for="lblTarifaCompra">Tarifa</label>
                                        <span class="form-control" style="padding-left: 5%;">{{ModalTarifaCompra.Nombre}}</span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-2 col-xs-12" ng-show="TarifaCantidadViajes && !(IDCodigo > 0)">
                                    <div class="form-group">
                                        <label for="lblTipoTarifaCompra">Tarifa</label>
                                        <select name="cmbTipoTarifaCompra" class="form-control" ng-model="ModalTarifaCompra" ng-options="i.Nombre for i in ListadoTarifasTransporte" 
                                                tabindex="1" ng-disabled="DeshabilitarTarifaTransportador" ng-change="CambiarSeleccionTarifaCompra(ModalTarifaCompra)"></select>
                                    </div>
                                </div>
                                <!--Tipo Tarifa-->
                                <div class="col-md-3 col-sm-2 col-xs-12" ng-show="!TarifaCupoTonelada">
                                    <div class="form-group">
                                        <label for="lblTipoTarifaCompra">Tipo Tarifa</label>
                                        <select name="cmbTipoTarifaCompra" class="form-control" ng-model="ModalTipoTarifaCompra" 
                                                ng-options="i.Nombre for i in ListadoTipoTarifaFiltradas" 
                                                tabindex="1" ng-disabled="DeshabilitarTarifaTransportador" ng-change="CambiarSeleccionTipoTarifaCompra(ModalTipoTarifaCompra)"></select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-2 col-xs-12" ng-show="(TarifaCupoTonelada)">
                                    <div class="form-group">
                                        <label for="lblTipoTarifaCompra">Tipo Tarifa</label>
                                        <span class="form-control">NO APLICA</span>
                                    </div>
                                </div>
                                <!--Producto-->
                                <div class="col-md-3 col-sm-3 col-xs-12" ng-show="ManejoCVCPDeseDespachar">
                                    <div class="form-group">
                                        <label>Producto</label>
                                        <input tabindex="1" maxlength="60" type="text" class="form-control" placeholder="Seleccione un producto" ng-model="ModalProducto"
                                               autocomplete="off" uib-typeahead="producto as producto.Nombre for producto in ListaProductoTransportado| filter:$viewValue | limitTo: 5" 
                                               ng-required="false" ng-disabled="DeshabilitarTarifaTransportador" ng-blur="ModalProducto=VerificarAutocomplete(ModalProducto)">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12" ng-show="!ManejoCVCPDeseDespachar">
                                    <div class="form-group">
                                        <label for="lblcelular">Producto </label>
                                        <span class="form-control">{{ModalProducto.Nombre}}</span>
                                    </div>
                                </div>
                                <!--Permiso INVIAS-->
                                <div class="col-md-3 col-sm-3 col-xs-12" ng-show="ModalProducto.NaturalezaProducto == 9403 || ModalProducto.NaturalezaProducto == 9404">
                                    <div class="form-group">
                                        <label>Permiso INVIAS</label>
                                        <input tabindex="1" name="txtPermisoInvias" type="text" class="form-control" maxlength="20" placeholder="Permiso INVIAS" ng-model="ModalPermisoInvias"
                                               ng-disabled="DeshabilitarTarifaTransportador || !ManejoCVCPDeseDespachar">
                                    </div>
                                </div>
                                <!--Cantidad-->
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblValorRecibido">Cantidad</label>
                                        <input ng-change=" MaskValores()" name="txtCantidad" placeholder="Cantidad" tabindex="1" class="form-control" ng-model="ModalCantidad" 
                                               maxlength="10" minlenght="1" style="text-align:right" ng-blur="GestionarFletesCompra();GestionarFletesVenta()" 
                                               ng-disabled="DeshabilitarTarifaTransportador" />
                                    </div>
                                </div>
                                <!--Peso Kg-->
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblValorRecibido">Peso (Kg)</label>
                                        <input ng-change=" MaskValores()" name="txtPeso" placeholder="Peso" tabindex="1" class="form-control" ng-model="ModalPeso" 
                                               maxlength="10" minlenght="1" style="text-align:right" ng-blur="GestionarFletesCompra();GestionarFletesVenta()" 
                                               ng-disabled="DeshabilitarTarifaTransportador || !ValidaPeso" />
                                    </div>
                                </div>
                                <!--Celular-->
                                <div class="col-md-2 col-sm-2 col-xs-12" ng-show="!ManejoCVCPDeseDespachar">
                                    <div class="form-group">
                                        <label for="lblcelular">Documento Cliente  </label>
                                        <span class="form-control">{{ModaloDocumentoCliente}}</span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12" ng-show="ManejoCVCPDeseDespachar">
                                    <div class="form-group">
                                        <label for="lblValorRecibido">Documento Cliente</label>
                                        <input ng-change="" name="txtCantidad" placeholder=" " tabindex="1" class="form-control" ng-model="ModaloDocumentoCliente" maxlength="10" minlenght="1" style="text-align:right" ng-disabled="DeshabilitarTarifaTransportador" />
                                    </div>
                                </div>
                                <!--Oficina Despacha-->
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="form-group">
                                        <label for="OficDesp">Oficina Despacha</label>
                                        <select name="OficDesp" class="form-control" tabindex="1" ng-model="ModeloOficinaDespacha" ng-options="i.Nombre for i in ListaOficinasDespacha" ng-disabled="DeshabilitarDespacho || Sesion.UsuarioAutenticado.ManejoTarifasProgramacion"></select>
                                    </div>
                                </div>




                            </div>
                            <div ng-show="IDCodigo==0">
                                <div class="row">

                                    <!--Ciudad Cargue-->
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label>Ciudad Cargue</label>
                                            <input ng-change="MaskMayus()" type="text" class="form-control" id="CiudCarg" maxlength="50" placeholder="Seleccione Ciudad" ng-model="ModelCiudCarg" tabindex="1" autocomplete="off"
                                                   uib-typeahead="i as i.NombreCompleto for i in AutocompleteCiudades($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModelCiudCarg=VerificarAutocomplete(ModelCiudCarg)" ng-disabled="DeshabilitarOrdenCargue">
                                        </div>
                                    </div>

                                    <!--Dirección Cargue-->
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Dirección Cargue</label>
                                            <input type="text" class="form-control" id="DireCarg" maxlength="100" placeholder="Dirección Cargue" ng-model="ModelDireCarg" tabindex="1" ng-disabled="DeshabilitarOrdenCargue">
                                        </div>
                                    </div>

                                    <!--Telefonos-->
                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                        <div class="form-group">
                                            <label>Teléfono Cargue</label>
                                            <input type="text" class="form-control" id="TeleCarg" maxlength="100" placeholder="Teléfono Cargue" ng-model="ModalTeleCarg" tabindex="1" ng-disabled="DeshabilitarOrdenCargue">
                                        </div>
                                    </div>
                                    <!--Contacto-->
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label>Contacto Cargue</label>
                                            <input type="text" class="form-control" id="ContCarg" maxlength="100" placeholder="Contacto Cargue" ng-model="ModalContacCarg" tabindex="1" ng-disabled="DeshabilitarOrdenCargue">
                                        </div>
                                    </div>



                                </div>

                                <!--Descargue-->
                                <div class="row">

                                    <!--Ciudad Descargue-->
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label>Ciudad Descargue</label>
                                            <input ng-change="MaskMayus()" type="text" class="form-control" id="CiudDesc" maxlength="50" placeholder="Seleccione Ciudad" ng-model="ModelCiudDesc" tabindex="1" autocomplete="off"
                                                   uib-typeahead="i as i.NombreCompleto for i in AutocompleteCiudades($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModelCiudDesc=VerificarAutocomplete(ModelCiudDesc)" ng-disabled="DeshabilitarOrdenCargue">
                                        </div>
                                    </div>

                                    <!--Dirección Descargue-->
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Dirección Descargue</label>
                                            <input type="text" class="form-control" id="DireDesc" maxlength="100" placeholder="Dirección Descargue" ng-model="ModelDireDesc" tabindex="1" ng-disabled="DeshabilitarOrdenCargue">
                                        </div>
                                    </div>

                                    <!--Telefonos-->
                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                        <div class="form-group">
                                            <label>Teléfono Descargue</label>
                                            <input type="text" class="form-control" id="TeleDesc" maxlength="100" placeholder="Teléfono Descargue" ng-model="ModalTeleDesc" tabindex="1" ng-disabled="DeshabilitarOrdenCargue">
                                        </div>
                                    </div>
                                    <!--Contacto-->
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label>Contacto Descargue</label>
                                            <input type="text" class="form-control" id="ContDesc" maxlength="100" placeholder="Contacto Descargue" ng-model="ModalContacDesc" tabindex="1" ng-disabled="DeshabilitarOrdenCargue">
                                        </div>
                                    </div>
                                </div>


                                <div class="row">

                                    <!--Observaciones-->
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Observaciones</label>
                                            <input type="text" class="form-control" Name="txtObservaOrdenCargue" maxlength="500" ng-model="ModalObservacionesOrdenCargue" ng-disabled="DeshabilitarOrdenCargue" tabindex="1" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row" ng-show="IDCodigo==0">
                                <div class="SeccionBotones">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GenerarDespacho()" tabindex="1" ng-disabled="ModalNumeroPlanilla>0">
                                            Generar
                                            <span class="glyphicon glyphicon-save"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <!--Información Documentos-->
            <div class="modal-body">

                <!--TRAIFAS TRANSPORTADOR-->
                <div class="box box-default box-solid collapsed-box" ng-disabled="DeshabilitarTarifaTransportador" ng-show="CodigoLineaNegocio != 2">
                    <!--Collapse-->
                    <div class="box-header with-border" ng-disabled="Bloquear">
                        <h3 class="box-title">
                            Tarifario Transportador No. {{ModalTarifarioCompra[0].NumeroTarifarioCompra}}
                        </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>

                    <div class="box-body">

                        <div class="row">

                            <!--Tarifario Compra-->
                            <!--<div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblTarifarioCompra">Tarifario</label>
                                    <span class="form-control">{{ModalTarifarioCompra[0].NombreTarifario}}</span>
                                </div>
                            </div>-->
                            <!--Flete Transportador-->
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFleteTransportador">Flete</label>
                                    <input ng-change=" MaskValores()" name="txtFleteTransportador" type="text" class="form-control" ng-model="ModalFleteTransportador" readonly="readonly" style="text-align:right" tabindex="1" ng-disabled="DeshabilitarTarifaTransportador">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12" ng-show="Sesion.UsuarioAutenticado.ManejoTarifasProgramacion">
                                <div class="form-group">
                                    <label for="lblFleteTransportador">Valor Cargue</label>
                                    <input ng-change=" MaskValores()" name="txtFleteTransportador" type="text" class="form-control" ng-model="ModalValorCargueTransportador" readonly="readonly" style="text-align:right" tabindex="1" ng-disabled="DeshabilitarTarifaTransportador">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12" ng-show="Sesion.UsuarioAutenticado.ManejoTarifasProgramacion">
                                <div class="form-group">
                                    <label for="lblFleteTransportador">Valor Descargue</label>
                                    <input ng-change=" MaskValores()" name="txtFleteTransportador" type="text" class="form-control" ng-model="ModalValorDescargueTransportador" readonly="readonly" style="text-align:right" tabindex="1" ng-disabled="DeshabilitarTarifaTransportador">
                                </div>
                            </div>
                            <!--Total Flete Transportador-->
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Valor Flete Transportador</label>
                                    <input maxlength="18" type="text" style="text-align:right" class="form-control" placeholder="" ng-model="ModalTotalFleteTransportador" ng-required="false" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--TRAIFAS CLIENTE-->
                <div class="box box-default box-solid collapsed-box" ng-show="VisualizacionTarifario">
                    <!--Collapse-->
                    <div class="box-header with-border" ng-disabled="Bloquear">
                        <h3 class="box-title">
                            Tarifario Cliente No. {{ModalTarifarioVenta.Codigo}}
                        </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>


                    <div class="box-body">




                        <div class="row">

                            <!--Tarifario Venta-->
                            <!--<div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblTarifarioVenta">Tarifario</label>
                                    <span class="form-control">{{ModalTarifarioVenta.Nombre}}</span>
                                </div>
                            </div>-->
                            <!--Tarifa-->
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label for="lblTarifaVenta">Tarifa</label>
                                    <span class="form-control" style="font-size:smaller; padding-left: 5%;">{{ModalTarifaVenta.Nombre}}</span>
                                </div>
                            </div>
                            <!--Tipo Tarifa-->
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label for="lblTipoTarifaVenta">Tipo Tarifa</label>
                                    <!--<select name="cmbTipoTarifaVenta" class="form-control" ng-model="ModalTipoTarifaVenta" ng-options="i.Nombre for i in ListaTipoTarifasVenta"></select>-->
                                    <span class="form-control">{{ModalTipoTarifaVenta}}</span>
                                </div>
                            </div>

                            <!--Flete Cliente-->
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFleteCliente">Flete</label>
                                    <input ng-change="MaskNumero(); MaskValores();" name="txtFleteCliente" type="text" class="form-control" ng-model="ModalFleteCliente" readonly="readonly" style="text-align:right" tabindex="1" ng-disabled="DeshabilitarTarifaCliente">
                                </div>
                            </div>

                            <!--Total Flete Cliente-->
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label for="lblTotalFleteCliente">Total Flete</label>
                                    <span class="form-control" style="text-align:right">{{ModalTotalFleteCliente | number :0}}</span>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <!--ORDEN CARGUE-->
                <div class="box box-default box-solid collapsed-box" ng-show="IDCodigo>0">
                    <!--Collapse-->
                    <div class="box-header with-border" ng-disabled="Bloquear">
                        <h3 class="box-title">
                            Orden Cargue
                        </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>

                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorOrdenCargue.length > 0">
                        <ul>
                            <li ng-repeat="error in MensajesErrorOrdenCargue">
                                <span>{{error}}</span>
                            </li>
                        </ul>
                    </div>

                    <div class="box-body">

                        <div class="row">
                            <!--Numero Orden Cargue-->
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label for="fecha">Número </label>
                                    <span class="form-control">{{ModalNumeroOrdenCargue}}</span>
                                </div>
                            </div>

                            <!--Fecha Orden cargue-->
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label for="fechaOrdenCargue">Fecha </label>
                                    <input name="fechaOrdenCargue" type="date" class="form-control" ng-model="ModalFechaOrdenCargue" ng-disabled="DeshabilitarOrdenCargue" tabindex="1">
                                </div>
                            </div>

                            <!--Anticipo-->
                            <!--<div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Anticipo</label>
                                    <input ng-change="MaskNumero(); MaskValores();ValidarAnticipoOrdenCargue(ModalValorAnticipo)" name="txtAnticOC" placeholder="Valor Anticipo" class="form-control" ng-model="ModalValorAnticipo" maxlength="10" style="text-align:right" tabindex="1" ng-disabled="DeshabilitarOrdenCargue" />
                                </div>
                            </div>-->

                        </div>

                        <!--Datos Cargue/Descargue-->
                        <!--Cargue-->
                        <div class="row">

                            <!--Ciudad Cargue-->
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>Ciudad Cargue</label>
                                    <input ng-change="MaskMayus()" type="text" class="form-control" id="CiudCarg" maxlength="50" placeholder="Seleccione Ciudad" ng-model="ModelCiudCarg" tabindex="1" autocomplete="off"
                                           uib-typeahead="i as i.NombreCompleto for i in AutocompleteCiudades($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModelCiudCarg=VerificarAutocomplete(ModelCiudCarg)" ng-disabled="DeshabilitarOrdenCargue">
                                </div>
                            </div>

                            <!--Dirección Cargue-->
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Dirección Cargue</label>
                                    <input type="text" class="form-control" id="DireCarg" maxlength="100" placeholder="Dirección Cargue" ng-model="ModelDireCarg" tabindex="1" ng-disabled="DeshabilitarOrdenCargue">
                                </div>
                            </div>

                            <!--Telefonos-->
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Teléfono Cargue</label>
                                    <input type="text" class="form-control" id="TeleCarg" maxlength="100" placeholder="Teléfono Cargue" ng-model="ModalTeleCarg" tabindex="1" ng-disabled="DeshabilitarOrdenCargue">
                                </div>
                            </div>
                            <!--Contacto-->
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>Contacto Cargue</label>
                                    <input type="text" class="form-control" id="ContCarg" maxlength="100" placeholder="Contacto Cargue" ng-model="ModalContacCarg" tabindex="1" ng-disabled="DeshabilitarOrdenCargue">
                                </div>
                            </div>



                        </div>

                        <!--Descargue-->
                        <div class="row">

                            <!--Ciudad Descargue-->
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>Ciudad Descargue</label>
                                    <input ng-change="MaskMayus()" type="text" class="form-control" id="CiudDesc" maxlength="50" placeholder="Seleccione Ciudad" ng-model="ModelCiudDesc" tabindex="1" autocomplete="off"
                                           uib-typeahead="i as i.NombreCompleto for i in AutocompleteCiudades($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModelCiudDesc=VerificarAutocomplete(ModelCiudDesc)" ng-disabled="DeshabilitarOrdenCargue">
                                </div>
                            </div>

                            <!--Dirección Descargue-->
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Dirección Descargue</label>
                                    <input type="text" class="form-control" id="DireDesc" maxlength="100" placeholder="Dirección Descargue" ng-model="ModelDireDesc" tabindex="1" ng-disabled="DeshabilitarOrdenCargue">
                                </div>
                            </div>

                            <!--Telefonos-->
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Teléfono Descargue</label>
                                    <input type="text" class="form-control" id="TeleDesc" maxlength="100" placeholder="Teléfono Descargue" ng-model="ModalTeleDesc" tabindex="1" ng-disabled="DeshabilitarOrdenCargue">
                                </div>
                            </div>
                            <!--Contacto-->
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>Contacto Descargue</label>
                                    <input type="text" class="form-control" id="ContDesc" maxlength="100" placeholder="Contacto Descargue" ng-model="ModalContacDesc" tabindex="1" ng-disabled="DeshabilitarOrdenCargue">
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <!--Observaciones-->
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Observaciones</label>
                                    <input type="text" class="form-control" Name="txtObservaOrdenCargue" maxlength="500" ng-model="ModalObservacionesOrdenCargue" ng-disabled="DeshabilitarOrdenCargue" tabindex="1" />
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="SeccionBotones">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmarGuardarDocumentos(1)" tabindex="1" ng-disabled="ModalNumeroOrdenCargue > 0 ">
                                        Guardar
                                        <span class="glyphicon glyphicon-save"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!--REMESA-->
                <div class="box box-default box-solid" ng-show="IDCodigo>0 && !NoVisualizarDocumento">
                    <!--Collapse-->
                    <div class="box-header with-border" ng-disabled="Bloquear">
                        <h3 class="box-title">
                            Remesa
                        </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="alert alert-danger" role="alert" ng-if="MensajesErrorRemesa.length > 0">
                                    <ul>
                                        <li ng-repeat="error in MensajesErrorRemesa">
                                            <span>{{error}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!--Numero Remesa-->
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label for="Numeroreme">Número </label>
                                    <span class="form-control">{{ModalNumeroRemesa}}</span>
                                </div>
                            </div>

                            <!--Fecha Remesa-->
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label for="fechaReme">Fecha </label>
                                    <input name="fechaRemesa" type="date" class="form-control" ng-model="ModalFechaRemesa" ng-disabled="DeshabilitarRemesa" tabindex="1">
                                </div>
                            </div>

                            <!--Documento Cliente-->
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>Doc. Cliente</label>
                                    <input type="text" name="txtDocCliente" class="form-control" placeholder="Doc. Cliente" ng-model="ModalDocCliente" maxlength="30" tabindex="1" ng-disabled="DeshabilitarRemesa">
                                </div>
                            </div>

                            <!--Tipo Remesa-->
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>Tipo Remesa</label>
                                    <span class="form-control">{{ModalTipoRemesa}}</span>
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <!--Datos REMITENTE -->
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label for="lblTenedor">Remitente</label>
                                    <input maxlength="60" type="text" autocomplete="off" class="form-control" placeholder="Seleccione un Remitente" ng-model="ModalRemitente" ng-disabled="DeshabilitarRemesa" tabindex="1"
                                           uib-typeahead="Remitente as Remitente.NombreCompleto for Remitente in AutocompleteRemitente($viewValue) | filter:$viewValue | limitTo: 5"
                                           ng-blur="ModalRemitente=VerificarAutocomplete(ModalRemitente);AsignarCiudadRemitente();">
                                </div>
                            </div>

                            <!--Ciudad-->
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label for="lblCiudRemi">Ciudad</label>
                                    <input ng-change="MaskMayus()" type="text" class="form-control" id="CiudRemi" maxlength="50" placeholder="Seleccione Ciudad" ng-model="ModalCiudadRemitente" tabindex="1" autocomplete="off"
                                           uib-typeahead="i as i.NombreCompleto for i in AutocompleteCiudades($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModalCiudadRemitente=VerificarAutocomplete(ModalCiudadRemitente)" ng-disabled="DeshabilitarRemesa">
                                </div>
                            </div>

                            <!--Direccion-->
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Dirección</label>
                                    <input type="text" name="txtDireccionRemi" class="form-control" placeholder="Dirección" ng-model="ModalDireccionRemitente" maxlength="100" tabindex="1" ng-disabled="DeshabilitarRemesa">
                                </div>
                            </div>

                            <!--Telefono-->
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Teléfonos</label>
                                    <input type="text" name="txtTelefonoRemi" class="form-control" placeholder="Teléfonos" ng-model="ModalTelefonosRemitente" maxlength="100" tabindex="1" ng-disabled="DeshabilitarRemesa">
                                </div>
                            </div>


                        </div>

                        <div class="row">

                            <!--Datos DESTINATARIO -->
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label for="lblDestinatario">Destinatario</label>
                                    <input maxlength="60" type="text" autocomplete="off" class="form-control" placeholder="Seleccione un Destinatario" ng-model="ModalDestinatario" ng-disabled="DeshabilitarRemesa" tabindex="1"
                                           uib-typeahead="Destinatario as Destinatario.NombreCompleto for Destinatario in AutocompleteDestinatario($viewValue) | filter:$viewValue | limitTo: 5"
                                           ng-blur="ModalDestinatario=VerificarAutocomplete(ModalDestinatario);AsignarCiudadDestinatario();">

                                </div>
                            </div>

                            <!--Ciudad-->
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label for="lblCiudDest">Ciudad</label>
                                    <input ng-change="MaskMayus()" type="text" class="form-control" id="CiudDesti" maxlength="50" placeholder="Seleccione Ciudad" ng-model="ModalCiudadDestinatario" tabindex="1" ng-disabled="DeshabilitarRemesa" autocomplete="off"
                                           uib-typeahead="i as i.NombreCompleto for i in AutocompleteCiudades($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModalCiudadDestinatario=VerificarAutocomplete(ModalCiudadDestinatario)">
                                </div>
                            </div>

                            <!--Direccion-->
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Dirección</label>
                                    <input type="text" name="txtDireccionDesti" class="form-control" placeholder="Dirección" ng-model="ModalDireccionDestinatario" maxlength="100" tabindex="1" ng-disabled="DeshabilitarRemesa">
                                </div>
                            </div>

                            <!--Telefono-->
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Teléfonos</label>
                                    <input type="text" name="txtTelefonoDesti" class="form-control" placeholder="Teléfonos" ng-model="ModalTelefonosDestinatario" maxlength="100" tabindex="1" ng-disabled="DeshabilitarRemesa">
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <!--Confirmacion Ministerio-->
                            <div class="col-md-2 col-sm-2 col-xs-12" ng-show="DesabilitarConfirmacionRemesa">
                                <div class="form-group">
                                    <label>Número Confirmación </label>
                                    <input type="text" name="txtTelefonoDesti" class="form-control" placeholder="Número Confirmacion" ng-model="ModalNumeroConfirmacionMinisterio" maxlength="100" tabindex="1" ng-disabled="DeshabilitarRemesa">
                                </div>
                            </div>
                            <!--Observaciones-->
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Observaciones</label>
                                    <input type="text" class="form-control" Name="txtObservaOrdenCargue" maxlength="500" ng-model="ModalObservacionesRemesa" ng-disabled="DeshabilitarRemesa" tabindex="1" />
                                </div>
                            </div>

                        </div>
                        <div class="box box-default box-solid collapsed-box">
                            <!--Collapse-->
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    Precintos
                                </h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row" ng-show="!DeshabilitarRemesa">
                                    <div class="col-md-4 col-sm-4 col-xs-12" ng-show="!DeshabilitarRemesa">
                                        <div class="form-group">
                                            <label for="Cuenta">Cantidad Precintos</label>
                                            <input ng-change="MaskNumero()" type="text" autocomplete="off" class="form-control" maxlength="3" placeholder="Ingrese una Cantidad" ng-model="CantidadPrecintos">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Tipo Precinto</label>
                                            <select name="cmbOficina" class="form-control" ng-model="ModeloTipoPrecinto" ng-options="i.Nombre for i in ListadoTipoPrecinto"></select>
                                        </div>
                                    </div>
                                    <div class="SeccionBotones" ng-show="!DeshabilitarRemesa">
                                        <div class="pull-left">
                                            <button class="btn btn-block btn-primary" title="" ng-click="AgregarPrecintos()">
                                                Agregar
                                                <span class="fa fa-plus"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="ResultadoConsulta">
                                    <div class="table-responsive" ng-if="ListaPrecintos.length > 0" style="overflow-y:scroll;overflow-x:scroll;max-height:500px;max-width:100%">
                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Número</th>
                                                    <th>Tipo</th>
                                                    <th>Oficina</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody style="text-align:left ">
                                                <tr ng-repeat="item in ListaPrecintos | orderBy :'Numero_Precinto'">
                                                    <td>{{item.Numero_Precinto}}</td>
                                                    <td>{{item.TipoPrecinto.Nombre}}</td>
                                                    <td>{{item.Oficina.Nombre}}</td>
                                                    <td style="text-align:center" ng-show="!DeshabilitarPlanilla">
                                                        <button class="button mini-button btn-danger" title="Eliminar" ng-click="ListaPrecintos.splice($index,1)" ng-show="!DeshabilitarRemesa">
                                                            <span class="fas fa-trash-alt"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div style="text-align:center" class="col-md-12" ng-if="DeshabilitarRemesa && (ListaPrecintos.length == 0 || ListaPrecintos == undefined)">
                                        <span style="color:red">
                                            <small>{{ResultadoSinRegistros}}</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box box-default box-solid" ng-show="ModalTipoTarifaVenta.includes('Contenedor') || ModalTarifaCompra.Nombre.includes('Contenedor') || ModeloTipoLineaNegocio.Codigo == 103 || ModeloTipoLineaNegocio.Codigo == 104">
                            <!--Collapse-->
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    Contenedor
                                </h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <!--Número Contenedor-->
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label>No. Contenedor</label>
                                            <input type="text" class="form-control" placeholder="N° Contenedor" ng-model="ModalNumeroContenedor" maxlength="30" tabindex="1" ng-change="MaskMayus()" ng-disabled="DeshabilitarRemesa">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12" ng-show="ModeloTipoLineaNegocio.Codigo == 103">
                                        <div class="form-group">
                                            <label for="numero">Ciudad Devolución</label>
                                            <input tabindex="1" type="text" class="form-control" name="Ciudad Devolución" maxlength="50" placeholder="Ingrese una Ciudad Devolución" ng-model="ModalImportacionCiudadDevolucion" ng-disabled="DeshabilitarRemesa" autocomplete="off"
                                                   uib-typeahead="i as i.NombreCompleto for i in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModalImportacionCiudadDevolucion=VerificarAutocomplete(ModalImportacion.CiudadDevolucion)">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12" ng-show="ModeloTipoLineaNegocio.Codigo == 103">
                                        <div class="form-group">
                                            <label for="numero">Patio Devolución</label>
                                            <input tabindex="1" name="numero" maxlength="100" type="text" class="form-control" ng-model="ModalImportacionPatioDevolucion" ng-disabled="DeshabilitarRemesa">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12" ng-show="ModeloTipoLineaNegocio.Codigo == 103">
                                        <div class="form-group">
                                            <label for="lblFechVinc">Fecha Devolución</label>
                                            <input tabindex="1" name="txtFechVinc" type="date" class="form-control" ng-model="ModalImportacionFechaDevolucion" ng-disabled="DeshabilitarRemesa">
                                        </div>
                                    </div>
                                    <!--Mbl-->
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label>MBL</label>
                                            <input type="text" class="form-control" placeholder="MBL" ng-model="ModalMBLContenedor" maxlength="30" tabindex="1" ng-change="MaskMayus()" ng-disabled="DeshabilitarRemesa">
                                        </div>
                                    </div>
                                    <!--HBL-->
                                    <div class="col-md-2 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label>HBL</label>
                                            <input type="text" class="form-control" placeholder="HBL" ng-model="ModalHBLContenedor" maxlength="30" tabindex="1" ng-change="MaskMayus()" ng-disabled="DeshabilitarRemesa">
                                        </div>
                                    </div>
                                    <!--DO-->
                                    <div class="col-md-2 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label>DO</label>
                                            <input type="text" class="form-control" placeholder="DO" ng-model="ModalDOContenedor" maxlength="30" tabindex="1" ng-change="MaskMayus()" ng-disabled="DeshabilitarRemesa">
                                        </div>
                                    </div>
                                    <!--ValorFOB-->
                                    <div class="col-md-2 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor FOB</label>
                                            <input type="text" class="form-control" placeholder="FOB" ng-model="ModalValorFOB" maxlength="30" tabindex="1" ng-change="MaskValores()" ng-disabled="DeshabilitarRemesa">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="SeccionBotones">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmarGuardarDocumentos(2)" tabindex="1" ng-disabled="ModalNumeroRemesa>0">
                                        Guardar
                                        <span class="glyphicon glyphicon-save"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!--PLANILLA DESPACHO-->
                <div class="box box-default box-solid" ng-show="CodigoLineaNegocio != 2 && IDCodigo>0 && !NoVisualizarDocumento">
                    <!--Collapse-->
                    <div class="box-header with-border" ng-disabled="Bloquear">
                        <h3 class="box-title">
                            Planilla Despacho
                        </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>

                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorPlanilla.length > 0">
                        <ul>
                            <li ng-repeat="error in MensajesErrorPlanilla">
                                <span>{{error}}</span>
                            </li>
                        </ul>
                    </div>

                    <div class="box-body">

                        <div class="row">

                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label for="fecha">Número</label>
                                    <span class="form-control">{{ModalNumeroPlanilla}}</span>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label for="fecha">Fecha Salida</label>
                                    <input name="fecha" type="date" class="form-control" ng-model="ModalFechaSalida" ng-disabled="DeshabilitarPlanilla" tabindex="1">
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label for="lblHoraSalida">Hora Salida</label>
                                    <input name="HoraSalida" type="text" class="form-control" ng-model="ModalHoraSalida" maxlength="5" ng-change="MaskHora()" placeholder="HH:mm" ng-disabled="DeshabilitarPlanilla" tabindex="1">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Valor Flete</label>
                                    <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores();ValidarFleteTransportador()" placeholder="" ng-model="ModalTotalFleteTransportador" ng-required="false" ng-disabled="DeshabilitarPlanilla">
                                </div>
                            </div>
                            <!--Valor Anticipo-->
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFleteTransportador">Valor Anticipo</label>
                                    <input ng-change="MaskNumero(); MaskValores();ValidarAnticipoPlanilla(ModalAnticipoPlanilla);" name="txtAnticipoPlanilla" type="text" class="form-control" ng-model="ModalAnticipoPlanilla" style="text-align:right" tabindex="1" ng-disabled="DeshabilitarPlanilla">
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <div class="col-md-4 col-sm-2 col-xs-12">
                                        <label for="lblFleteTransportador">Anticipo Pagado</label>
                                    </div>
                                    <div class="col-md-4 col-sm-2 col-xs-12">
                                        <label for="lblFleteTransportador"><input tabindex="1" type="radio" ng-model="Radio.Anticipo" value="Conductor" ng-disabled="DeshabilitarPlanilla" />Conductor</label>
                                    </div>
                                    <div class="col-md-4 col-sm-2 col-xs-12">
                                        <label for="lblFleteTransportador"><input tabindex="1" type="radio" ng-model="Radio.Anticipo" value="Tenedor" ng-disabled="DeshabilitarPlanilla" />Tenedor</label>
                                    </div>
                                    <input maxlength="60" ng-show="Radio.Anticipo == 'Conductor'" type="text" autocomplete="off" class="form-control" placeholder="Seleccione un Conductor" ng-model="ModalConductor" tabindex="1"
                                           uib-typeahead="Conductor as Conductor.NombreCompleto for Conductor in AutocompleteConductor($viewValue) | filter:$viewValue | limitTo: 5" disabled>
                                    <input maxlength="60" ng-show="Radio.Anticipo == 'Tenedor'" type="text" autocomplete="off" class="form-control" placeholder="Seleccione un Tenedor" ng-model="ModalTenedor"
                                           uib-typeahead="Tenedor as Tenedor.NombreCompleto for Tenedor in AutocompleteTenedor($viewValue) | filter:$viewValue | limitTo: 5" tabindex="1" disabled>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12" ng-show="Sesion.UsuarioAutenticado.ManejoAnticiposPSL">
                                <div class="form-group">
                                    <label for="lblFleteTransportador">Medio Pago Anticipo</label>
                                    <select name="formapago" class="form-control" ng-disabled="DeshabilitarPlanilla" ng-model="FormaPagoRecaudo" ng-options="i.Nombre for i in ListaFormaPago"></select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12" ng-show="Sesion.UsuarioAutenticado.ManejoAnticiposPSL">
                                <div class="form-group">
                                    <label for="lblFleteTransportador">Valor Seguro</label>
                                    <input ng-change="MaskNumero(); MaskValores()" name="txtAnticipoPlanilla" type="text" class="form-control" ng-model="ModalSeguroAnticipo" style="text-align:right" tabindex="1" ng-disabled="DeshabilitarPlanilla">
                                </div>
                            </div>

                            <!--Manifiesto-->
                            <div ng-show="MostrarCampoManifiesto" class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label for="lblManifiesto">No. Manifiesto</label>
                                    <input ng-change="MaskNumero()" name="txtManifiesto" type="text" class="form-control" ng-model="ModalManifiesto" tabindex="1" disabled>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <!--Observaciones-->
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Observaciones</label>
                                    <input type="text" class="form-control" Name="txtObservaPlanilla" maxlength="500" ng-model="ModalObservacionesPlanilla" ng-disabled="DeshabilitarPlanilla" tabindex="1" />
                                </div>
                            </div>
                        </div>

                        <div class="box box-default box-solid collapsed-box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Auxiliares</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row" ng-show="!DeshabilitarActualizar">
                                    <div class="col-md-6 col-sm-4 col-xs-12" ng-show="!DeshabilitarActualizar">
                                        <div class="form-group">
                                            <label for="Cuenta">Funcionario</label>
                                            <input ng-change="MaskMayus()" type="text" autocomplete="off" class="form-control" name="Funcioario" maxlength="50" id="ModeloFuncionario" placeholder="Ingrese Funcionario" ng-model="ModeloFuncionario" uib-typeahead="i as i.NombreCompleto for i in AutocompleteFuncionario($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false">
                                        </div>
                                    </div>
                                    <div class="SeccionBotones" ng-show="!DeshabilitarActualizar ||  DeshabilitarPlanilla">
                                        <div class="pull-left">
                                            <button class="btn btn-block btn-primary" title="" ng-click="AgregarAuxiliar()" ng-disabled="CodigoEstadoSolicitud == 9203">
                                                Agregar
                                                <span class="fa fa-plus"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="ResultadoConsulta">
                                    <div class="table-responsive" ng-if="ListaAuxiliares.length > 0" style="overflow-y:scroll;overflow-x:scroll;max-height:500px;max-width:100%">
                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Funcionario</th>
                                                    <th>Horas Trabajadas</th>
                                                    <th>Valor</th>
                                                    <th>Observaciones</th>
                                                    <th ng-show="!DeshabilitarPlanilla ">Opciones</th>
                                                </tr>
                                            </thead>
                                            <tbody style="text-align:left ">
                                                <tr ng-repeat="item in ListaAuxiliares">
                                                    <td>{{item.Tercero.Nombre}}</td>
                                                    <td>
                                                        <span ng-show="!item.Modificarfuncionario ">{{item.Horas}}</span>

                                                        <div ng-show="item.Modificarfuncionario" class="form-group">
                                                            <input ng-change="item.Horas = MaskNumeroGrid(item.Horas)" name="txtHoras" class="form-control" placeholder="Ingrese horas" ng-model="item.Horas" maxlength="10" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span ng-show="!item.Modificarfuncionario">{{item.Valor}}</span>

                                                        <div ng-show="item.Modificarfuncionario" class="form-group">
                                                            <input style="text-align:right" ng-change="item.Valor = MaskValoresGrid(item.Valor)" name="txtValor" class="form-control" placeholder="Ingrese valor" ng-model="item.Valor" maxlength="10" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span ng-show="!item.Modificarfuncionario">{{item.Observaciones}}</span>
                                                        <input name="txtObservaciones" type="text" class="form-control" placeholder="Ingrese observaciones" ng-show="item.Modificarfuncionario" ng-model="item.Observaciones" maxlength="500" />
                                                    </td>
                                                    <td style="text-align:center" ng-show="!DeshabilitarPlanilla">
                                                        <button class="button mini-button btn-success" title="Agregar" ng-click="ValidarDatosFuncionario()" ng-show="!DeshabilitarPlanilla ">
                                                            <span class="fa fa-check"></span>
                                                        </button>
                                                        <button class="button mini-button btn-warning" title="Editar" ng-click="item.Modificarfuncionario = true" ng-show="!DeshabilitarPlanilla ">
                                                            <span class="fa fa-edit"></span>
                                                        </button>
                                                        <button class="button mini-button btn-danger" title="Eliminar" ng-click="EliminarFuncionario(item.Codigo)" ng-show="!DeshabilitarPlanilla ">
                                                            <span class="fas fa-trash-alt"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div style="text-align:center" class="col-md-12" ng-if="DeshabilitarActualizar && (ListaAuxiliares.length == 0 || ListaAuxiliares == undefined)">
                                        <span style="color:red">
                                            <small>{{ResultadoSinRegistros}}</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="SeccionBotones">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmarGuardarDocumentos(3)" tabindex="1" ng-disabled="ModalNumeroPlanilla>0">
                                        Guardar
                                        <span class="glyphicon glyphicon-save"></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cerrar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalDetalleDespacho" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <form autocomplete="off">

                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorModal.length > 0">
                        <ul>
                            <li ng-repeat="error in MensajesErrorModal">
                                <span>{{error}}</span>
                            </li>
                        </ul>
                    </div>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GENERAR DESPACHO
                        </h4>
                    </div>



                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!--VENTANAS CONFIRMACIONES-->
    <div class="modal fade" id="modalConfirmacionGuardarDocumentos" tabindex="-1" role="alert" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{MensajeGuardar}}</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="CerrarConfirmarGuardarDocumentos()" tabindex="1">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarDocumentos()" tabindex="1">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!--VENTANAS CONFIRMACIONES-->
    <div class="modal fade" id="modalConfirmacionAnticipo" tabindex="-1" role="alert" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>El anticipo ingresado es superior al parametrizado para la ruta ({{AnticipoAutorizado}}), si desea continuar el anticipo se vera efectivo una vez sea autorizado</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="AutorizacionAnticipo = 0;ModalAnticipoPlanilla = 0 " tabindex="1" onclick="closeModal('modalConfirmacionAnticipo')">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="AutorizacionAnticipo = 1" tabindex="1" onclick="closeModal('modalConfirmacionAnticipo')">
                                Continuar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--VENTANAS CONFIRMACIONES-->
    <div class="modal fade" id="ModalRechazarTurno" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Causa Rechazo Turno</label>
                                <select name="cmbTipoVehi" class="form-control" ng-model="CausaCancelacion" ng-options="i.Nombre for i in ListadoCausas"></select>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Observaciones</label>
                                <input name="cmbTipoVehi" class="form-control" ng-model="CausaAnulacion" maxlength="150" />
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" onclick="showModal('ModalConfirmacionRechazarTurno')">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--VENTANAS CONFIRMACIONES-->
    <div class="modal fade" id="ModalConfirmacionRechazarTurno" tabindex="-1" role="alert" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Esta seguro de rechazar el vehículo {{ModalPlaca.Placa}} ?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" tabindex="1" onclick="closeModal('ModalConfirmacionRechazarTurno',1)">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="RechazarVehiculo()" tabindex="1" onclick="closeModal('ModalConfirmacionRechazarTurno')">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
