﻿<div >
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>INDICADORES PAQUETERIA</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="box-body">
                    <div class="row">

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Tipo Indicador</label>
                                <select name="cmbIndicadores" class="form-control" ng-model="Indicador" ng-options="i.Nombre for i in ListadoIndicadores | orderBy: 'Nombre'"></select>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="fechaInicial">Fecha Inicial</label>
                                <input name="fechaInicial" type="date" class="form-control" ng-model="Modelo.FechaInicial">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="fechaFinal">Fecha Final</label>
                                <input name="fechaFinal" type="date" class="form-control" ng-model="Modelo.FechaFinal">
                            </div>
                        </div>



                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Oficina</label>
                                <input tabindex="1" maxlength="60" type="text" class="form-control" placeholder="Ingrese un Valor" ng-model="Modelo.Oficina" ng-disabled="Deshabilitar" autocomplete="off"
                                       uib-typeahead="Oficina as Oficina.Nombre for Oficina in ListadoOficinas | filter:$viewValue | limitTo: 5" ng-required="false"
                                       ng-blur="Modelo.Oficina=VerificarAutocomplete(Modelo.Oficina)">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Cliente</label>
                                <input tabindex="1" maxlength="60" type="text" class="form-control" placeholder="Ingrese un Valor" ng-model="Modelo.Cliente" ng-disabled="DeshabilitarCliente || Deshabilitar" autocomplete="off"
                                       uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in AutocompleteCliente($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false"
                                       ng-blur="Modelo.Cliente=VerificarAutocomplete(Modelo.Cliente); CargarTarifarioCliente(Modelo.Cliente)">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Producto</label>
                                <input tabindex="1" maxlength="60" type="text" class="form-control" placeholder="Ingrese un Valor" ng-model="Modelo.Producto" ng-disabled="Deshabilitar" autocomplete="off"
                                       uib-typeahead="Producto as Producto.Nombre for Producto in ListadoProductos | filter:$viewValue | limitTo: 5" ng-required="false"
                                       ng-blur="Modelo.Producto=VerificarAutocomplete(Modelo.Producto)">
                            </div>
                        </div>


                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Forma De Pago </label>
                                <select name="cmbEstado" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" ng-model="FormaPago" ng-options="i.Nombre for i in ListadoFormaPago | orderBy: 'Nombre'" ng-disabled="Deshabilitar">
                                    
                                </select>
                            </div>
                        </div>






                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Tipo Gráfica</label>
                                <select name="cmbPuntoGestion" class="form-control" ng-model="Modelo.TipoGrafica" ng-options="i.Nombre for i in ListadoTiposGrafica | orderBy: 'Nombre'" ng-change="ConsultaGrafica()"></select>
                            </div>
                        </div>







                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label></label>
                                <button class="btn btn-block btn-primary" title="Buscar" ng-click="paginaActual=1;BuscarGrafica();Buscar();" ng-disabled="DeshabilitarConsulta">
                                    Buscar
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                        </div>

                        <div class="row">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" onselectstart="return false" ng-click="MostrarGrafica()">Gráfica</a></li>
                                <li><a data-toggle="tab" onselectstart="return false" ng-click="MostrarConsulta()">Consulta</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div id="Grafica">
                                <div class="row">
                                    <div class="box box-default box-solid">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="modal-body">
                                                    <div class="box-body">
                                                        <div id="donutchart" style="width: 100%; height: 600px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="ConsultaViajes">
                                <div class="row">
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="box box-default box-solid">
                                                <!--RESULTADO CONSULTA-->
                                                <div class="ResultadoConsulta">
                                                    <div class="table-responsive" ng-if="ListadoConsulta.length > 0">
                                                        <table class="table table-striped table-bordered table-hover table-condensed">
                                                            <thead>
                                                                <tr>
                                                                    <th>Número</th>
                                                                    <th>Fecha</th>
                                                                    <th>Cliente</th>
                                                                    <th>Documento Cliente</th>
                                                                    <th>Ruta</th>
                                                                    <th>Remitente</th>
                                                                    <th>Destinatario</th>
                                                                    <th>Sitio Descargue</th>
                                                                    <th>Forma De Pago</th>
                                                                    <th>Oficina Actual</th>
                                                                    <th>Oficina Crea</th>
                                                                    <th>Estado Remesa</th>
                                                                    <th>Estado Documento</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="item in ListadoConsulta">
                                                                    <td><a href="#!GestionarGuiaPaqueterias/{{item.Remesa.Numero}}">{{item.Remesa.NumeroDocumento}}</a></td>

                                                                    <td>{{item.Remesa.Fecha | date:'dd/MM/yyyy' }}</td>
                                                                    <td>{{item.Remesa.Cliente.NombreCompleto}}</td>
                                                                    <td>{{item.Remesa.NumeroDocumentoCliente}}</td>
                                                                    <td>{{item.Remesa.CiudadRemitente.Nombre}} - {{item.Remesa.CiudadDestinatario.Nombre}}</td>
                                                                    <td>{{item.Remesa.Remitente.Nombre}}</td>
                                                                    <td>{{item.Remesa.Destinatario.Nombre}}</td>
                                                                    <td>{{item.SitioDescargue.Nombre}}</td>
                                                                    <td>{{item.Remesa.FormaPago.Nombre}}</td>
                                                                    <td>{{item.OficinaActual.Nombre}}</td>
                                                                    <td>{{item.Oficina.Nombre}}</td>
                                                                    <!--<td>{{item.Remesa.Observaciones}}</td>-->
                                                                    <td>
                                                                        <span ng-if="item.EstadoGuia.Codigo == 6001 && item.Anulado == 0" class="label label-warning">RECOGIDA</span>
                                                                        <span ng-if="item.EstadoGuia.Codigo == 6005 && item.Anulado == 0" class="label label-info">OFICINA ORIGEN</span>
                                                                        <span ng-if="item.EstadoGuia.Codigo == 6010 && item.Anulado == 0" class="label label-info">DESPACHADA</span>
                                                                        <span ng-if="item.EstadoGuia.Codigo == 6015 && item.Anulado == 0" class="label label-info">TRANSITO</span>
                                                                        <span ng-if="item.EstadoGuia.Codigo == 6017 && item.Anulado == 0" class="label label-info">RECIBIDA OFICINA INTERMEDIA</span>
                                                                        <span ng-if="item.EstadoGuia.Codigo == 6020 && item.Anulado == 0" class="label label-info">RECIBIDA OFICINA DESTINO</span>
                                                                        <span ng-if="item.EstadoGuia.Codigo == 6025 && item.Anulado == 0" class="label label-info">REPARTO OFICINA DESTINO</span>
                                                                        <span ng-if="item.EstadoGuia.Codigo == 6030 && item.Anulado == 0" class="label label-success">ENTREGADA (CUMPLIDA)</span>
                                                                        <span ng-if="item.EstadoGuia.Codigo == 6035 && item.Anulado == 0" class="label label-warning">DEVUELTA OFICINA DESTINO</span>
                                                                        <span ng-if="item.EstadoGuia.Codigo == 6040 && item.Anulado == 0" class="label label-warning">DEVUELTA OFICINA ORIGEN</span>
                                                                        <span ng-if="item.Anulado == 1" class="label label-danger">ANULADO</span>
                                                                    </td>
                                                                    <td>
                                                                        <span ng-if="item.Estado == 0 && item.Anulado == 0" class="label label-warning">BORRADOR</span>
                                                                        <span ng-if="item.Estado == 1 && item.Anulado == 0" class="label label-success">DEFINITIVO</span>
                                                                        <span ng-if="item.Anulado == 1" class="label label-danger">ANULADO</span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                            <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                                                <tr>
                                                                    <td colspan="4">
                                                                        <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                                        <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                                            <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                                                <span class="item">&laquo;</span>
                                                                            </button>
                                                                            <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                                                <span class="item">&lsaquo;</span>
                                                                            </button>
                                                                            <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                                                <span class="item">&rsaquo;</span>
                                                                            </button>
                                                                            <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                                                <span class="item">&raquo;</span>
                                                                            </button>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tfoot>

                                                        </table>
                                                    </div>
                                                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                                        <span style="color:red">
                                                            <small>{{ResultadoSinRegistros}}</small>
                                                        </span>
                                                    </div>
                                                    <div style="padding:15px 0 0 0" ng-if="ListadoConsulta.length > 0">
                                                        <button class="btn btn-block btn-primary" style="width:50px; height:50px; margin-left:10px" title="Descargar en EXCEL" ng-click="DesplegarInforme()">
                                                            <img src="../../../FrontEnd/Css/img/excel.png" width="40" height="40" style="margin-left:0px" />
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--SECCIÓN BOTONES-->
                                        <!--<div class="SeccionBotones row">
                        <div class="pull-left">
                            <table>
                                <tr>
                                    <td>
                                        <button class="button mini-button btn-success" style="border-radius:5px; width:50px; height:50px; color:white; padding:5px; margin-left:10px" title="Descargar en EXCEL" ng-click="DesplegarInforme(NumeroInicial,NumeroFinal,FechaInicial,FechaFinal, 0, 1)">
                                            <span class="fa fa-file-excel-o" style="font-size:35px"></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                            <style>
                                .fa-file-pdf-o:hover {
                                    color: #58ACFA;
                                }

                                .fa-file-excel-o:hover {
                                    color: #58ACFA;
                                }
                            </style>
                        </div>
                    </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

        </form>
    </div>
</div>
