﻿<div  ng-init="InitLoad()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}} </h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <section class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="Form-Imput">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Fecha Inicial</label>
                            <input type="date" class="form-control" ng-model="Modelo.FechaInicial">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Fecha Final</label>
                            <input name="txtFechFina" type="date" class="form-control" ng-model="Modelo.FechaFinal">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <input name="NumeroInicial" class="form-control" ng-model="Modelo.NumeroInicial" placeholder="Ingrese número" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Documento</label>
                            <select class="form-control" ng-model="Modelo.DocumentoOrigen" ng-options="i.Nombre for i in ListadoDocumentoOrigen" ng-disabled="Deshabilitar"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>No. Documento</label>
                            <input class="form-control" ng-model="Modelo.NumeroDocumentoOrigen" placeholder="Ingrese No. Documento">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="lblTenedor">Tercero</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Seleccione Tercero" ng-model="Modelo.Tercero"
                                   uib-typeahead="Terc as Terc.NombreCompleto for Terc in  AutocompleteTercero($viewValue) | filter:$viewValue | limitTo: 5"
                                   ng-blur="Modelo.Tercero=VerificarAutocomplete(Modelo.Tercero)" ng-disabled="Deshabilitar">
                            <div class="btnClose" ng-click="limpiarControl('Tercero')" title="Limpiar"><span class="fas fa-times-circle"></span></div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina</label>
                            <select class="form-control" ng-model="Modelo.Oficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado Documento</label>
                            <select name="cmbEstado" class="form-control" ng-model="Modelo.Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado Cuenta</label>
                            <select class="form-control" ng-model="Modelo.EstadoCuenta" ng-options="i.Nombre for i in ListadoEstadoCuenta"></select>
                        </div>
                    </div>
                </div>
                <!--SECCIÓN BOTONES-->
                <div class="lineButtons">
                    <div class="pull-left">
                        <button class="btn btn-block btn-primary" title="Buscar" ng-click="Buscar()">
                            Buscar
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" title="Nuevo" ng-click="NuevoDocumento()">
                            Nuevo
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
                <br />
                <hr />
                <!--RESULTADO CONSULTA-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive" ng-if="ListadoCuentas.length > 0">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Número</th>
                                        <th>Fecha</th>
                                        <th>Tipo Documento Origen</th>
                                        <th>No. Documento</th>
                                        <th>Tercero</th>
                                        <th>Oficina</th>
                                        <th>Estado Documento</th>
                                        <th>Estado Cuenta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoCuentas | orderBy:'Codigo'">
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                    <span class="fa fa-list"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-left" style="overflow-y:scroll; max-height:100px; cursor:pointer">
                                                    <li>
                                                        <a ng-click="GestionObservaciones(item)">
                                                            <span class="fas fa-plus-square"></span>Adicionar Observaciones
                                                        </a>
                                                    </li>
                                                    <li ng-show="item.CreadaManual > 0 && item.Anulado == 0">
                                                        <a ng-click="Anular(item.Codigo, item.Numero)" ng-class="{'optiondisabled': DeshabilitarEliminarAnular == true}">
                                                            <span class="fas fa-trash-alt"></span> Anular
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td><a href="#!GestionarCuentasPorCobrar/{{item.Codigo}}">{{item.Numero}}</a></td>
                                        <td>{{item.Fecha | date:'dd/MM/yyyy' }}</td>
                                        <td>{{item.DocumentoOrigen.Nombre}}</td>
                                        <td>{{item.NumeroDocumentoOrigen}}</td>
                                        <td>{{item.Tercero.NombreCompleto}}</td>
                                        <td>{{item.Oficina.Nombre}}</td>
                                        <td>
                                            <span ng-if="item.Estado == 0 && item.Anulado == 0" class="label label-warning">BORRADOR</span>
                                            <span ng-if="item.Estado == 1 && item.Anulado == 0" class="label label-success">DEFINITIVO</span>
                                            <span data-toggle="tooltip" title="{{item.CausaAnulacion}}" ng-if="item.Anulado == 1" class="label label-danger">ANULADO</span>
                                        </td>
                                        <td>
                                            <span ng-if="item.EstadoCuenta == 0" class="label label-warning">VIGENTE</span>
                                            <span ng-if="item.EstadoCuenta == 1" class="label label-success">CANCELADA</span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                    <tr>
                                        <td colspan="14">
                                            <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                            <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>

                            </table>
                        </div>
                        <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                            <span style="color:red">
                                <small>{{ResultadoSinRegistros}}</small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!--Modal Observaciones-->
    <div class="modal fade" id="modalObservaciones" tabindex="-1" role="dialog" aria-labelledby="modalObservaciones" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Observaciones Cuentas Por Cobrar</strong>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="alert alert-danger" role="alert" ng-if="MensajesErrorObser.length > 0">
                                    <ul>
                                        <li ng-repeat="error in MensajesErrorObser">
                                            <span>{{error}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Número Cuenta</label>
                                    <input class="form-control" ng-model="Model.Numero" placeholder="Ingrese número" ng-change="MaskNumero()" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Observaciones</label>
                                <div class="form-group">
                                    <textarea maxlength="250" type="text" class="form-control" ng-model="Model.Observaciones" ng-change="MaskMayus()" ng-required="false"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-4 col-xs-12">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-success" title="Adicionar" ng-click="AgregarTmpObservaciones()">
                                        Adicionar
                                        <span class="glyphicon glyphicon-ok-circle"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive" ng-if="ListadoDetalleObservaciones.length > 0">
                                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Fecha</th>
                                                <th>Usuario</th>
                                                <th>Observaciones</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in ListadoDetalleObservaciones">
                                                <td>{{item.FechaCrea | date:'dd/MM/yyyy' }}</td>
                                                <td>{{item.UsuarioCrea.Nombre}}</td>
                                                <td>{{item.Observaciones}}</td>
                                                <td>
                                                    <button class="button mini-button btn-danger" title="Eliminar" ng-click="RemoverObservacion($index);" ng-disabled="Deshabilitar || item.Eliminar != 1">
                                                        <span class="fas fa-trash-alt"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmarAgregarObservacion()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal Observaciones-->
    <!--Modal Confirmar Guardar-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" aria-labelledby="modalConfirmacionGuardar" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="AgregarObservacion()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Confirmar Guardar-->
    <!--Modal Anular-->
    <div class="modal fade" id="modalAnular" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            Anular
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorAnula.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesErrorAnula">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                        <p>¿Está seguro de Anular la Cuenta por Cobrar No. {{NumeroAnular}}?</p>
                        <label>Causa Anulación</label>
                        <input class="form-control" ng-model="CausaAnula" placeholder="Ingrese una Causa" maxlength="40">
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmaAnular()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Anular-->
</div>