﻿<div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fechaInicial">Fecha Inicial</label>
                            <input name="fechaInicial" type="date" class="form-control" ng-model="FechaInicio">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fechaFinal">Fecha Final</label>
                            <input name="fechaFinal" type="date" class="form-control" ng-model="FechaFin">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="numero">Número</label>
                            <input name="numero" ng-change="MaskNumero()" maxlength="15" class="form-control" ng-model="NumeroDocumento" placeholder="Ingrese un número">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="oficina">Oficina</label>
                            <select name="oficina" class="form-control" ng-model="Oficina" ng-options="i.Nombre for i in ListadoOficinas | orderBy: 'Nombre'"></select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="documentoOrigen">Documento Origen</label>
                            <select name="documentoOrigen" class="form-control" ng-model="DocumentoOrigen" ng-options="i.Nombre for i in ListadoDocumentosOrigen | orderBy: 'Nombre'"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="numeroDocumento">No. Documento Origen</label>
                            <input name="numeroDocumento" ng-change="MaskNumero()" maxlength="15" class="form-control" ng-model="NumeroDocumentoOrigen" placeholder="Ingrese un número documento">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tercero</label>
                            <input class="form-control" maxlength="50" type="text" name="tercero" ng-model="Tercero" placeholder="Digite el nombre del tercero">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Beneficiario</label>
                            <input class="form-control" maxlength="50" type="text" name="beneficiario" ng-model="Beneficiario" placeholder="Digite el nombre del beneficiario">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <select name="estado" class="form-control" ng-model="Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" ng-click="Buscar()" ng-disabled="DeshabilitarConsulta" title="Buscar">
                        Buscar
                        <span class="glyphicon glyphicon-filter"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-block btn-primary" ng-disabled="DeshabilitarActualizar" ng-click="NuevoDocumento()" title="Nuevo Comprobante">
                        Nuevo
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoComprobanteEgreso.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Número</th>
                                <th>Fecha</th>
                                <th>Tercero</th>
                                <th>Beneficiario</th>
                                <th>Oficina</th>
                                <th>Documento Origen</th>
                                <th>No.Documento Origen</th>
                                <th>Valor Comprobante</th>
                                <th>Estado</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoComprobanteEgreso">
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                            <span class="fa fa-list"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-left" style="overflow-y:scroll; max-height:100px">
                                            <li>
                                                <a ng-click="GenerarMovimientoContable(item.Codigo)" ng-disabled="DeshabilitarImprimir" ng-show="item.Estado == 1 && item.Anulado == 0">
                                                    <span class="fa fa-file"></span>Generar Movimiento
                                                </a>
                                            </li>

                                            <li>
                                                <a ng-click="DesplegarInforme(item.Codigo,1, 0)" ng-disabled="DeshabilitarImprimir" ng-show="item.Estado == 1 && item.Anulado == 0">
                                                    <span class="glyphicon glyphicon-print"></span>Imprimir Reporte
                                                </a>
                                            </li>

                                            <li>
                                                <a ng-show="item.Anulado == 0" title="Anular" ng-click="ConfirmacionAnularComprobante(item.Numero,item.Anulado, item.OficinaDestino, item.Codigo)" ng-disabled="DeshabilitarEliminarAnular">
                                                    <span class="fas fa-trash-alt" style="margin-right:10px;"></span>Anular
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </td>
                                <td><a href="#!GestionarComprobanteEgresos/{{item.Codigo}}">{{item.Numero}}</a></td>
                                <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                <td>{{item.Tercero.Nombre}}</td>
                                <td>{{item.Beneficiario.Nombre}}</td>
                                <td>{{item.OficinaDestino.Nombre}}</td>
                                <td>{{item.DocumentoOrigen.Nombre}}</td>
                                <td>{{item.NumeroDocumentoOrigen}}</td>
                                <td class="text-right">{{item.ValorPagoTotal | number:0}}</td>
                                <td>
                                    <span ng-if="item.Anulado == 1" class="label pull-center bg-red">Anulado</span>
                                    <span ng-if="item.Estado == 1 && item.Anulado == 0" class="label label-success">Definitivo</span>
                                    <span ng-if="item.Estado == 0 && item.Anulado == 0" class="label label-warning">Borrador</span>
                                    <span ng-if="item.Estado == 2 && item.Anulado == 0" class="label label-info">Sin Aprobar</span>
                                </td>

                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <!-- Modal Confirmación Anular Comprobante -->
    <div class="modal fade" id="modalConfirmacionAnularComprobante" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de anular el comprobante No. {{NumeroAnulacion}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="SolicitarDatosAnulacion()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!-- Modal Asignar datos anulación-->
    <div class="modal fade" id="modalDatosAnularComprobante" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">

                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>Comprobante de Egreso No. {{NumeroAnulacion}}</p>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="causaAnulacion">Causa Anulación<small class="small">*</small></label>
                                    <input class="form-control" name="causaAnulacion" type="text" ng-model="CausaAnulacion">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="fechaAnulacion">Fecha Anulación</label>
                                    <span class="form-control">{{FechaAnulacion | date: 'dd/MM/yyyy HH:MM'}}</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Usuario anula</label>
                                    <span class="form-control"> {{Sesion.Identificador}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Anular()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>