﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <br />
                            <span> {{Modelo.Numero}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fecha">Fecha </label>
                            <input name="fecha" type="date" class="form-control" ng-model="Modelo.Fecha" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="tercero">Tercero</label>
                            <input type="text" class="form-control" maxlength="18" placeholder="Tercero" ng-model="Modelo.Tercero" ng-disabled="Deshabilitar"
                                   uib-typeahead="terc as terc.NombreCompleto for terc in ListadoTerceros| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="Modelo.Tercero=VerificarAutocomplete(Modelo.Tercero);ListaCXC= [];CalcularGeneral();AsignarBeneficiario()" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="beneficiario">Beneficiario</label>
                            <input type="text" class="form-control" maxlength="18" placeholder="Beneficiario" ng-model="Modelo.Beneficiario" ng-disabled="Deshabilitar"
                                   uib-typeahead="bene as bene.NombreCompleto for bene in ListadoTerceros| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="Modelo.Beneficiario=VerificarAutocomplete(Modelo.Beneficiario);CalcularGeneral()" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="documentoOrigen">Documento Origen</label>
                            <select name="documentoOrigen" class="form-control" ng-disabled="Deshabilitar" ng-model="Modelo.DocumentoOrigen" ng-options="i.Nombre for i in ListadoDocumentosOrigen"
                                    ng-change="ListaCXC= [];CalcularGeneral();Modelo.NumeroDocumentoOrigen = ''"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="numeroDocumento">No. Documento</label>
                            <input name="numeroDocumento" ng-change="MaskNumero()" maxlength="15" ng-disabled="Modelo.DocumentoOrigen.Codigo == 2604" class="form-control" ng-model="Modelo.NumeroDocumentoOrigen" placeholder="Ingrese un Número Documento" ng-blur="ValidarDocumento(Modelo.NumeroDocumentoOrigen)">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="oficina">Oficina Destino</label>
                            <select name="oficina" class="form-control" ng-disabled="Deshabilitar" ng-model="Modelo.OficinaDestino" ng-options="i.Nombre for i in ListadoOficinas" ng-blur="AsignarOficinaDestino(Modelo.OficinaDestino)"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="formapago">Medio Pago</label>
                            <select name="formapago" class="form-control" ng-disabled="Deshabilitar" ng-change="validarFormaPago();CalcularGeneral()" ng-model="Modelo.FormaPagoRecaudo" ng-options="i.Nombre for i in ListaFormaPago" ng-blur="ValidarFormaPago(Modelo.OficinaDestino)"></select>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <div class="input-control text full-size" data-role="input">
                                <label for="observaciones">Observaciones</label>
                                <textarea class="form-control" maxlength="200" name="observaciones" type="text" ng-model="Modelo.Observaciones" ng-blur="AsignarObservaciones(Observaciones)" ng-disabled="Deshabilitar"></textarea>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-2 col-sm-4 col-xs-12">
                        <label for=""></label>
                        <button class="btn btn-block btn-primary" ng-click="ConsultarCXC()" ng-disabled="Deshabilitar" title="Buscar CXC">
                            Buscar CXC
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>-->
                </div>
                <!-- ------------------------------------------------------------- -->
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title"> CUENTAS PENDIENTES POR COBRAR</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" ng-disabled="Deshabilitar" ng-click="HabilitarConsignacion()"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorCXC.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesErrorCXC">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="documentoOrigen">Documento Origen</label>
                                    <input name="documentoOrigen" class="form-control" ng-model="Modelo.DocumentoOrigen.Nombre" disabled />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="numeroDocumento">No. Documento</label>
                                    <input name="numeroDocumento" ng-change="MaskNumero()" maxlength="15" class="form-control" ng-model="NumeroDocumentoOrigen" placeholder="Ingrese un Número Documento" ng-blur="ValidarDocumento(Modelo.NumeroDocumentoOrigen)">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="oficina">Oficina</label>
                                    <select name="oficina" class="form-control" ng-disabled="Deshabilitar" ng-model="Oficina" ng-options="i.Nombre for i in ListadoOficinas" ng-blur="AsignarOficinaDestino(Modelo.OficinaDestino)"></select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFechIni">Fecha Inicial</label>
                                    <input name="txtFechIni" type="date" class="form-control" ng-model="FechaInicio">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFechFin">Fecha Final</label>
                                    <input name="txtFechFin" type="date" class="form-control" ng-model="FechaFin">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <label for=""></label>
                                <button class="btn btn-block btn-primary" ng-click="ConsultarCXC()" ng-disabled="Deshabilitar" title="Buscar CXC">
                                    Buscar CXC
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                        <div id="resultadoConsulta" class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Tercero</th>
                                        <th>No. Documento</th>
                                        <th>Fecha Documento</th>
                                        <th>Val. Pagar</th>
                                        <th>Saldo</th>
                                        <th>Abono</th>
                                        <th>Observaciones</th>
                                        <th style="text-align:right">
                                            <label>
                                                Marc./Desma. Todo
                                                <input type="checkbox" ng-click="MarcarCuentas()" ng-model="CuentasSeleccionados" title="Marcar o Desmarcar todos los recorridos" ng-disabled="Deshabilitar" />
                                            </label>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListaCXC">
                                        <td>{{item.Tercero.Nombre}}</td>
                                        <td>{{item.NumeroDocumento}}</td>
                                        <td>{{item.FechaDocumento | date:'dd/MM/yyyy'}}</td>

                                        <td>
                                            <input type="text" style="text-align:right" ng-model="item.ValorPagar" maxlength="10" placeholder="Ingrese un valor" ng-change="MaskValores()" ng-blur="Calcular(item)" />
                                        </td>

                                        <td style="text-align:right">{{item.Saldo | number :0}}</td>
                                        <td style="text-align:right">{{item.Abono | number :0}}</td>
                                        <td>{{item.Observaciones}}</td>

                                        <td style="text-align:center">
                                            <label>
                                                <input type="checkbox" ng-model="item.Seleccionado" ng-click="ValidarSeleccion(item)" ng-disabled="Deshabilitar" />
                                            </label>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                    <tr>
                                        <td colspan="4">
                                            <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                            <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                                <tfoot ng-if="totalRegistros == 0 && Buscando == false">
                                    <tr>
                                        <td colspan="4" style="color:red; text-align:center">
                                            <small>{{ResultadoSinRegistros}}</small>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="box box-default box-solid" ng-show="ActivarConsignacion">
                        <div class="box-header with-border">
                            <h3 class="box-title"> TRANSFERENCIA</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-disabled="Deshabilitar" ng-click="HabilitarConsignacion()"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="CuentaBancariaConsig">Cuenta Bancaria</label>
                                    <select name="CuentaBancariaConsig" class="form-control" ng-model="Modelo.CuentaBancariaConsignacion" ng-disabled="Deshabilitar" ng-options="i.NombreCuenta for i in ListadoCuentaBancarias"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="FechaConsignacion">Fecha </label>
                                    <input name="FechaConsignacion" type="date" class="form-control" ng-model="Modelo.FechaConsignacion" ng-disabled="Deshabilitar">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="valorconsignacion"> Valor</label>
                                    <input name="valorconsignacion" ng-change="MaskValores()" maxlength="15" style="text-align:right" class="form-control" ng-model="Modelo.ValorPagoTransferencia" disabled placeholder="Ingrese un Valor ">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="NumeroConsignacion">Número </label>
                                    <input name="NumeroConsignacion" ng-change="MaskNumero()" maxlength="15" class="form-control" ng-model="Modelo.NumeroConsignacion" ng-disabled="Deshabilitar" placeholder="Ingrese un Número de Consignacion">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ------------------------------------------------------------- -->
                    <div class="box box-default box-solid" ng-show="ActivarCheque">
                        <div class="box-header with-border">
                            <h3 class="box-title"> CHEQUE</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-disabled="Deshabilitar" ng-click="HabilitarCheque()"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="cuentabancaria">Cuenta Bancaria</label>
                                    <select name="cuentabancaria" class="form-control" ng-model="Modelo.CuentaBancariaCheque" ng-disabled="Deshabilitar" ng-options="i.NombreCuenta for i in ListadoCuentaBancarias"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="fecha">Fecha </label>
                                    <input name="fecha" type="date" class="form-control" ng-model="Modelo.FechaCheque" ng-disabled="Deshabilitar" ng-blur="AsignarFecha(FechaCheque)">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="cheque">Cheque</label>
                                    <input name="cheque" ng-change="MaskNumero()" maxlength="15" class="form-control" ng-model="Modelo.NumeroCheque" ng-disabled="Deshabilitar" placeholder="Ingrese un Número de Cheque">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="valorcheque">Valor</label>
                                    <input name="valorcheque" ng-change="MaskValores()" maxlength="15" style="text-align:right" class="form-control" ng-model="Modelo.ValorPagoCheque" disabled placeholder="Ingrese un Valor">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ------------------------------------------------------------- -->
                    <div class="box box-default box-solid" ng-show="ActivarEfectivo">
                        <div class="box-header with-border">
                            <h3 class="box-title"> EFECTIVO</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-disabled="Deshabilitar" ng-click="HabilitarEfectivo()"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="caja">Caja</label>
                                    <select name="caja" class="form-control" ng-model="Modelo.Caja" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoCajaOficinas"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="valor">Valor</label>
                                    <span class="form-control align-right">{{Modelo.ValorPagoEfectivo | number :0}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ------------------------------------------------------------- -->
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title"> Concepto Contable</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="ConceptoContable">Concepto Contable</label>
                                    <select name="ConceptoContable" class="form-control" ng-model="Modelo.ConceptoContable" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoConceptoContable"></select>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <label for=""></label>
                                <button class="btn btn-block btn-primary" ng-click="ConsultarMovimiento()" ng-disabled="Deshabilitar" title="Nuevo Movimiento">
                                    Cargar Cuentas PUC
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title"> Información Movimientos</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <label></label>
                                <button class="btn btn-block btn-primary" ng-click="ModalMovimiento()" ng-disabled="Deshabilitar" title="Nuevo Movimiento">
                                    Adicionar
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <label for=""></label>
                                <button class="btn btn-block btn-primary" ng-click="LimpiarMovimiento()" ng-disabled="Deshabilitar" title="Limpiar">
                                    Limpiar
                                    <span class="glyphicon glyphicon-refresh"></span>
                                </button>
                            </div>
                        </div>

                        <div id="resultadoConsulta" class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Número Cuenta</th>
                                        <th>Nombre Cuenta</th>
                                        <th style="text-align:right">Valor Base</th>
                                        <th style="text-align:right">Débito</th>
                                        <th style="text-align:right">Crédito</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoMovimiento">
                                        <td>{{item.CuentaPUC.CodigoCuenta}}</td>
                                        <td>{{item.CuentaPUC.Nombre}}</td>
                                        <td style="text-align:right">{{item.ValorBase | number :0}}</td>
                                        <td style="text-align:right">{{item.ValorDebito | number :0}}</td>
                                        <td style="text-align:right">{{item.ValorCredito | number :0}}</td>
                                        <td>
                                            <button class="button mini-button  btn-danger" title="Anular" ng-click="ConfirmacionEliminarMovimiento($index)" ng-disabled="Deshabilitar == true">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title"> Totales</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Débito</label>
                                <span class="form-control" style="text-align:right"> {{Modelo.Debito | number :0}}</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Crédito</label>
                                <span class="form-control" style="text-align:right"> {{Modelo.Credito | number :0}}</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Diferencia</label>
                                <span class="form-control" style="text-align:right"> {{Modelo.Diferencia | number :0}}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label>Oficina</label>
                    <input name="cmbOficina" class="form-control" ng-model="Oficina" uib-typeahead="i as i.Nombre for i in ListadoOficinas| filter:$viewValue" disabled>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <select name="estado" class="form-control" ng-disabled="Deshabilitar" ng-model="Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                </div>
            </div>
            <br />
            <br />
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" ng-disabled="Deshabilitar" title="Aceptar" ng-click="ConfirmacionGuardar()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <!-- Modal Informacion Movimiento-->
    <div class="modal fade" id="modalMovimiento" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-content">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">
                            Nueva Cuenta
                        </h3>
                    </div>
                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorMovimiento.length > 0">
                        <ul>
                            <li ng-repeat="error in MensajesErrorMovimiento">
                                <span>{{error}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="cuentapuc">Cuenta PUC</label>
                                    <input ng-disabled="Deshabilitar" type="text" class="form-control" name="cmbCuentaPuc" id="cmbCuentaPuc" placeholder="Seleccione una Cuenta" ng-model="Modal.CuentaPUC" typeahead-no-results="myform.cmbCuentaPuc.$error.required" uib-typeahead="cuenta as cuenta.Nombre for cuenta in ListadoCuentasPUC| filter:$viewValue | limitTo: 5" ng-required="false">
                                    <div ng-if="myform.cmbCuentaPuc.$error.required ">
                                        <i class="glyphicon glyphicon-remove"></i><small class="errorField"> La cuenta ingresada no existe en el sistema</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>Número Identificación<small class="small">*</small></label>
                                    <input ng-change="MaskNumero()" name="identificacionnn" class="form-control" ng-disabled="SoloLecturaPasajero" type="text" maxlength="15" ng-model="Modal.TerceroModal.NumeroIdentificacion" placeholder="Digite el número de identificación del tercero" ng-blur="ValidarTerceroModal(Modal.TerceroModal.NumeroIdentificacion)">
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="modaltercero">Tercero</label>
                                    <span class="form-control"> {{Modal.TerceroModal.NombreCompleto}}</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="valorbase">Valor Base</label>
                                    <input name="valorbase" ng-change="MaskValores()" maxlength="15" style="text-align:right" class="form-control" ng-model="Modal.ValorBase" placeholder="Ingrese un valor base">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="debito">Débito</label>
                                    <input name="debito" ng-change="MaskValores()" maxlength="15" style="text-align:right" class="form-control" ng-model="Modal.ValorDebito" placeholder="Ingrese un valor debito">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="credito">Crédito</label>
                                    <input name="credito" ng-change="MaskValores()" maxlength="15" style="text-align:right" class="form-control" ng-model="Modal.ValorCredito" placeholder="Ingrese un valor credito">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarMovimiento()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmación Eliminar Movimiento -->
    <div class="modal fade" id="modalEliminarMovimiento" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Esta seguro que desea eliminar el Movimiento ?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Eliminar tarifa" ng-click="EliminarMovimiento(Indice)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>