﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            GENERAR PAGOS MASIVOS
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesErrorcxp.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesErrorcxp">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <br />
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" onselectstart="return false" ng-click="MostrarTabGenerarEgresos()">Generar Egresos</a></li>
                        <li><a data-toggle="tab" onselectstart="return false" ng-click="MostrarTabGeneraryCargarArchivoBancolombia()">Bancolombia</a></li>

                    </ul>
                </div>
                <div id="TabGenerarEgresos">
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="documentoOrigen">Documento Origen</label>
                                <select name="documentoOrigen" class="form-control" ng-disabled="Deshabilitar" ng-model="Modelo.DocumentoOrigen" ng-options="i.Nombre for i in ListadoDocumentosOrigen | orderBy: 'Nombre'"
                                        ng-change="ListaCXP= [];CalcularGeneral();Modelo.NumeroDocumentoOrigen = ''"></select>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="fecha">Fecha Inicio</label>
                                <input name="fecha" type="date" class="form-control" ng-model="Modelo.FechaInicio">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="fecha">Fecha Fin</label>
                                <input name="fecha" type="date" class="form-control" ng-model="Modelo.FechaFin">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="tercero">Tercero</label>
                                <input type="text" class="form-control" maxlength="50" placeholder="Tercero" ng-model="Modelo.Tercero" ng-disabled="Deshabilitar"
                                       uib-typeahead="terc as terc.NombreCompleto for terc in AutocompleteTerceros($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                       ng-change="MaskMayus()"
                                       ng-blur="Modelo.Tercero=VerificarAutocomplete(Modelo.Tercero);ObtenerTercero();ListaCXP= [];CalcularGeneral();" />
                            </div>
                        </div>


                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="oficina">Oficina</label>
                                <select name="oficina" class="form-control" ng-model=" Modelo.OficinaDestino" ng-options="i.Nombre for i in ListadoOficinas | orderBy: 'Nombre'" ng-blur="AsignarOficinaDestino(Modelo.Oficina)"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-12">

                            <button class="btn btn-block btn-primary" ng-click="ConsultarCXP()" ng-disabled="Deshabilitar" title="Buscar CXP">
                                Buscar CXP
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12 pull-right" ng-show="!PagoUnificado">
                            <div class="col-md-12 col-sm-12 col-xs-12 pull-left">
                                <button class="btn btn-block btn-primary" ng-click="GenerarEgresos()" ng-disabled="Deshabilitar" title="Buscar CXP">
                                    Generar Egresos
                                </button>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12 pull-right" ng-show="PagoUnificado">
                            <div class="col-md-12 col-sm-12 col-xs-12 pull-left">
                                <button class="btn btn-block btn-primary" ng-click="GenerarPagoUnificado()" ng-disabled="Deshabilitar" title="Buscar CXP">
                                    Pago Unificado
                                </button>
                            </div>
                        </div>
                        
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />


                    <div id="resultadoConsulta" class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                            <thead>
                                <tr>
                                    <th>No. Documento</th>
                                    <th>Fecha</th>
                                    <th>Tercero</th>
                                    <th>Cta. Destino</th>
                                    <th>Tipo</th>
                                    <th>Banco Destino</th>
                                    <th>Val. Pagar</th>
                                    <th>Medio Pago</th>
                                    <th>Cta Origen</th>
                                    <th style="text-align:right">
                                        <label>
                                            Generar Egreso
                                            <input type="checkbox" ng-click="MarcarEgresos()" ng-model="CuentasSeleccionados" title="Marcar o Desmarcar todos los recorridos" />
                                        </label>
                                    </th>
                                    <th>Fecha Pago</th>
                                    <th>Obs.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ListaCXP | orderBy: '-FechaDocumento'">
                                    <td align="right">{{item.NumeroDocumentoGrid}}</td>
                                    <td>{{item.FechaDocumento | date:'dd/MM/yyyy'}}</td>
                                    <td>{{item.Tercero.NombreCompleto}}</td>
                                    <td>{{item.NumeroCuentaBancaria}}</td>
                                    <td ng-show="item.NombreTipoCuenta == 'AHORROS'">A</td>
                                    <td ng-show="item.NombreTipoCuenta != 'AHORROS' && item.NombreTipoCuenta != '(NO APLICA)'">C</td>
                                    <td ng-show="item.NombreTipoCuenta == '(NO APLICA)'">N/A</td>
                                    <td>{{item.NombreBanco}}</td>
                                    <td>
                                        <input class="form-control" type="text" style="text-align:right" ng-model="item.ValorPagar" maxlength="10" placeholder="Ingrese un valor" ng-change="item.ValorPagar = MaskValoresGrid(item.ValorPagar)" ng-blur="Calcular(item)" disabled/>
                                    </td>
                                    <td>
                                        <select name="formapago" class="form-control" ng-change="CargarCuentasOrigen(item)" ng-model="item.MedioPago" ng-options="i.Nombre for i in ListaFormaPago" ng-blur=""></select>
                                    </td>
                                    <td>
                                        <select name="formapago" class="form-control" ng-model="item.CuentaOrigen" ng-options="i.NombreCuenta for i in item.ListadoCuentasOrigen"></select>
                                    </td>


                                    <td style="text-align:center">
                                        <label>
                                            <input type="checkbox" ng-model="item.GeneraEgreso" ng-click="CalcularTotales()" ng-disabled="item.DeshabilitarCheckEgreso" />
                                        </label>
                                    </td>

                                    <td><input name="FechaPago" type="date" class="form-control" ng-model="item.FechaPago"></td>
                                    <td style="min-width:100px">

                                        <a uib-popover-template="'myPopoverTemplate2.html'" popover-is-open="item1.visible" popover-class="increase-popover-width" popover-placement="left-bottom " popover-title="Observaciones" popover-trigger="'outsideClick'" href="" data-toggle="tooltip" title={{item1.Observaciones}}>

                                            ...Ver más
                                        </a>
                                        <div>
                                            <script type="text/ng-template" id="myPopoverTemplate2.html">
                                                <div class="col-md-12 col-sm-12 col-xs-12" style="min-width:550px">
                                                    <div class="form-group">
                                                        <label>Observaciones</label>
                                                        <textarea class="form-control" ng-model="item.Observaciones"></textarea>
                                                    </div>
                                                </div>
                                            </script>
                                        </div>

                                    </td>
                                </tr>
                            </tbody>
                            <tfoot ng-show="ListaCXP.length > 0">
                                <tr>
                                    <td colspan="4">
                                        <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                        <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                            <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                <span class="item">&laquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                <span class="item">&lsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                <span class="item">&rsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                <span class="item">&raquo;</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                            <tfoot ng-show="totalRegistros == 0">
                                <tr>
                                    <td colspan="8" style="color:red; text-align:center">
                                        <small>{{ResultadoSinRegistros}}</small>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>


                    <div class="box box-default box-solid" ng-show="ActivarConsignacion">
                        <div class="box-header with-border">
                            <h3 class="box-title"> TRANSFERENCIA</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-disabled="Deshabilitar" ng-click="HabilitarConsignacion()"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="CuentaBancariaConsig">Cuenta Bancaria</label>
                                    <select name="CuentaBancariaConsig" class="form-control" ng-model="Modelo.CuentaBancariaConsignacion" ng-disabled="Deshabilitar" ng-options="i.NombreCuenta for i in ListadoCuentaBancarias"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="FechaConsignacion">Fecha </label>
                                    <input name="FechaConsignacion" type="date" class="form-control" ng-model="Modelo.FechaConsignacion" ng-disabled="Deshabilitar">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Valor</label>
                                    <span class="form-control align-right">{{Modelo.ValorPagoTransferencia | number :0}}</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="NumeroConsignacion">Número </label>
                                    <input name="NumeroConsignacion" ng-change="MaskNumero()" maxlength="15" class="form-control" ng-model="Modelo.NumeroConsignacion" ng-disabled="Deshabilitar" placeholder="Ingrese un Número de Consignacion">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box box-default box-solid" ng-show="ActivarCambista">
                        <div class="box-header with-border">
                            <h3 class="box-title">CAMBISTA</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-disabled="Deshabilitar" ng-click="HabilitarConsignacion()"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="CuentaBancariaConsig">Cuenta Cambista</label>
                                    <select name="CuentaBancariaConsig" class="form-control" ng-model="Modelo.CuentaBancariaConsignacion" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoCuentaCambistas | orderBy:'Codigo'"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="FechaConsignacion">Fecha </label>
                                    <input name="FechaConsignacion" type="date" class="form-control" ng-model="Modelo.FechaConsignacion" ng-disabled="Deshabilitar">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Valor</label>
                                    <span class="form-control align-right">{{Modelo.ValorPagoTransferencia | number :0}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ------------------------------------------------------------- -->
                    <div class="box box-default box-solid" ng-show="ActivarCheque">
                        <div class="box-header with-border">
                            <h3 class="box-title"> CHEQUE</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-disabled="Deshabilitar" ng-click="HabilitarCheque()"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="cuentabancaria">Cuenta Bancaria</label>
                                    <select name="cuentabancaria" class="form-control" ng-model="Modelo.CuentaBancariaCheque" ng-disabled="Deshabilitar" ng-options="i.NombreCuenta for i in ListadoCuentaBancarias"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="fecha">Fecha </label>
                                    <input name="fecha" type="date" class="form-control" ng-model="Modelo.FechaCheque" ng-disabled="Deshabilitar" ng-blur="AsignarFecha(FechaCheque)">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="cheque">Cheque</label>
                                    <input name="cheque" ng-change="MaskNumero()" maxlength="15" class="form-control" ng-model="Modelo.NumeroCheque" ng-disabled="Deshabilitar" placeholder="Ingrese un Número de Cheque">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="valorcheque">Valor</label>
                                    <input name="valorcheque" ng-change="MaskValores()" maxlength="15" style="text-align:right" class="form-control" ng-model="Modelo.ValorPagoCheque" disabled placeholder="Ingrese un Valor">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ------------------------------------------------------------- -->
                    <div class="box box-default box-solid" ng-show="ActivarEfectivo">
                        <div class="box-header with-border">
                            <h3 class="box-title"> EFECTIVO</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-disabled="Deshabilitar" ng-click="HabilitarEfectivo()"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="caja">Caja</label>
                                    <select name="caja" class="form-control" ng-model="Modelo.Caja" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoCajaOficinas"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="valor">Valor</label>
                                    <span class="form-control align-right">{{Modelo.ValorPagoEfectivo | number :0}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ------------------------------------------------------------- -->

                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title"> Totales</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Total Pendiente</label>
                                    <span class="form-control" style="text-align:right" disabled> {{Modelo.TotalPendiente | number :0}}</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Total Traslado</label>
                                    <span class="form-control" style="text-align:right" disabled> {{Modelo.TotalTraslado | number :0}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="TabGeneraryCargarArchivoBancolombia">
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="documentoOrigen">Documento Origen</label>
                                <select name="documentoOrigen" class="form-control" ng-disabled="Deshabilitar" ng-model="Modelo.DocumentoOrigenEgresos" ng-options="i.Nombre for i in ListadoDocumentosOrigen | orderBy: 'Nombre'"
                                        ng-change="ListaCXPconEgresos= [];Modelo.NumeroDocumentoOrigenEgresos = ''"></select>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="fecha">Fecha Inicio</label>
                                <input name="fecha" type="date" class="form-control" ng-model="Modelo.FechaInicioEgresos">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="fecha">Fecha Fin</label>
                                <input name="fecha" type="date" class="form-control" ng-model="Modelo.FechaFinEgresos">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="tercero">Tercero</label>
                                <input type="text" class="form-control" maxlength="50" placeholder="Tercero" ng-model="Modelo.TerceroEgresos" ng-disabled="Deshabilitar"
                                       uib-typeahead="terc as terc.NombreCompleto for terc in AutocompleteTerceros($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                       ng-change="MaskMayus()"
                                       ng-blur="Modelo.TerceroEgresos=VerificarAutocomplete(Modelo.TerceroEgresos);ObtenerTerceroEgresos();ListaCXPconEgresos= []" />
                            </div>
                        </div>


                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="oficina">Oficina</label>
                                <select name="oficina" class="form-control" ng-model=" Modelo.OficinaDestinoEgresos" ng-options="i.Nombre for i in ListadoOficinas | orderBy: 'Nombre'"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-12">

                            <button class="btn btn-block btn-primary" ng-click="ConsultarCXPconEgresos()" ng-disabled="Deshabilitar" title="Buscar CXP">
                                Buscar
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                        <div class="col-md-8 col-sm-4 col-xs-12 pull-right">

                            <div class="col-md-4 col-sm-4 col-xs-12 pull-right" style="padding-right : 0px">

                                <div class="btn btn-primary btn-file" title="Importar Excel" ng-disabled="Deshabilitar" style="max-height:34px;overflow:hidden" ng-show="DataArchivo.length == 0">
                                    Importar
                                    <input id="filePrincipal" type="file" name="xlfile" ng-model-instant onchange="angular.element(this).scope().handleFile(this)" class="" style="max-height:34px">
                                </div>
                                <div class="btn btn-primary btn-file" title="Importar Excel" ng-disabled="Deshabilitar" style="max-height:34px;overflow:hidden" ng-show="DataArchivo.length > 0">
                                   Importar
                                    <input id="fileSecundario" type="file" name="xlfile" ng-model-instant onchange="angular.element(this).scope().handleFile(this)" class="" style="max-height:34px" ng-click="NuevoProceso()">
                                </div>

                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 pull-right">

                                <button class="btn btn-block btn-primary pull-right" ng-click="ValidarSecuenciaLotes()" ng-disabled="Deshabilitar || strCodigosCuentas==''" title="Buscar CXP">
                                    Exportar
                                </button>
                            </div>

                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />


                    <div id="resultadoConsulta" class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                            <thead>
                                <tr>
                                    <th>No. Documento</th>
                                    <th>Tercero</th>
                                    <th>Cta. Destino</th>
                                    <th>Tipo</th>
                                    <th>Banco Destino</th>
                                    <th>Val. Pagar</th>
                                    <th>Cta Origen</th>
                                    <th style="text-align:right">
                                        <label>
                                            Generar Plano
                                            <input type="checkbox" ng-click="MarcarPlanos()" ng-model="EgresosSeleccionados" title="Marcar o Desmarcar todos los registros" />
                                        </label>
                                    </th>
                                    <th>Fecha</th>
                                    <!--<th>No. Confirmación</th>-->
                                    <th>Fecha Pago</th>
                                    <th>Valor Pago</th>
                                    <th>Mensaje Proceso</th>
                                    <th>Obs.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ListaCXPconEgresos | orderBy: '-FechaDocumento'">
                                    <td align="right">{{item.NumeroDocumentoGrid}}</td>
                                    <td>{{item.Tercero.NombreCompleto}}</td>
                                    <td>{{item.NumeroCuentaBancaria}}</td>
                                    <td ng-show="item.NombreTipoCuenta == 'AHORROS'">A</td>
                                    <td ng-show="item.NombreTipoCuenta != 'AHORROS'">C</td>
                                    <td>{{item.NombreBanco}}</td>
                                    <td align="right">
                                        {{item.ValorPagoTotal | number:0}}
                                    </td>
                                    <td>
                                        {{item.CuentaBancaria.Nombre}}
                                    </td>


                                    <td style="text-align:center">
                                        <label>
                                            <input type="checkbox" ng-model="item.GeneraPlano" ng-click="AgregarCuentaArchivoPlano(item)" ng-disabled="item.DeshabilitarCheckPlano"/>
                                        </label>
                                    </td>
                                    <td>{{item.FechaPago | date: 'dd/MM/yyyy'}}</td>
                                    <!--<td align="right">{{item.NumeroPagoRecaudo}}</td>-->
                                    <td ng-show="item.DeshabilitarCheckPlano == false"> </td>
                                    <td ng-show="item.DeshabilitarCheckPlano == true">{{item.FechaPagoRecaudo | date: 'dd/MM/yyyy'}}</td>
                                    <td align="right">{{item.ValorPagoTransferencia | number:0}}</td>
                                    <td style="min-width:100px">

                                        <a uib-popover-template="'myPopoverTemplate3.html'" popover-is-open="item2.visible" popover-class="increase-popover-width" popover-placement="left-bottom " popover-title="Mensaje Proceso" popover-trigger="'outsideClick'" href="" data-toggle="tooltip" title={{item.MensajeProcesoTransferencia}}>
                                            ...Ver más
                                        </a>
                                        <div>
                                            <script type="text/ng-template" id="myPopoverTemplate3.html">
                                                <div class="col-md-12 col-sm-12 col-xs-12" style="min-width:550px">
                                                    <div class="form-group">
                                                        <label>Mensaje Proceso Transferencia</label>
                                                        <textarea class="form-control" ng-model="item.MensajeProcesoTransferencia" disabled></textarea>
                                                    </div>
                                                </div>
                                            </script>
                                        </div>

                                    </td>
                                    <td style="min-width:100px">

                                        <a uib-popover-template="'myPopoverTemplate2.html'" popover-is-open="item1.visible" popover-class="increase-popover-width" popover-placement="left-bottom " popover-title="Observaciones" popover-trigger="'outsideClick'" href="" data-toggle="tooltip" title={{item.Observaciones}}>
                                            ...Ver más
                                        </a>
                                        <div>
                                            <script type="text/ng-template" id="myPopoverTemplate2.html">
                                                <div class="col-md-12 col-sm-12 col-xs-12" style="min-width:550px">
                                                    <div class="form-group">
                                                        <label>Observaciones</label>
                                                        <textarea class="form-control" ng-model="item.Observaciones" disabled></textarea>
                                                    </div>
                                                </div>
                                            </script>
                                        </div>

                                    </td>
                                </tr>
                            </tbody>
                            <tfoot ng-show="ListaCXPconEgresos.length > 0">
                                <tr>
                                    <td colspan="4">
                                        <small ng-if="totalRegistrosconEgresos > 0">Página: {{paginaActualconEgresos}} de {{totalPaginasconEgresos}} ({{totalRegistrosconEgresos}} Registros)</small>
                                        <div class="pagination rightAling" ng-if="totalRegistrosconEgresos > 0">
                                            <button class="button primary" ng-click="PrimerPaginaconEgresos()" title="Primera">
                                                <span class="item">&laquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="AnteriorconEgresos()" title="Anterior">
                                                <span class="item">&lsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="SiguienteconEgresos()" title="Siguiente">
                                                <span class="item">&rsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="UltimaPaginaconEgresos()" title="Última">
                                                <span class="item">&raquo;</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                            <tfoot ng-show="totalRegistrosconEgresos == 0">
                                <tr>
                                    <td colspan="8" style="color:red; text-align:center">
                                        <small>{{ResultadoSinRegistrosconEgresos}}</small>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>

            </div>

            <br />
            <br />

        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <!-- Modal Informacion Movimiento-->
    <div class="modal fade" id="modalMovimiento" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-content">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">
                            Nueva Cuenta
                        </h3>
                    </div>
                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorMovimiento.length > 0">
                        <ul>
                            <li ng-repeat="error in MensajesErrorMovimiento">
                                <span>{{error}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="cuentapuc">Cuenta PUC</label>
                                    <input ng-disabled="Deshabilitar" type="text" class="form-control" name="cmbCuentaPuc" id="cmbCuentaPuc" placeholder="Seleccione una Cuenta" ng-model="Modal.CuentaPUC" typeahead-no-results="myform.cmbCuentaPuc.$error.required" uib-typeahead="cuenta as cuenta.Nombre for cuenta in ListadoCuentasPUC| filter:$viewValue | limitTo: 5" ng-required="false">
                                    <div ng-if="myform.cmbCuentaPuc.$error.required ">
                                        <i class="glyphicon glyphicon-remove"></i><small class="errorField"> La cuenta ingresada no existe en el sistema</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>Número Identificación<small class="small">*</small></label>
                                    <input ng-change="MaskNumero()" name="identificacionnn" class="form-control" ng-disabled="SoloLecturaPasajero" type="text" maxlength="15" ng-model="Modal.TerceroModal.NumeroIdentificacion" placeholder="Digite el número de identificación del tercero" ng-blur="ValidarTerceroModal(Modal.TerceroModal.NumeroIdentificacion)">
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="modaltercero">Tercero</label>
                                    <span class="form-control"> {{Modal.TerceroModal.NombreCompleto}}</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="valorbase">Valor Base</label>
                                    <input name="valorbase" ng-change="MaskValores()" maxlength="15" style="text-align:right" class="form-control" ng-model="Modal.ValorBase" placeholder="Ingrese un valor base">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="debito">Débito</label>
                                    <input name="debito" ng-change="MaskValores()" maxlength="15" style="text-align:right" class="form-control" ng-model="Modal.ValorDebito" placeholder="Ingrese un valor debito">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="credito">Crédito</label>
                                    <input name="credito" ng-change="MaskValores()" maxlength="15" style="text-align:right" class="form-control" ng-model="Modal.ValorCredito" placeholder="Ingrese un valor credito">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarMovimiento()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmación Eliminar Movimiento -->
    <div class="modal fade" id="modalEliminarMovimiento" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Esta seguro que desea eliminar el Movimiento ?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Eliminar tarifa" ng-click="EliminarMovimiento(Indice)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modalActualizarEgresos" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Actualizar Comprobantes Egreso</strong>
                        </h4>
                    </div>

                    <div class="modal-body">
                        <!--<p class="text-center">Los datos se validaron correctamente. ¿Desea actualizar la información?</p>-->
                        <div class="table-responsive" style="max-height:1200px;max-width:100%">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nit Empresa Pagadora</th>
                                        <th>Fecha Transmisión Pagos</th>
                                        <th>Secuencia Pago</th>
                                        <th>Tipo Registro</th>
                                        <th>Nit Beneficiario</th>
                                        <th>Nombre Beneficiario</th>
                                        <th>Código Banco</th>
                                        <th>Cuenta Beneficiario</th>
                                        <th>Tipo Cuenta Local</th>
                                        <th>Tipo Transacción</th>
                                        <th>Valor</th>
                                        <th>Concepto</th>
                                        <th>Referencia</th>
                                        <th>Código Respuesta</th>
                                        <th>Número Cheque</th>
                                        <th>Fecha Aplicación</th>
                                        
                                    </tr>
                                </thead>
                                <tbody ng-show="ListaTransacciones.length > 0">
                                    <tr ng-repeat="item in ListaTransacciones" style="{{item.estilo}}">
                                        <td style="min-width:100px;">
                                            <span ng-if="item.msGeneral !== undefined && item.msGeneral !==''" class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msGeneral}}" data-placement="right"></span>
                                            <span ng-if="item.msGeneral == undefined || item.msGeneral ==''" class="fas fa-check"></span>
                                            <span ng-if="item.msGeneral !== undefined && item.msGeneral !==''" class="fas fa-times"></span>
                                            <span align="right" class="fas fa-plus pull-right" data-toggle="tooltip" title="{{item.registroOriginal}}" boundary="viewport"></span>
                                        </td>
                                        <td style="min-width:150px;{{item.stIdentificacionEmpresa}}">
                                            <span>{{item.IdentificacionEmpresa}}</span>
                                            <span align="right" class="fas fa-plus pull-right" data-toggle="tooltip" title="{{item.IdentificacionEmpresa}}"></span>
                                        </td>
                                        <td style="min-width:150px;{{item.stFechaTransmisionPagos}}">
                                            <span>{{item.FechaTransmisionPagosGrid}}</span>
                                            <span align="right" class="fas fa-plus pull-right" data-toggle="tooltip" title="{{item.FechaTransmisionPagosOriginal}}"></span>
                                        </td>
                                        <td style="min-width:150px;{{item.stSecuenciaPago}}">
                                            <span>{{item.SecuenciaPago}}</span>
                                            <span align="right" class="fas fa-plus pull-right" data-toggle="tooltip" title="{{item.SecuenciaPago}}"></span>
                                        </td>
                                        <td style="min-width:150px;{{item.stTipoRegistro}}">
                                            <span>{{item.TipoRegistro}}</span>
                                            <span align="right" class="fas fa-plus pull-right" data-toggle="tooltip" title="{{item.TipoRegistroOriginal}}"></span>
                                        </td>
                                        <td style="min-width:150px;{{item.stNitBeneficiario}}">
                                            <span>{{item.NitBeneficiario}}</span>
                                            <span align="right" class="fas fa-plus pull-right" data-toggle="tooltip" title="{{item.NitBeneficiarioOriginal}}"></span>
                                        </td>
                                        <td style="min-width:200px;{{item.stNombreBeneficiario}}">
                                            <span>{{item.NombreBeneficiario}}</span>
                                            <span align="right" class="fas fa-plus pull-right" data-toggle="tooltip" title="{{item.NombreBeneficiario}}"></span>
                                        </td>
                                        <td style="min-width:150px;{{item.stCodigoBanco}}">
                                            <span>{{item.CodigoBanco}}</span>
                                            <span align="right" class="fas fa-plus pull-right" data-toggle="tooltip" title="{{item.CodigoBancoOriginal}}"></span>
                                        </td>
                                        <td style="min-width:150px;{{item.stCuentaBeneficiario}}">
                                            <span>{{item.CuentaBeneficiario}}</span>
                                            <span align="right" class="fas fa-plus pull-right" data-toggle="tooltip" title="{{item.CuentaBeneficiarioOriginal}}"></span>
                                        </td>
                                        <td style="min-width:150px;{{item.stTipoCuentaLocal}}">
                                            <span>{{item.TipoCuentaLocal}}</span>
                                            <span align="right" class="fas fa-plus pull-right" data-toggle="tooltip" title="{{item.TipoCuentaLocal}}"></span>
                                        </td>
                                        <td style="min-width:150px;{{item.stTipoTransaccion}}">
                                            <span>{{item.TipoTransaccion}}</span>
                                            <span align="right" class="fas fa-plus pull-right" data-toggle="tooltip" title="{{item.TipoTransaccionOriginal}}"></span>
                                        </td>
                                        <td style="min-width:150px;{{item.stValor}}">
                                            <span>{{item.Valor}}</span>
                                            <span align="right" class="fas fa-plus pull-right" data-toggle="tooltip" title="{{item.ValorOriginal}}"></span>
                                        </td>
                                        <td style="min-width:150px;{{item.stConcepto}}">
                                            <span>{{item.Concepto}}</span>
                                            <span align="right" class="fas fa-plus pull-right" data-toggle="tooltip" title="{{item.Concepto}}"></span>
                                        </td>
                                        <td style="min-width:150px;{{item.stReferencia}}">
                                            <span>{{item.Referencia}}</span>
                                            <span align="right" class="fas fa-plus pull-right" data-toggle="tooltip" title="{{item.Referencia}}"></span>
                                        </td>
                                        <td style="min-width:150px;{{item.stCodigoRespuesta}}">
                                            <span>{{item.CodigoRespuesta}}</span>
                                            <span align="right" class="fas fa-plus pull-right" data-toggle="tooltip" title="{{item.CodigoRespuesta}}"></span>
                                        </td>
                                        <td style="min-width:150px;{{item.stNumeroCheque}}">
                                            <span>{{item.NumeroCheque}}</span>
                                            <span align="right" class="fas fa-plus pull-right" data-toggle="tooltip" title="{{item.NumeroChequeOriginal}}"></span>
                                        </td>
                                        <td style="min-width:150px;{{item.stFechaAplicacion}}">
                                            <span>{{item.FechaAplicacionGrid}}</span>
                                            <span align="right" class="fas fa-plus pull-right" data-toggle="tooltip" title="{{item.FechaAplicacionOriginal}}"></span>
                                        </td>

                                    </tr>
                                </tbody>
                                <!--<tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                    <tr>
                                        <td colspan="4">
                                            <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                            <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>-->
                            </table>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Eliminar Impuesto" ng-click="ActualizarEgresos()">
                                {{BotonGuardar}}
                                <span class="glyphicon glyphicon-refresh"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>