﻿<div  ng-init="InitLoad()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <section class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="Form-Imput">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <!--Numero-->
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <span class="form-control">{{Modelo.Numero}}</span>
                        </div>
                    </div>
                    <!--Fecha-->
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha</label>
                            <input type="date" class="form-control" ng-model="Modelo.Fecha" ng-blur="ActualizarFechaVence()" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <!--Fecha-->
                    <!--Dias Plazo-->
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Días Plazo</label>
                            <input type="text" class="form-control text-right" ng-change="MaskNumero()" placeholder="Ingrese días plazo" ng-model="Modelo.DiasPlazo"
                                   ng-blur="ActualizarFechaVence()" ng-required="false" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <!--Dias Plazo-->
                    <!--Fecha Vence-->
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha Vencimiento</label>
                            <input type="date" class="form-control" ng-model="Modelo.FechaVenceDocumento" disabled>
                        </div>
                    </div>
                    <!--Fecha Vence-->
                    <!--Documento Origen-->
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Documento</label>
                            <select class="form-control" ng-model="Modelo.DocumentoOrigen" ng-change="CargarConceptos(Modelo.DocumentoOrigen)"
                                    ng-options="i.Nombre for i in ListadoDocumentoOrigen" ng-disabled="Deshabilitar"></select>
                        </div>
                    </div>
                    <!--Documento Origen-->
                    <!--No. Documento Origen-->
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>No. Documento</label>
                            <input class="form-control" ng-model="Modelo.NumeroDocumentoOrigen" placeholder="Ingrese No. Documento" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <!--No. Documento Origen-->
                </div>
                <div class="row">
                    <!--Tercero-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="lblTenedor">Tercero</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Seleccione Tercero" ng-model="Modelo.Tercero"
                                   uib-typeahead="Terc as Terc.NombreCompleto for Terc in  AutocompleteTercero($viewValue) | filter:$viewValue | limitTo: 5"
                                   ng-blur="Modelo.Tercero=VerificarAutocomplete(Modelo.Tercero)" ng-disabled="Deshabilitar">
                            <div class="btnClose" ng-click="limpiarControl('Tercero')" title="Limpiar"><span class="fas fa-times-circle"></span></div>
                        </div>
                    </div>
                    <!--Tercero-->
                    <!--Concepto-->
                    <div class="col-md-3 col-sm-6 col-xs-12" ng-show="ListadoConceptos.length > 0">
                        <div class="form-group">
                            <label>Concepto</label>
                            <select class="form-control" ng-model="Modelo.Concepto" ng-options="i.Nombre for i in ListadoConceptos" ng-disabled="Deshabilitar"></select>
                        </div>
                    </div>
                    <!--Concepto-->
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>Observaciones</label>
                        <div class="form-group">
                            <textarea maxlength="250" type="text" class="form-control" ng-model="Modelo.Observaciones" ng-disabled="Deshabilitar" ng-change="MaskMayus()" ng-required="false"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Valor</label>
                            <input maxlength="18" type="text" ng-change="MaskValores()" class="form-control text-right" placeholder="Valor" ng-model="Modelo.ValorTotal" 
                                   ng-blur="Modelo.Saldo = Modelo.ValorTotal" ng-required="false" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Saldo</label>
                            <input maxlength="18" type="text" ng-change="MaskValores()" class="form-control text-right" placeholder="Valor" ng-model="Modelo.Saldo" ng-required="false" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Documentos</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina</label>
                            <span class="form-control">{{Modelo.Oficina.Nombre}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select class="form-control" ng-model="Modelo.Estado" ng-options="i.Nombre for i in ListadoEstados" ng-disabled="Deshabilitar"></select>
                        </div>
                    </div>
                </div>
                <!--SECCIÓN BOTONES-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="SeccionBotones">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                                    Cancelar
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="Deshabilitar">
                                    Aceptar
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>