﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            GESTIONAR COMPROBANTE CAUSACIÓN
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-1 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <br />
                            <span> {{Modelo.Numero}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fecha">Fecha </label>
                            <input name="fecha" type="date" class="form-control" ng-model="Modelo.Fecha" ng-blur="ValidarCierre()" ng-disabled="Deshabilitar">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="oficina">Tipo</label>
                            <select name="oficina" class="form-control" ng-disabled="Deshabilitar" ng-model="Modelo.TipoComprobante" 
                                    ng-options="i.Nombre for i in ListadoTipoComprobantes | orderBy: 'Nombre'"
                                    ng-change="ValidarConceptos(Modelo.TipoComprobante)"
                                    ></select>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="oficina">Oficina Destino</label>
                            <select name="oficina" class="form-control" ng-disabled="Deshabilitar" ng-model="Modelo.OficinaDestino" ng-options="i.Nombre for i in ListadoOficinas | orderBy: 'Nombre'" ng-blur="AsignarOficinaDestino(Modelo.OficinaDestino)"></select>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <div class="input-control text full-size" data-role="input">
                                <label for="observaciones">Observaciones</label>
                                <textarea class="form-control" maxlength="200" name="observaciones" type="text" ng-model="Modelo.Observaciones" ng-blur="AsignarObservaciones(Observaciones)" ng-disabled="Deshabilitar"></textarea>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

                <!-- ------------------------------------------------------------- -->
            <!--<div class="box-body">-->
            <div class="box box-default box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Proveedor</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse" ng-disabled="Deshabilitar" ng-click="HabilitarConsignacion()"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="CuentaBancariaConsig">Proveedor</label>
                            <input type="text" class="form-control" ng-model="Modelo.Proveedor" ng-disabled="Deshabilitar" ng-change="MaskMayus()"
                                    uib-typeahead="Proveedor as Proveedor.NombreCompleto for Proveedor in AutocompleteProveedores($viewValue) | filter:$viewValue"
                                    ng-blur="Modelo.Proveedor = VerificarAutocomplete(Modelo.Proveedor);AsignarDatosProveedor()" placeholder="Ingrese un Proveedor">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="FechaConsignacion">Naturaleza</label>
                            <input type="text" name="FechaConsignacion" class="form-control" ng-model="Modelo.NaturalezaProveedor.Nombre" ng-disabled="true">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="valorconsignacion">Identificación</label>
                            <input ng-change="MaskMayus()" class="form-control" ng-model="Modelo.IdentificacionProveedor" ng-disabled="true">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="valorconsignacion">Régimen</label>
                            <input ng-change="MaskMayus()" class="form-control" ng-model="Modelo.RegimenProveedor" ng-disabled="true">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="valorconsignacion">Ciudad</label>
                            <input ng-change="MaskMayus()" class="form-control" ng-model="Modelo.CiudadProveedor" ng-disabled="true">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroConsignacion">Dirección</label>
                            <input class="form-control" ng-model="Modelo.DireccionProveedor" ng-disabled="true">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroConsignacion">Teléfono</label>
                            <input class="form-control" ng-model="Modelo.TelefonoProveedor" ng-disabled="true">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroConsignacion">Celular</label>
                            <input class="form-control" ng-model="Modelo.CelularProveedor" ng-disabled="true">
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-default box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Información Factura-Pago</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse" ng-disabled="Deshabilitar" ng-click="HabilitarConsignacion()"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroConsignacion">Número</label>
                            <input class="form-control" ng-model="Modelo.NumeroFactura" ng-disabled="Deshabilitar" placeholder="Ingrese un Número">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="FechaConsignacion">Fecha</label>
                            <input type="date" class="form-control" ng-model="Modelo.FechaFactura" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="FechaConsignacion">Fecha Vencimiento</label>
                            <input type="date" class="form-control" ng-model="Modelo.FechaVencimientoFactura" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroConsignacion">Subtotal</label>
                            <input class="form-control text-right" ng-model="Modelo.Subtotal" ng-disabled="Deshabilitar" placeholder="Ingrese un valor" ng-change="MaskValores()" ng-blur="CalcularTotal()">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroConsignacion">Valor IVA</label>
                            <input class="form-control text-right" ng-model="Modelo.ValorIva" ng-disabled="Deshabilitar" placeholder="Ingrese un valor" ng-change="MaskValores()" ng-blur="CalcularTotal()">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroConsignacion">Valor Total</label>
                            <input class="form-control text-right" ng-model="Modelo.ValorTotal" ng-disabled="true" placeholder="Ingrese un valor" ng-change="MaskValores()">
                        </div>
                    </div>
                </div>
            </div>
                   

            <div class="box box-default box-solid">
                <div class="box-header with-border">
                    <div class="form-group">
                        <h3 class="box-title">Información Movimientos</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse" ng-disabled="Deshabilitar"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="ConceptoContable">Concepto Contable</label>
                                <select name="ConceptoContable" class="form-control" ng-model="Modelo.ConceptoContable" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoConceptoContable | orderBy: 'Nombre'"></select>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <label for=""></label>
                            <button class="btn btn-block btn-primary" ng-click="ConsultarMovimiento()" ng-disabled="Deshabilitar" title="Nuevo Movimiento">
                                Cargar Cuentas PUC
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label></label>
                                <button class="btn btn-block btn-primary" ng-click="ModalMovimiento()" ng-disabled="Deshabilitar" title="Nuevo Movimiento">
                                    Adicionar
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <label for=""></label>
                            <button class="btn btn-block btn-primary" ng-click="LimpiarMovimiento()" ng-disabled="Deshabilitar" title="Limpiar">
                                Limpiar
                                <span class="glyphicon glyphicon-refresh"></span>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="resultadoConsulta" class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Número Cuenta</th>
                                        <th>Nombre Cuenta</th>
                                        <th>Genera Cuenta</th>
                                        <th style="text-align:right">Valor Base</th>
                                        <th style="text-align:right">Débito</th>
                                        <th style="text-align:right">Crédito</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoMovimiento">
                                        <td>{{item.CuentaPUC.CodigoCuenta}}</td>
                                        <td>{{item.CuentaPUC.Nombre}}</td>
                                        <td>
                                            <span ng-show="item.GeneraCuenta == 1 || item.GeneraCuenta == true">SI</span>
                                            <span ng-show="item.GeneraCuenta == 0 || item.GeneraCuenta == false">NO</span>
                                        </td>
                                        <td style="text-align:right">{{item.ValorBase | number :0}}</td>
                                        <td style="text-align:right">{{item.ValorDebito | number :0}}</td>
                                        <td style="text-align:right">{{item.ValorCredito | number :0}}</td>
                                        <td>
                                            <button class="button mini-button  btn-info" title="Editar" ng-click="EditarMovimiento(item, $index)">
                                                <span class="fa fa-edit"></span>
                                            </button>
                                            <button class="button mini-button  btn-danger" title="Anular" ng-click="ConfirmacionEliminarMovimiento($index)" ng-disabled="Deshabilitar == true">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                    <tr>
                                        <td colspan="4">
                                            <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                            <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                                <tfoot ng-if="totalRegistros == 0 && Buscando == false">
                                    <tr>
                                        <td colspan="4" style="color:red; text-align:center">
                                            <small>{{ResultadoSinRegistros}}</small>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-default box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title"> Totales</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Débito</label>
                            <span class="form-control" style="text-align:right"> {{Modelo.Debito | number :0}}</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Crédito</label>
                            <span class="form-control" style="text-align:right"> {{Modelo.Credito | number :0}}</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Diferencia</label>
                            <span class="form-control" style="text-align:right"> {{Modelo.Diferencia | number :0}}</span>
                        </div>
                    </div>
                </div>
            </div>
                   
            <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Oficina</label>
                        <input name="cmbOficina" class="form-control" ng-model="Oficina" uib-typeahead="i as i.Nombre for i in ListadoOficinasPlanilla| filter:$viewValue" ng-disabled="Deshabilitado = true">
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="estado">Estado</label>
                        <select name="estado" class="form-control" ng-disabled="Deshabilitar" ng-model="Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" ng-disabled="Deshabilitar" title="Aceptar" ng-click="ConfirmacionGuardar()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
                
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <!-- Modal Informacion Movimiento-->
    <div class="modal fade" id="modalMovimiento" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-content">
            <div class="modal-content" style="min-width: 600px;">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">
                           {{TituloModalCuenta}}
                        </h3>
                    </div>
                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorMovimiento.length > 0">
                        <ul>
                            <li ng-repeat="error in MensajesErrorMovimiento">
                                <span>{{error}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-8 col-sm-4 col-xs-12" ng-disabled="Deshabilitar == true">
                                <div class="form-group">
                                    <label for="cuentapuc">Cuenta PUC</label>
                                    <input ng-disabled="Deshabilitar" type="text" class="form-control" name="cmbCuentaPuc" id="cmbCuentaPuc" placeholder="Seleccione una Cuenta"
                                           ng-model="Modal.CuentaPUC"
                                           typeahead-no-results="myform.cmbCuentaPuc.$error.required" uib-typeahead="cuenta as cuenta.Nombre for cuenta in ListadoCuentasPUC| filter:$viewValue | limitTo: 5"
                                           ng-required="false" ng-blur="Modal.CodigoCuenta = Modal.CuentaPUC.CodigoCuenta; ValidarValorBase(Modal.CuentaPUC)">
                                    <div ng-if="myform.cmbCuentaPuc.$error.required ">
                                        <i class="glyphicon glyphicon-remove"></i><small class="errorField"> La cuenta ingresada no existe en el sistema</small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="valorbase">Código Cuenta</label>
                                    <input name="valorbase" class="form-control" ng-model="Modal.CodigoCuenta" ng-disabled="true">
                                </div>
                            </div>

                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="modaltercero">Tercero</label>
                                    <input type="text" ng-model="Modal.TerceroModal" class="form-control" placeholder="Ingrese un Tercero" ng-disabled="Deshabilitar == true"
                                           uib-typeahead="Tercero as Tercero.NombreCompleto for Tercero in AutocompleteProveedores($viewValue) | filter:$viewValue | limitTo: 5"
                                           ng-blur="Modal.TerceroModal = VerificarAutocomplete(Modal.TerceroModal)" />
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="modaltercero">Placa</label>
                                    <input type="text" ng-model="Modal.Vehiculo" class="form-control" placeholder="Ingrese una Placa" ng-disabled="Deshabilitar == true"
                                           uib-typeahead="Vehiculo as Vehiculo.Placa for Vehiculo in AutocompleteVehiculos($viewValue) | filter:$viewValue | limitTo: 5"
                                           ng-blur="Modal.Vehiculo = VerificarAutocomplete(Modal.Vehiculo)" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="valorbase">Centro Costo</label>
                                    <input name="valorbase" class="form-control" ng-model="Modal.CentroCosto" placeholder="Ingrese un centro costo" ng-disabled="Deshabilitar == true">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="valorbase">Valor Base</label>
                                    <input name="valorbase" ng-change="MaskValores()" maxlength="15" style="text-align:right" class="form-control" ng-model="Modal.ValorBase" placeholder="Ingrese un valor base" ng-disabled="Deshabilitar == true">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="debito">Débito</label>
                                    <input name="debito" ng-change="MaskValores()" maxlength="15" style="text-align:right" class="form-control" ng-model="Modal.ValorDebito" placeholder="Ingrese un valor debito" ng-disabled="Deshabilitar == true">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="credito">Crédito</label>
                                    <input name="credito" ng-change="MaskValores()" maxlength="15" style="text-align:right" class="form-control" ng-model="Modal.ValorCredito" placeholder="Ingrese un valor credito" ng-disabled="Deshabilitar == true">
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <div class="input-control text full-size" data-role="input">
                                        <label for="notadetalle">Nota Detalle</label>
                                        <textarea class="form-control" maxlength="200" name="Notadetalle" type="text" ng-model="Modal.NotaDetalle" ng-disabled="Deshabilitar == true"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group" style="margin-top:35px;">
                                    <label for="credito">Genera Cuenta</label>
                                    <input type="checkbox" ng-model="Modal.GeneraCuenta" ng-disabled="Deshabilitar == true"/>
                                </div>
                            </div>


                        </div>
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Información Interfaz Contable</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Prefijo</label>
                                            <input type="text" name="txtPrefijo" ng-change="MaskMayus()" class="form-control" maxlength="10" placeholder="Ingrese prefijo" ng-model="Modal.Prefijo" ng-disabled="Deshabilitar == true"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Código Anexo</label>
                                            <input type="text" name="txtCodiAnex" ng-change="MaskMayus()" class="form-control" maxlength="10" placeholder="Ingrese código anexo" ng-model="Modal.CodigoAnexo" ng-disabled="Deshabilitar == true"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Sufijo</label>
                                            <input type="text" name="txtSufiCodiAnex" ng-change="MaskMayus()" class="form-control" maxlength="10" placeholder="Ingrese sufijo" ng-model="Modal.SufijoCodigoAnexo" ng-disabled="Deshabilitar == true"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblAuxi">Auxiliar</label>
                                            <input type="text" class="form-control" ng-change="MaskMayus()" placeholder="Ingrese auxiliar" ng-model="Modal.CampoAuxiliar" maxlength="10" ng-disabled="Deshabilitar == true"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarMovimiento()" ng-disabled="Deshabilitar == true">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="ConsultaTerceros" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-content">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">
                            Consulta Terceros
                        </h3>
                    </div>
                    <div class="box-body">
                        <div id="resultadoConsulta" class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Identificación</th>
                                        <th>Nombre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoTerceros">
                                        <td>{{item.NumeroIdentificacion}}</td>
                                        <td>{{item.NombreCompleto}}</td>
                                        <td>
                                            <button class="button mini-button btn-success" title="Guardar" ng-click="AsignarTercero(item,1)">
                                                <span class="fa fa-check"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmación Eliminar Movimiento -->
    <div class="modal fade" id="modalEliminarMovimiento" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Esta seguro que desea eliminar el Movimiento ?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Eliminar tarifa" ng-click="EliminarMovimiento(Indice)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>