<div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form class="ng-valid ng-valid-maxlength ng-valid-required ng-dirty ng-valid-parse">
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-1 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <br>
                            <span class="ng-binding"> {{Modelo.Numero}} </span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fecha">Fecha </label>
                            <input name="fecha" type="date" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="Modelo.Fecha" ng-blur="ValidarCierre()" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="documentoOrigen">Documento Origen</label>
                            <select name="documentoOrigen" class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched" ng-disabled="Deshabilitar" ng-model="Modelo.DocumentoOrigen" ng-options="i.Nombre for i in ListadoDocumentosOrigen | orderBy:'Nombre'" ng-change="AsignarListaNumeroDocumento();BorrarNumeroDocumentoOrigen(); ValidarFormaPago(Modelo.OficinaDestino)"></select>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12" ng-show="esAnticipo(Modelo.DocumentoOrigen.Codigo) || Modelo.DocumentoOrigen.Codigo == 2602 || Modelo.DocumentoOrigen.Codigo == 2614 || Modelo.DocumentoOrigen.Codigo == 2612 || Modelo.DocumentoOrigen.Codigo == 2615 || Modelo.DocumentoOrigen.Codigo == 2616 || esSobreanticipo(Modelo.DocumentoOrigen.Codigo)">
                        <div class="form-group">
                            <label for="numeroDocumento">No. Documento Origen</label>
                            <input name="numeroDocumento" ng-change="Modelo.NumeroDocumentoOrigen.NumeroDocumento = MaskNumeroObj(Modelo.NumeroDocumentoOrigen.NumeroDocumento)" maxlength="15" ng-disabled="Deshabilitar" class="form-control " ng-model="Modelo.NumeroDocumentoOrigen.NumeroDocumento" placeholder="Ingrese un Número Documento" ng-blur="ValidarDocumento()" autocomplete="off">
                        </div>

                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12" ng-hide="Modelo.DocumentoOrigen.Codigo == 2609">
                        <div class="form-group">
                            <label for="placa">Placa</label>
                            <input autocomplete="off" ng-change="MaskPlaca(); BorrarNumeroDocumentoOrigen()" ng-disabled="Deshabilitar || (esAnticipo(Modelo.DocumentoOrigen.Codigo) || Modelo.DocumentoOrigen.Codigo == 2602 || Modelo.DocumentoOrigen.Codigo == 2614 || Modelo.DocumentoOrigen.Codigo == 2612 || Modelo.DocumentoOrigen.Codigo == 2615 || Modelo.DocumentoOrigen.Codigo == 2616 || esSobreanticipo(Modelo.DocumentoOrigen.Codigo))"
                                   type="text" class="form-control  ng-valid-required" maxlength="6" name="txtPlaca" id="txtPlaca" placeholder="Seleccione una Placa" ng-model="Modelo.Placa" typeahead-no-results="myform.txtPlaca.$error.required" uib-typeahead="vehiculo as vehiculo.Placa for vehiculo in AutocompleteVehiculos($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="AsignarPlaca(Modelo.Placa);AsignarListaNumeroDocumento();ValidarDocumento()">
                            <div ng-if="myform.txtPlaca.$error.required && LongitudPlaca > 0">
                                <i class="glyphicon glyphicon-remove"></i><small class="errorField"> La placa ingresada no existe en el sistema</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12" ng-show="Modelo.Placa.CodigoAlterno !== undefined && Modelo.Placa.CodigoAlterno.length > 0" ng-hide="Modelo.DocumentoOrigen.Codigo == 2609">
                        <div class="form-group">
                            <label>Código Vehículo</label>
                            <span class="form-control">{{Modelo.Placa.CodigoAlterno}}</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="tercero">Tercero {{Modelo.Tercero.NumeroIdentificacion}}</label>
                            <input class="form-control" ng-model="Modelo.Tercero" uib-typeahead="Tercero as Tercero.NombreCompleto for Tercero in AutocompleteTerceros($viewValue) | filter: $viewValue | limitTo:5"
                                   ng-blur="Modelo.Tercero = VerificarAutocomplete(Modelo.Tercero)" ng-disabled="Deshabilitar" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="beneficiario">Beneficiario {{Modelo.Beneficiario.NumeroIdentificacion}}</label>
                            <input type="text" class="form-control  ng-valid-required" maxlength="50" placeholder="Beneficiario" ng-model="Modelo.Beneficiario" ng-disabled="Deshabilitar" uib-typeahead="bene as bene.NombreCompleto for bene in  AutocompleteTerceros($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.Beneficiario=VerificarAutocomplete(Modelo.Beneficiario)">
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-4 col-xs-12 ng-hide" ng-hide="Modelo.DocumentoOrigen.Codigo == 2609 || esAnticipo(Modelo.DocumentoOrigen.Codigo) || Modelo.DocumentoOrigen.Codigo == 2602 || Modelo.DocumentoOrigen.Codigo == 2614 || Modelo.DocumentoOrigen.Codigo == 2612 || Modelo.DocumentoOrigen.Codigo == 2615 || Modelo.DocumentoOrigen.Codigo == 2616 || esSobreanticipo(Modelo.DocumentoOrigen.Codigo)">
                        <div class="form-group">
                            <label for="numeroDocumento">Número Origen</label>
                            <input name="numeroDocumento" ng-change="MaskNumero()" maxlength="15" ng-disabled="Deshabilitar" class="form-control " ng-model="Modelo.NumeroDocumentoOrigen" placeholder="Ingrese un Número Documento" typeahead-no-results="myform.txtPlaca.$error.required"
                                   uib-typeahead="Documento as Documento.NumeroDocumento for Documento in ListadoNumeroDocumentosOrigen | filter:$viewValue | limitTo: 5" ng-blur="Modelo.NumeroDocumentoOrigen=VerificarAutocomplete(Modelo.NumeroDocumentoOrigen); ValidarDocumento()" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="oficina">Oficina</label>
                            <input name="inpOficina" class="form-control" ng-model="Modelo.OficinaDestino" placeholder="Ingrese una Oficina" maxlength="30"
                                   uib-typeahead="Oficina as Oficina.Nombre for Oficina in ListadoOficinas| filter:$viewValue | limitTo: 5" ng-disabled="Deshabilitar"
                                   ng-blur="Modelo.OficinaDestino=VerificarAutocomplete(Modelo.OficinaDestino); AsignarOficinaDestino(Modelo.OficinaDestino); Oficina = Modelo.OficinaDestino">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="formapago">Forma Pago</label>
                            <select name="formapago" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-disabled="Deshabilitar" ng-change="validarFormaPago()" ng-model="Modelo.FormaPagoRecaudo" ng-options="i.Nombre for i in ListaFormaPago" ng-blur="ValidarFormaPago(Modelo.OficinaDestino)"></select>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12 ng-hide" ng-show="Modelo.DocumentoOrigen.Codigo == 2609 && Sesion.UsuarioAutenticado.ManejoCentroCostosComprobanteEgreso == true">
                        <div class="form-group">
                            <label for="ctrcostos">Centro Operaciones</label>
                            <select name="ctrcostos" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-disabled="Deshabilitar" ng-model="Modelo.CentroCostos" ng-options="i.Nombre for i in ListaCentrosCostos | orderBy: 'Nombre'"></select>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <div class="input-control text full-size" data-role="input">
                                <label for="observaciones">Observaciones</label>
                                <textarea class="form-control " maxlength="200" name="observaciones" type="text" ng-model="Modelo.Observaciones" ng-blur="AsignarObservaciones(Observaciones)" ng-disabled="Deshabilitar"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <!----------------------------------------------------------------------------------------------------------------------------------->
                <div class="box box-default box-solid" ng-show="SeccionAnticipoPaqueteria && ListaAnticipos.length > 0">
                    <div class="box-header with-border">
                        <h3 class="box-title"> Otros Comprobantes Egreso Planilla {{Modelo.NumeroDocumentoOrigen.NumeroDocumento}}</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="resultadoConsultaAnticipos" class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Número</th>
                                        <th>Fecha</th>
                                        <th>Oficina</th>
                                        <th>Documento Origen</th>
                                        <th>No.Documento Origen</th>
                                        <th>Valor</th>
                                        <th>Observaciones</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListaAnticipos | orderBy: 'Numero'">
                                        <td><a href="#!GestionarComprobanteIngresos/{{item.Codigo}}">{{item.Numero}}</a></td>
                                        <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                        <td>{{item.OficinaDestino.Nombre}}</td>
                                        <td>{{item.DocumentoOrigen.Nombre}}</td>
                                        <td>{{item.NumeroDocumentoOrigen}}</td>
                                        <td class="text-right">{{item.ValorPagoTotal | number:0}}</td>
                                        <td>{{item.Observaciones}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!----------------------------------------------------------------------------------------------------------------------------------->

                <div class="box box-default box-solid" ng-show="SeccionAnticipoPaqueteria && esAnticipo(Modelo.DocumentoOrigen.Codigo)">
                    <div class="box-header with-border">
                        <h3 class="box-title"> Anticipo Planilla</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse" ng-disabled="Deshabilitar"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-12" ng-show="!ComprobanteDefinitivo">
                                <div class="form-group">
                                    <label>Ruta</label>
                                    <span class="form-control" ng-show="!(Modelo.Planilla.Vehiculo.Tenedor.Codigo > 0)">{{RutaPlanillaAnticipo.Nombre}}</span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12" ng-show="!ComprobanteDefinitivo">
                                <div class="form-group">
                                    <label>Valor Flete</label>
                                    <span class="form-control" ng-show="!(Modelo.Planilla.Vehiculo.Tenedor.Codigo > 0)">{{ValorFleteTransportadorPlanillaAnticipo}}</span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12" ng-show="!ComprobanteDefinitivo">
                                <div class="form-group">
                                    <label>Manifiesto</label>
                                    <span class="form-control" ng-show="!(Modelo.Planilla.Vehiculo.Tenedor.Codigo > 0)">{{ManifiestoPlanillaAnticipo}}</span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12 text-center" ng-show="!ComprobanteDefinitivo">
                                <div class="form-group">
                                    <label>Aplica Combustible</label>
                                    <br>
                                    <input type="checkbox" ng-model="AplicaCombustiblePlanillaAnticipo" ng-show="!(Modelo.Planilla.Vehiculo.Tenedor.Codigo > 0)" ng-click="CalcularAnticipo()" ng-disabled="Deshabilitar == true" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12 text-center" ng-show="!ComprobanteDefinitivo">
                                <div class="form-group">
                                    <label>Aplica Peajes</label>
                                    <br>
                                    <input type="checkbox" ng-model="AplicaPeajesPlanillaAnticipo" ng-show="!(Modelo.Planilla.Vehiculo.Tenedor.Codigo > 0)" ng-click="CalcularAnticipo()" ng-disabled="Deshabilitar == true" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                                </div>
                            </div>
                        </div>

                        <br>
                        <br>

                        <div id="resultadoConsulta" class="table-responsive ng-hide" ng-show="ListadoGastosRuta.length > 0 && !ComprobanteDefinitivo">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th width="10px"></th>
                                        <th>Concepto</th>
                                        <th>Valor</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoGastosRutaAgrupado">
                                        <td ng-click="ListConceptos(item)" width="15px">
                                            <span ng-show="item.lstData" class="glyphicon glyphicon-menu-right"></span>
                                            <span ng-show="!item.lstData" class="glyphicon glyphicon-menu-down"></span>
                                        </td>
                                        <td>
                                            <div class="col-md-12"><strong>{{item.Nombre}}</strong></div>
                                            <div ng-show="!item.lstData">

                                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm display nowrap dataTable dtr-inline">
                                                    <thead>
                                                        <tr>
                                                            <th>Concepto</th>
                                                            <th>Valor</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr ng-repeat="item1 in item.Data">
                                                            <td>{{item1.Concepto.Nombre}}</td>
                                                            <td>{{item1.Valor}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                        <td>{{item.Valor}}</td>
                                    </tr>
                                </tbody>

                            </table>

                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Total Peajes</label>
                                    <span class="form-control">{{ValorGastosPeajes}}</span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Total Gastos</label>
                                    <span class="form-control">{{ValorGastosSinPeajes}}</span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12 pull-right">
                                <div class="form-group">
                                    <label>Valor Anticipo</label>
                                    <span class="form-control" ng-show="!(Modelo.Planilla.Vehiculo.Tenedor.Codigo > 0)">{{ValorAnticipoPlanillaAnticipo}}</span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12 pull-right">
                                <div class="form-group">
                                    <label>Total Anticipos Girados</label>
                                    <span class="form-control">{{ValorTotalAnticipos}}</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- ------------------------------------------------------------- -->
                <div class="box-body">
                    <div class="box box-default box-solid ng-hide" ng-show="ActivarConsignacion">
                        <div class="box-header with-border">
                            <h3 class="box-title"> TRANSFERENCIA</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse" ng-disabled="Deshabilitar" ng-click="HabilitarConsignacion()"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="CuentaBancariaConsig">Cuenta Bancaria</label>
                                    <select name="CuentaBancariaConsig" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="Modelo.CuentaBancariaConsignacion" ng-disabled="Deshabilitar" ng-options="i.NombreCuenta for i in ListadoCuentaBancarias"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="FechaConsignacion">Fecha </label>
                                    <input name="FechaConsignacion" type="date" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="Modelo.FechaConsignacion" ng-disabled="Deshabilitar">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="valorconsignacion"> Valor</label>
                                    <input name="valorconsignacion" ng-change="MaskValores()" maxlength="15" style="text-align:right" class="form-control " ng-model="Modelo.ValorPagoTransferencia" ng-disabled="Deshabilitar || InhabilitarValorFormaPago" placeholder="Ingrese un número " ng-blur="ValidarAnticipoSugerido(Modelo.ValorPagoTransferencia)">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="NumeroConsignacion">Número </label>
                                    <input name="NumeroConsignacion" maxlength="15" class="form-control " ng-model="Modelo.NumeroConsignacion" ng-disabled="Deshabilitar" placeholder="Ingrese un número de consignacion">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ------------------------------------------------------------- -->
                    <div class="box box-default box-solid ng-hide" ng-show="ActivarCambista">
                        <div class="box-header with-border">
                            <h3 class="box-title">CAMBISTA</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse" ng-disabled="Deshabilitar" ng-click="HabilitarConsignacion()"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="CuentaBancariaConsig">Cuenta Cambista</label>
                                    <select name="CuentaBancariaConsig" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="Modelo.CuentaBancariaConsignacion" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoCuentaCambistas | orderBy:'Codigo'"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="FechaConsignacion">Fecha </label>
                                    <input name="FechaConsignacion" type="date" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="Modelo.FechaConsignacion" ng-disabled="Deshabilitar">
                                </div>
                            </div>
                            <!--<div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="valorconsignacion"> Valor</label>
                                    <input name="valorconsignacion" ng-change="MaskValores()" maxlength="15" style="text-align:right" class="form-control" ng-model="Modelo.ValorPagoTransferencia" disabled placeholder="Ingrese un Valor ">
                                </div>
                            </div>-->
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="valorconsignacion"> Valor</label>
                                    <input name="valorconsignacion" ng-change="MaskValores()" maxlength="15" style="text-align:right" class="form-control " ng-model="Modelo.ValorPagoTransferencia" ng-disabled="Deshabilitar || InhabilitarValorFormaPago" placeholder="Ingrese un número ">
                                </div>
                            </div>
                            <!--<div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="NumeroConsignacion">Número </label>
                                    <input name="NumeroConsignacion" ng-change="MaskNumero()" maxlength="15" class="form-control" ng-model="Modelo.NumeroConsignacion" ng-disabled="Deshabilitar" placeholder="Ingrese un Número de Consignacion">
                                </div>
                            </div>-->
                        </div>
                    </div>

                    <div class="box box-default box-solid ng-hide" ng-show="ActivarCheque">
                        <div class="box-header with-border">
                            <h3 class="box-title">CHEQUE</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse" ng-disabled="Deshabilitar" ng-click="HabilitarCheque()"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="cuentabancaria">Cuenta Bancaria</label>
                                    <select name="cuentabancaria" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="Modelo.CuentaBancariaCheque" ng-disabled="Deshabilitar" ng-options="i.NombreCuenta for i in ListadoCuentaBancarias"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="fecha">Fecha </label>
                                    <input name="fecha" type="date" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="Modelo.FechaCheque" ng-disabled="Deshabilitar" ng-blur="AsignarFecha(FechaCheque)">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="cheque">Cheque</label>
                                    <input name="cheque" ng-change="Modelo.NumeroCheque = MaskNumeroObj(Modelo.NumeroCheque)" maxlength="15" class="form-control " ng-model="Modelo.NumeroCheque" ng-disabled="Deshabilitar" placeholder="Ingrese un Número de Cheque">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="valorcheque">Valor</label>
                                    <input name="valorcheque" ng-change="MaskValores()" maxlength="15" style="text-align:right" class="form-control " ng-model="Modelo.ValorPagoCheque" ng-disabled="Deshabilitar || InhabilitarValorFormaPago" placeholder="Ingrese un Valor" ng-blur="ValidarAnticipoSugerido(Modelo.ValorPagoCheque)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ------------------------------------------------------------- -->
                    <div class="box box-default box-solid ng-hide" ng-show="ActivarEfectivo">
                        <div class="box-header with-border">
                            <h3 class="box-title"> EFECTIVO</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse" ng-disabled="Deshabilitar" ng-click="HabilitarEfectivo()"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="caja">Caja</label>
                                    <select name="caja" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="Modelo.Caja" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoCajaOficinas"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="valor">Valor</label>
                                    <input name="valor" ng-change="MaskValores()" maxlength="15" style="text-align:right" class="form-control " ng-disabled="Deshabilitar || InhabilitarValorFormaPago" ng-model="Modelo.ValorPagoEfectivo" placeholder="Ingrese un valor" ng-blur="ValidarAnticipoSugerido(Modelo.ValorPagoEfectivo)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ------------------------------------------------------------- -->
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title"> Concepto Contable</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse" ng-disabled="Deshabilitar"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="ConceptoContable">Concepto Contable</label>
                                    <select name="ConceptoContable" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="Modelo.ConceptoContable" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoConceptoContable"></select>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <label for=""></label>
                                <button class="btn btn-block btn-primary" ng-click="ConsultarMovimiento()" ng-disabled="Deshabilitar" title="Nuevo Movimiento">
                                    Cargar Cuentas PUC
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <div class="form-group">
                            <h3 class="box-title">Información Movimientos</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse" ng-disabled="Deshabilitar"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label></label>
                                    <button class="btn btn-block btn-primary" ng-click="ModalMovimiento()" ng-disabled="Deshabilitar" title="Nuevo Movimiento">
                                        Adicionar
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <label for=""></label>
                                <button class="btn btn-block btn-primary" ng-click="LimpiarMovimiento()" ng-disabled="Deshabilitar" title="Limpiar">
                                    Limpiar
                                    <span class="glyphicon glyphicon-refresh"></span>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div id="resultadoConsulta" class="table-responsive">
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Número Cuenta</th>
                                            <th>Nombre Cuenta</th>
                                            <th style="text-align:right">Valor Base</th>
                                            <th style="text-align:right">Débito</th>
                                            <th style="text-align:right">Crédito</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ListadoMovimiento">
                                            <td>{{item.CuentaPUC.CodigoCuenta}}</td>
                                            <td>{{item.CuentaPUC.Nombre}}</td>
                                            <td style="text-align:right">{{item.ValorBase | number :0}}</td>
                                            <td style="text-align:right">{{item.ValorDebito | number :0}}</td>
                                            <td style="text-align:right">{{item.ValorCredito | number :0}}</td>
                                            <td>
                                                <button class="button mini-button  btn-danger" title="Anular" ng-click="ConfirmacionEliminarMovimiento($index)" ng-disabled="Deshabilitar == true">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                        <tr>
                                            <td colspan="4">
                                                <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                    <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                        <span class="item">&laquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                        <span class="item">&lsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                        <span class="item">&rsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                        <span class="item">&raquo;</span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                    <tfoot ng-if="totalRegistros == 0 && Buscando == false">
                                        <tr>
                                            <td colspan="4" style="color:red; text-align:center">
                                                <small>{{ResultadoSinRegistros}}</small>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title"> Totales</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Débito</label>
                                    <span class="form-control ng-binding" style="text-align:right"> {{Modelo.Debito | number :0}}</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Crédito</label>
                                    <span class="form-control ng-binding" style="text-align:right"> {{Modelo.Credito | number :0}}</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Diferencia</label>
                                    <span class="form-control ng-binding" style="text-align:right"> {{Modelo.Diferencia | number :0}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina</label>
                            <input name="cmbOficina" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="Oficina" uib-typeahead="i as i.Nombre for i in ListadoOficinasPlanilla| filter:$viewValue" ng-disabled="Deshabilitado = true" aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead-25744-9237" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <select name="estado" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-disabled="Deshabilitar" ng-model="Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
                <!--SECCIÓN BOTONES-->
                <div class="SeccionBotones">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                            Cancelar
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                        <button type="button" class="btn btn-primary" ng-disabled="Deshabilitar" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-show="!(esAnticipo(Modelo.DocumentoOrigen.Codigo) && esExcesoAnticipo)">
                            Aceptar
                            <span class="glyphicon glyphicon-ok-circle"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <!-- Modal Informacion Movimiento-->
    <div class="modal fade" id="modalMovimiento" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-content">
            <div class="modal-content">
                <form autocomplete="off" class="ng-pristine ng-valid ng-valid-required ng-valid-maxlength">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">
                            Nueva Cuenta
                        </h3>
                    </div>
                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorMovimiento.length > 0">
                        <ul>
                            <li ng-repeat="error in MensajesErrorMovimiento">
                                <span>{{error}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="cuentapuc">Cuenta PUC</label>
                                    <input ng-change="MaskPlaca()" ng-disabled="Deshabilitar" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-required" name="cmbCuentaPuc" id="cmbCuentaPuc" placeholder="Seleccione una Cuenta" ng-model="Modal.CuentaPUC"
                                           typeahead-no-results="myform.cmbCuentaPuc.$error.required" uib-typeahead="cuenta as cuenta.Nombre for cuenta in ListadoCuentasPUC| filter:$viewValue | limitTo: 5" ng-required="false" aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead-25747-235">
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="cuentapuc">Nombre Cuenta</label>
                                    <select id="cmbCuentaPuc2" class="form-control" ng-model="Modal.CuentaPUC" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoCuentasPUC" data-live-search="true"></select>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>Número Identificación<small class="small">*</small></label>
                                    <input ng-change="Modal.TerceroModal.NumeroIdentificacion = MaskNumeroObj(Modal.TerceroModal.NumeroIdentificacion)" name="identificacionnn" class="form-control " ng-disabled="SoloLecturaPasajero" type="text" maxlength="15" ng-model="Modal.TerceroModal.NumeroIdentificacion" placeholder="Digite el número de identificación del tercero" ng-blur="ValidarTerceroModal(Modal.TerceroModal.NumeroIdentificacion)">
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="modaltercero">Tercero</label>
                                    <span class="form-control ng-binding">{{Modal.TerceroModal.NombreCompleto}}</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="valorbase">Valor Base</label>
                                    <input name="valorbase" ng-change="MaskValores()" maxlength="15" style="text-align:right" class="form-control " ng-model="Modal.ValorBase" placeholder="Ingrese un valor base">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="debito">Débito</label>
                                    <input name="debito" ng-change="MaskValores()" maxlength="15" style="text-align:right" class="form-control " ng-model="Modal.ValorDebito" placeholder="Ingrese un valor debito">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="credito">Crédito</label>
                                    <input name="credito" ng-change="MaskValores()" maxlength="15" style="text-align:right" class="form-control " ng-model="Modal.ValorCredito" placeholder="Ingrese un valor credito">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarMovimiento()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="ConsultaTerceros" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-content">
            <div class="modal-content">
                <form autocomplete="off" class="ng-pristine ng-valid">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h3 class="modal-title">
                            Consulta Terceros
                        </h3>
                    </div>
                    <div class="box-body">
                        <div id="resultadoConsulta" class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Identificación</th>
                                        <th>Nombre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoTerceros | orderBy: 'NombreCompleto'">
                                        <td>{{item.NumeroIdentificacion}}</td>
                                        <td>{{item.NombreCompleto}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off" class="ng-pristine ng-valid">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmación Eliminar Movimiento -->
    <div class="modal fade" id="modalEliminarMovimiento" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off" class="ng-pristine ng-valid">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Esta seguro que desea eliminar el Movimiento ?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Eliminar tarifa" ng-click="EliminarMovimiento(Indice)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Anticipos Conductor -->
    <div class="modal fade" id="modalAnticiposConductor" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-content">
            <div class="modal-content">
                <form autocomplete="off" class="ng-pristine ng-valid">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        El operario {{Modelo.Beneficiario.NombreCompleto}} cuenta con más anticipos generados el día de hoy.
                        <div id="resultadoAnticiposConductor" class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Número</th>
                                        <th>Oficina</th>
                                        <th>Documento Origen</th>
                                        <th>No.Documento Origen</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in AnticiposConductor | orderBy: 'Numero'">
                                        <td><a href="#!GestionarComprobanteIngresos/{{item.Codigo}}">{{item.Numero}}</a></td>
                                        <td>{{item.OficinaDestino.Nombre}}</td>
                                        <td>{{item.DocumentoOrigen.Nombre}}</td>
                                        <td>{{item.NumeroDocumentoOrigen}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>