﻿<div >

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>

    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>

    <section class="content">
        <form>
            <div id="filtrosConsulta">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fechaInicial">Fecha Inicial</label>
                            <input name="fechaInicial" type="date" class="form-control" ng-model="FechaInicial">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fechaFinal">Fecha Final</label>
                            <input name="fechaFinal" type="date" class="form-control" ng-model="FechaFinal">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="numeroInicial">Número</label>
                            <input name="numeroInicial" type="text" class="form-control" ng-model="Numero" maxlength="10" id="numeroInicial" placeholder="Ingrese un numeró" ng-keyup="MaskNumero('Numero',0,20,0,1)" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Cliente</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un cliente" ng-model="Cliente"
                                   uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in AutocompleteClientes($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="Cliente=VerificarAutocomplete(Cliente)" autocomplete="off" ng-disabled="Deshabilitar" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> Estado Solicitud</label>
                            <select name="cmbEstado" class="form-control" ng-model="EstadoProgramacion" ng-options="i.Nombre for i in ListadoEstadoProgramacion"></select>
                        </div>
                    </div>
                </div>
                <div id="lineButtons">
                    <div class="pull-left">
                        <button class="btn btn-block btn-primary" ng-click="Buscar()" title="Buscar Facturas" ng-disabled="DeshabilitarConsulta">
                            Buscar
                            <span class="glyphicon glyphicon-filter"></span>
                        </button>
                    </div>
                </div>
                <br />
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div id="resultadoConsulta">
                            <div class="table-responsive" ng-if="ListadoCerrarOrdenServicios.length > 0">
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Número</th>
                                            <th>Fecha</th>
                                            <th>Cliente</th>
                                            <th>Estado Solicitud</th>
                                            <th>Estado Documento</th>
                                            <th>Causal Cierre</th>
                                            <th>Observaciones</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ListadoCerrarOrdenServicios">
                                            <td>{{item.OrdenServicio.NumeroDocumento}}</td>
                                            <td>{{item.OrdenServicio.Fecha | date:'dd/MM/yyyy'}}</td>
                                            <td>{{item.OrdenServicio.Cliente.NombreCompleto}}</td>
                                            <td class="text-center">
                                                <span ng-if="item.EstadoProgramacion.Codigo == 9201" class="label label-info">{{item.EstadoProgramacion.Nombre}}</span>
                                                <span ng-if="item.EstadoProgramacion.Codigo == 9202" class="label label-warning">{{item.EstadoProgramacion.Nombre}}</span>
                                                <span ng-if="item.EstadoProgramacion.Codigo == 9203" class="label label-success">{{item.EstadoProgramacion.Nombre}}</span>
                                                <span ng-if="item.EstadoProgramacion.Codigo == 9204" class="label label-success">{{item.EstadoProgramacion.Nombre}}</span>
                                            </td>
                                            <td class="text-center">
                                                <span ng-if="item.OrdenServicio.Estado == 0" class="label label-warning">Borrador</span>
                                                <span ng-if="item.OrdenServicio.Estado == 1" class="label label-success">Definitivo</span>
                                            </td>
                                            <td>{{item.CausalCierre.Nombre}}</td>
                                            <td>{{item.Observaciones}}</td>
                                            <td>
                                                <button ng-if="item.EstadoProgramacion.Codigo == 9201 || item.EstadoProgramacion.Codigo == 9202" class="button mini-button btn-default" title="Cerrar" ng-click="ConfirmarCerrarOrdenServicio(item)">
                                                    <span class="fas fa-times-circle"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                        <tr>
                                            <td colspan="9">
                                                <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                    <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                        <span class="item">&laquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                        <span class="item">&lsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                        <span class="item">&rsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                        <span class="item">&raquo;</span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                <span style="color:red">
                                    <small>{{ResultadoSinRegistros}}</small>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!-- Modal Confirmación Cerrar Orden Servicio -->
    <div class="modal fade" id="modalConfirmacionCerrarOrdenServicio" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="alert alert-danger" role="alert" ng-if="MensajesCerrar.length > 0">
                                    <ul>
                                        <li ng-repeat="error in MensajesCerrar">
                                            <span>{{error}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <p>¿Esta seguro de cerrar la orden de servicio <strong>{{ESOSNumeroDocumentoCerrar}}</strong>?</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="Causal">Causa Cierre</label>
                                    <select name="Causal" class="form-control" ng-model="CausaCierre" ng-options="i.Nombre for i in ListadoCausalesCierre"></select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="Observaciones">Observaciones Cierre</label>
                                    <input name="Observaciones" type="text" class="form-control" ng-model="ObservacionesCierre" placeholder="Ingrese observación">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="CerrarOrdenServicio()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmación Anular Causal -->
</div>