﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR ORDEN SERVICIO</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fechaInicial">Fecha Inicial</label>
                            <input name="fechaInicial" type="date" class="form-control" ng-model="ModeloFechaInicial">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fechaFinal">Fecha Final</label>
                            <input name="fechaFinal" type="date" class="form-control" ng-model="ModeloFechaFinal">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="numeroInicial">Número</label>
                            <input name="numeroInicial" ng-change="MaskNumero()" maxlength="15" class="form-control" ng-model="ModeloNumero" placeholder="Ingrese un número">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Cliente</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un cliente" ng-model="Cliente"
                                   uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in ListadoClientes| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="Cliente=VerificarAutocomplete(Cliente)">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="estado">Estado Documento</label>
                            <select name="estado" class="form-control" ng-model="Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> Estado Solicitud</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalEstadoSolicitus" ng-options="i.Nombre for i in ListadoEstadoSolicitud"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" title="Buscar" ng-click="paginaActual=1;Buscar()" ng-disabled="DeshabilitarConsulta">
                        Buscar
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-block btn-primary" title="Nueva" ng-click="NuevoDocumento()" ng-disabled="DeshabilitarActualizar">
                        Nuevo
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoOrdenServicios.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th>Número</th>
                                <th>Fecha</th>
                                <th>Cliente</th>
                                <th>Observaciones</th>
                                <th>Estado Solicitud</th>
                                <th>Estado Documento</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoOrdenServicios | orderBy:'-Numero'">
                                <td><a href="#!GestionarOrdenservicio/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>
                                <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                <td>{{item.Cliente.Nombre}}</td>
                                <td>{{item.Observaciones}}</td>
                                <td>
                                    <span ng-if="item.EstadoOrden.Codigo == 9202" class="label label-danger">INCOMPLETA</span>
                                    <span ng-if="item.EstadoOrden.Codigo == 9203 " class="label label-success">DESPACHADA</span>
                                    <span ng-if="item.EstadoOrden.Codigo == 9201" class="label label-warning">PENDIENTE</span>
                                </td>
                                <td>
                                    <span ng-if="item.Anulado == 1" class="label label-danger">ANULADO</span>
                                    <span ng-if="item.Estado == 1 && item.Anulado == 0" class="label label-success">DEFINITIVO</span>
                                    <span ng-if="item.Estado == 0 && item.Anulado == 0" class="label label-warning">BORRADOR</span>
                                </td>
                                <td>
                                    <button class="button mini-button btn-info" title="Duplicar" 
                                            ng-click="ConfirmacionDuplicarOrdenServicio(item)" 
                                            ng-disabled="DeshabilitarEliminarAnular" ng-show="item.Anulado == 0 && Sesion.UsuarioAutenticado.DuplicarOrdenServicio">
                                        <span class="fas fa-copy"></span>
                                    </button>
                                </td>
                                <td>
                                    <button class="button mini-button primary" title="Imprimir Reporte" ng-click="DesplegarInforme(item.Numero,1, 0)" ng-disabled="DeshabilitarImprimir">
                                        <span class="glyphicon glyphicon-print"></span>
                                    </button>
                                </td>
                                <td>
                                    <button class="button mini-button btn-danger" title="Anular" ng-click="AnularOrdenServicio(item.Numero,item.NumeroDocumento)" ng-disabled="DeshabilitarEliminarAnular" ng-show="item.Anulado == 0">
                                        <span class="fas fa-trash-alt"></span>
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalAnularOrdenServicio" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <ul>
                        <li ng-repeat="error in MensajesErrorAnular">
                            <span class="errorField">{{error}}</span>
                        </li>
                    </ul>
                    <div class="modal-body">
                        <p>¿Está seguro de Anular la orden de servicio {{NumeroDocumento}}?</p>

                        <label>Causa Anulacion</label>
                        <input name="nombre" class="form-control" ng-model="ModeloCausaAnula" placeholder="Ingrese una Causa" maxlength="40">

                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Anular()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeEliminarPaises" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click="MostrarMensajeErrorModal()"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="MostrarMensajeErrorModal()">
                                Mensaje Completo
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--modalDuplicarOrdenServicio-->
    <div class="modal fade" id="modalDuplicarOrdenServicio" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>Desea duplicar la orden de servicio No. {{itemActual.NumeroDocumento}} ?</p>
                    </div>
                    
                    <div class="modal-footer">
                        <div class="pull-right">
                          
                            <button type="button" class="btn btn-primary" ng-click="DuplicarOrdenServicio(itemActual)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>