﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="nombre">Número</label>
                            <span class="form-control">{{Modelo.Numero}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechVinc">Fecha</label>
                            <input name="txtFechVinc" type="date" class="form-control" ng-model="Modelo.Fecha" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Orden Servicio</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="Ingrese la Orden" ng-model="Modelo.OrdenServicio.NumeroDocumento"
                                   ng-disabled="Modelo.Numero > 0 || ListadoVehiculos.length > 0" ng-blur="ObtenerOrdenSerivicio(Modelo.OrdenServicio.NumeroDocumento)" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Cliente</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un facturar A" ng-model="Modelo.OrdenServicio.Cliente.Nombre" disabled autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="nombre">Documento Cliente</label>
                            <input type="text" class="form-control" ng-model="Modelo.OrdenServicio.DocumentoCliente" disabled autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="row">



                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Despacho</label>
                            <select tabindex="1" class="form-control" ng-model="Modelo.OrdenServicio.TipoDespacho" ng-options="i.Nombre for i in ListadoTipoDespacho | orderBy : 'Nombre'"
                                    ng-change="CambioTipoDespachos()" ng-disabled="ListadoVehiculos.length > 0 && ListadoVehiculos[0].Data.length > 0"></select>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-12" ng-show="!DiferentesSitiosDescargue">
                        <div class="form-group">
                            <label>Ruta</label>
                            <input tabindex="1" type="text" class="form-control" name="Ciudad Cargue" maxlength="50" placeholder="Ingrese una ruta" ng-model="Modelo.OrdenServicio.Ruta"
                                   uib-typeahead="i as i.Nombre for i in AutocompleteRutas()| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.OrdenServicio.Ruta=VerificarAutocomplete(Modelo.OrdenServicio.Ruta);CargarTarifasViajeMaster(Modelo.OrdenServicio.Ruta);ValidarSaldoCliente();CargarTarifasViaje(Modal.OrdenServicio.Ruta.Codigo);CargarTipoTarifasViaje(Modal.OrdenServicio.Ruta.Codigo,Modal.OrdenServicio.Tarifa.Codigo)"
                                   ng-disabled="ListadoVehiculos.length > 0 && ListadoVehiculos[0].Data.length > 0" autocomplete="off" ng-change="MaskMayus()" disabled>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-12" ng-show="Modelo.OrdenServicio.TipoDespacho.Codigo != 18202">
                        <div class="form-group">
                            <label>Tarifa</label>
                            <select tabindex="1" name="cmbEstado" class="form-control" ng-model="Modelo.OrdenServicio.Tarifa" ng-change="CargarListadoTarifas();CargarTipoTarifasViaje(Modelo.OrdenServicio.Ruta.Codigo,Modelo.OrdenServicio.Tarifa.Codigo)" ng-options="i.Nombre for i in ListadoTarifaTarifario | orderBy: 'Nombre'" ng-disabled="ListadoVehiculos.length > 0 && ListadoVehiculos[0].Data.length > 0"></select>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12" ng-show="TipoDespachoCupoTonelada">
                        <div class="form-group">
                            <label for="Cuenta">Producto</label>
                            <input type="text" class="form-control" name="Ciudad Cargue" ng-model="Modelo.OrdenServicio.Producto.Nombre" disabled autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12" ng-show="TipoDespachoCupoTonelada">
                        <div class="form-group">
                            <label>Cantidad (Kg)</label>
                            <input type="text" style="text-align:right" class="form-control" ng-model="Modelo.OrdenServicio.ValorTipoDespacho" disabled autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12" ng-show="TipoDespachoCupoTonelada">
                        <div class="form-group">
                            <label for="numero">Saldo (Kg)</label>
                            <input type="text" style="text-align:right" class="form-control" ng-model="Modelo.OrdenServicio.SaldoTipoDespacho" disabled autocomplete="off">
                        </div>
                    </div>
                    <!--<div class="col-md-4 col-sm-6 col-xs-12" ng-show="TipoDespachoCantidadViajes && !DiferentesSitiosDescargue">
                        <div class="form-group">
                            <label for="Cuenta">Tarifa</label>
                            <input type="text" class="form-control" name="Ciudad Cargue" ng-model="Modelo.OrdenServicio.Tarifa.Nombre" disabled autocomplete="off">
                        </div>
                    </div>-->
                    <div class="col-md-2 col-sm-6 col-xs-12" ng-show="TipoDespachoCantidadViajes">
                        <div class="form-group">
                            <label>Cantidad</label>
                            <input type="text" style="text-align:right" class="form-control" ng-model="Modelo.OrdenServicio.ValorTipoDespacho" disabled autocomplete="off">
                            <!--<span style="text-align:right" class="form-control disabled-view">{{Modelo.OrdenServicio.ValorTipoDespacho | number:0}}</span>-->
                            <!--<input name="numero" type="text" style="text-align:right" maxlength="20" class="form-control" ng-model="Modelo.OrdenServicio.ValorTipoDespacho" disabled autocomplete="off">-->
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12" ng-show="TipoDespachoCantidadViajes">
                        <div class="form-group">
                            <label for="numero">Saldo</label>
                            <input type="text" style="text-align:right" class="form-control" ng-model="Modelo.OrdenServicio.SaldoTipoDespacho" disabled autocomplete="off">

                            <!--<span style="text-align:right" class="form-control disabled-view">{{Modelo.OrdenServicio.SaldoTipoDespacho | number:0}}</span>-->
                            <!--<input name="numero" type="text" style="text-align:right" maxlength="20" class="form-control" ng-model="Modelo.OrdenServicio.SaldoTipoDespacho" disabled>-->
                        </div>
                    </div>
                    <!--<div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="Cuenta">Sitio Cargue</label>
            <input type="text" class="form-control" name="Ciudad Cargue" ng-model="Modelo.OrdenServicio.SitioCargue.SitioCliente.Nombre" autocomplete="off" disabled>
        </div>
    </div>-->

                    <div class="col-md-3 col-sm-6 col-xs-12">

                        <div class="form-group">
                            <label for="Cuenta">Sitio Cargue</label>
                            <input tabindex="1" type="text" class="form-control" name="Ciudad Cargue" maxlength="50" placeholder="Ingrese un Sitio Cargue" ng-model="Modelo.OrdenServicio.SitioCargue" autocomplete="off" ng-disabled="ListadoVehiculos.length > 0 && ListadoVehiculos[0].Data.length > 0"
                                   uib-typeahead="i as i.SitioCliente.Nombre for i in AutocompleteSitiosClienteCargue($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="Modelo.OrdenServicio.SitioCargue=VerificarAutocomplete(Modelo.OrdenServicio.SitioCargue); Modelo.OrdenServicio.DireccionCargue = Modelo.OrdenServicio.SitioCargue.DireccionSitio; Modelo.OrdenServicio.TelefonoCargue = Modelo.OrdenServicio.SitioCargue.Telefono; Modelo.OrdenServicio.ContactoCargue = Modelo.OrdenServicio.SitioCargue.Contacto">
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">


                        <div class="form-group">


                            <label for="catalogos">Dirección Cargue</label>
                            <input class="form-control" data-live-search="true" ng-model="Modelo.OrdenServicio.DireccionCargue" disabled autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="numero">Contacto Cargue</label>
                            <input name="numero" maxlength="50" type="text" class="form-control" ng-model="Modelo.OrdenServicio.ContactoCargue" disabled autocomplete="off">
                        </div>
                    </div>
                    <!--<div class="col-md-4 col-sm-6 col-xs-12" ng-show="!DiferentesSitiosDescargue">
        <div class="form-group">
            <label for="Cuenta">Sitio Descargue</label>
            <input type="text" class="form-control" name="Ciudad Cargue" ng-model="Modelo.OrdenServicio.SitioDescargue.SitioCliente.Nombre" autocomplete="off" disabled>
        </div>
    </div>-->

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Cuenta">Sitio Descargue</label>
                            <input tabindex="1" type="text" class="form-control" name="Ciudad Cargue" maxlength="50" placeholder="Ingrese un Sitio Descargue" ng-model="Modelo.OrdenServicio.SitioDescargue" ng-disabled="ListadoVehiculos.length > 0 && ListadoVehiculos[0].Data.length > 0" autocomplete="off"
                                   uib-typeahead="i as i.SitioCliente.Nombre for i in AutocompleteSitiosClienteDescargueMaster($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="Modelo.OrdenServicio.SitioDescargue=VerificarAutocomplete(Modelo.OrdenServicio.SitioDescargue); Modelo.OrdenServicio.DireccionDescargue = Modelo.OrdenServicio.SitioDescargue.DireccionSitio; Modelo.OrdenServicio.TelefonoDescargue = Modelo.OrdenServicio.SitioDescargue.Telefono; Modelo.OrdenServicio.ContactoDescargue = Modelo.OrdenServicio.SitioDescargue.Contacto">
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12" ng-show="!DiferentesSitiosDescargue">
                        <div class="form-group">
                            <label for="catalogos">Dirección Descargue</label>
                            <input class="form-control" data-live-search="true" ng-model="Modelo.OrdenServicio.DireccionDescargue" disabled autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12" ng-show="!DiferentesSitiosDescargue">
                        <div class="form-group">
                            <label for="numero">Contacto Descargue</label>
                            <input name="numero" maxlength="50" type="text" class="form-control" ng-model="Modelo.OrdenServicio.ContactoDescargue" disabled autocomplete="off">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Vehículo</label>
                            <select name="cmbTipoVehiculo" class="form-control" ng-model="Modelo.OrdenServicio.TipoVehiculo" ng-options="i.Nombre for i in ListadoTipoVehiculo  | orderBy:'Nombre'" ng-disabled="ListadoVehiculos.length > 0 && ListadoVehiculos[0].Data.length > 0"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12" ng-show="MostrarCamposModificacion == 1">
                        <div class="form-group">
                            <label for="lblFechVinc">Fecha Modificación</label>
                            <input name="txtFechVinc" type="date" class="form-control" ng-model="Modelo.FechaModificacion" disabled>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12" ng-show="MostrarCamposModificacion == 1">
                        <div class="form-group">
                            <label for="numero">Usuario Modificación</label>
                            <input name="numero" maxlength="50" type="text" class="form-control" ng-model="Modelo.UsuarioModifica" disabled autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="input-control text full-size" data-role="input">
                                <label for="observaciones">Observaciones</label>
                                <textarea class="form-control" maxlength="100" name="observaciones" type="text" ng-model="Modelo.Observaciones" ng-disabled="Deshabilitar"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="pull-right">
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="AdicionarDetalle()" ng-disabled="DeshabilitarActualizar">
                        Adicionar
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <br />
                <br />
                <div style="overflow-y: scroll;overflow-x: scroll;max-height: 500px;max-width: 100%">
                    <h4><strong>Programación</strong></h4>
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm display nowrap dataTable dtr-inline" style="overflow-x:scroll">
                        <thead>
                            <tr>
                                <th width="10px"></th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--Listado Grid agrupado-->
                            <tr ng-repeat="item in ListadoVehiculos">
                                <td ng-click="ShowList(item)" width="15px"><span class="glyphicon glyphicon-menu-right"></span></td>
                                <td>
                                    <div class="col-md-2">{{item.Fecha  | date:'dd/MM/yyyy'}}  </div>
                                    <div class="col-md-2">Vehículos: {{item.Data.length}}  </div>
                                    <div class="col-md-2">Cantidad Total: {{item.Cantidad | number:0}} </div>
                                    <div class="col-md-4">Cantidad Pendiente: {{item.CantidadPendiente | number:0}} </div>
                                    <div>
                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm display nowrap dataTable dtr-inline" ng-show="item.show">

                                            <thead>
                                                <tr>
                                                    <th ng-show="TipoDespachoCupoTonelada">Cantidad</th>
                                                    <th>Fecha Cargue</th>
                                                    <th>Fecha Descargue</th>
                                                    <th ng-show="TipoDespachoCantidadViajes && !DiferentesSitiosDescargue">Tipo Tarifa</th>
                                                    <th>Flete Cliente</th>
                                                    <th ng-hide="Sesion.UsuarioAutenticado.ManejoDeshabilitarValoresCargueDescargueProgramacion">Valor Cargue</th>
                                                    <th ng-hide="Sesion.UsuarioAutenticado.ManejoDeshabilitarValoresCargueDescargueProgramacion">Valor Descargue</th>
                                                    <th ng-show="Sesion.UsuarioAutenticado.ManejoTarifaCompraTarifarioVenta">Flete Transportador</th>
                                                    <th ng-hide="Sesion.UsuarioAutenticado.ManejoDeshabilitarValoresCargueDescargueProgramacion">Valor Cargue</th>
                                                    <th ng-hide="Sesion.UsuarioAutenticado.ManejoDeshabilitarValoresCargueDescargueProgramacion">Valor Descargue</th>
                                                    <th>Valor Declarado</th>
                                                    <th ng-show="TipoDespachoCantidadViajes">Peso (Kg)</th>
                                                    <th ng-show="TipoDespachoCantidadViajes && DiferentesSitiosDescargue">Cantidad</th>
                                                    <th ng-show="TipoDespachoCantidadViajes && DiferentesSitiosDescargue">Ciudad Descargue</th>
                                                    <th ng-show="TipoDespachoCantidadViajes && DiferentesSitiosDescargue">Sitio Descargue</th>
                                                    <th ng-show="TipoDespachoCantidadViajes && (Modelo.OrdenServicio.Tarifa.Codigo == 1 || Modelo.OrdenServicio.Tarifa.Codigo == 2 || Modelo.OrdenServicio.TipoLineaNegocioCarga.Codigo == 103  || Modelo.OrdenServicio.TipoLineaNegocioCarga.Codigo == 104)">No. Contenedor</th> <!--Tarifa contenedor-->
                                                    <th>Observaciones</th>

                                                    <th></th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr ng-repeat="item2 in item.Data">
                                                    <td ng-show="TipoDespachoCupoTonelada" style="min-width: 100px;">
                                                        <input name="txtFechVinc" type="text" style="text-align:right" class="form-control" ng-model="item2.CantidadDespacho" ng-change="CalcularValores(item2);item2.Modifica = 1" ng-disabled="item2.OrdenServicio.IDRegistroDetalle > 0 &&  (item2.OrdenServicio.NumeroOrdenCargue > 0 ||  item2.OrdenServicio.NumeroRemesa > 0  ||  item2.OrdenServicio.NumeroPlanilla > 0)">
                                                    </td>
                                                    <td>
                                                        <input type="datetime-local" class="form-control" ng-change="ModificarEstado(item2);item2.Modifica = 1" ng-model="item2.FechaCargue" ng-blur="ValidarFechas(item2)" ng-disabled="item2.OrdenServicio.IDRegistroDetalle > 0 &&  (item2.OrdenServicio.NumeroOrdenCargue > 0 ||  item2.OrdenServicio.NumeroRemesa > 0  ||  item2.OrdenServicio.NumeroPlanilla > 0)">
                                                    </td>
                                                    <td>
                                                        <input type="datetime-local" class="form-control" ng-model="item2.FechaDescargue" ng-blur="ValidarFechas(item2)" ng-disabled="item2.OrdenServicio.IDRegistroDetalle > 0 &&  (item2.OrdenServicio.NumeroOrdenCargue > 0 ||  item2.OrdenServicio.NumeroRemesa > 0  ||  item2.OrdenServicio.NumeroPlanilla > 0)">
                                                    </td>
                                                    <td ng-show="TipoDespachoCantidadViajes && !DiferentesSitiosDescargue" style="min-width: 100px;">
                                                        {{item2.TipoTarifa.Nombre}}
                                                    </td>
                                                    <td style="min-width: 100px;">
                                                        <input name="txtFechVinc" type="text" style="text-align:right" class="form-control" ng-model="item2.FleteCliente" ng-blur="item2.Observaciones = ''" ng-change="item2.FleteCliente = MaskValoresGrid(item2.FleteCliente);item2.Modifica = 1;ModificarEstado(item2);ValidarFleteClienteMaximoGrid(item2)" ng-disabled="item2.OrdenServicio.IDRegistroDetalle > 0 &&  (item2.OrdenServicio.NumeroOrdenCargue > 0 ||  item2.OrdenServicio.NumeroRemesa > 0  ||  item2.OrdenServicio.NumeroPlanilla > 0)">
                                                    </td>
                                                    <td style="min-width: 100px;" ng-hide="Sesion.UsuarioAutenticado.ManejoDeshabilitarValoresCargueDescargueProgramacion">
                                                        <input name="txtFechVinc" type="text" style="text-align:right" class="form-control" ng-model="item2.ValorCargueCliente" ng-change="item2.ValorCargueCliente = MaskValoresGrid(item2.ValorCargueCliente);item2.Modifica = 1" ng-disabled="item2.OrdenServicio.IDRegistroDetalle > 0 &&  (item2.OrdenServicio.NumeroOrdenCargue > 0 ||  item2.OrdenServicio.NumeroRemesa > 0  ||  item2.OrdenServicio.NumeroPlanilla > 0)">
                                                    </td>
                                                    <td style="min-width: 100px;" ng-hide="Sesion.UsuarioAutenticado.ManejoDeshabilitarValoresCargueDescargueProgramacion">
                                                        <input name="txtFechVinc" type="text" style="text-align:right" class="form-control" ng-model="item2.ValorDescargueCliente" ng-change="item2.ValorDescargueCliente = MaskValoresGrid(item2.ValorDescargueCliente);item2.Modifica = 1" ng-disabled="item2.OrdenServicio.IDRegistroDetalle > 0 &&  (item2.OrdenServicio.NumeroOrdenCargue > 0 ||  item2.OrdenServicio.NumeroRemesa > 0  ||  item2.OrdenServicio.NumeroPlanilla > 0)">
                                                    </td>
                                                    <td style="min-width: 100px;" ng-show="Sesion.UsuarioAutenticado.ManejoTarifaCompraTarifarioVenta">
                                                        <input name="txtFechVinc" type="text" style="text-align:right" class="form-control" ng-model="item2.FleteTransportador" ng-blur="item2.Observaciones = ''" ng-change="item2.FleteTransportador = MaskValoresGrid(item2.FleteTransportador);item2.Modifica = 1;ModificarEstado(item2);ValidarFleteTransportadorMaximoGrid(item2)" ng-disabled="item2.OrdenServicio.IDRegistroDetalle > 0 &&  (item2.OrdenServicio.NumeroOrdenCargue > 0 ||  item2.OrdenServicio.NumeroRemesa > 0  ||  item2.OrdenServicio.NumeroPlanilla > 0)">
                                                    </td>
                                                    <td style="min-width: 100px;" ng-hide="Sesion.UsuarioAutenticado.ManejoDeshabilitarValoresCargueDescargueProgramacion">
                                                        <input name="txtFechVinc" type="text" style="text-align:right" class="form-control" ng-model="item2.ValorCargueTransportador" ng-change="item2.ValorCargueTransportador = MaskValoresGrid(item2.ValorCargueTransportador);item2.Modifica = 1" ng-disabled="item2.OrdenServicio.IDRegistroDetalle > 0 &&  (item2.OrdenServicio.NumeroOrdenCargue > 0 ||  item2.OrdenServicio.NumeroRemesa > 0  ||  item2.OrdenServicio.NumeroPlanilla > 0)">
                                                    </td>
                                                    <td style="min-width: 100px;" ng-hide="Sesion.UsuarioAutenticado.ManejoDeshabilitarValoresCargueDescargueProgramacion">
                                                        <input name="txtFechVinc" type="text" style="text-align:right" class="form-control" ng-model="item2.ValorDescargueTransportador" ng-change="item2.ValorDescargueTransportador = MaskValoresGrid(item2.ValorDescargueTransportador);item2.Modifica = 1" ng-disabled="item2.OrdenServicio.IDRegistroDetalle > 0 &&  (item2.OrdenServicio.NumeroOrdenCargue > 0 ||  item2.OrdenServicio.NumeroRemesa > 0  ||  item2.OrdenServicio.NumeroPlanilla > 0)">
                                                    </td>
                                                    <td style="min-width: 100px;">
                                                        <input name="txtFechVinc" type="text" style="text-align:right" class="form-control" ng-model="item2.ValorDeclarado" 
                                                               ng-change="item2.ValorDeclarado = MaskValoresGrid(item2.ValorDeclarado);item2.Modifica = 1" 
                                                               ng-disabled="(item2.OrdenServicio.IDRegistroDetalle > 0 &&  (item2.OrdenServicio.NumeroOrdenCargue > 0 ||  item2.OrdenServicio.NumeroRemesa > 0  ||  item2.OrdenServicio.NumeroPlanilla > 0)) || item2.DeshabilitarValorDeclarado == true"
                                                               ng-blur="ValidarValorDeclarado($index,item)"
                                                               >
                                                    </td>
                                                    <td style="min-width: 100px;" ng-show="TipoDespachoCantidadViajes">
                                                        <input name="txtFechVinc" type="text" style="text-align:right" class="form-control" ng-model="item2.CantidadDespacho" ng-change="CalcularValores(item2);item2.Modifica = 1" ng-disabled="item2.OrdenServicio.IDRegistroDetalle > 0 &&  (item2.OrdenServicio.NumeroOrdenCargue > 0 ||  item2.OrdenServicio.NumeroRemesa > 0  ||  item2.OrdenServicio.NumeroPlanilla > 0)">
                                                    </td>

                                                    <td style="min-width: 100px;" ng-show="TipoDespachoCantidadViajes && DiferentesSitiosDescargue">
                                                        <input name="txtFechVinc" type="text" style="text-align:right" class="form-control" ng-model="item2.Cantidad" ng-change="CalcularValores(item2);item2.Modifica = 1" ng-disabled="item2.OrdenServicio.IDRegistroDetalle > 0 &&  (item2.OrdenServicio.NumeroOrdenCargue > 0 ||  item2.OrdenServicio.NumeroRemesa > 0  ||  item2.OrdenServicio.NumeroPlanilla > 0)">
                                                    </td>
                                                    <td style="min-width: 100px;" ng-show="TipoDespachoCantidadViajes && DiferentesSitiosDescargue">
                                                        <input type="text" class="form-control" name="Ciudad Cargue" maxlength="50" id="ModeloCiudadCargue" ng-model="item2.CiudadDescargue" ng-disabled="item2.OrdenServicio.IDRegistroDetalle > 0 &&  (item2.OrdenServicio.NumeroOrdenCargue > 0 ||  item2.OrdenServicio.NumeroRemesa > 0  ||  item2.OrdenServicio.NumeroPlanilla > 0)" autocomplete="off"
                                                               uib-typeahead="i as i.NombreCompleto for i in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="item2.CiudadDescargue=VerificarAutocomplete(item2.CiudadDescargue);item2.Modifica = 1">
                                                    </td>
                                                    <td style="min-width: 100px;" ng-show="TipoDespachoCantidadViajes && DiferentesSitiosDescargue">
                                                        <input type="text" class="form-control" maxlength="50" id="ModeloCiudadCargue" ng-model="item2.SitioDescargue" ng-disabled="item2.OrdenServicio.IDRegistroDetalle > 0 &&  (item2.OrdenServicio.NumeroOrdenCargue > 0 ||  item2.OrdenServicio.NumeroRemesa > 0  ||  item2.OrdenServicio.NumeroPlanilla > 0)" autocomplete="off"
                                                               uib-typeahead="i as i.SitioCliente.Nombre for i in AutocompleteSitiosClienteDescargue($viewValue, item2.CiudadDescargue )| filter:$viewValue | limitTo: 5" ng-required="false"
                                                               ng-blur="item2.SitioDescargue=VerificarAutocomplete(item2.SitioDescargue);item2.Modifica = 1">
                                                    </td>

                                                    <td style="min-width: 100px;" ng-show="TipoDespachoCantidadViajes && (Modelo.OrdenServicio.Tarifa.Codigo == 1 || Modelo.OrdenServicio.Tarifa.Codigo == 2 || Modelo.OrdenServicio.TipoLineaNegocioCarga.Codigo == 103  || Modelo.OrdenServicio.TipoLineaNegocioCarga.Codigo == 104)">
                                                        <!--Tarifa contenedor-->
                                                        <input name="txtFechVinc" type="text" style="text-align:right" class="form-control" ng-model="item2.NumeroContenedor" ng-disabled="item2.OrdenServicio.IDRegistroDetalle > 0 &&  (item2.OrdenServicio.NumeroOrdenCargue > 0 ||  item2.OrdenServicio.NumeroRemesa > 0  ||  item2.OrdenServicio.NumeroPlanilla > 0)">
                                                    </td>
                                                    <td style="min-width: 100px;">
                                                        <!--Observaciones-->
                                                        <input name="txtFechVinc" type="text" style="text-align:right" class="form-control" ng-model="item2.Observaciones" ng-disabled="item2.OrdenServicio.IDRegistroDetalle > 0 &&  (item2.OrdenServicio.NumeroOrdenCargue > 0 ||  item2.OrdenServicio.NumeroRemesa > 0  ||  item2.OrdenServicio.NumeroPlanilla > 0)" maxlength="250">
                                                    </td>
                                                    <td style="display:inline-flex">
                                                        <button class="button mini-button btn-danger" title="Eliminar" ng-click="EliminarDetalle(item,$index,item2)" ng-disabled="DeshabilitarEliminarAnular || (item2.OrdenServicio.IDRegistroDetalle > 0)">
                                                            <span class="fas fa-trash-alt"></span>
                                                        </button>

                                                        <button class="button mini-button btn-info" uib-popover-template="'myPopoverTemplate.html'" popover-is-open="item1.popvisible" popover-class="increase-popover-width" popover-placement="left-bottom " popover-title="Detalle Programación" popover-trigger="'outsideClick'" href="">
                                                            <span class="fas fa-info-circle"></span>
                                                        </button>
                                                        <script type="text/ng-template" id="myPopoverTemplate.html">

                                                            <div class="col-md-12 col-sm-12 col-xs-12" ng-show="TipoDespachoCantidadViajes && DiferentesSitiosDescargue">
                                                                <div class="form-group">
                                                                    <label>Ruta</label>
                                                                    <span class="form-control">  {{item2.Ruta.Nombre}} </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 col-sm-12 col-xs-12" ng-show="TipoDespachoCantidadViajes  && !DiferentesSitiosDescargue">
                                                                <div class="form-group">
                                                                    <label>Producto</label>
                                                                    <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un producto" ng-model="item2.Producto" ng-disabled="(item2.OrdenServicio.IDRegistroDetalle > 0 &&  (item2.OrdenServicio.NumeroOrdenCargue > 0 ||  item2.OrdenServicio.NumeroRemesa > 0  ||  item2.OrdenServicio.NumeroPlanilla > 0)) || Sesion.UsuarioAutenticado.ManejoDeshabilitarCambioProductoProgramacion" autocomplete="off"
                                                                           uib-typeahead="producto as producto.Nombre for producto in ListaProductoTransportado| filter:$viewValue | limitTo: 5" ng-required="false"
                                                                           ng-blur="item2.Producto=VerificarAutocomplete(item2.Producto)">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 col-sm-12 col-xs-12" ng-show="TipoDespachoCantidadViajes  && !DiferentesSitiosDescargue && (item2.Producto.NaturalezaProducto == 9403 || item2.Producto.NaturalezaProducto == 9404)">
                                                                <div class="form-group">
                                                                    <label>Permiso INVIAS</label>
                                                                    <input name="txtPermisoInvias" type="text" class="form-control" maxlength="20" placeholder="Permiso INVIAS" ng-model="item2.PermisoInvias">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-4 col-xs-12" ng-show="TipoDespachoCantidadViajes && DiferentesSitiosDescargue">
                                                                <div class="form-group">
                                                                    <label>Tarifa</label>
                                                                    <span class="form-control">  {{item2.Tarifa.Nombre}} </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-4 col-xs-12" ng-show="TipoDespachoCantidadViajes && DiferentesSitiosDescargue">
                                                                <div class="form-group">
                                                                    <label>Tipo Tarifa</label>
                                                                    <span class="form-control">   {{item2.TipoTarifa.Nombre}} </span>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6 col-sm-4 col-xs-12">
                                                                <div class="form-group">
                                                                    <label>Vehículo</label>
                                                                    <span class="form-control">  {{item2.Vehiculo.Placa}} </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-4 col-xs-12">
                                                                <div class="form-group">
                                                                    <label>Manifiesto</label>
                                                                    <span class="form-control">  {{item2.OrdenServicio.NumeroDocumentoManifiesto}} </span>
                                                                </div>
                                                            </div>
                                                        </script>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="DeshabilitarActualizar">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="AdicionarVehiculos" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">


                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title ng-binding">Nueva Programación</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="alert alert-danger" role="alert" ng-if="MensajesErrorModal.length > 0">
                                    <ul>
                                        <li ng-repeat="error in MensajesErrorModal">
                                            <span>{{error}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Fecha</label>
                                        <input maxlength="60" type="date" class="form-control" placeholder="Seleccione una Ruta" ng-model="Modal.Fecha" ng-blur="CambiarFecha()">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="CiudadOrigen">N° Vehículos</label>
                                        <input maxlength="60" type="text" class="form-control" style="text-align:right" ng-model="Modal.CantidadVehiculos" ng-change="MaskNumero()">

                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Peso Cargue Vehículo (Kg)</label>
                                        <input maxlength="60" type="text" class="form-control" style="text-align:right" ng-model="Modal.CantidadXVehiculo" ng-change="MaskValores()">
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12 col-xs-12" ng-show="TipoDespachoCupoTonelada && !DiferentesSitiosDescargue">
                                    <div class="form-group">
                                        <label>Fecha Cargue</label>
                                        <input maxlength="60" type="datetime-local" class="form-control" placeholder="Seleccione una Ruta" ng-model="Modal.FechaCargue">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12" ng-show="TipoDespachoCupoTonelada && !DiferentesSitiosDescargue">
                                    <div class="form-group">
                                        <label>Fecha Descargue</label>
                                        <input maxlength="60" type="datetime-local" class="form-control" placeholder="Seleccione una Ruta" ng-model="Modal.FechaDescargue">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12" ng-show="TipoDespachoCantidadViajes && !DiferentesSitiosDescargue">
                                    <div class="form-group">
                                        <label>Fecha Cargue</label>
                                        <input maxlength="60" type="datetime-local" class="form-control" placeholder="Seleccione una Ruta" ng-model="Modal.FechaCargue">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12" ng-show="TipoDespachoCantidadViajes && !DiferentesSitiosDescargue">
                                    <div class="form-group">
                                        <label>Fecha Descargue</label>
                                        <input maxlength="60" type="datetime-local" class="form-control" placeholder="Seleccione una Ruta" ng-model="Modal.FechaDescargue">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12" ng-show="TipoDespachoCantidadViajes && !DiferentesSitiosDescargue && 
                                                            Modelo.OrdenServicio.Tarifa.Codigo != 5 && Modelo.OrdenServicio.Tarifa.Codigo != 302 && Modelo.OrdenServicio.Tarifa.Codigo != 301">
                                    <div class="form-group">
                                        <label>Tipo Tarifa</label>
                                        <select name="cmbEstado" class="form-control" ng-model="Modal.TipoTarifa" ng-options="i.Nombre for i in ListadoTarifas" ng-disabled="DeshabilitarTipoTarifas" ng-change="CambiarTipoTarifa(Modal.TipoTarifa)"></select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12" ng-show="DiferentesSitiosDescargue">
                                    <div class="form-group">
                                        <label>Cantidad</label>
                                        <input maxlength="60" type="text" class="form-control" style="text-align:right" ng-model="Modal.Cantidad" ng-change="MaskValores()">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12" ng-show="DiferentesSitiosDescargue">
                                    <div class="form-group">
                                        <label>Fecha Cargue</label>
                                        <input maxlength="60" type="datetime-local" class="form-control" placeholder="Seleccione una Ruta" ng-model="Modal.FechaCargue">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12" ng-show="DiferentesSitiosDescargue">
                                    <div class="form-group">
                                        <label>Fecha Descargue</label>
                                        <input maxlength="60" type="datetime-local" class="form-control" placeholder="Seleccione una Ruta" ng-model="Modal.FechaDescargue">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-4 col-xs-12" ng-show="DiferentesSitiosDescargue">
                                    <div class="form-group">
                                        <label>Ruta</label>
                                        <input type="text" class="form-control" name="Ciudad Cargue" maxlength="50" placeholder="Ingrese una ruta" ng-model="Modal.Ruta"
                                               uib-typeahead="i as i.Nombre for i in ListadoRutasTarifario| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.Ruta=VerificarAutocomplete(Modelo.Ruta);CargarTarifasViaje(Modal.Ruta.Codigo);CargarTipoTarifasViaje(Modal.Ruta.Codigo,Modal.Tarifa.Codigo)" ng-disabled="Deshabilitar">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-4 col-xs-12" ng-show="TipoDespachoCantidadViajes && DiferentesSitiosDescargue">
                                    <div class="form-group">
                                        <label>Ciudad Descargue</label>

                                        <input type="text" class="form-control" name="Ciudad Cargue" maxlength="50" id="ModeloCiudadCargue" ng-model="Modal.CiudadDescargue" autocomplete="off" uib-typeahead="i as i.NombreCompleto for i in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modal.CiudadDescargue=VerificarAutocomplete(Modal.CiudadDescargue)">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-4 col-xs-12" ng-show="TipoDespachoCantidadViajes && DiferentesSitiosDescargue">
                                    <div class="form-group">
                                        <label>Sitio Descargue</label>
                                        <input type="text" class="form-control" maxlength="50" id="ModeloCiudadCargue" ng-model="Modal.SitioDescargue" autocomplete="off"
                                               uib-typeahead="i as i.SitioCliente.Nombre for i in AutocompleteSitiosClienteDescargue($viewValue, Modal.CiudadDescargue )| filter:$viewValue | limitTo: 5" ng-required="false"
                                               ng-blur="Modal.SitioDescargue=VerificarAutocomplete(Modal.SitioDescargue)">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12" ng-show="TipoDespachoCantidadViajes && DiferentesSitiosDescargue">
                                    <div class="form-group">
                                        <label>Tarifa</label>
                                        <select name="cmbEstado" class="form-control" ng-model="Modal.Tarifa" ng-options="i.Nombre for i in ListadoTarifasRuta" ng-disabled="DeshabilitarTipoTarifas" ></select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12" ng-show="TipoDespachoCantidadViajes && DiferentesSitiosDescargue">
                                    <div class="form-group">
                                        <label>Tipo Tarifa</label>
                                        <select name="cmbEstado" class="form-control" ng-model="Modal.TipoTarifa" ng-options="i.Nombre for i in ListadoTipoTarifasRuta" ng-disabled="DeshabilitarTipoTarifas" ng-change="AsignarValoresFlete(Modal.Ruta.Codigo,Modal.Tarifa.Codigo,Modal.TipoTarifa.Codigo)"></select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Valor Flete Cliente</label>
                                        <input maxlength="60" type="text" class="form-control" style="text-align:right" ng-model="Modal.FleteCliente" ng-change="MaskValores();ValidarFleteClienteMaximo()">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12" ng-show="TipoDespachoCupoTonelada && !Sesion.UsuarioAutenticado.ManejoDeshabilitarValoresCargueDescargueProgramacion">
                                    <div class="form-group">
                                        <label>Valor Cargue</label>
                                        <input maxlength="60" type="text" class="form-control" style="text-align:right" ng-model="Modal.ValorCargueCliente" ng-change="MaskValores()">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12" ng-show="TipoDespachoCupoTonelada && !Sesion.UsuarioAutenticado.ManejoDeshabilitarValoresCargueDescargueProgramacion">
                                    <div class="form-group">
                                        <label>Valor Descargue</label>
                                        <input maxlength="60" type="text" class="form-control" style="text-align:right" ng-model="Modal.ValorDescargueCliente" ng-change="MaskValores()">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12" ng-show="TipoDespachoCantidadViajes && !Sesion.UsuarioAutenticado.ManejoDeshabilitarValoresCargueDescargueProgramacion">
                                    <div class="form-group">
                                        <label>Tarifa Cargue</label>
                                        <input maxlength="60" type="text" class="form-control" style="text-align:right" ng-model="Modal.ValorCargueCliente" ng-change="MaskValores()">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12" ng-show="TipoDespachoCantidadViajes && !Sesion.UsuarioAutenticado.ManejoDeshabilitarValoresCargueDescargueProgramacion">
                                    <div class="form-group">
                                        <label>Tarifa Descargue</label>
                                        <input maxlength="60" type="text" class="form-control" style="text-align:right" ng-model="Modal.ValorDescargueCliente" ng-change="MaskValores()">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12" ng-show="Sesion.UsuarioAutenticado.ManejoTarifaCompraTarifarioVenta">
                                    <div class="form-group">
                                        <label>Valor Flete Transportador</label>
                                        <input maxlength="60" type="text" class="form-control" style="text-align:right" ng-model="Modal.FleteTransportador" ng-change="MaskValores();ValidarFleteTransportadorMaximo()">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Valor Declarado</label>
                                        <input maxlength="60" type="text" class="form-control" style="text-align:right" ng-model="Modal.ValorDeclarado" ng-change="MaskValores()" ng-blur="ValidarValorDeclaradoModal()">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12" ng-show="TipoDespachoCupoTonelada && !Sesion.UsuarioAutenticado.ManejoDeshabilitarValoresCargueDescargueProgramacion">
                                    <div class="form-group">
                                        <label>Valor Cargue</label>
                                        <input maxlength="60" type="text" class="form-control" style="text-align:right" ng-model="Modal.ValorCargueTransportador" ng-change="MaskValores()">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12" ng-show="TipoDespachoCupoTonelada && !Sesion.UsuarioAutenticado.ManejoDeshabilitarValoresCargueDescargueProgramacion">
                                    <div class="form-group">
                                        <label>Valor Descargue</label>
                                        <input maxlength="60" type="text" class="form-control" style="text-align:right" ng-model="Modal.ValorDescargueTransportador" ng-change="MaskValores()">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12" ng-show="TipoDespachoCantidadViajes && !Sesion.UsuarioAutenticado.ManejoDeshabilitarValoresCargueDescargueProgramacion">
                                    <div class="form-group">
                                        <label>Tarifa Cargue</label>
                                        <input maxlength="60" type="text" class="form-control" style="text-align:right" ng-model="Modal.ValorCargueTransportador" ng-change="MaskValores()">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12" ng-show="TipoDespachoCantidadViajes && !Sesion.UsuarioAutenticado.ManejoDeshabilitarValoresCargueDescargueProgramacion">
                                    <div class="form-group">
                                        <label>Tarifa Descargue</label>
                                        <input maxlength="60" type="text" class="form-control" style="text-align:right" ng-model="Modal.ValorDescargueTransportador" ng-change="MaskValores()">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Producto</label>
                                        <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un producto" ng-model="Modal.Producto" ng-disabled="Deshabilitar
                                               || (Modal.Tarifa.Codigo == 6 || Modal.Tarifa.Codigo == 300)" autocomplete="off"
                                               uib-typeahead="producto as producto.Nombre for producto in ListaProductoTransportado| filter:$viewValue | limitTo: 5" ng-required="false"
                                               ng-blur="Modal.Producto=VerificarAutocomplete(Modal.Producto)">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12" ng-show="Modal.Producto.NaturalezaProducto == 9403 || Modal.Producto.NaturalezaProducto == 9404">
                                    <div class="form-group">
                                        <label>Permiso INVIAS</label>
                                        <input tabindex="1" name="txtPermisoInvias" type="text" class="form-control" maxlength="20" placeholder="Permiso INVIAS" ng-model="Modal.PermisoInvias"
                                               ng-disabled="Deshabilitar || (Modal.Tarifa.Codigo == 6 || Modal.Tarifa.Codigo == 300)">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <div class="input-control text full-size" data-role="input">
                                            <label for="observaciones">Observaciones</label>
                                            <textarea class="form-control" maxlength="100" name="observaciones" type="text" ng-model="Modal.Observaciones" ng-disabled="Deshabilitar"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="AgregarVehiculos()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESCARGA 5.0
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>
