﻿<div >

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>

    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>

    <section class="content">
        <form>
            <div id="filtrosConsulta">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fechaInicial">Fecha Inicial</label>
                            <input name="fechaInicial" type="date" class="form-control" ng-model="FechaInicial">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fechaFinal">Fecha Final</label>
                            <input name="fechaFinal" type="date" class="form-control" ng-model="FechaFinal">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="numero">Número Documento</label>
                            <input name="numero" type="text" class="form-control" ng-model="Numero" maxlength="10" id="NumeroDocumento" placeholder="Ingrese número documento" ng-keyup="MaskNumero('Numero',0,20,0,1)" autocomplete="off">
                        </div>

                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Documento</label>
                            <select class="form-control" ng-model="TipoDocumentos" ng-options="i.Nombre for i in ListadoTipoDocumentos" ng-disabled="Deshabilitar"></select>
                        </div>
                    </div>
                </div>
                <div id="lineButtons">
                    <div class="pull-left">
                        <button class="btn btn-block btn-primary" ng-click="Buscar()" title="Buscar Facturas" ng-disabled="DeshabilitarConsulta">
                            Buscar
                            <span class="glyphicon glyphicon-filter"></span>
                        </button>
                    </div>
                </div>
                <br />
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div id="resultadoConsulta">
                            <div class="table-responsive" ng-if="ListadoIntefazContablePSL.length > 0">
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Código</th>
                                            <th>Tipo Documento</th>
                                            <th>Número Documento</th>
                                            <th>Tipo Documento PSL</th>
                                            <th>Fecha</th>
                                            <th>Mensaje PSL</th>
                                            <th>Fecha Mensaje PSL</th>
                                            <th>Número Proceso PSL</th>
                                            <th>Proceso PSL</th>
                                            <th>Estado Proceso PSL</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ListadoIntefazContablePSL">
                                            <td>{{item.Codigo}}</td>
                                            <td>{{item.CATATipoDocumento.Nombre}}</td>
                                            <td>{{item.NumeroDocumentoOrigen}}</td>
                                            <td>{{item.TipoDocumentoPSL}}</td>
                                            <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                            <td>{{item.MensajePSL}}</td>
                                            <td>{{item.FechaMensajePSL | date:'dd/MM/yyyy'}}</td>
                                            <td>{{item.NumeroProcesoPLS}}</td>
                                            <td>{{item.ProcesoPSL}}</td>
                                            <td>{{item.EstadoProcesoPSL}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                        <tr>
                                            <td colspan="9">
                                                <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                    <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                        <span class="item">&laquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                        <span class="item">&lsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                        <span class="item">&rsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                        <span class="item">&raquo;</span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                <span style="color:red">
                                    <small>{{ResultadoSinRegistros}}</small>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>