﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>INTEGRACION SIESA</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <section class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div id="filtrosConsulta">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesError">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="lblTipDocOri">Conector</label>
                            <select name="cmbTipDocOri" class="form-control" ng-model="TipoDocumentoOrigen" ng-options="i.Nombre for i in ListadoTipoDocumentoOrigen | orderBy: 'Nombre'"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="numero">No. Documento</label>
                            <input ng-change="MaskNumero()" name="numero" type="text" class="form-control" ng-model="NumeroDocumento">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechIni">Fecha Inicial</label>
                            <input name="txtFechIni" type="date" class="form-control" ng-model="FechaInicio">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechFin">Fecha Final</label>
                            <input name="txtFechFin" type="date" class="form-control" ng-model="FechaFin">
                        </div>
                    </div>


                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="estadoIntefaz">Estado Interfaz</label>
                            <select name="estadoIntefaz" class="form-control" ng-model="EstadoInterfazContable" ng-options="i.Nombre for i in ListadoEstadoInterfazContable  | orderBy: 'Nombre'"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="estado">Estado Documento</label>
                            <select name="estado" class="form-control" ng-model="Estado" ng-options="i.Nombre for i in ListadoEstados  | orderBy: 'Nombre'"></select>
                        </div>
                    </div>
                </div>
                <!--SECCIÓN BOTONES-->
                <div class="SeccionBotones">
                    <div class="pull-left">
                        <button class="btn btn-block btn-primary" ng-click="Buscar()" title="Buscar Comprobantes " ng-disabled="DeshabilitarConsulta">
                            Buscar
                            <span class="glyphicon glyphicon-filter"></span>
                        </button>
                    </div>
                </div>
                <br />
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <!--RESULTADO CONSULTA-->
                        <div id="ResultadoConsulta">
                            <div class="table-responsive" ng-if="ListadoComprobanteContable.length > 0">
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Marcar Todos <input type="checkbox" ng-model="Marctodo" ng-change="MarcadDesmarcarTodo(Marctodo)" class="ng-valid ng-dirty ng-valid-parse ng-touched"></th>
                                            <th> Opciones</th>
                                            <th>No Documento</th> 
                                            <th>Fecha Documento</th>
                                            <th>Tercero</th>
                                            <th>Observaciones </th>
                                            <th>Estado Documento</th>
                                            <th>Estado Interfaz</th>
                                            <th>Fecha Interfaz</th>
                                            <th>Intentos Interfaz</th>

                                            <th>Mensaje Error Interfaz</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ListadoComprobanteContable">
                                            <td><input type="checkbox" ng-model="item.Marcado" /></td>

                                            <td >
                                                <div class="dropdown" >
                                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                        <span class="fa fa-list"></span>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-left" style="overflow-y:scroll; max-height:100px">
                                                        <li>
                                                            <a ng-click="InicializarIntentosInterfaz(item)">
                                                                <span class="fas fa-redo"></span>Inicializar Intentos Interfaz
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a ng-click="AnularDocumento(item)">
                                                                <span class="fas fa-trash-alt">
                                                                </span>Anular
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>

                                            <td>{{item.NumeroDocumento}}</td> 
                                            <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                            <td>{{item.NombreTercero}}</td>
                                            <td>{{item.Observaciones}}</td>
                                            <td align="center">
                                                <span ng-if="item.Estado == 0 && item.Anulado == 0" class="label label-warning">BORRADOR</span>
                                                <span ng-if="item.Estado == 1 && item.Anulado == 0" class="label label-success">DEFINITIVO</span>
                                                <span ng-if="item.Anulado == 1" class="label label-danger">ANULADO</span>


                                            </td>


                                            <td align="center">
                                                <span ng-if="item.InterfazContable == 0" class="label label-warning">Pendiente</span>
                                                <span ng-if="item.InterfazContable == 1" class="label label-success">Reportado</span>
                                            </td>
                                            <td>{{item.FechaInterfazContable | date:'dd/MM/yyyy'}}</td>
                                            <td>{{item.IntentosInterfazContable}}</td>
                                            <td>{{item.MensajeError}}</td>

                                        </tr>
                                    </tbody>
                                    <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                        <tr>
                                            <td colspan="11">
                                                <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                    <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                        <span class="item">&laquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                        <span class="item">&lsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                        <span class="item">&rsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                        <span class="item">&raquo;</span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                <span style="color:red">
                                    <small>{{ResultadoSinRegistros}}</small>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!-- MODAL COMFIRMACION ANULAR COMPROBANTE -->
    <div class="modal fade" id="modalConfirmacionAnularComprobante" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET PASAJEROS
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de anular la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="SolicitarDatosAnulacion()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- MODAL ASIGNAR DATOS ANULACIÓN-->
    <div class="modal fade" id="modalDatosAnularComprobante" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET PASAJEROS
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="txtCausAnul">Causa Anulación<small class="small">*</small></label>
                                    <input class="form-control" name="txtCausAnul" type="text" ng-model="CausaAnulacion">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="dteFechAnul">Fecha Anulación</label>
                                    <span class="form-control">{{FechaAnulacion | date: 'dd/MM/yyyy HH:MM'}}</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Usuario anula</label>
                                    <span class="form-control"> {{Sesion.Identificador}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Anular()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>