﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1><!----> GENERAR INTERFAZ CONTABLE</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>
                <div class="row">
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="estado">Sistema Contable</label>
                                <select name="estado" class="form-control" ng-model="Sistema" ng-options="i.Nombre for i in ListadoContable"></select>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="estado">Tipo de Archivo </label>
                                <select name="estado" class="form-control" ng-model="Documento" ng-options="i.Nombre for i in ListadoDocumento | orderBy:'Nombre' "></select>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="fecha">Fecha Incial </label>
                                <input name="fecha" type="date" class="form-control" ng-model="ModeloFechaInicio" ng-disabled="Deshabilitar">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="fecha">Fecha Final </label>
                                <input name="fecha" type="date" class="form-control" ng-model="ModeloFechaFinal" ng-disabled="Deshabilitar">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="estado">Estado</label>
                                <select name="estado" class="form-control" ng-model="Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="oficina">Oficina</label>
                                <select name="oficina" class="form-control" ng-model="Oficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="SeccionBotones">
                <div class="pull-right">
                 
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Generar()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
 
</div>