﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>GENERAR COMPROBANTES CONTABLES</h1>
    </section>  
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <br />
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" onselectstart="return false" ng-click="MostrarLiquidaciones()">Liquidaciones</a></li>
                        <li><a data-toggle="tab" onselectstart="return false" ng-click="MostrarFacturas()">Facturas</a></li>
                        <li><a data-toggle="tab" onselectstart="return false" ng-click="MostrarFacturasOtrosConceptos()">Facturas Otros Conceptos</a></li>
                        <li><a data-toggle="tab" onselectstart="return false" ng-click="MostrarComprobantesEgreso()">Comprobantes Egreso</a></li>
                        <li><a data-toggle="tab" onselectstart="return false" ng-click="MostrarComprobantesIngreso()">Comprobantes Ingreso</a></li>
                        <li><a data-toggle="tab" onselectstart="return false" ng-click="Mostrarlegalizaciones()">Legalizaciones</a></li>
                    </ul>
                </div>
            </div>
            <div id="SeccionLiquidaciones">
                <!--SECCION FILTROS-FORMULARIO-->
                <div class="SeccionFiltros-Formulario">
                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorLiquidaciones.length > 0">
                        <ul>
                            <li ng-repeat="error in MensajesErrorLiquidaciones">
                                <span>{{error}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="lblFechIni">Fecha Inicial</label>
                                <input name="txtFechIni" type="date" class="form-control" ng-model="Liquidacion.ModeloFechaInicial">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="lblFechFina">Fecha Final</label>
                                <input name="txtFechFina" type="date" class="form-control" ng-model="Liquidacion.ModeloFechaFinal">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="NumeroInicial">Número</label>
                                <input name="NumeroInicial" class="form-control" ng-model="Liquidacion.ModeloNumero" placeholder="Ingrese número" maxlength="20" ng-change="MaskNumero()">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="NumeroInicial">Planilla</label>
                                <input name="NumeroInicial" class="form-control" ng-model="Liquidacion.ModeloPlanilla" placeholder="Número planilla" maxlength="20" ng-change="MaskNumero()">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="NumeroInicial">Manifiesto</label>
                                <input name="NumeroInicial" class="form-control" ng-model="Liquidacion.ModeloManifiesto" placeholder="Número manifiesto" maxlength="20" ng-change="MaskNumero()">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="Placa">Placa</label>
                                <input name="Placa" class="form-control" ng-model="Liquidacion.ModeloPlaca" placeholder="Placa" maxlength="20">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="lblTenedor">Tenedor</label>
                                <input name="txtTenedor" class="form-control" ng-model="Liquidacion.ModeloTenedor" placeholder="Tenedor" maxlength="100">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="lblConductor">Conductor</label>
                                <input name="txtConductor" class="form-control" ng-model="Liquidacion.ModeloConductor" placeholder="Conductor" maxlength="100">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Oficina</label>
                                <select name="cmbOficina" class="form-control" ng-model="Liquidacion.ModeloOficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Estado</label>
                                <select name="cmbEstado" class="form-control" ng-model="Liquidacion.ModeloEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <!--SECCIÓN BOTONES-->
                <div class="SeccionBotones">
                    <div class="pull-left">
                        <button class="btn btn-block btn-primary" title="Buscar" ng-click="paginaActual=1;BuscarLiquidaciones()">
                            Buscar
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" title="Nuevo Documento" ng-click="GenerarMovimientoContableLiquidaciones()">
                            Generar
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
                <!--RESULTADO CONSULTA-->
                <div class="ResultadoConsulta">
                    <div class="table-responsive" ng-if="ListadoLiquidacionesFiltrado.length > 0">
                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                            <thead>
                                <tr>
                                    <th>Número</th>
                                    <th>Fecha</th>
                                    <th>Vehículo</th>
                                    <th>Tenedor</th>
                                    <th>Conductor</th>
                                    <th>Planilla</th>
                                    <th>Manifiesto</th>
                                    <th>Valor Pagar</th>
                                    <th>
                                        <label>
                                            Marc./Desma. Todo
                                            <input type="checkbox" ng-click="MarcarTodoiquidacion(ChkLiquidacion)" ng-model="ChkLiquidacion" title="Marcar o Desmarcar todas las recolecciones" />
                                        </label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ListadoLiquidacionesFiltrado | orderBy:'-Numero'">
                                    <td><a href="#!GestionarLiquidacion/{{item.Numero}}" target="_blank">{{item.NumeroDocumento}}</a></td>
                                    <td>{{item.Fecha | date:'dd/MM/yyyy' }}</td>
                                    <td>{{item.PlacaVehiculo}}</td>
                                    <td>{{item.Tenedor.NombreCompleto}}</td>
                                    <td>{{item.Conductor.NombreCompleto}}</td>
                                    <td>{{item.NumeroPlanilla}}</td>
                                    <td>{{item.NumeroManifiesto}}</td>
                                    <td align="right">{{MaskValoresGrid(item.ValorPagar)}}</td>
                                    <td style="text-align:center">
                                        <label>
                                            <input type="checkbox" ng-model="item.Seleccionado" />
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot ng-if="totalRegistrosLiquidaciones > 0">
                                <tr>
                                    <td colspan="4">
                                        <small ng-if="totalRegistrosLiquidaciones > 0">Página: {{paginaActualLiquidaciones}} de {{totalPaginasLiquidaciones}} ({{totalRegistrosLiquidaciones}} Registros)</small>
                                        <div class="pagination rightAling" ng-if="totalRegistrosLiquidaciones > 0">
                                            <button class="button primary" ng-click="PrimerPaginaLiquidaciones()" title="Primera">
                                                <span class="item">&laquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="AnteriorLiquidaciones()" title="Anterior">
                                                <span class="item">&lsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="SiguienteLiquidaciones()" title="Siguiente">
                                                <span class="item">&rsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="UltimaPaginaLiquidaciones()" title="Última">
                                                <span class="item">&raquo;</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistrosLiquidaciones == 0 && BuscandoLiquidaciones == false">
                        <span style="color:red">
                            <small>{{ResultadoSinRegistrosLiquidaciones}}</small>
                        </span>
                    </div>
                </div>
            </div>
            <div id="SeccionFancturas">
                <div class="SeccionFiltros-Formulario">
                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorFacturacion.length > 0">
                        <ul>
                            <li ng-repeat="errorFacturacion in MensajesErrorFacturacion">
                                <span>{{errorFacturacion}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="fechaInicial">Fecha Inicial</label>
                                <input name="fechaInicial" type="date" class="form-control" ng-model="Facturacion.FechaInicial">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="fechaFinal">Fecha Final</label>
                                <input name="fechaFinal" type="date" class="form-control" ng-model="Facturacion.FechaFinal">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="numeroInicial">Número</label>
                                <input name="numeroInicial" type="text" class="form-control" ng-model="Facturacion.NumeroInicial" maxlength="10" id="numeroInicial" placeholder="Ingrese un numeró" autocomplete="off">
                            </div>

                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Cliente</label>
                                <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un cliente" ng-model="Facturacion.Cliente"
                                       uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in AutocompleteCliente($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                       ng-blur="Facturacion.Cliente=VerificarAutocomplete(Facturacion.Cliente)" autocomplete="off">
                            </div>
                        </div>
                        <!--<div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="estado">Estado</label>
                        <select name="estado" class="form-control" ng-model="Facturacion.Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                    </div>
                </div>-->
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="oficina">Oficina</label>
                                <select name="oficina" class="form-control" ng-model="Facturacion.Oficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="SeccionBotones">
                    <div class="pull-left">
                        <button class="btn btn-block btn-primary" title="Buscar" ng-click="paginaActual=1;BuscarFacturacion()">
                            Buscar
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" title="Nuevo Documento" ng-click="GenerarMovimientoContableFacturacion()">
                            Generar
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
                <div class="ResultadoConsulta">
                    <div id="resultadoConsulta" class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm" ng-if="ListaFacturasFiltrado.length > 0">
                            <thead>
                                <tr>
                                    <th>Número</th>
                                    <th>Fecha</th>
                                    <th>Cliente</th>
                                    <th>Facturar A</th>
                                    <th>Oficina</th>
                                    <th>
                                        <label>
                                            Marc./Desma. Todo
                                            <input type="checkbox" ng-click="MarcarTodoFacturacion(ChkFacturacion)" ng-model="ChkFacturacion" title="Marcar o Desmarcar todas las recolecciones" />
                                        </label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ListaFacturasFiltrado">
                                    <td><a href="#!GestionarFacturaVentas/{{item.Numero}}" target="_blank">{{item.NumeroDocumento}}</a></td>
                                    <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                    <td>{{item.Cliente.NombreCompleto}}</td>
                                    <td>{{item.FacturarA.NombreCompleto}}</td>
                                    <td>{{item.OficinaFactura.Nombre}}</td>
                                    <td style="text-align:center">
                                        <label>
                                            <input type="checkbox" ng-model="item.Seleccionado" />
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot ng-if="totalRegistrosFacturacion > 0 || BuscandoFacturacion == true">
                                <tr>
                                    <td colspan="9">
                                        <small ng-if="totalRegistrosFacturacion > 0">Página: {{paginaActualFacturacion}} de {{totalPaginasFacturacion}} ({{totalRegistrosFacturacion}} Registros)</small>
                                        <div class="pagination rightAling" ng-if="totalRegistrosFacturacion > 0">
                                            <button class="button primary" ng-click="PrimerPaginaFacturacion()" title="Primera">
                                                <span class="item">&laquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="AnteriorFacturacion()" title="Anterior">
                                                <span class="item">&lsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="SiguienteFacturacion()" title="Siguiente">
                                                <span class="item">&rsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="UltimaPaginaFacturacion()" title="Última">
                                                <span class="item">&raquo;</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                            <tfoot ng-if="totalRegistrosFacturacion == 0 && BuscandoFacturacion == false">
                                <tr>
                                    <td colspan="9" style="color:red; text-align:center">
                                        <small>{{ResultadoSinRegistrosFacturacion}}</small>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div id="SeccionFancturasOtrosConceptos">
                <div class="SeccionFiltros-Formulario">
                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorFacturacionOtrosConceptos.length > 0">
                        <ul>
                            <li ng-repeat="errorFacturacionOtrosConceptos in MensajesErrorFacturacionOtrosConceptos">
                                <span>{{errorFacturacionOtrosConceptos}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="fechaInicial">Fecha Inicial</label>
                                <input name="fechaInicial" type="date" class="form-control" ng-model="FacturacionOtrosConceptos.FechaInicial">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="fechaFinal">Fecha Final</label>
                                <input name="fechaFinal" type="date" class="form-control" ng-model="FacturacionOtrosConceptos.FechaFinal">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="numeroInicial">Número</label>
                                <input name="numeroInicial" type="text" class="form-control" ng-model="FacturacionOtrosConceptos.NumeroInicial" maxlength="10" id="numeroInicial" placeholder="Ingrese un numeró" autocomplete="off">
                            </div>

                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Cliente</label>
                                <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un cliente" ng-model="FacturacionOtrosConceptos.Cliente"
                                       uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in AutocompleteCliente($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                       ng-blur="Facturacion.Cliente=VerificarAutocomplete(Facturacion.Cliente)" autocomplete="off">
                            </div>
                        </div>
                        <!--<div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="estado">Estado</label>
                        <select name="estado" class="form-control" ng-model="Facturacion.Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                    </div>
                </div>-->
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="oficina">Oficina</label>
                                <select name="oficina" class="form-control" ng-model="FacturacionOtrosConceptos.Oficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="SeccionBotones">
                    <div class="pull-left">
                        <button class="btn btn-block btn-primary" title="Buscar" ng-click="paginaActual=1;BuscarFacturacionOtrosConceptos()">
                            Buscar
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" title="Nuevo Documento" ng-click="GenerarMovimientoContableFacturacionOtrosConceptos()">
                            Generar
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
                <div class="ResultadoConsulta">
                    <div id="resultadoConsulta" class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm" ng-show="ListaFacturasFiltradoOtrosConceptos.length > 0">
                            <thead>
                                <tr>
                                    <th>Número</th>
                                    <th>Fecha</th>
                                    <th>Cliente</th>
                                    <th>Facturar A</th>
                                    <th>Oficina</th>
                                    <th>
                                        <label>
                                            Marc./Desma. Todo
                                            <input type="checkbox" ng-click="MarcarTodoFacturacionOtrosConceptos(ChkFacturacionOtrosConceptos)" ng-model="ChkFacturacionOtrosConceptos" title="Marcar o Desmarcar todas las recolecciones" />
                                        </label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ListaFacturasFiltradoOtrosConceptos">
                                    <td><a href="#!GestionarFacturaOtrosConceptos/{{item.Numero}}" target="_blank">{{item.NumeroDocumento}}</a></td>
                                    <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                    <td>{{item.Cliente.NombreCompleto}}</td>
                                    <td>{{item.FacturarA.NombreCompleto}}</td>
                                    <td>{{item.OficinaFactura.Nombre}}</td>
                                    <td style="text-align:center">
                                        <label>
                                            <input type="checkbox" ng-model="item.Seleccionado" />
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot ng-if="totalRegistrosFacturacionOtrosConceptos > 0 || BuscandoFacturacionOtrosConceptos == true">
                                <tr>
                                    <td colspan="9">
                                        <small ng-if="totalRegistrosFacturacionOtrosConceptos > 0">Página: {{paginaActualFacturacionOtrosConceptos}} de {{totalPaginasFacturacionOtrosConceptos}} ({{totalRegistrosFacturacionOtrosConceptos}} Registros)</small>
                                        <div class="pagination rightAling" ng-if="totalRegistrosFacturacionOtrosConceptos > 0">
                                            <button class="button primary" ng-click="PrimerPaginaFacturacionOtrosConceptos()" title="Primera">
                                                <span class="item">&laquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="AnteriorFacturacionOtrosConceptos()" title="Anterior">
                                                <span class="item">&lsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="SiguienteFacturacionOtrosConceptos()" title="Siguiente">
                                                <span class="item">&rsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="UltimaPaginaFacturacionOtrosConceptos()" title="Última">
                                                <span class="item">&raquo;</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                            <tfoot ng-if="totalRegistrosFacturacionOtrosConceptos == 0 && BuscandoFacturacionOtrosConceptos == false">
                                <tr>
                                    <td colspan="9" style="color:red; text-align:center">
                                        <small>{{ResultadoSinRegistrosFacturacionOtrosConceptos}}</small>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div id="SeccionComprobantesEgreso">
                <div class="SeccionFiltros-Formulario">
                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorComprobantesEgreso.length > 0">
                        <ul>
                            <li ng-repeat="errorComprobantesEgreso in MensajesErrorComprobantesEgreso">
                                <span>{{errorComprobantesEgreso}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="fechaInicial">Fecha Inicial</label>
                                <input name="fechaInicial" type="date" class="form-control" ng-model="ComprobantesEgreso.FechaInicio">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="fechaFinal">Fecha Final</label>
                                <input name="fechaFinal" type="date" class="form-control" ng-model="ComprobantesEgreso.FechaFin">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="numeroInicial">Número</label>
                                <input name="numeroInicial" type="text" class="form-control" ng-model="ComprobantesEgreso.NumeroDocumento" maxlength="10" id="numeroInicial" placeholder="Ingrese un numeró" autocomplete="off">
                            </div>

                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="documentoOrigen">Documento Origen</label>
                                <select name="documentoOrigen" class="form-control" ng-model="ComprobantesEgreso.DocumentoOrigen" ng-options="i.Nombre for i in ListadoDocumentosOrigen"></select>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="numeroDocumento">No. Documento Origen</label>
                                <input name="numeroDocumento" ng-change="MaskNumero()" maxlength="15" class="form-control" ng-model="ComprobantesEgreso.NumeroDocumentoOrigen" placeholder="Ingrese un número documento">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Tercero</label>
                                <input class="form-control" maxlength="50" type="text" name="tercero" ng-model="ComprobantesEgreso.Tercero" placeholder="Digite el nombre del tercero">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Beneficiario</label>
                                <input class="form-control" maxlength="50" type="text" name="beneficiario" ng-model="ComprobantesEgreso.Beneficiario" placeholder="Digite el nombre del beneficiario">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="oficina">Oficina</label>
                                <select name="oficina" class="form-control" ng-model="ComprobantesEgreso.Oficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="SeccionBotones">
                    <div class="pull-left">
                        <button class="btn btn-block btn-primary" title="Buscar" ng-click="paginaActual=1;BuscarComprobantesEgreso()">
                            Buscar
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" title="Nuevo Documento" ng-click="GenerarMovimientoContableComprobantesEgreso()">
                            Generar
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
                <div class="ResultadoConsulta">
                    <div id="resultadoConsulta" class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm" ng-if="ListaComprobantesEgresoFiltrado.length > 0">
                            <thead>
                                <tr>
                                    <th>Número</th>
                                    <th>Fecha</th>
                                    <th>Tercero</th>
                                    <th>Beneficiario</th>
                                    <th>OFicina</th>
                                    <th>Documento Origen</th>
                                    <th>No.Documento Origen</th>
                                    <th>
                                        <label>
                                            Marc./Desma. Todo
                                            <input type="checkbox" ng-click="MarcarTodoComprobantesEgreso(ChkEgresos)" ng-model="ChkEgresos" title="Marcar o Desmarcar todas las recolecciones" />
                                        </label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ListaComprobantesEgresoFiltrado">
                                    <td><a href="#!GestionarComprobanteEgresos/{{item.Codigo}}" target="_blank">{{item.Numero}}</a></td>
                                    <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                    <td>{{item.Tercero.Nombre}}</td>
                                    <td>{{item.Beneficiario.Nombre}}</td>
                                    <td>{{item.OficinaDestino.Nombre}}</td>
                                    <td>{{item.DocumentoOrigen.Nombre}}</td>
                                    <td>{{item.NumeroDocumentoOrigen}}</td>
                                    <td style="text-align:center">
                                        <label>
                                            <input type="checkbox" ng-model="item.Seleccionado" />
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot ng-if="totalRegistrosComprobantesEgreso > 0 || BuscandoComprobantesEgreso == true">
                                <tr>
                                    <td colspan="9">
                                        <small ng-if="totalRegistrosComprobantesEgreso > 0">Página: {{paginaActualComprobantesEgreso}} de {{totalPaginasComprobantesEgreso}} ({{totalRegistrosComprobantesEgreso}} Registros)</small>
                                        <div class="pagination rightAling" ng-if="totalRegistrosComprobantesEgreso > 0">
                                            <button class="button primary" ng-click="PrimerPaginaComprobantesEgreso()" title="Primera">
                                                <span class="item">&laquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="AnteriorComprobantesEgreso()" title="Anterior">
                                                <span class="item">&lsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="SiguienteComprobantesEgreso()" title="Siguiente">
                                                <span class="item">&rsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="UltimaPaginaComprobantesEgreso()" title="Última">
                                                <span class="item">&raquo;</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                            <tfoot ng-if="totalRegistrosComprobantesEgreso == 0 && BuscandoComprobantesEgreso == false">
                                <tr>
                                    <td colspan="9" style="color:red; text-align:center">
                                        <small>{{ResultadoSinRegistrosComprobantesEgreso}}</small>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div id="SeccionComprobantesIngreso">
                <div class="SeccionFiltros-Formulario">
                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorComprobantesIngreso.length > 0">
                        <ul>
                            <li ng-repeat="errorComprobantesIngreso in MensajesErrorComprobantesIngreso">
                                <span>{{errorComprobantesIngreso}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="fechaInicial">Fecha Inicial</label>
                                <input name="fechaInicial" type="date" class="form-control" ng-model="ComprobantesIngreso.FechaInicio">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="fechaFinal">Fecha Final</label>
                                <input name="fechaFinal" type="date" class="form-control" ng-model="ComprobantesIngreso.FechaFin">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="numeroInicial">Número</label>
                                <input name="numeroInicial" type="text" class="form-control" ng-model="ComprobantesIngreso.NumeroDocumento" maxlength="10" id="numeroInicial" placeholder="Ingrese un numeró" autocomplete="off">
                            </div>

                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="documentoOrigen">Documento Origen</label>
                                <select name="documentoOrigen" class="form-control" ng-model="ComprobantesIngreso.DocumentoOrigen" ng-options="i.Nombre for i in ListadoDocumentosOrigen"></select>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="numeroDocumento">No. Documento Origen</label>
                                <input name="numeroDocumento" ng-change="MaskNumero()" maxlength="15" class="form-control" ng-model="ComprobantesIngreso.NumeroDocumentoOrigen" placeholder="Ingrese un número documento">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Tercero</label>
                                <input class="form-control" maxlength="50" type="text" name="tercero" ng-model="ComprobantesIngreso.Tercero" placeholder="Digite el nombre del tercero">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Beneficiario</label>
                                <input class="form-control" maxlength="50" type="text" name="beneficiario" ng-model="ComprobantesIngreso.Beneficiario" placeholder="Digite el nombre del beneficiario">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="oficina">Oficina</label>
                                <select name="oficina" class="form-control" ng-model="ComprobantesIngreso.Oficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="SeccionBotones">
                    <div class="pull-left">
                        <button class="btn btn-block btn-primary" title="Buscar" ng-click="paginaActual=1;BuscarComprobantesIngreso()">
                            Buscar
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" title="Nuevo Documento" ng-click="GenerarMovimientoContableComprobantesIngreso()">
                            Generar
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
                <div class="ResultadoConsulta">
                    <div id="resultadoConsulta" class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm" ng-if="ListaComprobantesIngresoFiltrado.length > 0">
                            <thead>
                                <tr>
                                    <th>Número</th>
                                    <th>Fecha</th>
                                    <th>Tercero</th>
                                    <th>Beneficiario</th>
                                    <th>OFicina</th>
                                    <th>Documento Origen</th>
                                    <th>No.Documento Origen</th>
                                    <th>
                                        <label>
                                            Marc./Desma. Todo
                                            <input type="checkbox" ng-click="MarcarTodoComprobantesIngreso(ChkIngresos)" ng-model="ChkIngresos" title="Marcar o Desmarcar todas las recolecciones" />
                                        </label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ListaComprobantesIngresoFiltrado">
                                    <td><a href="#!GestionarComprobanteIngresos/{{item.Codigo}}" target="_blank">{{item.Numero}}</a></td>
                                    <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                    <td>{{item.Tercero.Nombre}}</td>
                                    <td>{{item.Beneficiario.Nombre}}</td>
                                    <td>{{item.OficinaDestino.Nombre}}</td>
                                    <td>{{item.DocumentoOrigen.Nombre}}</td>
                                    <td>{{item.NumeroDocumentoOrigen}}</td>
                                    <td style="text-align:center">
                                        <label>
                                            <input type="checkbox" ng-model="item.Seleccionado" />
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot ng-if="totalRegistrosComprobantesIngreso > 0 || BuscandoComprobantesIngreso == true">
                                <tr>
                                    <td colspan="9">
                                        <small ng-if="totalRegistrosComprobantesIngreso > 0">Página: {{paginaActualComprobantesIngreso}} de {{totalPaginasComprobantesIngreso}} ({{totalRegistrosComprobantesIngreso}} Registros)</small>
                                        <div class="pagination rightAling" ng-if="totalRegistrosComprobantesIngreso > 0">
                                            <button class="button primary" ng-click="PrimerPaginaComprobantesIngreso()" title="Primera">
                                                <span class="item">&laquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="AnteriorComprobantesIngreso()" title="Anterior">
                                                <span class="item">&lsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="SiguienteComprobantesIngreso()" title="Siguiente">
                                                <span class="item">&rsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="UltimaPaginaComprobantesIngreso()" title="Última">
                                                <span class="item">&raquo;</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                            <tfoot ng-if="totalRegistrosComprobantesIngreso == 0 && BuscandoComprobantesIngreso == false">
                                <tr>
                                    <td colspan="9" style="color:red; text-align:center">
                                        <small>{{ResultadoSinRegistrosComprobantesIngreso}}</small>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div id="Seccionlegalizaciones">
                <!--SECCION FILTROS-FORMULARIO-->
                <div class="SeccionFiltros-Formulario">
                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorlegalizaciones.length > 0">
                        <ul>
                            <li ng-repeat="error in MensajesErrorlegalizaciones">
                                <span>{{error}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="lblFechIni">Fecha Inicial</label>
                                <input name="txtFechIni" type="date" class="form-control" ng-model="legalizacion.ModeloFechaInicial">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="lblFechFina">Fecha Final</label>
                                <input name="txtFechFina" type="date" class="form-control" ng-model="legalizacion.ModeloFechaFinal">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="NumeroInicial">Número</label>
                                <input name="NumeroInicial" class="form-control" ng-model="legalizacion.ModeloNumero" placeholder="Ingrese número" maxlength="20" ng-change="MaskNumero()">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="NumeroInicial">Planilla</label>
                                <input name="NumeroInicial" class="form-control" ng-model="legalizacion.ModeloPlanilla" placeholder="Número planilla" maxlength="20" ng-change="MaskNumero()">
                            </div>
                        </div>
                      
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Oficina</label>
                                <select name="cmbOficina" class="form-control" ng-model="legalizacion.ModeloOficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Estado</label>
                                <select name="cmbEstado" class="form-control" ng-model="legalizacion.ModeloEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <!--SECCIÓN BOTONES-->
                <div class="SeccionBotones">
                    <div class="pull-left">
                        <button class="btn btn-block btn-primary" title="Buscar" ng-click="paginaActual=1;BuscarLegalizacion()">
                            Buscar
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" title="Nuevo Documento" ng-click="GenerarMovimientoContableLegalizacion()">
                            Generar
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
                <!--RESULTADO CONSULTA-->
                <div class="ResultadoConsulta">
                    <div class="table-responsive" ng-if="ListadolegalizacionFiltrado.length > 0">
                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                            <thead> 
                                <tr>
                                    <th>Número</th>
                                    <th>Fecha</th>
                                    <th>Planilla</th>
                                    <th>Estado</th>
                                    <th> 
                                        <label>
                                            Marc./Desma. Todo
                                            <input type="checkbox" ng-click="MarcarTodolegalizacion(ChkLegalizacion)" ng-model="ChkLegalizacion" title="Marcar o Desmarcar todas las recolecciones" />
                                        </label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ListadolegalizacionFiltrado | orderBy:'-Numero'">
                                    <td><a href="#!GestionarLegalizacionGastosVariosConductores/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>
                                    <td>{{item.Fecha | date:'dd/MM/yyyy' }}</td>
                                    <td>{{item.Planilla.NumeroDocumento}}</td>
                                    <td>
                                        <span ng-if="item.Estado == 0 && item.Anulado == 0" class="label label-warning">Borrador</span>
                                        <span ng-if="item.Estado == 1 && item.Anulado == 0" class="label label-success">Definitivo</span>
                                        <span ng-if="item.Anulado == 1" class="label label-danger">Anulado</span>
                                    </td> 
                                    <td style="text-align:center">
                                        <label>
                                            <input type="checkbox" ng-model="item.Seleccionado" />
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot ng-if="totalRegistrosLegalizacion > 0">
                                <tr>
                                    <td colspan="4">
                                        <small ng-if="totalRegistrosLegalizacion > 0">Página: {{paginaActualLegalizacion}} de {{totalPaginasLegalizacion}} ({{totalRegistrosLegalizacion}} Registros)</small>
                                        <div class="pagination rightAling" ng-if="totalRegistrosLegalizacion > 0">
                                            <button class="button primary" ng-click="PrimerPaginaLegalizacion()" title="Primera">
                                                <span class="item">&laquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="AnteriorLegalizacion()" title="Anterior">
                                                <span class="item">&lsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="SiguienteLegalizacion()" title="Siguiente">
                                                <span class="item">&rsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="UltimaPaginaLegalizacion()" title="Última">
                                                <span class="item">&raquo;</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistrosLegalizacion == 0 && BuscandoLegalizacion == false">
                        <span style="color:red">
                            <small>{{ResultadoSinRegistrosLegalizacion}}</small>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>