﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR GRUPOS/PERFILES</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>
                <div class="row">
                    <div class="row">
                        <div class="col-md-12 col-sm-8 col-xs-12">
                            <div class="form-group">
                                <label for="lblnombre">Nombre</label>
                                <input type="text" class="form-control" ng-model="Nombre" maxlength="50" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" title="Buscar" ng-click="paginaActual=1;Buscar()" ng-disabled="DeshabilitarConsulta">
                        Buscar
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-block btn-primary" title="Nueva" ng-click="NuevoDocumento()" ng-disabled="DeshabilitarActualizar">
                        Nuevo
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoGrupos.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Código Alterno</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoGrupos">
                                <td><a href="#!GestionarGrupoPerfiles/{{item.Codigo}}">{{item.Nombre}}</a></td>
                                <td>{{item.CodigoGrupo}}</td>
                                <td>
                                    <button class="button mini-button primary" title="Permisos" ng-click="ModificarPermisos(item.Codigo, item.Nombre)" ng-disabled="Deshabilitar == true">
                                        <span class="fa fa-lock"></span>
                                    </button>
                                    <button class="button mini-button btn-danger" title="Eliminar" ng-click="EliminarGrupo(item.Codigo,item.Nombre, item.CodigoGrupo)" ng-disabled="DeshabilitarEliminarAnular">
                                        <span class="fas fa-trash-alt"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <!-- Modal Permisos-->
    <div class="modal fade" id="modalPermisos" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">GESTRANS.NET CARGA</h4>
                    </div>

                    <div class="modal-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="glyphicon glyphicon-tree-conifer"></i> Opciones Menú
                                
                            </div>
                            <div class="panel-heading">
                                <div class="row">
                                   <!-- <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Tipo Aplicativo</label>
                                            <select name="cmbTTarifa" class="form-control" ng-model="TipoAplicativo" ng-options="i.Nombre for i in ListadoAplicativos | orderBy: 'Nombre'" ng-change="ActualizarMenu()"></select>
                                        </div>
                                    </div> -->

                                    <div class="col-md-12 col-sm-8 col-xs-12">
                                        <div class="form-group">
                                            <label>Nombre Opción</label>
                                            <input type="text" class="form-control" ng-model="FiltroOpcion" ng-change="ActualizarMenu()" maxlength="50" />
                                        </div>
                                    </div>
                                </div>
                            </div>






                            <div class="panel-body" style="max-height: 50vh; overflow: auto">
                                <strong>Grupo {{Grupo.Nombre}}</strong>
                                <div id="jstree"></div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <!--<button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarPermisos()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>-->
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalEliminarGrupo" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar el grupo  {{AuxNombre}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeEliminarGrupo" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-open">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click=" MostrarMensajeErrorCompleto = MostrarMensajeErrorModal(MostrarMensajeErrorCompleto)"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>




    <!-- Modal Modificar Permisos-->
    <div class="modal fade" id="modalModificarPermisos" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">

                            MODICAR PERMISOS GRUPO <span>{{Grupo.Nombre}}</span>
                        </h4>
                    </div>
                    <div class="modal-body">



                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="codigoMenu">Código</label>
                                    <input name="codigoMenu" type="text" class="form-control" ng-model="Nodo.Codigo" disabled>
                                </div>
                            </div>

                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <div class="form-group">
                                    <label for="nombreMenu">Nombre</label>
                                    <input name="nombreMenu" type="text" class="form-control" ng-model="Nodo.Nombre" disabled>
                                </div>
                            </div>


                        </div>

                        <div class="row">


                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" ng-model="ModalHabilitar" ng-checked="ModalHabilitar"> Habilitar
                                    </label>
                                </div>
                            </div>


                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" ng-model="ModalConsultar" ng-checked="ModalConsultar"> Consultar
                                    </label>
                                </div>
                            </div>


                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" ng-model="ModalActualizar" ng-checked="ModalActualizar"> Actualizar
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" ng-model="ModalCrear" ng-checked="ModalCrear"> Crear
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" ng-model="ModalEliminar" ng-checked="ModalEliminar"> Eliminar
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" ng-model="ModalImprimir" ng-checked="ModalImprimir"> Imprimir
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="box box-default box-solid" ng-show="ListadoPermisos.length > 0">
                            <div class="box-header with-border">
                                <h3 class="box-title ng-binding">Permisos</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="ResultadoConsulta">
                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm display nowrap dataTable dtr-inline">
                                            <thead>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>Habilitado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ListadoPermisos">
                                                    <td>
                                                        {{item.Menu.Nombre}}
                                                    </td>
                                                    <td style="text-align:center;min-width:70px">
                                                        <label>
                                                            <input type="checkbox" ng-model="item.Habilitado" />
                                                        </label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" onclick="closeModal('modalModificarPermisos',1)">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarPermisos()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>