﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Identificación</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Código</label>
                                    <input type="text" class="form-control" ng-model="Identificador" placeholder="Identificador" ng-disabled="IdentificadorHabilitado" maxlength="10">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control" placeholder="Nombre" ng-model="Nombre" maxlength="50" ng-disabled="NombreHabilitado">
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Descripción</label>
                                    <input type="text" class="form-control" placeholder="Descripción" ng-model="Descripcion" maxlength="100">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Tipo Aplicación</label>
                                    <select class="form-control" ng-model="TipoAplicacion" ng-options="i.Nombre for i in ListadoTipoAplicacion  " ng-change="Asignarseccion()"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Configuración</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <!--<div class="row">-->
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Clave </label>
                                    <input type="password" class="form-control" placeholder="Clave" ng-model="Clave" ng-disabled="ClaveHabilitada && !CambioContrasenia" maxlength="20">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Confirmación Clave</label>
                                    <input type="password" class="form-control" placeholder="Confirmación Clave" ng-model="ConfirClave" ng-disabled="ClaveHabilitada && !CambioContrasenia" maxlength="20">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Días Cambio Clave</label>
                                    <input type="text" ng-change="MaskNumero()" class="form-control" ng-model="DiasCambioClave" max="999">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Cuenta Activa</label>
                                    <br />
                                    <input type="checkbox" ng-model="CuentaActiva" />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Logueado</label>
                                    <br />
                                    <input type="checkbox" ng-model="Logueado" />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Manager</label>
                                    <br />
                                    <input type="checkbox" ng-model="Manager" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Consultar Otras Oficinas</label>
                                    <input type="checkbox" ng-model="OtrasOficinas" />
                                </div>
                            </div>
                        </div>

                        <!--</div>-->
                    </div>
                </div>


                <div class="box box-default box-solid" id="Aplicativo">
                    <div class="box-header with-border">
                        <h3 class="box-title">Aplicativo</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Tercero {{Empleado.NumeroIdentificacion}}</label>
                                    <input maxlength="60" type="text" class="form-control" name="tercero" id="tercero" placeholder="Ingrese un tercero" ng-model="Empleado" uib-typeahead="empleado as empleado.NombreCompleto for empleado in AutocompletePEmpleado($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Empleado=VerificarAutocomplete(Empleado);AsignarEmpleado()">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" placeholder="Email" ng-model="EmailFuncionario" maxlength="50" readonly />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Teléfono</label>
                                    <input type="text" class="form-control" ng-change="MaskCelular()" placeholder="Teléfono" ng-model="TelefonoFuncionario" maxlength="20" readonly />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Celular</label>
                                    <input type="text" class="form-control" ng-change="MaskCelular()" placeholder="Celular" ng-model="CelularFuncionario" maxlength="20" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="box box-default box-solid" id="Portal">
                    <div class="box-header with-border">
                        <h3 class="box-title">PORTAL</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Cliente {{Cliente.NumeroIdentificacion}}</label>
                                    <input maxlength="60" type="text" class="form-control" name="cliente" id="cliente" placeholder="Ingrese un cliente" ng-model="Cliente" uib-typeahead="cliente as cliente.NombreCompleto for cliente in AutocompleteCliente($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Cliente=VerificarAutocomplete(Cliente);AsignarCliente()">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" placeholder="Email" ng-model="EmailCliente" maxlength="50" readonly />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Teléfono</label>
                                    <input type="text" class="form-control" ng-change="MaskCelular()" placeholder="Teléfono" ng-model="TelefonoCliente" maxlength="20" readonly />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Celular</label>
                                    <input type="text" class="form-control" ng-change="MaskCelular()" placeholder="Celular" ng-model="CelularCliente" maxlength="20" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Proveedor {{Proveedor.NumeroIdentificacion}}</label>
                                    <input maxlength="60" type="text" class="form-control" name="proveedor" id="proveedor" placeholder="Ingrese un proveedor" ng-model="Proveedor" uib-typeahead="Proveedor as Proveedor.NombreCompleto for Proveedor in AutocompleteProveedor($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Proveedor=VerificarAutocomplete(Proveedor);AsignarProveedor()">

                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" placeholder="Email" ng-model="EmailProveedor" maxlength="50" readonly />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Teléfono</label>
                                    <input type="text" class="form-control" ng-change="MaskCelular()" placeholder="Teléfono" ng-model="TelefonoProveedor" maxlength="20" readonly />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Celular</label>
                                    <input type="text" class="form-control" ng-change="MaskCelular()" placeholder="Celular" ng-model="CelularProveedor" maxlength="20" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-default box-solid" id="Gesphone">
                    <div class="box-header with-border">
                        <h3 class="box-title">GESPHONE.NET</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Aforador / Operador de vehículo {{Conductor.NumeroIdentificacion}}</label>
                                    <input maxlength="60" type="text" class="form-control" name="conductor" id="conductor" placeholder="Ingrese un aforador / operador de vehículo" ng-model="Conductor" uib-typeahead="conductor as conductor.NombreCompleto for conductor in AutocompleteConductor($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Conductor=VerificarAutocomplete(Conductor); AsignarConductor()">

                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" placeholder="Email" ng-model="EmailConductor" maxlength="50" readonly />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Teléfono</label>
                                    <input type="text" class="form-control" ng-change="MaskCelular()" placeholder="Teléfono" ng-model="TelefonoConductor" maxlength="20" readonly />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Celular</label>
                                    <input type="text" class="form-control" ng-change="MaskCelular()" placeholder="Celular" ng-model="CelularConductor" maxlength="20" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Banner</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-4 col-xs-12">
                                <label>Mensaje</label>
                                <input type="text" placeholder="Mensaje Banner" class="form-control" ng-model="Mensaje" maxlength="250">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardarUsuario()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardarUsuario" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarUsuario()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>