﻿<div >

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>

    <section class="content-header">
        <h1>CONSULTAR LIQUIDACIÓN DESPACHOS PROVEEDORES </h1>
    </section>

    <div class="content">
        <div class="SeccionFiltros-Formulario">
            <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span>{{error}}</span>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="lblFechIni">Fecha Inicial</label>
                        <input name="txtFechIni" type="date" class="form-control" ng-model="FechaInicio">
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="lblFechFin">Fecha Final</label>
                        <input name="txtFechFin" type="date" class="form-control" ng-model="FechaFin">
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="numero">Número</label>
                        <input name="numero" ng-change="MaskNumero()" class="form-control" ng-model="NumeroDocumento" placeholder="Ingrese un número" maxlength="15">
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="cliente">Empresa Transporte</label>
                        <input name="cliente" class="form-control" ng-model="NombreTransportador" placeholder="Ingrese nombre de transportador" maxlength="10" autocomplete="off">
                    </div>
                </div>

                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Estado</label>
                        <select name="cmbEstados" class="form-control" ng-model="Estado" ng-options="i.Nombre for i in ListaEstados | orderBy:'Nombre'"></select>
                    </div>
                </div>
            </div>
        </div>

        <!--SECCIÓN BOTONES-->
        <div class="SeccionBotones">
            <div class="pull-left">
                <button class="btn btn-block btn-primary" ng-click="Buscar()" title="Buscar Ordenes Cargue " ng-disabled="DeshabilitarConsulta">
                    Buscar
                    <span class="glyphicon glyphicon-filter"></span>
                </button>
            </div>
            <div class="pull-right">
                <div class="pull-right">
                    <button class="btn btn-block btn-primary" ng-disabled="DeshabilitarActualizar" ng-click="NuevoDocumento()" title="Nueva Impuesto">
                        Nuevo
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
        </div>

        <!-- RESULTADO CONSULTA -->
        <div class="ResultadoConsulta">
            <div class="table-responsive" ng-if="ListadoLiquidacionesProveedores.length > 0">
                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                    <thead>
                        <tr>
                            <th>Número</th>
                            <th>Fecha</th>
                            <th>Empresa Transporte</th>
                            <th>Valor Flete Transportador</th>
                            <th>Valor Otros Conceptos</th>
                            <th>Valor a Pagar</th>
                            <th>Estado</th>
                            <th style="min-width: 80px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ListadoLiquidacionesProveedores">
                            <td><a href="#!GestionarLiquidacionPlanillasProveedores/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>

                            <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                            <td>{{item.Transportador.NombreCompleto}}</td>
                            <td><span class="pull-right">{{item.FleteTransportador | number:0}}</span></td>
                            <td><span class="pull-right">{{item.ValorOtrosConceptos | number:0}}</span></td>
                            <td><span class="pull-right">{{item.ValorPagar | number:0}}</span></td>
                            <td>
                                <span ng-if="item.Anulado == 1" class="label label-danger">Anulado</span>
                                <span ng-if="item.Estado == 1 && item.Anulado == 0" class="label label-success">Definitivo</span>
                                <span ng-if="item.Estado == 0 && item.Anulado == 0" class="label label-warning">Borrador</span>
                            </td>
                            <td style="min-width: 30px;">
                                <button class="button mini-button btn-danger float-right" title="Anular" ng-click="AnularDocumento(item)" ng-show="item.Anulado == 0">
                                    <span class="fas fa-trash-alt"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                        <tr>
                            <td colspan="4">
                                <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                    <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                        <span class="item">&laquo;</span>
                                    </button>
                                    <button class="button primary" ng-click="Anterior()" title="Anterior">
                                        <span class="item">&lsaquo;</span>
                                    </button>
                                    <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                        <span class="item">&rsaquo;</span>
                                    </button>
                                    <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                        <span class="item">&raquo;</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                    <tfoot ng-if="totalRegistros == 0 && Buscando == false">
                        <tr>
                            <td colspan="4" style="color:red; text-align:center">
                                <small>{{ResultadoSinRegistros}}</small>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                <span style="color:red">
                    <small>{{ResultadoSinRegistros}}</small>
                </span>
            </div>
        </div>

    </div>
    <div class="modal fade" id="modalAnularLiquidacion" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <ul>
                        <li ng-repeat="error in MensajesErrorAnular">
                            <span class="errorField">{{error}}</span>
                        </li>
                    </ul>
                    <div class="modal-body">
                        <p>¿Está seguro de Anular la Liquidación {{NumeroDocumentoAnula}}?</p>

                        <label>Causa Anulacion</label>
                        <input name="nombre" class="form-control" ng-model="ModeloCausaAnula" placeholder="Ingrese una Causa" maxlength="40">

                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Anular()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>
