﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>

    <section class="content-header">
        <h1>GESTIONAR LIQUIDACIÓN DESPACHOS PROVEEDORES </h1>
    </section>

    <div class="content">
        <form>

            <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span>{{error}}</span>
                    </li>
                </ul>
            </div>


            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="form-group">
                    <label for="numero">Número</label>
                    <input name="numero" ng-change="MaskNumero()" class="form-control" ng-model="Modelo.NumeroDocumento" placeholder="Ingrese un Documento" maxlength="15" ng-disabled="true" autocomplete="off">
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="form-group">
                    <label for="FechaPlanilla">Fecha</label>
                    <input name="FechaPlanilla" type="date" class="form-control" ng-model="Modelo.Fecha" ng-disabled="DeshabilitarActualizar">
                </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="form-group">
                    <label for="cliente">Transportador</label>
                    <input name="cliente" class="form-control" ng-model="Modelo.Transportador"
                           uib-typeahead="Conductor as Conductor.NombreCompleto for Conductor in AutocompleteTransportadores($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                           ng-blur="Planilla.Transportador=VerificarAutocomplete(Modelo.Transportador)"
                           placeholder="Ingrese un Transportador" maxlength="60" ng-disabled="DeshabilitarActualizar || deshabililitarTransportador == true"
                           autocomplete="off">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <div class="input-control text full-size" data-role="input">
                            <label for="observaciones">Observaciones</label>
                            <textarea class="form-control" maxlength="200" name="observaciones" type="text" ng-model="Modelo.Observaciones" ng-disabled="DeshabilitarActualizar"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-default box-solid CriteriosBusqueda" id="CriteriosBusqueda">
                <div class="box-header with-border">
                    <h3 class="box-title">Planillas Proveedores Pendientes Por Liquidar</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse" id="btncriterios"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="numero">Número</label>
                                <input name="numero" ng-change="MaskNumero()" class="form-control" ng-model="ModeloProveedores.Numero" placeholder="Ingrese un Documento" maxlength="15" ng-disabled="DeshabilitarActualizar" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="FechaPlanilla">Fecha Inicial</label>
                                <input name="FechaPlanilla" type="date" class="form-control" ng-model="ModeloProveedores.FechaInicial" ng-disabled="DeshabilitarActualizar">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="FechaPlanilla">Fecha Final</label>
                                <input name="FechaPlanilla" type="date" class="form-control" ng-model="ModeloProveedores.FechaFinal" ng-disabled="DeshabilitarActualizar">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <br />
                                <button type="button" class="btn btn-primary" title="Filtrar recolecciones cargados" ng-click="BuscarPlanillas()" ng-disabled="DeshabilitarActualizar">
                                    Buscar
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>

                            </div>
                        </div>
                    </div>

                        
                        <!-- RESULTADO CONSULTA -->
                        
                    <br />
                    <div class="table-responsive" ng-if="ListadoLiquidacionesProveedoresGrid.length > 0">
                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                            <thead>
                                <tr>
                                    <th>No. Planilla Proveedor</th>
                                    <th>Fecha</th>
                                    <th>Cliente</th>
                                    <th>Ruta</th>
                                    <th>Vehiculo</th>
                                    <th>Cantidad</th>
                                    <th>Peso(Kg)</th>
                                    <th>Total Flete</th>
                                    <th>Valor Anticipos</th>
                                    <th>Marc./Desma. Todo <input type="checkbox" ng-model="SeleccionarTodos" ng-click="ValidarSeleccion(SeleccionarTodos)" ng-disabled="DeshabilitarActualizar"/></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ListadoLiquidacionesProveedoresGrid">
                                    <td><a href="#!GestionarPlanillasDespachosProveedores/{{item.Numero}}">{{item.Numero}}</a></td>

                                    <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                    <td>{{item.Cliente.NombreCompleto}}</td>
                                    <td>{{item.Ruta.Nombre}}</td>
                                    <td>{{item.Vehiculo}}</td>
                                    <td><span class="pull-right">{{item.Cantidad | number:0}}</span></td>
                                    <td><span class="pull-right">{{item.Peso | number:0}}</span></td>
                                    <td><span class="pull-right">{{item.ValorTotalFlete | number:0}}</span></td>
                                    <td><span class="pull-right">{{item.AnticipoTransportador | number:0}}</span></td>
                                    <td><input type="checkbox" ng-model="item.Seleccionado" ng-click="CalcularTotales()" ng-disabled="DeshabilitarActualizar"/></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">
                                        <small>Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                        <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                            <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                <span class="item">&laquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                <span class="item">&lsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                <span class="item">&rsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                <span class="item">&raquo;</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                            <tfoot ng-if="totalRegistros == 0 && Buscando == false">
                                <tr>
                                    <td colspan="4" style="color:red; text-align:center">
                                        <small>{{ResultadoSinRegistros}}</small>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                        <span style="color:red">
                            <small>{{ResultadoSinRegistros}}</small>
                        </span>
                    </div>
                        
                </div>
            </div>
            <div class="box box-default box-solid CriteriosBusqueda" id="CriteriosBusqueda">
                <div class="box-header with-border">
                    <h3 class="box-title">Totales</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse" id="btncriterios"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="cantidad">Cantidad</label>
                            <input name="cantidad" class="form-control text-right" ng-model="Modelo.Cantidad" placeholder="Ingrese cantidad" maxlength={{maxLength}} ng-change="MaskValores()" ng-disabled="true">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="peso">Peso(Kg)</label>
                            <input name="peso" class="form-control text-right" ng-model="Modelo.Peso" placeholder="Ingrese Valor" maxlength="10" ng-change="MaskValores()" ng-disabled="true">
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fTrans">Total Flete Transportador</label>
                            <input name="fTrans" class="form-control text-right" ng-model="Modelo.FleteTransportador" placeholder="Ingrese un valor" maxlength="10" ng-change="MaskValores()" ng-disabled="true">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="ACliente">Valor Anticipos</label>
                            <input name="ACliente" class="form-control text-right" ng-model="Modelo.AnticipoTransportador" placeholder="Ingrese un valor" maxlength="10" ng-change="MaskValores()" ng-disabled="true">
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="ACliente">Valor Otros Conceptos</label>
                            <input name="ACliente" class="form-control text-right" ng-model="Modelo.ValorOtrosConceptos" placeholder="Ingrese un valor" maxlength="10" ng-change="MaskValores()" ng-blur="CalcularTotales()" ng-disabled="DeshabilitarActualizar">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="TotalF">Total</label>
                            <input name="TotalF" class="form-control text-right" ng-model="Modelo.Total" placeholder="Ingrese un valor" maxlength="10" ng-change="MaskValores()" ng-disabled="true">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="TotalF">Valor Base Impuestos</label>
                            <input name="TotalF" class="form-control text-right" ng-model="Modelo.ValorBaseImpuestos" placeholder="Ingrese un valor" maxlength="10" ng-change="MaskValores()" ng-disabled="true">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="TotalF">Valor Impuestos</label>
                            <input name="TotalF" class="form-control text-right" ng-model="Modelo.ValorImpuestos" placeholder="Ingrese un valor" maxlength="10" ng-change="MaskValores()" ng-disabled="true">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="TotalF">Valor a Pagar</label>
                            <input name="TotalF" class="form-control text-right" ng-model="Modelo.ValorPagar" placeholder="Ingrese un valor" maxlength="10" ng-change="MaskValores()" ng-disabled="true">
                        </div>
                    </div>


                </div>
            </div>

            <div class="box box-default box-solid CriteriosBusqueda" id="CriteriosBusqueda">
                <div class="box-header with-border">
                    <h3 class="box-title">Impuestos</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse" id="btncriterios"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="table-responsive" ng-if="ListadoImpuestosPlanilla.length > 0">
                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Valor Base</th>
                                    <th>Tarifa</th>
                                    <th>Valor Impuesto</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ListadosImpuestosPlanillasProveedores">

                                    <td>{{item.Nombre}}</td>
                                    <td><span class="pull-right">{{item.ValorBase | number : 0}}</span></td>
                                    <td><span class="pull-right">{{item.Valor_tarifa | number : 2}}</span></td>
                                    <td><span class="pull-right">{{item.ValorImpuesto | number : 0}}</span></td>

                                </tr>
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Oficina</label>
                        <input type="text" class="form-control" ng-model="Modelo.Oficina.Nombre" ng-disabled="true" />
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Estado</label>
                        <select name="cmbEstados" class="form-control" ng-model="Modelo.Estado" ng-options="i.Nombre for i in ListaEstados | orderBy:'Nombre'" ng-disabled="DeshabilitarActualizar"></select>
                    </div>
                </div>
            </div>


            <!--SECCION BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="DeshabilitarActualizar">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
