﻿<div ng-controller="GestionarListaChequeoVehiculosCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Cuenta">Conductor</label>
                            <input type="text" class="form-control" autocomplete="off" name="Conductor" maxlength="50" id="ModeloConductor" placeholder="Ingrese un conductor" ng-model="Modelo.Conductor"
                                   uib-typeahead="i as i.NombreCompleto for i in ListaConductor| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.Conductor=VerificarAutocomplete(Modelo.Conductor)" disabled>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <br />
                            <span> {{Modelo.Numero}}</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Formatos Inspección</label>
                            <input maxlength="60" type="text" class="form-control" ng-change="MaskMayus()" name="formularioinspeccion" id="formularioinspeccion" placeholder="Formatos Inspección" ng-model="Modelo.FormatoInspeccion"
                                   typeahead-no-results="myform.formularioinspeccion.$error.required" uib-typeahead="formularioinspeccion as formularioinspeccion.Nombre for formularioinspeccion in ListadoFormatosInspeccion| filter:$viewValue | limitTo: 5"
                                   ng-required="false" ng-disabled="DeshabilitarActualizar" ng-blur="Modelo.FormatoInspeccion=VerificarAutocomplete(Modelo.FormatoInspeccion); ConsultarFormatoInspeccion(Modelo.FormatoInspeccion.Codigo)" autocomplete="off">
                            <div ng-if="myform.formularioinspeccion.$error.required">
                                <i class="glyphicon glyphicon-remove"></i><small class="errorField"> El formato no existe en el sistema</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fecha">Fecha</label>
                            <input name="fecha" type="date" class="form-control" ng-model="Modelo.FechaInspeccion" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tiempo Vigencia(Min.)</label>
                            <input type="text" ng-change="MaskNumero()" name="tiempovigencia" class="form-control" maxlength="5" placeholder="Tiempo Vigencia" ng-model="Modelo.TiempoVigencia" ng-disabled="Deshabilitar" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Código Alterno</label>
                            <input type="text" name="txtCodiAlte" class="form-control" maxlength="20" placeholder="Código Alterno" ng-model="Modelo.CodigoAlterno" ng-disabled="Deshabilitar" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="Vehiculo">Placa</label>
                            <input type="text" autocomplete="off" class="form-control" maxlength="50" id="ModeloVehiculo" placeholder="Ingrese una Placa" ng-model="Modelo.Vehiculo" uib-typeahead="i as i.Placa for i in AutocompleteVehiculos($viewValue) | filter:$viewValue | limitTo: 5"
                                   ng-change="MaskPlaca()" ng-required="false" ng-blur="Modelo.Vehiculo=VerificarAutocomplete(Modelo.Vehiculo); CargarSemirremolque(Modelo.Vehiculo)" ng-disabled="DeshabilitarActualizar">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="Semirremolque">Semirremolque</label>
                            <input type="text" class="form-control" autocomplete="off" name="Ruta" maxlength="50" id="ModeloSemirremolque" placeholder="Ingrese un semirremolque" ng-model="Modelo.Semirremolque"
                                   uib-typeahead="i as i.Placa for i in ListaSemirremolque| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.Semirremolque=VerificarAutocomplete(Modelo.Semirremolque)" disabled>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Transportador">Transportador</label>
                            <input type="text" class="form-control" autocomplete="off" name="Transportador" maxlength="50" id="ModeloTransportador" placeholder="Ingrese un transportador" ng-model="Modelo.Transportador" ng-disabled="Deshabilitar"
                                   uib-typeahead="i as i.NombreCompleto for i in ListaTransportador | filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.Transportador=VerificarAutocomplete(Modelo.Transportador)">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Cliente">Cliente</label>
                            <input type="text" class="form-control" autocomplete="off" name="Cliente" maxlength="50" id="ModeloCliente" placeholder="Ingrese un cliente" ng-model="Modelo.Cliente" ng-disabled="Deshabilitar"
                                   uib-typeahead="i as i.NombreCompleto for i in ListaCliente| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.Cliente=VerificarAutocomplete(Modelo.Cliente)">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Sitio Cargue</label>
                            <input name="SitioCargue" id="SitioCargue" autocomplete="off" placeholder="Sitio Cargue" type="text" class="form-control" ng-model="Modelo.SitioCargue" ng-disabled="Deshabilitar"
                                   uib-typeahead="i as i.Nombre for i in ListaSitiosCargueDescargue| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.SitioCargue=VerificarAutocomplete(Modelo.SitioCargue)">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Sitio Descargue</label>
                            <input name="SitioDescargue" id="SitioDescargue" autocomplete="off" placeholder="Sitio Descargue" type="text" class="form-control" ng-model="Modelo.SitioDescargue" ng-disabled="Deshabilitar"
                                   uib-typeahead="i as i.Nombre for i in ListaSitiosCargueDescargue| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.SitioDescargue=VerificarAutocomplete(Modelo.SitioDescargue)">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Responsable</label>
                            <input maxlength="60" type="text" class="form-control" name="responsable" id="responsable" placeholder="Ingrese un responsable" ng-model="Modelo.Responsable" ypeahead-no-results="myform.responsable.$error.required"
                                   uib-typeahead="responsable as responsable.NombreCompleto for responsable in ListadoResponsables| filter:$viewValue | limitTo: 5" ng-blur="Modelo.Responsable=VerificarAutocomplete(Modelo.Responsable)" ng-disabled="Deshabilitar">
                            <div ng-if="myform.responsable.$error.required">
                                <i class="glyphicon glyphicon-remove"></i><small class="errorField"> El responsable no existe en el sistema</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <div class="input-control text full-size" data-role="input">
                                <label for="Fechainicio">Fecha Inicio</label>
                                <input class="form-control" name="Fechainicio" type="date" ng-model="Modelo.FechaInicioHora" ng-disabled="Deshabilitar" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label>Hora <small class="errorField" ng-show="myform.horaInicio.$error.required">*</small></label>
                            <input ng-change="MaskHora()" name="horaInicio" class="form-control" type="text" placeholder="HH:mm" ng-model="Modelo.HoraInicio" ng-required="true" maxlength="5" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <div class="input-control text full-size" data-role="input">
                                <label for="FechaFin">Fecha Fin</label>
                                <input class="form-control" name="fechaFin" type="date" ng-model="Modelo.FechaFinHora" ng-disabled="Deshabilitar" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label>Hora <small class="errorField" ng-show="myform.horaOrigen.$error.required">*</small></label>
                            <input ng-change="MaskHora()" name="horaFin" class="form-control" type="text" placeholder="HH:mm" ng-model="Modelo.HoraFin" ng-required="true" maxlength="5" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Autoriza">Autorizó</label>
                            <input type="text" class="form-control" autocomplete="off" name="Autoriza" maxlength="50" id="ModeloAutoriza" placeholder="Autorizó" ng-model="Modelo.Autoriza" ng-disabled="Deshabilitar"
                                   uib-typeahead="i as i.NombreCompleto for i in ListaAutoriza | filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.Autoriza=VerificarAutocomplete(Modelo.Autoriza)">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fechaautoriza">Fecha Autoriza</label>
                            <input class="form-control" name="fechaautoriza" type="date" ng-model="Modelo.FechaAutoriza" ng-disabled="Deshabilitar" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalEstado" ng-options="i.Nombre for i in ListadoEstados" ng-disabled="Deshabilitar"></select>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <div class="input-control text full-size" data-role="input">
                                <label for="observaciones">Observaciones</label>
                                <textarea class="form-control" maxlength="200" name="observaciones" type="text" ng-model="Modelo.Observaciones" ng-disabled="Deshabilitar"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div style="max-width:100%">
                            <div class="ResultadoConsulta">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm display nowrap dataTable dtr-inline" ng-if="ListadoSecciones.length > 0">
                                        <thead>
                                            <tr>
                                                <th width="10px"></th>
                                                <th style="cursor:pointer"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in ListadoSecciones">
                                                <td ng-click="ListTitem(item)" width="15px" style="cursor:pointer"><span class="glyphicon glyphicon-menu-right"></span> </td>
                                                <td style="min-width:90px" class="box box-default box-solid">
                                                    <div class="col-md-12 col-sm-6 col-xs-12" style="min-width:80px">
                                                        <strong class="box-title">ITEMS {{item.Nombre}}</></strong>
                                                    </div>
                                                    <div class="col-md-12 content-header" ng-show="item.items">
                                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                                            <thead>
                                                                <tr>
                                                                    <th>Nombre</th>
                                                                    <th>Valor</th>
                                                                    <!--<th ng-show="false">Relevante</th>-->
                                                                    <th>Cumple</th>
                                                                    <!--<th></th>-->
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="itemDetalle in item.ListadoItemSeccion" ng-if="item.ListadoItemSeccion.length > 0">
                                                                    <td style="min-width:70px">
                                                                        <p>{{itemDetalle.Nombre}}</p>
                                                                    </td>
                                                                    <td style="min-width:70px">
                                                                        <!--check--><div ng-if="itemDetalle.TipoControl.Codigo != 12501 && itemDetalle.TipoControl.Codigo != 12502  && itemDetalle.TipoControl.Codigo != 12506 && itemDetalle.TipoControl.Codigo != 12503 && itemDetalle.TipoControl.Codigo != 12504 && itemDetalle.TipoControl.Codigo != 12505"><input id="{{itemDetalle.Nombre}}" ng-show="itemDetalle.TipoControl.Codigo == 12507" type="checkbox" ng-model="itemDetalle.Valor" ng-click="MarcarCumple(itemDetalle)" ng-disabled="Deshabilitar"/></div>
                                                                        <!--texto--><div ng-if="itemDetalle.TipoControl.Codigo != 12507 && itemDetalle.TipoControl.Codigo != 12502  && itemDetalle.TipoControl.Codigo != 12506 && itemDetalle.TipoControl.Codigo != 12503 && itemDetalle.TipoControl.Codigo != 12504 && itemDetalle.TipoControl.Codigo != 12505"><input ng-show="itemDetalle.TipoControl.Codigo == 12501" type="text" ng-model="itemDetalle.Valor" maxlength="{{itemDetalle.Tamano}}" ng-disabled="Deshabilitar" /></div>
                                                                        <!--numerico--><div ng-if="itemDetalle.TipoControl.Codigo != 12507 && itemDetalle.TipoControl.Codigo != 12501 && itemDetalle.TipoControl.Codigo != 12506 && itemDetalle.TipoControl.Codigo != 12503 && itemDetalle.TipoControl.Codigo != 12504 && itemDetalle.TipoControl.Codigo != 12505"><input ng-show="itemDetalle.TipoControl.Codigo == 12502" type="text" ng-model="itemDetalle.Valor" maxlength="{{itemDetalle.Tamano}}" ng-disabled="Deshabilitar" ng-change="itemDetalle.Valor = MaskNumeroGird(itemDetalle.Valor)" /></div>
                                                                        <!--fecha--><div ng-if="itemDetalle.TipoControl.Codigo != 12507 && itemDetalle.TipoControl.Codigo != 12501 && itemDetalle.TipoControl.Codigo != 12502 && itemDetalle.TipoControl.Codigo != 12506 && itemDetalle.TipoControl.Codigo != 12504 && itemDetalle.TipoControl.Codigo != 12505"><input ng-show="itemDetalle.TipoControl.Codigo == 12503 && (itemDetalle.Valor !== true || itemDetalle.Valor !== false)" type="date" ng-model="itemDetalle.Valor" ng-disabled="Deshabilitar" /></div>
                                                                        <!--correo--><div ng-if="itemDetalle.TipoControl.Codigo != 12507 && itemDetalle.TipoControl.Codigo != 12501 && itemDetalle.TipoControl.Codigo != 12502 && itemDetalle.TipoControl.Codigo != 12506 && itemDetalle.TipoControl.Codigo != 12503 && itemDetalle.TipoControl.Codigo != 12505"><input ng-show="itemDetalle.TipoControl.Codigo == 12504" type="text" ng-model="itemDetalle.Valor" maxlength="{{itemDetalle.Tamano}}" ng-disabled="Deshabilitar" /></div>
                                                                        <!--telefono--><div ng-if="itemDetalle.TipoControl.Codigo != 12507 && itemDetalle.TipoControl.Codigo != 12501 && itemDetalle.TipoControl.Codigo != 12502 && itemDetalle.TipoControl.Codigo != 12506 && itemDetalle.TipoControl.Codigo != 12503 && itemDetalle.TipoControl.Codigo != 12504"><input ng-show="itemDetalle.TipoControl.Codigo == 12505" type="text" ng-model="itemDetalle.Valor" maxlength="{{itemDetalle.Tamano}}" ng-disabled="Deshabilitar" /></div>
                                                                        <!--hora--><div ng-if="itemDetalle.TipoControl.Codigo != 12501 && itemDetalle.TipoControl.Codigo != 12502  && itemDetalle.TipoControl.Codigo != 12507 && itemDetalle.TipoControl.Codigo != 12503 && itemDetalle.TipoControl.Codigo != 12505 && itemDetalle.TipoControl.Codigo != 12504"><input ng-show="itemDetalle.TipoControl.Codigo === 12506" type="text" ng-model="itemDetalle.Valor" maxlength="5" placeholder="HH:MM" ng-disabled="Deshabilitar" ng-change="itemDetalle.Valor = MaskHoraGrid(itemDetalle.Valor)" /></div>


                                                                </td>
                                                                   
                                                                    <td style="text-align:center;min-width:70px">
                                                                        <label>
                                                                            <input type="checkbox" ng-model="itemDetalle.Cumple" ng-disabled="Deshabilitar" />
                                                                        </label>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-12" ng-show="HabilitarFirma">
                        <div class="FirmaDigital">
                            <div><h2>Firma</h2></div>
                            <div>
                                <canvas id="Firma" class="Firma" ng-signature-pad="signature" ng-show="MostrarCanvasFirma">Firma</canvas>
                                <img ng-src="{{ImgFirma}}" ng-show="!MostrarCanvasFirma" />
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-default" ng-click="LimpiarFirma()" ng-disabled="Deshabilitar">
                                    limpiar firma
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="Deshabilitar">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionDatosDetalle" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            {{TituloModal}}
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿La inspección quedará en estado "Rechazada", Desea continuar?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!--<canvas id="CanvasVertical" width="500" height="700" style="display:none">
        Accede a este script con un navegador que acepte canvas del HTML 5
    </canvas>
    <canvas id="CanvasHorizontal" width="700" height="500" style="display:none">
        Accede a este script con un navegador que acepte canvas del HTML 5
    </canvas>-->

</div>