﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>LISTADOS DESPACHOS</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Listado Documentos</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModeloDocumentosDespachos" ng-change="AsignarFiltro(ModeloDocumentosDespachos.Codigo)" ng-options="i.NombreMenu for i in ListaDespacho | orderBy: 'NombreMenu'"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="box box-default box-solid" ng-show="ModeloDocumentosDespachos.Codigo !== 400228 && ModeloDocumentosDespachos.Codigo !== 400229 && ModeloDocumentosDespachos.Codigo !== 400230 && ModeloDocumentosDespachos.Codigo !== 400231  && ModeloDocumentosDespachos.Codigo !== 400291 && ModeloDocumentosDespachos.Codigo !== 400235 && ModeloDocumentosDespachos.Codigo !== 400237">
                        <div class="box-header">
                            <h3 class="box-title">Filtros</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-disabled="Deshabilitar" ng-click="Filtros()" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body" style="display:block">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFechIni">Fecha Inicial</label>
                                    <input name="txtFechIni" type="date" class="form-control" ng-model="ModeloFechaInicial">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFechFina">Fecha Final</label>
                                    <input name="txtFechFina" type="date" class="form-control" ng-model="ModeloFechaFinal">
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-12" ng-show="ModeloDocumentosDespachos.Codigo != 400295">
                                <div class="form-group">
                                    <label for="NumeroInicial">Número Inicial</label>
                                    <input name="NumeroInicial" class="form-control" ng-model="ModeloNumeroInicial" placeholder="Ingrese número inicial" maxlength="20" ng-change="MaskNumero()">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12" ng-show="ModeloDocumentosDespachos.Codigo != 400295">
                                <div class="form-group">
                                    <label for="NumeroInicial">Número Final</label>
                                    <input name="NumeroInicial" class="form-control" ng-model="ModeloNumeroFinal" placeholder="Ingrese número final" maxlength="20" ng-change="MaskNumero()">
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12" ng-show="FiltroTransportador && ModeloDocumentosDespachos.Codigo != 400295">
                                <div class="form-group">
                                    <label for="Transportador">Transportador </label>
                                    <input name="Transportador" class="form-control" ng-model="ModeloTransportador" placeholder="Ingrese un Transportador" maxlength="20">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12" ng-show="FiltroCliente && ModeloDocumentosDespachos.Codigo != 400295">
                                <div class="form-group">
                                    <label for="Cliente">Cliente </label>
                                    <input name="Cliente" class="form-control" ng-model="ModeloCliente" placeholder="Ingrese un Cliente" maxlength="80">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12" ng-show="ModeloDocumentosDespachos.Codigo != 400295">
                                <div class="form-group">
                                    <label for="NumeroInicial">Ruta</label>
                                    <input name="NumeroInicial" class="form-control" ng-model="ModeloRuta" placeholder="Ingrese una ruta" maxlength="80">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12" ng-show="FiltroVehiculo && ModeloDocumentosDespachos.Codigo != 400295">
                                <div class="form-group">
                                    <label for="Vehiculo">Vehiculo</label>
                                    <input type="text" class="form-control" maxlength="18" placeholder="Vehículo" ng-model="ModeloVehiculo"
                                           uib-typeahead="Vehi as Vehi.Placa for Vehi in AutocompleteVehiculos($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                           ng-blur="ModeloVehiculo=VerificarAutocomplete(ModeloVehiculo)" ng-disabled="DeshabilitarActualizar" />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-12" ng-show="ModeloDocumentosDespachos.Codigo != 400295">
                                <div class="form-group">
                                    <label for="lblOficina">Oficina</label>
                                    <select name="cmbOficina" class="form-control" ng-model="ModeloOficinas" ng-options="i.Nombre for i in ListadoOficinas" ng-disabled="DesabilitarDocumentoDefinitivo"></select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12" ng-show="ModeloDocumentosDespachos.Codigo !== 400232 && ModeloDocumentosDespachos.Codigo != 400295">
                                <div class="form-group">
                                    <label>Estado</label>
                                    <select name="cmbEstado" class="form-control" ng-model="ModeloEstadoGuia" ng-options="i.Nombre for i in ListadoEstadoRemesaPaqueteria"></select>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-6 col-xs-12" ng-show="ModeloDocumentosDespachos.Codigo == 400232 && ModeloDocumentosDespachos.Codigo != 400295">
                                <div class="form-group">
                                    <label>Estado</label>
                                    <select name="cmbEstado" class="form-control" ng-model="ModeloEstadoLiquidaciones" ng-options="i.Nombre for i in ListadoEstadoLiquidacion"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box box-default box-solid" ng-show="ModeloDocumentosDespachos.Codigo == 400228">
                        <!--PLANEACION-->
                        <div class="box-header">
                            <h3 class="box-title">Filtros</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-disabled="Deshabilitar" ng-click="Filtros()" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body" style="display:block">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="Cliente">{{LabelTercero}} </label>
                                    <input name="Cliente" class="form-control" ng-model="ModeloCliente" maxlength="80">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="Cliente">Destinatario</label>
                                    <input name="Cliente" class="form-control" ng-model="ModeloDestinatario" maxlength="80">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="Cliente">Destino</label>
                                    <input name="Cliente" class="form-control" ng-model="ModeloDestino" maxlength="80">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFechIni">Fecha Inicial</label>
                                    <input name="txtFechIni" type="date" class="form-control" ng-model="ModeloFechaInicial">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFechFina">Fecha Final</label>
                                    <input name="txtFechFina" type="date" class="form-control" ng-model="ModeloFechaFinal">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Estado</label>
                                    <select name="cmbEstado" class="form-control" ng-model="ModeloEstadoPlaneacion" ng-options="i.Nombre for i in ListadoEstadoPlaneacion"></select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box box-default box-solid" ng-show="ModeloDocumentosDespachos.Codigo == 400229">
                        <div class="box-header">
                            <h3 class="box-title">Filtros</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-disabled="Deshabilitar" ng-click="Filtros()" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body" style="display:block">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="NumeroInicial">Número Inicial</label>
                                    <input name="NumeroInicial" class="form-control" ng-model="ModeloNumeroInicial" placeholder="Ingrese número inicial" maxlength="20" ng-change="MaskNumero()">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="NumeroInicial">Número Final</label>
                                    <input name="NumeroInicial" class="form-control" ng-model="ModeloNumeroFinal" placeholder="Ingrese número final" maxlength="20" ng-change="MaskNumero()">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFechIni">Fecha Inicial</label>
                                    <input name="txtFechIni" type="date" class="form-control" ng-model="ModeloFechaInicial">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFechFina">Fecha Final</label>
                                    <input name="txtFechFina" type="date" class="form-control" ng-model="ModeloFechaFinal">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label for="lblOficina">Oficina</label>
                                    <select name="cmbOficina" class="form-control" ng-model="ModeloOficinas" ng-options="i.Nombre for i in ListadoOficinas" ng-disabled="DesabilitarDocumentoDefinitivo"></select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12" ng-show="DeshabilitarPDF">
                                <div class="form-group">
                                    <label>Estado</label>
                                    <select name="cmbEstado" class="form-control" ng-model="ModeloEstadoRegistroPrecintos" ng-options="i.Nombre for i in ListaEstadosPrecintos"></select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box box-default box-solid" ng-show="ModeloDocumentosDespachos.Codigo == 400230">
                        <div class="box-header">
                            <h3 class="box-title">Filtros</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-disabled="Deshabilitar" ng-click="Filtros()" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body" style="display:block">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFechIni">Fecha Inicial</label>
                                    <input name="txtFechIni" type="date" class="form-control" ng-model="ModeloFechaInicial">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFechFina">Fecha Final</label>
                                    <input name="txtFechFina" type="date" class="form-control" ng-model="ModeloFechaFinal">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label for="lblOficina">Oficina</label>
                                    <select name="cmbOficina" class="form-control" ng-model="ModeloOficinas" ng-options="i.Nombre for i in ListadoOficinas" ng-disabled="DesabilitarDocumentoDefinitivo"></select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box box-default box-solid" ng-show="ModeloDocumentosDespachos.Codigo == 400235">
                        <div class="box-header">
                            <h3 class="box-title">Filtros</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-disabled="Deshabilitar" ng-click="Filtros()" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body" style="display:block">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFechIni">Fecha Inicial</label>
                                    <input name="txtFechIni" type="date" class="form-control" ng-model="ModeloFechaInicial">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFechFina">Fecha Final</label>
                                    <input name="txtFechFina" type="date" class="form-control" ng-model="ModeloFechaFinal">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12" ng-show="FiltroTransportador">
                                <div class="form-group">
                                    <label for="Transportador">Transportador </label>
                                    <input name="Transportador" class="form-control" ng-model="ModeloTransportador" placeholder="Ingrese un Transportador" maxlength="20">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12" ng-show="FiltroVehiculo">
                                <div class="form-group">
                                    <label for="Vehiculo">Vehiculo</label>
                                    <input type="text" class="form-control" maxlength="18" placeholder="Vehículo" ng-model="ModeloVehiculo"
                                           uib-typeahead="Vehi as Vehi.Placa for Vehi in AutocompleteVehiculos($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                           ng-blur="ModeloVehiculo=VerificarAutocomplete(ModeloVehiculo)" ng-disabled="DeshabilitarActualizar" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box box-default box-solid" ng-show="ModeloDocumentosDespachos.Codigo == 400237">
                        <div class="box-header">
                            <h3 class="box-title">Filtros</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-disabled="Deshabilitar" ng-click="Filtros()" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body" style="display:block">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFechIni">Fecha Inicial</label>
                                    <input name="txtFechIni" type="date" class="form-control" ng-model="ModeloFechaInicial">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFechFina">Fecha Final</label>
                                    <input name="txtFechFina" type="date" class="form-control" ng-model="ModeloFechaFinal">
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="box box-default box-solid" ng-show="ModeloDocumentosDespachos.Codigo == 400231 ">
                        <div class="box-header">
                            <h3 class="box-title">Filtros</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-disabled="Deshabilitar" ng-click="Filtros()" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body" style="display:block">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFechIni">Fecha Inicial</label>
                                    <input name="txtFechIni" type="date" class="form-control" ng-model="ModeloFechaInicial">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFechFina">Fecha Final</label>
                                    <input name="txtFechFina" type="date" class="form-control" ng-model="ModeloFechaFinal">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12" ng-show="FiltroCliente">
                                <div class="form-group">
                                    <label for="Cliente">Cliente </label>
                                    <input name="Cliente" class="form-control" ng-model="ModeloCliente" placeholder="Ingrese un Cliente" maxlength="80">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="NumeroInicial">Ruta</label>
                                    <input name="NumeroInicial" class="form-control" ng-model="ModeloRuta" placeholder="Ingrese una ruta" maxlength="80">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label for="lblOficina">Oficina</label>
                                    <select name="cmbOficina" class="form-control" ng-model="ModeloOficinas" ng-options="i.Nombre for i in ListadoOficinas" ng-disabled="DesabilitarDocumentoDefinitivo"></select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12" ng-show="DeshabilitarPDF">
                                <div class="form-group">
                                    <label>Estado</label>
                                    <select name="cmbEstado" class="form-control" ng-model="ModeloEstadoGuia" ng-options="i.Nombre for i in ListadoEstadoRemesaPaqueteria"></select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box box-default box-solid" ng-show="ModeloDocumentosDespachos.Codigo == 400291">
                        <div class="box-header">
                            <h3 class="box-title">Filtros</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-disabled="Deshabilitar" ng-click="Filtros()" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body" style="display:block">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFechIni">Fecha Inicial</label>
                                    <input name="txtFechIni" type="date" class="form-control" ng-model="ModeloFechaInicial">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFechFina">Fecha Final</label>
                                    <input name="txtFechFina" type="date" class="form-control" ng-model="ModeloFechaFinal">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12" ng-show="FiltroCliente">
                                <div class="form-group">
                                    <label for="Cliente">Cliente </label>
                                    <input name="Cliente" class="form-control" ng-model="ModeloCliente" placeholder="Ingrese un Cliente" maxlength="80">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="NumeroInicial">Ruta</label>
                                    <input name="NumeroInicial" class="form-control" ng-model="ModeloRuta" placeholder="Ingrese una ruta" maxlength="80">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label for="lblOficina">Oficina</label>
                                    <select name="cmbOficina" class="form-control" ng-model="ModeloOficinas" ng-options="i.Nombre for i in ListadoOficinas" ng-disabled="DesabilitarDocumentoDefinitivo"></select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12" ng-show="DeshabilitarPDF">
                                <div class="form-group">
                                    <label>Estado</label>
                                    <select name="cmbEstado" class="form-control" ng-model="ModeloEstadoGuia" ng-options="i.Nombre for i in ListadoEstadoRemesaPaqueteria"></select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div id="lineButtons">
                    <div class="pull-left">
                        <table>
                            <tr>
                                <td ng-show="DeshabilitarPDF">
                                    <button class="btn btn-block btn-primary" style="width:50px; height:50px" title="Abrir en PDF" ng-click="DesplegarInforme( 1, 0)">
                                        <img src="../../../FrontEnd/Css/img/pdf.png" width="40" height="40" />
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-block btn-primary" style="width:50px; height:50px; margin-left:10px" title="Descargar en EXCEL" ng-click="DesplegarInforme(0, 1)">
                                        <img src="../../../FrontEnd/Css/img/excel.png" width="40" height="40" style="margin-left:0px" />
                                    </button>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalEliminarTarifarioVentas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar la linea vehículo {{Nombre}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeEliminarTarifarioVentas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click="MostrarMensajeErrorModal()"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="MostrarMensajeErrorModal()">
                                Mensaje Completo
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>