﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CARGAR TARIFARIO</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="alert alert-danger" role="alert" ng-show="(TipoLineaNegocioTransportes.Codigo == 0 || TipoLineaNegocioTransportes.Codigo == undefined)">
                    <ul>
                        <li>
                            <span>Por favor seleccione el tipo línea negocio</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Tarifario</label>
                            <select class="form-control" ng-model="Tarifario" ng-change="CargarTarifarios()" ng-options="i.Nombre for i in ListadoTipoTarifario | orderBy: 'Nombre'"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tarifario</label>
                            <select class="form-control" ng-model="Tarifarios" ng-change="AsignarFechasTarifario()" ng-options="i.Nombre for i in ListadoTarifarioVentas | orderBy: 'Nombre'"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Línea Negocio</label>
                            <select name="cmbTipoDueno" class="form-control" ng-model="LineaNegocioTransportes" ng-options="i.Nombre for i in ListadoLineaNegocioTransportesFiltrado" ng-change="CargarTipoLineaCabecera(LineaNegocioTransportes.Codigo)" ng-disabled="DataActual.length > 0"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Línea Negocio</label>
                            <select name="cmbTipoDueno" class="form-control" ng-model="TipoLineaNegocioTransportes" ng-options="i.Nombre for i in ListadoTipoLineaNegocioTransportesFiltrado" ng-disabled="DataActual.length > 0"></select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12" ng-show="Tarifarios.Codigo == 0">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" name="txtNombre" ng-change="MaskMayus()" class="form-control" maxlength="40" placeholder="Nombre" ng-model="Modelo.Nombre" ng-disabled="DeshabilitarCampos" ng-blur="VerificarExistencia()" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechVinc">Fecha Inicio</label>
                            <input name="txtFechVinc" type="date" class="form-control" ng-model="Modelo.FechaInicio">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechVinc">Fecha Fin</label>
                            <input name="txtFechVinc" type="date" class="form-control" ng-model="Modelo.FechaFin">
                        </div>
                    </div>

                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones" ng-show="TipoLineaNegocioTransportes.Codigo > 0">
                <div class="pull-left" style="padding-right:1%" ng-show="DataActual.length == 0 || DataActual === undefined || DataActual == null || DataActual == ''">
                    <div class="btn btn-block btn-primary btn-file" data-toggle="tooltip" title="Abrir Archivo" style="height:40px;">
                        Abrir Archivo
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <input id="filePrincipal" type="file" name="xlfile" ng-model-instant onchange="angular.element(this).scope().handleFile(this)" class="">
                    </div>
                </div>

                <div class="pull-left" style="padding-right:1%" ng-show="DataActual.length > 0">
                    <div class="btn btn-block btn-primary btn-file" data-toggle="tooltip" title="Abrir Archivo" style="height:40px;" ng-click="ModalConfirmacionNuevoProceso()">
                        Abrir Archivo
                        <span class="glyphicon glyphicon-folder-open"></span>
                    </div>
                </div>

                <div class="pull-left" style="padding-right:1%">
                    <button class="btn btn-block btn-primary" ng-click="GenerarPlanilla()" data-toggle="tooltip" title="Generar Plantilla" style="height:40px">
                        Generar Plantilla
                        <span class="glyphicon glyphicon-save-file"></span>
                    </button>
                </div>
                <div class="pull-left" style="padding-right:1%">
                    <button class="btn btn-block btn-primary" ng-click="DataArchivo = [];DataActual = []; ListaErrores=[]" data-toggle="tooltip" title="Limpiar Plantilla" style="height:40px">
                        Limpiar
                        <span class="glyphicon glyphicon-erase"></span>
                    </button>
                </div>
                <div class="pull-left" style="padding-right:1%" ng-show="DataActual.length > 0">
                    <!---->
                    <button class="btn btn-block btn-primary" id="btnValida" ng-click="ValidarDocumento();VerErrores = false" data-toggle="tooltip" title="Guardar Tarifario" style="height:40px">
                        Guardar
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                </div>
                <div class="pull-left" style="padding-right:1%" ng-show="ListaErrores.length > 0">
                    <!---->
                    <button class="btn btn-block btn-primary" ng-click="VerErrores = false" ng-show="ListaErrores.length > 0 && VerErrores" data-toggle="tooltip" title="Ver Errores" style="height:40px">
                        Ocultar Errores
                        <span class="glyphicon glyphicon-eye-close"></span>
                    </button>
                    <button class="btn btn-danger" ng-click="VerErrores = true" ng-show="ListaErrores.length > 0 && !VerErrores" data-toggle="tooltip" title="Ver Errores" style="height:40px">
                        Ver Errores
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>

                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div ng-show="DataActual.length > 0 && TipoLineaNegocioTransportes.Codigo > 0">
                <div class="ResultadoConsulta" ng-show="!VerErrores">
                    <!--DataActual.length > 0 &&-->
                    <div class="table-responsive" style="overflow-y:scroll;max-height:500px;max-width:100%">
                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                            <thead>
                                <tr>
                                    <th>Omitir</th>
                                    <!--<th>Linea Negocio</th>-->
                                    <!--<th>Tipo Linea Negocio</th>-->
                                    <th ng-show="LineaNegocioTransportes.Codigo == 3">Ciudad Origen</th>
                                    <th ng-show="LineaNegocioTransportes.Codigo == 3">Ciudad Destino</th>
                                    <th ng-show="LineaNegocioTransportes.Codigo != 3">Ruta</th>
                                    <th>Tarifa</th>
                                    <th>Tipo Tarifa</th>
                                    <th ng-show="LineaNegocioTransportes.Codigo == 3">Forma Pago</th>
                                    <th>Valor Flete Cliente</th>
                                    <th ng-show="LineaNegocioTransportes.Codigo != 3">Valor Flete Transportador</th>
                                    <th ng-show="LineaNegocioTransportes.Codigo != 3">Valor Escolta</th>
                                    <th ng-show="LineaNegocioTransportes.Codigo == 3">Reexpedición</th>
                                    <th ng-show="LineaNegocioTransportes.Codigo == 3">% Reexpedición</th>
                                    <th ng-show="LineaNegocioTransportes.Codigo == 3">% Manejo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in DataActual" style="{{item.stRow}}">
                                    <!-- Omitir-->
                                    <td style="{{item.stGeneral}}">
                                        <input type="checkbox" ng-model="item.Omitido" />
                                        <span ng-if="item.msGeneral !== undefined && item.msGeneral !==''" class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msGeneral}}" data-placement="right"></span>
                                    </td>
                                    <!--Ciudad Origen-->
                                    <td style="min-width:150px;{{item.stCiudadOrigen}}" ng-show="item.LineaNegocioTransportes.Codigo == 3">
                                        <div class="input-group">
                                            <input maxlength="60" type="text" class="form-control plcRed" placeholder="{{item.msCiudadOrigen}}" ng-model="item.CiudadOrigen" ng-required="false" uib-typeahead="Ciudad as Ciudad.Nombre for Ciudad in ListaCiudadOrigen| filter:$viewValue | limitTo: 5" ng-blur="item.CiudadOrigen=VerificarAutocomplete(item.CiudadOrigen)">
                                        </div>
                                    </td>
                                    <!--Ciudad Destino-->
                                    <td style="min-width:150px;{{item.stCiudadDestino}}" ng-show="item.LineaNegocioTransportes.Codigo == 3">
                                        <div class="input-group">
                                            <input maxlength="60" type="text" class="form-control plcRed" placeholder="{{item.msCiudadDestino}}" ng-model="item.CiudadDestino" ng-required="false" uib-typeahead="Ciudad as Ciudad.Nombre for Ciudad in ListaCiudadDestino| filter:$viewValue | limitTo: 5" ng-blur="item.CiudadDestino=VerificarAutocomplete(item.CiudadDestino)">
                                        </div>
                                    </td>
                                    <!--Ruta-->
                                    <td style="min-width:150px;{{item.stRuta}}" ng-show="item.LineaNegocioTransportes.Codigo != 3">
                                        <div class="input-group">
                                            <select class="form-control" ng-model="item.Ruta" ng-options="i.Nombre for i in ListadoRutas" ng-disabled="item.LineaNegocioTransportes.Codigo == 3"></select>
                                            <span ng-if="item.msRuta !== undefined && item.msRuta !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msRuta}}"></span>
                                        </div>
                                    </td>
                                    <!--Tarifa-->
                                    <td style="min-width:150px;{{item.stTarifaTransportes}}">
                                        <div class="input-group">
                                            <select class="form-control" ng-model="item.TarifaTransportes" ng-options="i.Nombre for i in  item.ListadoTarifaTransportes" ng-change="CargarTipoTarifa(item)"></select>
                                            <span ng-if="item.msTarifaTransportes !== undefined && item.msTarifaTransportes !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msTarifaTransportes}}"></span>
                                        </div>
                                    </td>
                                    <!--Tipo Tarifa-->
                                    <td style="min-width:150px;{{item.stTipoTarifaTransportes}}">
                                        <div class="input-group">
                                            <select class="form-control" ng-model="item.TipoTarifaTransportes" ng-options="i.Nombre for i in  item.ListadoTipoTarifaTransportes"></select>
                                            <span ng-if="item.msTipoTarifaTransportes !== undefined && item.msTipoTarifaTransportes !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msTipoTarifaTransportes}}"></span>
                                        </div>
                                    </td>
                                    <!--Forma Pago-->
                                    <td style="min-width:150px;{{item.stFormaPagoVentas}}" ng-show="item.LineaNegocioTransportes.Codigo == 3">
                                        <div class="input-group">
                                            <select class="form-control" ng-model="item.FormaPagoVentas" ng-options="i.Nombre for i in  ListaFormaPagoVentas" ng-disabled="item.LineaNegocioTransportes.Codigo != 3"></select>
                                            <span ng-if="item.msFormaPagoVentas !== undefined && item.msFormaPagoVentas !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msFormaPagoVentas}}"></span>
                                        </div>
                                    </td>
                                    <!-- Flete-->
                                    <td style="min-width:150px">
                                        <input style="text-align:right" type="text" class="form-control plcRed" ng-model="item.ValorFlete" maxlength="10" ng-change="item2.ValorEscolta = MaskValoresGrid(item2.ValorEscolta)">
                                    </td>
                                    <!-- Flete Trnasportador-->
                                    <td style="min-width:150px" ng-show="item.LineaNegocioTransportes.Codigo != 3">
                                        <input style="text-align:right" type="text" class="form-control plcRed" ng-model="item.ValorFleteTransportador" maxlength="10" ng-change="item2.ValorEscolta = MaskValoresGrid(item2.ValorEscolta)">
                                    </td>
                                    <!--Reexpedicion-->
                                    <td style="min-width:150px;{{item.stReexpedicion}}" ng-show="item.LineaNegocioTransportes.Codigo == 3">
                                        <div class="input-group">
                                            <select class="form-control" ng-model="item.Reexpedicion" ng-options="i.Nombre for i in  ListaReexpedicion" ng-disabled="item.LineaNegocioTransportes.Codigo != 3" ng-change="item.PorcentajeReexpedicion = '';item.AcarreoLocal = ''; item.AcarreoDestino = ''"></select>
                                            <span ng-if="item.msReexpedicion !== undefined && item.msReexpedicion !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msReexpedicion}}"></span>
                                        </div>
                                    </td>
                                    <!-- Porcentaje Reexpedicion-->
                                    <td style="min-width:150px" ng-show="item.LineaNegocioTransportes.Codigo == 3" ng-disabled="item.Reexpedicion.Codigo == 0">
                                        <input style="text-align:right" type="text" class="form-control plcRed" ng-model="item.PorcentajeReexpedicion" maxlength="10" ng-change="item.PorcentajeReexpedicion = MaskPorcentaje(item.PorcentajeReexpedicion,item.PorcentajeReexpedicion)">
                                    </td>
                                    <!-- Porcentaje Manejo-->
                                    <td style="min-width:150px" ng-show="item.LineaNegocioTransportes.Codigo == 3" >
                                        <input style="text-align:right" type="text" class="form-control plcRed" ng-model="item.PorcentajeManejo" maxlength="10" ng-change="item.PorcentajeManejo = MaskPorcentaje(item.PorcentajeManejo,item.PorcentajeManejo)">
                                    </td>
                                    <!-- Acarreo Local-->
                                    <!--<td style="min-width:150px" ng-show="item.LineaNegocioTransportes.Codigo == 3" ng-disabled="item.Reexpedicion.Codigo == 0">
        <input style="text-align:right" type="text" class="form-control plcRed" ng-model="item.AcarreoLocal" maxlength="10" ng-change="item.AcarreoLocal = MaskValoresGrid(item.AcarreoLocal)">
    </td>-->
                                    <!-- Acarreo Destino-->
                                    <!--<td style="min-width:150px" ng-show="item.LineaNegocioTransportes.Codigo == 3" ng-disabled="item.Reexpedicion.Codigo == 0">
        <input style="text-align:right" type="text" class="form-control plcRed" ng-model="item.AcarreoDestino" maxlength="10" ng-change="item.AcarreoDestino = MaskValoresGrid(item.AcarreoDestino)">
    </td>-->
                                    <!-- Escolta-->
                                    <!--<td style="min-width:150px" ng-show="item.LineaNegocioTransportes.Codigo != 3">
        <input style="text-align:right" type="text" class="form-control plcRed" ng-model="item.ValorEscolta" maxlength="10" ng-change="item2.ValorEscolta = MaskValoresGrid(item2.ValorEscolta)" ng-disabled="item.LineaNegocioTransportes.Codigo == 3">
    </td>-->
                                </tr>
                            </tbody>
                            <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                <tr>
                                    <td colspan="4">
                                        <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                        <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                            <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                <span class="item">&laquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                <span class="item">&lsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                <span class="item">&rsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                <span class="item">&raquo;</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                        <span style="color:red">
                            <small>{{ResultadoSinRegistros}}</small>
                        </span>
                    </div>
                </div>
                <div class="ResultadoConsulta" ng-show="VerErrores">
                    <br />
                    <label>Omitir Todos</label>
                    <input type="checkbox" ng-model="Marctodo" ng-change="MarcadDesmarcarTodo(Marctodo)" class="ng-valid ng-dirty ng-valid-parse ng-touched">
                    <div class="table-responsive" style="overflow-y:scroll;max-height:500px;max-width:100%">
                        <div class="table-responsive" style="overflow-y:scroll;max-height:500px;max-width:100%">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Omitir</th>
                                        <!--<th>Linea Negocio</th>-->
                                        <!--<th>Tipo Linea Negocio</th>-->
                                        <th ng-show="LineaNegocioTransportes.Codigo == 3">Ciudad Origen</th>
                                        <th ng-show="LineaNegocioTransportes.Codigo == 3">Ciudad Destino</th>
                                        <th ng-show="LineaNegocioTransportes.Codigo != 3">Ruta</th>
                                        <th>Tarifa</th>
                                        <th>Tipo Tarifa</th>
                                        <th ng-show="LineaNegocioTransportes.Codigo == 3">Forma Pago</th>
                                        <th>Valor Flete</th>
                                        <th ng-show="LineaNegocioTransportes.Codigo != 3">Valor Escolta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in DataErrorActual" style="{{item.stRow}}">
                                        <!-- Omitir-->
                                        <td style="{{item.stGeneral}}">
                                            <input type="checkbox" ng-model="item.Omitido" />
                                            <span ng-if="item.msGeneral !== undefined && item.msGeneral !==''" class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msGeneral}}" data-placement="right"></span>
                                        </td>

                                        <!-- Linea Negocio-->
                                        <!--<td style="min-width:150px;{{item.stLineaNegocioTransportes}}">
                                            <div class="input-group">
                                                <select class="form-control" ng-model="item.LineaNegocioTransportes" ng-options="i.Nombre for i in ListadoLineaNegocioTransportes" ng-change="CargarTipoLinea(item);CargarTarifa(item)"></select>
                                                <span ng-if="item.msLineaNegocioTransportes !== undefined && item.msLineaNegocioTransportes !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msLineaNegocioTransportes}}"></span>
                                            </div>
                                        </td>-->
                                        <!--Tipo Linea Negocio-->
                                        <!--<td style="min-width:150px;{{item.stTipoLineaNegocioTransportes}}">
                                            <div class="input-group">
                                                <select class="form-control" ng-model="item.TipoLineaNegocioTransportes" ng-options="i.Nombre for i in item.ListadoTipoLineaNegocioTransportes"></select>
                                                <span ng-if="item.msTipoLineaNegocioTransportes !== undefined && item.msTipoLineaNegocioTransportes !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msTipoLineaNegocioTransportes}}"></span>
                                            </div>
                                        </td>-->
                                        <!--Ciudad Origen-->
                                        <td style="min-width:150px;{{item.stCiudadOrigen}}" ng-show="item.LineaNegocioTransportes.Codigo == 3">
                                            <div class="input-group">
                                                
                                                <input maxlength="60" type="text" class="form-control plcRed" placeholder="{{item.msCiudadOrigen}}" ng-model="item.CiudadOrigen" ng-required="false" uib-typeahead="Ciudad as Ciudad.Nombre for Ciudad in ListaCiudadOrigen| filter:$viewValue | limitTo: 5" ng-blur="item.CiudadOrigen=VerificarAutocomplete(item.CiudadOrigen)">
                                            </div>
                                        </td>
                                        <!--Ciudad Destino-->
                                        <td style="min-width:150px;{{item.stCiudadDestino}}" ng-show="item.LineaNegocioTransportes.Codigo == 3">
                                            <div class="input-group">
                                                <input maxlength="60" type="text" class="form-control plcRed" placeholder="{{item.msCiudadDestino}}" ng-model="item.CiudadDestino" ng-required="false" uib-typeahead="Ciudad as Ciudad.Nombre for Ciudad in ListaCiudadDestino| filter:$viewValue | limitTo: 5" ng-blur="item.CiudadDestino=VerificarAutocomplete(item.CiudadDestino)">
                                            </div>
                                        </td>
                                        <!--Ruta-->
                                        <td style="min-width:150px;{{item.stRuta}}" ng-show="item.LineaNegocioTransportes.Codigo != 3">
                                            <div class="input-group">
                                                <select class="form-control" ng-model="item.Ruta" ng-options="i.Nombre for i in ListadoRutas" ng-disabled="item.LineaNegocioTransportes.Codigo == 3"></select>
                                                <span ng-if="item.msRuta !== undefined && item.msRuta !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msRuta}}"></span>
                                            </div>
                                        </td>
                                        <!--Tarifa-->
                                        <td style="min-width:150px;{{item.stTarifaTransportes}}">
                                            <div class="input-group">
                                                <select class="form-control" ng-model="item.TarifaTransportes" ng-options="i.Nombre for i in  item.ListadoTarifaTransportes" ng-change="CargarTipoTarifa(item)"></select>
                                                <span ng-if="item.msTarifaTransportes !== undefined && item.msTarifaTransportes !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msTarifaTransportes}}"></span>
                                            </div>
                                        </td>
                                        <!--Tipo Tarifa-->
                                        <td style="min-width:150px;{{item.stTipoTarifaTransportes}}">
                                            <div class="input-group">
                                                <select class="form-control" ng-model="item.TipoTarifaTransportes" ng-options="i.Nombre for i in  item.ListadoTipoTarifaTransportes"></select>
                                                <span ng-if="item.msTipoTarifaTransportes !== undefined && item.msTipoTarifaTransportes !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msTipoTarifaTransportes}}"></span>
                                            </div>
                                        </td>
                                        <!--Forma Pago-->
                                        <td style="min-width:150px;{{item.stFormaPagoVentas}}" ng-show="item.LineaNegocioTransportes.Codigo == 3">
                                            <div class="input-group">
                                                <select class="form-control" ng-model="item.FormaPagoVentas" ng-options="i.Nombre for i in  ListaFormaPagoVentas"></select>
                                                <span ng-if="item.msFormaPagoVentas !== undefined && item.msFormaPagoVentas !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msFormaPagoVentas}}"></span>
                                            </div>
                                        </td>
                                        <!-- Flete-->
                                        <td style="min-width:150px">
                                            <input style="text-align:right" type="text" class="form-control plcRed" ng-model="item.ValorFlete" maxlength="10" ng-change="item2.ValorEscolta = MaskValoresGrid(item2.ValorEscolta)">
                                        </td>
                                        <!-- Flete Transportador-->
                                        <td style="min-width:150px">
                                            <input style="text-align:right" type="text" class="form-control plcRed" ng-model="item.ValorFleteTransportador" maxlength="10" ng-change="item2.ValorEscolta = MaskValoresGrid(item2.ValorEscolta)">
                                        </td>
                                        <!-- Escolta-->
                                        <td style="min-width:150px" ng-show="item.LineaNegocioTransportes.Codigo != 3">
                                            <input style="text-align:right" type="text" class="form-control plcRed" ng-model="item.ValorEscolta" maxlength="10" ng-change="item2.ValorEscolta = MaskValoresGrid(item2.ValorEscolta)">
                                        </td>

                                    </tr>
                                </tbody>
                                <tfoot ng-if="totalRegistrosErrores > 0 || Buscando == true">
                                    <tr>
                                        <td colspan="4">
                                            <small ng-if="totalRegistrosErrores > 0">Página: {{paginaActualError}} de {{totalPaginasErrores}} ({{totalRegistrosErrores}} Registros)</small>
                                            <div class="pagination rightAling" ng-if="totalRegistrosErrores > 0">
                                                <button class="button primary" ng-click="PrimerPaginaModalError()" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="AnteriorModalError()" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="SiguienteModalError()" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPaginaModalError()" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div style="text-align:center" class="col-md-12" ng-if="totalRegistrosErrores == 0 && Buscando == false">
                            <span style="color:red">
                                <small>{{ResultadoSinRegistros}}</small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="modalConfirmacionGuardarPorgramacion" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" onclick="closeModal('modalConfirmacionGuardarPorgramacion')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p style="text-align:center">{{MSJ}}</p>

                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" onclick="closeModal('modalConfirmacionGuardarPorgramacion')">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="ModalErrores" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" onclick="closeModal('ModalErrores')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            {{TituloModal}}
                        </h4>
                    </div>

                    <div class="modal-body">
                        <h2 style="text-align:center">
                            ERRORES ENCONTRADOS
                        </h2>
                        <div ng-show="ProgramacionesNoGuardadasActual.length > 0">
                            <label>Omitir Todos</label>
                            <input type="checkbox" ng-model="Marctodo" ng-change="MarcadDesmarcarTodoNoGuardaras(Marctodo)" class="ng-valid ng-dirty ng-valid-parse ng-touched">
                            <div class="table-responsive" style="overflow-y:scroll;max-height:500px;max-width:100%">
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Omitir/Remplazar</th>
                                            <th ng-show="ListadoLineasNegocio.length > 0">Línea Negocio</th>
                                            <th>Cliente Transportadora</th>
                                            <th>Sitio Cargue</th>
                                            <th>Sitio Descargue</th>
                                            <th>Remitente.Nombre</th>
                                            <th ng-show="Modelo.TipoVehiculo.Codigo !== 2220">Remitente.Ciudad</th>
                                            <th>BarrioRemitente</th>
                                            <th>Identificación</th>
                                            <th>CodigoPostalRemitente</th>
                                            <th>Producto Transportado</th>
                                            <th>Destinatario.TipoIdentificacion</th>
                                            <th>Factura/Remisión</th>
                                            <th>No. Orden Cargue</th>
                                            <th>No. Guía</th>
                                            <th>Fecha Guía</th>
                                            <th>Vigencia Guía</th>
                                            <th>Url GPS</th>
                                            <th>Usuario GPS</th>
                                            <th>Clave GPS</th>
                                            <th>Vol. BSW</th>
                                            <th>Vol. GOV</th>
                                            <th>Vol. GSV</th>
                                            <th>Vol. NSV</th>
                                            <th>Vol. RVP</th>
                                            <!--<th>Estado</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ProgramacionesNoGuardadasActual" style="{{item.stRow}}">
                                            <td style="{{item.stGeneral}}">
                                                <input type="checkbox" ng-model="item.Omitido" />
                                                <span ng-if="item.msGeneral !== undefined && item.msGeneral !==''" class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msGeneral}}" data-placement="right"></span>
                                            </td>
                                            <td style="min-width:150px;{{item.stTipoEntregaRemesaPaqueteria}}" ng-show="ListadoLineasNegocio.length > 0">
                                                <div class="input-group">
                                                    <select class="form-control" ng-model="item.TipoEntregaRemesaPaqueteria" ng-options="i.Nombre for i in ListadoLineasNegocio"></select>
                                                    <span ng-if="item.msTipoEntregaRemesaPaqueteria !== undefined && item.msTipoEntregaRemesaPaqueteria !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msTipoEntregaRemesaPaqueteria}}"></span>
                                                </div>
                                            </td>
                                            <td style="min-width:150px;{{item.stCliente}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msCliente}}" ng-model="item.Cliente" maxlength="120" ng-blur="item.Cliente=VerificarAutocomplete(item.Cliente)"
                                                       uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in ListadoClientesTransportadoras | filter:$viewValue | limitTo: 5">
                                            </td>
                                            <td style="min-width:150px;{{item.stRemitente.TipoIdentificacion}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msRemitente.TipoIdentificacion}}" ng-model="item.Remitente.TipoIdentificacion" maxlength="120" ng-blur="item.Remitente.TipoIdentificacion=VerificarAutocomplete(item.Remitente.TipoIdentificacion)"
                                                       uib-typeahead="Sitio as Sitio.NombreCompleto for Sitio in ListadoSitiosCargueDescargue | filter:$viewValue | limitTo: 5">
                                            </td>
                                            <td style="min-width:150px;{{item.stRemitente.NumeroIdentificacion}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msRemitente.NumeroIdentificacion}}" ng-model="item.Remitente.NumeroIdentificacion" maxlength="120" ng-blur="item.Remitente.NumeroIdentificacion=VerificarAutocomplete(item.Remitente.NumeroIdentificacion)"
                                                       uib-typeahead="Sitio2 as Sitio2.NombreCompleto for Sitio2 in ListadoSitiosCargueDescargue | filter:$viewValue | limitTo: 5">
                                            </td>
                                            <td style="min-width:150px;{{item.stRemitente.Nombre}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msRemitente.Nombre}}" ng-model="item.Remitente.Nombre" maxlength="10" ng-change="item.Remitente.Nombre=MaskplacaGrid(item.Remitente.Nombre)">
                                            </td>
                                            <td style="min-width:150px;{{item.stRemitente.Ciudad}}" ng-show="Modelo.TipoVehiculo.Codigo !== 2220">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msRemitente.Ciudad}}" ng-model="item.Remitente.Ciudad" maxlength="10" ng-change="item.Remitente.Ciudad=MaskplacaSemiremolqueGrid(item.Remitente.Ciudad)">
                                            </td>
                                            <td style="min-width:150px;{{item.stBarrioRemitente}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msBarrioRemitente}}" ng-model="item.BarrioRemitente" maxlength="120" ng-change="item.BarrioRemitente=MaskMayusGrid(item.BarrioRemitente)">
                                            </td>
                                            <td style="min-width:150px;{{item.stIdentificacion}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msIdentificacion}}" ng-model="item.Identificacion" maxlength="20" ng-change="item.Identificacion=MaskNumeroGrid(item.Identificacion)">
                                            </td>
                                            <td style="min-width:150px;{{item.stCodigoPostalRemitente}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msCodigoPostalRemitente}}" ng-model="item.CodigoPostalRemitente" maxlength="100" ng-change="item.CodigoPostalRemitente=MaskNumeroGrid(item.CodigoPostalRemitente)">
                                            </td>
                                            <td style="min-width:150px;{{item.stProducto}}">
                                                <div class="input-group">
                                                    <select class="form-control" ng-model="item.Producto" ng-options="i.Nombre for i in ListadoProductosTransportados"></select>
                                                    <span ng-if="item.msProducto !== undefined && item.msProducto !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msProducto}}"></span>
                                                </div>
                                            </td>

                                            <td style="min-width:150px;{{item.stObservacionesRemitente}}">
                                                <div class="input-group">
                                                    <input type="text" class="form-control plcRed" placeholder="{{item.msObservacionesRemitente}}" ng-model="item.ObservacionesRemitente" maxlength="120" ng-blur="item.ObservacionesRemitente=VerificarAutocomplete(item.ObservacionesRemitente);ObtenerPuntos(item.ObservacionesRemitente)"
                                                           uib-typeahead="ObservacionesRemitente as ObservacionesRemitente.Nombre for ObservacionesRemitente in ListadoObservacionesRemitentes | filter:$viewValue | limitTo: 5">
                                                    <span ng-if="item.msObservacionesRemitente !== undefined && item.msObservacionesRemitente !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" data-placement="right" title="{{item.msObservacionesRemitente}}"></span>
                                                </div>
                                            </td>
                                            <td style="min-width:150px;{{item.stDestinatario.TipoIdentificacion}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msDestinatario.TipoIdentificacion}}" ng-model="item.Destinatario.TipoIdentificacion" maxlength="250" ng-change="item.Destinatario.TipoIdentificacion=MaskMayusGrid(item.Destinatario.TipoIdentificacion)">
                                            </td>
                                            <td style="min-width:150px;{{item.stDestinatario.NumeroIdentificacion}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msDestinatario.NumeroIdentificacion}}" ng-model="item.Destinatario.NumeroIdentificacion" maxlength="20" ng-change="item.Destinatario.NumeroIdentificacion=MaskNumeroGrid(item.Destinatario.NumeroIdentificacion)">
                                            </td>

                                            <td style="min-width:150px;{{item.stDestinatario.Nombre}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msDestinatario.Nombre}}" ng-model="item.Destinatario.Nombre" maxlength="20" ng-change="item.Destinatario.Nombre=MaskNumeroGrid(item.Destinatario.Nombre)">
                                            </td>
                                            <td style="min-width:150px;{{item.stDestinatario.Ciudad}}">

                                                <input type="text" class="form-control plcRed" placeholder="{{item.msDestinatario.Ciudad}}" ng-model="item.Destinatario.Ciudad" maxlength="20" ng-change="item.Destinatario.Ciudad=MaskNumeroGrid(item.Destinatario.Ciudad)">
                                            </td>
                                            <td style="min-width:150px;{{item.stBarrioDestinatario}}">

                                                <input type="date" class="form-control plcRed" placeholder="{{item.msBarrioDestinatario}}" ng-model="item.BarrioDestinatario" maxlength="20">
                                            </td>
                                            <td style="min-width:150px;{{item.stDestinatario.Direccion}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msDestinatario.Direccion}}" ng-model="item.Destinatario.Direccion" maxlength="20" ng-change="item.Destinatario.Direccion=MaskNumeroGrid(item.Destinatario.Direccion)">
                                            </td>
                                            <td style="min-width:150px;{{item.stCodigoPostalDestinatario}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msCodigoPostalDestinatario}}" ng-model="item.CodigoPostalDestinatario" maxlength="150">
                                            </td>
                                            <td style="min-width:150px;{{item.stDestinatario.Telefonos}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msDestinatario.Telefonos}}" ng-model="item.Destinatario.Telefonos" maxlength="50">
                                            </td>
                                            <td style="min-width:150px;{{item.stObservacionesDestinatario}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msObservacionesDestinatario}}" ng-model="item.ObservacionesDestinatario" maxlength="50">
                                            </td>
                                            <td style="min-width:150px;{{item.stFormaPago}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msFormaPago}}" ng-model="item.FormaPago" maxlength="20" ng-change="item.FormaPago=MaskNumeroGrid(item.FormaPago)">
                                            </td>
                                            <td style="min-width:150px;{{item.stPesoCliente}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msPesoCliente}}" ng-model="item.PesoCliente" maxlength="20" ng-change="item.PesoCliente=MaskNumeroGrid(item.PesoCliente)">
                                            </td>
                                            <td style="min-width:150px;{{item.stCantidadCliente}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msCantidadCliente}}" ng-model="item.CantidadCliente" maxlength="20" ng-change="item.CantidadCliente=MaskNumeroGrid(item.CantidadCliente)">
                                            </td>
                                            <td style="min-width:150px;{{item.stValorComercialCliente}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msValorComercialCliente}}" ng-model="item.ValorComercialCliente" maxlength="20" ng-change="item.ValorComercialCliente=MaskNumeroGrid(item.ValorComercialCliente)">
                                            </td>
                                            <td style="min-width:150px;{{item.stVOLRVP}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msVOLRVP}}" ng-model="item.VOLRVP" maxlength="20" ng-change="item.VOLRVP=MaskNumeroGrid(item.VOLRVP)">
                                            </td>

                                        </tr>
                                    </tbody>
                                    <tfoot ng-if="totalRegistrosNoGuardadas > 0 || Buscando == true">
                                        <tr>
                                            <td colspan="4">
                                                <small ng-if="totalRegistrosNoGuardadas > 0">Página: {{paginaActualNoGuardadas}} de {{totalPaginasNoGuardadas}} ({{totalRegistrosNoGuardadas}} Registros)</small>
                                                <div class="pagination rightAling" ng-if="totalRegistrosNoGuardadas > 0">
                                                    <button class="button primary" ng-click="PrimerPaginaNoGuardados()" title="Primera">
                                                        <span class="item">&laquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="AnteriorNoGuardados()" title="Anterior">
                                                        <span class="item">&lsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="SiguienteNoGuardados()" title="Siguiente">
                                                        <span class="item">&rsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="UltimaPaginaNoGuardados()" title="Última">
                                                        <span class="item">&raquo;</span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div ng-show="ProgramacionesNoGuardadasActualRemplazo.length > 0">
                            <h4 style="text-align:center">
                                Programaciones Duplicadas
                            </h4>
                            <div style="display:flex">
                                <div>
                                    <label>Omitir Todos</label>
                                    <input type="radio" ng-model="Option.name" value="Omitido" ng-change="MarcadDesmarcarTodoNoGuardadasRemplazo()" />
                                </div>
                                <span> / </span>
                                <div>
                                    <label>Remplazar Todos</label>
                                    <input type="radio" ng-model="Option.name" value="Remplazado" ng-change="MarcadDesmarcarTodoNoGuardadasRemplazo()" />
                                </div>
                            </div>
                            <div class="table-responsive" style="overflow-y:scroll;max-height:500px;max-width:100%">
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Omitir / Remplazar</th>
                                            <th ng-show="ListadoLineasNegocio.length > 0">Línea Negocio</th>
                                            <th>Cliente Transportadora</th>
                                            <th>Sitio Cargue</th>
                                            <th>Sitio Descargue</th>
                                            <th>Remitente.Nombre</th>
                                            <th ng-show="Modelo.TipoVehiculo.Codigo !== 2220">Remitente.Ciudad</th>
                                            <th>BarrioRemitente</th>
                                            <th>Identificación</th>
                                            <th>CodigoPostalRemitente</th>
                                            <th>Producto Transportado</th>
                                            <th>Destinatario.TipoIdentificacion</th>
                                            <th>Factura/Remisión</th>
                                            <th>No. Orden Cargue</th>
                                            <th>No. Guía</th>
                                            <th>Fecha Guía</th>
                                            <th>Vigencia Guía</th>
                                            <th>Url GPS</th>
                                            <th>Usuario GPS</th>
                                            <th>Clave GPS</th>
                                            <th>Vol. BSW</th>
                                            <th>Vol. GOV</th>
                                            <th>Vol. GSV</th>
                                            <th>Vol. NSV</th>
                                            <th>Vol. RVP</th>
                                            <!--<th>Estado</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ProgramacionesNoGuardadasActualRemplazo" style="{{item.stRow}}">
                                            <td style="{{item.stGeneral}}">
                                                <input type="radio" ng-model="item.Option" value="Omitido" /> <span>/</span>
                                                <input type="radio" ng-model="item.Option" value="Remplazado" />
                                                <span ng-if="item.msGeneral !== undefined && item.msGeneral !==''" class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msGeneral}}" data-placement="right"></span>
                                            </td>
                                            <td style="min-width:150px;{{item.stTipoEntregaRemesaPaqueteria}}" ng-show="ListadoLineasNegocio.length > 0">
                                                <div class="input-group">
                                                    <select class="form-control" ng-model="item.TipoEntregaRemesaPaqueteria" ng-options="i.Nombre for i in ListadoLineasNegocio"></select>
                                                    <span ng-if="item.msTipoEntregaRemesaPaqueteria !== undefined && item.msTipoEntregaRemesaPaqueteria !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msTipoEntregaRemesaPaqueteria}}"></span>
                                                </div>
                                            </td>
                                            <td style="min-width:150px;{{item.stCliente}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msCliente}}" ng-model="item.Cliente" maxlength="120" ng-blur="item.Cliente=VerificarAutocomplete(item.Cliente)"
                                                       uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in ListadoClientesTransportadoras | filter:$viewValue | limitTo: 5">
                                            </td>
                                            <td style="min-width:150px;{{item.stRemitente.TipoIdentificacion}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msRemitente.TipoIdentificacion}}" ng-model="item.Remitente.TipoIdentificacion" maxlength="120" ng-blur="item.Remitente.TipoIdentificacion=VerificarAutocomplete(item.Remitente.TipoIdentificacion)"
                                                       uib-typeahead="Sitio as Sitio.NombreCompleto for Sitio in ListadoSitiosCargueDescargue | filter:$viewValue | limitTo: 5">
                                            </td>
                                            <td style="min-width:150px;{{item.stRemitente.NumeroIdentificacion}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msRemitente.NumeroIdentificacion}}" ng-model="item.Remitente.NumeroIdentificacion" maxlength="120" ng-blur="item.Remitente.NumeroIdentificacion=VerificarAutocomplete(item.Remitente.NumeroIdentificacion)"
                                                       uib-typeahead="Sitio2 as Sitio2.NombreCompleto for Sitio2 in ListadoSitiosCargueDescargue | filter:$viewValue | limitTo: 5">
                                            </td>
                                            <td style="min-width:150px;{{item.stRemitente.Nombre}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msRemitente.Nombre}}" ng-model="item.Remitente.Nombre" maxlength="10" ng-change="item.Remitente.Nombre=MaskplacaGrid(item.Remitente.Nombre)">
                                            </td>
                                            <td style="min-width:150px;{{item.stRemitente.Ciudad}}" ng-show="Modelo.TipoVehiculo.Codigo !== 2220">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msRemitente.Ciudad}}" ng-model="item.Remitente.Ciudad" maxlength="10" ng-change="item.Remitente.Ciudad=MaskplacaSemiremolqueGrid(item.Remitente.Ciudad)">
                                            </td>
                                            <td style="min-width:150px;{{item.stBarrioRemitente}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msBarrioRemitente}}" ng-model="item.BarrioRemitente" maxlength="120" ng-change="item.BarrioRemitente=MaskMayusGrid(item.BarrioRemitente)">
                                            </td>
                                            <td style="min-width:150px;{{item.stIdentificacion}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msIdentificacion}}" ng-model="item.Identificacion" maxlength="20" ng-change="item.Identificacion=MaskNumeroGrid(item.Identificacion)">
                                            </td>
                                            <td style="min-width:150px;{{item.stCodigoPostalRemitente}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msCodigoPostalRemitente}}" ng-model="item.CodigoPostalRemitente" maxlength="100" ng-change="item.CodigoPostalRemitente=MaskNumeroGrid(item.CodigoPostalRemitente)">
                                            </td>
                                            <td style="min-width:150px;{{item.stProducto}}">
                                                <div class="input-group">
                                                    <select class="form-control" ng-model="item.Producto" ng-options="i.Nombre for i in ListadoProductosTransportados"></select>
                                                    <span ng-if="item.msProducto !== undefined && item.msProducto !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msProducto}}"></span>
                                                </div>
                                            </td>

                                            <td style="min-width:150px;{{item.stObservacionesRemitente}}">
                                                <div class="input-group">
                                                    <input type="text" class="form-control plcRed" placeholder="{{item.msObservacionesRemitente}}" ng-model="item.ObservacionesRemitente" maxlength="120" ng-blur="item.ObservacionesRemitente=VerificarAutocomplete(item.ObservacionesRemitente);ObtenerPuntos(item.ObservacionesRemitente)"
                                                           uib-typeahead="ObservacionesRemitente as ObservacionesRemitente.Nombre for ObservacionesRemitente in ListadoObservacionesRemitentes | filter:$viewValue | limitTo: 5">
                                                    <span ng-if="item.msObservacionesRemitente !== undefined && item.msObservacionesRemitente !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" data-placement="right" title="{{item.msObservacionesRemitente}}"></span>
                                                </div>
                                            </td>
                                            <td style="min-width:150px;{{item.stDestinatario.TipoIdentificacion}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msDestinatario.TipoIdentificacion}}" ng-model="item.Destinatario.TipoIdentificacion" maxlength="250" ng-change="item.Destinatario.TipoIdentificacion=MaskMayusGrid(item.Destinatario.TipoIdentificacion)">
                                            </td>
                                            <td style="min-width:150px;{{item.stDestinatario.NumeroIdentificacion}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msDestinatario.NumeroIdentificacion}}" ng-model="item.Destinatario.NumeroIdentificacion" maxlength="20" ng-change="item.Destinatario.NumeroIdentificacion=MaskNumeroGrid(item.Destinatario.NumeroIdentificacion)">
                                            </td>

                                            <td style="min-width:150px;{{item.stDestinatario.Nombre}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msDestinatario.Nombre}}" ng-model="item.Destinatario.Nombre" maxlength="20" ng-change="item.Destinatario.Nombre=MaskNumeroGrid(item.Destinatario.Nombre)">
                                            </td>
                                            <td style="min-width:150px;{{item.stDestinatario.Ciudad}}">

                                                <input type="text" class="form-control plcRed" placeholder="{{item.msDestinatario.Ciudad}}" ng-model="item.Destinatario.Ciudad" maxlength="20" ng-change="item.Destinatario.Ciudad=MaskNumeroGrid(item.Destinatario.Ciudad)">
                                            </td>
                                            <td style="min-width:150px;{{item.stBarrioDestinatario}}">

                                                <input type="date" class="form-control plcRed" placeholder="{{item.msBarrioDestinatario}}" ng-model="item.BarrioDestinatario" maxlength="20">
                                            </td>
                                            <td style="min-width:150px;{{item.stDestinatario.Direccion}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msDestinatario.Direccion}}" ng-model="item.Destinatario.Direccion" maxlength="20" ng-change="item.Destinatario.Direccion=MaskNumeroGrid(item.Destinatario.Direccion)">
                                            </td>
                                            <td style="min-width:150px;{{item.stCodigoPostalDestinatario}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msCodigoPostalDestinatario}}" ng-model="item.CodigoPostalDestinatario" maxlength="150">
                                            </td>
                                            <td style="min-width:150px;{{item.stDestinatario.Telefonos}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msDestinatario.Telefonos}}" ng-model="item.Destinatario.Telefonos" maxlength="50">
                                            </td>
                                            <td style="min-width:150px;{{item.stObservacionesDestinatario}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msObservacionesDestinatario}}" ng-model="item.ObservacionesDestinatario" maxlength="50">
                                            </td>
                                            <td style="min-width:150px;{{item.stFormaPago}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msFormaPago}}" ng-model="item.FormaPago" maxlength="20" ng-change="item.FormaPago=MaskNumeroGrid(item.FormaPago)">
                                            </td>
                                            <td style="min-width:150px;{{item.stPesoCliente}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msPesoCliente}}" ng-model="item.PesoCliente" maxlength="20" ng-change="item.PesoCliente=MaskNumeroGrid(item.PesoCliente)">
                                            </td>
                                            <td style="min-width:150px;{{item.stCantidadCliente}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msCantidadCliente}}" ng-model="item.CantidadCliente" maxlength="20" ng-change="item.CantidadCliente=MaskNumeroGrid(item.CantidadCliente)">
                                            </td>
                                            <td style="min-width:150px;{{item.stValorComercialCliente}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msValorComercialCliente}}" ng-model="item.ValorComercialCliente" maxlength="20" ng-change="item.ValorComercialCliente=MaskNumeroGrid(item.ValorComercialCliente)">
                                            </td>
                                            <td style="min-width:150px;{{item.stVOLRVP}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.msVOLRVP}}" ng-model="item.VOLRVP" maxlength="20" ng-change="item.VOLRVP=MaskNumeroGrid(item.VOLRVP)">
                                            </td>

                                        </tr>
                                    </tbody>
                                    <tfoot ng-if="totalRegistrosNoGuardadasRemplazo > 0 || Buscando == true">
                                        <tr>
                                            <td colspan="4">
                                                <small ng-if="totalRegistrosNoGuardadasRemplazo > 0">Página: {{paginaActualNoGuardadasRemplazo}} de {{totalPaginasNoGuardadasRemplazo}} ({{totalRegistrosNoGuardadasRemplazo}} Registros)</small>
                                                <div class="pagination rightAling" ng-if="totalRegistrosNoGuardadasRemplazo > 0">
                                                    <button class="button primary" ng-click="PrimerPaginaNoGuardadosRemplazo()" title="Primera">
                                                        <span class="item">&laquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="AnteriorNoGuardadosRemplazo()" title="Anterior">
                                                        <span class="item">&lsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="SiguienteNoGuardadosRemplazo()" title="Siguiente">
                                                        <span class="item">&rsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="UltimaPaginaNoGuardadosRemplazo()" title="Última">
                                                        <span class="item">&raquo;</span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" onclick="closeModal('ModalErrores')" ng-click="LimpiarData()">
                                Cerrar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarErrados()">
                                Guardar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


    <div class="modal fade" id="modalConfirmacionCancelarProceso" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Desea cancelar el proceso actual?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>

                        </div>
                        <div class="pull-left">
                            <div class="btn btn-block btn-primary btn-file" style="min-width : 100px;" data-toggle="tooltip" title="Abrir Archivo" ng-click="LimpiarData();CerrarModalNuevoProceso(this);ListaErrores = ''; VerErrores = false;angular.element(document.querySelector('#fileModal')).scope().$destroy();">
                                Aceptar
                                <input id="fileModal" type="file" name="xlfile" ng-model-instant onchange="angular.element(this).scope().handleFile(this)" class="">
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>