﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR REMESAS</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechIni">Fecha Inicial</label>
                            <input name="txtFechIni" type="date" class="form-control" ng-model="Modelo.FechaInicial">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechFina">Fecha Final</label>
                            <input name="txtFechFina" type="date" class="form-control" ng-model="Modelo.FechaFinal">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroInicial">Número</label>
                            <input name="NumeroInicial" class="form-control" ng-model="Modelo.NumeroInicial" placeholder="Ingrese número inicial" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroInicial">No. Preimpreso</label>
                            <input name="NumeroInicial" class="form-control" ng-model="Modelo.Numeracion" placeholder="Ingrese numeración" maxlength="20">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Cliente</label>
                            <input class="form-control" ng-model="Modelo.Remesa.Cliente.NombreCompleto" placeholder="Ingrese un Cliente" maxlength="150">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="CodigoAlterno">Documento Cliente</label>
                            <input name="CodigoAlterno" class="form-control" ng-model="Modelo.Remesa.NumeroDocumentoCliente" placeholder="Ingrese un Documento Cliente" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Remitente</label>
                            <input class="form-control" ng-model="Modelo.Remesa.Remitente.Nombre" placeholder="Ingrese un Remitente" maxlength="150">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Destinatario</label>
                            <input class="form-control" ng-model="Modelo.Remesa.Destinatario.Nombre" placeholder="Ingrese un Destinatario" maxlength="150">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Origen</label>
                            <input class="form-control" ng-model="Modelo.Remesa.CiudadRemitente.Nombre" placeholder="Ingrese un Origen" maxlength="150">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Destino</label>
                            <input class="form-control" ng-model="Modelo.Remesa.CiudadDestinatario.Nombre" placeholder="Ingrese un Destino" maxlength="150">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina Actual</label>
                            <select name="cmbOficina" class="form-control" ng-model="Modelo.OficinaActual" ng-options="i.Nombre for i in ListadoOficinasActual"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina Crea</label>
                            <select name="cmbOficina" class="form-control" ng-model="Modelo.Oficina" ng-options="i.Nombre for i in ListadoOficinasActual"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado Remesa</label>
                            <select name="cmbEstado" class="form-control" ng-model="Modelo.EstadoRemesaPaqueteria" ng-options="i.Nombre for i in ListadoEstadoGuia"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado Documento</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModeloEstado" ng-options="i.Nombre for i in ListadoEstadoRemesaPaqueteria"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" title="Buscar ciudad" ng-click="paginaActual=1;Buscar();Modelo.NumeroFinal = 0">
                        Buscar
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-block btn-primary" title="Nueva ciudad" ng-click="NuevoDocumento()">
                        Nuevo
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoGuias.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Número</th>
                                <th>No. Preimpreso</th>
                                <th>Fecha</th>
                                <th>Cliente</th>
                                <th>Documento Cliente</th>
                                <th>Ruta</th>
                                <th>Remitente</th>
                                <th>Destinatario</th>
                                <th>Sitio Descargue</th>
                                <th>No. Factura</th>
                                <th>Oficina Actual</th>
                                <th>Oficina Crea</th>
                                <th>Estado Remesa</th>
                                <th>Estado Documento</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoGuias | orderBy:'Codigo'">
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                            <span class="fa fa-list"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-left" style="overflow-y:scroll; max-height:100px">
                                            <li>
                                                <a ng-click="DesplegarInforme(item.Remesa.Numero,1, 0)" ng-disabled="DeshabilitarImprimir">
                                                    <span class="glyphicon glyphicon-print"></span>Imprimir Reporte
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="ConsultarEstadosRemesas(item)">
                                                    <span class="fas fa-list-ol"></span>Consultar Estados
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="ConsultarControlEntregas(item)">
                                                    <span class="fas fa-calendar-check-o"></span>Control Entregas
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="AnularDocumento(item.Remesa.Numero,item.Remesa.NumeroDocumento)" disabled="DeshabilitarEliminarAnular" ng-show="item.Anulado == 0">
                                                    <span class="fas fa-trash-alt"></span> Anular
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td><a href="#!GestionarGuiaPaqueterias/{{item.Remesa.Numero}}">{{item.Remesa.NumeroDocumento}}</a></td>
                                <td>{{item.Numeracion}}</td>
                                <td>{{item.Remesa.Fecha | date:'dd/MM/yyyy' }}</td>
                                <td>{{item.Remesa.Cliente.NombreCompleto}}</td>
                                <td>{{item.Remesa.NumeroDocumentoCliente}}</td>
                                <td>{{item.Remesa.CiudadRemitente.Nombre}} - {{item.Remesa.CiudadDestinatario.Nombre}}</td>
                                <td>{{item.Remesa.Remitente.Nombre}}</td>
                                <td>{{item.Remesa.Destinatario.Nombre}}</td>
                                <td>{{item.SitioDescargue.Nombre}}</td>
                                <td ng-show="item.Factura.Numero > 0"><a href="#!GestionarFacturaVentas/{{item.Factura.Numero}}" target="_blank">{{item.Factura.NumeroDocumento}}</a></td>
                                <td ng-show="item.Factura.Numero <= 0">{{item.Factura.NumeroDocumento}}</td>
                                <td>{{item.OficinaActual.Nombre}}</td>
                                <td>{{item.Oficina.Nombre}}</td>
                                <!--<td>{{item.Remesa.Observaciones}}</td>-->
                                <td>
                                    <span ng-if="item.EstadoGuia.Codigo == 6001 && item.Anulado == 0" class="label label-warning">RECOGIDA</span>
                                    <span ng-if="item.EstadoGuia.Codigo == 6005 && item.Anulado == 0" class="label label-info">OFICINA ORIGEN</span>
                                    <span ng-if="item.EstadoGuia.Codigo == 6010 && item.Anulado == 0" class="label label-info">DESPACHADA</span>
                                    <span ng-if="item.EstadoGuia.Codigo == 6015 && item.Anulado == 0" class="label label-info">TRANSITO</span>
                                    <span ng-if="item.EstadoGuia.Codigo == 6017 && item.Anulado == 0" class="label label-info">RECIBIDA OFICINA INTERMEDIA</span>
                                    <span ng-if="item.EstadoGuia.Codigo == 6020 && item.Anulado == 0" class="label label-info">RECIBIDA OFICINA DESTINO</span>
                                    <span ng-if="item.EstadoGuia.Codigo == 6025 && item.Anulado == 0" class="label label-info">REPARTO OFICINA DESTINO</span>
                                    <span ng-if="item.EstadoGuia.Codigo == 6030 && item.Anulado == 0" class="label label-success">ENTREGADA (CUMPLIDA)</span>
                                    <span ng-if="item.EstadoGuia.Codigo == 6035 && item.Anulado == 0" class="label label-warning">DEVUELTA OFICINA DESTINO</span>
                                    <span ng-if="item.EstadoGuia.Codigo == 6040 && item.Anulado == 0" class="label label-warning">DEVUELTA OFICINA ORIGEN</span>
                                    <span ng-if="item.Anulado == 1" class="label label-danger">ANULADO</span>
                                </td>
                                <td>
                                    <span ng-if="item.Estado == 0 && item.Anulado == 0" class="label label-warning">BORRADOR</span>
                                    <span ng-if="item.Estado == 1 && item.Anulado == 0" class="label label-success">DEFINITIVO</span>
                                    <span ng-if="item.Anulado == 1" class="label label-danger">ANULADO</span>
                                </td>


                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="15">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>


    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalEliminarTarifarioVentas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar la linea vehículo {{Nombre}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="ModalEstadosRemesas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">

                        <div class="ResultadoConsulta">
                            <div class="table-responsive" ng-if="ListadoEstadoGuias.length > 0">
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Estado</th>
                                            <th>Fecha Registro</th>
                                            <th>Oficina</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ListadoEstadoGuias | orderBy:'FechaEstado'">
                                            <td>
                                                <span ng-if="item.EstadoRemesa.Codigo == 6001" class="label label-warning">RECOGIDA</span>
                                                <span ng-if="item.EstadoRemesa.Codigo == 6005" class="label label-info">OFICINA ORIGEN</span>
                                                <span ng-if="item.EstadoRemesa.Codigo == 6010" class="label label-info">DESPACHADA</span>
                                                <span ng-if="item.EstadoRemesa.Codigo == 6015" class="label label-info">TRANSITO</span>
                                                <span ng-if="item.EstadoRemesa.Codigo == 6017" class="label label-info">RECIBIDA OFICINA INTERMEDIA</span>
                                                <span ng-if="item.EstadoRemesa.Codigo == 6020" class="label label-info">RECIBIDA OFICINA DESTINO</span>
                                                <span ng-if="item.EstadoRemesa.Codigo == 6025" class="label label-info">REPARTO OFICINA DESTINO</span>
                                                <span ng-if="item.EstadoRemesa.Codigo == 6030" class="label label-success">ENTREGADA (CUMPLIDA)</span>
                                                <span ng-if="item.EstadoRemesa.Codigo == 6035" class="label label-warning">DEVUELTA OFICINA DESTINO</span>
                                                <span ng-if="item.EstadoRemesa.Codigo == 6040" class="label label-warning">DEVUELTA OFICINA ORIGEN</span>
                                            </td>
                                            <td>{{item.FechaEstado | date:'dd/MM/yyyy HH:mm' }}</td>
                                            <td>{{item.Oficina.Nombre}}</td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cerrar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeEliminarTarifarioVentas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click="MostrarMensajeErrorModal()"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="MostrarMensajeErrorModal()">
                                Mensaje Completo
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Asignar datos anulación-->
    <div class="modal fade" id="modalAnular" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <ul>
                        <li ng-repeat="error in MensajesErrorAnular">
                            <span class="errorField">{{error}}</span>
                        </li>
                    </ul>
                    <div class="modal-body">
                        <p>¿Está seguro de Anular la remesa {{NumeroDocumento}}?</p>

                        <label>Causa Anulacion</label>
                        <input name="nombre" class="form-control" ng-model="ModeloCausaAnula" placeholder="Ingrese una Causa" maxlength="40">

                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Anular()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Control Entregas-->
    <div class="modal fade" id="modalControlEntregas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            CONTROL ENTREGAS
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Número</label>
                                    <span class="form-control">{{ControlEntregaRemesa.NumeroDocumento}}</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha Recibe</label>
                                    <span class="form-control">{{ControlEntregaRemesa.FechaRecibe  | date: 'dd/MM/yyyy HH:mm'}}</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Identificación Recibe</label>
                                    <span class="form-control">{{ControlEntregaRemesa.NumeroIdentificacionRecibe}}</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Nombre Recibe</label>
                                    <span class="form-control">{{ControlEntregaRemesa.NombreRecibe}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Teléfono Recibe</label>
                                    <span class="form-control">{{ControlEntregaRemesa.TelefonoRecibe}}</span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Cantidad Recibida</label>
                                    <span class="form-control text-right">{{ControlEntregaRemesa.CantidadRecibe | number}}</span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Peso Recibido</label>
                                    <span class="form-control text-right">{{ControlEntregaRemesa.PesoRecibe | number}}</span>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Observaciones</label>
                                    <span class="form-control">{{ControlEntregaRemesa.ObservacionesRecibe}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Novedad Entrega</label>
                                    <span class="form-control">{{ControlEntregaRemesa.NovedadEntrega.Nombre}}</span>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Latitud</label>
                                    <span class="form-control text-right">{{ControlEntregaRemesa.Latitud | number}}</span>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Longitud</label>
                                    <span class="form-control text-right">{{ControlEntregaRemesa.Longitud | number}}</span>
                                </div>
                            </div>

                            <!--Boton Mapa-->
                            <div class="col-md-1 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label> </label>
                                    <div class="SeccionBotones">
                                        <button type="button" class="btn btn-primary" title="Abrir Mapa" tabindex="1" ng-click="AbrirMapa(ControlEntregaRemesa.Latitud, ControlEntregaRemesa.Longitud)">
                                            Mapa
                                            <span class="fas fa-map-marked-alt"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div ng-show="FotosEntrega.length == 1">
                                <div ng-repeat="FotoControlEntrega in FotosEntrega">

                                    <div class="col-sm-6 col-xs-12">
                                        <label class="text-center">Foto</label>
                                        <div class="logo">
                                            <img style="width:100%;border:1px solid #000" ng-src="{{FotoControlEntrega.FotoCargada}}" />
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div ng-show="FotosEntrega.length > 1">
                                <div>
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <button class="btn btn-block btn-primary" title="Buscar ciudad" ng-click="VerFotosEntrega()">
                                            Fotos Entrega
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="FotosDevolucion.length == 1">
                                <div ng-repeat="FotoControlDevolucion in FotosDevolucion">

                                    <div class="col-sm-6 col-xs-12">
                                        <label class="text-center">Foto Devolución</label>
                                        <div class="logo">
                                            <img style="width:100%;border:1px solid #000" ng-src="{{FotoControlDevolucion.FotoCargada}}" />
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div ng-show="FotosDevolucion.length > 1">
                                <div class="pull-left">
                                    <button class="btn btn-block btn-primary" title="Buscar ciudad" ng-click="VerFotosDevolucion()">
                                        Fotos Devolución
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <label class="text-center">Firma</label>
                                <img style="width:100%;border:1px solid #000" ng-src="{{ControlEntregaRemesa.FirmaImg}}" />
                            </div>
                        </div>

                        <hr />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Documento Cumplido Remesa</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <span class="form-control text-right">{{DocumentoCumplido.Nombre}}</span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <div class="btn btn-primary btn-file" title="Seleccionar Archivo">
                                    <i class="glyphicon glyphicon-folder-open"></i>
                                    <input type="file" ng-model-instant onchange="angular.element(this).scope().CargarArchivo(this)" accept="{{CadenaFormatos}}" class="">
                                </div>
                                <button type="button" class="btn btn-info" title="Descargar Archivo" ng-click="DesplegarArchivo(DocumentoCumplido)">
                                    <i class="glyphicon glyphicon-download-alt"></i>
                                </button>
                                <button type="button" class="btn btn-success" title="Guardar Archivo" ng-show="ModificaArchivo" ng-click="GuardarArchivoCumplido(DocumentoCumplido)">
                                    Guardar
                                    <i class="glyphicon glyphicon-floppy-disk"></i>
                                </button>

                                <button type="button" class="btn btn-danger" title="Eliminar Archivo" ng-show="HabilitarEliminarDocumento"  ng-click="EliminarArchivo(DocumentoCumplido)">
                                    <i class="fa fa-trash-alt"></i>
                                </button>
                                

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cerrar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Control Entregas-->
    <!-- Modal Confirmacion Modificar Documento-->
    <div class="modal fade" id="modalConfirmacionRemplazarDocumentoCumplido" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>Ya hay un documento asignado ¿Desea remplazarlo?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="RemplazarDocumentoCumplido()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmacion Modificar Documento-->
    <!-- Modal Fotos Entregas-->
    <div class="modal fade" id="modalFotosEntregas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            FOTOS ENTREGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div ng-repeat="FotoControlEntrega in FotosEntrega">

                                <div class="col-sm-6 col-xs-12">
                                    <label class="text-center">Foto</label>
                                    <div class="logo">
                                        <img style="width:100%;border:1px solid #000" ng-src="{{FotoControlEntrega.FotoCargada}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cerrar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!-- Modal Fotos Devolucion-->
    <div class="modal fade" id="modalFotosDevolucion" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            FOTOS DEVOLUCIÓN
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div ng-repeat="FotoDevolucion in FotosDevolucion">

                                <div class="col-sm-6 col-xs-12">
                                    <label class="text-center">Foto</label>
                                    <div class="logo">
                                        <img style="width:100%;border:1px solid #000" ng-src="{{FotoDevolucion.FotoCargada}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cerrar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


    <!--Modal Mapa Google-->
    <div class="modal fade" id="modalMostrarMapa" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-content  modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            MAPA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Latitud</label>
                                            <input type="text" class="form-control" ng-model="MapaLatitud" ng-required="false" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Longitud</label>
                                            <input type="text" class="form-control" ng-model="MapaLongitud" ng-required="false" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!--Div Mapa-->
                                    <div class="col-md-12 text-center">
                                        <div>
                                            <div style="height: 500px" id="gmaps"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="AsignarPosicion()" ng-disabled="Deshabilitar">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>

