﻿<div  ng-init="InitLoad()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <!--Numero-->
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <span class="form-control">{{Modelo.Remesa.NumeroDocumento}}</span>
                        </div>
                    </div>
                    <!--Preimpreso-->
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>No. Preimpreso</label>
                            <input type="text" class="form-control" ng-model="Modelo.Remesa.Numeracion" maxlength="10" ng-disabled="Deshabilitar" ng-change="MaskPreImpreso(Modelo.Remesa.Numeracion);MaskMayus()"
                                   ng-blur="ValidarValorPreimpreso()" />
                        </div>
                    </div>
                    <!--Fecha-->
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha</label>
                            <input type="date" class="form-control" ng-model="Modelo.Remesa.Fecha" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <!--Fecha-->
                    <!--Linea Negocio-->
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Línea Negocio</label>
                            <select class="form-control" ng-model="Modelo.LineaNegocioPaqueteria" ng-options="i.Nombre for i in ListadoLineaNegocioPaqueteria" ng-disabled="Deshabilitar"></select>
                        </div>
                    </div>
                    <!--Linea Negocio-->
                    <!--Tipo Entrega-->
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Entrega</label>
                            <select class="form-control" ng-model="Modelo.TipoEntregaRemesaPaqueteria" ng-options="i.Nombre for i in ListadoTipoEntregaRemesaPaqueteria"
                                    ng-disabled="Deshabilitar"></select>
                        </div>
                    </div>
                    <!--Tipo Entrega-->
                    <!--Oficina Destino-->
                    <!--<div class="col-md-2 col-sm-6 col-xs-12" ng-show="!Modelo.Remesa.NumeroDocumento > 0">-->
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina Destino</label>
                            <select name="cmbOficina" class="form-control" ng-model="Modelo.OficinaDestino" ng-options="i.Nombre for i in ListaOficinas"
                                    ng-disabled="DeshabilitarOficinaDestino || Deshabilitar"></select>
                        </div>
                    </div>
                </div>

                <div class=" row">
                    <!--DATOS REMITENTES-->
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Remitente</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>

                        <div class="box-body">
                            <div class="alert alert-info alert-dismissible" ng-show="RemitenteNoRegistrado">
                                <a href="" class="close" ng-click="RemitenteNoRegistrado = false" aria-label="close">&times;</a>
                                El remitente no se encuentra registrado, sin embargo puede crearlo llenando el resto de campos.
                            </div>

                            <div class="row">
                                <!--Cliente-->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblTenedor">Cliente</label>
                                        <input maxlength="60" type="text" autocomplete="off" class="form-control" placeholder="Seleccione un Tenedor" ng-model="Modelo.Remesa.Cliente" ng-change="ObtenerInformacionCliente()"
                                               uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in  AutocompleteCliente($viewValue) | filter:$viewValue | limitTo: 5"
                                               ng-blur="Modelo.Remesa.Cliente=VerificarAutocomplete(Modelo.Remesa.Cliente);ConsultarDatosClienteRemitente(Modelo.Remesa.Cliente);ValidarTarifarioCliente()" ng-disabled="Deshabilitar">
                                    </div>
                                </div>
                                <!--Cliente-->
                                <!--Documento Cliente-->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Documento Cliente</label>
                                        <input type="text" ng-change="MaskNumero()" class="form-control" maxlength="18" placeholder="Documento Cliente" ng-model="Modelo.Remesa.NumeroDocumentoCliente" ng-disabled="Deshabilitar" />
                                    </div>
                                </div>
                                <!--Documento Cliente-->
                                <!--Centro Costos-->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Centro Costo</label>
                                        <input type="text" ng-change="MaskMayus()" class="form-control" maxlength="18" placeholder="Centro Costo" ng-model="Modelo.Remesa.CentroCosto" ng-disabled="Deshabilitar" />
                                    </div>
                                </div>
                                <!--Centro Costos-->
                                <!--Linea Servicio Cliente-->
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Linea Servicio Cliente</label>
                                        <select name="cmbEstado" class="form-control" ng-model="Modelo.Remesa.Remitente.LineaSerivicioCliente" ng-options="i.Nombre for i in ListadoLineaServicio | orderBy:'Nombre'" ng-disabled="Deshabilitar"></select>
                                    </div>
                                </div>
                                <!--Linea Servicio Cliente-->
                            </div>
                            <div class="row">
                                <!--Tipo identificacion-->
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Tipo Identificación</label>
                                        <select name="cmbEstado" class="form-control" ng-model="Modelo.Remesa.Remitente.TipoIdentificacion" ng-change="ValidarTIIDRemitente()"
                                                ng-options="i.Nombre for i in ListadoTipoIdentificacion" ng-disabled="BloqueoRemitenteIdentificacion || Deshabilitar"></select>
                                    </div>
                                </div>
                                <!--Tipo identificacion-->
                                <!--Numero Identificacion-->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Número Identificación</label>
                                        <input maxlength="20" type="text" ng-change="MaskNumero()" class="form-control" placeholder="Ingrese el numero de identificación" ng-model="Modelo.Remesa.Remitente.NumeroIdentificacion" ng-required="false" ng-blur="ObtenerRemitente(true)" ng-disabled="BloqueoRemitenteIdentificacion || Deshabilitar">
                                    </div>
                                </div>
                                <!--Numero Identificacion-->
                                <!--Nombre-->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input maxlength="50" type="text" class="form-control" ng-change="MaskMayus()" placeholder="Ingrese nombre" ng-model="Modelo.Remesa.Remitente.Nombre" ng-required="false" ng-disabled="BloqueoRemitenteNombre || Deshabilitar">
                                    </div>
                                </div>
                                <!--Nombre-->
                                <!--Apellido-->
                                <div class="col-md-3 col-sm-6 col-xs-12" ng-show="MostrarApellidoRemitente">
                                    <div class="form-group">
                                        <label>Apellido</label>
                                        <input maxlength="50" type="text" class="form-control" ng-change="MaskMayus()" placeholder="Ingrese apellido" ng-model="Modelo.Remesa.Remitente.PrimeroApellido" ng-disabled="Deshabilitar">
                                    </div>
                                </div>
                                <!--Apellido-->
                            </div>
                            <div class="row">
                                <!--Ciudad Origen-->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Ciudad</label>
                                        <input maxlength="60" type="text" class="form-control" placeholder="Seleccione una ciudad de origen" ng-model="Modelo.Remesa.Remitente.Ciudad" ng-required="false" ng-disabled="Deshabilitar" uib-typeahead="Ciudad as Ciudad.NombreCompleto for Ciudad in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5" ng-blur="Modelo.Remesa.Remitente.Ciudad=VerificarAutocomplete(Modelo.Remesa.Remitente.Ciudad);ValidarTarifarioCliente()">
                                    </div>
                                </div>
                                <!--Ciudad Origen-->
                                <!--Sitio Cargue-->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="Cuenta">Sitio Cargue</label>
                                        <input type="text" class="form-control" name="Ciudad Cargue" maxlength="50" id="ModeloCiudadCargue" placeholder="Ingrese un Sitio Cargue" ng-model=" Modelo.Remesa.Remitente.SitioCargue" ng-disabled="Deshabilitar" autocomplete="off"
                                               uib-typeahead="i as i.SitioCliente.Nombre for i in AutocompleteSitiosClienteCargue($viewValue, Modelo.Remesa.Remitente,Modelo.Remesa.Remitente.Ciudad)| filter:$viewValue | limitTo: 5" ng-required="false"
                                               ng-blur=" Modelo.Remesa.Remitente.SitioCargue=VerificarAutocomplete(Modelo.Remesa.Remitente.SitioCargue); CargarInformacionSitioCargue(Modelo.Remesa.Remitente.SitioCargue);">
                                    </div>
                                </div>
                                <!--Sitio Cargue-->
                                <!--Direccion-->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="catalogos">Dirección</label>
                                        <input class="form-control" data-live-search="true" ng-model="Modelo.Remesa.Remitente.Direccion" ng-disabled="Deshabilitar" placeholder="Ingrese dirección" ng-change="MaskMayus()" ng-required="false">
                                    </div>
                                </div>
                                <!--Direccion-->
                                <!--Codigo Postal-->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblCodPost">Código Postal</label>
                                        <input ng-change="MaskNumero()" placeholder="Código Postal" name="txtCodPost" type="text" maxlength="15" class="form-control" ng-model="Modelo.Remesa.CodigoPostalRemitente" ng-disabled="Deshabilitar">
                                    </div>
                                </div>
                                <!--Codigo Postal-->
                            </div>
                            <div class="row">
                                <!--Telefono-->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Teléfono</label>
                                        <input maxlength="60" type="text" class="form-control" ng-change="MaskNumero()" placeholder="Ingrese teléfono" ng-model="Modelo.Remesa.Remitente.Telefonos" ng-disabled="Deshabilitar" ng-required="false">
                                    </div>
                                </div>
                                <!--Telefono-->
                                <!--Correo-->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>E-mail</label>
                                        <input name="txtEmail" type="text" class="form-control" placeholder="Digite correo electrónico" maxlength="100" ng-model="Modelo.Remesa.Remitente.CorreoFacturacion"
                                               ng-pattern="/^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,3})$/" ng-disabled="Deshabilitar">
                                        <small class="errorField" ng-show="myform.txtEmail.$error.pattern">
                                            Por favor verifique el formato del correo.
                                        </small>
                                    </div>
                                </div>
                                <!--Correo-->
                                <!--Remesa Cortesia-->
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Remesa Cortesia</label>
                                        <br />
                                        <input type="checkbox" ng-model="Modelo.Remesa.RemesaCortesia" style="width:15px;height:15px" ng-disabled="Deshabilitar" ng-change="Calcular()" />
                                    </div>
                                </div>
                                <!--Remesa Cortesia-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!--DATOS DESTINATARIO-->
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Destinatario</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>

                        <div class="box-body">
                            <div class="alert alert-info alert-dismissible" ng-show="DestinatarioNoRegistrado">
                                <a href="" class="close" ng-click="DestinatarioNoRegistrado = false" aria-label="close">&times;</a>
                                El destinatario no se encuentra registrado, sin embargo puede crearlo llenando el resto de campos.
                            </div>
                            <div class="row">
                                <!--Tipo identificacion-->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Tipo Identificación</label>
                                        <select name="cmbEstado" class="form-control" ng-model="Modelo.Remesa.Destinatario.TipoIdentificacion"  ng-change="ValidarTIIDDestinatario()"
                                                ng-options="i.Nombre for i in ListadoTipoIdentificacion" ng-disabled="BloqueoDestinatario || Deshabilitar"></select>
                                    </div>
                                </div>
                                <!--Numero Identificacion-->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Número Identificación</label>
                                        <input maxlength="20" type="text" ng-change="MaskNumero()" class="form-control" placeholder="Ingrese número de identificación" ng-model="Modelo.Remesa.Destinatario.NumeroIdentificacion" ng-required="false" ng-blur="ObtenerDestinatario(true)" ng-disabled="Deshabilitar">
                                    </div>
                                </div>
                                <!--Nombre-->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input maxlength="50" type="text" class="form-control" ng-change="MaskMayus()" placeholder="Ingrese el nombre" ng-model="Modelo.Remesa.Destinatario.Nombre" ng-required="false" ng-disabled="BloqueoDestinatario || Deshabilitar">
                                    </div>
                                </div>
                                <!--Apellido-->
                                <div class="col-md-3 col-sm-6 col-xs-12" ng-show="MostrarApellidoDestinatario">
                                    <div class="form-group">
                                        <label>Apellido</label>
                                        <input maxlength="50" type="text" class="form-control" ng-change="MaskMayus()" placeholder="Ingrese apellido" ng-model="Modelo.Remesa.Destinatario.PrimeroApellido" ng-required="false" ng-disabled="Deshabilitar">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!--Ciudad Destino-->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Ciudad</label>
                                        <input maxlength="60" type="text" class="form-control" placeholder="Seleccione una ciudad de destino" ng-model="Modelo.Remesa.Destinatario.Ciudad" ng-required="false" ng-disabled="Deshabilitar" uib-typeahead="Ciudad as Ciudad.NombreCompleto for Ciudad in  AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5" ng-blur="Modelo.Remesa.Destinatario.Ciudad=VerificarAutocomplete(Modelo.Remesa.Destinatario.Ciudad);ValidarTarifarioCliente()">
                                    </div>
                                </div>
                                <!--Zonas-->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Zona</label>
                                        <select name="cmbIdent" class="form-control" ng-model="Modelo.Remesa.Zona" ng-options="i.Nombre for i in ListadoZonas" ng-disabled="Deshabilitar"></select>
                                    </div>
                                </div>
                                <!--Zonas-->
                                <!--Sitio Entrega-->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="Cuenta">Sitio Entrega</label>
                                        <input type="text" class="form-control" name="Ciudad Cargue" maxlength="50" placeholder="Ingrese sitio entrega" ng-model="Modelo.Remesa.Destinatario.SitioDescargue" ng-disabled="Deshabilitar" autocomplete="off"
                                               uib-typeahead="i as i.SitioCliente.Nombre for i in AutocompleteSitiosClienteDescargue($viewValue, Modelo.Remesa.Destinatario,Modelo.Remesa.Destinatario.Ciudad)| filter:$viewValue | limitTo: 5" ng-required="false"
                                               ng-blur=" Modelo.Remesa.Destinatario.SitioDescargue=VerificarAutocomplete(Modelo.Remesa.Destinatario.SitioDescargue); CargarInformacionSitioDesCargue(Modelo.Remesa.Destinatario.SitioDescargue)">
                                    </div>
                                </div>
                                <!--Sitio Entrega-->
                                <!--Direccion-->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="catalogos">Dirección</label>
                                        <input class="form-control" data-live-search="true" ng-model="Modelo.Remesa.Destinatario.Direccion" placeholder="Ingrese dirección" ng-disabled="Deshabilitar" ng-change="MaskMayus()" ng-required="false">
                                    </div>
                                </div>
                                <!--Direccion-->
                            </div>
                            <div class="row">
                                <!--Barrio-->
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Barrio</label>
                                        <input maxlength="80" type="text" class="form-control" placeholder="Ingrese barrio" ng-model="Modelo.Remesa.BarrioDestinatario" ng-disabled="Deshabilitar">
                                    </div>
                                </div>
                                <!--Barrio-->
                                <!--Codigo Postal-->
                                <div class="col-md-2 col-sm-4">
                                    <div class="form-group">
                                        <label for="lblCodPost">Código Postal</label>
                                        <input ng-change="MaskNumero()" placeholder="Código Postal" name="txtCodPost" type="text" maxlength="15" class="form-control" ng-model="Modelo.Remesa.CodigoPostalDestinatario" ng-disabled="Deshabilitar">
                                    </div>
                                </div>
                                <!--Codigo Postal-->
                                <!--Telefono-->
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Teléfono</label>
                                        <input maxlength="60" type="text" class="form-control" ng-change="MaskNumero()" placeholder="Ingrese telefono" ng-model="Modelo.Remesa.Destinatario.Telefonos" ng-disabled="Deshabilitar" ng-required="false">
                                    </div>
                                </div>
                                <!--Telefono-->
                                <!--Fecha Entrega-->
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblFechVinc">Fecha Entrega</label>
                                        <input name="txtFechVinc" type="date" class="form-control" ng-model="Modelo.Remesa.FechaEntrega" ng-disabled="Deshabilitar">
                                    </div>
                                </div>
                                <!--Fecha Entrega-->
                                <!--Horario Entrega-->
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Horario Entrega</label>
                                        <select name="cmbIdent" class="form-control" ng-model="Modelo.Remesa.HorarioEntrega" ng-options="i.Nombre for i in ListadoHorariosEntrega" ng-disabled="Deshabilitar"></select>
                                    </div>
                                </div>
                                <!--Horario Entrega-->
                                <!--Recoger Oficina Destino-->
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Recoger Oficina Destino</label>
                                        <br />
                                        <input tabindex="1" type="checkbox" ng-model="Modelo.RecogerOficinaDestino" style="width:15px;height:15px" ng-disabled="Deshabilitar" />
                                    </div>
                                </div>
                                <!--Recoger Oficina Destino-->
                            </div>
                            <div class="row">
                                <!--Correo-->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>E-mail</label>
                                        <input type="text" class="form-control" placeholder="Digite correo electrónico" maxlength="100" ng-model="Modelo.Remesa.Destinatario.CorreoFacturacion"
                                               ng-pattern="/^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,3})$/" ng-disabled="Deshabilitar">
                                        <small class="errorField" ng-show="myform.txtEmail.$error.pattern">
                                            Por favor verifique el formato del correo.
                                        </small>
                                    </div>
                                </div>
                                <!--Correo-->
                                <!--Latitud-->
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Latitud</label>
                                        <input maxlength="20" type="text" class="form-control" placeholder="Ingrese latitud" ng-model="Modelo.Remesa.Latitud" ng-required="false" ng-disabled="Deshabilitar">
                                    </div>
                                </div>
                                <!--Latitud-->
                                <!--Longitud-->
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Longitud</label>
                                        <input maxlength="20" type="text" class="form-control" placeholder="Ingrese longitud" ng-model="Modelo.Remesa.Longitud" ng-required="false" ng-disabled="Deshabilitar">
                                    </div>
                                </div>
                                <!--Boton Mapa-->
                                <div class="col-md-1 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label> </label>
                                        <div class="SeccionBotones">
                                            <button type="button" class="btn btn-primary" title="Abrir Mapa" tabindex="1" ng-click="AbrirMapa(Modelo.Remesa.Latitud, Modelo.Remesa.Longitud)">
                                                Mapa
                                                <span class="fas fa-map-marked-alt"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!--Boton Mapa-->
                                <!--Longitud-->
                            </div>
                        </div>
                    </div>
                </div>

                <!--Observaciones-->
                <div class="row">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Observaciones</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <textarea maxlength="200" type="text" class="form-control" ng-model="Modelo.Remesa.Observaciones" ng-disabled="Deshabilitar" ng-change="MaskMayus()" ng-required="false"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Tarifa / Producto-->
                <div class="row">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Tarifa / Producto</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>

                        <!--DETALLE-->
                        <div class="box-body">
                            <div class="row">
                                <div class="alert alert-warning alert-dismissible" ng-show="TarifarioInvalido">
                                    No existe una tarifa con las condiciones especificadas
                                </div>
                            </div>
                            <div class="row">
                                <!--Forma Pago-->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Forma Pago</label>
                                        <select name="cmbEstado" class="form-control" ng-model="Modelo.Remesa.FormaPago" ng-options="i.Nombre for i in ListadoFormaPago"
                                                ng-disabled="Deshabilitar" ng-blur="ValidarTarifarioCliente()"></select>
                                    </div>
                                </div>
                                <!--Tarifa-->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Tarifa</label>
                                        <select name="cmbTarifa" class="form-control" ng-model="Modelo.Remesa.TarifaCarga" ng-options="i.Nombre for i in ListaTarifaCarga"
                                                ng-change="CargarTipoTarifa(Modelo.Remesa.TarifaCarga.Codigo)" ng-blur="Calcular()" ng-disabled="Deshabilitar"></select>
                                    </div>
                                </div>
                                <!--Producto-->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Producto</label>
                                        <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un producto" ng-change="MaskMayus()" ng-model="Modelo.Remesa.ProductoTransportado"
                                               uib-typeahead="Prod as Prod.Nombre for Prod in AutocompleteProductoTransportado($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.Remesa.ProductoTransportado=VerificarAutocomplete(Modelo.Remesa.ProductoTransportado)" ng-disabled="Deshabilitar">
                                    </div>
                                </div>
                                <!--Manejo Detalle Unidades-->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Manejo Detalle Unidades</label>
                                        <br />
                                        <input tabindex="1" type="checkbox" ng-model="ManejoDetalleUnidades" style="width:15px;height:15px" ng-disabled="Deshabilitar" ng-change="ValidarDetalleUnidades(ManejoDetalleUnidades)" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="ManejoDetalleUnidades">
                                <div class="col-md-12">
                                    <!--Detalle Unidades-->
                                    <div class="box box-default box-solid">
                                        <!--Collapse-->
                                        <div class="box-header with-border">
                                            <h3 class="box-title">
                                                Detalle Unidades
                                            </h3>
                                            <div class="box-tools pull-right">
                                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </div>
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="SeccionBotones text-left">
                                                        <button type="button" class="btn btn-primary" ng-click="ModalDetalleUnidades()" tabindex="1" ng-disabled="Deshabilitar" title="Agregar Detalle Unidades">
                                                            Agregar Detalle <span class="glyphicon glyphicon-plus"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" ng-show="ListadoDetalleUnidades.length > 0">
                                                <div class="col-sm-12">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm table-responsive">
                                                            <thead>
                                                                <tr>
                                                                    <th>Producto</th>
                                                                    <th>Referencia</th>
                                                                    <th>Peso (kg)</th>
                                                                    <th>Largo (Cm)</th>
                                                                    <th>Alto (Cm)</th>
                                                                    <th>Ancho (Cm)</th>
                                                                    <th>Peso Volumétrico</th>
                                                                    <th>Peso a Cobrar</th>
                                                                    <th>Valor Comercial</th>
                                                                    <th>Opciones</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="item in ListadoDetalleUnidades">
                                                                    <td>{{item.Producto.Nombre}}</td>
                                                                    <td>{{item.Referencia}}</td>
                                                                    <td align="right">{{MaskValoresGrid(item.Peso)}}</td>
                                                                    <td align="right">{{MaskValoresGrid(item.Largo)}}</td>
                                                                    <td align="right">{{MaskValoresGrid(item.Ancho)}}</td>
                                                                    <td align="right">{{MaskValoresGrid(item.Alto)}}</td>
                                                                    <td align="right">{{MaskValoresGrid(item.PesoVolumetrico)}}</td>
                                                                    <td align="right">{{MaskValoresGrid(item.PesoCobrar)}}</td>
                                                                    <td align="right">{{MaskValoresGrid(item.ValorComercial)}}</td>
                                                                    <td align="center">
                                                                        <button class="button mini-button btn-primary" title="Editar" ng-click="EditarDetalleUnidades(item.Indice)" ng-disabled="Deshabilitar" ng-show="Modelo.Remesa.Numero == 0">
                                                                            <span class="fa fa-edit"></span>
                                                                        </button>
                                                                        <button class="button mini-button btn-danger" title="Eliminar" ng-click="ConfirmacionEliminarDetalleUnidades(item.Producto.Nombre, item.Indice)" ng-disabled="Deshabilitar" ng-show="Modelo.Remesa.Numero == 0">
                                                                            <span class="fas fa-trash-alt"></span>
                                                                        </button>
                                                                        <button class="button mini-button btn-primary" title="Ver" ng-click="EditarDetalleUnidades(item.Indice)" ng-show="Modelo.Remesa.Numero > 0">
                                                                            <span class="fas fa-eye"></span>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!--Liquidar Unidad-->
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Liquidar Por Unidad</label>
                                        <br />
                                        <input tabindex="1" type="checkbox" ng-model="Modelo.LiquidarUnidad" style="width:15px;height:15px" ng-disabled="Deshabilitar" ng-change="Calcular()" />
                                    </div>
                                </div>
                                <!--Cantidad-->
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>No. Unidades</label>
                                        <input style="text-align:right" maxlength="18" type="text" class="form-control" ng-change="MaskMoneda()" ng-blur="Calcular()"
                                               placeholder="Ingrese la cantidad" ng-model="Modelo.Remesa.CantidadCliente" ng-required="false" ng-disabled="Deshabilitar || ManejoDetalleUnidades">
                                    </div>
                                </div>
                                <!--Peso-->
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Peso (Kg)</label>
                                        <input style="text-align:right" maxlength="18" type="text" class="form-control" ng-change="MaskValores()" ng-blur="Calcular()"
                                               placeholder="Ingrese el peso" ng-model="Modelo.Remesa.PesoCliente" ng-required="false" ng-disabled="Deshabilitar || ManejoDetalleUnidades">
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-4 col-xs-12" ng-show="!ManejoDetalleUnidades">
                                    <div class="form-group">
                                        <label>Largo (Cm)</label>
                                        <input style="text-align:right" maxlength="18" type="text" class="form-control" ng-change="MaskValores()" ng-blur="Calcular()"
                                               placeholder="Largo" ng-model="Modelo.Largo" ng-required="false" ng-disabled="Deshabilitar">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12" ng-show="!ManejoDetalleUnidades">
                                    <div class="form-group">
                                        <label>Alto (Cm)</label>
                                        <input style="text-align:right" maxlength="18" type="text" class="form-control" ng-change="MaskValores()" ng-blur="Calcular()"
                                               placeholder="Alto" ng-model="Modelo.Alto" ng-required="false" ng-disabled="Deshabilitar">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12" ng-show="!ManejoDetalleUnidades">
                                    <div class="form-group">
                                        <label>Ancho (Cm)</label>
                                        <input style="text-align:right" maxlength="18" type="text" class="form-control" ng-change="MaskValores()" ng-blur="Calcular()"
                                               placeholder="Ancho" ng-model="Modelo.Ancho" ng-required="false" ng-disabled="Deshabilitar">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12" ng-show="!ManejoDetalleUnidades">
                                    <div class="form-group">
                                        <label>Peso Volumétrico</label>
                                        <input style="text-align:right" maxlength="18" type="text" class="form-control" ng-change="MaskValores()" ng-blur="Calcular()"
                                               placeholder="Peso Volumétrico" ng-model="Modelo.PesoVolumetrico" ng-required="false" disabled>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12" ng-show="!ManejoDetalleUnidades">
                                    <div class="form-group">
                                        <label>Peso a Cobrar</label>
                                        <input style="text-align:right" maxlength="18" type="text" class="form-control" ng-change="MaskValores()" ng-blur="Calcular()"
                                               placeholder="Peso a Cobrar" ng-model="Modelo.PesoCobrar" ng-required="false" disabled>
                                    </div>
                                </div>
                                <!--Valor Comercial-->
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Valor Comercial</label>
                                        <input maxlength="18" type="text" class="form-control text-right" ng-change="MaskValores()" ng-blur="Calcular()" placeholder="Ingrese el valor comercial"
                                               ng-model="Modelo.Remesa.ValorComercialCliente" ng-required="false" ng-disabled="Deshabilitar || ManejoDetalleUnidades">
                                    </div>
                                </div>
                                <!--Descripcion-->
                                <div class="col-md-4 col-sm-12 col-xs-12" ng-show="!ManejoDetalleUnidades">
                                    <div class="form-group">
                                        <label>Descripción Mercancia</label>
                                        <input maxlength="50" type="text" class="form-control" placeholder="Ingrese la descripción de la mercancia" ng-change="MaskMayus()"
                                               ng-model="Modelo.DescripcionProductoTransportado" ng-required="false" ng-disabled="Deshabilitar">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!--Reexpedicion-->
                    <div class="box box-default box-solid collapsed-box">
                        <!--Collapse-->
                        <div class="box-header with-border" ng-disabled="Bloquear">
                            <h3 class="box-title">
                                Reexpedición
                            </h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>

                        <!--Contenido-->
                        <div class="box-body">
                            <div class="row" ng-show="!Deshabilitar">
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Oficina</label>
                                        <select class="form-control" ng-model="Modelo.Remesa.Oficina" ng-options="i.Nombre for i in ListaOficinas"
                                                ng-disabled="Deshabilitar"></select>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Tipo Reexpedición</label>
                                        <select class="form-control" ng-model="Modelo.Remesa.TipoReexpedicion" ng-options="i.Nombre for i in ListadoTipoReexpedicionRemesaPaqueteria" ng-disabled="Deshabilitar"></select>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Valor</label>
                                        <input style="text-align:right" maxlength="18" type="text" class="form-control" ng-change="Modelo.Remesa.Valor = MaskValoresGrid(Modelo.Remesa.Valor)" placeholder="Ingrese el valor" ng-model="Modelo.Remesa.Valor" ng-disabled="Deshabilitar">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12" ng-show="Modelo.Remesa.TipoReexpedicion.Codigo == 11102">
                                    <div class="form-group">
                                        <label>Proveedor externo</label>
                                        <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un Proveedor" ng-model="Modelo.Remesa.ProveedorExterno" ng-disabled="Deshabilitar" ng-required="false" uib-typeahead="Prov as Prov.NombreCompleto for Prov in AutocompleteProveedor($viewValue) | filter:$viewValue | limitTo: 5" ng-blur="Modelo.Remesa.ProveedorExterno=VerificarAutocomplete(Modelo.Remesa.ProveedorExterno)">
                                    </div>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    <div class="form-group">
                                        <label>Observaciones</label>
                                        <textarea maxlength="500" type="text" class="form-control" ng-model="Modelo.Remesa.ObservacionesReexpedicion" ng-disabled="Deshabilitar"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:left">
                                    <br />
                                    <button type="button" class="btn btn-primary" ng-click="AdicionarOficinas()" tabindex="1" ng-disabled="Deshabilitar">
                                        Adicionar
                                        <span class="glyphicon glyphicon-upload"></span>
                                    </button>
                                </div>

                            </div>

                            <div>

                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Oficina</th>
                                            <th>Tipo Reexpedición</th>
                                            <th>Proveedor Externo</th>
                                            <th>Valor</th>
                                            <th>Observaciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ListaReexpedicionOficinas">
                                            <td>{{item.Oficina.Nombre}}</td>
                                            <td>{{item.TipoReexpedicion.Nombre}}</td>
                                            <td>
                                                <div ng-show="item.TipoReexpedicion.Codigo == 11101">
                                                    (NO APLICA)
                                                </div>
                                                <div ng-show="item.TipoReexpedicion.Codigo == 11102">
                                                    {{item.ProveedorExterno.NombreCompleto}}
                                                </div>
                                            </td>
                                            <td>
                                                {{MaskValoresGrid(item.Valor)}}
                                            </td>
                                            <td>
                                                {{item.Observaciones}}
                                            </td>
                                            <td>
                                                <button class="button mini-button primary" title="Detalle Conceptos" ng-click="EliminarOficinaReexpedicion($index)" ng-disabled="Deshabilitar">
                                                    <span class="glyphicon fa fa-trash"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                        <tr>
                                            <td colspan="4">
                                                <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                    <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                        <span class="item">&laquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                        <span class="item">&lsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                        <span class="item">&rsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                        <span class="item">&raquo;</span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                    <tfoot ng-if="totalRegistros == 0 && Buscando == false">
                                        <tr>
                                            <td colspan="4" style="color:red; text-align:center">
                                                <small>{{ResultadoSinRegistros}}</small>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!--TOTALES-->
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Totales</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Valor Flete</label>
                                        <input style="text-align:right" maxlength="18" type="text" ng-change="MaskValores()" ng-blur="CalcularAjusteFlete()" class="form-control" placeholder="Valor flete" ng-model="Modelo.Remesa.ValorFleteCliente" ng-required="false" ng-disabled="CambiarValorFlete || Deshabilitar">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12" ng-show="false">
                                    <div class="form-group">
                                        <label>Flete Pactado</label>
                                        <input style="text-align:right" type="text" ng-change="MaskValores()" class="form-control" placeholder="Valor Pactado" ng-model="Modelo.FletePactado" ng-required="false" disabled>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Comisión</label>
                                        <input type="text" ng-change="MaskValores()" class="form-control text-right" placeholder="Comisión" ng-model="Comision" ng-required="false" disabled>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12" ng-show="false">
                                    <div class="form-group">
                                        <label>Agencistas</label>
                                        <input type="text" ng-change="MaskValores()" class="form-control text-right" placeholder="Agencista" ng-model="Agencista" ng-required="false" disabled>
                                    </div>
                                </div>
                                <!--<div class="col-md-2 col-sm-4 col-xs-12" ng-show="Sesion.UsuarioAutenticado.ManejoPorcentajeAfiliado">-->
                                <div class="col-md-2 col-sm-4 col-xs-12" ng-show="false">
                                    <div class="form-group">
                                        <label>Valor Transportador</label>
                                        <input type="text" ng-change="MaskValores()" class="form-control text-right" placeholder="Valor Transportador" ng-model="Modelo.Remesa.ValorFleteTransportador" ng-required="false" disabled>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12" ng-show="false">
                                    <div class="form-group">
                                        <label>Valor Manejo</label>
                                        <input style="text-align:right" maxlength="18" type="text" ng-change="MaskValores()" class="form-control" placeholder="Valor Manejo" ng-model="Modelo.Remesa.ValorManejoCliente" ng-required="false" disabled>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Valor Seguro</label>
                                        <input style="text-align:right" maxlength="18" type="text" ng-change="MaskValores()" class="form-control" placeholder="Valor Seguro" ng-model="Modelo.Remesa.ValorSeguroCliente" ng-required="false" disabled>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Valor Reexpedición</label>
                                        <input style="text-align:right" maxlength="18" type="text" ng-change="MaskValores()" class="form-control" placeholder="Valor Reexpedición" ng-model="ValorReexpedicion" ng-required="false" disabled>
                                    </div>
                                </div>
                                <!--<div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label>Valor Reexpedicion</label>
                                        <input style="text-align:right" maxlength="18" type="text" ng-change="MaskValores();" class="form-control" placeholder="Valor Reexpedición" ng-model="Modelo.Remesa.ValorReexpedicion" ng-required="false">
                                    </div>
                                </div>-->

                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Total</label>
                                        <input style="text-align:right" maxlength="18" type="text" ng-change="MaskValores()" class="form-control" placeholder="Valor Total Cliente" ng-model="Modelo.Remesa.TotalFleteCliente" ng-required="false" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!--Informacion Despacho-->
                    <div class="box box-default box-solid collapsed-box">
                        <!--Collapse-->
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                Información Despacho
                            </h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>

                        <!--Contenido-->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Oficina Origen</label>
                                        <span class="form-control">{{Modelo.OficinaOrigen.Nombre}}</span>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-4 col-xs-12" ng-show="Modelo.Remesa.NumeroDocumento > 0">
                                    <div class="form-group">
                                        <label>Oficina Destino</label>
                                        <span class="form-control">{{Modelo.OficinaDestino.Nombre}}</span>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Oficina Actual</label>
                                        <span class="form-control">{{Modelo.OficinaActual.Nombre}}</span>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Estado Guía</label>
                                        <span class="form-control">{{Modelo.EstadoGuia.Nombre}}</span>
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>No. Planilla</label>
                                        <span class="form-control">{{Modelo.NumeroPlanilla}}</span>
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Vehículo</label>
                                        <span class="form-control">{{Modelo.Remesa.Vehiculo.Placa}}</span>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Conductor</label>
                                        <span class="form-control">{{Modelo.Remesa.Conductor.NombreCompleto}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Oficina-->
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Oficina</label>
                            <span class="form-control">{{Modelo.Oficina.Nombre}}</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select class="form-control" ng-model="Modelo.Estado" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoEstadoDocumento"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="SeccionBotones">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="Deshabilitar">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Eliminar Tarifa-->
    <div class="modal fade" id="modalConfirmacionEliminar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar la tarifa?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmarEliminarTarifa()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal adicionar dirección remitente-->
    <div class="modal fade" id="modalAdicionarDireccionRemitente" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <div class="box box-default box-solid">
                            <!--Collapse-->
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">
                                    AGREGAR DIRECCIÓN REMITENTE
                                </h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>

                            <!--Contenido-->
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblCiudad">Ciudad</label>
                                            <input ng-change="MaskMayus()" type="text" class="form-control" maxlength="50" placeholder="Ingrese la ciudad" ng-model="Modal.Ciudad" ng-blur="Modal.Ciudad=VerificarAutocomplete(Modal.Ciudad)" uib-typeahead="Ciudad as Ciudad.NombreCompleto for Ciudad in  AutocompleteCiudades($viewValue) | filter:$viewValue | limitTo: 5">
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Dirección</label>
                                            <input ng-change="MaskMayus()" placeholder="Digite la direción" name="txtDireccion" type="text" maxlength="150" class="form-control" ng-model="Modal.Direccion">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblCiudad">Barrio</label>
                                            <input ng-change="MaskMayus()" type="text" class="form-control" maxlength="50" placeholder="Ingrese la ciudad" ng-model="Modal.Barrio">
                                        </div>

                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Código Postal</label>
                                            <input ng-change="MaskNumero()" placeholder="Digite el Código postal" type="text" maxlength="8" class="form-control" ng-model="Modal.CodigoPostal">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Teléfono</label>
                                            <input ng-change="MaskNumero()" placeholder="Digite el n° de teléfono 1" type="text" maxlength="15" class="form-control" ng-model="Modal.Telefonos">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarDireccionRemitente()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal adicionar dirección Destinatario-->
    <div class="modal fade" id="modalAdicionarDireccionDestinatario" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <div class="box box-default box-solid">
                            <!--Collapse-->
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">
                                    AGREGAR DIRECCIÓN DESTINATARIO
                                </h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>

                            <!--Contenido-->
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblCiudad">Ciudad</label>
                                            <input ng-change="MaskMayus()" type="text" class="form-control" maxlength="50" placeholder="Ingrese la ciudad" ng-model="Modal.Ciudad" ng-blur="Modal.Ciudad=VerificarAutocomplete(Modal.Ciudad)" uib-typeahead="Ciudad as Ciudad.NombreCompleto for Ciudad in  AutocompleteCiudades($viewValue) | filter:$viewValue | limitTo: 5">
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Dirección</label>
                                            <input ng-change="MaskMayus()" placeholder="Digite la direción" type="text" maxlength="150" class="form-control" ng-model="Modal.Direccion">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblCiudad">Barrio</label>
                                            <input ng-change="MaskMayus()" type="text" class="form-control" maxlength="50" placeholder="Ingrese la ciudad" ng-model="Modal.Barrio">
                                        </div>

                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Código Postal</label>
                                            <input ng-change="MaskNumero()" placeholder="Digite el Código postal" type="text" maxlength="8" class="form-control" ng-model="Modal.CodigoPostal">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Teléfono</label>
                                            <input ng-change="MaskNumero()" placeholder="Digite el n° de teléfono 1" type="text" maxlength="15" class="form-control" ng-model="Modal.Telefonos">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarDireccionDestinatario()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal adicionar Detalle Unidad-->
    <div class="modal fade" id="modalAdicionarDetalleUnidades" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            AGREGAR DETALLE UNIDADES
                        </h4>
                    </div>

                    <div class="modal-body">
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorDetalleUnidades.length > 0">
                                            <ul>
                                                <li ng-repeat="error in MensajesErrorDetalleUnidades">
                                                    <span>{{error}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!--Producto-->
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label>Producto</label>
                                            <input type="text" class="form-control" placeholder="Seleccione producto" ng-model="DetalleUnidades.Producto"
                                                   uib-typeahead="Prod as Prod.Nombre for Prod in AutocompleteProductoTransportado($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                                   ng-blur="DetalleUnidades.Producto=VerificarAutocomplete(DetalleUnidades.Producto)" ng-disabled="Deshabilitar">
                                        </div>
                                    </div>
                                    <!--Producto-->
                                    <!--Referencia-->
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Referencia</label>
                                            <input type="text" class="form-control text-right" placeholder="Referencia" ng-model="DetalleUnidades.Referencia" ng-required="false" ng-disabled="Deshabilitar">
                                        </div>
                                    </div>
                                    <!--Peso-->
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Peso (Kg)</label>
                                            <input maxlength="18" type="text" class="form-control text-right" ng-change="MaskValores()" ng-blur="CalcularDetalleUnidades()"
                                                   placeholder="Ingrese el peso" ng-model="DetalleUnidades.Peso" ng-required="false" ng-disabled="Deshabilitar">
                                        </div>
                                    </div>
                                    <!--Largo-->
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Largo (Cm)</label>
                                            <input maxlength="18" type="text" class="form-control text-right" ng-change="MaskValores()" ng-blur="CalcularDetalleUnidades()" placeholder="Largo"
                                                   ng-model="DetalleUnidades.Largo" ng-required="false" ng-disabled="Deshabilitar">
                                        </div>
                                    </div>
                                    <!--Largo-->
                                    <!--Alto-->
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Alto (Cm)</label>
                                            <input maxlength="18" type="text" class="form-control text-right" ng-change="MaskValores()" ng-blur="CalcularDetalleUnidades()" placeholder="Alto"
                                                   ng-model="DetalleUnidades.Alto" ng-required="false" ng-disabled="Deshabilitar">
                                        </div>
                                    </div>
                                    <!--Alto-->
                                    <!--Ancho-->
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Ancho (Cm)</label>
                                            <input maxlength="18" type="text" class="form-control text-right" ng-change="MaskValores()" ng-blur="CalcularDetalleUnidades()" placeholder="Ancho"
                                                   ng-model="DetalleUnidades.Ancho" ng-required="false" ng-disabled="Deshabilitar">
                                        </div>
                                    </div>
                                    <!--Ancho-->
                                    <!--Peso Volumetrico-->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Peso Volumétrico</label>
                                            <input maxlength="18" type="text" class="form-control text-right" ng-change="MaskValores()" ng-blur="CalcularDetalleUnidades()"
                                                   placeholder="Peso Volumétrico" ng-model="DetalleUnidades.PesoVolumetrico" ng-required="false" disabled>
                                        </div>
                                    </div>
                                    <!--Peso Volumetrico-->
                                    <!--Peso a Cobrar-->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Peso a Cobrar</label>
                                            <input maxlength="18" type="text" class="form-control text-right" ng-change="MaskValores()" ng-blur="CalcularDetalleUnidades()"
                                                   placeholder="Peso a Cobrar" ng-model="DetalleUnidades.PesoCobrar" ng-required="false" disabled>
                                        </div>
                                    </div>
                                    <!--Peso a Cobrar-->
                                    <!--Valor Comercial-->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor Comercial</label>
                                            <input maxlength="18" type="text" class="form-control text-right" ng-change="MaskValores()" ng-blur="CalcularDetalleUnidades()"
                                                   placeholder="Ingrese valor comercial" ng-model="DetalleUnidades.ValorComercial" ng-required="false" ng-disabled="Deshabilitar">
                                        </div>
                                    </div>
                                    <!--Descripcion-->
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Descripción Mercancia</label>
                                            <input maxlength="50" type="text" class="form-control" placeholder="Ingrese descripción de la mercancia" ng-change="MaskMayus()"
                                                   ng-model="DetalleUnidades.DescripcionProducto" ng-required="false" ng-disabled="Deshabilitar">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="AgregarDetalleUnidades()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmación Eliminar Detalle Unidades -->
    <div class="modal fade" id="modalEliminarDetalleUnidad" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Eliminar Detalle Unidades</strong>
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p class="text-center">¿Esta seguro que desea eliminar el detalle : <strong>{{TmpEliminarDetalleUnidad.Producto}}</strong>?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Eliminar Concepto" ng-click="EliminarDetalleUnidad(TmpEliminarDetalleUnidad.Indice)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Mapa Google-->
    <div class="modal fade" id="modalMostrarMapa" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-content  modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            MAPA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Latitud</label>
                                            <input type="text" class="form-control" ng-model="MapaLatitud" ng-required="false" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Longitud</label>
                                            <input type="text" class="form-control" ng-model="MapaLongitud" ng-required="false" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!--Div Mapa-->
                                    <div class="col-md-12 text-center">
                                        <div>
                                            <div style="height: 500px" id="gmaps"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="AsignarPosicion()" ng-disabled="Deshabilitar">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>