﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="Form-Imput">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesError">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Listado Documentos</label>
                            <select name="cmbListados" class="form-control" ng-model="ListadosComercial" ng-options="i.NombreMenu for i in ListaComercial | orderBy: 'NombreMenu'" ng-change="LimpiarFormFiltros()"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-default box-solid">
                            <div class="box-header">
                                <h3 class="box-title">Filtros</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-disabled="Deshabilitar" ng-click="Filtros()" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body" style="display:block">
                                <div class="row">
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblFechIni">Fecha Inicial</label>
                                            <input type="date" class="form-control" ng-model="Modelo.FechaInicial">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblFechFina">Fecha Final</label>
                                            <input type="date" class="form-control" ng-model="Modelo.FechaFinal">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Número</label>
                                            <input class="form-control" ng-model="Modelo.Numero" placeholder="Ingrese número" maxlength="20" ng-change="MaskNumero()">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input class="form-control" ng-model="Modelo.Nombre" placeholder="Ingrese nombre" maxlength="20">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--SECCIÓN BOTONES-->
            <div id="lineButtons">
                <div class="pull-left">
                    <table>
                        <tr>
                            <td>
                                <button class="btn btn-block btn-primary" style="width:50px; height:50px" title="Abrir en PDF" ng-click="DesplegarInforme( 1, 0)">
                                    <img src="../../../FrontEnd/Css/img/pdf.png" width="40" height="40" />
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-block btn-primary" style="width:50px; height:50px; margin-left:10px" title="Descargar en EXCEL" ng-click="DesplegarInforme(0, 1)">
                                    <img src="../../../FrontEnd/Css/img/excel.png" width="40" height="40" style="margin-left:0px" />
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>