﻿<div >
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <section class="content-header">
        <h1>CONSULTAR MANTENIMIENTOS PENDIENTES</h1>
    </section>

    <section class="content">
        <form>
            <div id="filtrosConsulta">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>
                <div class="row">
                    <!--<div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="codigoInicial">Código Inicial</label>
                            <input name="codigoInicial" ng-keyup="MaskNumero('')" maxlength="15" class="form-control" ng-model="CodigoInicial" placeholder="Ingrese un código">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="codigoFinal">Código Final</label>
                            <input name="codigoFinal" ng-keyup="MaskNumero('')" maxlength="15" class="form-control" ng-model="CodigoFinal" placeholder="Ingrese un código">
                        </div>
                    </div>-->
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="equipo2">Equipo</label>
                            <select id="equipo2" data-live-search="true" class="form-control" data-style="btn-white" ng-model="Equipo" ng-options="i.NombreCompleto for i in ListadoEquipoMantenimiento2"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div id="lineButtons">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" ng-click="Buscar()" title="Buscar" ng-disabled="DeshabilitarConsulta">
                        Buscar
                        <span class="glyphicon glyphicon-filter"></span>
                    </button>
                </div>
            </div>
            <br />
            <hr />
            <div id="resultadoConsulta" class="table-responsive" ng-show="ListadoMantenimientosPendientes.length > 0">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <!--<th>Codigo</th>-->
                            <th>Equipo</th>
                            <th>Plan Mantenimiento</th>
                            <th>Sistema</th>
                            <th>Subsistema</th>
                            <th>Tipo Subsistema</th>
                            <th>Cantidad</th>
                            <th>Fecha Ultimo Mantenimiento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ListadoMantenimientosPendientes | orderBy:'Nombre'">

                            
                            <td>{{item.Equipo.Nombre}}</td>
                            <td>{{item.PlanMantenimiento.Nombre}}</td>
                            <td>{{item.Sistema.Nombre}}</td>
                            <td>{{item.Subsistema.Nombre}}</td>
                            <td>{{item.TipoSubsistema.Nombre}}</td>
                            <td>{{item.Cantidad}}</td>
                            <td ng-if="item.FechaUnitmoMantenimiento == '1900-01-01T00:00:00'">Sin Manteniminetos Registrados</td>
                            <td ng-if="item.FechaUnitmoMantenimiento != '1900-01-01T00:00:00'">{{item.FechaUnitmoMantenimiento | date: 'dd/MM/yyyy'}}</td>

                        </tr>
                    </tbody>
                    <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                        <tr>
                            <td colspan="4">
                                <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                    <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                        <span class="item">&laquo;</span>
                                    </button>
                                    <button class="button primary" ng-click="Anterior()" title="Anterior">
                                        <span class="item">&lsaquo;</span>
                                    </button>
                                    <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                        <span class="item">&rsaquo;</span>
                                    </button>
                                    <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                        <span class="item">&raquo;</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                    <tfoot ng-if="totalRegistros == 0 && Buscando == false">
                        <tr>
                            <td colspan="4" style="color:red; text-align:center">
                                <small>{{ResultadoSinRegistros}}</small>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </form>
    </section>
    <!-- Modal Confirmación Anular Tarea Mantenimiento-->
    <div class="modal fade" id="modalConfirmacionAnularTarea" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET PASAJEROS
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de anular la tarea de mantenimiento No. {{NumeroAnulacion}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="SolicitarDatosAnulacion()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!-- Modal Asignar datos anulación-->
    <div class="modal fade" id="modalDatosAnularTarea" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">

                            GESTRANS.NET PASAJEROS
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>Tarea de mantenimiento No. {{NumeroAnulacion}}</p>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="causaAnulacion">Causa Anulación<small class="small">*</small></label>
                                    <input class="form-control" name="causaAnulacion" type="text" ng-model="CausaAnulacion">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="fechaAnulacion">Fecha Anulación</label>
                                    <span class="form-control">{{FechaAnulacion | date: 'dd/MM/yyyy HH:MM'}}</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Usuario anula</label>
                                    <span class="form-control"> {{Sesion.Identificador}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Anular(CausaAnulacion)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>