﻿<div >
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <section class="content-header">
        <h1>CONSULTAR TAREAS MANTENIMIENTO</h1>
    </section>

    <section class="content">
        <form>
            <div id="filtrosConsulta">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>
                <div class="row">

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fechaInicial">Fecha Inicial</label>
                            <input name="fechaInicial" type="date" class="form-control" ng-model="FechaInicial">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fechaFinal">Fecha Final</label>
                            <input name="fechaFinal" type="date" class="form-control" ng-model="FechaFinal">
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fechaFinal">Nombre</label>
                            <input name="fechaFinal" type="text" class="form-control" ng-model="Nombre" ng-change="MaskMayus()">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="Placa">Placa</label>
                            <input ng-change="MaskPlaca()" maxlength="6" type="text" class="form-control" name="placa" id="placa" placeholder="Seleccione una placa" ng-model="ModeloPlaca" >
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="equipo">Equipo</label>
                            <select name="equipo" class="form-control" ng-model="EquipoMantenimiento" ng-options="i.Nombre for i in ListadoEquipoMantenimiento | orderBy: 'Nombre'"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <select name="estado" class="form-control" ng-model="Estado" ng-options="i.Nombre for i in ListadoEstados | orderBy: 'Nombre'"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div id="lineButtons">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" ng-click="Buscar()" title="Buscar" ng-disabled="DeshabilitarConsulta">
                        Buscar
                        <span class="glyphicon glyphicon-filter"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" ng-disabled="DeshabilitarActualizar" ng-click="NuevoDocumento()" title="Nuevo">
                            Nuevo
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
            <br />
            <hr />
            <div id="resultadoConsulta" class="table-responsive" ng-show="ListadoTareasMantenimiento.length > 0">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Fecha</th>
                            <th>Equipo Mantenimiento</th>
                            <th>Vehículo</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ListadoTareasMantenimiento">
                            <td><a href="#!GestionarTareasMantenimiento/{{item.Numero}}">{{item.Nombre}}</a></td>
                            <td>{{item.Fecha | date:'dd/MM/yyyy' }}</td>
                            <td>{{item.EquipoMantenimiento.Nombre}}</td>
                            <td>{{item.Vehiculo.Placa}}</td>
                            <td>
                                <span ng-if="item.Anulado == 1" class="label pull-center bg-red">Anulado</span>
                                <span ng-if="item.Estado == 1 && item.Anulado == 0" class="label label-success">DEFINITIVO</span>
                                <span ng-if="item.Estado == 0 && item.Anulado == 0" class="label label-warning">BORRADOR</span>
                            </td>
                            <td>
                                <button class="button mini-button primary" title="Anular" ng-click="ConfirmacionAnularContrato(item.Numero,item.Estado)" ng-disabled="DeshabilitarEliminarAnular" ng-show="item.Anulado == 0">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                                <button class="button mini-button primary" title="Imprimir Reporte" ng-click="DesplegarInforme(item.Numero)" ng-disabled="DeshabilitarImprimir">
                                    <span class="glyphicon glyphicon-print"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                        <tr>
                            <td colspan="4">
                                <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                    <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                        <span class="item">&laquo;</span>
                                    </button>
                                    <button class="button primary" ng-click="Anterior()" title="Anterior">
                                        <span class="item">&lsaquo;</span>
                                    </button>
                                    <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                        <span class="item">&rsaquo;</span>
                                    </button>
                                    <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                        <span class="item">&raquo;</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                    <tfoot ng-if="totalRegistros == 0 && Buscando == false">
                        <tr>
                            <td colspan="4" style="color:red; text-align:center">
                                <small>{{ResultadoSinRegistros}}</small>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </form>
    </section>
    <!-- Modal Confirmación Anular Tarea Mantenimiento-->
    <div class="modal fade" id="modalConfirmacionAnularTarea" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET PASAJEROS
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de anular la tarea de mantenimiento No. {{NumeroAnulacion}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="SolicitarDatosAnulacion()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!-- Modal Asignar datos anulación-->
    <div class="modal fade" id="modalDatosAnularTarea" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">

                            GESTRANS.NET PASAJEROS
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>Tarea de mantenimiento No. {{NumeroAnulacion}}</p>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="causaAnulacion">Causa Anulación<small class="small">*</small></label>
                                    <input class="form-control" name="causaAnulacion" type="text" ng-model="CausaAnulacion">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="fechaAnulacion">Fecha Anulación</label>
                                    <span class="form-control">{{FechaAnulacion | date: 'dd/MM/yyyy HH:MM'}}</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Usuario anula</label>
                                    <span class="form-control"> {{Sesion.Identificador}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Anular(CausaAnulacion)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>