﻿<div >
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <section class="content-header">
        <h1>PLANES MANTENIMIENTO</h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="box-group" id="accordion">
                        <div class="panel box box-primary">
                            <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true">
                                <div class="box-body">
                                    <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                                        <a name="arriba"></a>
                                        <ul>
                                            <li ng-repeat="error in MensajesError">
                                                <span>{{error}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <form name="myform" autocomplete="off">

                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label>Nombre</label>
                                                <input ng-change="MaskMayus()" maxlength="50" type="text" class="form-control" placeholder="Nombre" ng-disabled="Deshabilitar" ng-model="Nombre">
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <label>Código Alterno</label>
                                                <input ng-change="MaskMayus()" maxlength="50" type="text" class="form-control" placeholder="Ingrese Código" ng-disabled="Deshabilitar" ng-model="CodigoAlterno">
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <label for="estado">Estado</label>
                                                <select id="estado" name="estado" class="form-control" ng-model="Estado" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoEstados | orderBy: 'Nombre'"></select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="pull-left">
                                    <button class="btn btn-block btn-primary" ng-click="InicializarDetalle()" ng-disabled="Deshabilitar" title="Nuevo Plan">
                                        Adicionar
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </div>
                            </div>
                            <br>
                            <hr>
                        </div>
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title"> Detalle</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div id="resultadoConsulta" class="table-responsive" ng-show="ListadoDetallePlanMantenimiento.length > 0">
                                    <table class="table table-striped table-bordered table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Sistema</th>
                                                <th>Subsistema</th>
                                                <th>Unidad Frecuencia</th>
                                                <th>Frecuencia</th>
                                                <th>Cantidad</th>
                                                <th>Descripción</th>
                                                <th>Valor Mano de Obra</th>
                                                <th>Valor Repuestos</th>
                                                <th>Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in ListadoDetallePlanMantenimiento">
                                                <td>{{item.SistemaMantenimiento.Nombre}}</td>
                                                <td>{{item.SubsistemaMantenimiento.Nombre}}</td>
                                                <td>{{item.UnidadReferenciaMantenimiento.NombreCorto}}</td>
                                                <td>{{item.FrecuenciaUso}}</td>
                                                <td>{{item.Cantidad}}</td>
                                                <td>{{item.Descripcion}}</td>
                                                <td style="text-align:right">{{item.ValorManoObra | number :0}}</td>
                                                <td style="text-align:right">{{item.ValorRepuestos | number :0}}</td>
                                                <td>
                                                    <button class="button mini-button primary" title="Editar" data-toggle="tooltip" ng-click="EditarDetallePlan(item);AplicarCampos(SubsistemaMantenimiento.Nombre)" ng-disabled="Deshabilitar">
                                                        <span class="fa fa-edit"></span>
                                                    </button>
                                                    <button class="button mini-button primary" ng-if="item.SubsistemaMantenimiento.TipoSubsistema.Codigo != 2" title="Asociar Referencia" data-toggle="tooltip" ng-disabled="Deshabilitar" ng-click="AsociarReferencia(item)">
                                                        <span class="glyphicon glyphicon-wrench"></span>
                                                    </button>
                                                    <button class="button mini-button primary" title="Eliminar" data-toggle="tooltip" ng-click="ConfirmacionEliminarDetalle($index)" ng-disabled="Deshabilitar">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                                    Cancelar
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button type="button" class="btn btn-primary" ng-disabled="Deshabilitar" title="Aceptar" ng-click="ConfirmacionGuardarPlan()">
                                    Aceptar
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Modal Confirmación Guardar Plan -->
    <div class="modal fade" id="modalConfirmacionGuardarPlan" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET PASAJEROS
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmación Eliminar detalle -->
    <div class="modal fade" id="modalEliminarDetalle" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET PASAJEROS
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Esta seguro que desea eliminar el detalle del plan de mantenimiento ?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Eliminar tarifa" ng-click="EliminarDetalle(Indice)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modalMantenimiento" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-content">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Detalle Plan Mantenimiento</strong>
                        </h4>
                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorDetalle.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesErrorDetalle">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-4 col-xs-12">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label for="sistemaMantenimiento">Sistema </label>
                                                <select title="Seleccione Sistema" data-style="btn-white" id="tiposistema" data-live-search="true" name="tiposistema" class="form-control" ng-model="SistemaMantenimiento" ng-options="i.Nombre for i in ListadoSistemaMantenimiento" ng-change="FiltrarSubsistema()"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label for="tiposubsistema">Subsistema</label>
                                                <select id="tiposubsistema" data-style="btn-white" data-live-search="true" name="tiposubsistema" class="form-control" ng-model="SubsistemaMantenimiento" ng-options="i.Nombre for i in ListadoSubsistemaFiltrado" ng-change="AplicarCampos(SubsistemaMantenimiento)" ng-blur="AsignarZonas(ModalZona)"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12" ng-show="AplicaValores">
                                            <div class="form-group">
                                                <label for="unidadfrecuencia">Unidad Frecuencia</label>
                                                <select name="unidadfrecuencia" class="form-control" ng-model="UnidadReferenciaMantenimiento" ng-options="i.NombreCorto for i in ListadoUnidadReferenciaMantenimiento"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12" ng-show="AplicaValores">
                                            <div class="form-group">
                                                <label for="cantidad">Frecuencia</label>
                                                <input ng-change="MaskNumero()" name="cantidad" class="form-control" type="text" maxlength="10" ng-model="FrecuenciaUso" ng-required="true" placeholder="Ingrese la cantidad" ng-blur="ModificarDetalleDireccionDestino(Detalle.DireccionDestino)">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12" ng-show="AplicaValores">
                                            <div class="form-group">
                                                <label for="cantidad">Cantidad</label>
                                                <input ng-change="MaskNumero()" style="text-align:right" name="cantidad" class="form-control" type="text" maxlength="10" ng-model="Cantidad" ng-required="true" placeholder="Ingrese la cantidad" ng-blur="ModificarDetalleDireccionDestino(Detalle.DireccionDestino)">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12" ng-show="AplicaManoObra">
                                            <div class="form-group">
                                                <label for="valormanoobra">Valor Mano Obra</label>
                                                <input ng-change="MaskValores()" style="text-align:right" maxlength="15" class="form-control" name="valormanoobra" id="valormanoobra" ng-model="ValorManoObra" ng-blur="AsignarValorManoObra(ValorManoObra)">
                                                <small class="errorField" ng-show="ValidarvalorManoObra">
                                                    Solo se permiten números del 0 a 9999999999
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12" ng-show="AplicaValores">
                                            <div class="form-group">
                                                <label for="valorrepuestos">Valor Repuestos</label>
                                                <input ng-change="MaskValores()" style="text-align:right" maxlength="15" class="form-control" name="valortotal" id="valorrepuestos" ng-model="ValorRepuestos" ng-blur="AsignarValorRepuestos(ValorRepuestos)">
                                                <small class="errorField" ng-show="Validarvalorrepuestos">
                                                    Solo se permiten números del 0 a 9999999999
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-4 col-xs-12">
                                        <div class="col-md-12 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <div class="input-control text full-size" data-role="input">
                                                    <label for="descripcion">Descripción</label>
                                                    <textarea class="form-control" maxlength="150" name="Descripcion" type="text" ng-model="Descripcion" ng-blur="AsignarObservaciones(Observaciones)"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        Cancelar
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                    </button>
                                    <button ng-if="ModificarDetalle == 0" type="button" class="btn btn-primary" title="Adicionar recorrido" ng-click="GuardarDetalleMantenimiento();">
                                        Aceptar
                                        <span class="glyphicon glyphicon-ok-circle"></span>
                                    </button>
                                    <button ng-if="ModificarDetalle == 1" type="button" class="btn btn-primary" title="Modificar recorrido" ng-click="ModificarDetallePlan();">
                                        Aceptar
                                        <span class="glyphicon glyphicon-ok-circle"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalAsociacion" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-content">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Asociar Referencias Almacén</strong>
                        </h4>
                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorAsociacion.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesErrorAsociacion">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-4 col-xs-12">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label for="sistemaMantenimiento">Sistema </label>
                                                <select title="Seleccione Sistema" data-style="btn-white" id="tiposistema2" data-live-search="true" name="tiposistema" class="form-control" ng-model="SistemaMantenimiento" ng-options="i.Nombre for i in ListadoSistemaMantenimiento" ng-change="FiltrarSubsistema()"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label for="tiposubsistema">Subsistema</label>
                                                <select id="tiposubsistema2" data-style="btn-white" data-live-search="true" name="tiposubsistema2" class="form-control" ng-model="SubsistemaMantenimiento" ng-options="i.Nombre for i in ListadoSubsistemaFiltrado" ng-change="AplicarCampos(SubsistemaMantenimiento)" ng-blur="AsignarZonas(ModalZona)"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label for="referencia">Referencia Almacen</label>
                                                <div style="display:flex">
                                                    <select id="CmbReferencia" data-style="btn-white" class="form-control" data-live-search="true" name="referencia" ng-model="Referencia" ng-options="i as i.NombreCompleto for i in ListadoReferencias | orderBy:'Nombre'" title="Seleccione una referencia"></select>
                                                    <button class="btn btn-success" id="btnadicionar" type="button" title="Adicionar Conductor" ng-click="AdicionarReferenacia()" ng-disabled="Deshabilitar">
                                                        Adicionar
                                                        <span class="glyphicon glyphicon-ok-circle"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered table-hover table-condensed">
                                                    <thead>
                                                        <tr>
                                                            <th>Referencia</th>
                                                            <th>Cantidad</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in ReferenciasTemporales">
                                                            <td width="65%">{{item.NombreCompleto}}</td>
                                                            <td width="25%">
                                                                <input ng-change="MaskNumero()" lista="ReferenciasTemporales" style="text-align:right" name="cantidad" class="form-control" type="text" maxlength="10" ng-model="item.Cantidad" ng-required="true" placeholder="Ingrese la cantidad">
                                                            </td>
                                                            <td width="10%">
                                                                <button class="button mini-button primary" title="Eliminar" data-toggle="tooltip" ng-click="ReferenciasTemporales.splice($index, 1)">
                                                                    <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        Cancelar
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                    </button>
                                    <button type="button" class="btn btn-primary" title="Adicionar recorrido" ng-click="GuardarAsosiacionReferanciaMantenimiento();">
                                        Aceptar
                                        <span class="glyphicon glyphicon-ok-circle"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
