﻿<div >
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <section class="content-header">
        <h1>TAREAS MANTENIMIENTO</h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="box-group" id="accordion">
                        <div class="panel box box-primary">
                            <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true">
                                <div class="box-body">



                                    <form>
                                        <div id="filtrosConsulta">
                                            <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                                                <ul>
                                                    <li ng-repeat="error in MensajesError">
                                                        <span>{{error}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="row">

                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="equipo">Nombre</label>
                                                        <input type="text" class="form-control" data-style="btn-white" ng-model="Modelo.Nombre" maxlength="50" ng-change="MaskMayus()">
                                                    </div>
                                                </div>

                                                <div class="col-md-2 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="fecha">Fecha </label>
                                                        <input name="fecha" type="date" class="form-control" ng-model="ModeloFecha" ng-disabled="Deshabilitar" ng-blur="AsignarFecha(ModeloFecha)">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="equipo">Equipo</label>
                                                        <select id="equipo" data-live-search="true" class="form-control" data-style="btn-white" ng-model="EquipoMantenimiento" ng-options="i.Nombre for i in ListadoEquipoMantenimiento"></select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label>  Placa <small class="errorField" ng-show="myform.placa.$error.required">*</small></label>
                                                        <input maxlength="6" type="text" class="form-control" name="placa" id="placa" typeahead-no-results="myform.placa.$error.required" ng-model="EquipoMantenimiento.Vehiculo.Placa" ng-disabled="true">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="cantidad">Valor Actual Uso</label>
                                                        <input style="text-align:right" ng-change="MaskValores()" maxlength="8" name="cantidad" class="form-control" type="text" ng-model="KmUso" ng-required="true" placeholder="Ingrese el valor actual de uso">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="estado">Estado</label>
                                                        <select name="estado" class="form-control" ng-model="Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                                                    </div>
                                                </div>

                                                <div class="col-md-12 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <div class="input-control text full-size" data-role="input">
                                                            <label for="descripcion">Descripción</label>
                                                            <textarea class="form-control" maxlength="100" name="Descripcion" type="text" ng-model="Descripcion" ng-blur="AsignarObservaciones(Observaciones)"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pull-left">
                                                    <button class="btn btn-block btn-primary" ng-click="InicializarDetalle()" ng-disabled="Deshabilitar" title="Nuevo Movimiento">
                                                        Adicionar
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                </div>
                                                <br />
                                                <hr />
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title"> Detalle</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div id="resultadoConsulta" class="table-responsive" ng-show="ListadoDetalleMantenimiento.length > 0">
                                    <table class="table table-striped table-bordered table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Sistema</th>
                                                <th>Subsistema</th>
                                                <th>Unidad Medida Uso</th>
                                                <th>Valor Actual Uso</th>
                                                <th>Cantidad</th>
                                                <th>Tipo Mantenimiento</th>
                                                <th>Subtotal</th>
                                                <th>Valor IVA</th>
                                                <th>Valor Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in ListadoDetalleMantenimiento | orderBy: 'SistemaMantenimiento.Nombre'">
                                                <td>{{item.SistemaMantenimiento.Nombre}}</td>
                                                <td>{{item.SubsistemaMantenimiento.Nombre}}</td>
                                                <td>{{item.UnidadReferenciaMantenimiento.NombreCorto}}</td>
                                                <td style="text-align:right">{{KmUso}}</td>
                                                <td>{{item.Cantidad}}</td>
                                                <td>{{item.TipoMantenimiento.Nombre}}</td>
                                                <td style="text-align:right">{{item.Valor | number :0}}</td>
                                                <td style="text-align:right">{{item.ValorIva | number :0}}</td>
                                                <td style="text-align:right">{{item.ValorTotal | number :0}}</td>
                                                <td>
                                                    <button class="button mini-button primary" title="Editar" ng-click="EditarDetalleTarea(item)" ng-disabled="Deshabilitar">
                                                        <span class="fa fa-edit"></span>
                                                    </button>
                                                    <button class="button mini-button primary" title="Anular" ng-click="ConfirmacionEliminarDetalle($index)" ng-disabled="Deshabilitar == true">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                      
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                                    Cancelar
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button type="button" class="btn btn-primary" ng-disabled="Deshabilitar" title="Aceptar" ng-click="ConfirmacionGuardarTarea()">
                                    Aceptar
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Confirmación Guardar Tarea -->
        <div class="modal fade" id="modalConfirmacionGuardarTarea" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <form autocomplete="off">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">
                                GESTRANS.NET PASAJEROS
                            </h4>
                        </div>

                        <div class="modal-body">
                            <p>¿Está seguro de guardar la información?</p>
                        </div>

                        <div class="modal-footer">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Cancelar
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                    Aceptar
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <!-- Modal Confirmación Eliminar detalle -->
        <div class="modal fade" id="modalEliminarDetalle" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <form autocomplete="off">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">
                                GESTRANS.NET PASAJEROS
                            </h4>
                        </div>

                        <div class="modal-body">
                            <p>¿Esta seguro que desea eliminar el detalle de la tarea de mantenimiento ?</p>
                        </div>
                        <div class="modal-footer">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Cancelar
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button type="button" class="btn btn-primary" title="Eliminar tarifa" ng-click="EliminarDetalle(Indice)">
                                    Aceptar
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <div class="modal fade" id="modalMantenimiento" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form autocomplete="off">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">
                                <strong>Detalle Tarea Mantenimiento</strong>
                            </h4>
                           
                        </div>
                        <div class="modal-body">
                            <div class="box box-default box-solid">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-4 col-xs-12">

                                            <div class="alert alert-danger" role="alert" ng-if="MensajesErrorDetalle.length > 0">
                                                <ul>
                                                    <li ng-repeat="error in MensajesErrorDetalle">
                                                        <span>{{error}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label for="sistemaMantenimiento">Sistema</label>
                                                    <select title="Seleccione Sistema" data-style="btn-white" id="tiposistema" data-live-search="true" name="sistemaMantenimiento" class="form-control" ng-model="SistemaMantenimiento" ng-options="i.Nombre for i in ListadoSistemaMantenimiento" ng-change="FiltrarSubsistema()"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-3 col-xs-12">
                                                <div class="form-group">
                                                    <label for="tiposubsistema">Subsistema</label>
                                                    <select id="tiposubsistema" data-style="btn-white" data-live-search="true" name="tiposubsistema" class="form-control" ng-model="SubsistemaMantenimiento" ng-options="i.Nombre for i in ListadoSubsistemaFiltrado" ng-change="AplicarCampos(SubsistemaMantenimiento.Nombre)" ng-blur="AsignarZonas(ModalZona)"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label for="unidadfrecuencia">Unidad Medida Uso</label>
                                                    <select name="unidadfrecuencia" class="form-control" ng-model="UnidadReferenciaMantenimiento" ng-options="i.NombreCorto for i in ListadoUnidadReferenciaMantenimiento"></select>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label for="tipomantenimiento">Tipo Mantenimiento</label>
                                                    <select name="tipomantenimiento" class="form-control" ng-model="TipoMantenimiento" ng-options="i.CampoAuxiliar2 for i in ListadoTipoMantenimiento | orderBy: 'CampoAuxiliar2'"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label for="cantidad">Cantidad</label>
                                                    <input ng-change="MaskNumero()" maxlength="15" name="cantidad" class="form-control" type="text" ng-model="Cantidad" ng-required="true" placeholder="Ingrese la cantidad" ng-blur="ModificarDetalleDireccionDestino(Detalle.DireccionDestino)">
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label for="proveedor">Proveedor</label>
                                                    <input type="text" class="form-control" name="proveedor" maxlength="50" id="proveedor" placeholder="Seleccione un proveedor" ng-model="Proveedor" typeahead-no-results="myform.proveedor.$error.required" uib-typeahead="proveedor as proveedor.NombreCompleto for proveedor in ListadoProveedores| filter:$viewValue | limitTo: 5" ng-required="true" ng-blur="Asignarproveedor(Proveedorr)">
                                                    <div ng-if="myform.proveedor.$error.required && Longitudproveedor > 0">
                                                        <i class="glyphicon glyphicon-remove"></i><small class="errorField"> El proveedor no existe</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box box-default box-solid">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Factura</h3>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-4 col-xs-12">
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="numero">Número Factura</label>
                                                        <input name="numero" ng-change="MaskNumero()" maxlength="15" type="text" class="form-control" ng-model="NumeroFactura">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="fechafactura">Fecha Factura</label>
                                                        <input name="factura" class="form-control" type="date" ng-model="FechaFactura">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="fechavencegarantia">Fecha Vence Garantia</label>
                                                        <input name="fechavencegarantia" class="form-control" type="date" ng-model="FechaVenceGarantia">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="subtotal">Subtotal</label>
                                                        <input style="text-align:right" ng-change="MaskNumero();MaskValores()" maxlength="10" class="form-control" name="subtotal" id="subtotal" ng-model="Subtotal" ng-blur="CalcularTotal()">

                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="valoriva">Valor IVA</label>
                                                        <input style="text-align:right" ng-change="MaskNumero(); MaskValores()" maxlength="10" class="form-control" name="valoriva" id="valoriva" ng-model="ValorIVA" ng-blur="CalcularTotal()">

                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="valortotal">Valor Total</label>
                                                        <input style="text-align:right" ng-change="MaskValores()" maxlength="15" class="form-control" name="valortotal" id="valortotal" ng-model="ValorTotal" disabled>
                                                        <small class="errorField" ng-show="Validarvalortotal">
                                                            Solo se permiten números del 0 a 9999999999
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            Cancelar
                                            <span class="glyphicon glyphicon-remove-circle"></span>
                                        </button>
                                        <button ng-if="ModificarDetalle == 0" type="button" class="btn btn-primary" title="Adicionar recorrido" ng-click="GuardarDetalleMantenimiento();">
                                            Aceptar
                                            <span class="glyphicon glyphicon-ok-circle"></span>
                                        </button>
                                        <button ng-if="ModificarDetalle == 1" type="button" class="btn btn-primary" title="Modificar recorrido" ng-click="ModificarDetalleTarea();">
                                            Aceptar
                                            <span class="glyphicon glyphicon-ok-circle"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>