﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR AUTORIZACIONES</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="lblEstado">Tipo Solicitud</label>
                            <select name="cmbEstado" class="form-control" ng-model="Modelo.TipoSolicitudAutorizacionOperaciones" ng-options="i.Nombre for i in ListadoTipoSolicitudAutorizacionOperaciones"></select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fechainicial">Fecha Inicio</label>
                            <input name="fechainicial" type="date" class="form-control" ng-model="Modelo.FechaInicioAutoriza">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fechaFinal">Fecha Fin</label>
                            <input name="fechaFinal" type="date" class="form-control" ng-model="Modelo.FechaFinAutoriza">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblEstado">Estado</label>
                            <select class="form-control" ng-model="Modelo.EstadoSolicitudAutorizacionOperaciones" ng-options="i.Nombre for i in ListadoEstadoSolicitudAutorizacionOperaciones" ng-change="paginaActual=1;Buscar()"></select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Usuario Solicita</label>
                            <input class="form-control" ng-model="Modelo.UsuarioSolicita">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Usuario Autoriza</label>
                            <input class="form-control" ng-model="Modelo.UsuarioAutoriza">
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" ng-click="paginaActual=1;Buscar()" title="Buscar" ng-disabled="DeshabilitarConsulta">
                        Buscar
                        <span class="glyphicon glyphicon-filter"></span>
                    </button>
                </div>
                <!--<div class="pull-right">
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" ng-disabled="DeshabilitarActualizar" ng-click="NuevoDocumento()" title="Nueva Oficina">
                            Nuevo
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>-->
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoSolicitudes.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th>Número</th>
                                <th>Tipo Solicitud</th>
                                <th>Usuario Solicita</th>
                                <th>Fecha Solicitud</th>
                                <th ng-show="!(Modelo.EstadoSolicitudAutorizacionOperaciones.Codigo == 18301 || Modelo.EstadoSolicitudAutorizacionOperaciones.Codigo == 18303)">Usuario Gestiona</th>
                                <th ng-show="!(Modelo.EstadoSolicitudAutorizacionOperaciones.Codigo == 18301 || Modelo.EstadoSolicitudAutorizacionOperaciones.Codigo == 18303)">Fecha Gestiona</th>
                                <th>Estado</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoSolicitudes">
                                <td>{{item.Codigo}}</td>
                                <td>{{item.TipoAutorizacion.Nombre}}</td>
                                <td>{{item.UsuarioSolicita.Nombre}}</td>
                                <td>{{item.FechaSolicita  | date: 'dd/MM/yyyy HH:mm'}}</td>
                                <td ng-show="!(Modelo.EstadoSolicitudAutorizacionOperaciones.Codigo == 18301 || Modelo.EstadoSolicitudAutorizacionOperaciones.Codigo == 18303)">{{item.UsuarioGestion.Nombre}}</td>
                                <td ng-show="!(Modelo.EstadoSolicitudAutorizacionOperaciones.Codigo == 18301 || Modelo.EstadoSolicitudAutorizacionOperaciones.Codigo == 18303)"> <span>{{item.FechaAutoriza  | date: 'dd/MM/yyyy HH:mm'}}</span> </td>
                                <td>
                                    <span ng-if="item.EstadoAutorizacion.Codigo == 18301" class="label label-warning">PENDIENTE</span>
                                    <span ng-if="item.EstadoAutorizacion.Codigo == 18302" class="label label-success">AUTORIZADO</span>
                                    <span ng-if="item.EstadoAutorizacion.Codigo == 18303" class="label label-danger">RECHAZADO</span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Gestionar Solicitud" ng-show="item.EstadoAutorizacion.Codigo == 18301" ng-click="GestionarSolicitud(item)">
                                        <span class="glyphicon glyphicon-cog"></span>
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>


    <div class="modal fade" id="ModalGestionarSolicitud" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Detalle Solicitud</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Tipo Solicitud</label>
                                            <p type="text" class="form-control">{{Solicitud.TipoAutorizacion.Nombre}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Fecha Solicitud</label>
                                            <p type="text" class="form-control">{{Solicitud.FechaSolicita | date: 'dd/MM/yyyy HH:mm'}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Usuario Solicita</label>
                                            <p type="text" class="form-control">{{Solicitud.UsuarioSolicita.Nombre}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Observaciones Solicita</label>
                                            <textarea type="text" class="form-control" ng-model="Solicitud.ObservacionSolicita" disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="Solicitud.TipoAutorizacion.Codigo == 18401">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Estudio Seguridad</label>
                                            <p type="text" class="form-control">{{Solicitud.EstudioSeguridad.NumeroDocumento}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Número Autorizacion</label>
                                            <p type="text" class="form-control">{{Solicitud.NumeroAutorizacion}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="Solicitud.TipoAutorizacion.Codigo == 18402">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Planilla</label>
                                            <p type="text" class="form-control">{{Solicitud.PlanillaDespacho.NumeroDocumento}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Vahículo</label>
                                            <p type="text" class="form-control">{{Solicitud.Vehiculo.Placa}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor Anticipo</label>
                                            <input class="form-control" ng-model="Solicitud.Valor" maxlength="20" ng-change="MaskValores()">
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="Solicitud.TipoAutorizacion.Codigo == 18404">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Vahículo</label>
                                            <p type="text" class="form-control">{{Solicitud.Vehiculo.Placa}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Conductor</label>
                                            <p type="text" class="form-control">{{Solicitud.Vehiculo.Conductor.NombreCompleto}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Teléfono</label>
                                            <p type="text" class="form-control">{{Solicitud.Vehiculo.Conductor.Celulares}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Gestionar Solicitud</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblEstado">Accion solicitud</label>
                                            <select name="cmbEstado" class="form-control" ng-model="Modelo.EstadoAcccion" ng-options="i.Nombre for i in LidatosAcciones"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <div class="input-control text full-size" data-role="input">
                                                <label for="observaciones">Observaciones</label>
                                                <textarea class="form-control" maxlength="200" name="observaciones" type="text" ng-model="Modelo.Observaciones" ng-disabled="Deshabilitar"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button class="btn btn-primary" data-dismiss="modal" title="Aceptar" ng-click="ActualizarSolicitud()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>

                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>