﻿<div >
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <section class="content-header">
        <h1>CONSULTAR SUBSISTEMAS DE MANTENIMIENTO</h1>
    </section>
    <section class="content">
        <form>
            <div id="filtrosConsulta">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="ruta">Subsistema</label>
                            <input placeholder="Ingrese nombre" name="ruta" maxlength="50" type="text" class="form-control" ng-model="Nombre" ng-change="MaskMayus()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="ruta">Código Alterno</label>
                            <input placeholder="Ingrese Código Alterno" name="ruta" maxlength="20" type="text" class="form-control" ng-model="CodigoAlterno" ng-change="MaskMayus()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="sistemaMantenimiento">Sistema Mantenimiento</label>
                            <select id="sistemaMantenimiento" data-style="btn-white" name="sistemaMantenimiento" data-live-search="true" class="form-control"
                                    ng-model="SistemaMantenimiento" ng-options="i.Nombre for i in ListadoSistemaMantenimiento"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="tiposubsistema">Tipo Subsistema</label>
                            <select name="tiposubsistema" class="form-control" ng-model="TipoSubSistema" ng-options="i.Nombre for i in ListadoTipoSistemaMantenimiento"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <select name="estado" class="form-control" ng-model="Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>

                <div id="lineButtons">
                    <div class="pull-left">
                        <button class="btn btn-block btn-primary" ng-click="Buscar()" title="Buscar " ng-disabled="DeshabilitarConsulta">
                            Buscar
                            <span class="glyphicon glyphicon-filter"></span>
                        </button>
                    </div>

                    <div class="pull-right">
                        <div class="pull-right">
                            <button class="btn btn-block btn-primary" ng-disabled="DeshabilitarActualizar" ng-click="NuevoDocumento()" title="Nuevo Ssitema">
                                Nuevo
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </div>

                </div>

                <br />
                <br />


                <div id="resultadoConsulta" class="table-responsive" ng-show="ListadoSubSistemaMantenimiento.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Subsistema</th>
                                <th>Código Alterno</th>
                                <th>Sistema</th>
                                <th>Tipo Subsistema</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoSubSistemaMantenimiento | orderBy:'SistemaMantenimiento.Nombre' | orderBy:'Nombre' ">
                                <td><a href="#!GestionarSubsistemas/{{item.Codigo}}">{{item.Nombre}}</a></td>
                                <td>{{item.CodigoAlterno}}</td>
                                <td>{{item.SistemaMantenimiento.Nombre}}</td>
                                <td>{{item.TipoSubsistema.Nombre}}</td>
                                <td>
                                    <span ng-if="item.Estado.Codigo == 0" class="label pull-center bg-red">Inactiva</span>
                                    <span ng-if="item.Estado.Codigo == 1" class="label label-success">Activa</span>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </section>



</div>
