﻿<div >

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li ng-repeat="opcion in MapaSitio"> 
            {{opcion.Nombre}}
        </li>
    </ol>

    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>

    <section class="content" tabindex="-1">
        <div class="row">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="box-group" id="accordion">
                        <div class="panel box box-primary">

                            <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true">
                                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                                    <ul>
                                        <li ng-repeat="error in MensajesError">
                                            <span>{{error}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="box-body">
                                    <form name="myform">
                                        <div id="infoBasica">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-7 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Nombre</label>
                                                        <input placeholder="Ingrese nombre" ng-change="MaskMayus()" name="txtNombre" type="text" maxlength="50" class="form-control" ng-model="Modelo.Nombre">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Código Alterno</label>
                                                        <input placeholder="Ingrese Código Alterno" ng-change="MaskMayus()" name="txtNombre" type="text" maxlength="20" class="form-control" ng-model="Modelo.CodigoAlterno">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="lineamantenimiento">Línea Mantenimiento</label>
                                                        <select name="lineamantenimiento" class="form-control"
                                                                ng-model="LineaMantenimiento" 
                                                                ng-options="i.Nombre for i in ListadoLineaMantenimiento | orderBy:'Nombre'"></select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-3 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="lblEstado">Estado</label>
                                                        <select name="cmbEstado" class="form-control"
                                                                ng-model="Modelo.Estado" ng-options="i.Nombre for i in ListadoEstados"
                                                                ></select>
                                                    </div>


                                                  
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Confirmación Guardar sistema -->
                    <div class="modal fade" id="modalConfirmacionGuardarSistema" tabindex="-1" role="dialog" data-backdrop="static">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <form autocomplete="off">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">
                                            GESTRANS.NET CARGA
                                        </h4>
                                    </div>

                                    <div class="modal-body">
                                        <p>¿Está seguro de guardar la información?</p>
                                    </div>

                                    <div class="modal-footer">
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                Cancelar
                                                <span class="glyphicon glyphicon-remove-circle"></span>
                                            </button>
                                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                                Aceptar
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
                </div>
            </div>

            <div class="pull-right">
                <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                    Cancelar
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
                <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardarSistema()">
                    Aceptar
                    <span class="glyphicon glyphicon-ok-circle"></span>
                </button>


            </div>

        </div>

    </section>
</div>