﻿<div >
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li ng-repeat="opcion in MapaSitio"> 
            {{opcion.Nombre}}
        </li>
    </ol>
    <section class="content-header">
        <h1>MARCA EQUIPO MANTENIMIENTO</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="box-group" id="accordion">
                        <div class="panel box box-primary">
                            <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true">
                                <div class="box-body">
                                    <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                                        <a name="arriba"></a>
                                        <ul>
                                            <li ng-repeat="error in MensajesError">
                                                <span>{{error}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <form name="myform" autocomplete="off">
                                        <div class="row">
                                           
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label>Nombre</label>
                                                    <input ng-change="MaskMayus()" maxlength="20" type="text" class="form-control" placeholder="Nombre" ng-disabled="Deshabilitar" ng-model="Modelo.Nombre">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label>Código Alterno</label>
                                                    <input maxlength="20" type="text" class="form-control" placeholder="Nombre" ng-disabled="Deshabilitar" ng-model="Modelo.CodigoAlterno">
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label for="estado">Estado</label>
                                                    <select name="estado" class="form-control" ng-model="Modelo.Estado" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoEstados | orderBy: 'Nombre'"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <br>
                                <hr>
                            </div>
                            <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <form autocomplete="off">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title">
                                                    GESTRANS.NET CARGA
                                                </h4>
                                            </div>

                                            <div class="modal-body">
                                                <p>¿Está seguro de guardar la información?</p>
                                            </div>

                                            <div class="modal-footer">
                                                <div class="pull-right">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeModal('modalConfirmacionGuardar',1)">
                                                        Cancelar
                                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                                        Aceptar
                                                        <span class="glyphicon glyphicon-ok-circle"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
                            <div class="modal-footer">
                                <div class="pull-right">
                                    <a class="btn btn-default" ng-click="VolverMaster()">
                                        Cancelar
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                    </a>
                                    <button type="button" class="btn btn-primary" ng-disabled="Deshabilitar" title="Aceptar" onclick="showModal('modalConfirmacionGuardar')">
                                        Aceptar
                                        <span class="glyphicon glyphicon-ok-circle"></span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
