﻿<div >
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <section class="content-header">
        <h1>GESTIONAR EQUIPO MANTENIMIENTO</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="box-group" id="accordion">
                        <div class="panel box box-primary">
                            <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true">
                                <div class="box-body">
                                    <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                                        <a name="arriba"></a>
                                        <ul>
                                            <li ng-repeat="error in MensajesError">
                                                <span>{{error}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <form name="myform" autocomplete="off">
                                        <div class="row">

                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label>Nombre</label>
                                                    <input ng-change="MaskMayus()" maxlength="30" type="text" class="form-control" placeholder="Nombre" ng-disabled="Deshabilitar" ng-model="Nombre">
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label>Código Alterno</label>
                                                    <input ng-change="MaskNumero()" maxlength="20" type="text" class="form-control" placeholder="Codigo Alterno" ng-disabled="Deshabilitar" ng-model="Codigo_Alterno">
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label for="estado">Unidad Frecuencia</label>
                                                    <select name="estado" class="form-control" ng-model="UnidadFrecuencia" ng-disabled="Deshabilitar" ng-options="i.NombreCorto for i in ListadoUnidadFrecuenciaMantenimiento | orderBy: 'NombreCorto'"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label>Valor Actual Uso</label>
                                                    <input ng-change="MaskValores()" maxlength="8" type="text"
                                                           class="form-control text-right" placeholder="Valor Actual Uso"
                                                           ng-disabled="Deshabilitar" ng-model="ValorUso">
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label for="estado">Estado Mantenimiento</label>
                                                    <select name="estado" class="form-control" ng-model="EstadoMantenimiento" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoEstadoMantenimiento | orderBy:'Nombre'"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label for="estado">Tipo Equipo</label>
                                                    <select name="estado" class="form-control" ng-model="TipoEquipo" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoTipoEquipo"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label for="estado">Placa</label>
                                                    <input ng-change="MaskPlaca()" type="text" 
                                                           class="form-control" maxlength="6" name="placa" id="placa" placeholder="placa"
                                                           ng-blur="AutocompleteVehiculos(Placa);AsignarDatosVehiculo(Placa)" 
                                                           typeahead-no-results="myform.placa.$error.required"
                                                           ng-model="Placa" 
                                                           uib-typeahead="Vehiculo as Vehiculo.Placa for Vehiculo in AutocompleteVehiculos($viewValue)| filter:$viewValue | limitTo: 5" ng-disabled="Deshabilitar">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label for="estado">Propietario</label>
                                                    <input ng-change="MaskMayus()" maxlength="60" type="text" class="form-control" name="propietario" id="propietario" placeholder="Seleccione un propietario" ng-model="Propietario" typeahead-no-results="myform.propietario.$error.required" uib-typeahead="propietarios as propietarios.NombreCompleto for propietarios in ListadoPropietarios| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="VerificarAutocomplete(Propietario)">
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label for="estado">Modelo</label>
                                                    <input ng-change="MaskNumero()" maxlength="4" type="text" class="form-control text-right" placeholder="Modelo" ng-disabled="Deshabilitar" ng-model="ModeloEquipo">
                                                </div>
                                            </div>

                                            <div class="col-md-2 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label for="estado">Capacidad De Cargue</label>
                                                    <input ng-change="MaskNumero()"
                                                           maxlength="4" type="text" class="form-control text-right"
                                                           placeholder="Capacidad De Cargue"
                                                           ng-disabled="Deshabilitar" ng-model="CapacidadCargue">
                                                </div>
                                            </div>

                                            <div class="col-md-2 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label for="estado">Ancho</label>
                                                    <input ng-change="MaskNumero()"
                                                           maxlength="4" type="text"
                                                           class="form-control text-right"
                                                           placeholder="Ancho" ng-disabled="Deshabilitar" ng-model="Ancho">
                                                </div>
                                            </div>

                                            <div class="col-md-2 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label for="estado">Largo</label>
                                                    <input ng-change="MaskNumero()"
                                                           maxlength="4" type="text" class="form-control text-right"
                                                           placeholder="Largo" ng-disabled="Deshabilitar" ng-model="Largo">
                                                </div>
                                            </div>

                                            <div class="col-md-2 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label for="estado">Alto</label>
                                                    <input ng-change="MaskNumero()"
                                                           maxlength="4" type="text"
                                                           class="form-control text-right" placeholder="Alto"
                                                           ng-disabled="Deshabilitar" ng-model="Alto">
                                                </div>
                                            </div>

                                            <div class="col-md-2 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label for="estado">Marca</label>
                                                    <select name="estado" class="form-control" ng-model="Marca" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoMarcasMantenimiento"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label for="estado">Serie</label>
                                                    <input ng-change="MaskMayus()" maxlength="50" type="text" class="form-control" placeholder="Serie" ng-disabled="Deshabilitar" ng-model="Serie">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="box box-default box-solid">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Documentos</h3>
                                                <div class="box-tools pull-right">
                                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                                </div>
                                            </div>
                                            <div class="box-body">

                                                <div class="row" style="padding-left:1%;padding-right:1%">
                                                    <table class="table table-striped table-bordered table-hover table-condensed">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-md-9">Referencia</th>
                                                                <th class="col-md-3">Opciones</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="item in ListadoDocumentos">
                                                                <td><input ng-change="MaskMayus()" maxlength="50" type="text" class="form-control" placeholder="Referencia" ng-disabled="Deshabilitar" ng-model="item.Referencia"></td>
                                                                <td>
                                                                    <div tabindex="400" class="btn btn-primary btn-file" data-toggle="tooltip" title="Subir Archivo">
                                                                        <i class="glyphicon glyphicon-folder-open"></i>
                                                                        <input type="file" ng-model-instant onchange="angular.element(this).scope().CargarPDF(this)" accept="application/pdf" class="">
                                                                    </div>
                                                                    <button ng-if="item.ValorDocumento == 1 " tabindex="400" class="btn btn-success btn-file" data-toggle="tooltip" title="Ver Archivo" ng-click="DesplegarArchivo(item.ID_Documento,item.Referencia)">
                                                                        <i class="glyphicon glyphicon-file"></i>
                                                                    </button>
                                                                    <button tabindex="400" class="btn btn-danger btn-file" data-toggle="tooltip" title="Eliminar Archivo" ng-click="SolicitarDatosEliminarDocumento(item)">
                                                                        <i class="fa fa-trash-alt"></i>
                                                                    </button>
                                                                    <span class="glyphicon glyphicon-ok" style="color:green" ng-if="item.Documento != '' " data-toggle="tooltip" title="Documento Cargado"></span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="pull-right">
                                                        <div class="pull-right">
                                                            <button class="btn btn-block btn-primary" ng-disabled="DeshabilitarActualizar" ng-click="NuevoDocumento()" title="Nuevo">
                                                                Nuevo Documento
                                                                <span class="glyphicon glyphicon-plus"></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-sm-4 col-xs-12 "  >
                                            <div class="form-group">
                                                <label for="estado">Estado</label>
                                                <select name="estado" class="form-control" ng-model="Estado" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoEstados |orderBy: 'Nombre'"></select>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <br>
                                <hr>
                            </div>
                            <div class="modal fade" id="modalConfirmacionRemplazarDocumento" tabindex="-1" role="dialog" data-backdrop="static">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <form autocomplete="off">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title">
                                                    GESTRANS.NET CARGA
                                                </h4>
                                            </div>

                                            <div class="modal-body">
                                                <p>Ya hay un documento asignado ¿Desea remplazarlo?</p>
                                            </div>

                                            <div class="modal-footer">
                                                <div class="pull-right">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ResetTemp">
                                                        Cancelar
                                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="RemplazarDocumento()">
                                                        Aceptar
                                                        <span class="glyphicon glyphicon-ok-circle"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
                            <div class="modal fade" id="modalConfirmacionEliminarDocumento" tabindex="-1" role="dialog" data-backdrop="static">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <form autocomplete="off">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title">
                                                    GESTRANS.NET CARGA
                                                </h4>
                                            </div>

                                            <div class="modal-body">
                                                <p id="mensajearchivo"></p>
                                            </div>

                                            <div class="modal-footer">
                                                <div class="pull-right">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                        Cancelar
                                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="BorrarDocumento()">
                                                        Aceptar
                                                        <span class="glyphicon glyphicon-ok-circle"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
                            <div class="modal-footer">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                                        Cancelar
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                    </button>
                                    <button type="button" class="btn btn-primary" ng-disabled="Deshabilitar" title="Aceptar" ng-click="ConfirmacionGuardar()">
                                        Aceptar
                                        <span class="glyphicon glyphicon-ok-circle"></span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
