﻿<div  ng-init="InitLoad()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <section class="content">
        <form>
            <div class="row">

                <div class="col-md-2 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label for="Numero">Tipo Planilla</label>
                        <select name="cmbEstado" class="form-control" ng-model="TipoPlanilla"
                                ng-options="i.Nombre for i in ListadoTipoPlanillas | orderBy:'Nombre'"></select>
                    </div>
                </div>


                <div class="col-md-2 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label for="Numero">Planilla</label>
                        <input type="text" name="cmbEstado" class="form-control" ng-model="Planilla.NumeroDocumento" ng-blur="ValidarPlanilla()"
                                />
                    </div>
                </div>

                <!--<div class="col-md-3 col-sm-3 col-xs-12">
        <div class="form-group">
            <label for="CiudadOrigen">Ciudad</label>
            <input type="text" class="form-control" name="CiudadOrigen" maxlength="50" id="ModeloCiudadOrigen" placeholder="Ingrese una Ciudad Origen"
                   ng-model="Modelo.CiudadDestinatario"
                   uib-typeahead="i as i.NombreCompleto for i in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5 | orderBy:'Nombre'"
                   ng-required="false" ng-blur="Modelo.CiudadDestinatario=VerificarAutocomplete(Modelo.CiudadDestinatario)" autocomplete="off">
        </div>
    </div>

    <div class="col-md-2 col-sm-3 col-xs-12">
        <div class="form-group">
            <label for="Numero">Barrio</label>
            <input type="text" name="Barrio" class="form-control" ng-model="Modelo.Barrio" placeholder="Ingrese un Barrio">
        </div>
    </div>-->
                <!--<div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form-group">
            <label>Recoger Oficina Destino</label>
            <br />
            <input tabindex="1" type="checkbox" ng-model="Modelo.RecogerOficina" style="width:15px;height:15px" ng-disabled="Deshabilitar" />
        </div>
    </div>-->
                <!--<div class="col-md-2 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label for="Numero">Zona</label>
                        <input type="text" name="Barrio" class="form-control" ng-model="Modelo.Zona" placeholder="Ingrese una Zona">
                    </div>-->
            <!--</div>-->

            </div>
            <div class="SeccionBotones">                
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" title="Buscar"
                            ng-disabled="DeshabilitarConsulta" ng-click="Procesar()" ng-show="ListadoDetallesPlanilla.length > 0">
                        Procesar
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>

            </div>

            <br />
            <br />
            <!--RESULTADO CONSULTA-->
            <div class="row">
                <div class="col-md-12">
                    <div id="ResultadoConsulta">
                        <div class="table-responsive" ng-if="ListadoDetallesPlanilla.length > 0">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <!--<th></th>-->
                                        <th>Secuencia</th>
                                        <th>Número</th>
                                        <th>Ciudad</th>
                                        <th>Zona</th>
                                        <th>Barrio</th>
                                        <th>Dirección</th>

                                        <!--<th>Ciudad</th>

                                        <th>Destinatario</th>
                                        <th>Teléfono</th>
                                        <th>Cantidad</th>
                                        <th>Peso (Kg)</th>
                                        <th>Estado</th>
                                        <th>Forma Pago</th>






                                        <th>Valor Total</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoDetallesPlanilla">
                                        <!--<td>
                                            <div class="dropdown">
                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                    <span class="fa fa-list"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-left" style="overflow-y:scroll; max-height:100px">
                                                    <li ng-show="item.Tipo == 1 && item.Estado != 6030 && item.Estado != 6035">
                                                        <a ng-click="Entrega(item)">
                                                            <span class="fa fa-truck"></span>Entrega
                                                        </a>
                                                    </li>

                                                    <li ng-show="item.Tipo == 1 && item.Estado != 6035">
                                                        <a ng-click="Devolucion(item)">
                                                            <span class="fa fa-undo" style="font-size:18px"></span>Devolución
                                                        </a>
                                                    </li>
                                                    <li ng-show="item.Tipo == 2 && item.Estado != 21801">
                                                        <a ng-click="Recolectar(item)">
                                                            <span class="fa fa-truck" style="font-size:18px"></span>Recolectar
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a ng-click="Remitente(item)">
                                                            <span class="fas fa-info"></span>Ver Remitente
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a ng-click="Destinatario(item)">
                                                            <span class="fa fa-info"></span>Ver Destinatario
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a ng-click="Recibe(item)">
                                                            <span class="fa fa-info"></span>Ver Recibe
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>-->
                                        <td><input class="form-control" type="text" ng-model="item.Secuencia" ng-change="item.Secuencia = MaskNumeroGrid(item.Secuencia)" ng-click="AlmacenarValorAnterior(item)" ng-blur="ValidarSecuencia(item,$index)" /></td>
                                        <td>
                                            <span ng-show="item.Tipo == 1">G</span>
                                            <span ng-show="item.Tipo == 2">R</span>-
                                            {{item.NumeroDocumento}}
                                        </td>
                                        <td>{{item.Remesa.CiudadDestinatario.Nombre}}</td>
                                        <td>{{item.Zona.Nombre}}</td>
                                        <td>{{item.Barrio}}</td>

                                        <td>{{item.Destinatario.Direccion}}</td>


                                        <!--<td>{{item.Destinatario.Nombre}}</td>
                                        <td>{{item.Destinatario.Telefono}}</td>
                                        <td style="text-align:right">{{item.Cantidad | number:0}}</td>
                                        <td style="text-align:right">{{item.Peso | number:2}}</td>
                                        <td>
                                            <span ng-if="item.Estado == 6001" class="label label-warning">RECOGIDA</span>
                                            <span ng-if="item.Estado == 6010" class="label label-warning">DESPACHADA EN ORIGEN</span>
                                            <span ng-if="item.Estado == 6025" class="label label-success">REPARTO OFICINA DESTINO</span>
                                            <span ng-if="item.Estado == 6030" class="label label-success">ENTREGADA (CUMPLIDA)</span>
                                            <span ng-if="item.Estado == 6035" class="label label-warning">DEVUELTA OFICINA DESTINO</span>
                                            <span ng-if="item.Estado == 21802" class="label label-warning">NO RECOLECTADO</span>
                                            <span ng-if="item.Estado == 21801" class="label label-warning">RECOLECTADO</span>
                                        </td>
                                        <td>{{item.Remesa.FormaPago.Nombre}}</td>







                                        <td style="text-align:right">{{item.Remesa.TotalFleteCliente | number:0}}</td>-->

                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="14">
                                            <p style="height:60px"></p>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div style="text-align:center" class="col-md-12" ng-if="Buscando == false">
                            <span style="color:red">
                                <small>{{ResultadoSinRegistros}}</small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal Entregas-->
            <div class="row mt-4 modalEntregas">
                <div class="col-md-12">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title ng-binding">Información Recibe</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <label>Guía No:{{Modal.NumeroDocumento}}</label>
                            <br />
                            <div class="alert alert-danger" role="alert" ng-if="MensajesErrorRecibir.length > 0">
                                <ul>
                                    <li ng-repeat="error in MensajesErrorRecibir">
                                        <span class="">{{error}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Tipo Identificación</label>
                                        <select class="form-control" ng-model="Modal.TipoIdentificacionRecibe" ng-options="i.Nombre for i in ListadoTipoIdentificacion  | orderBy:'Nombre' "></select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Identificación</label>
                                        <input ng-change="MaskNumero()" placeholder="Digite identificación" maxlength="30" type="text" class="form-control" ng-model="Modal.NumeroIdentificacion" ng-disabled="DeshabilitarDatosRecibe" ng-blur="VerificarRecibe(Modal.NumeroIdentificacion)">
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-8 col-xs-12">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input ng-change="MaskMayus()" maxlength="50" placeholder="Digite nombre" type="text" class="form-control" ng-model="Modal.Nombre" ng-disabled="DeshabilitarDatosRecibe">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Teléfono</label>
                                        <input ng-change="MaskTelefono()" placeholder="Digite teléfono" maxlength="30" type="text" class="form-control" ng-model="Modal.Telefono" ng-disabled="DeshabilitarDatosRecibe">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Novedad Entrega</label>
                                        <select class="form-control" ng-model="Modal.NovedadEntrega" ng-options="i.Nombre for i in ListadoNovedades  | orderBy:'Nombre' " ng-disabled="DeshabilitarDatosRecibe"></select>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Observaciones</label>
                                        <input style="height:55px" type="text" class="form-control" maxlength="500" ng-model="Modal.Observaciones" ng-disabled="DeshabilitarDatosRecibe">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Gestion Documentos Cliente-->
                    <div class="row" ng-show="ListaGestionDocuCliente.length > 0">
                        <div class="col-sm-12">
                            <div class="box box-default box-solid collapsed-box">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Gestión Documentos Cliente</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="alert alert-danger" role="alert" ng-if="MensajesErrorDocu.length > 0">
                                                <ul>
                                                    <li ng-repeat="error in MensajesErrorDocu">
                                                        <span>{{error}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th>Entregado</th>
                                                            <th>No. Documento</th>
                                                            <th>Tipo Documento</th>
                                                            <th>Tipo Gestión</th>
                                                            <th>No. Hojas</th>
                                                            <th>Valor Recaudar</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in ListaGestionDocuCliente | orderBy: 'Codigo'">
                                                            <td style="text-align:center">
                                                                <select class="form-control" ng-model="item.Entregado" ng-options="i.Nombre for i in ListadoConfirmaEntrega" ng-disabled="Deshabilitar"></select>
                                                            </td>
                                                            <td>{{item.NumeroDocumentoGestion}}</td>
                                                            <td>{{item.TipoDocumento.Nombre}}</td>
                                                            <td>{{item.TipoGestion.Nombre}}</td>
                                                            <td align="right">{{item.NumeroHojas | number}}</td>
                                                            <td align="right">{{item.ValorRecaudar | number}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gestion Documentos Cliente-->


                    <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:10px; padding-bottom:10px;">
                        <span class="btn btn-default btn-file col-md-12">
                            Seleccionar Imagen <input type="file" id="inputfile" onchange="angular.element(this).scope().CargarImagen(this)" accept="image/x-png, image/jpeg" ng-disabled="DeshabilitarDatosRecibe">
                        </span>
                    </div>

                    <div ng-repeat="item in Foto">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <img class="img-responsive" style="width:100%" src="{{item.FotoCargada}}" id="Foto" />
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-bottom:10px;">
                            <button type="button" class="btn btn-danger  col-md-12" title="Borrar foto" ng-click="EliminarFoto(item)" ng-if="item.ValorDocumento == 1" ng-disabled="DeshabilitarDatosRecibe">
                                Eliminar Foto
                                <span class="fas fa-trash-alt"></span>
                            </button>
                        </div>
                    </div>

                    <br />
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-6 col-sm-12 col-xs-12" ng-disabled="DeshabilitarDatosRecibe">
                            <div class="btn-default Firma" style="max-width: 300px">
                                <h2>Firma</h2>
                                <canvas id="Firma" class="Firma" ng-signature-pad="signature">
                                    Firma
                                </canvas>
                                <!--LimpiarFirma-->
                                <button type="button" class="btn btn-default" ng-click="LimpiarFirma()" ng-disabled="DeshabilitarDatosRecibe">
                                    limpiar firma
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <hr />

                    <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:10px">
                        <button type="button" class="btn btn-primary col-md-12" title="Aceptar" ng-click="ConfirmacionGuardarPaqueteria()" ng-disabled="DeshabilitarDatosRecibe">
                            Aceptar
                            <span class="glyphicon glyphicon-ok-circle"></span>
                        </button>
                    </div>
                </div>
            </div>

            <!--Modal Devoluciones-->
            <div class="row mt-4 modalDevolucionRemesas">
                <div class="col-md-12">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title ng-binding">Devolución</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <label>Guía No:{{Modal.NumeroDocumento}}</label>
                            <br />

                            <div class="row">

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Novedad Entrega</label>
                                        <select class="form-control" ng-model="Modal.NovedadEntrega" ng-options="i.Nombre for i in ListadoNovedades  | orderBy:'Nombre' " ng-disabled="DeshabilitarDatosRecibe"></select>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Observaciones</label>
                                        <input style="height:55px" type="text" class="form-control" maxlength="500" ng-model="Modal.Observaciones" ng-disabled="DeshabilitarDatosRecibe">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:10px; padding-bottom:10px;">
                        <span class="btn btn-default btn-file col-md-12">
                            Seleccionar Imagen <input type="file" id="inputfile" onchange="angular.element(this).scope().CargarImagen(this)" accept="image/x-png, image/jpeg" ng-disabled="DeshabilitarDatosRecibe">
                        </span>
                    </div>

                    <div ng-repeat="item in Foto">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <img class="img-responsive" style="width:100%" src="{{item.FotoCargada}}" id="Foto" />
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-bottom:10px;">
                            <button type="button" class="btn btn-danger  col-md-12" title="Borrar foto" ng-click="EliminarFoto(item)" ng-if="item.ValorDocumento == 1" ng-disabled="DeshabilitarDatosRecibe">
                                Eliminar Foto
                                <span class="fas fa-trash-alt"></span>
                            </button>
                        </div>
                    </div>

                    <br />

                    <br />
                    <hr />

                    <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:10px">
                        <button type="button" class="btn btn-primary col-md-12" title="Aceptar" ng-click="ConfirmacionGuardarPaqueteria()" ng-disabled="DeshabilitarDatosRecibe">
                            Aceptar
                            <span class="glyphicon glyphicon-ok-circle"></span>
                        </button>
                    </div>
                </div>
            </div>

            <!--Modal Recibe-->
            <div class="row mt-4" id="modalRecibe">
                <div class="col-md-12">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title ng-binding">Recibe</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <label>Guía No:{{Modal.NumeroDocumento}}</label>
                            <br />

                            <div class="row">

                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Fecha</label>
                                        <input type="date" class="form-control" ng-model="Modal.FechaRecibe" ng-disabled="true">
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Cantidad</label>
                                        <input style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="8" placeholder="Ingrese cantidad" ng-model="Modal.Cantidad" ng-disabled="true" ng-blur="VerificarCantidad()">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Peso (Kg)</label>
                                        <input style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="8" placeholder="Ingrese peso" ng-model="Modal.Peso" ng-disabled="true" ng-blur="VerificarPeso()">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Tipo Identificación</label>
                                        <select class="form-control" ng-model="Modal.TipoIdentificacionRecibe" ng-options="i.Nombre for i in ListadoTipoIdentificacion  | orderBy:'Nombre' " ng-disabled="true"></select>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Identificación</label>
                                        <input ng-change="MaskNumero()" placeholder="Digite identificación" maxlength="30" type="text" class="form-control" ng-model="Modal.NumeroIdentificacion" ng-disabled="true" ng-blur="VerificarRecibe(Modal.NumeroIdentificacion)">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-8 col-xs-12">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input ng-change="MaskMayus()" maxlength="50" placeholder="Digite nombre" type="text" class="form-control" ng-model="Modal.Nombre" ng-disabled="true">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Teléfono</label>
                                        <input ng-change="MaskTelefono()" placeholder="Digite teléfono" maxlength="30" type="text" class="form-control" ng-model="Modal.Telefono" ng-disabled="true">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Novedad Entrega</label>
                                        <select class="form-control" ng-model="Modal.NovedadEntrega" ng-options="i.Nombre for i in ListadoNovedades  | orderBy:'Nombre' " ng-disabled="true"></select>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Observaciones</label>
                                        <input style="height:55px" type="text" class="form-control" maxlength="500" ng-model="Modal.Observaciones" ng-disabled="true">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <br />
                <hr />
            </div>

            <!--Modal Destinatario-->
            <div class="row mt-4" id="modalDestinatario">
                <div class="col-md-12">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title ng-binding">Destinatario</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <label>Guía No:{{ModalDestinatario.NumeroDocumento}}</label>
                            <br />
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Cantidad</label>
                                        <input style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="8" ng-model="ModalDestinatario.Cantidad" ng-disabled="true" ng-blur="VerificarCantidad()">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Peso (Kg)</label>
                                        <input style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="8" ng-model="ModalDestinatario.Peso" ng-disabled="true" ng-blur="VerificarPeso()">
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Tipo Identificación</label>
                                        <select class="form-control" ng-model="ModalDestinatario.TipoIdentificacionRecibe" ng-options="i.Nombre for i in ListadoTipoIdentificacion  | orderBy:'Nombre' " ng-disabled="true"></select>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-8 col-xs-12">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input ng-change="MaskMayus()" maxlength="50" type="text" class="form-control" ng-model="ModalDestinatario.Nombre" ng-disabled="true">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Teléfono</label>
                                        <input ng-change="MaskTelefono()" maxlength="30" type="text" class="form-control" ng-model="ModalDestinatario.Telefono" ng-disabled="true">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Barrio </label>
                                        <input ng-change="MaskTelefono()" maxlength="30" type="text" class="form-control" ng-model="ModalDestinatario.Barrio" ng-disabled="true">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Dirección</label>
                                        <input ng-change="MaskTelefono()" maxlength="150" type="text" class="form-control" ng-model="ModalDestinatario.Direccion" ng-disabled="true">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <br />
                <hr />
            </div>

            <!--Modal Remitente-->
            <div class="row mt-4" id="modalRemitente">
                <div class="col-md-12">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title ng-binding">Remitente</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <label>Documento No.: {{Modal.NumeroDocumento}}</label>
                            <br />

                            <div class="row">

                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Tipo Identificación</label>
                                        <select class="form-control" ng-model="Modal.TipoIdentificacionRecibe" ng-options="i.Nombre for i in ListadoTipoIdentificacion  | orderBy:'Nombre' " ng-disabled="true"></select>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Identificación</label>
                                        <input ng-change="MaskNumero()" placeholder="Digite identificación" maxlength="30" type="text" class="form-control" ng-model="Modal.NumeroIdentificacion" ng-disabled="true" ng-blur="VerificarRecibe(Modal.NumeroIdentificacion)">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-8 col-xs-12">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input ng-change="MaskMayus()" maxlength="50" placeholder="Digite nombre" type="text" class="form-control" ng-model="Modal.Nombre" ng-disabled="true">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Teléfono</label>
                                        <input ng-change="MaskTelefono()" placeholder="Digite teléfono" maxlength="30" type="text" class="form-control" ng-model="Modal.Telefono" ng-disabled="true">
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <br />
                <hr />
            </div>

            <!--Modal Recolecciones-->
            <div class="row mt-4 modalRecolecciones">
                <div class="col-md-12">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title ng-binding">Información Recibe</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <label>Recolección No. : {{Modal.NumeroDocumento}}</label>
                            <br />
                            <div class="alert alert-danger" role="alert" ng-if="MensajesErrorRecibir.length > 0">
                                <ul>
                                    <li ng-repeat="error in MensajesErrorRecibir">
                                        <span class="">{{error}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">


                                <div class="col-md-6 col-sm-8 col-xs-12">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input ng-change="MaskMayus()" maxlength="50" placeholder="Digite nombre" type="text" class="form-control" ng-model="ModalRecoleccion.Nombre" ng-disabled="DeshabilitarDatosRecibe">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Dirección</label>
                                        <input ng-change="MaskNumero()" placeholder="Digite una dirección" maxlength="30" type="text" class="form-control" ng-model="ModalRecoleccion.Direccion" ng-disabled="DeshabilitarDatosRecibe" ng-blur="VerificarRecibe(Modal.NumeroIdentificacion)">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Teléfono</label>
                                        <input ng-change="MaskTelefono()" placeholder="Digite teléfono" maxlength="30" type="text" class="form-control" ng-model="ModalRecoleccion.Telefono" ng-disabled="DeshabilitarDatosRecibe">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Novedad Entrega</label>
                                        <select class="form-control" ng-model="ModalRecoleccion.NovedadEntrega" ng-options="i.Nombre for i in ListadoNovedadesRecolecciones  | orderBy:'Nombre' " ng-disabled="DeshabilitarDatosRecibe"></select>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Observaciones</label>
                                        <input style="height:55px" type="text" class="form-control" maxlength="500" ng-model="ModalRecoleccion.Observaciones" ng-disabled="DeshabilitarDatosRecibe">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="padding-top:10px; padding-bottom:10px;">
                    <span class="btn btn-default btn-file col-md-12">
                        Seleccionar Imagen <input type="file" id="inputfile" onchange="angular.element(this).scope().CargarImagen(this)" accept="image/x-png, image/jpeg" ng-disabled="DeshabilitarDatosRecibe">
                    </span>
                </div>

                <div ng-repeat="item in Foto">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <img class="img-responsive" style="width:100%" src="{{item.FotoCargada}}" id="Foto" />
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12" style="padding-bottom:10px;">
                        <button type="button" class="btn btn-danger  col-md-12" title="Borrar foto" ng-click="EliminarFoto(item)" ng-if="item.ValorDocumento == 1" ng-disabled="DeshabilitarDatosRecibe">
                            Eliminar Foto
                            <span class="fas fa-trash-alt"></span>
                        </button>
                    </div>
                </div>

                <br />
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6 col-sm-12 col-xs-12" ng-disabled="DeshabilitarDatosRecibe">
                        <div class="btn-default Firma" style="max-width: 300px">
                            <h2>Firma</h2>
                            <canvas id="Firma" class="Firma" ng-signature-pad="signature">
                                Firma
                            </canvas>
                            <!--LimpiarFirma-->
                            <button type="button" class="btn btn-default" ng-click="LimpiarFirma()" ng-disabled="DeshabilitarDatosRecibe">
                                limpiar firma
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <br />
                <hr />

                <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:10px">
                    <button type="button" class="btn btn-primary col-md-12" title="Aceptar" ng-click="ConfirmacionGuardarRecoleccion()" ng-disabled="DeshabilitarDatosRecibe">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </section>

    <canvas id="CanvasVertical" width="500" height="700" style="display:none">
        Accede a este script con un navegador que acepte canvas del HTML 5
    </canvas>
    <canvas id="CanvasHorizontal" width="700" height="500" style="display:none">
        Accede a este script con un navegador que acepte canvas del HTML 5
    </canvas>
</div>
