﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>ADICIONAR REMESAS PLANILLA ENTREGA</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <br />
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" onselectstart="return false" ng-click="MostrarConsultaRemesas()">Remesas</a></li>
                        <li><a data-toggle="tab" onselectstart="return false" ng-click="MostrarConsultaRecolecciones()">Recolecciones</a></li>

                    </ul>
                </div>
                <div id="Remesas">
                    <div class="row">

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="lblFechIni">Fecha Inicial</label>
                                <input name="txtFechIni" type="date" class="form-control" ng-model="Modelo.FechaInicial">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="lblFechFina">Fecha Final</label>
                                <input name="txtFechFina" type="date" class="form-control" ng-model="Modelo.FechaFinal">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="NumeroInicial">Número</label>
                                <input name="NumeroInicial" class="form-control" ng-model="Modelo.NumeroInicial" placeholder="Ingrese número inicial" maxlength="20" ng-change="MaskNumero()">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Cliente</label>
                                <input class="form-control" ng-model="Modelo.Remesa.Cliente.NombreCompleto" placeholder="Ingrese un valor" maxlength="150">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Origen</label>
                                <input class="form-control" ng-model="Modelo.Remesa.CiudadRemitente.Nombre" placeholder="Ingrese una Ciudad" maxlength="150">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Destino</label>
                                <input class="form-control" ng-model="Modelo.Remesa.CiudadDestinatario.Nombre" placeholder="Ingrese una Ciudad" maxlength="150">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Oficina Actual</label>
                                <select name="cmbOficina" class="form-control" ng-model="Modelo.OficinaActual" ng-options="i.Nombre for i in ListadoOficinasActual"></select>
                            </div>
                        </div>






                    </div>
                    <!--SECCIÓN BOTONES-->
                    <div class="SeccionBotones">
                        <div class="pull-left">
                            <button class="btn btn-block btn-primary" title="Buscar ciudad" ng-click="paginaActual=1;Buscar();Modelo.NumeroFinal = 0">
                                Buscar
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-block btn-primary" title="Nueva ciudad" ng-click="AosicarRemesasPlanillas()">
                                Asociar Planilla
                                <span class="fas fa-truck-loading"></span>
                            </button>
                        </div>
                    </div>
                    <!--RESULTADO CONSULTA-->
                    <div class="ResultadoConsulta" ng-show="ListadoGuias.length > 0">
                        <br />
                        <label>Marcar Todos</label>
                        <input type="checkbox" ng-model="Marctodo" ng-change="MarcadDesmarcarTodo(Marctodo)" class="ng-valid ng-dirty ng-valid-parse ng-touched">
                        <div class="table-responsive" ng-show="ListadoGuias.length > 0">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Número</th>
                                        <th>Fecha</th>
                                        <th>Cliente</th>
                                        <th>Ruta</th>
                                        <th>Tienda</th>
                                        <th>Oficina Actual</th>
                                        <th>Observaciones</th>
                                        <th>Documento Cliente</th>
                                        <th>Estado Remesa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoGuias | orderBy:'Codigo'">

                                        <td style="background-color: {{item.backGround}}"><input type="checkbox" ng-model="item.Marcado" /></td>
                                        <td style="background-color: {{item.backGround}}">
                                            <a ng-if="item.TipoDocumento == 1" href="#!GestionarGuiaPaqueterias/{{item.Remesa.Numero}}">{{item.Remesa.NumeroDocumento}}</a>
                                            <a ng-if="item.TipoDocumento == 2" href="#!GestionarRecolecciones/{{item.Remesa.Numero}}">{{item.Remesa.NumeroDocumento}}</a>
                                        </td>
                                        <td style="background-color: {{item.backGround}}">{{item.Remesa.Fecha | date:'dd/MM/yyyy' }}</td>
                                        <td style="background-color: {{item.backGround}}">{{item.Remesa.Cliente.NombreCompleto}}</td>
                                        <td style="background-color: {{item.backGround}}">{{item.Remesa.CiudadRemitente.Nombre}} - {{item.Remesa.CiudadDestinatario.Nombre}}</td>
                                        <td style="background-color: {{item.backGround}}">{{item.SitioDescargue.Nombre}}</td>
                                        <td style="background-color: {{item.backGround}}">{{item.OficinaActual.Nombre}}</td>
                                        <td style="background-color: {{item.backGround}}">{{item.Remesa.Observaciones}}</td>
                                        <td style="background-color: {{item.backGround}}">{{item.Remesa.NumeroDocumentoCliente}}</td>
                                        <td style="background-color: {{item.backGround}}">
                                            <span ng-if="item.EstadoGuia.Codigo == 6001 && item.Anulado == 0" class="label label-warning">RECOGIDA</span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6005 && item.Anulado == 0" class="label label-info">OFICINA ORIGEN</span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6010 && item.Anulado == 0" class="label label-info">DESPACHADA</span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6015 && item.Anulado == 0" class="label label-info">TRANSITO</span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6017 && item.Anulado == 0" class="label label-info">RECIBIDA OFICINA INTERMEDIA</span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6020 && item.Anulado == 0" class="label label-info">RECIBIDA OFICINA DESTINO</span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6025 && item.Anulado == 0" class="label label-info">REPARTO OFICINA DESTINO</span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6030 && item.Anulado == 0" class="label label-success">ENTREGADA (CUMPLIDA)</span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6035 && item.Anulado == 0" class="label label-warning">DEVUELTA OFICINA DESTINO</span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6040 && item.Anulado == 0" class="label label-warning">DEVUELTA OFICINA ORIGEN</span>
                                            <span ng-if="item.Anulado == 1" class="label label-danger">ANULADO</span>
                                        </td>

                                    </tr>
                                </tbody>
                                <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                    <tr>
                                        <td colspan="4">
                                            <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                            <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>

                            </table>
                        </div>
                        <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                            <span style="color:red">
                                <small>{{ResultadoSinRegistros}}</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div id="Recolecciones">
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="lblFechIni">Fecha Inicial</label>
                                <input name="txtFechIni" type="date" class="form-control" ng-model="Modelo.FechaInicial">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="lblFechFina">Fecha Final</label>
                                <input name="txtFechFina" type="date" class="form-control" ng-model="Modelo.FechaFinal">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="NumeroInicial">Número</label>
                                <input name="NumeroInicial" class="form-control" ng-model="Recoleccion.NumeroDocumento" placeholder="Ingrese número inicial" maxlength="20" ng-change="MaskNumero()">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Cliente</label>
                                <input class="form-control" ng-model="Recoleccion.Cliente" placeholder="Ingrese un valor" maxlength="150">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label for="lblOficina">Oficina</label>
                                <select name="cmbOficina" class="form-control" ng-model="Recoleccion.Oficinas" ng-options="i.Nombre for i in ListadoOficinasActual | orderBy: 'Nombre'"></select>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label>Zona</label>
                                <input ng-change="MaskMayus()" type="text" name="txtZona" class="form-control" maxlength="50" placeholder="Ingrese Zona" ng-model="Recoleccion.Zonas" />
                            </div>
                        </div>

                    </div>
                    <!--SECCIÓN BOTONES-->
                    <div class="SeccionBotones">
                        <div class="pull-left">
                            <button class="btn btn-block btn-primary" title="Buscar ciudad" ng-click="paginaActual=1;BuscarRecolecciones();Modelo.NumeroFinal = 0">
                                Buscar
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-block btn-primary" title="Nueva ciudad" ng-click="AsociarRecoleccionesPlanillas()">
                                Asociar Planilla
                                <span class="fas fa-truck-loading"></span>
                            </button>
                        </div>
                    </div>
                    <!--RESULTADO CONSULTA-->
                    <div class="ResultadoConsulta" ng-show="ListadoRecolecciones.length > 0">
                        <br />
                        <label>Marcar Todos</label>
                        <input type="checkbox" ng-model="MarctodoRecolecciones" ng-change="MarcadDesmarcarTodoRecolecciones(Marctodo)" class="ng-valid ng-dirty ng-valid-parse ng-touched">
                        <div class="table-responsive" ng-show="ListadoRecolecciones.length > 0">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Número</th>
                                        <th>Fecha</th>
                                        <th>Cliente</th>
                                        <th>Contacto</th>
                                        <th>Ciudad</th>
                                        <th>Zona</th>
                                        <th>Barrio</th>
                                        <th>Dirección</th>
                                        <th>Teléfonos</th>
                                        <th>Mercancía</th>
                                        <th>Unidad Empaque</th>
                                        <th>Cantidad</th>
                                        <th>Peso (Kg)</th>
                                        <th class="Campo">Observaciones</th>
                                        <!--<th>No. Planilla Recolección</th>-->
                                        <!--<th>Fecha Planilla</th>-->
                                        <!--<th>Placa</th>-->

                                        <th>Oficina</th>
                                        <th>Estado</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoRecolecciones | orderBy:'Codigo'">

                                        <td style="background-color: {{item.backGround}}"><input type="checkbox" ng-model="item.Marcado" /></td>
                                        <td style="background-color: {{item.backGround}}"><a href="#!GestionarRecolecciones/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>
                                        <td style="background-color: {{item.backGround}}">{{item.Fecha | date: 'dd/MM/yyyy'}}</td>
                                        <td style="background-color: {{item.backGround}}">{{item.Cliente.Nombre}}</td>
                                        <td style="background-color: {{item.backGround}}">{{item.NombreContacto}}</td>
                                        <td style="background-color: {{item.backGround}}">{{item.Ciudad.Nombre}}</td>
                                        <td style="background-color: {{item.backGround}}">{{item.NombreZona}}</td>
                                        <td style="background-color: {{item.backGround}}">{{item.Barrio}}</td>
                                        <td style="background-color: {{item.backGround}}">{{item.Direccion}}</td>
                                        <td style="background-color: {{item.backGround}}">{{item.Telefonos}}</td>
                                        <td style="background-color: {{item.backGround}}">{{item.Mercancia}}</td>
                                        <td style="background-color: {{item.backGround}}">{{item.UnidadEmpaque}}</td>
                                        <td style="background-color: {{item.backGround}}" align="right">{{MaskValoresGrid(item.Cantidad)}}</td>
                                        <td style="background-color: {{item.backGround}}" align="right">{{item.Peso | number : 0}}</td>
                                        <td style="background-color: {{item.backGround}}">{{item.Observaciones}}</td>
                                        <!--<td>{{item.NumeroPlanilla}}</td>-->
                                        <!--<td>{{item.FechaPlanilla | date: 'dd/MM/yyyy'}}</td>-->
                                        <!--<td>{{item.PlacaVehiculo}}</td>-->
                                        <td style="background-color: {{item.backGround}}">{{item.NombreOficina}}</td>
                                        <td style="background-color: {{item.backGround}}">
                                            <span ng-if="item.Estado == 3 " class="label pull-center bg-red">Anulada</span>
                                            <span ng-if="item.Estado == 2" class="label label-warning">Planillada</span>
                                            <span ng-if="item.Estado == 1" class="label label-success">Definitiva</span>
                                        </td>


                                    </tr>
                                </tbody>
                                <tfoot ng-if="totalRegistrosRecoleccion > 0 || BuscandoRecoleccion == true">
                                    <tr>
                                        <td colspan="4">
                                            <small ng-if="totalRegistrosRecoleccion > 0">Página: {{paginaActualRecoleccion}} de {{totalPaginasRecoleccion}} ({{totalRegistrosRecoleccion}} Registros)</small>
                                            <div class="pagination rightAling" ng-if="totalRegistrosRecoleccion > 0">
                                                <button class="button primary" ng-click="PrimerPaginaRecoleccion()" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="AnteriorRecoleccion()" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="SiguienteRecoleccion()" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPaginaRecoleccion()" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>

                            </table>
                        </div>
                        <div style="text-align:center" class="col-md-12" ng-if="totalRegistrosRecoleccion == 0 && BuscandoRecoleccion == false">
                            <span style="color:red">
                                <small>{{ResultadoSinRegistrosRecoleccion}}</small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>


    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalEliminarTarifarioVentas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar la linea vehículo {{Nombre}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="ModalAsociacionPlanilla" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border">
                                <h3 class="box-title">Planilla</h3>

                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body">

                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <label>Número</label>
                                                <input class="form-control" ng-model="Planilla" ng-blur="ObtenerPlanilla(Planilla)" placeholder="Ingrese un nùmero" maxlength="20" ng-change="MaskNumero()">
                                                <!--<select name="cmbEstado" class="form-control" ng-model="Planilla" ng-options="i.Planilla.NumeroDocumento for i in ListadoPlanilla"></select>-->
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label>Fecha</label>
                                                <input type="date" class="form-control" ng-model="Modal.Planilla.Fecha" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label>Vehículo</label>
                                                <input type="text" class="form-control" maxlength="18" placeholder="Vehículo" ng-model="Modal.Planilla.Vehiculo.Placa" disabled />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label>Semirremolque</label>
                                                <input type="text" class="form-control" maxlength="18" placeholder="Semirremolque" ng-model="Modal.Planilla.Semirremolque.Placa" disabled />
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label>Conductor</label>
                                                <input maxlength="60" type="text" class="form-control" ng-model="Modal.Planilla.Vehiculo.Conductor.NombreCompleto" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label>Tenedor</label>
                                                <input maxlength="60" type="text" class="form-control" placeholder="" ng-model="Modal.Planilla.Vehiculo.Tenedor.NombreCompleto" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label>Fecha Salida</label>
                                                <input type="date" class="form-control" ng-model="Modal.Planilla.FechaSalida" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label>Hora</label>
                                                <input type="text" ng-change="MaskHora()" class="form-control" maxlength="5" placeholder="HH:MM" ng-model="Modal.Planilla.HoraSalida" disabled />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <label>Ruta</label>
                                                <input maxlength="60" type="text" class="form-control" placeholder="Seleccione una ruta" ng-model="Modal.Planilla.Ruta.Nombre" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="AsociarPlanilla()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeEliminarTarifarioVentas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click="MostrarMensajeErrorModal()"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="MostrarMensajeErrorModal()">
                                Mensaje Completo
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Asignar datos anulación-->
    <div class="modal fade" id="modalAnular" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <ul>
                        <li ng-repeat="error in MensajesErrorAnular">
                            <span class="errorField">{{error}}</span>
                        </li>
                    </ul>
                    <div class="modal-body">
                        <p>¿Está seguro de Anular la remesa {{NumeroDocumento}}?</p>

                        <label>Causa Anulacion</label>
                        <input name="nombre" class="form-control" ng-model="ModeloCausaAnula" placeholder="Ingrese una Causa" maxlength="40">

                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Anular()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>