﻿<div  ng-init="InitLoad()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <section class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="Form-Imput">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechIni">Fecha Inicial</label>
                            <input name="txtFechIni" type="date" class="form-control" ng-model="Modelo.FechaInicial">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechFina">Fecha Final</label>
                            <input name="txtFechFina" type="date" class="form-control" ng-model="Modelo.FechaFinal">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroRemesa">No. Remesa</label>
                            <input name="NumeroRemesa" class="form-control" ng-model="Modelo.NumeroRemesa" placeholder="Ingrese número de la remesa" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="Preimpreso">No. Preimpreso</label>
                            <input name="Preimpreso" class="form-control" ng-model="Modelo.Preimpreso" placeholder="Ingrese número Preimpreso" maxlength="20">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina Crea</label>
                            <select name="cmbOficina" class="form-control" ng-model="Modelo.OficinaCrea" ng-options="i.Nombre for i in ListadoOficinasCrea"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina Actual</label>
                            <select class="form-control" ng-model="Modelo.OficinaActual" ng-options="i.Nombre for i in ListadoOficinasActual"></select>
                        </div>
                    </div>
                </div>
                <!--SECCIÓN BOTONES-->
                <div class="lineButtons">
                    <div class="pull-left">
                        <!--<button class="btn btn-block btn-primary" title="Buscar Remesas" ng-click="paginaActual=1;Buscar();Modelo.NumeroFinal = 0">-->
                        <button class="btn btn-block btn-primary" title="Buscar Remesas" ng-click="Buscar()">
                            Buscar
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" title="Cambiar Estado" ng-click="CambiarEstado()">
                            Procesar
                            <span class="fas fa-truck-loading"></span>
                        </button>
                    </div>
                </div>
                <br />
                <hr />
                <!--RESULTADO CONSULTA-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive" ng-show="ListadoGuias.length > 0">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Marcar Todos <input type="checkbox" ng-model="Marctodo" ng-change="MarcadDesmarcarTodo(Marctodo)" class="ng-valid ng-dirty ng-valid-parse ng-touched"></th>
                                        <th>No. Remesa</th>
                                        <th>No. Preimpreso</th>
                                        <th>Fecha</th>
                                        <th>Cliente</th>
                                        <th>Documento Cliente</th>
                                        <th>Oficina Actual</th>
                                        <th>Oficina Crea</th>
                                        <th>Origen</th>
                                        <th>Destino</th>
                                        <th>Remitente</th>
                                        <th>Destinatario</th>
                                        <th>Unidades</th>
                                        <th>Peso</th>
                                        <th>Forma Pago</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in PagRemesas.PagArray | orderBy:'Codigo'">
                                        <td><input type="checkbox" ng-model="item.Marcado" /></td>
                                        <td><a href="#!GestionarGuiaPaqueterias/{{item.Remesa.Numero}}">{{item.Remesa.NumeroDocumento}}</a></td>
                                        <td>{{item.Numeracion}}</td>
                                        <td>{{item.Remesa.Fecha | date:'dd/MM/yyyy' }}</td>
                                        <td>{{item.Remesa.Cliente.NombreCompleto}}</td>
                                        <td>{{item.Remesa.NumeroDocumentoCliente}}</td>
                                        <td>{{item.OficinaActual.Nombre}}</td>
                                        <td>{{item.Oficina.Nombre}}</td>
                                        <td>{{item.Remesa.CiudadRemitente.Nombre}}</td>
                                        <td>{{item.Remesa.CiudadDestinatario.Nombre}}</td>
                                        <td>{{item.Remesa.Remitente.Nombre}}</td>
                                        <td>{{item.Remesa.Destinatario.Nombre}}</td>
                                        <td>{{item.Remesa.CantidadCliente}}</td>
                                        <td>{{item.Remesa.PesoCliente | number}}</td>
                                        <td>{{item.Remesa.FormaPago.Nombre}}</td>
                                        <td>{{item.Remesa.TotalFleteCliente | number}}</td>
                                    </tr>
                                </tbody>
                                <tfoot ng-if="PagRemesas.totalRegistros > 0 || PagRemesas.Buscando == true">
                                    <tr>
                                        <td colspan="15">
                                            <small ng-if="PagRemesas.totalRegistros > 0">Página: {{PagRemesas.paginaActual}} de {{PagRemesas.totalPaginas}} ({{PagRemesas.totalRegistros}} Registros)</small>
                                            <div class="pagination rightAling" ng-if="PagRemesas.totalRegistros > 0">
                                                <button class="button primary" ng-click="PrimerPagina(PagRemesas)" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Anterior(PagRemesas)" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Siguiente(PagRemesas)" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPagina(PagRemesas)" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                            <span style="color:red">
                                <small>{{ResultadoSinRegistros}}</small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </section>

    <div class="modal fade" id="modalConfirmacionCarbiarEstado" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de cambiar el estado?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="CambiarEstadoRemesas()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>