﻿<div >
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <section class="content-header">
        <h1>CONSULTAR ORDENES COMPRA</h1>
    </section>

    <section class="content">
        <form>
            <div id="filtrosConsulta">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fechaInicial">Fecha Inicial</label>
                            <input name="fechaInicial" type="date" class="form-control" ng-model="FechaInicial">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fechaFinal">Fecha Final</label>
                            <input name="fechaFinal" type="date" class="form-control" ng-model="FechaFinal">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="numeroInicial">Número</label>
                            <input name="numeroInicial" type="text" class="form-control" ng-model="NumeroInicial"  id="numeroInicial" placeholder="Número" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="almacenes">Almacenes</label>
                            <select name="almacenes" class="form-control" ng-model="Almacenes" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoAlmacenes | orderBy:'Nombre'" ></select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-8 col-xs-12">
                        <div class="form-group">
                            <label for="Nombre">Proveedor</label>
                            <input type="text" placeholder="Proveedor" class="form-control" maxlength="50" ng-model="Proveedor" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div id="lineButtons">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" ng-click="Buscar()" title="Buscar" ng-disabled="DeshabilitarConsulta">
                        Buscar
                        <span class="glyphicon glyphicon-filter"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" ng-disabled="DeshabilitarActualizar" ng-click="NuevoDocumento()" title="Nuevo">
                            Nuevo
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
            <br />
            <br />
                <div id="resultadoConsulta" class="table-responsive" ng-if="ListadoOrdenCompra.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Número</th>
                                <th>Fecha</th>
                                <th>Almacén</th>
                                <th>Proveedor</th>
                                <th>Observaciones</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoOrdenCompra">
                                <td><a href="#!GestionarOrdenCompra/{{item.Numero}}">{{item.Numero}}</a></td>
                                <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                <td>{{item.Almacen.Nombre}}</td>
                                <td>{{item.Proveedor.Nombre}}</td>
                                <td>{{item.Observaciones}}</td>
                                <td>
                                    <span ng-if="item.Estado.Codigo == 0 && item.Anulado == 0 " class="label label-warning">Borrador</span>
                                    <span ng-if="item.Estado.Codigo == 1 && item.Anulado == 0" class="label label-success">Definitivo</span>
                                    <span ng-if="item.Anulado == 1" class="label pull-center bg-red">Anulado</span>
                                </td>
                                <td>
                                    <button class="button mini-button btn-danger" title="Anular" ng-click="ConfirmacionAnularOrden(item.Numero,item.Estado)" ng-disabled="DeshabilitarEliminarAnular">
                                        <span class="fas fa-trash-alt"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                        <tfoot ng-if="totalRegistros == 0 && Buscando == false">
                            <tr>
                                <td colspan="4" style="color:red; text-align:center">
                                    <small>{{ResultadoSinRegistros}}</small>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                
            </div>
        </form>
        <!-- Modal Confirmación Anular Tarea Mantenimiento-->
        <div class="modal fade" id="modalConfirmacionAnularOrden" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <form autocomplete="off">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">
                                GESTRANS.NET PASAJEROS
                            </h4>
                        </div>

                        <div class="modal-body">
                            <p>¿Está seguro de anular la orden de compra No. {{NumeroAnulacion}}?</p>
                        </div>

                        <div class="modal-footer">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Cancelar
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button type="button" class="btn btn-primary" title="Aceptar" ng-click="SolicitarDatosAnulacion()">
                                    Aceptar
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

        <!-- Modal Asignar datos anulación-->
        <div class="modal fade" id="modalDatosAnularOrden" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form autocomplete="off">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">

                                GESTRANS.NET PASAJEROS
                            </h4>
                        </div>
                        <div class="modal-body">
                            <p>Orden de compra No. {{NumeroAnulacion}}</p>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="causaAnulacion">Causa Anulación<small class="small">*</small></label>
                                        <input class="form-control" name="causaAnulacion" type="text" ng-model="CausaAnulacion">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="fechaAnulacion">Fecha Anulación</label>
                                        <span class="form-control">{{FechaAnulacion | date: 'dd/MM/yyyy HH:MM'}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Usuario anula</label>
                                        <span class="form-control"> {{Sesion.Identificador}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Cancelar
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Anular(CausaAnulacion)">
                                    Aceptar
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

        <!--Modal Mensaje Error-->
        <div class="modal fade" id="modalMensajeEliminarOrdenCompra" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <form autocomplete="off">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">
                                GESTRANS.NET CARGA
                            </h4>
                        </div>

                        <div class="modal-body">
                            <p>{{ModalError}}</p>
                        </div>
                        <div class="modal-body">
                            <div class="box box-default box-solid ">
                                <div class="box-header with-border" ng-disabled="Bloquear">
                                    <h3 class="box-title">Mensaje Completo</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" ng-click="MostrarMensajeErrorModal()"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="modal-body">
                                            <p>{{ModalErrorCompleto}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" ng-click="MostrarMensajeErrorModal()">
                                    Mensaje Completo
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                    Aceptar
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </section>
</div>