﻿<div >
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!-- ENCABEZADO APARTIR DE ESTA LINEA -->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!-- CONTENIDO APARTIR DE ESTA LINEA -->
    <section class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <span class="form-control"> {{Modelo.NumeroDocumento}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="fecha">Fecha </label>
                            <input name="fecha" type="date" class="form-control" ng-model="Modelo.Fecha" ng-disabled="Deshabilitar" ng-blur="AsignarFecha(Modelo.ModeloFecha)">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="almacen">Almacén</label>
                            <select class="form-control" ng-model="Modelo.Almacen" ng-disabled="Bloquear" ng-options="i.Nombre for i in ListadoAlmacenes | orderBy:'Nombre'"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="ordencompra">Orden Compra</label>
                            <input type="text" class="form-control" ng-model="Modelo.OrdenCompra.Numero" ng-disabled="Bloquear" maxlength="10" placeholder="Ingrese la orden de compra"
                                   ng-blur="ValidarOrdenCompra(Modelo.OrdenCompra.Numero)">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="proveedor">Proveedor</label>
                            <input class="form-control" type="text" maxlength="15" ng-disabled="Deshabilitar" ng-model="Modelo.Proveedor.Nombre">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="numeroremision">Número Remisión</label>
                            <input type="text" class="form-control" ng-model="Modelo.NumeroRemision" ng-disabled="Deshabilitar" maxlength="10">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="Nombrerecibe">Nombre Recibe</label>
                            <input class="form-control" type="text" maxlength="15" ng-disabled="Deshabilitar" ng-model="Modelo.NombreRecibe">
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <div class="input-control text full-size" data-role="input">
                                <label for="observaciones">Observaciones</label>
                                <textarea class="form-control" maxlength="230" ng-disabled="Deshabilitar" type="text" ng-model="Modelo.Observaciones" ng-blur="AsignarObservaciones(Modelo.Observaciones)"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- DETALLES -->
            <div class="box box-default box-solid ">
                <div class="box-header with-border">
                    <h3 class="box-title">DETALLE ORDEN COMPRA</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Referencia</th>
                                            <th>Nombre Referencia</th>
                                            <th>Referencia proveedor</th>
                                            <th>UM</th>
                                            <th>UE</th>
                                            <th>Valor Unitario</th>
                                            <th>Cantidad</th>
                                            <th>Valor Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr ng-repeat="item in ListadoDetalleOrdenCompra | orderBy:'ReferenciaAlmacen.Referencia' | orderBy:'ReferenciaAlmacen.Nombre'">
                                            <td>{{item.ReferenciaAlmacen.Referencia.CodigoReferencia}}</td>
                                            <td>{{item.ReferenciaAlmacen.NombreReferencia}}</td>
                                            <td>{{item.ReferenciaProveedor.NombreReferencia}}</td>
                                            <td>{{item.UnidadMedida}}</td>
                                            <td>{{item.UnidadEmpaque}}</td>
                                            <td style="text-align:right">{{item.ValorUnitario | number:0}}</td>
                                            <td>
                                                <input style="text-align:right" type="number" ng-model="item.Cantidad" ng-disabled="Deshabilitar" maxlength="10" placeholder="Ingrese un numeró" ng-blur="Calcular(item.Cantidad)" />
                                            </td>
                                            <td style="text-align:right">{{item.ValorAntesDescuento | number:0}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                        <tr>
                                            <td colspan="4">
                                                <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                    <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                        <span class="item">&laquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                        <span class="item">&lsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                        <span class="item">&rsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                        <span class="item">&raquo;</span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                    <tfoot ng-if="totalRegistros == 0 && Buscando == false">
                                        <tr>
                                            <td colspan="4" style="color:red; text-align:center">
                                                <small>{{ResultadoSinRegistros}}</small>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BONTONES -->
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="nombre">Oficina</label>
                        <input class="form-control" ng-model="Modelo.Oficina.Nombre" disabled>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label>Estado</label>
                        <select class="form-control" ng-model="Modelo.Estado" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoEstados "></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" ng-disabled="Deshabilitar" title="Aceptar" ng-click="ConfirmacionGuardarEntrada()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </section>

    <!-- VENTANAS MODAL APARTIR DE ESTA LINEA -->
    <!-- Modal Modificar Detalle Entrada  -->
    <div class="modal fade" id="modalEditarEntrada" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Edición Detalle</strong>
                        </h4>
                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorRecorrido.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesErrorRecorrido">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Modificar </h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="planilla">Código</label>
                                            <span class="form-control" style="background-color: rgb(238,238,238)"> {{}} </span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="fecha">Referencia</label>
                                            <span class="form-control" style="background-color: rgb(238,238,238)"> {{}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="centrocosto">Referencia Proveedor</label>
                                            <input name="CentroCosto" class="form-control" ng-model="ModalCentroCosto" maxlength="20">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="vehiculo">Unidad Medida</label>
                                            <span class="form-control" style="background-color: rgb(238,238,238)"> {{}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="ruta">Valor Unitario</label>
                                            <span class="form-control" style="background-color: rgb(238,238,238)"> {{}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="cliente">Cantidad Orden Compra</label>
                                            <span class="form-control" style="background-color: rgb(238,238,238)"> {{}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="departamento">Cantidad Recibida</label>
                                            <!--<select name="departamento" class="form-control" ng-model="ModalDepartamento" ng-options="i.Nombre for i in ListadoDepartamento" ng-blur="ModificarDepartamento(ModalDepartamento)"></select>-->
                                            <span class="form-control" style="background-color: rgb(238,238,238)">{{}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="pasajero">Cantidad Faltante</label>
                                            <span class="form-control" style="background-color: rgb(238,238,238)"> {{}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="valor">Cantidad</label>
                                            <input name="valor" class="form-control" type="text" maxlength="10" id="valor" placeholder="Ingrese un valor" ng-keyup="MaskNumero('valor',0,20,0,1)" ng-model="ModalValor">

                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="valor">Valor Total</label>
                                            <input name="valor" class="form-control" type="text" maxlength="10" id="valor" placeholder="Ingrese un valor" ng-keyup="MaskNumero('valor',0,20,0,1)" ng-model="ModalValor">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        Cancelar
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                    </button>
                                    <button type="button" class="btn btn-primary" ng-disabled="Deshabilitar" title="Aceptar" ng-click="ModificarDetalleFactura()">
                                        Aceptar
                                        <span class="glyphicon glyphicon-ok-circle"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!-- Modal Confirmación Guardar Entrada -->
    <div class="modal fade" id="modalConfirmacionGuardarEntrada" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>

