﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <section class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="numero">Número </label>
                            <span class="form-control">{{Modelo.Numero}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="fecha">Fecha </label>
                            <input name="fecha" type="date" class="form-control" ng-model="Fecha" ng-disabled="Deshabilitar" ng-blur="AsignarFecha(ModeloFecha)">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="proveedor">Proveedor</label>
                            <input type="text" class="form-control" name="proveedor" id="proveedor" typeahead-no-results="myform.proveedor.$error.required"
                                   placeholder="Seleccione un Proveedor" ng-disabled="Bloquear" ng-model="Proveedor" uib-typeahead="Proveedor as Proveedor.NombreCompleto for Proveedor in ListadoProveedores | filter:$viewValue | limitTo: 5" autocomplete="off">
                            <div ng-if="myform.proveedor.$error.required && LongitudProveedor > 0">


                                <i class="glyphicon glyphicon-remove"></i><small class="errorField"> el proveedor ingresado no existe</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Almacén</label>
                            <select name="almacenes" class="form-control" ng-model="Almacenes" ng-disabled="Bloquear" ng-options="i.Nombre for i in ListadoAlmacenes | orderBy:'Nombre'"></select>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="formadepago">Forma de Pago </label>
                            <select name="formadepago" class="form-control" ng-disabled="Deshabilitar" ng-model="FormaPago" ng-options="i.Nombre for i in ListadoFormaPago" ng-blur="ValidarFormaPago(FormaPago)"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="diascredito">Días Crédito</label>
                            <input class="form-control" name="diascredito" type="text" maxlength="3" id="diascredito" placeholder="Ingrese los días Crédito" ng-disabled="DeshabilitarDiasPlazo" ng-change="MaskNumero()" ng-model="DiasCredito">
                        </div>
                    </div>
                </div>
            </div>
            <!--CONTACTOS ENTREGA - RECIBE-->
            <div class="box box-default box-solid ">
                <div class="box-header with-border">
                    <h3 class="box-title">CONTACTOS ENTREGA - RECIBE</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="contacto">Contacto Entrega</label>
                                <input ng-change="MaskMayus()" type="text" class="form-control" name="contacto" maxlength="50" id="contacto" placeholder="Ingrese el contacto Entrega" ng-model="Contacto">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="fechaEntrega">Fecha Entrega </label>
                                <input name="fechaEntrega" type="date" class="form-control" ng-model="FechaEntrega" ng-disabled="Deshabilitar">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="contactorecibe">Contacto Recibe</label>
                                <input ng-change="MaskMayus()" class="form-control" name="contactorecibe" type="text" maxlength="50" id="contactorecibe" placeholder="Ingrese el contacto recibe" ng-disabled="DeshabilitarCampoDiazPlazo" ng-model="ContactoRecibe">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="input-control text full-size" data-role="input">
                                    <label for="observaciones">Observaciones</label>
                                    <textarea class="form-control" maxlength="250" name="observaciones" type="text" ng-model="Modelo.Observaciones" ng-disabled="Deshabilitar"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-7">
                            <button class="btn btn-block btn-primary" type="button" title="Nuevo Concepto" ng-click="ModalDetalle();" ng-disabled="Deshabilitar">
                                Adicionar
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <br>
                        </div>
                    </div>
                </div>
            </div>

            <!--DETALLE-->
            <div class="box box-default box-solid ">
                <div class="box-header with-border">
                    <h3 class="box-title">DETALLE</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Referencia</th>
                                            <th>Nombre Referencia</th>
                                            <th>Proveedor</th>
                                            <th>UM</th>
                                            <th>UE</th>
                                            <th>Val. Unitario</th>
                                            <th>Cantidad</th>
                                            <th>Val. Sin Descuento</th>
                                            <th>% Descuento</th>
                                            <th>Val. Descuento</th>
                                            <th>Subtotal</th>
                                            <th>% IVA</th>
                                            <th>Val. IVA</th>
                                            <th>Val. Total</th>
                                            <th>Cantidad Recibe</th>
                                            <th>Cantidad Faltante</th>

                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ListadoDetalle  | orderBy:'ReferenciaAlmacen.NombreReferencia'">
                                            <td>{{item.ReferenciaAlmacen.NombreReferencia}}</td>
                                            <td>{{item.ReferenciaNombre}}</td>
                                            <td>{{item.ReferenciaProveedor}}</td>
                                            <td>{{item.UnidadMedida}}</td>
                                            <td>{{item.UnidadEmpaque}}</td>
                                            <td style="text-align:right">{{item.ValorUnitario| number :0}}</td>
                                            <td style="text-align:right">{{item.Cantidad }}</td>
                                            <td style="text-align:right">{{item.ValorAntesDescuento | number :0}}</td>
                                            <td style="text-align:right">{{item.PorcentajeDescuento}}</td>
                                            <td style="text-align:right">{{item.ValorDescuento | number :0}}</td>
                                            <td style="text-align:right">{{item.Subtotal | number :0}}</td>
                                            <td style="text-align:right">{{item.PorcentajeIva}}</td>
                                            <td style="text-align:right">{{item.ValorIva | number :0}}</td>
                                            <td style="text-align:right">{{item.ValorTotal | number :0}}</td>
                                            <td style="text-align:right">{{item.CantidadRecibe | number :0}}</td>
                                            <td style="text-align:right">{{item.CantidadFaltante | number :0}}</td>
                                            <td>
                                                <button class="button mini-button primary" ng-disabled="Deshabilitar" title="Anular Detalle" ng-click="ConfirmacionEliminarDetalle(item, $index)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot ng-if="totalRegistros1 > 0 || Buscando == true">
                                        <tr>
                                            <td colspan="4">
                                                <small ng-if="totalRegistros1 > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros1}} Registros)</small>
                                                <div class="pagination rightAling" ng-if="totalRegistros1 > 0">
                                                    <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                        <span class="item">&laquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                        <span class="item">&lsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                        <span class="item">&rsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                        <span class="item">&raquo;</span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                    <tfoot ng-if="totalRegistros1 == 0 && Buscando == false">
                                        <tr>
                                            <td colspan="4" style="color:red; text-align:center">
                                                <small>{{ResultadoSinRegistros}}</small>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--TOTALES-->
            <div class="box box-default box-solid ">
                <div class="box-header with-border">
                    <h3 class="box-title">TOTALES</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="recorridos">Valor Antes Descuento</label>
                                <span style="text-align:right" class="form-control" ng-disabled="Deshabilitar"> {{Modelo.ValorAntesDescuento | number:0 }}</span>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="recorridos">Val. Descuentos</label>
                                <span style="text-align:right" class="form-control" ng-disabled="Deshabilitar"> {{Modelo.ValorDescuento | number:0 }}</span>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="retefuente">Subtotal</label>
                                <span style="text-align:right" class="form-control" ng-disabled="Deshabilitar"> {{Subtotal | number:0}}</span>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="conceptos">IVA</label>
                                <span style="text-align:right" class="form-control" ng-disabled="Deshabilitar"> {{Modelo.ValorIva | number:0}}</span>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="iva">Valor Total</label>
                                <span style="text-align:right" class="form-control" name="iva" ng-disabled="Deshabilitar"> {{Modelo.ValorTotal | number:0}}</span>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="valortransporte">Valor Transporte</label>
                                <input style="text-align:right" class="form-control" name="valortransporte" type="text" maxlength="10" id="valortransporte" placeholder="Ingrese un valor" ng-disabled="Deshabilitar" ng-model="ValorTransporte" ng-change="MaskValores()">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="porcentajeiva">% Anticipo</label>
                                <input style="text-align:right" class="form-control" name="porcentajeiva" type="text" maxlength="3" id="porcentajeiva" placeholder="Ingrese un valor" ng-disabled="Deshabilitar" ng-model="PorcentajeAnticipo" ng-change="MaskValores()" ng-blur="CalcularAnticipo()">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="valoranticipo">Valor Anticipo</label>
                                <span style="text-align:right" class="form-control" name="iva" ng-disabled="Deshabilitar"> {{Modelo.ValorAnticipo | number:0}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--SECCIÓN BOTONES-->
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="nombre">Oficina</label>
                        <input class="form-control" ng-model="Modelo.Oficina.Nombre" disabled>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label>Estado</label>
                        <select name="estado" class="form-control" ng-model="Estado" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoEstados"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-right">
                        <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                            Cancelar
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                        <button type="button" class="btn btn-primary" ng-disabled="Deshabilitar" title="Aceptar" ng-click="ConfirmacionGuardarOrden()">
                            Aceptar
                            <span class="glyphicon glyphicon-ok-circle"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <!-- Modal Detalle Orden Compra -->
    <div class="modal fade" id="modalDetalleOrdenCompra" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-content  modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            DETALLE ORDEN COMPRA
                        </h4>
                    </div>
                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorDetalle.length > 0">
                        <ul>
                            <li ng-repeat="error in MensajesErrorDetalle">
                                <span>{{error}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-body">
                        <div class="row">

                            <div class="col-md-2 col-sm-5 col-xs-12">
                                <div class="form-group">
                                    <label for="referencia">Referencia</label>
                                    <input class="form-control" tabindex="1" ng-disabled="DeshabilitarLlave"
                                           maxlength="30" placeholder="Ingrese la referencia" ng-model="Referencia" typeahead-no-results="myform.txtcuentapuc.$error.required"
                                           uib-typeahead="Referencia as Referencia.CodigoReferencia for Referencia in ListadoReferencias | filter:$viewValue | limitTo: 5" autocomplete="off" ng-blur="ValidarReferencia(Referencia.CodigoReferencia);" />
                                    <div ng-if="myform.txtcuentapuc.$error.required && LongitudReferencia >0"></div>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <div class="form-group">
                                    <label for="NombreReferencia">Nombre Referencia</label>
                                    <input class="form-control" ng-model="ReferenciaNombre" disabled />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-5 col-xs-12">
                                <div class="form-group">
                                    <label for="referenciaproveedor">Referencia Proveedor</label>
                                    <input class="form-control" ng-model="ReferenciaProveedor" disabled />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-5 col-xs-12">
                                <div class="form-group">
                                    <label for="cantidad">Cantidad</label>
                                    <input class="form-control" name="Cantidad" tabindex="1" type="text" maxlength="5" id="Cantidad" ng-change="MaskNumero()" placeholder="Ingrese la cantidad" ng-disabled="DeshabilitarCampoDiazPlazo" ng-model="Cantidad" ng-blur="CalcularDetalle()">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="unidadmedida">UM</label>
                                    <input class="form-control" ng-model="UnidadMedida" disabled />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="unidadempaque">UE</label>
                                    <input class="form-control" ng-model="UnidadEmpaque" disabled />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="valorunidad">Valor Unitario</label>
                                    <input style="text-align:right" class="form-control" tabindex="1" type="text" maxlength="10" placeholder="Ingrese un valor" ng-disabled="DeshabilitarCampoDiazPlazo" ng-model="ValorUnitario" ng-change="MaskValores()" ng-blur="CalcularDetalle()">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="nombrereferencia">Valor Antes Descuento</label>
                                    <span class="form-control" ng-disabled="true" style="text-align:right"> {{ValorAntesDescuento | number:0}}</span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="descuento">Descuento</label>
                                    <input style="text-align:right" class="form-control" tabindex="1" name="descuento" type="text" maxlength="3" placeholder="Ingrese un descuento" ng-model="Descuento" ng-change="MaskValores()" ng-blur="CalcularDetalle()">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="valordescuento">Valor Descuento</label>
                                    <input style="text-align:right" class="form-control" name="valordescuento" type="text" ng-disabled="true" maxlength="10" id="valordescuento" placeholder="Valor descuento" ng-model="ValorDescuento" ng-change="MaskValores()">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="valorneto">Valor Neto</label>
                                    <input style="text-align:right" class="form-control" name="valorneto" type="text" maxlength="10" ng-disabled="true" id="valorneto" placeholder="Valor Neto" ng-model="ValorNeto" ng-change="MaskValores()">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="iva">IVA</label>
                                    <input style="text-align:right" class="form-control" tabindex="1" type="text" maxlength="4" id="iva" placeholder="ingrese el porcetaje iva" ng-model="Iva" ng-change="MaskMoneda()" ng-blur="CalcularDetalle()">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="valoriva">Valor Iva</label>
                                    <input style="text-align:right" class="form-control" name="valoriva" type="text" ng-disabled="true" maxlength="3" id="valoriva" placeholder="Valor Iva" ng-model="ValorIva" ng-change="MaskValores()">
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="valortotal">Valor Total</label>
                                    <input style="text-align:right" class="form-control" name="valortotal" type="text" maxlength="10" ng-disabled="true" id="valortotal" placeholder="Valor total" ng-model="ValorTotal" ng-change="MaskValores()">
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Cancelar
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button type="button" class="btn btn-primary" title="Aceptar" ng-click="AdicionarDetalle()">
                                    Aceptar
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!-- Modal Confirmación Guardar -->
    <div class="modal fade" id="modalConfirmacionGuardarOrden" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


    <!-- Modal Confirmación Eliminar Detalle -->
    <div class="modal fade" id="modalEliminarDetalle" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar la línea de detalle {{ReferenciaAlmacen.Referencia}} - {{ReferenciaAlmacen.Nombre}} ?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" ng-disabled="Deshabilitar" title="Eliminar Detalle" ng-click="EliminarDetalle(Indice)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



