﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol> 
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR TIPO DOCUMENTOS</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0"> 
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span class="errorField">{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input name="nombre" type="text" placeholder="Ingrese un Nombre" class="form-control" ng-model="ModeloNombre" maxlength="40">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Generación</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalTipoNumeracion" ng-options="i.Nombre for i in ListadoTipoNumeracion"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>

                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" ng-click="paginaActual=1;Buscar()" title="Buscar Oficinas" ng-disabled="DeshabilitarConsulta">
                        Buscar
                        <span class="glyphicon glyphicon-filter"></span>
                    </button>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoTipoDocumentos.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Tipo Generación</th>
                                <th>Genera Comprobante</th>
                                <th>Consecutivo</th>
                                

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoTipoDocumentos  | orderBy:'Nombre'">
                                <td><a href="#!GestionarTipoDocumentos/{{item.Codigo}}">{{item.Nombre}}</td>
                                <td>
                                    <span ng-if="item.TipoNumeracion == 1101">Consecutivo Por Empresa</span>
                                    <span ng-if="item.TipoNumeracion == 1102">Consecutivo Por Oficina</span>
                                </td>
                                <td>
                                    <span ng-if="item.GeneraComprobanteContable == 1">SÍ</span>
                                    <span ng-if="item.GeneraComprobanteContable == 0">NO</span>
                                </td>
                                <td>{{item.Consecutivo}}</td>

                               
                                <td>
                                    <button class="button plus-button btn-success" title="Impuestos Tipo Documentos" ng-click="AbrirModal(item.Nombre);BuscarConcepto(item.Codigo)">
                                        <span class="fa fa-dollar"></span>
                                    </button>

                                </td>
                            </tr>

                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>


    <div class="modal fade" id="ModalImpuestos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-body">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="CerrarModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Impuestos Tipo Documentos</strong>
                        </h4>
                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorTRM.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesErrorTRM">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="box-body">
                            <div class="col-md-10 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="Cuenta">Impuesto</label>
                                    <input type="text" class="form-control" name="Impuesto" maxlength="50" id="ModeloImpuesto2" placeholder="Ingrese un Impuesto" ng-model="ModeloImpuesto2"
                                           uib-typeahead="i as i.Nombre for i in ListaImpuesto2| filter:$viewValue | limitTo: 5" ng-required="false" autocomplete="off" ng-blur="ModeloImpuesto2=VerificarAutocomplete(ModeloImpuesto2)">

                                </div>
                            </div>


                            <div class="SeccionBotones" ng-if="!(DeshabilitarActualizar)">
                                <div class="pull-left" style="padding:2%">
                                    <button class="btn btn-block btn-primary" title="" ng-click="AgregarImpuesto()">
                                        Agregar
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="box-body">
                            <div class="ResultadoConsulta">
                                <div class="table-responsive" ng-if="ListadoImpuestos.length > 0">
                                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                        <thead>
                                            <tr>

                                                <th style="text-align:center">Nombre</th>
                                              
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in ListadoImpuestos  | orderBy:'Nombre'">
                                                <td>{{item.Nombre}}</td>

                                                

                                                <td style="text-align:center">
                                                    <button class="button mini-button btn-danger" title="anular" ng-click="EliminarImpuesto(item.Codigo,item.CodigoImpuesto,item.Nombre)" ng-disabled="DeshabilitarEliminarAnular">
                                                        <span class="fas fa-trash-alt"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                            <tr>
                                                <td colspan="4">

                                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                            <span class="item">&laquo;</span>
                                                        </button>
                                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                            <span class="item">&lsaquo;</span>
                                                        </button>
                                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                            <span class="item">&rsaquo;</span>
                                                        </button>
                                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                            <span class="item">&raquo;</span>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>

                                    </table>
                                </div>
                                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                    <span style="color:red">
                                        <small>{{ResultadoSinRegistros}}</small>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="CerrarModal()">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Guardar" ng-click="Guardar()">
                                Guardar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>

                </form>


            </div>
        </div>
    </div>


    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalAnularImpuesto" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de Eliminar el Impuesto {{Nombre}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeAnuloImpuesto" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-open">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click=" MostrarMensajeErrorCompleto = MostrarMensajeErrorModal(MostrarMensajeErrorCompleto)"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalEliminarImpuesto" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de borrar el Impuesto {{Nombre}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmarEliminarImpuesto()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeConfirmacionEliminoImpuesto" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-open">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click=" MostrarMensajeErrorCompleto = MostrarMensajeErrorModal(MostrarMensajeErrorCompleto)"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>



</div>