﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR OFICINAS</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0"> 
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span class="errorField">{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input name="nombre" type="text" class="form-control" ng-model="Nombre" maxlength="40">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="CodigoAlterno">Código SIESA</label>
                            <input name="CodigoAlterno" class="form-control" ng-model="CodigoAlterno" placeholder="Ingrese un valor" maxlength="10">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="codigoInicial">Ciudad</label>
                            <input name="codigoInicial" class="form-control" ng-model="Ciudad" placeholder="Ingrese un Ciudad" maxlength="10">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" ng-click="paginaActual=1;Buscar()" title="Buscar Oficinas" ng-disabled="DeshabilitarConsulta">
                        Buscar
                        <span class="glyphicon glyphicon-filter"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" ng-disabled="DeshabilitarActualizar" ng-click="NuevoDocumento()" title="Nueva Oficina">
                            Nuevo
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListaOficinas.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Código SIESA</th>
                                <th>Ciudad</th>
                                <th>Dirección</th>
                                <th>Teléfono</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListaOficinas  | orderBy:'Nombre'">
                                <td><a href="#!GestionarOficinas/{{item.Codigo}}">{{item.Nombre}}</a></td>
                                <td>{{item.CodigoAlterno}}</td>
                                <td>{{item.Ciudad.Nombre}}</td>
                                <td>{{item.Direccion}}</td>
                                <td class="text-right">{{item.Telefono}}</td>
                                <td>
                                    <span ng-if="item.Estado == 0 " class="label pull-center bg-red">Inactiva</span>
                                    <span ng-if="item.Estado == 1" class="label label-success">Activa</span>
                                </td>
                                <td>
                                    <button class="button mini-button btn-primary" title="Asignar Consecutivos" ng-click="AbrirListaDocumentos(item)">
                                        <span class="fa fa-list"></span>
                                    </button>
                                    <button class="button mini-button btn-danger" title="Eliminar" ng-click="EliminarOficina(item.Codigo,item.Nombre,item.CodigoAlterno)" ng-disabled="DeshabilitarEliminarAnular">
                                        <span class="fas fa-trash-alt"></span>
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                        <tfoot ng-if="totalRegistros == 0 && Buscando == false">
                            <tr>
                                <td colspan="4" style="color:red; text-align:center">
                                    <small>{{ResultadoSinRegistros}}</small>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalEliminarOficinas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar la oficina {{Nombre}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeEliminarOficinas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-open">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click=" MostrarMensajeErrorCompleto = MostrarMensajeErrorModal(MostrarMensajeErrorCompleto)"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!-- Modal Consecutivos-->
    <div class="modal fade" id="modalConsecutivos" tabindex="-1" role="dialog" aria-labelledby="modalConsecutivos" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Asignar Consecutivos</strong>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorConsecutivos.length > 0">
                                            <ul>
                                                <li ng-repeat="error in MensajesErrorConsecutivos">
                                                    <span>{{error}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="Oficina">Oficina</label>
                                            <input type="text" name="Oficina" class="form-control" placeholder="Oficina Actual" ng-model="TMPOficina.Nombre" disabled />
                                        </div>

                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Tipo Documento</label>
                                            <select name="TipoDocumento" class="form-control" ng-model="ModalConsecutivos.TipoDocumento" ng-options="i.Nombre for i in ListadoTiposDocumento"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="Consecutivo">Consecutivo</label>
                                            <input  type="text" name="Consecutivo" class="form-control text-right" placeholder="Ingrese consecutivo" ng-change="MaskNumero()" ng-model="ModalConsecutivos.Consecutivo" maxlength="8"/>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="ConsecutivoFin">Consecutivo Hasta</label>
                                            <input  type="text" name="ConsecutivoFin" class="form-control text-right" placeholder="Ingrese consecutivo fin" ng-change="MaskNumero()" ng-model="ModalConsecutivos.ConsecutivoFin"  maxlength="8"/>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="AvisoConRestantes">Aviso Documentos Faltantes</label>
                                            <input type="text" name="AvisoConRestantes" class="form-control text-right" placeholder="Ingrese valor" ng-change="MaskNumero()" ng-model="ModalConsecutivos.AvisoConRestantes" maxlength="4" />
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-success" title="Adicionar" ng-click="AdicionarConsecutivo()" ng-show="!isEditConsecutivo">
                                                Adicionar
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>
                                            <button type="button" class="btn btn-default" ng-show="isEditConsecutivo" ng-click="LimpiarmodalConsecutivos()">
                                                Cancelar
                                                <span class="glyphicon glyphicon-remove-circle"></span>
                                            </button>
                                            <button type="button" class="btn btn-primary" title="Adicionar" ng-click="AdicionarConsecutivo()" ng-show="isEditConsecutivo">
                                                Modificar
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="resultadoConsulta">
                                            <div class="table-responsive" ng-if="ListaConsecutivos.length > 0">
                                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th>Tipo Documento</th>
                                                            <th>Consecutivo</th>
                                                            <th>Consecutivo Hasta</th>
                                                            <th>Aviso Documentos Faltantes </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in ListaConsecutivos | orderBy: 'TipoDocumento.Nombre'">
                                                            <td>{{item.TipoDocumento.Nombre}}</td>
                                                            <td class="text-right">{{item.Consecutivo}}</td>
                                                            <td class="text-right">{{item.ConsecutivoFin}}</td>
                                                            <td class="text-right">{{item.AvisoConRestantes}}</td>
                                                            <td class="text-right"></td>
                                                            <td>

                                                                <button class="button mini-button btn-default" title="Editar" ng-click="EditarConsecutivo(item)" ng-show="!isEditConsecutivo">
                                                                    <span class="fa fa-edit"></span>
                                                                </button>
                                                                <button class="button mini-button btn-danger" title="Eliminar" ng-click="ConfirmarEliminarConsecutivo(item)" ng-show="!isEditConsecutivo">
                                                                    <span class="fas fa-trash-alt"></span>
                                                                </button>

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Cancelar
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarConsecutivos()">
                                    Aceptar
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal Consecutivos-->
    <!-- Modal Confirmación Eliminar Consecutivo-->
    <div class="modal fade" id="modalEliminarConsecutivo" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Eliminar Consecutivo</strong>
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p class="text-center">¿Esta seguro que desea eliminar la información?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Eliminar Consecutivo" ng-click="EliminarConsecutivo(TmpEliminarConsecutivo.Indice)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmación Eliminar Gastos Ruta-->

</div>