﻿<div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR TERCEROS</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span class="errorField">{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="lblNumeIdent">Número Identificación</label>
                            <input ng-change="MaskNumero()" name="txtNumeIdent" placeholder="Digite n° de Identificacion" class="form-control" ng-model="Modelo.NumeroIdentificacion" maxlength="15" minlenght="6" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="lblCodiAlte">Código Alterno</label>
                            <input ng-change="MaskNumero()" name="txtCodiAlte" placeholder="Digite el codigo alterno" class="form-control" ng-model="Modelo.CodigoAlterno" type="text" maxlength="50" minlenght="4" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblNombTerc">Nombre</label>
                            <input ng-change="MaskMayus()" name="txtNombTerc" placeholder="Digite el nombre" class="form-control" ng-model="Modelo.NombreTercero" type="text" maxlength="50" minlenght="4" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblCiudad">Ciudad</label>
                            <input ng-change="MaskMayus()" name="txtCiudad" class="form-control" ng-model="Modelo.NombreCiudad" placeholder="Digite la ciudad" type="text" maxlength="50" minlenght="4" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblPerfil">Perfil</label>
                            <select name="cmbPerfil" class="form-control" ng-model="Modelo.Perfil" ng-options="i.Nombre for i in ListadoPerfiles | orderBy:'Nombre'"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblEstado">Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="Modelo.Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" ng-click="paginaActual=1;Buscar()" title="Buscar Terceros" ng-disabled="DeshabilitarConsulta">
                        Buscar
                        <span class="glyphicon glyphicon-filter"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" ng-disabled="DeshabilitarCrear" ng-show="!DeshabilitarCrear" ng-click="NuevoDocumento()" title="Nueva Oficina">
                            Nuevo
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoTerceros.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm table table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>No. Identificación</th>
                                <th>Código Alterno</th>
                                <th>Nombre</th>
                                <th>Ciudad</th>
                                <th>Teléfono</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoTerceros">
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                            <span class="fa fa-list"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-left" style="overflow-y:scroll; max-height:100px">
                                            <li>
                                                <a ng-click="modalAuditoriaTercero(item.Codigo, item.NombreCompleto);">
                                                    <span class="glyphicon glyphicon-list-alt" style="font-size:18px"></span>Auditoria Tercero
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td><a href="#!GestionarTerceros/{{item.Codigo}}">{{item.NumeroIdentificacion}}</a></td>
                                <td>{{item.CodigoAlterno}}</td>
                                <td>{{item.NombreCompleto}}</td>
                                <td>{{item.Ciudad.Nombre}}</td>
                                <td>{{item.Telefonos}}</td>
                                <td>
                                    <span ng-if="item.Estado.Codigo == 1" class="label label-success">Activo</span>
                                    <span ng-if="item.Estado.Codigo != 1" class="label label-warning">Inactivo</span>
                                </td>

                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalAuditoriaTercero" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-content  modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            AUDITORIA TERCEROS
                        </h4>
                    </div>
                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorAuditoria.length > 0">
                        <ul>
                            <li ng-repeat="error in MensajesErrorAuditoria">
                                <span>{{error}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="modal-footer">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="pull-left">
                                        <h4><span><strong> NOMBRE: {{NombreTercero}} </strong></span></h4>
                                    </div>
                                    <div class="pull-left">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label class="pull-left" for="lblFechIni">Fecha Inicial</label>
                                                    <input name="txtFechIni" type="date" class="form-control" ng-model="ModeloFechaInicial">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label class="pull-left" for="lblFechFin">Fecha Final</label>
                                                    <input name="txtFechFin" type="date" class="form-control" ng-model="ModeloFechaFinal">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-left">
                                        <button type="button" class="btn btn-primary" title="Aceptar" ng-click="BuscarDetallleAuditoria()">
                                            Buscar
                                            <span class="glyphicon glyphicon-ok-circle"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="LimpiarDetalleAuditoria()">
                                            Cerrar
                                            <span class="glyphicon glyphicon-remove-circle"></span>
                                        </button>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Usuario Modifica</th>
                                                <th>Fecha Modifica</th>
                                                <th>Evento Auditoria</th>
                                                <th>Estado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in ListadoAuditoria">
                                                <td>{{item.UsuarioModifica.Nombre}}</td>
                                                <td>{{item.FechaModifica}}</td>
                                                <td>{{item.EventoAuditoria}}</td>
                                                <td>
                                                    <span ng-if="item.Estado == 1" class="label label-success">Activo</span>
                                                    <span ng-if="item.Estado != 1" class="label label-warning">Inactivo</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>