﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR IMPUESTOS</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span class="errorField">{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input name="nombre" type="text" placeholder="Ingrese un Nombre" class="form-control" ng-model="Nombre" maxlength="40">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="CodigoAlterno">Código Alterno</label>
                            <input name="CodigoAlterno" class="form-control" ng-model="CodigoAlterno" placeholder="Ingrese un valor" maxlength="10" ng-change="MaskNumero()">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Recaudo</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalRecaudo" ng-options="i.Nombre for i in ListadoTipoRecaudo"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Impuesto</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalImpuesto" ng-options="i.Nombre for i in ListadoTipoImpuesto"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>

                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" ng-click="paginaActual=1;Buscar()" title="Buscar Oficinas" ng-disabled="DeshabilitarConsulta">
                        Buscar
                        <span class="glyphicon glyphicon-filter"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" ng-disabled="DeshabilitarActualizar" ng-click="NuevoDocumento()" title="Nueva Impuesto">
                            Nuevo
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoImpuestos.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Código Alterno</th>
                                <th>Operación</th>
                                <th>Tipo Recaudo</th>
                                <th>Tipo Impuesto</th>
                                <th>Valor Tarifa</th>
                                <th>Valor Base</th>
                                <th>Estado</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoImpuestos  | orderBy:'Nombre'">
                                <td><a href="#!GestionarImpuesto/{{item.Codigo}}">{{item.Nombre}}</a></td>
                                <td>{{item.CodigoAlterno}}</td>
                                <td>
                                    <span ng-if="item.Operacion == 2" class="label pull-center bg-red">-</span>
                                    <span ng-if="item.Operacion == 1" class="label label-success">+</span>
                                </td>
                                <td>{{item.Tipo_Recaudo.Nombre}}</td>
                                <td>{{item.Tipo_Impuesto.Nombre}}</td>
                                <td style="text-align:right">{{item.Valor_tarifa}}</td>
                                <td style="text-align:right">{{MaskValoresGrid(item.valor_base)}}</td>
                                <td>
                                    <span ng-if="item.Estado == 0 " class="label pull-center bg-red">Inactiva</span>
                                    <span ng-if="item.Estado == 1" class="label label-success">Activa</span>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown">
                                            <span class="fa fa-list-alt"></span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" style="overflow-y:scroll; max-height:100px">
                                            <li>
                                                <a ng-click="ModalCiudades(item.Codigo,item.Valor_tarifa,item.valor_base,item.Nombre)" ng-show="item.Tipo_Recaudo.Codigo==803">
                                                    <span class="fa fa-plus"></span>Ciudades
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="ModalDepartamentos(item.Codigo,item.Valor_tarifa,item.valor_base,item.Nombre)" ng-show="item.Tipo_Recaudo.Codigo==802">
                                                    <span class="fa fa-plus"></span>Departamento
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="EliminarImpuesto(item.Codigo,item.Nombre,item.CodigoAlterno)" ng-disabled="DeshabilitarEliminarAnular">
                                                    <span class="fa fa-trash"></span>Eliminar
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalAnularImpuesto" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de Eliminar el Impuesto {{Nombre}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeAnuloImpuesto" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-open">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click=" MostrarMensajeErrorCompleto = MostrarMensajeErrorModal(MostrarMensajeErrorCompleto)"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="ModalDepartamento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-body">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="CerrarModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Tarifa Impuesto Departamento</strong>
                        </h4>
                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorDepartamento.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesErrorDepartamento">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="box-body">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label for="Cuenta">Impuesto</label>
                                        <span class="form-control">{{ModeloNombre}}</span>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="Cuenta">Departamento</label>
                                            <input type="text" class="form-control" name="Departamento" maxlength="50" id="ModeloDepartamento" placeholder="Ingrese un departamento" ng-model="ModeloDepartamento" typeahead-no-results="myform.codigodane.$error.required"
                                                   uib-typeahead="i as i.Nombre for i in ListaDepartamento| filter:$viewValue | limitTo: 5" ng-required="false" autocomplete="off" ng-blur="ModeloDepartamento=VerificarAutocomplete(ModeloDepartamento);filtrotabla(1,ModeloDepartamento.Codigo)">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="Cuenta">Cuenta PUC</label>
                                            <input type="text" class="form-control" name="Cuenta Plan Unico Cuentas" maxlength="50" id="ModeloCuentaDepartamento" placeholder="Ingrese una Cuenta PUC" ng-model="ModeloCuentaDepartamento" typeahead-no-results="myform.codigodane.$error.required"
                                                   uib-typeahead="i as i.CodigoNombreCuenta for i in ListaPucDepartamento| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModeloCuentaDepartamento=VerificarAutocomplete(ModeloCuentaDepartamento)">
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="Valo_Tarifa">Valor Tarifa</label>
                                            <input name="Valo_Tarifa" type="text" class="form-control" ng-model="ModeloValorTarifaDepartamento" maxlength="20" ng-change="MaskDecimales()" style="text-align:right">
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="Valor_Base">Valor Base</label>
                                            <input name="Valor_Base" type="text" class="form-control" ng-model="ModeloValorBaseDepartamento" maxlength="20" ng-change="MaskDecimales()" style="text-align:right">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Estado</label>
                                            <select name="cmbEstado" class="form-control" ng-model="ModalEstadoDepartamento" ng-options="i.Nombre for i in ListadoEstadosDepartamentos"></select>
                                        </div>
                                    </div>
                                    <div class="SeccionBotones" ng-if="!(DeshabilitarActualizar)">
                                        <div class="pull-left" style="padding:3%">
                                            <button class="btn btn-block btn-primary" title="" ng-click="AgregarDepartamento(ModeloDepartamento.Codigo,ModeloCuentaDepartamento.Codigo)">
                                                Agregar
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box-body">
                            <div class="ResultadoConsulta">
                                <div class="table-responsive" ng-if="ListadoImpuestosDepartamento.length > 0">
                                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center">Departamento</th>
                                                <th style="text-align:center">Cuenta PUC</th>
                                                <th style="text-align:center">Valor Tarifa</th>
                                                <th style="text-align:center">Valor Base</th>
                                                <th style="text-align:center">Estado</th>
                                                <th style="text-align:center">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in ListadoImpuestosDepartamento  | orderBy:'Nombre'">
                                                <td>{{item.Nombre}}</td>
                                                <td>{{item.CuentaPUC.CodigoNombreCuenta}}</td>
                                                <td style="text-align:right">
                                                    <p ng-show="item.editable != true">{{item.ValorTarifa}}</p>
                                                    <input ng-show="item.editable == true" ng-change="item.ValorTarifa = MaskDecimalesGrid(item.ValorTarifa)" placeholder="Ingrese un valor" name="Valor_tarifa" type="text" class="form-control" ng-model="item.ValorTarifa">
                                                </td>
                                                <td style="text-align:right">
                                                    <p ng-show="item.editable != true">{{MaskValoresGrid(item.ValorBase) }}</p>
                                                    <input ng-show="item.editable == true" ng-change="item.ValorBase = MaskDecimalesGrid(item.ValorBase)" placeholder="Ingrese un valor" name="Valor_Base" type="text" class="form-control" ng-model="item.ValorBase">
                                                </td>
                                                <td>
                                                    <p ng-show="item.editable != true">
                                                        <span ng-if="item.Estado.Codigo == 0" class="label pull-center bg-red">Inactiva</span>
                                                        <span ng-if="item.Estado.Codigo == 1" class="label label-success">Activa</span>
                                                    </p>
                                                    <select ng-show="item.editable == true" name="cmbEstado" class="form-control" ng-model="item.Estado" ng-options="i.Nombre for i in ListadoEstados2"></select>
                                                </td>
                                                <td style="text-align:center">
                                                    <button ng-if="item.editable != true" class="button mini-button btn-primary" title="Editar" ng-click="item.editable = true" ng-disabled="Deshabilitar" ng-model="Modelo.Editar">
                                                        <span class="far fa-edit"></span>
                                                    </button>
                                                    <button ng-if="item.editable == true" class="button mini-button btn-success" title="Guardar" ng-click="ValidarModificacionDepartamento(item); item.editado = true" ng-disabled="Deshabilitar">
                                                        <span class="fa fa-check"></span>
                                                    </button>
                                                    <button class="button mini-button btn-danger" title="Guardar" ng-click="EliminarImpuestoDepartamento(item.Codigo,item.Nombre)" ng-disabled="Deshabilitar">
                                                        <span class="fa fa-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot ng-if="totalRegistrosDepartamentos > 0">
                                            <tr>
                                                <td colspan="4">
                                                    <small ng-if="totalRegistrosDepartamentos > 0">({{totalRegistrosDepartamentos}} Registros)</small>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div style="text-align:center" class="col-md-12" ng-if="totalRegistrosDepartamentos == 0">
                                    <span style="color:red">
                                        <small>{{ResultadoSinRegistrosDetalles}}</small>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="CerrarModal()">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Guardar" ng-click="GuardarDepartamento()">
                                Guardar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>

                </form>


            </div>
        </div>
    </div>

    <div class="modal fade" id="modalEliminarDepartamento" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de Eliminar el departamento asociado {{Nombre}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmarEliminarImpuesto()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeConfirmacionEliminoDepartamento" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-open">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click=" MostrarMensajeErrorCompleto = MostrarMensajeErrorModal(MostrarMensajeErrorCompleto)"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="ModalCiudades" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-body">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="CerrarModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Tarifa Impuesto Ciudad</strong>
                        </h4>
                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorCiudad.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesErrorCiudad">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="box-body">
                            <div class="row col-md-12">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label for="Cuenta">Impuesto</label>
                                        <span class="form-control">{{ModeloNombre}}</span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="Cuenta">Ciudad</label>
                                            <input type="text" class="form-control" name="Ciudad" maxlength="50" id="ModeloCiudad" placeholder="Ingrese una ciudad" ng-model="ModeloCiudades" typeahead-no-results="myform.codigodane.$error.required"
                                                   uib-typeahead="i as i.Nombre for i in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" autocomplete="off" ng-blur="ModeloCiudades=VerificarAutocomplete(ModeloCiudades)">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="Cuenta">Cuenta PUC</label>
                                            <input type="text" class="form-control" name="Cuenta Plan Unico Cuentas" maxlength="50" id="ModeloCuentaCiudades" placeholder="Ingrese una Cuenta PUC" ng-model="ModeloCuentaCiudades" typeahead-no-results="myform.codigodane.$error.required"
                                                   uib-typeahead="i as i.CodigoNombreCuenta for i in ListaPucCiudades| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModeloCuentaCiudades=VerificarAutocomplete(ModeloCuentaCiudades)">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="Valo_Tarifa">Valor Tarifa</label>
                                            <input name="Valo_Tarifa" type="text" class="form-control" ng-model="ModeloValorTarifaCiudades" maxlength="20" ng-change="MaskDecimales()" style="text-align:right">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="Valor_Base">Valor Base</label>
                                            <input name="Valor_Base" type="text" class="form-control" ng-model="ModeloValorBaseCiudades" maxlength="20" ng-change="MaskDecimales()" style="text-align:right">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Estado</label>
                                            <select name="cmbEstado" class="form-control" ng-model="ModalEstadoCiudades" ng-options="i.Nombre for i in ListadoEstadosCiudades"></select>
                                        </div>
                                    </div>
                                    <div class="SeccionBotones" ng-if="!(DeshabilitarActualizar)">
                                        <div style="padding:3%" class="pull-left">
                                            <button class="btn btn-block btn-primary" title="" ng-click="AgregarCiudades(ModeloCiudades.Codigo,ModeloCuentaCiudades.Codigo)">
                                                Agregar
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box-body">
                            <div class="ResultadoConsulta">
                                <div class="table-responsive" ng-if="ListadoImpuestosCiudades.length > 0">
                                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center">Ciudad</th>
                                                <th style="text-align:center">Cuenta PUC</th>
                                                <th style="text-align:center">Valor Tarifa</th>
                                                <th style="text-align:center">Valor Base</th>
                                                <th style="text-align:center">Estado</th>
                                                <th style="text-align:center">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in ListadoImpuestosCiudades  | orderBy:'Nombre'">
                                                <td>{{item.Nombre}}</td>
                                                <td>{{item.CuentaPUC.CodigoNombreCuenta}}</td>
                                                <td style="text-align:right">
                                                    <p ng-show="item.editable != true">{{item.ValorTarifa }}</p>
                                                    <input ng-show="item.editable == true" ng-change="item.ValorTarifa = MaskDecimalesGrid(item.ValorTarifa)" placeholder="Ingrese un valor" name="Valor_tarifa" type="text" class="form-control" ng-model="item.ValorTarifa">
                                                </td>
                                                <td style="text-align:right">
                                                    <p ng-show="item.editable != true">{{MaskValoresGrid(item.ValorBase)}}</p>
                                                    <input ng-show="item.editable == true" ng-change="item.ValorBase = MaskDecimalesGrid(item.ValorBase)" placeholder="Ingrese un valor" name="Valor_Base" type="text" class="form-control" ng-model="item.ValorBase">
                                                </td>
                                                <td>
                                                    <p ng-show="item.editable != true">
                                                        <span ng-if="item.Estado.Codigo == 0" class="label pull-center bg-red">Inactiva</span>
                                                        <span ng-if="item.Estado.Codigo == 1" class="label label-success">Activa</span>
                                                    </p>

                                                    <select ng-show="item.editable == true" name="cmbEstado" class="form-control" ng-model="item.Estado" ng-options="i.Nombre for i in ListadoEstados2"></select>
                                                </td>
                                                <td style="text-align:center">
                                                    <button ng-if="item.editable != true" class="button mini-button btn-primary" title="Editar" ng-click="item.editable = true" ng-disabled="Deshabilitar" ng-model="Modelo.Editar">
                                                        <span class="far fa-edit"></span>
                                                    </button>
                                                    <button ng-if="item.editable == true" class="button mini-button btn-success" title="Guardar" ng-click="ValidarModificacionCiudades(item); item.editado = true" ng-disabled="Deshabilitar">
                                                        <span class="fa fa-check"></span>
                                                    </button>
                                                    <button class="button mini-button btn-danger" title="Guardar" ng-click="EliminarImpuestoCiudad(item.Codigo,item.Nombre,$index)" ng-disabled="Deshabilitar">
                                                        <span class="fa fa-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot ng-if="totalRegistrosCiudades > 0">
                                            <tr>
                                                <td colspan="4">
                                                    <small ng-if="totalRegistrosCiudades > 0">({{totalRegistrosCiudades}} Registros)</small>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div style="text-align:center" class="col-md-12" ng-if="totalRegistrosCiudades == 0">
                                    <span style="color:red">
                                        <small>{{ResultadoSinRegistrosDetalles}}</small>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="CerrarModal()">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Guardar" ng-click="GuardarCiudad()">
                                Guardar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalEliminarImpuestoCiudad" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de Eliminar la ciudad asociada {{Nombre}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmarEliminarImpuestoCiudad()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeConfirmacionEliminoCiudades" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-open">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click=" MostrarMensajeErrorCompleto = MostrarMensajeErrorModal(MostrarMensajeErrorCompleto)"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalEliminarImpuestoDepartamento" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de Eliminar el Departamento asociado {{NombreDepartamentoEliminar}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmarEliminarImpuestoDepartamento()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeEliminarImpuesto" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-open">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click=" MostrarMensajeErrorCompleto = MostrarMensajeErrorModal(MostrarMensajeErrorCompleto)"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


</div>