﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR CIUDADES</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-3 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="lblNumeVehi">Nombre</label>
                            <input ng-keyup="MaskMayus()" name="Nombre" type="text" class="form-control" placeholder="Ciudad" ng-model="Nombre" maxlength="50" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="lblPlacVehi">Código DANE</label>
                            <input ng-change="MaskNumero()" class="form-control" name="CodigoAlterno" placeholder="Código" ng-model="CodigoAlterno" max="99999999" maxlength="8">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>País</label>
                            <input ng-keyup="MaskMayus()" autocomplete="off" name="cmbPais" class="form-control" placeholder="Pais" maxlength="100" ng-model="Pais" uib-typeahead="i as i.Nombre for i in ListadoPaises| filter:$viewValue | limitTo: 5" ng-blur="CargarCiudades(Pais)" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblNombCond">Departamento</label>
                            <input ng-keyup="MaskMayus()" name="departamento" type="text" class="form-control" placeholder="Departamento" maxlength="100" ng-model="Departamento">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" title="Buscar ciudad" ng-click="paginaActual=1;Buscar()" ng-disabled="DeshabilitarConsulta">
                        Buscar
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-block btn-primary" title="Nueva ciudad" onclick="document.location.href = '#!GestionarCiudades';">
                        Nuevo
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoCiudades.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Código Postal</th>
                                <th>Código DANE</th>
                                <th>País</th>
                                <th>Departamento</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoCiudades | orderBy:'Nombre'">
                                <td><a href="#!GestionarCiudades/{{item.Codigo}}" ng-disabled="DeshabilitarActualizar">{{item.Nombre}}</a></td>
                                <td>{{item.CodigoPostal}}</td>
                                <td>{{item.CodigoAlterno}}</td>
                                <td>{{item.Paises.Nombre}}</td>
                                <td>{{item.Departamento.Nombre}}</td>
                                <td>
                                    <span ng-if="item.Estado == 0 " class="label label-warning">Inactivo</span>
                                    <span ng-if="item.Estado == 1" class="label label-success">Activo</span>
                                </td>
                                <td>
                                    <button class="button mini-button btn-primary" title="Asignar Zonas" ng-click="ModalZonas(item.Codigo,item.Nombre);BuscarZonas()">
                                        <span class="fas fa-location-arrow"></span>
                                    </button>
                                    <button class="button mini-button primary" title="Asignar  Oficina" data-toggle="tooltip" ng-click="OficinaCiudades(item)">
                                        <span class="far fa-building"></span>
                                    </button>
                                    <button class="button mini-button primary" title="Asignar  Regiones" data-toggle="tooltip" ng-click="RegionCiudades(item)">
                                        <i class="fa fa-bullseye"></i>
                                    </button>
                                    <button class="button mini-button  btn-danger" title="Eliminar" ng-click="EliminarCiudades(item.Codigo,item.Nombre,item.CodigoAlterno)" ng-disabled="DeshabilitarEliminarAnular">
                                        <span class="fas fa-trash-alt"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalEliminarCiudades" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar la Ciudad {{Nombre}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeEliminarCiudades" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click=" MostrarMensajeErrorCompleto = MostrarMensajeErrorModal(MostrarMensajeErrorCompleto)"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-----------------------------------------------------------------------------------MODAL ZONAS CIUDAD------------------------------------------------------------------------->
    <div class="modal fade" id="ModalZonas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-body">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="CerrarModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Asignar Zonas</strong>
                        </h4>
                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorZonas.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesErrorZonas">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblIdentUsua">Ciudad: {{ NombreCiudad }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-4 col-xs-12">
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label>Zona</label>
                                                <input ng-change="MaskMayus()" type="text" name="Zona" class="form-control" maxlength="30" placeholder="Ingrese zona" ng-model="ModeloZona" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label>Estado</label>
                                                <select name="cmbEstadoZona" class="form-control" ng-model="ModalEstadoZona" ng-options="i.Nombre for i in ListadoEstadosZonas"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-primary" title="Adicionar" ng-click="AdicionarZonas()">
                                                Adicionar
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-----------------------RESULTADO CONSULTA----------------------->
                        <div id="resultadoConsulta" class="table-responsive" ng-if="ListadoZonas.length > 0">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Zona</th>
                                        <th style="text-align:center">Estado</th>
                                        <th style="text-align:center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoZonas">
                                        <td style="text-align:left">
                                            {{ item.Nombre }}
                                        </td>
                                        <td style="text-align:left">
                                            <p>
                                                <span ng-show="item.Estado.Codigo == 0 || item.Estado == 0" class="label pull-center bg-red">Inactiva</span>
                                                <span ng-show="item.Estado.Codigo == 1 || item.Estado == 1" class="label label-success">Activa</span>
                                            </p>
                                            <input ng-show="item.editable" name="Estado" type="text" class="form-control" ng-model="item.Estado">
                                        </td>
                                        <td style="text-align:left">
                                            <button class="button mini-button btn-warning" title="Cambiar estado" ng-click="CambiarEstado(item)" ng-disabled="Deshabilitar">
                                                <span class="fa fa-undo"></span>
                                            </button>
                                            <button class="button mini-button btn-danger" title="Eliminar" ng-click="EliminarZonas(item.Codigo, item.Nombre)" ng-disabled="DeshabilitarEliminarAnular">
                                                <span class="fas fa-trash-alt"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-if="ListadoZonas.length <= 0">
                            <div style="text-align:center" class="col-md-12" ng-if="totalRegistrosZonas == 0 && BuscandoZonas == false">
                                <span style="color:red">
                                    <small>{{ResultadoSinRegistrosZonas}}</small>
                                </span>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="CerrarModal()">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Guardar" ng-click="ConfirmacionGuardarZonas()">
                                Guardar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
                <!-----------------------CONFIRMACION GUARDAR----------------------->
                <div class="modal fade" id="modalConfirmacionGuardarZonas" tabindex="-1" role="dialog" data-backdrop="static">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <form autocomplete="off">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">
                                        GESTRANS.NET CARGA
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <p>¿Está seguro de guardar la información?</p>
                                </div>
                                <div class="modal-footer">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            Cancelar
                                            <span class="glyphicon glyphicon-remove-circle"></span>
                                        </button>
                                        <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                            Aceptar
                                            <span class="glyphicon glyphicon-ok-circle"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
            </div>
        </div>
    </div>
    <!-----------------------CONFIRMACION ELIMINAR----------------------->
    <div class="modal fade" id="modalEliminarZonas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de borrar la zona {{Nombre}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmarEliminarZonas()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-----------------------MODAL ERROR ZONA----------------------->
    <div class="modal fade" id="modalMensajeEliminarZonas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalOficinaCiudades" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-body">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Asignar Oficinas</strong>
                        </h4>
                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorOficina.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesErrorOficina">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblIdentUsua">Ciudad: {{Ciudad.Nombre}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblTipoVehi">Oficina</label>
                                            <select class="form-control" id="oficina" ng-model="Oficinas" ng-options="i.Nombre for i in ListadoOficinas"></select>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-success" title="Adicionar" ng-click="AdicionarOficina()">
                                                Adicionar
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>
                                            <button type="button" class="btn btn-primary" title="Adicionar" ng-click="AdicionarOficina(1)">
                                                Asociar Todo
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-4 col-xs-12">

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="resultadoConsulta" class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Nombre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoGridOficinas">
                                        <td>{{item.Codigo}}</td>
                                        <td>{{item.Nombre}}</td>
                                        <td style="text-align:right">
                                            <button class="button mini-button primary" title="Desasociar Oficina" ng-click="ListadoGridOficinas.splice($index, 1)">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarOficina()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalRegionesCiudades" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-body">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Asignar Regiones</strong>
                        </h4>
                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorOficina.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesErrorOficina">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblIdentUsua">Ciudad: {{Ciudad.Nombre}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblTipoVehi">Region</label>
                                            <select class="form-control" id="oficina" ng-model="Region" ng-options="i.Nombre for i in ListaRegiones"></select>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-success" title="Adicionar" ng-click="AdicionarRegion()">
                                                Adicionar
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>
                                            <button type="button" class="btn btn-primary" title="Adicionar" ng-click="AdicionarRegion(1)">
                                                Asociar Todo
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-4 col-xs-12">

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="resultadoConsulta" class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Nombre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoGridORegiones">
                                        <td>{{item.Codigo}}</td>
                                        <td>{{item.Nombre}}</td>
                                        <td style="text-align:right">
                                            <button class="button mini-button primary" title="Desasociar Oficina" ng-click="ListadoGridORegiones.splice($index, 1)">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarRegiones()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>