﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{ Titulo }}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content" tabindex="-1">

        <form name="myform">
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input ng-change="MaskMayus()" name="txtRazonSocial" type="text" class="form-control" maxlength="100" placeholder="Ingrese razón social" ng-model="ModeloRazonSocial" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Nombre Corto</label>
                            <input ng-change="MaskMayus()" name="txtNombreCortoRazonSocial" type="text" class="form-control" maxlength="100" placeholder="Ingrese nombre corto" ng-model="ModeloNombreCortoRazonSocial" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Código Alterno</label>
                            <input ng-change="MaskNumero()" name="txtCodigoAlterno" type="text" class="form-control" maxlength="20" placeholder="Ingrese código alterno" ng-model="ModeloCodigoAlterno" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="lblTipoIdentificacion">Tipo Identificación</label>
                            <select name="cmbTipoIdentificacion" class="form-control" ng-model="ModalTipoIdentificacion" ng-options="i.Nombre for i in ListadoTipoIdentificacion"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Número Identificación </label>
                            <input ng-change="MaskNumero()" name="txtNumeroIdentificacion" type="text" class="form-control" maxlength="10" placeholder="Ingrese número identificación" ng-model="ModeloNumeroIdentificacion" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label>Dígito Chequeo</label>
                            <input ng-change="MaskNumero()" name="txtDiguitoChequeo" type="text" class="form-control" maxlength="1" placeholder="Ingrese dígito" ng-model="ModeloDiguitoChequeo" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>País</label>
                            <input ng-change="MaskMayus()" autocomplete="off" type="text" class="form-control" name="textPais" maxlength="50" placeholder="Ingrese país" ng-model="ModeloPais" uib-typeahead="i as i.Nombre for i in ListadoPaises | filter:$viewValue | limitTo: 5">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Ciudad</label>
                            <input ng-change="MaskMayus()" autocomplete="off" type="text" class="form-control" name="textCiudad" maxlength="50" placeholder="Ingrese ciudad" ng-model="ModeloCiudad" uib-typeahead="i as i.Nombre for i in ListadoCiudades | filter:$viewValue | limitTo: 5">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Dirección</label>
                            <input ng-change="MaskDireccion()" name="txtDireccion" type="text" class="form-control" maxlength="150" placeholder="Ingrese dirección" ng-model="ModeloDireccion" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Código Postal</label>
                            <input ng-change="MaskNumero()" name="txtCodigoPostal" type="text" class="form-control" maxlength="20" placeholder="Ingrese código postal" ng-model="ModeloCodigoPostal" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Teléfonos</label>
                            <input ng-change="MaskTelefono()" name="txtTelefono" type="text" class="form-control" maxlength="100" placeholder="Ingrese teléfono" ng-model="ModeloTelefono" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>E-mail</label>
                            <input name="txtEmail" autocomplete="off" type="text" class="form-control" placeholder="Digite correo electrónico" maxlength="250" ng-model="ModeloCorreo" ng-pattern="/^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,3})$/">
                            <small class="errorField" ng-show="myform.txtEmail.$error.pattern">
                                Por favor verifique el formato del correo.
                            </small>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Página Web</label>
                            <input name="txtPaginaWeb" type="text" class="form-control" maxlength="150" placeholder="Ingrese página web" ng-model="ModeloPaginaWeb" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Mensaje Banner</label>
                            <input name="txtMensajeBanner" type="text" class="form-control" maxlength="350" placeholder="Ingrese mensaje banner" ng-model="ModeloMensajeBanner" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Actividad Económica</label>
                            <input name="txtActividadE" type="text" class="form-control" maxlength="50" placeholder="Actividad Económica" ng-model="ModeloActividadEconomica" autocomplete="off" />
                        </div>
                    </div>

                </div>



                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">RNDC</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Regional Ministerio</label>
                                    <input placeholder="Digite código regional ministerio" maxlength="50" class="form-control" ng-model="ModeloCodigoRegionalMinistertio">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Código Empresa</label>
                                    <input ng-change="MaskNumero()" placeholder="Digite codigo empresa ministerio" maxlength="9" class="form-control" ng-model="ModeloCodigoEmpresaMinisterio">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Usuario</label>
                                    <input placeholder="Digite usuario manifiesto electrónico" maxlength="50" class="form-control" ng-model="ModeloUsuarioManifiestoElectronico">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Clave</label>
                                    <input placeholder="Digite clave manifiesto electrónico" maxlength="50" class="form-control" ng-model="ModeloClaveManifiestoElectronico">
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>URL WS</label>
                                    <input placeholder="Digite Enlace Ministerio" class="form-control" ng-model="ModeloEnlaceWSMinisterio">
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lbAcepacionElectronica">Aceptación Electrónica</label>
                                    <br />
                                    <input type="checkbox" name="AceptacionElectronica" ng-model="ModeloAceptacionElectronica">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">UIAF</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">

                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Código Empresa</label>
                                    <input ng-change="MaskNumero()" placeholder="Digite codigo UIAF" maxlength="9" class="form-control" ng-model="ModeloCodigoUIAF">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Factura Electrónica</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div>
                                    <label for="lblProveedor">Proveedor</label>
                                    <select name="Proveedores" class="form-control" ng-model="ModeloProveedor" ng-options="i.Nombre for i in ListadoProveedorFael"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Usuario</label>
                                    <input placeholder="Digite usuario" class="form-control" ng-model="ModeloUsuario">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Clave</label>
                                    <input placeholder="Digite clave" class="form-control" ng-model="ModeloClave">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Operador Virtual</label>
                                    <input placeholder="Digite operador virtual" class="form-control" ng-model="ModeloOperadorVirtual">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Id Empresa</label>
                                    <input placeholder="Digite Id Empresa" class="form-control" ng-model="ModeloIdEmpresa">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Prefijo Factura</label>
                                    <input placeholder="Digite Prefijo Factura" class="form-control" ng-model="ModeloPrefijoFactura">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Clave Externa</label>
                                    <input placeholder="Digite Clave Externa Factura" class="form-control" ng-model="ModeloClaveExternaFactura">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Clave Técnica</label>
                                    <input placeholder="Digite Clave Técnica Factura" class="form-control" ng-model="ModeloClaveTecnicaFactura">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Prefijo Nota Crédito</label>
                                    <input placeholder="Digite Prefijo Nota Crédito" class="form-control" ng-model="ModeloPrefijoNotaCredito">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Clave Externa Nota Crédito</label>
                                    <input placeholder="Digite Clave Externa Nota Crédito" class="form-control" ng-model="ModeloClaveExternaNotaCredito">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Prefijo Nota Débito</label>
                                    <input placeholder="Digite Prefijo Nota Débito" class="form-control" ng-model="ModeloPrefijoNotaDebito">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Clave Externa Nota Débito</label>
                                    <input placeholder="Digite Clave Externa Nota Débito" class="form-control" ng-model="ModeloClaveExternaNotaDebito">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Firma Digital</label>
                                    <input placeholder="Digite firma digital" class="form-control" ng-model="ModeloFirmaDigital">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Ambiente</label>
                                    <select name="Ambiente" class="form-control" ng-model="ModeloAmbiente" ng-options="i.Nombre for i in ListadoAmbientes"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Póliza</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div>
                                    <label>Aseguradora</label>
                                    <input type="text" class="form-control" placeholder="Seleccione una Aseguradora" ng-model="ModeloAseguradora" uib-typeahead="Aseguradora as Aseguradora.NombreCompleto for Aseguradora in AutocompleteAseguradora($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModeloAseguradora=VerificarAutocomplete(ModeloAseguradora)">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Número</label>
                                    <input placeholder="Número " maxlength="50" class="form-control" ng-model="ModeloNumeroPoliza">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Valor</label>
                                    <input style="text-align:right" placeholder="Valor" maxlength="50" class="form-control" ng-model="ValorPoliza" ng-change="MaskValores()">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha Vencimiento</label>
                                    <input placeholder="Digite fecha" type="date" maxlength="50" class="form-control" ng-model="ModeloFechaVencimientoPoliza">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardarEmpresa()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardarEmpresa" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
