﻿<div >

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>

    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>

    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form name="myform">
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="lblNombre">Nombre</label>
                            <input ng-change="MaskMayus()" name="txtNombre" placeholder="Digite nombre" type="text" maxlength="50" class="form-control" ng-model="Modelo.Nombre">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="lblContacto">Contacto</label>
                            <input ng-change="MaskMayus()" name="txtContacto" placeholder="Digite contacto" type="text" maxlength="100" class="form-control" ng-model="Modelo.Contacto">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Pais</label>
                            <input type="text" class="form-control" autocomplete="off" ng-change="MaskMayus()" name="txtPais" maxlength="30" typeahead-no-results="myform.txtPais.$error.required" placeholder="Ingrese país" ng-model="Modelo.Pais" ng-required="true" uib-typeahead="Pais as Pais.Nombre for Pais in ListadoPaises | filter:$viewValue | limitTo: 5">
                            <div ng-if="myform.txtPais.$error.required && LongitudPais > 0">
                                <i class="glyphicon glyphicon-remove"></i><small class="errorField">El país ingresada no existe</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Ciudad</label>
                            <input type="text" class="form-control" ng-change="MaskMayus()" name="txtCiudad" maxlength="30" placeholder="Ingrese ciudad" ng-model="Modelo.NombreCiudad" ng-required="true">
                     
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="lblDireccion">Dirección</label>
                            <input ng-change="MaskDireccion()" placeholder="Digite dirección" name="txtDireccion" type="text" maxlength="50" class="form-control" ng-model="Modelo.Direccion">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="lblTelefono">Teléfono</label>
                            <input ng-change="MaskTelefono()" placeholder="Digite teléfono" name="txtTelefono" type="text" maxlength="50" class="form-control" ng-model="Modelo.Telefono">
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="input-control text full-size" data-role="input">
                                <label for="Descripcion">Observaciones</label>
                                <textarea class="form-control" maxlength="500" name="Observaciones" type="text" ng-model="Modelo.Observaciones"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblBanco">Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="Modelo.Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardarPuertosPaises()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <!-- Modal Confirmación Guardar Cuenta -->
    <div class="modal fade" id="modalConfirmacionGuardarPuertosPaises" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>