﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}} </h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12" ng-show="DivCodigo">
                        <div class="form-group">
                            <label for="campo1">{{Modelo.Codigo}}</label>
                            <input name="campo1" type="text" class="form-control" ng-disabled="true" ng-model="Codigo" placeholder="Ingrese un {{ Modelo.Codigo}}" ng-blur="ValidarCampo1Catalogos(Codigo)">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12" ng-show="DivNombre">
                        <div class="form-group">
                            <label for="campo2">{{Modelo.Nombre}}</label>
                            <input name="campo2" type="text" class="form-control" maxlength="100" ng-model="Nombre" placeholder="Ingrese un {{Modelo.Nombre}}">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12" ng-show="DivCampo2">
                        <div class="form-group">
                            <label for="campo2">{{Modelo.Campo2}}</label>
                            <input name="campo2" type="text" class="form-control" maxlength="100" ng-model="Campo2" placeholder="Ingrese un {{Modelo.Campo2}}">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12" ng-show="DivCampo3">
                        <div class="form-group">
                            <label for="campo3">{{Modelo.Campo3}}</label>
                            <input name="campo3" type="text" class="form-control" maxlength="100" ng-model="Campo3" placeholder="Ingrese un {{Modelo.Campo3}}">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12" ng-show="DivCampo4">
                        <div class="form-group">
                            <label for="campo4">{{Modelo.Campo4}}</label>
                            <input name="campo4" type="text" class="form-control" maxlength="100" ng-model="Campo4" placeholder="Ingrese un {{Modelo.Campo4}}">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12" ng-show="DivCampo5">
                        <div class="form-group">
                            <label for="campo5">{{Modelo.Campo5}}</label>
                            <input name="campo5" type="text" class="form-control" maxlength="100" ng-model="Campo5" placeholder="Ingrese un {{Modelo.Campo5}}">
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardarCatalogo()" ng-disabled="DeshabilitarActualizar">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <!-- Modal Confirmación Guardar Caja -->
    <div class="modal fade" id="modalConfirmacionGuardarCatalogo" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA 
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información del catálogo?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
