﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" name="txtNombre" ng-change="MaskMayus()" class="form-control" maxlength="100" placeholder="Nombre" ng-model="Modelo.Nombre" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Código Alterno</label>
                            <input type="text" name="txtCodiAlte" ng-change="MaskNumero()" class="form-control" maxlength="20" placeholder="Código Alterno" ng-model="Modelo.CodigoAlterno" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Versión</label>
                            <input type="text" name="txtVersion" ng-change="MaskMayus()" class="form-control" maxlength="50" placeholder="Versión" ng-model="Modelo.Version" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Inspección</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalTipoInspeccion" ng-options="i.Nombre for i in ListadoTiposInspeccion | orderBy: 'Nombre'"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalEstado" ng-options="i.Nombre for i in ListadoEstados | orderBy: 'Nombre'"></select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Documento Origen</label>
                            <select name="cmbTipDocOri" class="form-control" ng-model="Modelo.TipoDocumentoOrigen" ng-options="i.Nombre for i in ListadoTipoDocumentoOrigen | orderBy: 'Nombre'"></select>
                        </div>
                    </div>
                    <!--<div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form-group">
            <label>Pre-Operacional</label>
            <br />
            <input type="checkbox" ng-model="Modelo.Preoperacional" />
        </div>
    </div>-->
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Requiere Campo Firma</label>
                            <br />
                            <input type="checkbox" ng-model="Modelo.Firma" />
                        </div>
                    </div>
                </div>
                <div class="table-responsive" style="max-width:100%">
                    <div class="box-body" style="min-width:800px">
                        <h4>
                            <strong>Secciones</strong>
                            <button type="button" class=" pull-right btn btn-primary" title="Aceptar" ng-click="Agregar()">
                                Agregar
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </h4>
                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm display nowrap dataTable dtr-inline" ng-if="ListadoSecciones.length > 0">
                            <thead>
                                <tr>
                                    <th width="10px"></th>
                                    <th style="cursor:pointer"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ListadoSecciones">
                                    <td ng-click="ListTitem(item)" width="15px" style="cursor:pointer"><span class="glyphicon glyphicon-menu-right"></span> </td>
                                    <td style="min-width:90px" class="box box-default box-solid">
                                        <div class="col-md-6 col-sm-6 col-xs-12" style="min-width:80px">
                                            <label>Nombre</label>
                                            <p ng-if="item.editable != true">{{item.Nombre}}</p>
                                            <input ng-if="item.editable == true" ng-change="item.Nombre = MaskMayusGrid(item.Nombre)" placeholder="Ingrese el nombre" name="txtNombre" type="text" maxlength="100" class="form-control" ng-model="item.Nombre">
                                        </div>
                                        <div class="col-md-2 col-sm-6 col-xs-12" style="min-width:80px">
                                            <label>Estado</label>
                                            <p ng-if="item.editable != true">{{item.EstadoDocumento.Nombre}}</p>
                                            <select ng-if="item.editable == true" name="cmbEstado" class="form-control" ng-model="item.EstadoDocumento" ng-options="i.Nombre for i in ListadoEstados"></select>
                                        </div>
                                        <div class="col-md-2 col-sm-6 col-xs-12" style="min-width:90px">
                                            <div class="modal-footer" ng-show="!item.items">
                                                <button class="button mini-button btn-primary" title="Subir" ng-show="($index + 1) > 1" ng-click="SubirSeccion($index)">
                                                    <span class="fa fa-arrow-up"></span>
                                                </button>
                                                <button class="button mini-button btn-primary" title="Bajar" ng-show=" $index < (ListadoSecciones.length-1)" ng-click="BajarSeccion($index)">
                                                    <span class="fa fa-arrow-down"></span>
                                                </button>
                                                <button type="button" class="button mini-button btn-danger" title="Eliminar" ng-show="!item.Codigo > 0" ng-disabled="DeshabilitarEliminar" ng-click="EliminarSeccion($index)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                                <button ng-if="item.editable != true" class="button mini-button btn-primary" title="Editar" ng-click="item.editable = true;GuardarCampos(item)">
                                                    <span class="far fa-edit"></span>
                                                </button>
                                                <button ng-if="item.editable == true" class="button mini-button btn-success" title="Guardar" ng-click="ValidarCampos(item)">
                                                    <span class="fa fa-check"></span>
                                                </button>
                                                <button ng-if="item.editable == true" class="button mini-button btn-warning" title="Cancelar" ng-click="RestaurarCampos();item.editable = false">
                                                    <span class="fa fa-times"></span>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="col-md-12 content-header" ng-show="item.items">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <p class="box-title">ITEMS {{item.Nombre}}</p>
                                            </div>

                                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">

                                                <thead>
                                                    <tr>
                                                        <th>Nombre</th>
                                                        <th>Tipo Control</th>
                                                        <th>Tamaño Control</th>
                                                        <th>Exige Cumplimiento</th>
                                                        <th>Estado</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="itemDetalle in item.ListadoItemSeccion | orderBy: 'Orden'" ng-if="item.ListadoItemSeccion.length > 0">
                                                        <td style="min-width:70px">
                                                            <input ng-change="itemDetalle.Nombre = MaskMayusGrid(itemDetalle.Nombre)" placeholder="Ingrese el nombre" name="txtNombre" type="text" maxlength="100" class="form-control" ng-model="itemDetalle.Nombre">
                                                        </td>
                                                        <td style="min-width:70px">
                                                            <select name="cmbtipocontrol" class="form-control" ng-model="itemDetalle.TipoControl" ng-options="i.Nombre for i in ListaTipoControl"></select>
                                                        </td>
                                                        <td style="min-width:70px">
                                                            <input ng-if="itemDetalle.TipoControl.Codigo == 12501 || itemDetalle.TipoControl.Codigo == 12502 || itemDetalle.TipoControl.Codigo == 12504 || itemDetalle.TipoControl.Codigo == 12505" ng-change="itemDetalle.Tamano = MaskNumeroGrid(itemDetalle.Tamano)" placeholder="Ingrese el tamaño" name="txtTamano" type="text" maxlength="3" class="form-control" ng-model="itemDetalle.Tamano">
                                                        </td>
                                                        <td style="text-align:center;min-width:70px">
                                                            <label>
                                                                <input type="checkbox"  ng-model="itemDetalle.ExigeCumplimiento" />
                                                            </label>
                                                        </td>
                                                        <td style="min-width:70px">
                                                            <select name="cmbEstado" class="form-control" ng-model="itemDetalle.EstadoDocumento" ng-options="i.Nombre for i in ListadoEstados"></select>
                                                        </td>
                                                        <td style="min-width:70px" align="right">

                                                            <button class="button mini-button btn-primary" title="Bajar" ng-show=" $index < (item.ListadoItemSeccion.length-1)" ng-click="BajarItem($index,itemDetalle.Orden,item)">
                                                                <span class="fa fa-arrow-down"></span>
                                                            </button>
                                                            <button class="button mini-button btn-primary" title="Subir" ng-show="($index + 1) > 1" ng-click="SubirItem($index,itemDetalle.Orden,item)">
                                                                <span class="fa fa-arrow-up"></span>
                                                            </button>
                                                            <button type="button" class="button mini-button btn-danger" ng-show="!itemDetalle.Codigo > 0" ng-disabled="DeshabilitarEliminar" title="Eliminar" ng-click="EliminarItem($index,item)">
                                                                <span class="glyphicon glyphicon-trash"></span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <button type="button" class="pull-right btn btn-info" title="Adicionar Item" ng-click="AgregarItem(item.Nombre, item.Orden)">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="DeshabilitarActualizar">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modalAdicionarSeccion" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title ng-binding">Nueva Sección</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="alert alert-danger" role="alert" ng-if="MensajesErrorModal.length > 0">
                                    <ul>
                                        <li ng-repeat="error in MensajesErrorModal">
                                            <span>{{error}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div class="col-md-7 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input ng-change="MaskMayus()" placeholder="Ingrese el nombre" name="txtNombre" type="text" maxlength="100" class="form-control" ng-model="ModeloDetalle.Nombre">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Estado</label>
                                            <select name="cmbEstado" class="form-control" ng-model="ModeloDetalle.EstadoDocumento" ng-options="i.Nombre for i in ListadoEstados"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="AgregarSeccion()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>