﻿<div >

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>

    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>GESTIONAR IMPUESTOS</h1>
    </section>

    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form name="myform">
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input name="nombre" type="text" class="form-control" ng-model="ModeloNombre" maxlength="40" placeholder="Ingrese un Nombre">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="CodigoAlterno">Código Alterno</label>
                            <input name="CodigoAlterno" class="form-control" ng-model="ModeloCodigoAlterno" placeholder="Ingrese un valor" maxlength="10" ng-change="MaskNumero()" ng-blur="AsignarCodigoAlterno(ModeloCodigoAlterno)">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Label">Label</label>
                            <input name="Label" type="text" class="form-control" ng-model="ModeloLabel" maxlength="40" placeholder="Ingrese un Label">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Recaudo</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalRecaudo" ng-options="i.Nombre for i in ListadoTipoRecaudo" ng-change="CambioTipoRecaudo(ModalRecaudo.Codigo)"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Impuesto</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalImpuesto" ng-options="i.Nombre for i in ListadoTipoImpuesto"></select>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Operación</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModeloOperacion" ng-options="i.Nombre for i in ListadoOperacion"></select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Cuenta">Cuenta PUC</label>
                            <input type="text" class="form-control" name="Cuenta Plan Unico Cuentas" maxlength="50" id="ModeloCuenta" placeholder="Ingrese un Asegurador" ng-model="ModeloCuenta" typeahead-no-results="myform.codigodane.$error.required"
                                   uib-typeahead="i as i.CodigoNombreCuenta  for i in ListaPuc| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModeloCuenta=VerificarAutocomplete(ModeloCuenta)">

                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12" ng-show="Recaudovalor">
                        <div class="form-group">
                            <label for="Valo_Tarifa">Valor Tarifa</label>
                            <input name="Valo_Tarifa" style="text-align:right" type="text" placeholder="Ingrese un valor tarifa" class="form-control" ng-model="ModeloValorTarifa" maxlength="20" ng-change="MaskValores()">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12" ng-show="Recaudovalor">
                        <div class="form-group">
                            <label for="Valor_Base">Valor Base</label>
                            <input name="Valor_Base" style="text-align:right" type="text" placeholder="Ingrese un valor base" class="form-control" ng-model="ModeloValorBase" maxlength="20" ng-change="MaskValores()">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModeloEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>

                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardarImpuesto()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <!-- Modal Confirmación Guardar Cuenta -->
    <div class="modal fade" id="modalConfirmacionGuardarImpuesto" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>