﻿<div >

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>

    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{ Titulo }}</h1>
    </section>

    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form name="myform">
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input name="nombre" type="text" class="form-control" ng-change="MaskMayus()" placeholder="Ingrese nombre producto" ng-model="Nombre" maxlength="100">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12" ng-show="AplicaManifiesto == false">
                        <div class="form-group">
                            <label for="CodigoAlterno">Código Alterno</label>
                            <input name="CodigoAlterno" autocomplete="off" class="form-control" ng-model="CodigoAlterno" placeholder="Ingrese código Alterno" maxlength="4">
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Nombre Ministerio</label>
                            <input name="cmbE" class="form-control" ng-change="MaskMayus()" maxlength="100" placeholder="Ingrese producto ministerio" autocomplete="off" ng-model="Producto" ng-blur="ObtenerCamposCod(Producto)"
                                   uib-typeahead="Producto as Producto.NombreCompleto for Producto in ListadoProductos | filter:$viewValue | limitTo: 5">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12" ng-show="AplicaManifiesto == true">
                        <div class="form-group">
                            <label for="Codigo">Código Ministerio</label>
                            <input name="Codigo" class="form-control" ng-model="CodigoMinisterio" maxlength="10" placeholder="Ingrese código Ministerio" ng-blur="ObtenerCamposNom(CodigoMinisterio)">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Peso (kg)</label>
                            <input class="form-control text-right" ng-model="Peso" maxlength="10" placeholder="Ingrese peso" ng-change="MaskValores()">
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="input-control text full-size" data-role="input">
                                <label for="Descripcion">Descripción</label>
                                <textarea class="form-control" maxlength="250" name="Descripcion" type="text" ng-model="Descripcion"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Unidad Empaque</label>
                            <select name="cmbUnidadEmpaque" class="form-control" ng-model="UnidadEmpaque" ng-options="i.Nombre for i in ListadoUnidadEmpaque | orderBy:'Nombre'"></select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Unidad Medida</label>
                            <select name="cmbUnidadMedida" class="form-control" ng-model="UnidadMedida" ng-options="i.Nombre for i in ListadoUnidadMedida | orderBy:'Nombre'"></select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Naturaleza Producto</label>
                            <select name="cmbNaturalezaProducto" class="form-control" ng-model="NaturalezaProducto" ng-options="i.Nombre for i in ListadoNaturalezaProducto | orderBy:'Nombre'"></select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Linea Producto</label>
                            <select name="cmbLineaProducto" class="form-control" ng-model="LineaProducto" ng-options="i.Nombre for i in ListadoLineaProducto | orderBy:'Nombre'"></select>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Nivel Riesgo</label>
                            <select name="cmbNivelRiesgo" class="form-control" ng-model="NivelRiesgo" ng-options="i.Nombre for i in ListadoNivelRiesgo | orderBy:'Nombre'"></select>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Aplica Tarifario</label>
                            <br />
                            <input type="checkbox" ng-model="ModeloAplicaTarifa" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModeloEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <!-- Modal Confirmación Guardar Cuenta -->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>