﻿<div >

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>

    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content" tabindex="-1">

        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Ciudad</label>
                            <input ng-change="MaskMayus()" name="txtCiudad" type="text" class="form-control" maxlength="50" placeholder="Ingrese la ciudad" ng-model="Ciudad" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Código DANE</label>
                            <input ng-change="MaskMayus()" type="text" class="form-control" name="codigodane" maxlength="50" id="codigodane" placeholder="Ingrese un código DANE" ng-model="Modelo.CodigoDane" typeahead-no-results="myform.codigodane.$error.required" uib-typeahead="i as i.Codigo for i in ListadoCodigosDane| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="AsignarCodigoDane(Modelo.CodigoDane)">
                            <div ng-if="myform.codigodane.$error.required && LongitudCodigoDANE > 0">
                                <i class="glyphicon glyphicon-remove"></i><small class="errorField"> El código DANE no se existe en el sistema</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Departamento</label>
                            <input type="text" autocomplete="off" class="form-control" name="departamento" maxlength="50" id="departamento" placeholder="Ingrese un departamento" ng-model="Departamento" typeahead-no-results="myform.departamento.$error.required" uib-typeahead="departamentos as departamentos.Nombre for departamentos in ListadoDepartamentos| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="AsignarDepartamento(Departamento)">
                            <div ng-if="myform.departamento.$error.required && LongitudDepartamento > 0">
                                <i class="glyphicon glyphicon-remove"></i><small class="errorField"> El departamento no existe en el sistema</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Código Postal</label>
                            <input ng-change="MaskNumero()" type="text" class="form-control text-right" name="codigodane" maxlength="50" id="codigodane" placeholder="Ingrese un Código Postal" ng-model="Modelo.CodigoPostal">

                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12" ng-show="Sesion.UsuarioAutenticado.ManejoICACiudadOficinaDespacha">
                        <div class="form-group">
                            <label for="lblBanco">Calcular ICA Oficina</label>
                            <select name="cmbEstado" class="form-control" ng-model="Modelo.CalcularICAOficina" ng-options="i.Nombre for i in ListadoEstadoCalcularICAOficina"></select>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblBanco">Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardarCiudad()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardarCiudad" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
