﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <input class="form-control" ng-model="Modelo.Planilla.NumeroDocumento" maxlength="20" ng-change="MaskNumero()" disabled>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha</label>
                            <input type="date" class="form-control" ng-model="Modelo.Planilla.Fecha" ng-disabled="DeshabilitarActualizar">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Vehículo</label>
                            <input type="text" class="form-control" maxlength="18" placeholder="Vehículo" ng-model="Modelo.Planilla.Vehiculo"
                                   uib-typeahead="Vehi as Vehi.Placa for Vehi in AutocompleteVehiculos($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="Modelo.Planilla.Vehiculo=VerificarAutocomplete(Modelo.Planilla.Vehiculo);ObtenerInformacionTenedor();Modelo.Planilla.Ruta = ''" ng-disabled="DeshabilitarActualizar" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Semirremolque</label>
                            <input type="text" class="form-control" maxlength="18" placeholder="Semirremolque" ng-model="Modelo.Planilla.Semirremolque"
                                   uib-typeahead="semi as semi.Placa for semi in ListaRemolque| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="Modelo.Planilla.Semirremolque=VerificarAutocomplete(Modelo.Planilla.Semirremolque)" ng-disabled="DeshabilitarActualizar" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Conductor</label>
                            <input maxlength="60" type="text" class="form-control" name="conductor" id="conductor" placeholder="Seleccione un conductor" ng-model="Modelo.Planilla.Vehiculo.Conductor" uib-typeahead="conductores as conductores.NombreCompleto for conductores in AutocompleteConductor($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.Planilla.Vehiculo.Conductor=VerificarAutocomplete(Modelo.Planilla.Vehiculo.Conductor)" ng-disabled="DeshabilitarActualizar">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tenedor</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="" ng-model="Modelo.Planilla.Vehiculo.Tenedor.NombreCompleto" disabled>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha Salida</label>
                            <input type="date" class="form-control" ng-model="Modelo.Planilla.FechaSalida" ng-disabled="DeshabilitarActualizar">
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Hora</label>
                            <input type="text" ng-change="MaskHora()" class="form-control" maxlength="5" placeholder="HH:MM" ng-model="Modelo.Planilla.HoraSalida" ng-disabled="DeshabilitarActualizar" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Ruta</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="Seleccione una ruta" ng-model="Modelo.Planilla.Ruta"
                                   uib-typeahead="Ruta as Ruta.Nombre for Ruta in LustadoRutasFiltrado| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="Modelo.Planilla.Ruta=VerificarAutocomplete(Modelo.Planilla.Ruta);FiltrarTarifas(Modelo.Planilla.Ruta);CargarImpuestos(Modelo.Planilla.Ruta); CargarValorAnticipo()" ng-disabled="DeshabilitarActualizar || !(Modelo.Planilla.Vehiculo.Tenedor.Codigo > 0)">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tarifa</label>
                            <select name="cmbEstado" class="form-control" ng-model="Modelo.Planilla.TarifaTransportes" ng-change="FiltrarTipoTarifa()" ng-options="i.Nombre for i in ListaTarifas" ng-disabled="DeshabilitarTarifas || DeshabilitarActualizar"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Tarifa</label>
                            <select name="cmbEstado" class="form-control" ng-model="TipoTarifaTransportes" ng-change="Calcular()" ng-options="i.NombreTipoTarifa for i in ListadoTipoTarifa" ng-disabled="DeshabilitarTarifas || DeshabilitarActualizar"></select>
                        </div>
                    </div>

                </div>


            </div>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" onselectstart="return false" ng-click="MostrarConsultaRecolecciones()">Recolecciones</a></li>
                <li><a data-toggle="tab" onselectstart="return false" ng-click="MostrarConsultaGuias()">Remesas</a></li>
            </ul>

            <div class="tab-content">
                <div id="Recolecciones">
                    <div id="ConsultaRecolecciones">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Cargar Recolecciones</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse" id="btncargarrecolecciones"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label for="FechaSalida">Fecha Inicial</label>
                                        <input name="FechaSalida" type="date" class="form-control" ng-model="FechaInicio" ng-disabled="DesabilitarDocumentoDefinitivo">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label for="FechaSalida">Fecha Final</label>
                                        <input name="FechaSalida" type="date" class="form-control" ng-model="FechaFin" ng-disabled="DesabilitarDocumentoDefinitivo">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblNumero">Número</label>
                                        <input ng-change="MaskNumero()" name="txtNumero" placeholder="Digite número" class="form-control" ng-model="NumeroDocumento" type="text" maxlength="50" ng-disabled="DesabilitarDocumentoDefinitivo" />
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblOficina">Oficina Origen</label>
                                        <select name="cmbOficina" class="form-control" ng-model="ModeloOficinasRecoleccion" ng-options="i.Nombre for i in ListadoOficinasRecoleccion" ng-disabled="DesabilitarDocumentoDefinitivo"></select>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <label for="Cuenta">Ciudad </label>
                                    <input ng-change="MaskMayus()" autocomplete="off" type="text" class="form-control" name="Ciudad" maxlength="50" placeholder="Ingrese una Ciudad" ng-model="ModeloCiudadRecoleccion" uib-typeahead="i as i.Nombre for i in ListadoCiudades| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModeloCiudadRecoleccion=VerificarAutocomplete(ModeloCiudadRecoleccion);CambiarCiudadRecoleccion(ModeloCiudadRecoleccion)" ng-disabled="DesabilitarDocumentoDefinitivo">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblZona">Zona</label>
                                        <select name="cmbZona" class="form-control" ng-model="ModeloZonasRecoleccion" ng-options="i.Nombre for i in ListadoZonasRecoleccion" ng-disabled="DesabilitarDocumentoDefinitivo"></select>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblCliente">Cliente</label>
                                        <input ng-change="MaskMayus()" autocomplete="off" name="txtCliente" placeholder="Digite nombre cliente" class="form-control" ng-model="ModeloCliente" type="text" maxlength="100" uib-typeahead="i as i.NombreCompleto for i in ListaClientes| filter:$viewValue | limitTo: 5" ng-disabled="DesabilitarDocumentoDefinitivo" />
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6">
                                    <div class="form-group">
                                        <br />
                                        <button type="button" class="btn btn-primary" title="Adicionar" ng-click="CargarRecolecciones()" ng-disabled="DesabilitarDocumentoDefinitivo">
                                            Cargar
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-default box-solid collapsed-box">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Filtrar Recolecciones</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse" id="btnfiltrosrecolecciones"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label for="FechaSalida">Fecha Inicio</label>
                                        <input name="FechaSalida" type="date" class="form-control" ng-model="FiltroFechaInicio" ng-disabled="DesabilitarDocumentoDefinitivo">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label for="FechaSalida">Fecha Fin</label>
                                        <input name="FechaSalida" type="date" class="form-control" ng-model="FiltroFechaFin" ng-disabled="DesabilitarDocumentoDefinitivo">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblNumero">Número Inicial</label>
                                        <input ng-change="MaskNumero()" name="txtNumero" placeholder="Digite número inicial" class="form-control" ng-model="FiltroNumeroInicio" type="text" maxlength="50" ng-disabled="DesabilitarDocumentoDefinitivo" />
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblNumero">Número Final</label>
                                        <input ng-change="MaskNumero()" name="txtNumero" placeholder="Digite número final" class="form-control" ng-model="FiltroNumeroFin" type="text" maxlength="50" ng-disabled="DesabilitarDocumentoDefinitivo" />
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <br />
                                        <button type="button" class="btn btn-primary" title="Filtrar recolecciones cargados" ng-click="FiltrarRecolecciones()" ng-disabled="DesabilitarDocumentoDefinitivo">
                                            Filtrar
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                        <button type="button" class="btn btn-primary" title="Reinicia y mostrar recolecciones cargados" ng-click="LimpiarFiltroRecolecciones()" ng-disabled="DesabilitarDocumentoDefinitivo">
                                            Limpiar
                                            <span class="glyphicon glyphicon-refresh"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <br />
                                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false && ListaRecoleccionesGrid.length > 0">
                                    <span style="color:red">
                                        <small>{{ResultadoSinRegistros}}</small>
                                    </span>
                                </div>
                                <!--RESULTADO CONSULTA-->
                                <div class="ResultadoConsulta">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm" ng-if="ListaRecoleccionesGrid.length > 0">
                                            <thead>
                                                <tr>
                                                    <th>Número</th>
                                                    <th>Fecha</th>
                                                    <th>Cliente</th>
                                                    <th>Contacto</th>
                                                    <th>Zona</th>
                                                    <th>Barrio</th>
                                                    <th>Dirección</th>
                                                    <th>Teléfonos</th>
                                                    <th>Mercancía</th>
                                                    <th>Unidad Empaque</th>
                                                    <th>Cantidad</th>
                                                    <th>Peso (Kg)</th>                                                    
                                                    <th>Observaciones</th>
                                                    <th>Oficina</th>
                                                    <th style="text-align:center">
                                                        <label>
                                                            Marc./Desma. Todo
                                                            <input type="checkbox" ng-click="MarcarRecolecciones(RecoleccionesSeleccionados);Calcular()" ng-model="RecoleccionesSeleccionados" title="Marcar o Desmarcar todas las recolecciones" />
                                                        </label>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ListaRecoleccionesGrid">
                                                    <td>{{item.NumeroDocumento}}</td>
                                                    <td>{{item.Fecha | date: 'dd/MM/yyyy'}}</td>
                                                    <td>{{item.Cliente.Nombre}}</td>
                                                    <td>{{item.NombreContacto}}</td>
                                                    <td>{{item.NombreZona}}</td>
                                                    <td>{{item.Barrio}}</td>
                                                    <td>{{item.Direccion}}</td>
                                                    <td class="Campo">{{item.Telefonos}}</td>
                                                    <td>{{item.Mercancia}}</td>
                                                    <td>{{item.UnidadEmpaque}}</td>
                                                    <td align="right">{{MaskValoresGrid(item.Cantidad)}}</td>
                                                    <td align="right">{{item.Peso | number : 0}}</td>
                                                    <td class="Campo">{{item.Observaciones}}</td>
                                                    <td class="Campo">{{item.Oficinas.Nombre}}</td>
                                                    <td style="text-align:center">
                                                        <label>
                                                            <input type="checkbox" ng-model="item.SeleccionadoRecolecciones" ng-click="Calcular();EliminarRecoleccionGuardada($index,item)" />
                                                        </label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                                <tr>
                                                    <td colspan="4">
                                                        <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                        <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                            <button class="button primary" ng-click="PrimerPaginaRecolecciones()" title="Primera">
                                                                <span class="item">&laquo;</span>
                                                            </button>
                                                            <button class="button primary" ng-click="AnteriorRecolecciones()" title="Anterior">
                                                                <span class="item">&lsaquo;</span>
                                                            </button>
                                                            <button class="button primary" ng-click="SiguienteRecolecciones()" title="Siguiente">
                                                                <span class="item">&rsaquo;</span>
                                                            </button>
                                                            <button class="button primary" ng-click="UltimaPaginaRecolecciones()" title="Última">
                                                                <span class="item">&raquo;</span>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <style>
                                            .Campo {
                                                max-width: 500px;
                                            }
                                        </style>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-content">
                <div id="Guias">
                    <div id="ConsultaGuias">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Cargar Remesas</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse" id="btncargarguias"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="alert alert-danger" role="alert" ng-if="MensajesErrorConslta.length > 0">
                                    <ul>
                                        <li ng-repeat="error in MensajesErrorConslta">
                                            <span>{{error}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblFechIni">Fecha Inicial</label>
                                            <input name="txtFechIni" type="date" class="form-control" ng-model="Modelo.FechaInicial">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblFechFina">Fecha Final</label>
                                            <input name="txtFechFina" type="date" class="form-control" ng-model="Modelo.FechaFinal">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="NumeroInicial">Número</label>
                                            <input name="NumeroInicial" class="form-control" ng-model="Modelo.NumeroInicial" placeholder="Ingrese número inicial" maxlength="20" ng-change="MaskNumero()">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblOficina">Oficina Origen</label>
                                            <select name="cmbOficina" class="form-control" ng-model="Modelo.OficinaOrigen" ng-options="i.Nombre for i in ListadoOficinasRecoleccion | orderBy: 'Nombre'" ng-disabled="DesabilitarDocumentoDefinitivo"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Ciudad Origen</label>
                                            <input maxlength="60" type="text" class="form-control" placeholder="Ingrese una Ciudad" ng-model="Modelo.Remesa.CiudadRemitente" uib-typeahead="CiudadRemitente as CiudadRemitente.NombreCompleto for CiudadRemitente in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                                   ng-blur="Modelo.Remesa.CiudadRemitente=VerificarAutocomplete(Modelo.Remesa.CiudadRemitente)">

                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Ciudad Destino</label>
                                            <input maxlength="60" type="text" class="form-control" placeholder="Ingrese una Ciudad" ng-model="Modelo.Remesa.CiudadDestinatario" uib-typeahead="CiudadDestinatario as CiudadDestinatario.NombreCompleto for CiudadDestinatario in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                                   ng-blur="Modelo.Remesa.CiudadDestinatario=VerificarAutocomplete(Modelo.Remesa.CiudadDestinatario)">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Cliente</label>
                                            <input maxlength="60" type="text" class="form-control" placeholder="Ingrese un Cliente" ng-model="Modelo.Remesa.Cliente" uib-typeahead="clie as clie.NombreCompleto for clie in AutocompleteCliente($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                                   ng-blur="Modelo.Remesa.Cliente=VerificarAutocomplete(Modelo.Remesa.Cliente)">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="CodigoAlterno">Documento Cliente</label>
                                            <input name="CodigoAlterno" class="form-control" ng-model="Modelo.Remesa.NumeroDocumentoCliente" placeholder="Ingrese un valor" maxlength="20" ng-change="MaskNumero()">
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Remitente</label>
                                            <input maxlength="60" type="text" class="form-control" placeholder="Ingrese un remitente" ng-model="Modelo.Remesa.Remitente" uib-typeahead="clie as clie.NombreCompleto for clie in AutocompleteRemitente($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                                   ng-blur="Modelo.Remesa.Remitente=VerificarAutocomplete(Modelo.Remesa.Remitente)">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6">
                                    <div class="form-group">
                                        <br />
                                        <button type="button" class="btn btn-primary" title="Adicionar" ng-click="Buscar()" ng-disabled="DesabilitarDocumentoDefinitivo">
                                            Cargar
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-default box-solid CriteriosBusqueda" ng-show="!DeshabilitarActualizar">
                            <div class="box-header with-border">
                                <h3 class="box-title">Filtrar Remesas</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse" id="btnFiltros"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="alert alert-danger" role="alert" ng-if="MensajesErrorFiltro.length > 0">
                                    <ul>
                                        <li ng-repeat="error in MensajesErrorFiltro">
                                            <span>{{error}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblFechVinc">Fecha Inicial</label>
                                            <input name="txtFechVinc" type="date" class="form-control" ng-model="Filtro2.FechaInicial">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblFechVinc">Fecha Final</label>
                                            <input name="txtFechVinc" type="date" class="form-control" ng-model="Filtro2.FechaFinal">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="CodigoAlterno">Número Inicial</label>
                                            <input name="CodigoAlterno" class="form-control" ng-model="Filtro2.NumeroInicial" placeholder="Ingrese un valor" maxlength="20" ng-change="MaskNumero()">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="CodigoAlterno">Número Final</label>
                                            <input name="CodigoAlterno" class="form-control" ng-model="Filtro2.NumeroFinal" placeholder="Ingrese un valor" maxlength="20" ng-change="MaskNumero()">
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <br />
                                            <button type="button" class="btn btn-primary" title="Filtrar remesas cargadas" ng-click="Filtrar()" ng-disabled="DesabilitarDocumentoDefinitivo">
                                                Filtrar
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                            <button type="button" class="btn btn-primary" title="Limpiar tabla y filtros" ng-click="LimpiarFiltroRemesas()" ng-disabled="DesabilitarDocumentoDefinitivo">
                                                Limpiar
                                                <span class="glyphicon glyphicon-refresh"></span>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                                <div class="SeccionBotones">
                                    <div class="pull-left">
                                        
                                    </div>
                                </div>

                                <div>
                                    <div class="ResultadoConsulta">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th>Número</th>
                                                        <th>Fecha</th>
                                                        <th>Cliente</th>
                                                        <th>Oficina Origen</th>
                                                        <th>Origen</th>
                                                        <th>Destino</th>
                                                        <th>Cantidad</th>
                                                        <th>Peso (Kg)</th>
                                                        <th>Peso Volumétrico</th>
                                                        <th>Peso a Cobrar</th>

                                                        <th>Observaciones</th>
                                                        <th>Documento Cliente</th>
                                                        <th>
                                                            <label>
                                                                Marc./Desma. Todo
                                                                <input type="checkbox" ng-click="MarcarRemesas(ChkRemesa);Calcular()" ng-model="ChkRemesa" title="Marcar o Desmarcar todas las recolecciones" />
                                                            </label>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in ListadoGuias | orderBy:'Codigo'">
                                                        <td><a href="#!GestionarGuiaPaqueterias/{{item.Remesa.Numero}}" target="_blank">{{item.Remesa.NumeroDocumento}}</a></td>
                                                        <td>{{item.Remesa.Fecha | date:'dd/MM/yyyy' }}</td>
                                                        <td>{{item.Remesa.Cliente.NombreCompleto}}</td>
                                                        <td>{{item.OficinaOrigen.Nombre}}</td>
                                                        <td>{{item.Remesa.CiudadRemitente.Nombre}}</td>
                                                        <td>{{item.Remesa.CiudadDestinatario.Nombre}}</td>
                                                        <td align="right">{{item.Remesa.CantidadCliente}}</td>
                                                        <td align="right">{{item.Remesa.PesoCliente}}</td>
                                                        <td align="right">{{item.PesoVolumetrico}}</td>
                                                        <td align="right" ng-show="item.PesoCobrar > 0">{{item.PesoCobrar}}</td>
                                                        <td align="right" ng-show="item.PesoCobrar == 0 && item.Remesa.PesoCliente >= item.PesoVolumetrico">{{item.Remesa.PesoCliente}}</td>
                                                        <td align="right" ng-show="item.PesoCobrar == 0 && item.Remesa.PesoCliente < item.PesoVolumetrico">{{item.PesoVolumetrico}}</td>

                                                        <td>{{item.Remesa.Observaciones}}</td>
                                                        <td>{{item.Remesa.NumeroDocumentoCliente}}</td>
                                                        <td style="text-align:center">
                                                            <label>
                                                                <input type="checkbox" ng-model="item.Seleccionado" ng-click="Calcular()" />
                                                            </label>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                                <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                                    <tr>
                                                        <td colspan="4">
                                                            <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                            <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                                <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                                    <span class="item">&laquo;</span>
                                                                </button>
                                                                <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                                    <span class="item">&lsaquo;</span>
                                                                </button>
                                                                <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                                    <span class="item">&rsaquo;</span>
                                                                </button>
                                                                <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                                    <span class="item">&raquo;</span>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tfoot>

                                            </table>
                                        </div>
                                        <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false && ListadoGuias.length > 0">
                                            <span style="color:red">
                                                <small>{{ResultadoSinRegistros}}</small>
                                            </span>
                                        </div>
                                    </div>
                                    
                                </div>


                            </div>
                        </div>
                        <!--Guías Guardadas-->
                        <div class="box box-default box-solid CriteriosBusqueda" id="GuiasAsociadas" ng-show="ListadoGuiaGuardadas.length > 0">
                            <div class="box-header with-border">
                                <h3 class="box-title">Remesas</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">


                                <div style="padding-top: 2%">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Número</th>
                                                    <th>Fecha</th>
                                                    <th>Origen</th>
                                                    <th>Destino</th>
                                                    <th>Cliente</th>
                                                    <th>Producto</th>
                                                    <th>Cantidad</th>
                                                    <th>Peso (Kg)</th>
                                                    <th>Peso Volumétrico</th>
                                                    <th>Peso Cobrar</th>
                                                    <th>Observaciones</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ListadoGuiaGuardadas | orderBy:'Codigo'">
                                                    <td>{{item.Remesa.NumeroDocumento}}</td>
                                                    <td>{{item.Remesa.Fecha | date:'dd/MM/yyyy' }}</td>
                                                    <td>{{item.Remesa.CiudadRemitente.Nombre}}</td>
                                                    <td>{{item.Remesa.CiudadDestinatario.Nombre}}</td>
                                                    <td>{{item.Remesa.Cliente.NombreCompleto}}</td>
                                                    <td>{{item.Remesa.ProductoTransportado.Nombre}}</td>
                                                    <td align="right">{{MaskValoresGrid(item.Remesa.CantidadCliente)}}</td>
                                                    <td align="right">{{MaskValoresGrid(item.Remesa.PesoCliente)}}</td>
                                                    <td align="right">{{MaskValoresGrid(item.Remesa.PesoVolumetricoCliente)}}</td>
                                                    <td align="right">{{MaskValoresGrid(item.Remesa.PesoCobrar)}}</td>                                                   
                                                    <td>{{item.Remesa.Observaciones}}</td>
                                                    <td>
                                                        <button class="button mini-button btn-danger" title="Eliminar" ng-click="EliminarGuiaGuardada($index, item.Remesa.Numero);Calcular()" ng-disabled="DeshabilitarActualizar" ng-show="!DeshabilitarActualizar">
                                                            <span class="fas fa-trash-alt"></span>
                                                        </button>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false && ListadoGuiaGuardadas.length <= 0">
                                        <span style="color:red">
                                            <small>{{ResultadoSinRegistros}}</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--auxiliares-->
            <div class="box box-default box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Auxiliares</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row" ng-show="!DeshabilitarActualizar">
                        <div class="col-md-6 col-sm-4 col-xs-12" ng-show="!DeshabilitarActualizar">
                            <div class="form-group">
                                <label for="Cuenta">Funcionario</label>
                                <input ng-change="MaskMayus()" type="text" autocomplete="off" class="form-control" name="Funcioario" maxlength="50" id="ModeloFuncionario" placeholder="Ingrese Funcionario" ng-model="ModeloFuncionario" uib-typeahead="i as i.NombreCompleto for i in ListaFuncionario| filter:$viewValue | limitTo: 5" ng-required="false">
                            </div>
                        </div>
                        <div class="SeccionBotones" ng-show="!DeshabilitarActualizar">
                            <div class="pull-left">
                                <button class="btn btn-block btn-primary" title="" ng-click="AgregarAuxiliar()">
                                    Agregar
                                    <span class="fa fa-plus"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="ResultadoConsulta">
                        <div class="table-responsive" ng-if="ListaAuxiliares.length > 0" style="overflow-y:scroll;overflow-x:scroll;max-height:500px;max-width:100%">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Funcionario</th>
                                        <th>Horas Trabajadas</th>
                                        <th>Valor</th>
                                        <th>Observaciones</th>
                                        <th ng-show="!DeshabilitarActualizar">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody style="text-align:left ">
                                    <tr ng-repeat="item in ListaAuxiliares">
                                        <td>{{item.Tercero.Nombre}}</td>
                                        <td>
                                            <span ng-show="!item.Modificarfuncionario">{{item.Horas}}</span>

                                            <div ng-show="item.Modificarfuncionario" class="form-group">
                                                <input ng-change="item.Horas = MaskNumeroGrid(item.Horas)" name="txtHoras" class="form-control" placeholder="Ingrese horas" ng-model="item.Horas" maxlength="10" />
                                            </div>
                                        </td>
                                        <td>
                                            <span ng-show="!item.Modificarfuncionario">{{item.Valor | number:0}}</span>

                                            <div ng-show="item.Modificarfuncionario" class="form-group">
                                                <input style="text-align:right" ng-change="item.Valor = MaskValoresGrid(item.Valor)" name="txtValor" class="form-control" placeholder="Ingrese valor" ng-model="item.Valor" maxlength="10" />
                                            </div>
                                        </td>
                                        <td>
                                            <span ng-show="!item.Modificarfuncionario">{{item.Observaciones}}</span>
                                            <input name="txtObservaciones" type="text" class="form-control" placeholder="Ingrese observaciones" ng-show="item.Modificarfuncionario" ng-model="item.Observaciones" maxlength="500" />
                                        </td>
                                        <td style="text-align:center" ng-show="!DeshabilitarActualizar">
                                            <button class="button mini-button btn-success" title="Agregar" ng-click="ValidarDatosFuncionario()">
                                                <span class="fa fa-check"></span>
                                            </button>
                                            <button class="button mini-button btn-warning" title="Editar" ng-click="item.Modificarfuncionario = true">
                                                <span class="fa fa-edit"></span>
                                            </button>
                                            <button class="button mini-button btn-danger" title="Eliminar" ng-click="EliminarFuncionario(item.Codigo)">
                                                <span class="fas fa-trash-alt"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="text-align:center" class="col-md-12" ng-if="DeshabilitarActualizar && (ListaAuxiliares.length == 0 || ListaAuxiliares == undefined)">
                            <span style="color:red">
                                <small>{{ResultadoSinRegistros}}</small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-default box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">IMPUESTOS</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="ResultadoConsulta">
                            <div class="table-responsive" ng-if="ListadoImpuestosFiltrado.length > 0">
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th align="right">Valor Base</th>
                                            <th align="right">Tarifa</th>
                                            <th align="right">Valor Impuesto</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ListadoImpuestosFiltrado | orderBy:'Nombre'">
                                            <td>{{item.Nombre}}</td>
                                            <td align="right">{{MaskValoresGrid(item.ValorBase)}}</td>
                                            <td align="right">{{item.ValorTarifa}}</td>
                                            <td align="right">{{MaskValoresGrid(item.ValorImpuesto)}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Totales transportador-->
            <div class="box box-default box-solid ">
                <div class="box-header with-border">
                    <h3 class="box-title">Totales Transportador</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Cantidad</label>
                                <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores()" placeholder="Cantidad" ng-model="Modelo.Planilla.Cantidad" ng-required="false" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Peso</label>
                                <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores()" placeholder="Peso" ng-model="Modelo.Planilla.Peso" ng-required="false" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Valor Flete</label>
                                <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores()" placeholder="Flete" ng-model="Modelo.Planilla.ValorFleteTransportador" ng-required="false" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Valor Anticipo</label>
                                <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores();Calcular();ValidarAnticipoPlanilla()" placeholder="Anticipo" ng-model="Modelo.Planilla.ValorAnticipo" ng-required="false" ng-disabled="DeshabilitarActualizar" ng-blur="Calcular()">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Valor Impuestos</label>
                                <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-model="TotalImpuestos" ng-required="false" ng-disabled="true">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Valor Pagar</label>
                                <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores()" placeholder="Valor Pagar" ng-model="Modelo.Planilla.ValorPagarTransportador" ng-required="false" disabled>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <!--Totales Cliente-->
            <!--<div class="box box-default box-solid ">
                <div class="box-header with-border">
                    <h3 class="box-title">Totales Cliente</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Valor Flete Cliente</label>
                                <input maxlength="18" type="text" class="form-control" ng-change="MaskValores()" placeholder="Seleccione un conductor" ng-model="Modelo.Planilla.ValorFleteCliente" ng-required="false" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Valor Seguro</label>
                                <input maxlength="18" type="text" class="form-control" ng-change="MaskValores()" placeholder="Seleccione un conductor" ng-model="Modelo.Planilla.ValorSeguroMercancia" ng-required="false" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Valor Otros Cobros</label>
                                <input maxlength="18" type="text" class="form-control" ng-change="MaskValores()" placeholder="Seleccione un conductor" ng-model="Modelo.Planilla.ValorOtrosCobros" ng-required="false" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Valor Credito</label>
                                <input maxlength="18" type="text" class="form-control" ng-change="MaskValores()" placeholder="Seleccione un conductor" ng-model="Modelo.Planilla.ValorTotalCredito" ng-required="false" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Valor Contado</label>
                                <input maxlength="18" type="text" class="form-control" ng-change="MaskValores()" placeholder="Seleccione un conductor" ng-model="Modelo.Planilla.ValorTotalContado" ng-required="false" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Valor al Cobro</label>
                                <input maxlength="18" type="text" class="form-control" ng-change="MaskValores()" placeholder="Seleccione un conductor" ng-model="Modelo.Planilla.ValorTotalAlcobro" ng-required="false" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!--SECCIÓN BOTONES-->
            <div class="col-md-2 col-sm-3 col-xs-12">
                <div class="form-group">
                    <label>Oficina</label>
                    <input name="cmbOficina" class="form-control" uib-typeahead="i as i.Nombre for i in ListadoOficina| filter:$viewValue | limitTo: 5" ng-model="ModeloOficina" disabled>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label>Estado</label>
                    <select name="cmbEstado" class="form-control" ng-model="Modelo.Planilla.Estado" ng-options="i.Nombre for i in ListadoEstados" ng-disabled="DeshabilitarActualizar"></select>
                </div>
            </div>
            <br />
            <br />
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="DeshabilitarActualizar">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>