﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">

                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" name="txtNombre" ng-change="MaskMayus()" class="form-control" maxlength="40" placeholder="Nombre" ng-model="Modelo.Nombre" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Código Alterno</label>
                            <input type="text" name="txtCodAlt" class="form-control" maxlength="20" placeholder="Código Alterno" ng-model="Modelo.CodigoAlterno" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Concepto</label>
                            <select name="cmbTipConcepto" class="form-control" ng-model="Modelo.TipoConceptoContable" ng-options="i.Nombre for i in ListadoTipoConcepto"></select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Documento Origen</label>
                            <select name="cmbDocOrigen" class="form-control" ng-model="Modelo.DocumentoOrigen" ng-options="i.Nombre for i in ListadoDocumentoOrigen | orderBy:'Nombre'"></select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina Aplica</label>
                            <select name="cmbOficAplica" class="form-control" ng-model="Modelo.OficinaAplica" ng-options="i.Nombre for i in ListadoOficinas"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Observaciones</label>
                            <input type="text" class="form-control" ng-model="Modelo.Observaciones" maxlength="250" />
                        </div>
                    </div>
                </div>
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title"> Detalle Concepto</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <label></label>
                                <button class="btn btn-block btn-primary" ng-click="ModalDetalleConcepto()" title="Nuevo Detalle">
                                    Adicionar
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                        </div>
                        <br />
                        <div class="box-body">
                            <div class="row">
                                <div id="resultadoConsulta" class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Cuenta PUC</th>
                                                <th>Nombre</th>
                                                <th>Valor Base</th>
                                                <th>Naturaleza</th>
                                                <th>Genera Cuenta</th>
                                                <th>Eliminar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in ListaDetalle">
                                                <td>{{item.CuentaPUC.CodigoCuenta}}</td>
                                                <td>{{item.CuentaPUC.Nombre}}</td>
                                                <td>{{item.ValorBase | number :0}}</td>
                                                <td>{{item.NaturalezaConceptoContable.Nombre}}</td>
                                                <td> <input type="checkbox" ng-model="item.GeneraCuenta" /></td>
                                                <td>
                                                    <button class="button mini-button  btn-danger" title="Anular" ng-click="ConfirmacionEliminarMovimiento($index)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                            <tr>
                                                <td colspan="4">
                                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                            <span class="item">&laquo;</span>
                                                        </button>
                                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                            <span class="item">&lsaquo;</span>
                                                        </button>
                                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                            <span class="item">&rsaquo;</span>
                                                        </button>
                                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                            <span class="item">&raquo;</span>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                        <tfoot ng-if="totalRegistros == 0 && Buscando == false">
                                            <tr>
                                                <td colspan="4" style="color:red; text-align:center">
                                                    <small>{{ResultadoSinRegistros}}</small>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Detalle Concepto-->
    <div class="modal fade" id="modalDetalle" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">
                            Nueva Cuenta PUC
                        </h3>
                    </div>
                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorDetalleConcepto.length > 0">
                        <ul>
                            <li ng-repeat="error in MensajesErrorDetalleConcepto">
                                <span>{{error}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <div class="form-group">
                                    <label for="cuentapuc">Nombre Cuenta</label>
                                    <input type="text" name="txtNombreCuenta" class="form-control" placeholder="Ingrese cuenta PUC" ng-model="Modal.CuentaPUC" uib-typeahead="CuentaPUC as CuentaPUC.Nombre for CuentaPUC in ListadoCuentasPUC | filter:$viewValue | limitTo: 5" />
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="naturaleza">Naturaleza Movimiento</label>
                                    <select name="naturaleza" class="form-control" ng-model="Modal.NaturalezaConceptoContable" ng-options="i.Nombre for i in ListadoNaturalezaConceptoContable"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="TipoCuentaConcepto">Tipo Cuenta Concepto</label>
                                    <select name="TipoCuentaConcepto" class="form-control" ng-model="Modal.TipoCuentaConcepto" ng-options="i.Nombre for i in ListadoTipoCuentaConcepto"></select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="DocumentoOrigen">Documento Cruce</label>
                                    <select name="DocuOrig" class="form-control" ng-model="Modal.DocumentoCruce" ng-options="i.Nombre for i in ListadoDocumentoCruce"></select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="lblTerc"> Tercero </label>
                                    <select name="Tercero" class="form-control" ng-model="Modal.TerceroParametrizacion" ng-options="i.Nombre for i in ListadoTerceroParametrizacion"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="lblCentCost">Centro Costo</label>
                                    <select name="CentCost" class="form-control" ng-model="Modal.CentroCostoParametrizacion" ng-options="i.Nombre for i in ListadoCentroCostoParametrizacion"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="ValoBase">Valor Base</label>
                                    <input style="text-align:right" ng-change="MaskValores()" maxlength="10" placeholder="Ingrese Valor" class="form-control" ng-model="Modal.ValorBase" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="PorcTari">Porcentaje Tarifa</label>
                                    <input style="text-align:right" ng-change="MaskDecimales()" maxlength="4" placeholder="Ingrese porcentaje" class="form-control" ng-model="Modal.PorcentajeTarifa" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblGeneCuen">Genera Cuenta</label>
                                    <br />
                                    <input type="checkbox" ng-model="Modal.GeneraCuenta" />
                                </div>
                            </div>
                        </div>
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Parametrización Interfaz Contable</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Prefijo</label>
                                            <input type="text" name="txtPrefijo" ng-change="MaskMayus()" class="form-control" maxlength="10" placeholder="Ingrese prefijo" ng-model="Modal.Prefijo" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Código Anexo</label>
                                            <input type="text" name="txtCodiAnex" ng-change="MaskMayus()" class="form-control" maxlength="10" placeholder="Ingrese código anexo" ng-model="Modal.CodigoAnexo" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Sufijo Código Anexo</label>
                                            <input type="text" name="txtSufiCodiAnex" ng-change="MaskMayus()" class="form-control" maxlength="10" placeholder="Ingrese sufijo" ng-model="Modal.SufijoCodigoAnexo" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblAuxi">Auxiliar</label>
                                            <input type="text" class="form-control" placeholder="Ingrese auxiliar" ng-model="Modal.CampoAuxiliar" maxlength="10" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarDetalle()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmación Eliminar Movimiento -->
    <div class="modal fade" id="modalEliminarMovimiento" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro que desea eliminar el detalle del concepto contable?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Eliminar tarifa" ng-click="EliminarMovimiento(Indice)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>