﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Documento Genera</label>
                            <select name="cmbDocGenera" class="form-control" ng-model="Modelo.TipoDocumentoGenera" ng-options="i.Nombre for i in ListadoDocumentoGenera" ng-disabled="ListaDetalle.length > 0"></select>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" name="txtNombre" ng-change="MaskMayus()" class="form-control" maxlength="40" placeholder="Nombre" ng-model="Modelo.Nombre" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Código Alterno</label>
                            <input ng-change="MaskNumero()" type="text" name="txtCodAlt" class="form-control" maxlength="20" placeholder="Código Alterno" ng-model="Modelo.CodigoAlterno" />
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                    <!--<div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Generación Detalle Contable</label>
                            <select name="cmbTipGeneracion" class="form-control" ng-model="Modelo.TipoGeneraDetalle" ng-options="i.Nombre for i in ListadoDocumentoGeneracionDetalle"></select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fuente</label>
                            <input type="text" name="txtFuente" class="form-control" maxlength="40" placeholder="Fuente" ng-model="Modelo.Fuente" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fuente Anulación</label>
                            <input type="text" name="txtFuenteAnulacion" class="form-control" maxlength="40" placeholder="Fuente Anulacón" ng-model="Modelo.FuenteAnula" />
                        </div>
                    </div>-->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Observaciones</label>
                            <input type="text" class="form-control" ng-model="Modelo.Observaciones" maxlength="250" />
                        </div>
                    </div>
                </div>
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title"> Detalle</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-12" ng-show="Modelo.TipoDocumentoGenera.Codigo > 0">
                                <label></label>
                                <button class="btn btn-block btn-primary" ng-click="ModalDetalleParametrizacion()" title="Nuevo Detalle">
                                    Adicionar
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                        </div>
                        <br />
                        <div class="box-body">
                            <div class="row">
                                <div id="resultadoConsulta" class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Orden</th>
                                                <th>Cuenta PUC</th>
                                                <th>Descripción</th>
                                                <th>Tercero</th>
                                                <th>Tipo Parametrización</th>
                                                <th>Débito</th>
                                                <th>Crédito</th>
                                                <th>Eliminar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in ListaDetalle">
                                                <td>{{item.Orden}}</td>
                                                <td>{{item.CuentaPUC.CodigoCuenta}} - {{item.CuentaPUC.Nombre}}</td>
                                                <td>{{item.Descripcion}}</td>
                                                <td>{{item.TerceroParametrizacion.Nombre}}</td>
                                                <td>{{item.TipoParametrizacion.Nombre}}</td>
                                                <td ng-if="item.NaturalezaMovimiento.Codigo == '2901'">Si</td>
                                                <td ng-if="item.NaturalezaMovimiento.Codigo == '2902'">No</td>

                                                <td ng-if="item.NaturalezaMovimiento.Codigo == '2901'">No</td>
                                                <td ng-if="item.NaturalezaMovimiento.Codigo == '2902'">Si</td>

                                                <td>
                                                    <button class="button mini-button primary" type="button" title="Editar" ng-click="ModificarDetalle(item.Codigo);">
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                    </button>
                                                    <button class="button mini-button  btn-danger" title="Anular" ng-click="ConfirmacionEliminarMovimiento($index)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                            <tr>
                                                <td colspan="4">
                                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                            <span class="item">&laquo;</span>
                                                        </button>
                                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                            <span class="item">&lsaquo;</span>
                                                        </button>
                                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                            <span class="item">&rsaquo;</span>
                                                        </button>
                                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                            <span class="item">&raquo;</span>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                        <tfoot ng-if="totalRegistros == 0 && Buscando == false">
                                            <tr>
                                                <td colspan="4" style="color:red; text-align:center">
                                                    <small>{{ResultadoSinRegistros}}</small>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Detalle parametrizacion-->
    <div class="modal fade" id="modalDetalle" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">
                            Cuenta
                        </h3>
                    </div>
                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorDetalleParametrizacion.length > 0">
                        <ul>
                            <li ng-repeat="error in MensajesErrorDetalleParametrizacion">
                                <span>{{error}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="box-body">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title"></h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <!--<div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="Orden">Orden</label>
                                            <input maxlength="10" class="form-control" ng-model="Modal.Orden" />
                                        </div>
                                    </div>-->
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="cuentapuc">Cuenta PUC</label>
                                            <input ng-change="MaskMayus()" type="text" class="form-control" name="txtCuenPuc" id="txtCuenPuc" placeholder="Ingrese una Cuenta PUC" ng-model="Modal.CuentaPUC" typeahead-no-results="myform.txtCuenPuc.$error.required" uib-typeahead="cuenta as cuenta.NombreAlterno for cuenta in ListadoCuentasPUC| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="AsignarCuentaPUC(Modal.CuentaPUC)">
                                            <div ng-if="myform.txtCuenPuc.$error.required && LongitudCuentaPUC > 0">
                                                <i class="glyphicon glyphicon-remove"></i><small class="errorField"> La cuenta PUC ingresada no se encuentra resgistrada</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="naturaleza">Sufijo ICA</label>
                                            <select name="naturaleza" class="form-control" ng-model="Modal.SufijoICAParametrizacion" ng-options="i.Nombre for i in ListadoSufijoICAParametrizacion | orderBy:'Nombre'"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="naturaleza">Naturaleza Movimiento</label>
                                            <select name="naturaleza" class="form-control" ng-model="Modal.NaturalezaMovimiento" ng-options="i.Nombre for i in ListadoNaturalezaMovimiento | orderBy:'Nombre'"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Descripción</label>
                                            <input type="text" class="form-control" ng-model="Modal.Descripcion" maxlength="250" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="naturaleza">Tercero</label>
                                            <select name="naturaleza" class="form-control" ng-model="Modal.TerceroParametrizacion" ng-options="i.Nombre for i in ListadoTerceroParametrizacion | orderBy:'Nombre'"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="naturaleza">Tipo Parametrización </label>
                                            <select name="naturaleza" class="form-control" ng-model="Modal.TipoParametrizacion" ng-options="i.Nombre for i in ListadoTipoParametrizacion | orderBy:'Nombre'"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12" ng-show="Modal.TipoParametrizacion.Codigo == 3801">
                                        <!--Impuestos-->
                                        <div class="form-group">
                                            <label for="naturaleza">Impuesto</label>
                                            <select name="naturaleza" class="form-control" ng-model="Modal.ValorParametrizacion" ng-options="i.Nombre for i in ListadoImpuestos | orderBy:'Nombre'"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12" ng-show="Modal.TipoParametrizacion.Codigo == 3802">
                                        <!--Documentos-->
                                        <div class="form-group">
                                            <label for="naturaleza">Documento</label>
                                            <select name="naturaleza" class="form-control" ng-model="Modal.ValorParametrizacion" ng-options="i.Nombre for i in ListadoValorParametrizacion | orderBy:'Nombre'  | filter:{CampoAuxiliar2: Modelo.TipoDocumentoGenera.Codigo.toString()}:strict"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12" ng-show="Modal.TipoParametrizacion.Codigo == 3803">
                                        <!--Conceptos liquidación-->
                                        <div class="form-group" ng-show="Modelo.TipoDocumentoGenera.Codigo != 3601 && Modelo.TipoDocumentoGenera.Codigo != 3607">
                                            <label for="naturaleza">Concepto </label>
                                            <select name="naturaleza" class="form-control" ng-model="Modal.ValorParametrizacion" ng-options="i.Nombre for i in ListadoConceptos | orderBy:'Nombre'"></select>
                                        </div>
                                        <!--Conceptos facturación-->
                                        <div class="form-group" ng-show="Modelo.TipoDocumentoGenera.Codigo == 3601">
                                            <label for="naturaleza">Concepto </label>
                                            <select name="naturaleza" class="form-control" ng-model="Modal.ValorParametrizacion" ng-options="i.Nombre for i in ListadoConceptosFacturacion | orderBy:'Nombre' "></select>
                                        </div>
                                        <!--Conceptos Gastos-->
                                        <div class="form-group" ng-show="Modelo.TipoDocumentoGenera.Codigo == 3607">
                                            <label for="naturaleza">Concepto </label>
                                            <select name="naturaleza" class="form-control" ng-model="Modal.ValorParametrizacion" ng-options="i.Nombre for i in ListadoConceptosGastos | orderBy:'Nombre'"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="naturaleza">Documento Cruce</label>
                                            <select name="naturaleza" class="form-control" ng-model="Modal.DocumentoCruce" ng-options="i.Nombre for i in ListadoDocumentoCruce | orderBy:'Nombre'"></select>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="naturaleza">Centro Costo </label>
                                            <select name="naturaleza" class="form-control" ng-model="Modal.CentroCostoParametrizacion" ng-options="i.Nombre for i in ListadoCentroCostoParametrizacion | orderBy:'Nombre'"></select>
                                        </div>
                                    </div>

                                    <!--<div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="naturaleza">Tipo Dueño Vehículo</label>
                                            <select name="naturaleza" class="form-control" ng-model="Modal.TipoDueno" ng-options="i.Nombre for i in ListadoTipoDueno"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="naturaleza">Tipo Conductor</label>
                                            <select name="naturaleza" class="form-control" ng-model="Modal.TipoConductor" ng-options="i.Nombre for i in ListadoTipoConductor"></select>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Interfaz Contable</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Prefijo</label>
                                            <input type="text" name="txtPrefijo" ng-change="MaskMayus()" class="form-control" maxlength="10" placeholder="Prefijo" ng-model="Modal.Prefijo" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Código Anexo</label>
                                            <input type="text" name="txtCodiAnex" ng-change="MaskMayus()" class="form-control" maxlength="10" placeholder="Código Anexo" ng-model="Modal.CodigoAnexo" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Sufijo Código Anexo</label>
                                            <input type="text" name="txtSufiCodiAnex" ng-change="MaskMayus()" class="form-control" maxlength="10" placeholder="Sufijo Código Anexo" ng-model="Modal.SufijoCodigoAnexo" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblAuxi">Auxiliar</label>
                                            <input type="text" class="form-control" ng-model="Modal.CampoAuxiliar" maxlength="10" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarDetalle()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmación Eliminar Movimiento -->
    <div class="modal fade" id="modalEliminarMovimiento" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro que desea eliminar el detalle del movimiento contable?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Eliminar tarifa" ng-click="EliminarMovimiento(Indice)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>