﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Código Cuenta</label>
                            <input type="text" name="txtCodiCuen" class="form-control" maxlength="20" placeholder="Código Cuenta" ng-model="Modelo.CodigoCuenta" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Código Alterno</label>
                            <input ng-change="MaskNumero()" type="text" name="txtCodiAlte" class="form-control" maxlength="20" placeholder="Código Alterno" ng-model="Modelo.CodigoAlterno" />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" name="txtNombre" ng-change="MaskMayus()" class="form-control" maxlength="40" placeholder="Nombre" ng-model="Modelo.Nombre" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Parámetros</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>
                                            <input type="checkbox" ng-model="Modelo.CentroCosto">  Centro Costo
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>
                                            <input type="checkbox" ng-model="Modelo.Tercero"> Tercero
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>
                                            <input type="checkbox" ng-model="Modelo.ExigeValorBase" ng-click="ValidarValor()"> Valor Base
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12" ng-show="ValidarValorBase">
                                    <div class="form-group">
                                        <label>Valor Base</label>
                                        <input style="text-align:right" ng-change="MaskValores()" name="valorbase" maxlength="9" class="form-control" ng-model="Modelo.ValorBase">
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>
                                            <input type="checkbox" ng-model="Modelo.DocumentoCruce" ng-checked="ModalAplicaCertificadoReteFuente">  Documento Cruce
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>
                                            <input type="checkbox" ng-model="Modelo.AplicarMedioPago" ng-click="ValidarValor()">Aplica Medio Pago
                                        </label>
                                    </div>
                                </div>
                                <br ng-show="ValidarValorBase" />
                                <br ng-show="ValidarValorBase" />
                                <br ng-show="ValidarValorBase" />
                                <br ng-show="ValidarValorBase" />
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Clase Cuenta PUC</label>
                                        <select name="cmbEstado" class="form-control" ng-model="Modelo.ClaseCuentaPUC" ng-options="i.Nombre for i in ListadoClaseCuentaPUC | orderBy: 'Nombre'"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>