﻿<div ng-controller="GestionarEntunramientoCtrl" ng-init="InitLoad()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <section class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="Form-Imput">
                <div class="row">
                    <div class="col-sm-12">
                        <ul>
                            <li ng-repeat="error in MensajesError">
                                <span class="errorField">{{error}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="lblNumeVehi">Conductor</label>
                            <input maxlength="60" type="text" class="form-control" name="conductor" id="conductor" placeholder="Seleccione un conductor" ng-model="Modelo.Conductor" ng-disabled="BloqueoConductor"
                                   uib-typeahead="conductores as conductores.NombreCompleto for conductores in AutocompleteConductor($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.Conductor=VerificarAutocomplete(Modelo.Conductor);CargarVehiculos()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="lblPlacVehi">Vehículo</label>
                            <select name="cmbTipoVehi" class="form-control" ng-model="Modelo.Vehiculo" ng-options="i.Placa for i in ListadoVehiculos" ng-change="AsignarDatosVehiculo()"></select>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12" ng-show="!ListadoEnturnes.length > 0">
                        <div class="form-group">
                            <label for="CiudadOrigen">Ciudad Origen</label>
                            <input type="text" class="form-control" name="CiudadOrigen" maxlength="50" id="ModeloCiudadOrigen" placeholder="Ingrese Ciudad Origen"
                                   ng-model="Modelo.CiudadEnturna"
                                   uib-typeahead="i as i.NombreCompleto for i in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5 | orderBy:'Nombre'"
                                   ng-required="false" ng-blur="Modelo.Ciudad=VerificarAutocomplete(Modelo.CiudadEnturna);ConsultarOficinas(Modelo.CiudadEnturna)" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12" ng-show="!ListadoEnturnes.length > 0">
                        <div class="form-group">
                            <label>Oficina Enturne</label>
                            <select name="cmbTipoVehi" class="form-control" ng-model="Modelo.OficinaEnturna" ng-options="i.Nombre for i in ListaOficinasEnturne"></select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12" ng-show="!ListadoEnturnes.length > 0">
                        <div class="form-group">
                            <label>Región Destino 1</label>
                            <select name="cmbEstado" class="form-control" ng-model="Modelo.RegionPaisDestino" ng-options="i.Nombre for i in ListaRegiones" ng-change="FiltrarCiudades()"></select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12" ng-show="CiudadDestino1">
                        <div class="form-group">
                            <label>Ciudad Destino 1</label>
                            <select name="cmbTipoVehi" class="form-control" ng-model="Modelo.CiudadDestino1" ng-options="i.Nombre for i in ListaRegionCiudades"></select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12" ng-show="!ListadoEnturnes.length > 0">
                        <div class="form-group">
                            <label>Región Destino 2</label>
                            <select name="cmbEstado" class="form-control" ng-model="Modelo.RegionPaisDestino2" ng-options="i.Nombre for i in ListaRegiones" ng-change="FiltrarCiudades2()"></select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12" ng-show="CiudadDestino2">
                        <div class="form-group">
                            <label>Ciudad Destino 2</label>
                            <select name="cmbTipoVehi" class="form-control" ng-model="Modelo.CiudadDestino2" ng-options="i.Nombre for i in ListaRegionCiudades2"></select>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-12" ng-show="!ListadoEnturnes.length > 0">
                        <div class="form-group">
                            <label>Fecha Disponible</label>
                            <input name="cmbTipoVehi" class="form-control" ng-model="Modelo.FechaDisponible" type="datetime-local" />
                        </div>
                    </div>
                    <!--<div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Ubicación</label>
                            <input name="cmbTipoVehi" class="form-control" ng-model="Modelo.Ubicacion" maxlength="250" />
                        </div>
                    </div>-->
                    <div class="col-md-9 col-sm-12 col-xs-12" ng-show="!ListadoEnturnes.length > 0">
                        <div class="form-group">
                            <label>Observaciones</label>
                            <input name="cmbTipoVehi" class="form-control" ng-model="Modelo.Observaciones" maxlength="250" />
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="lineButtons" ng-show="!ListadoEnturnes.length > 0">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" title="Buscar ciudad" ng-click="Enturnar()" ng-show="!ListadoEnturnes.length > 0">
                        Enturnar
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            <br />
            <hr />
            <!--RESULTADO CONSULTA-->
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive" ng-if="ListadoEnturnes.length > 0">
                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                            <thead>
                                <tr>
                                    <th>Conductor</th>
                                    <th>Fecha</th>
                                    <th>Disponibilidad</th>
                                    <th>Ciudad Enturne</th>
                                    <th>Oficina Enturne</th>
                                    <th>Destino 1</th>
                                    <th>Destino 2</th>
                                    <th>Placa</th>
                                    <th>Tipo Vehículo</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ListadoEnturnes ">
                                    <td>{{item.Conductor.Nombre}}</td>
                                    <td>{{item.Fecha  | date:'dd/MM/yyyy'}}</td>
                                    <td>{{item.FechaDisponible | date:'dd/MM/yyyy HH:mm'}}</td>
                                    <td>{{item.CiudadEnturna.Nombre}}</td>
                                    <td>{{item.OficinaEnturna.Nombre}}</td>
                                    <td>{{item.CiudadDestino1.Nombre}}</td>
                                    <td>{{item.CiudadDestino2.Nombre}}</td>
                                    <td>{{item.Vehiculo.Placa}}</td>
                                    <td>{{item.TipoVehiculo.Nombre}}</td>
                                    <td>
                                        <span ng-if="item.EstadoTurno.Codigo == 19001 " class="label label-warning">PENDIENTE</span>
                                        <span ng-if="item.EstadoTurno.Codigo == 19002 " class="label label-success">ENTURNADO</span>
                                    </td>
                                    <td>
                                        <button class="button mini-button  btn-danger" ng-show="item.Anulado == 0" title="Anular" ng-click="ConfirmarAnular(item)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalAnular" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Motivo Cancelación Turno</label>
                                <input name="cmbTipoVehi" class="form-control" ng-model="CausaAnulacion" maxlength="150" />
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="CancelarTurno()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
