﻿<div ng-init="InitLoad()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}} </h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <section class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="Form-Imput">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechIni">Fecha Inicial</label>
                            <input name="txtFechIni" type="date" class="form-control" ng-model="Modelo.FechaInicial">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechFina">Fecha Final</label>
                            <input name="txtFechFina" type="date" class="form-control" ng-model="Modelo.FechaFinal">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroInicial">Número</label>
                            <input name="NumeroInicial" class="form-control" ng-model="Modelo.NumeroInicial" placeholder="Ingrese número inicial" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <!--Linea Negocio-->
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Línea Negocio</label>
                            <select class="form-control" ng-model="Modelo.LineaNegocioPaqueteria" ng-options="i.Nombre for i in ListadoLineaNegocioPaqueteria" ng-disabled="Deshabilitar" ng-change="ValidarPeso()"></select>
                        </div>
                    </div>
                    <!--Linea Negocio-->
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroInicial">No. Preimpreso</label>
                            <input name="NumeroInicial" class="form-control" ng-model="Modelo.Numeracion" placeholder="Ingrese numeración" maxlength="20">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="CodigoAlterno">Documento Cliente</label>
                            <input name="CodigoAlterno" class="form-control" ng-model="Modelo.Remesa.NumeroDocumentoCliente" placeholder="Ingrese un Documento Cliente" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFactura">No. Factura</label>
                            <input name="inpFactura" class="form-control" ng-model="Modelo.Factura.NumeroDocumento" placeholder="Ingrese una factura" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Cliente</label>
                            <input class="form-control" ng-model="Modelo.Remesa.Cliente.NombreCompleto" placeholder="Ingrese un Cliente" maxlength="150">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Remitente</label>
                            <input class="form-control" ng-model="Modelo.Remesa.Remitente.Nombre" placeholder="Ingrese un Remitente" maxlength="150">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Destinatario</label>
                            <input class="form-control" ng-model="Modelo.Remesa.Destinatario.Nombre" placeholder="Ingrese un Destinatario" maxlength="150">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Origen</label>
                            <input class="form-control" ng-model="Modelo.Remesa.CiudadRemitente.Nombre" placeholder="Ingrese un Origen" maxlength="150">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Destino</label>
                            <input class="form-control" ng-model="Modelo.Remesa.CiudadDestinatario.Nombre" placeholder="Ingrese un Destino" maxlength="150">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina Responsable</label>
                            <input name="inpOficinaRes" class="form-control" ng-model="Modelo.OficinaActual" placeholder="Ingrese una Oficina" maxlength="9"
                                   uib-typeahead="Oficina as Oficina.Nombre for Oficina in AutocompleteOficinasResponsable($viewValue)| filter:$viewValue | limitTo: 5"
                                   ng-blur="Modelo.OficinaActual=VerificarAutocomplete(Modelo.OficinaActual)" ng-disabled="!Sesion.UsuarioAutenticado.AplicaConsultaOtrasOficinas">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="numero">Código Vehículo</label>
                            <input type="text" class="form-control" ng-model="Modelo.Remesa.CodigoAlternoVehiculo" placeholder="Ingrese código vehículo" maxlength="20" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Vehículo</label>
                            <input type="text" class="form-control" placeholder="Vehículo" ng-model="Modelo.Remesa.Vehiculo" autocomplete="off"
                                   uib-typeahead="Vehi as Vehi.Placa for Vehi in AutocompleteVehiculos($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="Modelo.Remesa.Vehiculo=VerificarAutocomplete(Modelo.Remesa.Vehiculo)" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Conductor</label>
                            <input type="text" class="form-control" placeholder="Conductor" ng-model="Modelo.Remesa.Conductor" autocomplete="off"
                                   uib-typeahead="Cond as Cond.NombreCompleto for Cond in AutocompleteConductor($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="Modelo.Remesa.Conductor=VerificarAutocomplete(Modelo.Remesa.Conductor)" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina Crea</label>
                            <input name="inpOficina" class="form-control" ng-model="Modelo.Oficina" placeholder="Ingrese una Oficina" maxlength="9"
                                   uib-typeahead="Oficina as Oficina.Nombre for Oficina in AutocompleteOficinas($viewValue)| filter:$viewValue | limitTo: 5"
                                   ng-blur="Modelo.Oficina=VerificarAutocomplete(Modelo.Oficina)">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado Remesa</label>
                            <select name="cmbEstado" class="form-control" ng-model="Modelo.EstadoRemesaPaqueteria" ng-options="i.Nombre for i in ListadoEstadoGuia"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado Documento</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModeloEstado" ng-options="i.Nombre for i in ListadoEstadoRemesaPaqueteria"></select>
                        </div>
                    </div>
                </div>
                <!--SECCIÓN BOTONES-->
                <div class="lineButtons">
                    <div class="pull-left">
                        <button class="btn btn-block btn-primary" title="Buscar" ng-click="Buscar()">
                            Buscar
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" title="Nuevo" ng-click="NuevoDocumento()" ng-show="!DeshabilitarCrear" ng-disabled="DeshabilitarCrear">
                            Nuevo
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
                <br />
                <hr />
                <!--RESULTADO CONSULTA-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive" ng-if="ListadoGuias.length > 0">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Número</th>
                                        <th>No. Preimpreso</th>
                                        <th>Fecha</th>
                                        <th>Cliente/Remitente</th>
                                        <th>Documento Cliente</th>
                                        <th>Origen</th>
                                        <th>Destino</th>
                                        <th>Zona</th>
                                        <th>Destinatario</th>
                                        <th>Forma Pago</th>
                                        <th>Total</th>
                                        <th>Responsable</th>
                                        <th>Oficina Crea</th>
                                        <th>Vehículo</th>
                                        <th>Línea Negocio</th>
                                        <th>Estado Remesa</th>
                                        <th>Estado Documento</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoGuias | orderBy:'Codigo'">
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                    <span class="fa fa-list"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-left" style="overflow-y:scroll; max-height:100px">

                                                    <li>
                                                        <a ng-click="DesplegarInforme(item.Remesa.Numero,1, 0)" ng-show="!DeshabilitarImprimir && item.Estado == 1">
                                                            <span class="glyphicon glyphicon-print"></span>Imprimir Reporte
                                                        </a>
                                                    </li>

                                                    <li ng-hide="!PermisoConsultarEstados">
                                                        <a ng-click="ConsultarEstadosRemesas(item)">
                                                            <span class="fas fa-list-ol"></span>Consultar Estados
                                                        </a>
                                                    </li>
                                                    <li ng-hide="!PermisoCambiarEstados">
                                                        <a ng-click="CambiarEstadosRemesas(item)">
                                                            <span class="fas fa-list-ol"></span>Cambiar Estado Trazabilidad
                                                        </a>
                                                    </li>


                                                    <!--<li ng-hide="!PermisoEntregaOficina"> FP 2021-12-22 req 010 se oculta entrega oficina
                                                        <a ng-click="EntregaOficina(item)">
                                                            <span class="fas fa-calendar-check-o"></span>Entregar Oficina
                                                        </a>
                                                    </li>-->

                                                    <li ng-hide="!PermisoConsultarEntregas">
                                                        <a ng-click="ConsultarControlEntregas(item)">
                                                            <span class="fas fa-calendar-check-o"></span>Consultar Entrega
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a ng-click="AnularDocumento(item.Remesa.Numero,item.Remesa.NumeroDocumento)" ng-show="!DeshabilitarEliminarAnular">
                                                            <span class="fas fa-trash-alt"></span> Anular
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a ng-click="ImprimirEtiquetas(item.Remesa.Numero,1, 0)" ng-show="!DeshabilitarImprimir && item.Estado == 1 && item.NumeroEtiquetasAutomaticas > 0">
                                                            <span class="glyphicon glyphicon-print"></span>Imprimir Etiquetas Guía
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a ng-click="ImprimirTirilla(item.Remesa.Numero,1, 0)" ng-show="!DeshabilitarImprimir && item.Estado == 1">
                                                            <span class="glyphicon glyphicon-print"></span>Imprimir Tirilla Guía
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a ng-click="ConsultarBitacoraGuias(item)">
                                                            <span class="fas fa-list-ol"></span>Bitácora Guías
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td><a href="#!GestionarRemesasPaqueteria/{{item.Remesa.Numero}}/{{OPCION_MENU}}">{{item.Remesa.NumeroDocumento}}</a></td>
                                        <td>{{item.Numeracion}}</td>
                                        <td>{{item.Remesa.Fecha | date:'dd/MM/yyyy' }}</td>
                                        <td ng-show="item.Remesa.Cliente.Codigo > 0">{{item.Remesa.Cliente.NombreCompleto}}</td>
                                        <td ng-show="item.Remesa.Cliente.Codigo == 0">{{item.Remesa.Remitente.Nombre}}</td>
                                        <td>{{item.Remesa.NumeroDocumentoCliente}}</td>
                                        <td>{{item.Remesa.CiudadRemitente.Nombre}}</td>
                                        <td>{{item.Remesa.CiudadDestinatario.Nombre}}</td>
                                        <td>{{item.Zona.Nombre}}</td>
                                        <td>{{item.Remesa.Destinatario.Nombre}}</td>

                                        <!--<td>{{item.SitioDescargue.Nombre}}</td>-->
                                        <td>{{item.Remesa.FormaPago.Nombre}}</td>
                                        <td class="text-right">{{item.Remesa.TotalFleteCliente | number:0}}</td>
                                        <td>{{item.OficinaActual.Nombre}}</td>
                                        <td>{{item.Oficina.Nombre}}</td>
                                        <td><span ng-show="item.Remesa.Vehiculo.Placa != ''">{{item.Remesa.Vehiculo.Placa}}({{item.Remesa.Vehiculo.CodigoAlterno}})</span></td>
                                        <td>{{item.LineaNegocioPaqueteria.Nombre}}</td>

                                        <!--<td>{{item.Remesa.Observaciones}}</td>-->
                                        <td>
                                            <span ng-if="item.EstadoGuia.Codigo == 6000 && item.Anulado == 0" class="label label-warning"> (NO APLICA)</span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6001 && item.Anulado == 0" class="label label-warning">RECOGIDA </span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6005 && item.Anulado == 0" class="label label-info">OFICINA</span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6010 && item.Anulado == 0" class="label label-info">DESPACHADA</span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6015 && item.Anulado == 0" class="label label-info">TRANSITO</span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6017 && item.Anulado == 0" class="label label-info">RECIBIDA OFICINA INTERMEDIA</span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6020 && item.Anulado == 0" class="label label-info">RECIBIDA OFICINA DESTINO</span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6025 && item.Anulado == 0" class="label label-info">REPARTO OFICINA DESTINO</span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6030 && item.Anulado == 0" class="label label-success">ENTREGADA</span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6035 && item.Anulado == 0" class="label label-warning">DEVUELTA OFICINA </span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6040 && item.Anulado == 0" class="label label-warning">DEVUELTA OFICINA ORIGEN</span>
                                            <span ng-if="item.Anulado == 1" class="label label-danger">ANULADO</span>
                                        </td>
                                        <td>
                                            <span ng-if="item.Estado == 0 && item.Anulado == 0" class="label label-warning">BORRADOR</span>
                                            <span ng-if="item.Estado == 1 && item.Anulado == 0" class="label label-success">DEFINITIVO</span>
                                            <span ng-if="item.Anulado == 1" class="label label-danger">ANULADO</span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                    <tr>
                                        <td colspan="14">
                                            <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                            <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>

                            </table>
                        </div>
                        <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                            <span style="color:red">
                                <small>{{ResultadoSinRegistros}}</small>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </section>


    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalEliminarTarifarioVentas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar la linea vehículo {{Nombre}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="ModalCambiarEstadosRemesas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lb">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            Cambiar Estado Trazabilidad
                        </h4>
                    </div>

                    <div class="modal-body">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                No. Guía: {{NumeroGuia}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-danger" role="alert" ng-if="MensajesErrorDetalleUnidades.length > 0">
                                    <ul>
                                        <li ng-repeat="error in MensajesErrorDetalleUnidades">
                                            <span>{{error}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">


                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Estado  Remesa</label>
                                    <br />
                                    <span ng-if="EstadoGuia == 6000 && EstadoDocumentoAnulado == 0" class="label label-warning"> (NO APLICA)</span>
                                    <span ng-if="EstadoGuia == 6001 && EstadoDocumentoAnulado == 0" class="label label-warning">RECOGIDA </span>
                                    <span ng-if="EstadoGuia == 6005 && EstadoDocumentoAnulado == 0" class="label label-info">OFICINA</span>
                                    <span ng-if="EstadoGuia == 6010 && EstadoDocumentoAnulado == 0" class="label label-info">DESPACHADA</span>
                                    <span ng-if="EstadoGuia == 6015 && EstadoDocumentoAnulado == 0" class="label label-info">TRANSITO</span>
                                    <span ng-if="EstadoGuia == 6017 && EstadoDocumentoAnulado == 0" class="label label-info">RECIBIDA OFICINA INTERMEDIA</span>
                                    <span ng-if="EstadoGuia == 6020 && EstadoDocumentoAnulado == 0" class="label label-info">RECIBIDA OFICINA DESTINO</span>
                                    <span ng-if="EstadoGuia == 6025 && EstadoDocumentoAnulado == 0" class="label label-info">REPARTO OFICINA DESTINO</span>
                                    <span ng-if="EstadoGuia == 6030 && EstadoDocumentoAnulado == 0" class="label label-success">ENTREGADA</span>
                                    <span ng-if="EstadoGuia == 6035 && EstadoDocumentoAnulado == 0" class="label label-warning">DEVUELTA OFICINA </span>
                                    <span ng-if="EstadoGuia == 6040 && EstadoDocumentoAnulado == 0" class="label label-warning">DEVUELTA OFICINA ORIGEN</span>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Estado Documento</label>
                                    <span ng-if="EstadoDocumento == 0 && EstadoDocumentoAnulado == 0" class="label label-warning">BORRADOR</span>
                                    <span ng-if="EstadoDocumento == 1 && EstadoDocumentoAnulado == 0" class="label label-success">DEFINITIVO</span>
                                    <span ng-if="EstadoDocumentoAnulado == 1" class="label label-danger">ANULADO</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Oficina Actual</label>
                                    <br />
                                    {{OficinaActual}}
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Nuevo Estado</label>


                                    <br />
                                    <span ng-if="estadoAnterior.Codigo == 6000" class="label label-warning"> (NO APLICA)</span>
                                    <span ng-if="estadoAnterior.Codigo == 6001" class="label label-warning">RECOGIDA </span>
                                    <span ng-if="estadoAnterior.Codigo == 6005" class="label label-info">OFICINA</span>
                                    <span ng-if="estadoAnterior.Codigo == 6010" class="label label-info">DESPACHADA</span>
                                    <span ng-if="estadoAnterior.Codigo == 6015" class="label label-info">TRANSITO</span>
                                    <span ng-if="estadoAnterior.Codigo == 6017" class="label label-info">RECIBIDA OFICINA INTERMEDIA</span>
                                    <span ng-if="estadoAnterior.Codigo == 6020" class="label label-info">RECIBIDA OFICINA DESTINO</span>
                                    <span ng-if="estadoAnterior.Codigo == 6025" class="label label-info">REPARTO OFICINA DESTINO</span>
                                    <span ng-if="estadoAnterior.Codigo == 6030" class="label label-success">ENTREGADA</span>
                                    <span ng-if="estadoAnterior.Codigo == 6035" class="label label-warning">DEVUELTA OFICINA </span>
                                    <span ng-if="estadoAnterior.Codigo == 6040" class="label label-warning">DEVUELTA OFICINA ORIGEN</span>


                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group" id="cmdOficina">
                                    <label>Seleccione  Oficina</label>
                                    <select name="cmdOficina" id="cmdOficina"
                                            class="form-control" ng-model="ModeloOficina"
                                            ng-options="i.Nombre for i in ListadoOficinas" disabled></select>
                                </div>
                            </div>



                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group" id="cmdPlanilla">
                                    <label>Nº Planilla</label>
                                    <input class="form-control" ng-model="Modeloplanilla" ng-blur="ObtenerPlanilla(Modeloplanilla)" placeholder="Ingrese Numero Planilla" maxlength="150" disabled>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-success" ng-click="ActualizarEstadosRemesas()">
                                Aceptar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>

                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cerrar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>

                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="ModalEstadosRemesas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            Estados Guía
                        </h4>
                    </div>

                    <div class="modal-body">
                        No. Guía: {{NumeroGuia}}
                        <div class="ResultadoConsulta">
                            <div class="table-responsive" ng-if="ListadoEstadoGuias.length > 0">
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Estado</th>
                                            <th>Fecha Registro</th>
                                            <th>Fecha transacción</th>
                                            <th>Oficina</th>
                                            <th>No.Planilla</th>
                                            <th>Estado Documento  </th>
                                            <th>Vehículo / Codigo</th>
                                            <th>Responsable</th>
                                            <th>Usuario registra</th>
                                            <th>Nov..</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ListadoEstadoGuias | orderBy:'FechaEstado'">
                                            <!--Estado-->
                                            <td>

                                                <span ng-if="item.EstadoRemesa.Codigo == 6000" class="label label-warning">NO APLICA</span>
                                                <span ng-if="item.EstadoRemesa.Codigo == 6001" class="label label-warning">RECOGIDA</span>
                                                <span ng-if="item.EstadoRemesa.Codigo == 6005" class="label label-info">OFICINA</span>
                                                <span ng-if="item.EstadoRemesa.Codigo == 6010" class="label label-info">DESPACHADA</span>
                                                <span ng-if="item.EstadoRemesa.Codigo == 6030" class="label label-success">ENTREGADA</span>
                                                <span ng-if="item.EstadoRemesa.Codigo == 6035" class="label label-warning"> DEVUELTA OFICINA</span>

                                                <span ng-if="item.EstadoRemesa.Codigo == 6015" class="label label-info">TRANSITO</span>
                                                <span ng-if="item.EstadoRemesa.Codigo == 6017" class="label label-info">RECIBIDA OFICINA INTERMEDIA</span>
                                                <span ng-if="item.EstadoRemesa.Codigo == 6020" class="label label-info">RECIBIDA OFICINA DESTINO</span>
                                                <span ng-if="item.EstadoRemesa.Codigo == 6025" class="label label-info">REPARTO OFICINA DESTINO</span>
                                                <span ng-if="item.EstadoRemesa.Codigo == 6040" class="label label-warning">DEVUELTA OFICINA ORIGEN</span>
                                            </td>
                                            <!--Fecha Registro-->
                                            <td>{{item.FechaCrea | date:'dd/MM/yyyy HH:mm' }}</td>
                                            <!--Fecha transacción-->
                                            <td>{{item.FechaEstado | date:'dd/MM/yyyy HH:mm' }}</td>
                                            <!--Oficina-->
                                            <td>{{item.Oficina.Nombre}}</td>
                                            <!--No.Planilla-->
                                            <td>{{item.DocumentoPlanilla}}</td>
                                            <!--Estado Documento-->
                                            <td>
                                                <span ng-if="item.EstadoPlanilla == 0 && item.Conductor = null" class="label label-success">BORRADOR</span>
                                                <span ng-if="item.EstadoPlanilla == 1" class="label label-warning">DEFINITIVO</span>
                                                <span ng-if="item.Anulado == 1" class="label label-warning">ANULADO</span>

                                            </td>
                                            <!--Vehículo / Codigo-->
                                            <td>{{item.Vehiculo}} {{item.COD_vehiculo}} </td>
                                            <!--Responsable-->
                                            <td>
                                                <span ng-if="item.EstadoRemesa.Codigo == 6005">  {{item.Aforador}}</span>
                                                <span ng-if="item.EstadoRemesa.Codigo == 6010">  {{item.Conductor}}</span>
                                                <span ng-if="item.EstadoRemesa.Codigo == 6035">  {{item.RespOficina}}</span>
                                                <span ng-if="item.EstadoRemesa.Codigo == 6030">  {{item.UsuarioCreaPlanilla}}</span>

                                            </td>
                                            <!--Usuario registra-->
                                            <td>
                                                <span>{{item.UsuarioCreaPlanilla}}</span>
                                                <span ng-if="item.UsuarioCreaPlanilla == null"> {{item.UsuarioCreaGuia}}  </span>
                                            </td>
                                            <!--NOVEDADES-->
                                            <td>

                                                <button class="button mini-button btn-info" uib-popover-template="'myPopoverTemplate.html'" popover-is-open="item1.popvisible" popover-class="increase-popover-width" popover-placement="left-bottom " popover-title="Novedades" popover-trigger="'outsideClick'" href="">
                                                    <span class="fas fa-info-circle"></span>
                                                </button>

                                                <script type="text/ng-template" id="myPopoverTemplate.html">

                                                    <div class="form-group">
                                                        <span class="form-control">  {{item.Observaciones}} </span>
                                                    </div>


                                                </script>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cerrar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeEliminarTarifarioVentas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click="MostrarMensajeErrorModal()"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="MostrarMensajeErrorModal()">
                                Mensaje Completo
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Asignar datos anulación-->
    <div class="modal fade" id="modalAnular" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <ul>
                        <li ng-repeat="error in MensajesErrorAnular">
                            <span class="errorField">{{error}}</span>
                        </li>
                    </ul>
                    <div class="modal-body">
                        <p>¿Está seguro de Anular la remesa {{NumeroDocumento}}?</p>

                        <label>Causa Anulacion</label>
                        <input name="nombre" class="form-control" ng-model="ModeloCausaAnula" placeholder="Ingrese una Causa" maxlength="40">

                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Anular()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Control Entregas-->
    <div class="modal fade" id="modalControlEntregas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            CONTROL ENTREGAS
                        </h4>
                    </div>

                </form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Número</label>
                                <span class="form-control">{{ControlEntregaRemesa.NumeroDocumento}}</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Fecha Recibe</label>
                                <span class="form-control">{{ControlEntregaRemesa.FechaRecibe  | date: 'dd/MM/yyyy HH:mm'}}</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Identificación Recibe</label>
                                <span class="form-control">{{ControlEntregaRemesa.NumeroIdentificacionRecibe}}</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Nombre Recibe</label>
                                <span class="form-control">{{ControlEntregaRemesa.NombreRecibe}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Teléfono Recibe</label>
                                <span class="form-control">{{ControlEntregaRemesa.TelefonoRecibe}}</span>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Cantidad Recibida</label>
                                <span class="form-control text-right">{{ControlEntregaRemesa.CantidadRecibe | number}}</span>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Peso Recibido</label>
                                <span class="form-control text-right">{{ControlEntregaRemesa.PesoRecibe | number}}</span>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Observaciones</label>
                                <span class="form-control">{{ControlEntregaRemesa.ObservacionesRecibe}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Novedad Entrega</label>
                                <span class="form-control">{{ControlEntregaRemesa.NovedadEntrega.Nombre}}</span>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Latitud</label>
                                <span class="form-control text-right">{{ControlEntregaRemesa.Latitud | number}}</span>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Longitud</label>
                                <span class="form-control text-right">{{ControlEntregaRemesa.Longitud | number}}</span>
                            </div>
                        </div>
                    </div>

                    <!--Boton Mapa-->
                    <div class="col-md-1 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label> </label>
                            <div class="SeccionBotones">
                                <button type="button" class="btn btn-primary" title="Abrir Mapa" tabindex="1" ng-click="AbrirMapa(ControlEntregaRemesa.Latitud, ControlEntregaRemesa.Longitud)">
                                    Mapa
                                    <span class="fas fa-map-marked-alt"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset class="px-3 py-2 mb-4">
                                <legend>Información Entrega</legend>
                                <div class="row">
                                    <!--Cliente-->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Fecha</label>
                                            <span class="form-control text-right">{{ControlEntregaRemesa.FechaRecibe | date: 'dd/MM/yyyy'}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12" ng-show="ControlEntregaRemesa.MostrarEntregaOFicina">
                                        <div class="form-group">
                                            <label>Oficina</label>
                                            <span class="form-control text-right">{{ControlEntregaRemesa.OficinaEntrega}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12" ng-show="!ControlEntregaRemesa.MostrarEntregaOFicina">
                                        <div class="form-group">
                                            <label>Vehículo</label>
                                            <span class="form-control text-right">{{ControlEntregaRemesa.VehiculoNombre}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12" ng-show="ControlEntregaRemesa.PlanillaEntrega > 0">
                                        <div class="form-group">
                                            <label>Planilla</label>
                                            <span class="form-control text-right">{{ControlEntregaRemesa.PlanillaEntrega}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Usuario Entrega</label>
                                            <span class="form-control text-right">{{ControlEntregaRemesa.UsuarioEntrega}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Usuario Registra</label>
                                            <span class="form-control text-right">{{ControlEntregaRemesa.UsuarioModifica.Nombre}}</span>
                                        </div>
                                    </div>

                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <!--Adjuntar Documentos-->
                    <div class="box box-default box-solid">
                        <!--Collapse-->
                        <div class="box-header with-border">
                            <h3 class="box-title ng-binding">Documentos Cumplido Remesa</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <!--Contenido-->
                        <div class="box-body">
                            <div class="row" ng-show="ListadoDocumentos.length > 0">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>Documento</th>
                                                    <th>Archivo</th>
                                                    <th>Opciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ListadoDocumentos">
                                                    <td>
                                                        <input ng-change="MaskMayusGrid(item.Descripcion)" maxlength="80" type="text" class="form-control" ng-model="item.Descripcion" placeholder="Ingrese un nombre" />
                                                    </td>
                                                    <td>{{item.NombreDocumento}}.{{item.ExtensionDocumento}}</td>
                                                    <td>
                                                        <button ng-if="item.ValorDocumento > 0" class="button mini-button btn-success" data-toggle="tooltip" title="Ver Archivo" ng-click="DesplegarArchivo(item)">
                                                            <span class="fa fa-file"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <canvas id="CanvasVertical" width="500" height="700" style="display:none">
                                        Accede a este script con un navegador que acepte canvas del HTML 5
                                    </canvas>
                                    <canvas id="CanvasHorizontal" width="700" height="500" style="display:none">
                                        Accede a este script con un navegador que acepte canvas del HTML 5
                                    </canvas>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--Adjuntar Documentos-->

                    <div class="row">
                        <div ng-show="FotosEntrega.length == 1">
                            <div ng-repeat="FotoControlEntrega in FotosEntrega">
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <label class="text-center">Foto</label>
                                    <div class="logo">
                                        <img style="width:100%;border:1px solid #000" ng-src="{{FotoControlEntrega.FotoCargada}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="FotosEntrega.length > 1">
                            <div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <button class="btn btn-block btn-primary" title="Buscar ciudad" ng-click="VerFotosEntrega()">
                                        Fotos Entrega
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div ng-show="FotosDevolucion.length == 1">
                            <div ng-repeat="FotoControlDevolucion in FotosDevolucion">
                                <div class="col-sm-6 col-xs-12">
                                    <label class="text-center">Foto Devolución</label>
                                    <div class="logo">
                                        <img style="width:100%;border:1px solid #000" ng-src="{{FotoControlDevolucion.FotoCargada}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="FotosDevolucion.length > 1">
                            <div class="pull-left">
                                <button class="btn btn-block btn-primary" title="Buscar ciudad" ng-click="VerFotosDevolucion()">
                                    Fotos Devolución
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class=" col-sm-6 col-xs-12">
                            <label class="text-center">Firma</label>
                            <img style="width:100%;border:1px solid #000" ng-src="{{ControlEntregaRemesa.FirmaImg}}" />
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Cerrar
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    <!--Modal Bitacora Gias -->
    <div class="modal fade" id="ModalBitacoraGuias" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-content  modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            Bitácora Guías
                        </h4>
                    </div>
                    <div class="modal-body">
                        <label for="lblNumeGuia">No. Guía: {{Numero}} </label>

                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-6">
                                <div class="form-group">
                                    <label for="lblNumeIdent">Observaciones</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-6">
                                <textarea rows="2" cols="100" ng-model="Modelo.Observaciones">Escribe aquí las observaciones
                                </textarea>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarDetalleBitacoraGuias()">
                            Agregar
                            <span class="glyphicon glyphicon-ok-circle"></span>
                        </button>
                        <br />
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Usuario</th>
                                        <th>Observaciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoBitacoraGuias ">
                                        <td>{{item.FechaCrea | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                                        <td>{{item.NombreUsuarioCrea}}</td>
                                        <td>{{item.Observaciones}}</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <div class="row" ng-show="FotosIntentoEntrega.length > 0">
                            <div class="pull-right">
                                <button class="btn btn-block btn-primary" title="Buscar ciudad" ng-click="VerFotosIntentoEntrega()">
                                    Fotos Intento Entrega
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!-- Modal Control Entregas-->
    <!-- Modal Confirmacion Modificar Documento-->
    <div class="modal fade" id="modalConfirmacionRemplazarDocumentoCumplido" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>Ya hay un documento asignado ¿Desea remplazarlo?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="RemplazarDocumentoCumplido()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmacion Modificar Documento-->
    <!-- Modal Fotos-->
    <div class="modal fade" id="modalFotos" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            FOTOS {{CategoriaFotos}}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div ng-repeat="Foto in Fotos">

                                <div class="col-sm-6 col-xs-12">
                                    <label class="text-center">Foto {{Foto.NombreFoto}}</label>
                                    <div class="logo">
                                        <img style="width:100%;border:1px solid #000" ng-src="{{Foto.FotoCargada}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cerrar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Fotos-->
    <!--Modal Mapa Google-->
    <div class="modal fade" id="modalMostrarMapa" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-content  modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            MAPA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Latitud</label>
                                            <input type="text" class="form-control" ng-model="MapaLatitud" ng-required="false" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Longitud</label>
                                            <input type="text" class="form-control" ng-model="MapaLongitud" ng-required="false" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!--Div Mapa-->
                                    <div class="col-md-12 text-center">
                                        <div>
                                            <div style="height: 500px" id="gmaps"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="AsignarPosicion()" ng-disabled="Deshabilitar">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>








