﻿<div  ng-init="InitLoad()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <section class="content">
        <form>
            <!--Modal Guia-->
            <div class="row mt-4" id="modalDestinatario">
                <div class="col-md-12">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title ng-binding">Guía No: {{Modal.NumeroDocumento}}</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Fecha</label>
                                        <label style="text-align:right" class="form-control" maxlength="8" ng-disabled="true"> {{Modal.Fecha |  date: 'dd/MM/yyyy'}}  </label>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Remitente</label>
                                        <input style="text-align:left" ng-change="MaskValores()" class="form-control" maxlength="8" ng-model=" Modal.Remitente" ng-disabled="true">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Ciudad Origen</label>
                                        <input style="text-align:left" ng-change="MaskValores()" class="form-control" maxlength="8" ng-model="Modal.CiudadOrigen" ng-disabled="true" ng-blur="VerificarCantidad()">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Ciudad Destino</label>
                                        <input style="text-align:left" ng-change="MaskValores()" class="form-control" maxlength="8" ng-model="Modal.CiudadDestino" ng-disabled="true" ng-blur="VerificarCantidad()">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Forma Pago</label>
                                        <input style="text-align:left" class="form-control" maxlength="8" ng-model=" Modal.FormaPago" ng-disabled="true"
                                               ng-blur="VerificarCantidad()">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Producto</label>
                                        <input style="text-align:left" class="form-control" maxlength="8" ng-model="Modal.Producto" ng-disabled="true" ng-blur="VerificarCantidad()">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Cantidad</label>
                                        <input style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="8" ng-model="Modal.Cantidad" ng-disabled="true" ng-blur="VerificarCantidad()">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Peso (Kg)</label>
                                        <input style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="8" ng-model="Modal.Peso" ng-disabled="true" ng-blur="VerificarPeso()">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Valor Total</label>
                                        <input style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="8" ng-model="Modal.TotalValor" ng-disabled="true" ng-blur="VerificarCantidad()">
                                    </div>
                                </div>

                                <!--<div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group" id="cmdPlanilla">
                                        <label>Nº Planilla</label>
                                        <input class="form-control" ng-model="Modeloplanilla" ng-blur="ObtenerPlanilla(Modeloplanilla)" placeholder="Ingrese Numero Planilla" maxlength="150">
                                    </div>
                                </div>-->

                                <br />
                                <hr />
                            </div>
                        </div>
                    </div>

                    <!--Modal Destinatario-->
                    <div class="row mt-4" id="modalDestinatario">
                        <div class="col-md-12">
                            <div class="box box-default box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title ng-binding">Destinatario</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label> Identificación</label>
                                                <input class="form-control" ng-model="ModalDestinatario.NumeroIdentificacion" ng-disabled="true" />
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-8 col-xs-12">
                                            <div class="form-group">
                                                <label>Nombre</label>
                                                <input ng-change="MaskMayus()" maxlength="50" type="text" class="form-control" ng-model="ModalDestinatario.Nombre" ng-disabled="true">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <label>Teléfono</label>
                                                <input style="text-align:right" ng-change="MaskTelefono()" maxlength="30" type="text" class="form-control" ng-model="ModalDestinatario.Telefono" ng-disabled="true">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <label>Barrio </label>
                                                <input ng-change="MaskTelefono()" maxlength="30" type="text" class="form-control" ng-model="ModalDestinatario.Barrio" ng-disabled="true">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <label>Dirección</label>
                                                <input ng-change="MaskTelefono()" maxlength="150" type="text" class="form-control" ng-model="ModalDestinatario.Direccion" ng-disabled="true">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <br />
                        <hr />
                    </div>

                    <!--Modal Entregas-->
                    <div class="row mt-4 modalEntregas">
                        <div class="col-md-12">
                            <div class="box box-default box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title ng-binding">Información Recibe</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorRecibir.length > 0">
                                        <ul>
                                            <li ng-repeat="error in MensajesErrorRecibir">
                                                <span class="">{{error}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label>Tipo Identificación</label>
                                                <select class="form-control" ng-model="Modal.TipoIdentificacionRecibe" ng-options="i.Nombre for i in ListadoTipoIdentificacion  | orderBy:'Nombre' "></select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label>Identificación</label>
                                                <input ng-change="MaskNumero()" placeholder="Digite identificación" maxlength="30" type="text" class="form-control" ng-model="Modal.NumeroIdentificacion" ng-disabled="DeshabilitarDatosRecibe">
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-8 col-xs-12">
                                            <div class="form-group">
                                                <label>Nombre</label>
                                                <input ng-change="MaskMayus()" maxlength="50" placeholder="Digite nombre" type="text" class="form-control" ng-model="Modal.Nombre" ng-disabled="DeshabilitarDatosRecibe">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <label>Teléfono</label>
                                                <input ng-change="MaskTelefono()" placeholder="Digite teléfono" maxlength="30" type="text" class="form-control" ng-model="Modal.Telefono" ng-disabled="DeshabilitarDatosRecibe">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label>Novedad Entrega</label>
                                                <select class="form-control" ng-model="Modal.NovedadEntrega" ng-options="i.Nombre for i in ListadoNovedades  | orderBy:'Nombre' " ng-disabled="DeshabilitarDatosRecibe"></select>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label>Observaciones</label>
                                                <input style="height:55px" type="text" class="form-control" maxlength="500" ng-model="Modal.Observaciones" ng-disabled="DeshabilitarDatosRecibe">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Gestion Documentos Cliente-->
                            <div class="row" ng-show="ListaGestionDocuCliente.length > 0">
                                <div class="col-sm-12">
                                    <div class="box box-default box-solid collapsed-box">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Gestión Documentos Cliente</h3>
                                            <div class="box-tools pull-right">
                                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </div>
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorDocu.length > 0">
                                                        <ul>
                                                            <li ng-repeat="error in MensajesErrorDocu">
                                                                <span>{{error}}</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                                            <thead>
                                                                <tr>
                                                                    <th>Entregado</th>
                                                                    <th>No. Documento</th>
                                                                    <th>Tipo Documento</th>
                                                                    <th>Tipo Gestión</th>
                                                                    <th>No. Hojas</th>
                                                                    <th>Valor Recaudar</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="item in ListaGestionDocuCliente | orderBy: 'Codigo'">
                                                                    <td style="text-align:center">
                                                                        <select class="form-control" ng-model="item.Entregado" ng-options="i.Nombre for i in ListadoConfirmaEntrega" ng-disabled="Deshabilitar"></select>
                                                                    </td>
                                                                    <td>{{item.NumeroDocumentoGestion}}</td>
                                                                    <td>{{item.TipoDocumento.Nombre}}</td>
                                                                    <td>{{item.TipoGestion.Nombre}}</td>
                                                                    <td align="right">{{item.NumeroHojas | number}}</td>
                                                                    <td align="right">{{item.ValorRecaudar | number}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Gestion Documentos Cliente-->


                            <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:10px; padding-bottom:10px;">
                                <span class="btn btn-default btn-file col-md-12">
                                    Seleccionar Imagen <input type="file" id="inputfile" onchange="angular.element(this).scope().CargarImagen(this)" accept="image/x-png, image/jpeg" ng-disabled="DeshabilitarDatosRecibe">
                                </span>
                            </div>

                            <div ng-repeat="item in Foto">

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <img class="img-responsive" style="width:100%" src="{{item.FotoCargada}}" id="Foto" />
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12" style="padding-bottom:10px;">
                                    <button type="button" class="btn btn-danger  col-md-12" title="Borrar foto" ng-click="EliminarFoto(item)" ng-if="item.ValorDocumento == 1" ng-disabled="DeshabilitarDatosRecibe">
                                        Eliminar Foto
                                        <span class="fas fa-trash-alt"></span>
                                    </button>
                                </div>
                            </div>

                            <br />
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-6 col-sm-12 col-xs-12" ng-disabled="DeshabilitarDatosRecibe">
                                    <div class="btn-default Firma" style="max-width: 300px">
                                        <h2>Firma</h2>
                                        <canvas id="Firma" class="Firma" ng-signature-pad="signature">
                                            Firma
                                        </canvas>
                                        <!--LimpiarFirma-->
                                        <button type="button" class="btn btn-default" ng-click="LimpiarFirma()" ng-disabled="DeshabilitarDatosRecibe">
                                            limpiar firma
                                            <span class="glyphicon glyphicon-remove-circle"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <hr /> 
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <div class="pull-right">

                    <button type="button" class="btn btn-default" title="Cancelar"
                            ng-click="CancelarPaqueteria()">
                        Cancelar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary"
                            title="Aceptar" ng-click="ConfirmacionGuardarPaqueteria()"
                            ng-disabled="DeshabilitarDatosRecibe">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                    
                </div>
            </div>
        </form>
    </section>

    <canvas id="CanvasVertical" width="500" height="700" style="display:none">
        Accede a este script con un navegador que acepte canvas del HTML 5
    </canvas>
    <canvas id="CanvasHorizontal" width="700" height="500" style="display:none">
        Accede a este script con un navegador que acepte canvas del HTML 5
    </canvas>
</div>
