﻿<div  ng-init="InitLoad()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <section class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="Form-Imput">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="FechaSalida">Fecha Inicial</label>
                            <input name="FechaSalida" type="date" class="form-control" ng-model="FechaInicio">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="FechaSalida">Fecha Final</label>
                            <input name="FechaSalida" type="date" class="form-control" ng-model="FechaFin">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="lblNumero">Número</label>
                            <input ng-change="MaskNumero()" name="txtNumero" placeholder="Digite número" class="form-control" ng-model="NumeroDocumento" type="text" maxlength="50" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Cliente</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Seleccione cliente" ng-model="ModeloCliente"
                                   uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in  AutocompleteCliente($viewValue) | filter:$viewValue | limitTo: 5"
                                   ng-blur="ModeloCliente=VerificarAutocomplete(ModeloCliente);" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Remitente</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Seleccione cliente" ng-model="ModeloRemitente"
                                   uib-typeahead="Remi as Remi.NombreCompleto for Remi in  AutocompleteRemitente($viewValue) | filter:$viewValue | limitTo: 5"
                                   ng-blur="ModeloRemitente=VerificarAutocomplete(ModeloRemitente);" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Oficina</label>
                            <select name="cmbOficina" class="form-control" ng-model="ModeloOficinasCiudad" ng-options="i.Nombre for i in ListadoOficinasCiudad"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Zona</label>
                            <select class="form-control" ng-model="ModeloZonas" ng-options="i.Nombre for i in ListadoZonas" ng-disabled="Deshabilitar"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Estado Documento</label>
                            <select class="form-control" ng-model="ModeloEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Estado Recolección</label>
                            <select class="form-control" ng-model="ModeloEstadoRecoleccion" ng-options="i.Nombre for i in ListadoEstadosRecoleccion"></select>
                        </div>
                    </div>
                </div>
                <!--SECCIÓN BOTONES-->
                <div class="lineButtons">
                    <div class="pull-left">
                        <button class="btn btn-block btn-primary" title="Buscar" ng-disabled="DeshabilitarConsulta" ng-click="paginaActual=1;Buscar()">
                            Buscar
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" title="Nueva ciudad" ng-disabled="DeshabilitarActualizar" ng-click="NuevoDocumento()">
                            Nuevo
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
                <br />
                <hr />
                <!--RESULTADO CONSULTA-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive" ng-if="ListadoRecolecciones.length > 0" >
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Número</th>
                                        <th>Fecha</th>
                                        <th>Cliente</th>
                                        <th>Remitente</th>
                                        <th>Contacto</th>
                                        <th>Ciudad</th>
                                        <th>Zona</th>
                                        <th>Barrio</th>
                                        <th>Dirección</th>
                                        <th>Teléfonos</th>
                                        <th>Mercancía</th>
                                        <th>Unidad Empaque</th>
                                        <th>Cantidad</th>
                                        <th>Peso (Kg)</th>
                                        <th>Observaciones</th>
                                        <th>No. Planilla</th>
                                        <th>Fecha Planilla</th>
                                        <th>Placa</th>
                                        <th>Oficina</th>
                                        <th>Estado Recolección</th>
                                        <th>Estado Documento</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoRecolecciones">
                                        <td><a href="#!GestionarRecoleccionesPaqueteria/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>
                                        <td>{{item.Fecha | date: 'dd/MM/yyyy'}}</td>
                                        <td>{{item.Cliente.Nombre}}</td>
                                        <td>{{item.Remitente.Nombre}}</td>
                                        <td>{{item.NombreContacto}}</td>
                                        <td>{{item.Ciudad.Nombre}}</td>
                                        <td>{{item.NombreZona}}</td>
                                        <td>{{item.Barrio}}</td>
                                        <td>{{item.Direccion}}</td>
                                        <td>{{item.Telefonos}}</td>
                                        <td>{{item.Mercancia}}</td>
                                        <td>{{item.UnidadEmpaque}}</td>
                                        <td align="right">{{item.Cantidad | number}}</td>
                                        <td align="right">{{item.Peso | number}}</td>
                                        <td>{{item.Observaciones}}</td>
                                        <td>{{item.NumeroPlanilla}}</td>
                                        <td>{{item.FechaPlanilla | date: 'dd/MM/yyyy'}}</td>
                                        <td>{{item.PlacaVehiculo}}</td>
                                        <td>{{item.NombreOficina}}</td>
                                        <td>
                                            <span ng-if="item.EstadoRecoleccion.Codigo == 21800 && item.Anulado == 0" class="label label-warning">(NO APLICA)</span>
                                            <span ng-if="item.EstadoRecoleccion.Codigo == 21804 && item.Anulado == 0" class="label label-primary">CREADA</span>
                                            <span ng-if="item.EstadoRecoleccion.Codigo == 21801 && item.Anulado == 0" class="label label-info">RECOLECTADA</span>
                                            <span ng-if="item.EstadoRecoleccion.Codigo == 21803 && item.Anulado == 0" class="label label-warning">CANCELADA</span>
                                            <span ng-if="item.EstadoRecoleccion.Codigo == 21805 && item.Anulado == 0" class="label label-success">PLANILLADA</span>
                                            <span ng-if="item.Anulado == 1" class="label label-danger">ANULADA</span>
                                        </td>
                                        <td>
                                            <span ng-if="item.Estado == 0 && item.Anulado == 0" class="label label-warning">BORRADOR</span>
                                            <span ng-if="item.Estado == 1 && item.Anulado == 0" class="label label-success">DEFINITIVO</span>
                                            <span ng-if="item.Anulado == 1" class="label label-danger">ANULADO</span>
                                        </td>
                                        <td>
                                            <button class="button mini-button btn-danger" title="Anular" ng-disabled="DeshabilitarEliminarAnular"
                                                    ng-click="EliminarRecoleccion(item.Numero, item.Mercancia,item.NumeroDocumento)">
                                                <span class="fas fa-trash-alt"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                    <tr>
                                        <td colspan="22">
                                            <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                            <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                            <span style="color:red">
                                <small>{{ResultadoSinRegistros}}</small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalEliminarRecolecciones" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de anular la recolección de {{NombreMercancia}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeEliminarRecolecciones" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click="MostrarMensajeErrorModal()"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="MostrarMensajeErrorModal()">
                                Mensaje Completo
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>