﻿<div  ng-init="InitLoad()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <section class="content">
        <form>
            <div class="Form-Imput">
                <!--Errores-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesError">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Errores-->
                <!--General-->
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <input ng-change="MaskNumero()" type="text" name="txtNumero" class="form-control" ng-model="Modelo.NumeroDocumento" disabled />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="Fecha">Fecha</label>
                            <input name="Fecha" type="date" class="form-control" ng-model="Modelo.Fecha" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <!--Linea Negocio-->
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Línea Negocio</label>
                            <select class="form-control" ng-model="Modelo.LineaNegocioPaqueteria" ng-options="i.Nombre for i in ListadoLineaNegocioPaqueteria" ng-disabled="Deshabilitar" ng-change="ValidarPeso()"></select>
                        </div>
                    </div>
                    <!--Linea Negocio-->
                    <!--Forma Pago-->
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Forma Pago</label>
                            <select name="cmbEstado" class="form-control" ng-model="Modelo.FormaPago" ng-options="i.Nombre for i in ListadoFormaPago" ng-disabled="Deshabilitar"></select>
                        </div>
                    </div>
                    <!--Forma Pago-->
                    <!--Cliente-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="lblTenedor">Cliente</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Seleccione cliente" ng-model="Modelo.Cliente"
                                   uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in  AutocompleteCliente($viewValue) | filter:$viewValue | limitTo: 5"
                                   ng-blur="Modelo.Cliente=VerificarAutocomplete(Modelo.Cliente);ObtenerCliente()" ng-disabled="Deshabilitar">
                            <div class="btnClose" ng-click="limpiarControl('Cliente')" title="Limpiar"><span class="fas fa-times-circle"></span></div>
                        </div>
                    </div>
                    <!--Cliente-->
                </div>
                <!--General-->
                <!--Remitente-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Remitente</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="alert alert-info alert-dismissible" ng-show="RemitenteNoRegistrado">
                                    <a href="" class="close" ng-click="RemitenteNoRegistrado = false" aria-label="close">&times;</a>
                                    El remitente no se encuentra registrado, sin embargo puede crearlo llenando el resto de campos.
                                </div>
                                <div class="row">
                                    <!--Tipo identificacion-->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Tipo Identificación</label>
                                            <select name="cmbEstado" class="form-control" ng-model="Modelo.Remitente.TipoIdentificacion" ng-options="i.Nombre for i in ListadoTipoIdentificacion" ng-change="ValidarTIIDRemitente()"
                                                    ng-disabled="BloqueoRemitenteIdentificacion || Deshabilitar"></select>
                                        </div>
                                    </div>
                                    <!--Tipo identificacion-->
                                    <!--Numero Identificacion-->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Número Identificación</label>
                                            <input type="text" ng-change="MaskNumero()" class="form-control" placeholder="Ingrese el numero de identificación" ng-model="Modelo.Remitente.NumeroIdentificacion" ng-required="false" ng-blur="ObtenerRemitente()" ng-disabled="BloqueoRemitenteIdentificacion || Deshabilitar">
                                        </div>
                                    </div>
                                    <!--Numero Identificacion-->
                                    <!--Nombre-->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input type="text" class="form-control" placeholder="Ingrese nombre" ng-model="NombreRemitente" ng-disabled="BloqueoRemitenteNombre || Deshabilitar"
                                                   uib-typeahead="Remi as Remi.NombreCompleto for Remi in  AutocompleteRemitente($viewValue) | filter:$viewValue | limitTo: 5"
                                                   ng-change="MaskMayus()" ng-blur="ObtenerRemitenteNombre(NombreRemitente)">
                                            <div class="btnClose" ng-click="limpiarControl('Remitente')" title="Limpiar"><span class="fas fa-times-circle"></span></div>
                                        </div>
                                    </div>
                                    <!--Nombre-->
                                    <!--Apellido-->
                                    <div class="col-md-3 col-sm-6 col-xs-12" ng-show="MostrarApellidoRemitente">
                                        <div class="form-group">
                                            <label>Apellido</label>
                                            <input maxlength="50" type="text" class="form-control" ng-change="MaskMayus()" placeholder="Ingrese apellido" ng-model="Modelo.Remitente.PrimeroApellido" ng-disabled="Deshabilitar">
                                        </div>
                                    </div>
                                    <!--Apellido-->
                                </div>
                                <div class="row">
                                    <!--Ciudad Origen-->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Ciudad</label>
                                            <input type="text" class="form-control" placeholder="Seleccione una ciudad de origen" ng-model="Modelo.Remitente.Ciudad" ng-required="false" ng-disabled="Deshabilitar"
                                                   uib-typeahead="Ciudad as Ciudad.NombreCompleto for Ciudad in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5"
                                                   ng-blur="Modelo.Remitente.Ciudad=VerificarAutocomplete(Modelo.Remitente.Ciudad);ValidarTarifarioCliente()">
                                        </div>
                                    </div>
                                    <!--Ciudad Origen-->
                                    <!--Direccion-->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="catalogos">Dirección</label>
                                            <input class="form-control" data-live-search="true" ng-model="Modelo.Remitente.Direccion" ng-disabled="Deshabilitar" placeholder="Ingrese dirección" ng-change="MaskMayus()" ng-required="false">
                                        </div>
                                    </div>
                                    <!--Direccion-->
                                    <!--Telefono-->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Teléfono</label>
                                            <input maxlength="15" type="text" class="form-control" ng-change="MaskNumero()" placeholder="Ingrese teléfono" ng-model="Modelo.Remitente.Telefonos" ng-disabled="Deshabilitar" ng-required="false">
                                        </div>
                                    </div>
                                    <!--Telefono-->
                                    <!--Correo-->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>E-mail</label>
                                            <input name="txtEmail" type="text" class="form-control" placeholder="Digite correo electrónico" maxlength="100" ng-model="Modelo.Remitente.Correo" ng-pattern="/^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,3})$/">
                                            <small class="errorField" ng-show="myform.txtEmail.$error.pattern">
                                                Por favor verifique el formato del correo.
                                            </small>
                                        </div>
                                    </div>
                                    <!--Correo-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Remitente-->
                <!--Informacion Recoleccion-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Información Recolección</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="Fecha">Fecha Recolección</label>
                                            <input name="Fecha" type="datetime-local" class="form-control" ng-model="Modelo.FechaRecoleccion" ng-disabled="Deshabilitar">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Contacto</label>
                                            <input type="text" name="txtContacto" ng-change="MaskMayus()" class="form-control" maxlength="100" placeholder="Ingrese nombre contacto" ng-model="Modelo.Contacto" ng-disabled="Deshabilitar" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Ciudad</label>
                                            <input ng-change="MaskMayus()" autocomplete="off" type="text" name="txtCiudad" class="form-control" maxlength="50" placeholder="Ingrese ciudad" ng-model="Modelo.Ciudad"
                                                   uib-typeahead="Ciudad as Ciudad.NombreCompleto for Ciudad in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5"
                                                   ng-blur="Modelo.Ciudad=VerificarAutocomplete(Modelo.Ciudad)" ng-disabled="Deshabilitar" />
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblZona">Zona</label>
                                            <select name="cmbZona" class="form-control" ng-model="Modelo.Zona" ng-options="i.Nombre for i in ListadoZonas | orderBy:'Nombre'" ng-disabled="Deshabilitar"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Barrio</label>
                                            <input type="text" class="form-control" placeholder="Ingrese barrio" ng-model="Modelo.Barrio" ng-disabled="Deshabilitar">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Dirección</label>
                                            <input ng-change="MaskDireccion()" type="text" name="txtDireccion" class="form-control" maxlength="150" placeholder="Ingrese dirección" ng-model="Modelo.Direccion" ng-disabled="Deshabilitar" />
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Teléfonos</label>
                                            <input ng-change="MaskTelefono()" type="text" name="txtTelefonos" class="form-control" maxlength="100" placeholder="Ingrese teléfonos" ng-model="Modelo.Telefonos" ng-disabled="Deshabilitar" />
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Oficina Gestiona</label>
                                            <select name="cmbUnidadEmpaque" class="form-control" ng-model="Modelo.OficinaGestiona" ng-options="i.Nombre for i in ListadoOficinas | orderBy:'Nombre'" ng-disabled="Deshabilitar"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Informacion Recoleccion-->
                <!--Destinatario-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Destinatario</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>

                            <div class="box-body">
                                <div class="alert alert-info alert-dismissible" ng-show="DestinatarioNoRegistrado">
                                    <a href="" class="close" ng-click="DestinatarioNoRegistrado = false" aria-label="close">&times;</a>
                                    El destinatario no se encuentra registrado, sin embargo puede crearlo llenando el resto de campos.
                                </div>
                                <div class="row">
                                    <!--Tipo identificacion-->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Tipo Identificación</label>
                                            <select name="cmbEstado" class="form-control" ng-model="Modelo.Destinatario.TipoIdentificacion" ng-options="i.Nombre for i in ListadoTipoIdentificacion" ng-change="ValidarTIIDDestinatario()"
                                                    ng-disabled="BloqueoDestinatario || Deshabilitar"></select>
                                        </div>
                                    </div>
                                    <!--Numero Identificacion-->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Número Identificación</label>
                                            <input maxlength="20" type="text" ng-change="MaskNumero()" class="form-control" placeholder="Ingrese número de identificación" ng-model="Modelo.Destinatario.NumeroIdentificacion" ng-required="false" ng-blur="ObtenerDestinatario()" ng-disabled="Deshabilitar">
                                        </div>
                                    </div>
                                    <!--Nombre-->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input type="text" class="form-control" placeholder="Nombre" ng-model="NombreDestinatario" ng-disabled="BloqueoDestinatario || Deshabilitar"
                                                   uib-typeahead="Desti as Desti.NombreCompleto for Desti in  AutocompleteDestinatario($viewValue) | filter:$viewValue | limitTo: 5"
                                                   ng-change="MaskMayus()" ng-blur="ObtenerDestinatarioNombre(NombreDestinatario)">
                                            <div class="btnClose" ng-click="limpiarControl('Destinatario')" title="Limpiar"><span class="fas fa-times-circle"></span></div>
                                        </div>
                                    </div>
                                    <!--Apellido-->
                                    <div class="col-md-3 col-sm-6 col-xs-12" ng-show="MostrarApellidoDestinatario">
                                        <div class="form-group">
                                            <label>Apellido</label>
                                            <input maxlength="50" type="text" class="form-control" ng-change="MaskMayus()" placeholder="Ingrese apellido" ng-model="Modelo.Destinatario.PrimeroApellido" ng-required="false" ng-disabled="Deshabilitar">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!--Ciudad Destino-->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Ciudad</label>
                                            <input maxlength="60" type="text" class="form-control" placeholder="Seleccione una ciudad de destino" ng-model="Modelo.Destinatario.Ciudad" ng-required="false" ng-disabled="Deshabilitar"
                                                   uib-typeahead="Ciudad as Ciudad.NombreCompleto for Ciudad in  AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5"
                                                   ng-blur="Modelo.Destinatario.Ciudad=VerificarAutocomplete(Modelo.Destinatario.Ciudad);ValidarTarifarioCliente()">
                                        </div>
                                    </div>
                                    <!--Direccion-->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="catalogos">Dirección</label>
                                            <input class="form-control" data-live-search="true" ng-model="Modelo.Destinatario.Direccion" placeholder="Ingrese dirección" ng-disabled="Deshabilitar" ng-change="MaskMayus()" ng-required="false">
                                        </div>
                                    </div>
                                    <!--Direccion-->
                                    <!--Barrio-->
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Barrio</label>
                                            <input maxlength="80" type="text" class="form-control" placeholder="Ingrese barrio" ng-model="Modelo.Destinatario.Barrio" ng-disabled="Deshabilitar">
                                        </div>
                                    </div>
                                    <!--Barrio-->
                                    <!--Codigo Postal-->
                                    <div class="col-md-2 col-sm-6">
                                        <div class="form-group">
                                            <label for="lblCodPost">Código Postal</label>
                                            <input ng-change="MaskNumero()" placeholder="Código Postal" name="txtCodPost" type="text" maxlength="15" class="form-control" ng-model="Modelo.Destinatario.CodigoPostal" ng-disabled="Deshabilitar">
                                        </div>
                                    </div>
                                    <!--Codigo Postal-->
                                    <!--Telefono-->
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Teléfono</label>
                                            <input maxlength="60" type="text" class="form-control" ng-change="MaskNumero()" placeholder="Ingrese telefono" ng-model="Modelo.Destinatario.Telefonos" ng-disabled="Deshabilitar" ng-required="false">
                                        </div>
                                    </div>
                                    <!--Telefono-->
                                    <!--Fecha Entrega-->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblFechVinc">Fecha Entrega</label>
                                            <input name="txtFechVinc" type="date" class="form-control" ng-model="Modelo.FechaEntrega" ng-disabled="Deshabilitar">
                                        </div>
                                    </div>
                                    <!--Fecha Entrega-->
                                    <!--Horario Entrega-->
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Horario Entrega</label>
                                            <select name="cmbIdent" class="form-control" ng-model="Modelo.HorarioEntrega" ng-options="i.Nombre for i in ListadoHorariosEntrega" ng-disabled="Deshabilitar"></select>
                                        </div>
                                    </div>
                                    <!--Horario Entrega-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Destinatario-->
                <!--Observaciones-->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Observaciones</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <div class="input-control text full-size" data-role="input">
                                                <textarea class="form-control" maxlength="500" name="Observaciones" type="text" ng-model="Modelo.Observaciones" ng-disabled="Deshabilitar"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Observaciones-->
                <!--Tarifas-->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Tarifas</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="alert alert-warning alert-dismissible p-3 mb-2" ng-show="TarifarioInvalido">
                                            No existe una tarifa con las condiciones especificadas
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="alert alert-danger p-3" role="alert" ng-if="MensajesErrorTarifas.length > 0">
                                            <ul>
                                                <li ng-repeat="error in MensajesErrorTarifas">
                                                    <span>{{error}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!--Tarifa-->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Tarifa</label>
                                            <select name="cmbTarifa" class="form-control" ng-model="Modelo.TarifaCarga" ng-options="i.Nombre for i in ListaTarifaCarga"
                                                    ng-change="CargarTipoTarifa(Modelo.TarifaCarga.Codigo); Calcular()" ng-disabled="Deshabilitar"></select>

                                        </div>
                                    </div>
                                    <!--Tarifa-->
                                    <!--Producto-->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Producto</label>
                                            <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un producto" ng-change="MaskMayus()" ng-model="Modelo.ProductoTransportado"
                                                   uib-typeahead="Prod as Prod.Nombre for Prod in AutocompleteProductoTransportado($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                                   ng-blur="Modelo.ProductoTransportado=VerificarAutocomplete(Modelo.ProductoTransportado);AsignarPesoProducto();Calcular();" ng-disabled="Deshabilitar">
                                            <div class="btnClose" ng-click="limpiarControl('Producto')" title="Limpiar"><span class="fas fa-times-circle"></span></div>
                                        </div>
                                    </div>
                                    <!--Producto-->
                                    <!--Mercancia-->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Mercancía</label>
                                            <input type="text" name="txtMercancia" ng-change="MaskMayus()" class="form-control" maxlength="250" placeholder="Ingrese nombre mercancía" ng-model="Modelo.Mercancia" ng-disabled="Deshabilitar" />
                                        </div>
                                    </div>
                                    <!--Mercancia-->
                                    <!--Unidad Empaque-->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Unidad Empaque</label>
                                            <select name="cmbUnidadEmpaque" class="form-control" ng-model="Modelo.UnidadEmpaque" ng-options="i.Nombre for i in ListadoUnidadEmpaque | orderBy:'Nombre'" ng-disabled="Deshabilitar"></select>
                                        </div>
                                    </div>
                                    <!--Unidad Empaque-->
                                </div>
                                <div class="row">
                                    <!--Cantidad-->
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Cantidad</label>
                                            <input style="text-align:right" maxlength="18" type="text" class="form-control" ng-change="MaskMoneda()" ng-blur="Calcular()"
                                                   placeholder="Ingrese la cantidad" ng-model="Modelo.CantidadCliente" ng-required="false" ng-disabled="Deshabilitar">
                                        </div>
                                    </div>
                                    <!--Peso-->
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Peso (Kg)</label>
                                            <input style="text-align:right" maxlength="18" type="text" class="form-control" ng-change="MaskValores()" ng-blur="Calcular()"
                                                   placeholder="Ingrese el peso" ng-model="Modelo.PesoCliente" ng-required="false" ng-disabled="Deshabilitar">
                                        </div>
                                    </div>
                                    <!--Largo-->
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Largo (Cm)</label>
                                            <input style="text-align:right" maxlength="18" type="text" class="form-control" ng-change="MaskValores()" ng-blur="Calcular()"
                                                   placeholder="Largo" ng-model="Modelo.Largo" ng-required="false" ng-disabled="Deshabilitar">
                                        </div>
                                    </div>
                                    <!--Largo-->
                                    <!--Alto-->
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Alto (Cm)</label>
                                            <input style="text-align:right" maxlength="18" type="text" class="form-control" ng-change="MaskValores()" ng-blur="Calcular()"
                                                   placeholder="Alto" ng-model="Modelo.Alto" ng-required="false" ng-disabled="Deshabilitar">
                                        </div>
                                    </div>
                                    <!--Alto-->
                                    <!--Ancho-->
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Ancho (Cm)</label>
                                            <input style="text-align:right" maxlength="18" type="text" class="form-control" ng-change="MaskValores()" ng-blur="Calcular()"
                                                   placeholder="Ancho" ng-model="Modelo.Ancho" ng-required="false" ng-disabled="Deshabilitar">
                                        </div>
                                    </div>
                                    <!--Ancho-->
                                    <!--Peso Vol.-->
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Peso Volumétrico</label>
                                            <input style="text-align:right" maxlength="18" type="text" class="form-control" ng-change="MaskValores()" ng-blur="ValidarPesoVolumetrico();Calcular()"
                                                   placeholder="Peso Volumétrico" ng-model="Modelo.PesoVolumetrico" ng-required="false">
                                        </div>
                                    </div>
                                    <!--Peso Vol.-->
                                </div>
                                <div class="row">
                                    <!--Peso Cobrar-->
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Peso a Cobrar</label>
                                            <input style="text-align:right" maxlength="18" type="text" class="form-control" ng-change="MaskValores()" ng-blur="Calcular()"
                                                   placeholder="Peso a Cobrar" ng-model="Modelo.PesoCobrar" ng-required="false" disabled>
                                        </div>
                                    </div>
                                    <!--Peso Cobrar-->
                                    <!--Valor Comercial-->
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor Comercial</label>
                                            <input maxlength="18" type="text" class="form-control text-right" ng-change="MaskValores()" ng-blur="Calcular()" placeholder="Ingrese el valor comercial"
                                                   ng-model="Modelo.ValorComercialCliente" ng-required="false" ng-disabled="Deshabilitar">
                                        </div>
                                    </div>
                                    <!--Valor Comercial-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarifas-->
                <!--Totales-->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Totales</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor Flete</label>
                                            <input type="text" ng-change="MaskValores()" class="form-control text-right" placeholder="Valor flete" ng-model="Modelo.ValorFleteCliente" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor Manejo</label>
                                            <input type="text" ng-change="MaskValores()" class="form-control text-right" placeholder="Valor Manejo" ng-model="Modelo.ValorSeguroCliente" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Total</label>
                                            <input type="text" ng-change="MaskValores()" class="form-control text-right" placeholder="Valor Total Cliente" ng-model="Modelo.TotalFleteCliente" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Totales-->
            </div>
            <!--Oficina Y Estado-->
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label>Oficina</label>
                        <span class="form-control">{{Modelo.Oficina.Nombre}}</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label>Estado</label>
                        <select name="cmbEstado" class="form-control" ng-model="Modelo.Estado" ng-options="i.Nombre for i in ListadoEstados" ng-disabled="Deshabilitar"></select>
                    </div>
                </div>
            </div>
            <!--Oficina Y Estado-->
            <!--SECCIÓN BOTONES-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="SeccionBotones">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="Deshabilitar">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Mapa Google-->
    <div class="modal fade" id="modalMostrarMapa" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-content  modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            MAPA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Latitud</label>
                                            <input type="text" class="form-control" ng-model="MapaLatitud" ng-required="false" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Longitud</label>
                                            <input type="text" class="form-control" ng-model="MapaLongitud" ng-required="false" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!--Div Mapa-->
                                    <div class="col-md-12 text-center">
                                        <div>
                                            <div style="height: 500px" id="gmaps"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="AsignarPosicion()" ng-disabled="Deshabilitar">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>