﻿<div >
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>INDICADORES DESPACHOS</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="box-body">
                    <div class="row">

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Tipo Indicador</label>
                                <select name="cmbIndicadores" class="form-control" ng-model="Indicador" ng-options="i.Nombre for i in ListadoIndicadores | orderBy: 'Nombre'"></select>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="fechaInicial">Fecha Inicial</label>
                                <input name="fechaInicial" type="date" class="form-control" ng-model="Modelo.FechaInicial">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="fechaFinal">Fecha Final</label>
                                <input name="fechaFinal" type="date" class="form-control" ng-model="Modelo.FechaFinal">
                            </div>
                        </div>



                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Oficina</label>
                                <input tabindex="1" maxlength="60" type="text" class="form-control" placeholder="Ingrese un Valor" ng-model="Modelo.Oficina" ng-disabled="Deshabilitar" autocomplete="off"
                                       uib-typeahead="Oficina as Oficina.Nombre for Oficina in ListadoOficinas | filter:$viewValue | limitTo: 5" ng-required="false"
                                       ng-blur="Modelo.Oficina=VerificarAutocomplete(Modelo.Oficina)">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Ruta</label>
                                <input tabindex="1" maxlength="60" type="text" class="form-control" placeholder="Ingrese un Valor" ng-model="Modelo.Ruta" ng-disabled="Deshabilitar" autocomplete="off"
                                       uib-typeahead="Ruta as Ruta.Nombre for Ruta in ListadoRutas | filter:$viewValue | limitTo: 5" ng-required="false"
                                       ng-blur="Modelo.Ruta=VerificarAutocomplete(Modelo.Ruta)">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Placa</label>
                                <input tabindex="1" maxlength="60" type="text" class="form-control" placeholder="Ingrese un Valor" ng-model="Modelo.Vehiculo" ng-disabled="Deshabilitar" autocomplete="off"
                                       uib-typeahead="Vehiculo as Vehiculo.Placa for Vehiculo in ListadoVehiculos | filter:$viewValue | limitTo: 5" ng-required="false"
                                       ng-blur="Modelo.Vehiculo=VerificarAutocomplete(Modelo.Vehiculo); CargarDatos()">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Semirremolque</label>
                                <input tabindex="1" maxlength="60" type="text" class="form-control" placeholder="Ingrese un Valor" ng-model="Modelo.Semirremolque" ng-disabled="Deshabilitar" autocomplete="off"
                                       uib-typeahead="Semirremolque as Semirremolque.Placa for Semirremolque in ListadoSemirremolques | filter:$viewValue | limitTo: 5" ng-required="false"
                                       ng-blur="Modelo.Semirremolque=VerificarAutocomplete(Modelo.Semirremolque)">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Conductor</label>
                                <input tabindex="1" maxlength="60" type="text" class="form-control" placeholder="Ingrese un Valor" ng-model="Modelo.Conductor" ng-disabled="Deshabilitar" autocomplete="off"
                                       uib-typeahead="Conductor as Conductor.NombreCompleto for Conductor in AutocompleteConductores($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false"
                                       ng-blur="Modelo.Conductor=VerificarAutocomplete(Modelo.Conductor)">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Tenedor</label>
                                <input tabindex="1" maxlength="60" type="text" class="form-control" placeholder="Ingrese un Valor" ng-model="Modelo.Tenedor" ng-disabled="Deshabilitar" autocomplete="off"
                                       uib-typeahead="Tenedor as Tenedor.NombreCompleto for Tenedor in AutocompleteTenedores($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false"
                                       ng-blur="Modelo.Tenedor=VerificarAutocomplete(Modelo.Tenedor)">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Cliente</label>
                                <input tabindex="1" maxlength="60" type="text" class="form-control" placeholder="Ingrese un Valor" ng-model="Modelo.Cliente" ng-disabled="DeshabilitarCliente || Deshabilitar" autocomplete="off"
                                       uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in AutocompleteCliente($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false"
                                       ng-blur="Modelo.Cliente=VerificarAutocomplete(Modelo.Cliente); CargarTarifarioCliente(Modelo.Cliente)">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Producto</label>
                                <input tabindex="1" maxlength="60" type="text" class="form-control" placeholder="Ingrese un Valor" ng-model="Modelo.Producto" ng-disabled="Deshabilitar" autocomplete="off"
                                       uib-typeahead="Producto as Producto.Nombre for Producto in ListadoProductos | filter:$viewValue | limitTo: 5" ng-required="false"
                                       ng-blur="Modelo.Producto=VerificarAutocomplete(Modelo.Producto)">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Tipo Gráfica</label>
                                <select name="cmbPuntoGestion" class="form-control" ng-model="Modelo.TipoGrafica" ng-options="i.Nombre for i in ListadoTiposGrafica | orderBy: 'Nombre'" ng-change="ConsultaGrafica()"></select>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label></label>
                                <button class="btn btn-block btn-primary" title="Buscar" ng-click="paginaActual=1;BuscarGrafica();Buscar();" ng-disabled="DeshabilitarConsulta">
                                    Buscar
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" onselectstart="return false" ng-click="MostrarGrafica()">Gráfica</a></li>
                        <li><a data-toggle="tab" onselectstart="return false" ng-click="MostrarConsulta()">Consulta</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div id="Grafica">
                        <div class="row">
                            <div class="box box-default box-solid">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="modal-body">
                                            <div class="box-body">
                                                <div id="donutchart" style="width: 100%; height: 600px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ConsultaViajes">
                        <div class="row">
                            <div class="box-body">
                                <div class="row">
                                    <div class="box box-default box-solid">
                                        <!--RESULTADO CONSULTA-->
                                        <div class="ResultadoConsulta">
                                            <div class="table-responsive" ng-if="ListadoConsulta.length > 0">
                                                <table class="table table-striped table-bordered table-hover table-condensed">
                                                    <thead>
                                                        <tr>
                                                            <th>Número Planilla</th>
                                                            <th>Fecha</th>
                                                            <th>Vehículo</th>
                                                            <th>Semirremolque</th>
                                                            <th>Tenedor</th>
                                                            <th>Conductor</th>
                                                            <th>Flete Transportador</th>
                                                            <th>Número Remesa</th>
                                                            <th>Cliente</th>
                                                            <th>Ruta</th>
                                                            <th>Producto</th>
                                                            <th>Cantidad</th>
                                                            <th>Peso (Kg)</th>
                                                            <th>Flete Cliente</th>
                                                            <th>Oficina</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in ListadoConsulta">
                                                            <td><a href="#!GestionarPlanillasDespachos/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>
                                                            <td>{{item.Fecha | date:'dd/MM/yyyy' }}</td>
                                                            <td>{{item.Vehiculo.Placa}}</td>
                                                            <td>{{item.Semirremolque.Placa}}</td>
                                                            <td>{{item.Tenedor.Nombre}}</td>
                                                            <td>{{item.Conductor.Nombre}}</td>
                                                            <td class="text-right">{{item.ValorFleteTransportador | currency}}</td>
                                                            <td>{{item.Remesa.NumeroDocumento}}</td>
                                                            <td>{{item.Cliente.Nombre}}</td>
                                                            <td>{{item.Ruta.Nombre}}</td>
                                                            <td>{{item.Producto.Nombre}}</td>
                                                            <td class="text-right">{{item.Remesa.CantidadCliente | currency:' '}}</td>
                                                            <td class="text-right">{{item.Remesa.PesoCliente}}</td>
                                                            <td class="text-right">{{item.Remesa.ValorFleteCliente | currency}}</td>
                                                            <td>{{item.Oficina.Nombre}}</td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                                        <tr>
                                                            <td colspan="4">
                                                                <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                                <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                                    <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                                        <span class="item">&laquo;</span>
                                                                    </button>
                                                                    <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                                        <span class="item">&lsaquo;</span>
                                                                    </button>
                                                                    <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                                        <span class="item">&rsaquo;</span>
                                                                    </button>
                                                                    <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                                        <span class="item">&raquo;</span>
                                                                    </button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tfoot>

                                                </table>
                                            </div>
                                            <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                                <span style="color:red">
                                                    <small>{{ResultadoSinRegistros}}</small>
                                                </span>
                                            </div>
                                            <div style="padding:15px 0 0 0" ng-if="ListadoConsulta.length > 0">
                                                <button class="btn btn-block btn-primary" style="width:50px; height:50px; margin-left:10px" title="Descargar en EXCEL" ng-click="DesplegarInforme()">
                                                    <img src="../../../FrontEnd/Css/img/excel.png" width="40" height="40" style="margin-left:0px" />
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--SECCIÓN BOTONES-->
                                <!--<div class="SeccionBotones row">
                                    <div class="pull-left">
                                        <table>
                                            <tr>
                                                <td>
                                                    <button class="button mini-button btn-success" style="border-radius:5px; width:50px; height:50px; color:white; padding:5px; margin-left:10px" title="Descargar en EXCEL" ng-click="DesplegarInforme(NumeroInicial,NumeroFinal,FechaInicial,FechaFinal, 0, 1)">
                                                        <span class="fa fa-file-excel-o" style="font-size:35px"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                        <style>
                                            .fa-file-pdf-o:hover {
                                                color: #58ACFA;
                                            }

                                            .fa-file-excel-o:hover {
                                                color: #58ACFA;
                                            }
                                        </style>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
