﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">{{opcion.Nombre}}</li>
    </ol>

    <section class="content-header">
        <h1>CONSULTAR SOLICITUDES ANTICIPO</h1>
    </section>

    <div class="content">
        <div class="row">
            <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span>{{error}}</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="fechaInicial">Fecha Inicial</label>
                    <input type="date" name="fechaInicial" class="form-control" ng-model="FechaInicial" />
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="fechaFinal">Fecha Final</label>
                    <input type="date" name="fechaFinal" class="form-control" ng-model="FechaFinal" />
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="Numero">Número</label>
                    <input type="text" name="Numero" class="form-control" ng-model="NumeroDocumento" />
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="Estado">Estado</label>
                    <select name="Estado" class="form-control" ng-model="Estado" ng-options="i.Nombre for i in ListadoEstados | orderBy:'Nombre'"></select>
                </div>
            </div>
        </div>
        <div class="SeccionBotones">
            <div class="pull-left">
                <button class="btn btn-block btn-primary" ng-click="Buscar()" title="Buscar">
                    Buscar
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
            <div class="pull-right">
                <button class="btn btn-block btn-primary" ng-click="NuevoDocumento()" title="Nuevo">
                    Nuevo
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>

        <div class="ResultadoConsulta">
            <div class="table-responsive" ng-if="ListadoSolicitudes.length > 0">
                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Número</th>
                            <th>Fecha</th>
                            <th>Observaciones</th>
                            <th>Estado</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ListadoSolicitudes | orderBy:'Nombre'">
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                        <span class="fa fa-list"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-left" style="overflow-y:scroll; max-height:100px">
                                        <li>
                                            <a ng-click="DesplegarInforme(item.Numero,1, 0)" ng-disabled="DeshabilitarImprimir">
                                                <span class="glyphicon glyphicon-print"></span>Imprimir Reporte
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="AnularDocumento(item.Numero,item.NumeroDocumento)" ng-disabled="item.Anulado == 1" ng-show="item.Anulado == 0">
                                                <span class="fas fa-trash-alt"></span> Anular
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td><a href="#!GestionarSolicitudAnticipo/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>
                            <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                            <td>{{item.Observaciones}}</td>

                            <td>
                                <span ng-if="item.Estado != 1 && item.Anulado == 0 " class="label label-warning">BORRADOR</span>
                                <span ng-if="item.Estado == 1 && item.Anulado == 0" class="label label-success">DEFINITIVO</span>
                                <span ng-if="item.Anulado == 1" class="label label-danger">ANULADO</span>
                            </td>

                        </tr>
                    </tbody>
                    <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                        <tr>
                            <td colspan="4">
                                <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                    <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                        <span class="item">&laquo;</span>
                                    </button>
                                    <button class="button primary" ng-click="Anterior()" title="Anterior">
                                        <span class="item">&lsaquo;</span>
                                    </button>
                                    <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                        <span class="item">&rsaquo;</span>
                                    </button>
                                    <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                        <span class="item">&raquo;</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tfoot>

                </table>
            </div>
            <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                <span style="color:red">
                    <small>{{ResultadoSinRegistros}}</small>
                </span>
            </div>
        </div>
    </div>

    <!-- Modal Asignar datos anulación-->
    <div class="modal fade" id="modalAnular" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <ul>
                        <li ng-repeat="error in MensajesErrorAnular">
                            <span class="errorField">{{error}}</span>
                        </li>
                    </ul>
                    <div class="modal-body">
                        <p>¿Está seguro de Anular la solicitud {{NumeroDocumento}}?</p>

                        <label>Causa Anulación</label>
                        <input name="nombre" class="form-control" ng-model="ModeloCausaAnula" placeholder="Ingrese una Causa" maxlength="150">

                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Anular()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeAnularSolicitudAnticipo" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-open">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" >
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


</div>