﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">{{opcion.Nombre}}</li>
    </ol>

    <section class="content-header">
        <h1>GESTIONAR SOLICITUDES ANTICIPO</h1>
    </section>

    <div class="content">
        <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
            <ul>
                <li ng-repeat="error in MensajesError"><span>{{error}}</span></li>
            </ul>
        </div>

        <div class="row">

            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="Numero">Número</label>
                    <input type="text" class="form-control" name="Numero" ng-model="NumeroDocumento" disabled />
                </div>
            </div>

            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="Fecha">Fecha</label>
                    <input type="date" class="form-control" name="Fecha" ng-model="Fecha" ng-disabled="DeshabilitarActualizar" />
                </div>
            </div>

        </div>

        <button type="button" class="btn btn-success" title="Adicionar" ng-click="AgregarSolicitud()" ng-disabled="DeshabilitarActualizar">
            Adicionar
            <span class="fa fa-plus"></span>
        </button>
        <br />
        <div class="table-responsive" ng-if="ListadoSolicitudes.length > 0">
            <table class="table table-striped table-hover table-bordered table-condensed table-sm">
                <thead>
                    <tr>
                        <th>Vehículo</th>
                        <th>Semirremolque</th>
                        <th>Tipo Solicitud</th>
                        <th>Planilla</th>
                        <th>Conductor</th>
                        <!--<th>Identificación Conductor</th>-->
                        <th>Ruta</th>
                        <th>Sitio Cargue</th>
                        <th>Sitio Descargue</th>
                        <th>Valor Sugerido</th>
                        <th>Valor Registrado</th>
                        <th>Obs.</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ListadoSolicitudes">
                        <td>
                            <input type="text" class="form-control" name="Vehículo" ng-model="item.Vehiculo" ng-blur="item.Vehiculo = VerificarAutocomplete(item.Vehiculo);AsignarSemirremolqueyConductor(item,$index);CalcularAnticipo(item)"
                                   uib-typeahead="Vehiculo as Vehiculo.Placa for Vehiculo in AutocompleteVehiculos($viewValue) | filter: $viewValue | limitTo: 5"
                                   ng-change="item.Vehiculo = MaskPlacaGrid(item.Vehiculo)" autocomplete="off" ng-disabled="DeshabilitarActualizar" />
                        </td>
                        <td>
                            <input type="text" class="form-control" name="Semirremolque" ng-model="item.Semirremolque" ng-blur="item.Semirremolque = VerificarAutocomplete(item.Semirremolque);CalcularAnticipo(item)"
                                   uib-typeahead="Semirremolque as Semirremolque.Placa for Semirremolque in AutocompleteSemirremolques($viewValue) | filter: $viewValue | limitTo: 5"
                                   ng-disabled="DeshabilitarActualizar" />
                        </td>
                        <td>
                            <select class="form-control" name="TipoSolicitud" ng-change="item.Planilla = ''" ng-model="item.TipoSolicitud"
                                    ng-options="i.Nombre for i in ListadoTipoSolicitud | orderBy: 'Nombre'" ng-disabled="DeshabilitarActualizar"></select>
                        </td>
                        <td ng-show="item.TipoSolicitud.Codigo == 22702">
                            <input type="text" class="form-control" name="Planilla" ng-change="item.Planilla = MaskNumeroGrid(item.Planilla)" ng-model="item.Planilla"
                                   ng-blur="ValidarPlanilla(item)" ng-disabled="DeshabilitarActualizar"
                                   autocomplete="off" />
                        </td>
                        <td ng-show="item.TipoSolicitud.Codigo != 22702 && item.Planilla == 0">
                            <span>(N/A)</span>
                        </td>
                        <td ng-show="item.TipoSolicitud.Codigo != 22702 && item.Planilla > 0">
                            <span>{{item.Planilla}}</span>
                        </td>
                        <td>
                            <input type="text" class="form-control" name="Conductor" ng-change="MaskMayus()" ng-model="item.Conductor" autocomplete="off"
                                   uib-typeahead="Conductor as Conductor.NombreCompleto for Conductor in AutocompleteConductores($viewValue) | filter: $viewValue | limitTo: 5"
                                   ng-blur="item.Conductor = VerificarAutocomplete(item.Conductor);AsignarIdentificacionConductor(item)"
                                   ng-disabled="DeshabilitarActualizar" />
                        </td>
                        <!--<td>
        <input type="text" class="form-control" name="IdentificacionConductor" ng-model="item.IdentificacionConductor" disabled />
    </td>-->
                        <td>
                            <input type="text" class="form-control" name="Ruta" ng-model="item.Ruta" ng-blur="item.Ruta = VerificarAutocomplete(item.Ruta); VerificarSitiosRuta(item);CalcularAnticipo(item)"
                                   uib-typeahead="Ruta as Ruta.Nombre for Ruta in AutocompleteRutas($viewValue) | filter: $viewValue | limitTo: 5"
                                   ng-change="item.Ruta = MaskMayusGrid(item.Ruta)" autocomplete="off" ng-disabled="DeshabilitarActualizar" />
                        </td>
                        <td>
                            <input type="text" class="form-control" name="SitioCargue" ng-model="item.SitioCargue" ng-blur="item.SitioCargue = VerificarSitio(item.SitioCargue);CalcularAnticipo(item)"
                                   uib-typeahead="SitioCargue as SitioCargue.Sitio.Nombre for SitioCargue in AutocompleteSitiosCargueDescargue(item) | filter: $viewValue | limitTo: 5"
                                   autocomplete="off" ng-disabled="DeshabilitarActualizar" />
                        </td>
                        <td>
                            <input type="text" class="form-control" name="SitioDescargue" ng-model="item.SitioDescargue" ng-blur="item.SitioDescargue = VerificarSitio(item.SitioDescargue);CalcularAnticipo(item)"
                                   uib-typeahead="SitioDescargue as SitioDescargue.Sitio.Nombre for SitioDescargue in AutocompleteSitiosCargueDescargue(item) | filter: $viewValue | limitTo: 5"
                                   autocomplete="off" ng-disabled="DeshabilitarActualizar" />
                        </td>
                        <td>
                            <input type="text" class="form-control text-right" name="ValorSugerido" ng-model="item.ValorSugerido"
                                   ng-change="item.ValorSugerido = MaskValoresGrid(item.ValorSugerido)"
                                   disabled />
                        </td>
                        <td>
                            <input type="text" class="form-control text-right" name="ValorRegistrado" ng-model="item.ValorRegistrado"
                                   ng-change="item.ValorRegistrado = MaskValoresGrid(item.ValorRegistrado)" ng-disabled="DeshabilitarActualizar" ng-blur="ValidarValorRegistrado(item)" />
                        </td>
                        <td>
                            <a uib-popover-template="'myPopoverTemplate.html'" popover-is-open="item1.popvisible" popover-class="increase-popover-width" popover-placement="left-bottom " popover-title="Editar Valores" popover-trigger="'outsideClick'" href="">

                                ...
                            </a>
                            <div>
                                <script type="text/ng-template" id="myPopoverTemplate.html">
                                    <div class="col-md-12 col-sm-12 col-xs-12" style="min-width:550px">
                                        <div class="form-group">
                                            <label>Observaciones</label>
                                            <textarea class="form-control" ng-model="item.Observaciones" ng-disabled="DeshabilitarActualizar"></textarea>
                                        </div>
                                    </div>
                                </script>
                            </div>

                        </td>
                        <td ng-show="!DeshabilitarActualizar">
                            <button class="button mini-button btn-danger" title="Eliminar" ng-click="ConfirmacionEliminarSolicitud($index)">
                                <span class="fa fa-trash-alt"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />


        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="form-group">
                <div class="input-control text full-size" data-role="input">
                    <label for="observaciones">Observaciones</label>
                    <textarea class="form-control" maxlength="200" name="observaciones" type="text" ng-model="Observaciones" ng-disabled="DeshabilitarActualizar"></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label>Estado</label>
                    <select name="cmbEstados" class="form-control" ng-model="Estado" ng-options="i.Nombre for i in ListadoEstados | orderBy:'Nombre'" ng-disabled="DeshabilitarActualizar"></select>
                </div>
            </div>
        </div>


        <div class="SeccionBotones">
            <div class="pull-right">
                <button class="btn btn-default" ng-click="VolverMaster()">
                    Cancelar
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
                <button class="btn btn-primary" ng-click="ConfirmacionGuardar()">
                    Aceptar
                    <span class="glyphicon glyphicon-ok-circle"></span>
                </button>
            </div>
        </div>

    </div>

    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionEliminarSolicitud" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar la solicitud?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="EliminarSolicitud()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>