﻿<div >

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>

    <section class="content-header">
        <h1>GESTIONAR PLANILLAS DESPACHOS OTRAS EMPRESAS </h1>
    </section>

    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="box box-default box-solid CriteriosBusqueda" id="CriteriosBusqueda">
                    <div class="box-header with-border">
                        <h3 class="box-title">General</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse" id="btncriterios"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <!--<div class="row">-->



                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="numero">Número Planilla</label>
                                <input name="numero" ng-change="MaskNumero()" class="form-control" ng-model="Planilla.NumeroDocumento" placeholder="Ingrese un número" maxlength="15" ng-disabled="DeshabilitarActualizar">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="FechaPlanilla">Fecha Planilla</label>
                                <input name="FechaPlanilla" type="date" class="form-control" ng-model="Planilla.Fecha" ng-disabled="DeshabilitarActualizar">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="numero">Documento Transporte</label>
                                <input name="numero" ng-change="MaskNumero()" class="form-control" ng-model="Planilla.NumeroDocumentoTransporte" placeholder="Ingrese un Documento" maxlength="15" ng-disabled="DeshabilitarActualizar">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Cliente</label>
                                <input class="form-control" ng-model="Planilla.Cliente"
                                       uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in AutocompleteCliente($viewValue) | filter:$viewValue | limitTo: 5"
                                       placeholder="Seleccione un Cliente" maxlength="60"
                                       ng-blur="Planilla.Cliente=VerificarAutocomplete(Planilla.Cliente)" ng-required="false" ng-disabled="DeshabilitarActualizar">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="numero">Documento Cliente</label>
                                <input name="numero" class="form-control" ng-model="Planilla.DocumentoCliente" placeholder="Ingrese un Documento" maxlength="15" ng-disabled="DeshabilitarActualizar">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="numero">Número Factura</label>
                                <input name="numero" ng-change="MaskNumero()" class="form-control" ng-model="Planilla.Factura" placeholder="Factura" maxlength="15" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-default box-solid CriteriosBusqueda" id="CriteriosBusqueda">
                    <div class="box-header with-border">
                        <h3 class="box-title">Despacho</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse" id="btncriterios"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="cliente">Vehículo</label>
                                <input name="cliente" class="form-control" ng-model="Planilla.Vehiculo"
                                       uib-typeahead="Vehi as Vehi.Placa for Vehi in AutocompleteVehiculos($viewValue)| filter:$viewValue | limitTo: 5"
                                       placeholder="Ingrese Placa" maxlength="10" ng-change="MaskPlaca()" ng-blur="Planilla.Ruta=''; CargarConductorYSemirremolque();
                                       Planilla.Vehiculo=VerificarAutocomplete(Planilla.Vehiculo)"
                                       ng-required="false" ng-disabled="DeshabilitarActualizar">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="cliente">Semirremolque</label>
                                <input name="cliente" class="form-control" ng-model="Planilla.Semirremolque" placeholder="Ingrese Placa" maxlength="10"
                                       uib-typeahead="Semirremolque as Semirremolque.Placa for Semirremolque in AutocompleteSemirremolques($viewValue)| filter:$viewValue | limitTo: 5"
                                       ng-blur="Planilla.Semirremolque=VerificarAutocomplete(Planilla.Semirremolque)"
                                       ng-change="MaskSemirremolque(Planilla.Semirremolque)" ng-disabled="DeshabilitarActualizar">
                            </div>
                        </div>


                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="cliente">Conductor</label>
                                <input name="cliente" class="form-control" ng-model="Planilla.Conductor"
                                       uib-typeahead="Conductor as Conductor.NombreCompleto for Conductor in AutocompleteConductores($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                       ng-blur="Planilla.Conductor=VerificarAutocomplete(Planilla.Conductor)"
                                       placeholder="Ingrese un Conductor" maxlength="60" ng-disabled="DeshabilitarActualizar">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="cliente">Ruta</label>
                                <input name="cliente" class="form-control" ng-model="Planilla.Ruta" placeholder="Ingrese nombre de Ruta" maxlength="60" 
                                       uib-typeahead="Ruta as Ruta.Nombre for Ruta in ListadoRutas| filter:$viewValue | limitTo: 5" ng-blur="Planilla.Ruta=VerificarAutocomplete(Planilla.Ruta);FiltrarTarifas(Planilla.Ruta)" ng-disabled="DeshabilitarActualizar">
                                
                            </div>
                        </div>



                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="producto">Producto</label>
                                <input name="producto" class="form-control" ng-model="Planilla.Producto"
                                       uib-typeahead="Producto as Producto.Nombre for Producto in AutocompleteProductos($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                       ng-blur="Planilla.Producto=VerificarAutocomplete(Planilla.Producto)"
                                       placeholder="Ingrese un Producto" maxlength="60" ng-disabled="DeshabilitarActualizar">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Tipo Tarifa</label>
                                <select name="cmbTTarifa" class="form-control" ng-model="Planilla.TipoTarifa" ng-options="i.Nombre for i in ListadoTarifaTransportes" ng-disabled="DeshabilitarActualizar"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-default box-solid CriteriosBusqueda" id="CriteriosBusqueda">
                    <div class="box-header with-border">
                        <h3 class="box-title">Totales</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse" id="btncriterios"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="cantidad">Cantidad</label>
                                <input name="cantidad" class="form-control text-right" ng-model="Planilla.Cantidad" placeholder="Ingrese cantidad" maxlength={{maxLength}} ng-change="MaskValores()" ng-disabled="DeshabilitarActualizar" ng-blur="MaskDecimales(2)">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="peso">Peso</label>
                                <input name="peso" class="form-control text-right" ng-model="Planilla.Peso" placeholder="Ingrese Valor" maxlength="10" ng-change="MaskValores()" ng-disabled="DeshabilitarActualizar" ng-blur="MaskDecimales(2)">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="fTrans">Flete Transportador</label>
                                <input name="fTrans" class="form-control text-right" ng-model="Planilla.FleteTransportador" placeholder="Ingrese un valor" maxlength="10" ng-change="MaskValores()" ng-disabled="DeshabilitarActualizar">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="TotalF">Valor Flete</label>
                                <input name="TotalF" class="form-control text-right" ng-model="Planilla.TotalFlete" placeholder="Ingrese un valor" maxlength="10" ng-change="MaskValores()" ng-blur=" CalcularPagar()" ng-disabled="DeshabilitarActualizar">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="RFuente">Retención Fuente</label>
                                <input name="RFuente" class="form-control text-right" ng-model="Planilla.RetencionFuente" placeholder="Ingrese un valor" maxlength="10" ng-change="MaskValores()" ng-blur=" CalcularPagar()" ng-disabled="DeshabilitarActualizar">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="rICA">Retención ICA</label>
                                <input name="rICA" class="form-control text-right" ng-model="Planilla.RetencionICA" placeholder="Ingrese un valor" maxlength="10" ng-change="MaskValores()" ng-blur=" CalcularPagar()" ng-disabled="DeshabilitarActualizar">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="ACliente">Anticipo</label>
                                <input name="ACliente" class="form-control text-right" ng-model="Planilla.AnticipoCliente" placeholder="Ingrese un valor" maxlength="10" ng-change="MaskValores()" ng-blur=" CalcularPagar()" ng-disabled="DeshabilitarActualizar">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="VPagar">Valor a Pagar</label>
                                <input name="VPagar" class="form-control text-right" ng-model="Planilla.ValorAPagar" maxlength="10" ng-change="MaskValores()" disabled />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="APropio">Anticipo Propio</label>
                                <input name="APropio" class="form-control text-right" ng-model="Planilla.AnticipoPropio" placeholder="Ingrese un valor" maxlength="10" ng-change="MaskValores()" ng-disabled="DeshabilitarActualizar">
                            </div>
                        </div>



                        <div class="col-md-12 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <div class="input-control text full-size" data-role="input">
                                    <label for="observaciones">Observaciones</label>
                                    <textarea class="form-control" maxlength="200" name="observaciones" type="text" ng-model="Planilla.Observaciones" ng-disabled="DeshabilitarActualizar"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstados" class="form-control" ng-model="Planilla.Estado" ng-options="i.Nombre for i in ListaEstados | orderBy:'Nombre'" ng-disabled="DeshabilitarActualizar"></select>
                        </div>
                    </div>
                </div>
            </div>

                    <!--SECCION BOTONES-->
                    <div class="SeccionBotones">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="DeshabilitarActualizar">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
</form>



    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
        <!--prueba-->
    </div>

</div>