﻿<div  ng-init="InitLoad()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <section class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="Form-Imput">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <!--<div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="CiudadOrigen">Ciudad Enturne</label>
                            <input type="text" class="form-control" name="CiudadOrigen" maxlength="50" id="ModeloCiudadOrigen" placeholder="Ingrese una Ciudad enturne"
                                   ng-model="ModeloCiudadEnturna"
                                   uib-typeahead="i as i.Nombre for i in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5 | orderBy:'Nombre'"
                                   ng-required="false" ng-blur="ModeloCiudadEnturna=VerificarAutocomplete(ModeloCiudadEnturna);ConsultarOficinasEnturne(ModeloCiudadEnturna) ">
                        </div>
                    </div>-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina</label>
                            <select name="cmbOficina" class="form-control" ng-model="ModeloOficina" ng-options="i.Nombre for i in ListadoOficinas" ng-disabled="!PermisoVisualizarOficinas"></select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="lblNumeVehi">Conductor</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un conductor" ng-model="ModeloConductor"
                                   uib-typeahead="conductores as conductores.NombreCompleto for conductores in AutocompleteConductor($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModeloConductor=VerificarAutocomplete(ModeloConductor)">
                        </div>
                    </div>
                    <!--Placa vehiculo-->
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="placa">Vehículo</label>
                            <input type="text" class="form-control" name="placa" id="placa" placeholder="Vehículo" ng-model="ModeloVehiculo" uib-typeahead="Vehiculo as Vehiculo.Placa for Vehiculo in AutocompleteVehiculos($viewValue) | filter:$viewValue | limitTo: 5" ng-blur="ModeloVehiculo=VerificarAutocomplete(ModeloVehiculo);AsignarDatosVehiculo(ModalPlaca);" tabindex="1" ng-disabled="DeshabilitarDespacho" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <label for="lblTipoVehi">Tipo Vehículo</label>
                        <select name="cmbTipoVehi" class="form-control" ng-model="ModeloTipoVehiculo" ng-options="i.Nombre for i in ListadoTipoVehiculo"></select>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="lineButtons">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" title="Buscar ciudad" ng-click="paginaActual=1;Buscar()" ng-disabled="DeshabilitarConsulta">
                        Actualizar
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-block btn-primary" title="Nueva ciudad" ng-click="NuevoEnturnamiento()" ng-disabled="DeshabilitarActualizar">
                        Nuevo
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            <br />
            <hr />
            <!--RESULTADO CONSULTA-->
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive" ng-if="ListadoEnturnes.length > 0">
                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Oficina Enturne</th>
                                    <th>Turno</th>
                                    <th>Conductor</th>
                                    <th>Fecha</th>
                                    <th>Fecha Disponibilidad</th>
                                    <th>Destino 1</th>
                                    <th>Destino 2</th>
                                    <th>Placa</th>
                                    <th>Tipo Vehículo</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ListadoEnturnes ">
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                <span class="fa fa-list-alt"></span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" style="overflow-y:scroll; max-height:100px">
                                                <li>
                                                    <a ng-click="ConfirmarAnular(item)" ng-disabled="DeshabilitarEliminarAnular" href="">
                                                        <span class="glyphicon glyphicon-trash"></span>Anular
                                                    </a>
                                                </li>
                                                <!--<li>
                                                    <a ng-click="CambiarTurno(item)" ng-disabled="DeshabilitarActualizar" href="">
                                                        <span class="glyphicon glyphicon-refresh"></span>Cambiar Turno
                                                    </a>
                                                </li>-->
                                                <!--<li>
                                                    <a ng-click="CerrarTurno(item)" ng-disabled="DeshabilitarActualizar" href="">
                                                        <span class="glyphicon glyphicon-ok-circle"></span>Cerrar Turno
                                                    </a>
                                                </li>-->
                                            </ul>
                                        </div>
                                    </td>
                                    <td>{{item.OficinaEnturna.Nombre}}</td>
                                    <td>{{item.Turno}}</td>
                                    <td>{{item.Conductor.Nombre}}</td>
                                    <td>{{item.Fecha  | date:'dd/MM/yyyy'}}</td>
                                    <td>{{item.FechaDisponible | date:'dd/MM/yyyy HH:mm'}}</td>
                                    <td>{{item.CiudadDestino1.Nombre}}</td>
                                    <td>{{item.CiudadDestino2.Nombre}}</td>
                                    <td>{{item.Vehiculo.Placa}}</td>
                                    <td>{{item.TipoVehiculo.Nombre}}</td>
                                    <td>
                                        <span ng-if="item.EstadoTurno.Codigo == 19001 " class="label label-warning">PENDIENTE</span>
                                        <span ng-if="item.EstadoTurno.Codigo == 19002 " class="label label-success">ENTURNADO</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                        <span style="color:red">
                            <small>{{ResultadoSinRegistros}}</small>
                        </span>
                    </div>

                </div>
            </div>
        </form>
    </section>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="ModalEnturnamiento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-body modal-lg">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="CerrarModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Enturnamiento</strong>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="box-body">
                            <div class="alert alert-danger" role="alert" ng-if="MensajesError2.length > 0">
                                <ul>
                                    <li ng-repeat="error in MensajesError2">
                                        <span>{{error}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblPlacVehi">Vehículo</label>
                                        <input type="text" name="cmbTipoVehi" class="form-control" ng-model="Modelo.Vehiculo" uib-typeahead="Vehiculo as Vehiculo.Placa for Vehiculo in AutocompleteVehiculos($viewValue) | filter:$viewValue | limitTo: 5" ng-blur="AsignarDatosVehiculo();Modelo.Vehiculo=VerificarAutocomplete(Modelo.Vehiculo)" />
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-2 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblNumeVehi">Conductor</label>
                                        <input maxlength="60" type="text" class="form-control" name="conductor" id="conductor" placeholder="Seleccione un conductor" ng-model="Modelo.Conductor" disabled
                                               uib-typeahead="conductores as conductores.NombreCompleto for conductores in AutocompleteConductor($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.Conductor=VerificarAutocomplete(Modelo.Conductor)">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblNombCond">Tenedor</label>
                                        <input maxlength="60"
                                               type="text"
                                               class="form-control"
                                               name="tenedor"
                                               id="tenedor"
                                               placeholder="Seleccione un tenedor"
                                               ng-model="Modelo.Tenedor"
                                               uib-typeahead="tenedores as tenedores.NombreCompleto for tenedores in AutocompleteTenedor($viewValue)| filter:$viewValue | limitTo: 5"
                                               ng-required="false" ng-blur="Modelo.Tenedor=VerificarAutocomplete(Modelo.Tenedor)" disabled>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Tipo Vehículo</label>
                                        <input name="cmbTipoVehi" class="form-control" ng-model="Modelo.TipoVehiculo.Nombre" disabled />

                                        <!--<select name="cmbTipoVehi" class="form-control" ng-model="Modelo.TipoVehiculo" ng-options="i.Nombre for i in ListadoTipoVehiculo" disabled></select>-->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="CiudadOrigen">Ciudad Enturne</label>
                                        <input type="text" class="form-control" name="CiudadOrigen" maxlength="50" id="ModeloCiudadOrigen" placeholder="Ingrese una Ciudad enturne"
                                               ng-model="Modelo.CiudadEnturna"
                                               uib-typeahead="i as i.NombreCompleto for i in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5 | orderBy:'Nombre'"
                                               ng-required="false" ng-blur="Modelo.CiudadEnturna=VerificarAutocomplete(Modelo.CiudadEnturna);ConsultarOficinas(Modelo.CiudadEnturna) ">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Oficina Enturne</label>
                                        <select name="cmbTipoVehi" class="form-control" ng-model="Modelo.OficinaEnturna" ng-options="i.Nombre for i in ListaOficinasEnturne"></select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Región Destino 1</label>
                                        <select name="cmbEstado" class="form-control" ng-model="Modelo.RegionPaisDestino" ng-options="i.Nombre for i in ListaRegiones" ng-change="FiltrarCiudades()"></select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Ciudad Destino 1</label>
                                        <select name="cmbTipoVehi" class="form-control" ng-model="Modelo.CiudadDestino1" ng-options="i.Nombre for i in ListaRegionCiudades"></select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Región Destino 2</label>
                                        <select name="cmbEstado" class="form-control" ng-model="Modelo.RegionPaisDestino2" ng-options="i.Nombre for i in ListaRegiones" ng-change="FiltrarCiudades2()"></select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Ciudad Destino 2</label>
                                        <select name="cmbTipoVehi" class="form-control" ng-model="Modelo.CiudadDestino2" ng-options="i.Nombre for i in ListaRegionCiudades2"></select>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Fecha Disponible</label>
                                        <input name="cmbTipoVehi" class="form-control" ng-model="Modelo.FechaDisponible" type="datetime-local" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Ubicación</label>
                                        <input name="cmbTipoVehi" class="form-control" ng-model="Modelo.Ubicacion" maxlength="250" />
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Observaciones</label>
                                        <input name="cmbTipoVehi" class="form-control" ng-model="Modelo.Observaciones" maxlength="250" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="CerrarModal()">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Guardar" ng-click="Enturnar()">
                                Guardar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalAnular" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Motivo Cancelación Turno</label>
                                <input name="cmbTipoVehi" class="form-control" ng-model="CausaAnulacion" maxlength="150" />
                            </div>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="CancelarTurno()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalMensajeEliminarZonas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalCambioTurno" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-show="ListadoTurnosDisponibles.length > 0">
                            <div class="form-group">
                                <label>Turnos disponibles</label>
                                <select class="form-control" ng-model="Turno" ng-options="i for i in ListadoTurnosDisponibles"></select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarCambiarTurno()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>