﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>LISTADOS TESORERÍA</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>




                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Listado Documentos</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModeloDocumentosDespachos" ng-change="AsignarFiltro(ModeloDocumentosDespachos.Codigo)" ng-options="i.NombreMenu for i in ListaDespacho | orderBy: 'NombreMenu'"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="box box-default box-solid">
                        <div class="box-header">
                            <h3 class="box-title">Filtros</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-disabled="Deshabilitar" ng-click="Filtros()" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body" style="display:block">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFechIni">Fecha Inicial</label>
                                    <input name="txtFechIni" type="date" class="form-control" ng-model="ModeloFechaInicial">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblFechFina">Fecha Final</label>
                                    <input name="txtFechFina" type="date" class="form-control" ng-model="ModeloFechaFinal">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="NumeroInicial">Número Inicial</label>
                                    <input name="NumeroInicial" class="form-control" ng-model="NumeroInicial" placeholder="Ingrese un Número" maxlength="20" ng-change="MaskNumero()">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="NumeroInicial">Número Final</label>
                                    <input name="NumeroInicial" class="form-control" ng-model="NumeroFinal" placeholder="Ingrese un Número" maxlength="20" ng-change="MaskNumero()">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12" ng-show="ModeloDocumentosDespachos.Codigo != 800306 && ModeloDocumentosDespachos.Codigo != 800307">
                                <div class="form-group">
                                    <label for="NumeroInicial">Tercero</label>
                                    <input type="text" class="form-control" maxlength="50" placeholder="Ingrese un Tercero" ng-model="Tercero" ng-disabled="Deshabilitar"
                                           uib-typeahead="terc as terc.NombreCompleto for terc in AutocompleteTerceros($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                           ng-blur="Tercero=VerificarAutocomplete(Tercero)" />
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12" ng-show="ModeloDocumentosDespachos.Codigo == 800306 || ModeloDocumentosDespachos.Codigo == 800307">
                                <div class="form-group">
                                    <label for="NumeroInicial">Proveedor</label>
                                    <input type="text" class="form-control" maxlength="50" placeholder="Ingrese un Proveedor" ng-model="Proveedor" ng-disabled="Deshabilitar"
                                           uib-typeahead="terc as terc.NombreCompleto for terc in AutocompleteProveedores($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                           ng-blur="Proveedor=VerificarAutocomplete(Proveedor)" />
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-12" ng-show="ModeloDocumentosDespachos.Codigo == 800306 || ModeloDocumentosDespachos.Codigo == 800307">
                                <div class="form-group">
                                    <label for="lblOficina">Tipo Comprobante</label>
                                    <select name="cmbOficina" class="form-control" ng-model="TipoComprobante" ng-options="i.Nombre for i in ListadoTiposComprobante | orderBy: 'Nombre'" ng-disabled="DesabilitarDocumentoDefinitivo"></select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12" ng-show="ModeloDocumentosDespachos.Codigo == 800301 || ModeloDocumentosDespachos.Codigo == 800302">
                                <div class="form-group">
                                    <label>Documento Origen</label>
                                    <select name="cmbEstado" class="form-control" ng-model="DocumentoOrigen" ng-options="i.Nombre for i in ListadoDocumentosOrigenEgresos" ng-change="setCentroCosto()"></select>
                                </div>

                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12" ng-show="ModeloDocumentosDespachos.Codigo == 800303 || ModeloDocumentosDespachos.Codigo == 800304 ">
                                <div class="form-group">
                                    <label>Documento Origen</label>
                                    <select name="cmbEstado" class="form-control" ng-model="DocumentoOrigenIngresos" ng-options="i.Nombre for i in ListadoDocumentosOrigenIngresos"></select>
                                </div>

                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12" ng-show="ModeloDocumentosDespachos.Codigo != 800306 && ModeloDocumentosDespachos.Codigo != 800307">
                                <div class="form-group">
                                    <label for="NumeroInicial">No. Documento Origen</label>
                                    <input name="NumeroInicial" class="form-control" ng-model="NumeroDocumentoOrigen" placeholder="Ingrese número" maxlength="20" ng-change="MaskNumero()">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label for="lblOficina">Oficina</label>
                                    <select name="cmbOficina" class="form-control" ng-model="ModeloOficinas" ng-options="i.Nombre for i in ListadoOficinas | orderBy: 'Nombre'" ng-disabled="DesabilitarDocumentoDefinitivo"></select>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-12" ng-show="ModeloDocumentosDespachos.Codigo == 800306 || ModeloDocumentosDespachos.Codigo == 800307">
                                <div class="form-group">
                                    <label for="lblOficina">Oficina Destino</label>
                                    <select name="cmbOficina" class="form-control" ng-model="ModeloOficinaDestino" ng-options="i.Nombre for i in ListadoOficinas | orderBy: 'Nombre'" ng-disabled="DesabilitarDocumentoDefinitivo"></select>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-12" ng-show="DocumentoOrigen.Codigo == 2609 && Sesion.UsuarioAutenticado.ManejoCentroCostosComprobanteEgreso == true">
                                <div class="form-group">
                                    <label for="ctrcostos">Centro Operaciones</label>
                                    <select name="ctrcostos" class="form-control" ng-disabled="Deshabilitar" ng-model="Modelo.CentroCostos" ng-options="i.Nombre for i in ListaCentrosCostos | orderBy: 'Nombre'"></select>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Estado</label>
                                    <select name="cmbEstado" class="form-control" ng-model="ModeloEstadoGuia" ng-options="i.Nombre for i in ListadoEstadoRemesaPaqueteria"></select>
                                </div>

                            </div>

                        </div>


                    </div>
                </div>


            </div>

            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div id="lineButtons">
                    <div class="pull-left">

                        <table>
                            <tr>
                                <td>
                                    <button class="btn btn-block btn-primary" style="width:50px; height:50px" title="Abrir en PDF" ng-click="DesplegarInforme( 1, 0)">
                                        <img src="../../../FrontEnd/Css/img/pdf.png" width="40" height="40" />
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-block btn-primary" style="width:50px; height:50px; margin-left:10px" title="Descargar en EXCEL" ng-click="DesplegarInforme(0, 1)">
                                        <img src="../../../FrontEnd/Css/img/excel.png" width="40" height="40" style="margin-left:0px" />
                                    </button>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalEliminarTarifarioVentas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar la linea vehículo {{Nombre}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeEliminarTarifarioVentas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click="MostrarMensajeErrorModal()"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="MostrarMensajeErrorModal()">
                                Mensaje Completo
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>