﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <section class="content">
        <form>
            <div class="filtrosConsulta">
                <!--Error-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesError">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Error-->
                <!--Encabezado-->
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <input class="form-control" ng-model="Modelo.Planilla.NumeroDocumento" maxlength="20" ng-change="MaskNumero()" disabled>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha</label>
                            <input type="date" class="form-control" ng-model="Modelo.Planilla.Fecha" ng-disabled="DeshabilitarActualizar">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Vehículo</label>
                            <input type="text" class="form-control" maxlength="18" placeholder="Vehículo" ng-model="Modelo.Planilla.Vehiculo"
                                   uib-typeahead="Vehi as Vehi.Placa for Vehi in AutocompleteVehiculos($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="Modelo.Planilla.Vehiculo=VerificarAutocomplete(Modelo.Planilla.Vehiculo);ObtenerInformacionTenedor();Modelo.Planilla.Ruta = ''" ng-disabled="DeshabilitarActualizar" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Semirremolque</label>
                            <!--<input type="text" class="form-control" maxlength="18" placeholder="Semirremolque" ng-model="Modelo.Planilla.Semirremolque"
                                   uib-typeahead="semi as semi.Placa for semi in ListaRemolque| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="Modelo.Planilla.Semirremolque=VerificarAutocomplete(Modelo.Planilla.Semirremolque)" ng-disabled="DeshabilitarActualizar" />-->

                            <input type="text" class="form-control" maxlength="18" placeholder="Semirremolque" ng-model="Modelo.Planilla.Semirremolque"
                                   uib-typeahead="Semi as Semi.Placa for Semi in AutoCompleteSemiRemolque($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="Modelo.Planilla.Semirremolque=VerificarAutocomplete(Modelo.Planilla.Semirremolque)" ng-disabled="DeshabilitarActualizar" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Conductor</label>
                            <input maxlength="60" type="text" class="form-control" name="conductor" id="conductor" placeholder="Seleccione un conductor" ng-model="Modelo.Planilla.Vehiculo.Conductor" uib-typeahead="conductores as conductores.NombreCompleto for conductores in AutocompleteConductor($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.Planilla.Vehiculo.Conductor=VerificarAutocomplete(Modelo.Planilla.Vehiculo.Conductor)" ng-disabled="DeshabilitarActualizar">
                            <!--<input maxlength="60" type="text" class="form-control" placeholder="" ng-model="Modelo.Planilla.Vehiculo.Conductor.Nombre" disabled>-->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tenedor</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="" ng-model="Modelo.Planilla.Vehiculo.Tenedor.NombreCompleto" disabled>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha Salida</label>
                            <input type="date" class="form-control" ng-model="Modelo.Planilla.FechaSalida" ng-disabled="DeshabilitarActualizar">
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Hora</label>
                            <input type="text" ng-change="MaskHora()" class="form-control" maxlength="5" placeholder="HH:MM" ng-model="Modelo.Planilla.HoraSalida" ng-disabled="DeshabilitarActualizar" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Ruta</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="Seleccione una ruta" ng-model="Modelo.Planilla.Ruta"
                                   uib-typeahead="Ruta as Ruta.Nombre for Ruta in AutocompleteRutasFiltradas($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="Modelo.Planilla.Ruta=VerificarAutocomplete(Modelo.Planilla.Ruta);CargarImpuestos(Modelo.Planilla.Ruta);FiltrarTarifas(Modelo.Planilla.Ruta)" ng-disabled="DeshabilitarActualizar || !(Modelo.Planilla.Vehiculo.Tenedor.Codigo > 0)">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12" ng-hide="Sesion.UsuarioAutenticado.ManejoHabilitarLiquidacionPlanillaDespachos">
                        <div class="form-group">
                            <label>Tarifa</label>
                            <select name="cmbEstado" class="form-control" ng-model="Modelo.Planilla.TarifaTransportes" ng-change="FiltrarTipoTarifa()" ng-options="i.Nombre for i in ListaTarifas" ng-disabled="DeshabilitarTarifas || DeshabilitarActualizar"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12" ng-hide="Sesion.UsuarioAutenticado.ManejoHabilitarLiquidacionPlanillaDespachos">
                        <div class="form-group">
                            <label>Tipo Tarifa</label>
                            <select name="cmbEstado" class="form-control" ng-model="TipoTarifaTransportes" ng-change="Calcular()" ng-options="i.NombreTipoTarifa for i in ListadoTipoTarifa" ng-disabled="DeshabilitarTarifas || DeshabilitarActualizar"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12" ng-show="RemesaPadre">
                        <div class="form-group">
                            <label>Remesa Masivo</label>
                            <input class="form-control" ng-model="Modelo.Planilla.RemesaPadre" maxlength="20" ng-change="MaskNumero()" ng-disabled="DeshabilitarActualizar" ng-blur="ValidarRemesa(Modelo.Planilla.RemesaPadre)">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Observaciones</label>
                            <textarea maxlength="200" type="text" class="form-control" ng-model="Modelo.Planilla.Observaciones" ng-disabled="DeshabilitarActualizar" ng-required="false"></textarea>
                        </div>
                    </div>
                </div>
                <!--Encabezado-->
                <!--Cargar Remesas-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-default box-solid CriteriosBusqueda" id="CriteriosBusqueda" ng-show="!DeshabilitarActualizar">
                            <div class="box-header with-border">
                                <h3 class="box-title">Cargar Remesas</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorConslta.length > 0">
                                            <ul>
                                                <li ng-repeat="error in MensajesErrorConslta">
                                                    <span>{{error}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblFechIni">Fecha Inicial</label>
                                            <input name="txtFechIni" type="date" class="form-control" ng-model="CargarRemesas.FechaInicial">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblFechFina">Fecha Final</label>
                                            <input name="txtFechFina" type="date" class="form-control" ng-model="CargarRemesas.FechaFinal">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="NumeroInicial">Número</label>
                                            <input name="NumeroInicial" class="form-control" ng-model="CargarRemesas.NumeroInicial" placeholder="Ingrese número inicial" maxlength="20" ng-change="MaskNumero()">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblOficina">Oficina Origen</label>
                                            <select name="cmbOficina" class="form-control" ng-model="CargarRemesas.OficinaOrigen" ng-options="i.Nombre for i in ListadoOficinas | orderBy: 'Nombre'" ng-disabled="DesabilitarDocumentoDefinitivo"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Ciudad Origen</label>
                                            <input maxlength="60" type="text" class="form-control" placeholder="Ingrese una Ciudad" ng-model="CargarRemesas.CiudadRemitente" uib-typeahead="CiudadRemitente as CiudadRemitente.NombreCompleto for CiudadRemitente in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                                   ng-blur="CargarRemesas.CiudadRemitente=VerificarAutocomplete(CargarRemesas.CiudadRemitente)">

                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Ciudad Destino</label>
                                            <input maxlength="60" type="text" class="form-control" placeholder="Ingrese una Ciudad" ng-model="CargarRemesas.CiudadDestinatario" uib-typeahead="CiudadDestinatario as CiudadDestinatario.NombreCompleto for CiudadDestinatario in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                                   ng-blur="CargarRemesas.CiudadDestinatario=VerificarAutocomplete(CargarRemesas.CiudadDestinatario)">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Cliente</label>
                                            <input maxlength="60" type="text" class="form-control" placeholder="Ingrese un Cliente" ng-model="CargarRemesas.Cliente" uib-typeahead="clie as clie.NombreCompleto for clie in AutocompleteCliente($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                                   ng-blur="CargarRemesas.Cliente=VerificarAutocomplete(CargarRemesas.Cliente)">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="CodigoAlterno">Documento Cliente</label>
                                            <input name="CodigoAlterno" class="form-control" ng-model="CargarRemesas.NumeroDocumentoCliente" placeholder="Ingrese un valor" maxlength="20" ng-change="MaskNumero()">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Remitente</label>
                                            <input maxlength="60" type="text" class="form-control" placeholder="Ingrese un remitente" ng-model="CargarRemesas.Remitente" uib-typeahead="clie as clie.NombreCompleto for clie in AutocompleteRemitente($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                                   ng-blur="CargarRemesas.Remitente=VerificarAutocomplete(CargarRemesas.Remitente)">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                            <span style="color:red">
                                                <small>{{ResultadoSinRegistros}}</small>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button class="btn btn-primary" title="" ng-click="Buscar()">
                                            Cargar
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Cargar Remesas-->
                <!--Remesas por Destino-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-default box-solid" id="ResumenRemesas" ng-show="!DeshabilitarActualizar">
                            <div class="box-header with-border">
                                <h3 class="box-title">Cargar Resumen Remesas</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary" title="" ng-click="CargarResumenRemesas()">
                                            Cargar
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </div>
                                </div>
                                <!--Iformacion Agencia-->
                                <div class="row" ng-show="RemesasAgencia.length > 0">
                                    <div class="col-md-12 text-center"><h4><strong>AGENCIA</strong></h4></div>
                                </div>
                                <div class="row" ng-show="RemesasAgencia.length > 0">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm table-responsive">
                                                <thead>
                                                    <tr>
                                                        <th>Origen</th>
                                                        <th>Destino</th>
                                                        <th>Guías</th>
                                                        <th>Unidades</th>
                                                        <th>Peso</th>
                                                        <th>Flete</th>
                                                        <th>Seguro</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in RemesasAgencia | orderBy:'CiudadDestino.Nombre'">
                                                        <td>{{item.CiudadOrigen.Nombre}}</td>
                                                        <td>{{item.CiudadDestino.Nombre}}</td>
                                                        <td align="right">{{item.NumeroRemesas | number}}</td>
                                                        <td align="right">{{item.Cantidad}}</td>
                                                        <td align="right">{{item.Peso | number}}</td>
                                                        <td align="right">{{item.TotalFlete | number}}</td>
                                                        <td align="right">{{item.ValorSeguro | number}}</td>
                                                        <td align="center"><input type="checkbox" ng-model="item.Seleccion" ng-disabled="Deshabilitar" ng-click="CheckRemesas(item.Seleccion, item)" /> </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!--Iformacion Reexpedicion-->
                                <div class="row" ng-show="RemesasReex.length > 0">
                                    <div class="col-md-12 text-center"><h4><strong>REEXPEDICIÓN</strong></h4></div>
                                </div>
                                <div class="row" ng-show="RemesasReex.length > 0">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm table-responsive">
                                                <thead>
                                                    <tr>
                                                        <th>Origen</th>
                                                        <th>Destino</th>
                                                        <th>Guías</th>
                                                        <th>Unidades</th>
                                                        <th>Peso</th>
                                                        <th>Reexpedición</th>
                                                        <th>Seguro</th>
                                                        <th> </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in RemesasReex | orderBy:'CiudadDestino.Nombre'">
                                                        <td>{{item.CiudadOrigen.Nombre}}</td>
                                                        <td>{{item.CiudadDestino.Nombre}}</td>
                                                        <td align="right">{{item.NumeroRemesas | number}}</td>
                                                        <td align="right">{{item.Cantidad | number }}</td>
                                                        <td align="right">{{item.Peso | number }}</td>
                                                        <td align="right">{{item.ValorReexpedicion | number }}</td>
                                                        <td align="right">{{item.ValorSeguro | number }}</td>
                                                        <td align="center"><input type="checkbox" ng-model="item.Seleccion" ng-disabled="Deshabilitar" ng-click="CheckRemesas(item.Seleccion, item)" /> </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!--Testo Informativo Sin Registros-->
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <span style="color:red"><small>{{ResultadoSinRegistrosResumenRemesas}}</small></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Remesas por Destino-->
                <!--Remesas Cargadas-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-default box-solid CriteriosBusqueda" ng-show="!DeshabilitarActualizar">
                            <div class="box-header with-border">
                                <h3 class="box-title">Filtrar Remesas</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse" id="btnFiltros"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorFiltro.length > 0">
                                            <ul>
                                                <li ng-repeat="error in MensajesErrorFiltro">
                                                    <span>{{error}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="CodigoAlterno">Número Inicial</label>
                                            <input name="CodigoAlterno" class="form-control" ng-model="Filtro2.NumeroInicial" placeholder="Ingrese un valor" maxlength="20" ng-change="MaskNumero()">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="CodigoAlterno">Número Final</label>
                                            <input name="CodigoAlterno" class="form-control" ng-model="Filtro2.NumeroFinal" placeholder="Ingrese un valor" maxlength="20" ng-change="MaskNumero()">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblFechVinc">Fecha Inicial</label>
                                            <input name="txtFechVinc" type="date" class="form-control" ng-model="Filtro2.FechaInicial">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblFechVinc">Fecha Final</label>
                                            <input name="txtFechVinc" type="date" class="form-control" ng-model="Filtro2.FechaFinal">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="SeccionBotones">
                                            <div class="pull-left">
                                                <button class="btn btn-primary" title="" ng-click="Filtrar()">
                                                    Filtrar
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                                <button class="btn btn-primary" title="" ng-click="LimpiarRemesas()">
                                                    Limpiar
                                                    <span class="fa fa-eraser"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row" ng-show="ListadoRemesasFiltradas.length > 0">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th>Número</th>
                                                        <th>No. Preimpreso</th>
                                                        <th>Fecha</th>
                                                        <th>Cliente</th>
                                                        <th>Origen</th>
                                                        <th>Destino</th>
                                                        <th align="right">Peso (Kg)</th>
                                                        <th align="right">Cantidad</th>
                                                        <th>Forma Pago</th>
                                                        <th align="right">Flete Cliente</th>
                                                        <!--<th align="right">Flete Transportador</th>-->
                                                        <th align="right">Reexpedición</th>
                                                        <th align="right">Seguro</th>
                                                        <th>Observaciones</th>
                                                        <th>Documento Cliente</th>
                                                        <th>
                                                            <label>
                                                                Marc./Desma. Todo
                                                                <input type="checkbox" ng-click="MarcarRemesas(ChkRemesa);Calcular()" ng-model="ChkRemesa" title="Marcar o Desmarcar todas las recolecciones" />
                                                            </label>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in ListadoRemesasFiltradas">
                                                        <td><a href="#!GestionarGuiaPaqueterias/{{item.Remesa.Numero}}" target="_blank">{{item.Remesa.NumeroDocumento}}</a></td>
                                                        <td>{{item.Numeracion}}</td>
                                                        <td>{{item.Remesa.Fecha | date:'dd/MM/yyyy' }}</td>
                                                        <td>{{item.Remesa.Cliente.NombreCompleto}}</td>
                                                        <td>{{item.Remesa.CiudadRemitente.Nombre}}</td>
                                                        <td>{{item.Remesa.CiudadDestinatario.Nombre}}</td>
                                                        <td align="right">{{item.Remesa.PesoCliente}}</td>
                                                        <td align="right">{{item.Remesa.CantidadCliente}}</td>
                                                        <td>{{item.Remesa.FormaPago.Nombre}}</td>
                                                        <td align="right">{{item.Remesa.ValorFleteCliente | number}}</td>
                                                        <!--<td align="right">{{item.Remesa.TotalFleteCliente | number}}</td>-->
                                                        <td align="right">{{item.ValorReexpedicion | number}}</td>
                                                        <td align="right">{{item.Remesa.ValorSeguroCliente | number}}</td>
                                                        <td>{{item.Remesa.Observaciones}}</td>
                                                        <td>{{item.Remesa.NumeroDocumentoCliente}}</td>
                                                        <td style="text-align:center">
                                                            <label>
                                                                <input type="checkbox" ng-model="item.Seleccionado" ng-click="Calcular()" />
                                                            </label>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                                <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                                    <tr>
                                                        <td colspan="13">
                                                            <small ng-if="totalRegistros > 0">{{totalRegistros}} Registros</small>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="text-align:center" class="col-sm-12" ng-if="totalRegistros == 0 && Buscando == false">
                                        <span style="color:red">
                                            <small>{{ResultadoSinRegistros}}</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Remesas Cargadas-->
                <!--Remesas Guardadas-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-default box-solid CriteriosBusqueda" id="GuiasAsociadas" ng-show="ListadoGuiaGuardadas.length > 0">
                            <div class="box-header with-border">
                                <h3 class="box-title">Remesas</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th>Número</th>
                                                        <th>No. Preimpreso</th>
                                                        <th>Fecha</th>
                                                        <th>Origen</th>
                                                        <th>Destino</th>
                                                        <th>Cliente</th>
                                                        <th>Producto</th>
                                                        <th>Cantidad</th>
                                                        <th>Peso (Kg)</th>
                                                        <th>Forma Pago</th>
                                                        <th>Flete Cliente</th>
                                                        <th>Valor Seguro</th>
                                                        <th>Reexpedición</th>
                                                        <th>Observaciones</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in ListadoGuiaGuardadas | orderBy:'Codigo'">
                                                        <td>{{item.Remesa.NumeroDocumento}}</td>
                                                        <td>{{item.RemesaPaqueteria.Numeracion}}</td>
                                                        <td>{{item.Remesa.Fecha | date:'dd/MM/yyyy' }}</td>
                                                        <td>{{item.Remesa.CiudadRemitente.Nombre}}</td>
                                                        <td>{{item.Remesa.CiudadDestinatario.Nombre}}</td>
                                                        <td>{{item.Remesa.Cliente.NombreCompleto}}</td>
                                                        <td>{{item.Remesa.ProductoTransportado.Nombre}}</td>
                                                        <td align="right">{{item.Remesa.CantidadCliente | number}}</td>
                                                        <td align="right">{{item.Remesa.PesoCliente | number}}</td>
                                                        <td>{{item.Remesa.FormaPago.Nombre}}</td>
                                                        <td align="right">{{item.Remesa.ValorFleteCliente | number}}</td>
                                                        <td align="right">{{item.Remesa.ValorSeguroCliente | number}}</td>
                                                        <!--<td align="right">{{item.Remesa.TotalFleteCliente}}</td>-->
                                                        <td align="right">{{item.RemesaPaqueteria.ValorReexpedicion | number}}</td>
                                                        <!--<td align="right">{{item.Remesa.ValorFleteTransportador | number}}</td>-->
                                                        <td>{{item.Remesa.Observaciones}}</td>
                                                        <td>
                                                            <button class="button mini-button btn-danger" title="Eliminar" ng-click="EliminarGuiaGuardada(item);" ng-disabled="DeshabilitarActualizar" ng-show="!DeshabilitarActualizar">
                                                                <span class="fas fa-trash-alt"></span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot ng-if="totalRegistrosG > 0">
                                                    <tr>
                                                        <td colspan="13">
                                                            <small ng-if="totalRegistrosG > 0">{{totalRegistrosG}} Registros</small>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="text-align:center" class="col-sm-12" ng-if="totalRegistros == 0 && Buscando == false">
                                        <span style="color:red">
                                            <small>{{ResultadoSinRegistros}}</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Remesas Guardadas-->
                <!--auxiliares-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Auxiliares</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row" ng-show="!DeshabilitarActualizar">
                                    <div class="col-md-6 col-sm-4 col-xs-12" ng-show="!DeshabilitarActualizar">
                                        <div class="form-group">
                                            <label for="Cuenta">Funcionario</label>
                                            <input type="text" autocomplete="off" class="form-control" placeholder="Ingrese Funcionario" ng-model="ModeloFuncionario"
                                                   uib-typeahead="i as i.NombreCompleto for i in AutocompleteFuncionario($viewValue)| filter:$viewValue | limitTo: 5"
                                                   ng-blur="ModeloFuncionario=VerificarAutocomplete(ModeloFuncionario)" ng-required="false">
                                        </div>
                                    </div>
                                    <div class="SeccionBotones" ng-show="!DeshabilitarActualizar">
                                        <div class="pull-left">
                                            <button class="btn btn-block btn-primary" title="" ng-click="AgregarAuxiliar()">
                                                Agregar
                                                <span class="fa fa-plus"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <!--<div class="table-responsive" ng-if="ListaAuxiliares.length > 0" style="overflow-y:scroll;overflow-x:scroll;max-height:500px;max-width:100%">-->
                                        <div class="table-responsive" ng-if="ListaAuxiliares.length > 0">
                                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th>Funcionario</th>
                                                        <th>Horas Trabajadas</th>
                                                        <th>Valor</th>
                                                        <th>Observaciones</th>
                                                        <th ng-show="!DeshabilitarActualizar">Opciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody style="text-align:left ">
                                                    <tr ng-repeat="item in ListaAuxiliares">
                                                        <td>{{item.Tercero.Nombre}}</td>
                                                        <td>
                                                            <span ng-show="!item.Modificarfuncionario">{{item.Horas}}</span>

                                                            <div ng-show="item.Modificarfuncionario" class="form-group">
                                                                <input ng-change="item.Horas = MaskNumeroGrid(item.Horas)" name="txtHoras" class="form-control" placeholder="Ingrese horas" ng-model="item.Horas" maxlength="10" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span class="text-right" ng-show="!item.Modificarfuncionario">{{MaskValoresGrid(item.Valor)}}</span>

                                                            <div ng-show="item.Modificarfuncionario" class="form-group">
                                                                <input ng-change="item.Valor = MaskValoresGrid(item.Valor)" name="txtValor" class="form-control text-right" placeholder="Ingrese valor" ng-model="item.Valor" maxlength="10" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span ng-show="!item.Modificarfuncionario">{{item.Observaciones}}</span>
                                                            <input name="txtObservaciones" type="text" class="form-control" placeholder="Ingrese observaciones" ng-show="item.Modificarfuncionario" ng-model="item.Observaciones" maxlength="500" />
                                                        </td>
                                                        <td style="text-align:center" ng-show="!DeshabilitarActualizar">
                                                            <button class="button mini-button btn-success" title="Agregar" ng-click="ValidarDatosFuncionario()">
                                                                <span class="fa fa-check"></span>
                                                            </button>
                                                            <button class="button mini-button btn-warning" title="Editar" ng-click="item.Modificarfuncionario = true">
                                                                <span class="fa fa-edit"></span>
                                                            </button>
                                                            <button class="button mini-button btn-danger" title="Eliminar" ng-click="EliminarFuncionario(item.Codigo)">
                                                                <span class="fas fa-trash-alt"></span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="text-align:center" class="col-sm-12" ng-if="DeshabilitarActualizar && (ListaAuxiliares.length == 0 || ListaAuxiliares == undefined)">
                                        <span style="color:red">
                                            <small>{{ResultadoSinRegistros}}</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--auxiliares-->
                <!--Impuestos-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Impuestos</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-responsive" ng-show="ListadoImpuestosFiltrado.length > 0">
                                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th>Nombre</th>
                                                        <th align="right">Valor Base</th>
                                                        <th align="right">Tarifa</th>
                                                        <th align="right">Valor Impuesto</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in ListadoImpuestosFiltrado | orderBy:'Nombre'">
                                                        <td>{{item.Nombre}}</td>
                                                        <td align="right">{{item.ValorBase | number}}</td>
                                                        <td align="right">{{item.ValorTarifa | number}}</td>
                                                        <td align="right">{{item.ValorImpuesto | number}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Impuestos-->
                <!--Totales Remesa-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-default box-solid CriteriosBusqueda">
                            <div class="box-header with-border">
                                <h3 class="box-title">Totales Remesas</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th>Forma Pago</th>
                                                        <th align="right">Cantidad</th>
                                                        <th align="right">Total Cliente</th>
                                                        <!--<th align="right">Total Transportador</th>-->
                                                        <th align="right">Valor Seguro</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in ListadoTotalesRemesas | orderBy:'Codigo'">
                                                        <td>{{item.FormaPago}}</td>
                                                        <td align="right">{{item.Cantidad}}</td>
                                                        <td align="right">{{item.ValorTotal | number:0}}</td>

                                                        <!--<td align="right">{{item.ValorTransportador | number:0}}</td>-->
                                                        <td align="right">{{item.ValorSeguro | number:0}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="text-align:center" class="col-sm-12" ng-if="totalRegistros == 0 && Buscando == false">
                                        <span style="color:red">
                                            <small>{{ResultadoSinRegistros}}</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Totales Remesa-->
                <!--Remesas Contra Entrega-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-default box-solid CriteriosBusqueda" id="GuiasAsociadas" ng-show="ListadoRemesasContraentregas.length > 0 && Sesion.UsuarioAutenticado.ManejoHabilitarLiquidacionPlanillaDespachos && Modelo.Planilla.CalcularContraentregas" style="display:none">
                            <div class="box-header with-border">
                                <h3 class="box-title">Contra Entregas</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th>Número</th>
                                                        <th>Fecha</th>
                                                        <th>Origen</th>
                                                        <th>Destino</th>
                                                        <th>Cliente</th>
                                                        <th>Producto</th>
                                                        <th align="right">Cantidad</th>
                                                        <th align="right">Peso (Kg)</th>
                                                        <th>Forma Pago</th>
                                                        <th align="right">Flete Cliente</th>
                                                        <th>Calcular</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in ListadoRemesasContraentregas | orderBy:'Codigo'">
                                                        <td>{{item.Remesa.NumeroDocumento}}</td>
                                                        <td>{{item.Remesa.Fecha | date:'dd/MM/yyyy' }}</td>
                                                        <td>{{item.Remesa.CiudadRemitente.Nombre}}</td>
                                                        <td>{{item.Remesa.CiudadDestinatario.Nombre}}</td>
                                                        <td>{{item.Remesa.Cliente.NombreCompleto}}</td>
                                                        <td>{{item.Remesa.ProductoTransportado.Nombre}}</td>
                                                        <td align="right">{{MaskValoresGrid(item.Remesa.CantidadCliente)}}</td>
                                                        <td align="right">{{MaskValoresGrid(item.Remesa.PesoCliente)}}</td>
                                                        <td>{{item.Remesa.FormaPago.Nombre}}</td>
                                                        <td align="right">{{item.Remesa.TotalFleteCliente | number:0}}</td>

                                                        <!--<td align="right">{{item.Remesa.ValorFleteTransportador | number:0}}</td>-->
                                                        <td><input type="checkbox" ng-model="item.Calcular" ng-click="Calcular()" /></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="text-align:center" class="col-sm-12" ng-if="totalRegistros == 0 && Buscando == false">
                                        <span style="color:red">
                                            <small>{{ResultadoSinRegistros}}</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Remesas Contra Entrega-->
                <!--Totales transportador-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-default box-solid " ng-show="!Sesion.UsuarioAutenticado.ManejoHabilitarLiquidacionPlanillaDespachos">
                            <div class="box-header with-border">
                                <h3 class="box-title">Totales Transportador</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Cantidad</label>
                                            <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores()" placeholder="Cantidad" ng-model="Modelo.Planilla.Cantidad" ng-required="false" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Peso (Kg)</label>
                                            <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores()" placeholder="Peso" ng-model="Modelo.Planilla.Peso" ng-required="false" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor Flete</label>
                                            <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores()" placeholder="Flete" ng-model="Modelo.Planilla.ValorFleteTransportador" ng-required="false" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor Anticipo</label>
                                            <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores();Calcular();ValidarAnticipoPlanilla()" placeholder="Anticipo" ng-model="Modelo.Planilla.ValorAnticipo" ng-required="false" ng-disabled="DeshabilitarActualizar" ng-blur="Calcular()">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor Impuestos</label>
                                            <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-model="Modelo.Planilla.ValorImpuestos" ng-required="false" ng-disabled="true">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor Pagar</label>
                                            <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores()" placeholder="Valor Pagar" ng-model="Modelo.Planilla.ValorPagarTransportador" ng-required="false" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Totales transportador-->
                <!--Liquidacion-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-default box-solid " ng-show="Sesion.UsuarioAutenticado.ManejoHabilitarLiquidacionPlanillaDespachos">
                            <div class="box-header with-border">
                                <h3 class="box-title">Liquidación</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Cantidad</label>
                                            <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores()" placeholder="Bruto" ng-model="Modelo.Planilla.Cantidad" ng-required="false" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Peso Kg</label>
                                            <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores()" placeholder="Bruto" ng-model="Modelo.Planilla.Peso" ng-required="false" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Bruto</label>
                                            <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores()" placeholder="Bruto" ng-model="Modelo.Planilla.ValorBruto" ng-required="false" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Porcentaje</label>
                                            <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores();Calcular()" placeholder="Porcentaje" ng-model="Modelo.Planilla.Porcentaje" ng-required="false" ng-disabled="DeshabilitarActualizar">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Flete sugerido</label>
                                            <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores()" placeholder="Flete sugerido" ng-model="Modelo.Planilla.FleteSugerido" ng-required="false" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Flete Acordado</label>
                                            <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores();Calcular()" placeholder="Flete Acordado" ng-model="Modelo.Planilla.ValorFleteTransportador" ng-required="false" ng-disabled="DeshabilitarActualizar" ng-blur="Calcular()">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Calcular Entregas</label>
                                            <br />
                                            <label>
                                                <input type="checkbox" ng-model="Modelo.Planilla.CalcularContraentregas" ng-change="Calcular()" />
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Contra Entregas</label>
                                            <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores()" ng-model="Modelo.Planilla.ValorContraEntrega" placeholder="Contra Entregas" ng-required="false" ng-disabled="true" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor Reexpedición</label>
                                            <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores()" ng-model="Modelo.Planilla.ValorReexpedicion" placeholder="Reexpedicion" ng-required="false" ng-disabled="true" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Planilla Adicional</label>
                                            <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores()" ng-model="Modelo.Planilla.ValorPlanillaAdicional" placeholder=" Planilla Adicional" ng-required="false" ng-disabled="true" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Descuento</label>
                                            <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores()" placeholder="Descuento" ng-model="Modelo.Planilla.ValorDescuentos" ng-required="false" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Estampilla</label>
                                            <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores();Calcular();" placeholder="Estampilla" ng-model="Modelo.Planilla.ValorEstampilla" ng-required="false" ng-disabled="DeshabilitarActualizar">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Fondo Ayuda M.</label>
                                            <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores()" placeholder="Fondo Ayuda M." ng-model="Modelo.Planilla.ValorFondoAyuda" ng-required="false" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor Impuestos</label>
                                            <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores()" placeholder="Valor Impuestos" ng-model="Modelo.Planilla.ValorImpuestos" ng-required="false" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor Neto</label>
                                            <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores()" placeholder="Valor Neto" ng-model="Modelo.Planilla.ValorNetoPagar" ng-required="false" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Anticipo</label>
                                            <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores();Calcular(1)" placeholder="Anticipo" ng-model="Modelo.Planilla.ValorAnticipo" ng-required="false" ng-disabled="DeshabilitarActualizar" ng-blur="Calcular(1)">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Total Pagar</label>
                                            <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores()" placeholder="Total Pagar" ng-model="Modelo.Planilla.ValorPagarTransportador" ng-required="false" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Gastos Agencia</label>
                                            <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores()" placeholder="Gastos Agencia" ng-model="Modelo.Planilla.GastosAgencia" ng-required="false">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Utilidad</label>
                                            <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores()" placeholder="Utilidad" ng-model="Modelo.Planilla.ValorUtilidad" ng-required="false" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Porcentaje Reexpedición</label>
                                            <div class="input-group">
                                                <input type="text" ng-change="MaskValores();" placeholder="Porcentaje reexpedición" ng-model="PorcentajeReexpedicion" class="form-control text-right">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button" ng-click="RecalcularReexpedicionRemesas()">Recalcular</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Liquidacion-->
                <div class="row">
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Oficina</label>
                            <span class="form-control">{{Modelo.Oficina.Nombre}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="Modelo.Planilla.Estado" ng-options="i.Nombre for i in ListadoEstados" ng-disabled="DeshabilitarActualizar"></select>
                        </div>
                    </div>
                </div>
                <!--SECCIÓN BOTONES-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="SeccionBotones">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                                    Cancelar
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="DeshabilitarActualizar">
                                    Aceptar
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--SECCIÓN BOTONES-->
            </div>
            <!--Filtros-->
            <!--Totales Cliente-->
            <!--<div class="box box-default box-solid ">
                <div class="box-header with-border">
                    <h3 class="box-title">Totales Cliente</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Valor Flete Cliente</label>
                                <input maxlength="18" type="text" class="form-control" ng-change="MaskValores()" placeholder="Seleccione un conductor" ng-model="Modelo.Planilla.ValorFleteCliente" ng-required="false" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Valor Seguro</label>
                                <input maxlength="18" type="text" class="form-control" ng-change="MaskValores()" placeholder="Seleccione un conductor" ng-model="Modelo.Planilla.ValorSeguroMercancia" ng-required="false" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Valor Otros Cobros</label>
                                <input maxlength="18" type="text" class="form-control" ng-change="MaskValores()" placeholder="Seleccione un conductor" ng-model="Modelo.Planilla.ValorOtrosCobros" ng-required="false" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Valor Credito</label>
                                <input maxlength="18" type="text" class="form-control" ng-change="MaskValores()" placeholder="Seleccione un conductor" ng-model="Modelo.Planilla.ValorTotalCredito" ng-required="false" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Valor Contado</label>
                                <input maxlength="18" type="text" class="form-control" ng-change="MaskValores()" placeholder="Seleccione un conductor" ng-model="Modelo.Planilla.ValorTotalContado" ng-required="false" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Valor al Cobro</label>
                                <input maxlength="18" type="text" class="form-control" ng-change="MaskValores()" placeholder="Seleccione un conductor" ng-model="Modelo.Planilla.ValorTotalAlcobro" ng-required="false" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!--SECCIÓN BOTONES-->
        </form>
    </section>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ValidarGuardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>