﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <section class="content">
        <form>
            <div id="filtrosConsulta">
                <!--Errores-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesError">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Nav Navegacion-->
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" onselectstart="return false" ng-click="MostrarTab('TapFacturas', REPORTAR_FACTURA_ELECTRONICA.FACTURA)">Facturas</a></li>
                            <li><a data-toggle="tab" onselectstart="return false" ng-click="MostrarTab('TapNotaCredito', REPORTAR_FACTURA_ELECTRONICA.NOTA_CREDITO)">Notas Crédito</a></li>
                            <li><a data-toggle="tab" onselectstart="return false" ng-click="MostrarTab('TapNotaDebito', REPORTAR_FACTURA_ELECTRONICA.NOTA_DEBITO)">Notas Débito</a></li>
                        </ul>
                    </div>
                </div>
                <!--Facturas-->
                <div id="TapFacturas">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="fechaInicial">Fecha Inicial</label>
                                    <input name="fechaInicial" type="date" class="form-control" ng-model="FechaInicial">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="fechaFinal">Fecha Final</label>
                                    <input name="fechaFinal" type="date" class="form-control" ng-model="FechaFinal">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Cliente</label>
                                    <input type="text" class="form-control" placeholder="Seleccione un Cliente" ng-model="Cliente" autocomplete="off"
                                           uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in AutocompleteCliente($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                           ng-blur="Cliente=VerificarAutocomplete(Cliente)">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="formadepago">Forma de Pago </label>
                                    <select name="formadepago" class="form-control" ng-model="FormaPago" ng-options="i.Nombre for i in ListadoFormaPago"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="oficina">Oficina</label>
                                    <select name="oficina" class="form-control" ng-model="Oficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="lineButtons">
                                    <div class="pull-left">
                                        <button class="btn btn-primary" title="Buscar remesas" ng-click="Buscar()">
                                            Buscar
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </div>
                                    <div class="pull-right">
                                        <button class="btn btn-primary" title="Reportar remesas" ng-click="ReportarDocumentos()">
                                            Reportar Facturas
                                            <span class="glyphicon glyphicon-cloud-upload"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row top10">
                            <div class="col-sm-12">
                                <div id="resultadoConsulta">
                                    <div class="table-responsive" ng-if="ListaFacturas.length > 0">
                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                            <thead>
                                                <tr>
                                                    <th><input type="checkbox" ng-click="SlcTodo(SeleccionFactura)" ng-model="SeleccionFactura" ng-disabled="Deshabilitar" /> Todos</th>
                                                    <th>Número</th>
                                                    <th>Tipo Factura</th>
                                                    <th>Fecha</th>
                                                    <th>Cliente</th>
                                                    <th>Forma Pago</th>
                                                    <th>Oficina</th>
                                                    <th>Valor Factura</th>
                                                    <th>Mensaje Error</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ListaFacturas">
                                                    <td><input type="checkbox" ng-model="item.Seleccion" ng-disabled="Deshabilitar" /></td>
                                                    <td>{{item.NumeroDocumento}}</td>
                                                    <td>{{item.NombreTipoFactura}}</td>
                                                    <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                                    <td>{{item.Cliente.NombreCompleto}}</td>
                                                    <td>{{item.FormaPago.Nombre}}</td>
                                                    <td>{{item.OficinaFactura.Nombre}}</td>
                                                    <td align="right">{{item.ValorFactura | number :0}}</td>
                                                    <td>{{item.FacturaElectronica.MensajeError}}</td>
                                                </tr>
                                            </tbody>
                                            <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                                <tr>
                                                    <td colspan="9">
                                                        <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                        <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                            <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                                <span class="item">&laquo;</span>
                                                            </button>
                                                            <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                                <span class="item">&lsaquo;</span>
                                                            </button>
                                                            <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                                <span class="item">&rsaquo;</span>
                                                            </button>
                                                            <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                                <span class="item">&raquo;</span>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                        <span style="color:red">
                                            <small>{{ResultadoSinRegistros}}</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Facturas-->
                <!--Nota Credito-->
                <div id="TapNotaCredito">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="fechaInicial">Fecha Inicial</label>
                                    <input name="fechaInicial" type="date" class="form-control" ng-model="FechaInicial">
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="fechaFinal">Fecha Final</label>
                                    <input name="fechaFinal" type="date" class="form-control" ng-model="FechaFinal">
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Cliente</label>
                                    <input type="text" class="form-control" placeholder="Seleccione un Cliente" ng-model="Cliente" autocomplete="off"
                                           uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in AutocompleteCliente($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                           ng-blur="Cliente=VerificarAutocomplete(Cliente)">
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="oficina">Oficina</label>
                                    <select name="oficina" class="form-control" ng-model="Oficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="lineButtons">
                                    <div class="pull-left">
                                        <button class="btn btn-primary" title="Buscar Notas Crédito" ng-click="Buscar()">
                                            Buscar
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </div>
                                    <div class="pull-right">
                                        <button class="btn btn-primary" title="Reportar Nota Crédito" ng-click="ReportarDocumentos()">
                                            Reportar Notas Crédito
                                            <span class="glyphicon glyphicon-cloud-upload"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row top10">
                            <div class="col-sm-12">
                                <div id="resultadoConsulta">
                                    <div class="table-responsive" ng-if="ListaNotaCredito.length > 0">
                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                            <thead>
                                                <tr>
                                                    <th><input type="checkbox" ng-click="SlcTodo(Seleccion)" ng-model="SeleccionNotaCredito" ng-disabled="Deshabilitar" /> Todos</th>
                                                    <th>Número</th>
                                                    <th>Tipo Nota</th>
                                                    <th>Fecha</th>
                                                    <th>No. Factura</th>
                                                    <th>Cliente</th>
                                                    <th>Oficina</th>
                                                    <th>Valor Nota</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ListaNotaCredito">
                                                    <td><input type="checkbox" ng-model="item.Seleccion" ng-disabled="Deshabilitar" /></td>
                                                    <td>{{item.NumeroDocumento}}</td>
                                                    <td>{{item.NombreTipoDocumento}}</td>
                                                    <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                                    <td align="right">{{item.Factura.NumeroDocumento}}</td>
                                                    <td>{{item.Clientes.NombreCompleto}}</td>
                                                    <td>{{item.OficinaNota.Nombre}}</td>
                                                    <td align="right">{{item.ValorNota | number :0}}</td>
                                                </tr>
                                            </tbody>
                                            <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                                <tr>
                                                    <td colspan="9">
                                                        <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                        <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                            <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                                <span class="item">&laquo;</span>
                                                            </button>
                                                            <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                                <span class="item">&lsaquo;</span>
                                                            </button>
                                                            <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                                <span class="item">&rsaquo;</span>
                                                            </button>
                                                            <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                                <span class="item">&raquo;</span>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                        <span style="color:red">
                                            <small>{{ResultadoSinRegistros}}</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Nota Credito-->
                <!--Nota Debito-->
                <div id="TapNotaDebito">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="fechaInicial">Fecha Inicial</label>
                                    <input name="fechaInicial" type="date" class="form-control" ng-model="FechaInicial">
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="fechaFinal">Fecha Final</label>
                                    <input name="fechaFinal" type="date" class="form-control" ng-model="FechaFinal">
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Cliente</label>
                                    <input type="text" class="form-control" placeholder="Seleccione un Cliente" ng-model="Cliente" autocomplete="off"
                                           uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in AutocompleteCliente($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                           ng-blur="Cliente=VerificarAutocomplete(Cliente)">
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="oficina">Oficina</label>
                                    <select name="oficina" class="form-control" ng-model="Oficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="lineButtons">
                                    <div class="pull-left">
                                        <button class="btn btn-primary" title="Buscar Notas Débito" ng-click="Buscar()">
                                            Buscar
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </div>
                                    <div class="pull-right">
                                        <button class="btn btn-primary" title="Reportar Notas Débito" ng-click="ReportarDocumentos()">
                                            Reportar Notas Débito
                                            <span class="glyphicon glyphicon-cloud-upload"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row top10">
                            <div class="col-sm-12">
                                <div id="resultadoConsulta">
                                    <div class="table-responsive" ng-if="ListaNotaDebito.length > 0">
                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                            <thead>
                                                <tr>
                                                    <th><input type="checkbox" ng-click="SlcTodo(Seleccion)" ng-model="Seleccion" ng-disabled="Deshabilitar" /> Todos</th>
                                                    <th>Número</th>
                                                    <th>Tipo Nota</th>
                                                    <th>Fecha</th>
                                                    <th>No. Factura</th>
                                                    <th>Cliente</th>
                                                    <th>Oficina</th>
                                                    <th>Valor Nota</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ListaNotaDebito">
                                                    <td><input type="checkbox" ng-model="item.Seleccion" ng-disabled="Deshabilitar" /></td>
                                                    <td>{{item.NumeroDocumento}}</td>
                                                    <td>{{item.NombreTipoDocumento}}</td>
                                                    <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                                    <td align="right">{{item.Factura.NumeroDocumento}}</td>
                                                    <td>{{item.Clientes.NombreCompleto}}</td>
                                                    <td>{{item.OficinaNota.Nombre}}</td>
                                                    <td align="right">{{item.ValorNota | number :0}}</td>
                                                </tr>
                                            </tbody>
                                            <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                                <tr>
                                                    <td colspan="9">
                                                        <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                        <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                            <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                                <span class="item">&laquo;</span>
                                                            </button>
                                                            <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                                <span class="item">&lsaquo;</span>
                                                            </button>
                                                            <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                                <span class="item">&rsaquo;</span>
                                                            </button>
                                                            <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                                <span class="item">&raquo;</span>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                        <span style="color:red">
                                            <small>{{ResultadoSinRegistros}}</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Nota Debito-->
            </div>
        </form>
    </section>
</div>