﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblNumDocOri">Número</label>
                            <input type="text" disabled class="form-control" ng-model="Modelo.Numero">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFecha">Fecha</label>
                            <input type="date" disabled class="form-control" ng-model="Modelo.Fecha">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Documento Origen</label>
                            <input class="form-control" disabled ng-model="ModalTipoDocumentoOrigen" uib-typeahead="i as i.Nombre for i in ListadoTipoDocumentoOrigen| filter:$viewValue | limitTo: 5">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblNumDocOri">Número Documento Origen</label>
                            <input name="txtNumDocOri" type="text" disabled maxlength="70" class="form-control" ng-model="Modelo.NumeroDocumento">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Estado Interfaz</label>
                            <input class="form-control" disabled ng-model="ModalEstadoInterfaz" uib-typeahead="i as i.CampoAuxiliar2 for i in ListadoEstadosInterfaz| filter:$viewValue | limitTo: 5">
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-default box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Detalle Comprobante Contable</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th>No. Cuenta</th>
                                <th>Valor Base</th>
                                <th>Valor Débito</th>
                                <th>Valor Crédito</th>
                                <th>Tercero</th>
                                <th>Documento Cruce</th>
                                <th>Centro Costo</th>
                                <th>Observaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoComprobantes | orderBy: 'Orden'">
                                <td>{{item.CuentaPLUN.CodigoCuenta}}</td>
                                <td style="text-align: right">{{item.ValorBase | number : 0}}</td>
                                <td style="text-align: right">{{item.ValorDebito | number : 0}}</td>
                                <td style="text-align: right">{{item.ValorCredito | number : 0}}</td>
                                <td>{{item.Tercero.Nombre}}</td>
                                <td>{{item.DocumentoCruce}}</td>
                                <td>{{item.CentroCosto}}</td>
                                <td>{{item.Observaciones}}</td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros1 > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                        <tfoot ng-if="totalRegistros == 0 && Buscando == false">
                            <tr>
                                <td colspan="4" style="color:red; text-align:center">
                                    <small>{{ResultadoSinRegistros}}</small>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
