﻿<div >


    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>

    <section class="content-header">
        <h1>CONSULTAR CONCEPTOS NOTAS FACTURAS </h1>
    </section>

    <div class="content">
        <div class="SeccionFiltros-Formulario">
            <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span>{{error}}</span>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="lblNombre">Nombre</label>
                        <input name="lblNombre" type="text" class="form-control" ng-model="Nombre" ng-change="MaskMayus()">
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Tipo Nota</label>
                        <select name="cmbEstados" class="form-control" ng-model="TipoNota" ng-options="i.Nombre for i in ListaTiposNota"></select>
                    </div>
                </div>

            </div>


        </div>

        <!--SECCIÓN BOTONES-->
        <div class="SeccionBotones">
            <div class="pull-left">
                <button class="btn btn-block btn-primary" ng-click="Buscar()" title="Buscar Conceptos " ng-disabled="DeshabilitarConsulta">
                    Buscar
                    <span class="glyphicon glyphicon-filter"></span>
                </button>
            </div>
            <div class="pull-right">
                <div class="pull-right">
                    <button class="btn btn-block btn-primary" ng-disabled="DeshabilitarActualizar" ng-click="NuevoDocumento()" title="Nuevo Concepto">
                        Nuevo
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="ResultadoConsulta">
            <div class="table-responsive" ng-if="ListadoConceptos.length > 0">
                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                    <thead>
                        <tr>
                            <th>Nombre </th>
                            <th>Tipo Nota</th>
                            <th>Concepto Sistema</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ListadoConceptos">
                            <td><a href="#!/GestionarConceptosNotasFacturas/{{item.Codigo}}">{{item.Nombre}}</a></td>
                            <td>{{item.TipoNota}}</td>
                            <td>{{item.Sistema}}</td>

                            <td>
                                <button class="button mini-button btn-danger float-right" title="Eliminar" ng-click="EliminarConcepto(item)" ng-show="item.ConceptoSistema == 0">
                                    <span class="fas fa-trash-alt"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                    <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                        <span class="item">&laquo;</span>
                                    </button>
                                    <button class="button primary" ng-click="Anterior()" title="Anterior">
                                        <span class="item">&lsaquo;</span>
                                    </button>
                                    <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                        <span class="item">&rsaquo;</span>
                                    </button>
                                    <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                        <span class="item">&raquo;</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tfoot>

                </table>

            </div>
            <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                <span style="color:red">
                    <small>{{ResultadoSinRegistros}}</small>
                </span>
            </div>

        </div>

    </div>

    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalEliminarConcepto" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar el Concepto {{NombreConcepto}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeEliminarConceptos" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click="MostrarMensajeErrorModal()"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="MostrarMensajeErrorModal()">
                                Mensaje Completo
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>