﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>

    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>GESTIONAR CONCEPTOS NOTAS FACTURA</h1>
    </section>


    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" name="txtNombre" ng-change="MaskMayus()" class="form-control" maxlength="40" placeholder="Nombre Concepto" ng-model="Nombre" />
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Nota</label>
                            <select name="cmbEstado" class="form-control" ng-model="TipoNota" ng-options="i.Nombre for i in ListaTiposNota"></select>
                        </div>
                    </div>

                </div>
            </div>

            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="DeshabilitarActualizar">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>

    </div>

    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>