﻿<div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>GESTIONAR CONCEPTOS GASTOS</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form name="myform">
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="panel box box-primary" id="Encabezado">
                    <div class="panel-collapse collapse in">
                        <div class="box-body">
                            <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                                <ul>
                                    <li ng-repeat="error in MensajesError">
                                        <span>{{error}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="nombre">Código</label>
                                        <input name="nombre" type="text" class="form-control" ng-model="Modelo.Codigo" maxlength="40" ng-disabled="Deshabilitar || ModeloFechaCrea!=''" ng-change="MaskNumero()" placeholder="Código">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="nombre">Nombre</label>
                                        <input name="nombre" type="text" class="form-control" ng-model="Modelo.Nombre" maxlength="40" ng-disabled="Deshabilitar" ng-change="MaskMayus()" placeholder="Nombre">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="nombre">Código Alterno</label>
                                        <input name="nombre" type="text" class="form-control" ng-model="Modelo.CodigoAlterno" maxlength="40" ng-disabled="Deshabilitar" ng-change="MaskNumero()" placeholder="Código Alterno">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Operación</label>
                                        <select name="cmbEstado" class="form-control" ng-model="ModeloOperacion" ng-options="i.Nombre for i in ListadoOperacion" ng-disabled="Deshabilitar" ng-change="Modelo.Operacion = ModeloOperacion.Codigo"></select>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="nombre">Valor Fijo</label>
                                        <input name="nombre" type="text" class="form-control align-right" ng-model="Modelo.ValorFijo" maxlength="40" ng-disabled="Deshabilitar && Modelo.Codigo !== 107" ng-change="MaskValores()" placeholder="Valor Fijo">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="Cuenta">Cuenta PUC</label>
                                        <input type="text" class="form-control" name="Cuenta Plan Unico Cuentas" maxlength="50" ng-disabled="Deshabilitar && !esEditableSistema" id="ModeloCuenta" placeholder="Cuenta PUC" ng-model="Modelo.CuentaPUC" typeahead-no-results="myform.codigodane.$error.required"
                                               uib-typeahead="i as i.CodigoNombreCuenta for i in ListaPuc| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.CuentaPUC=VerificarAutocomplete(Modelo.CuentaPUC)">

                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="nombre">Porcentaje</label>
                                        <input name="nombre" type="text" class="form-control align-right" " ng-model="Modelo.Porcentaje" maxlength="40" ng-disabled="Deshabilitar" ng-change="MaskDecimales()" placeholder="Porcentaje">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Estado</label>
                                        <select name="cmbEstado" class="form-control" ng-model="ModeloEstado" ng-options="i.Nombre for i in ListadoEstados" ng-disabled="Deshabilitar" ng-change="Modelo.Estado = ModeloEstado.Codigo"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-disabled="Deshabilitar && !esEditableSistema" ng-click="ConfirmacionGuardarConcepto()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalEliminarAuxiliar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de borrar el Auxiliar: {{Funcionario}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmarEliminarAuxiliar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modalMensajeEliminarAuxiliar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmación Guardar Cuenta -->
    <div class="modal fade" id="modalConfirmacionGuardarConcepto" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>