﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR PEAJES</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input name="nombre" type="text" class="form-control" ng-model="Nombre" placeholder="Nombre" maxlength="100">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="ciudadorigen">Proveedor</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un proveedor" ng-model="Proveedor" autocomplete="off"
                                   uib-typeahead="Proveedor as Proveedor.NombreCompleto for Proveedor in AutocompleteProveedor($viewValue)| filter:$viewValue | limitTo: 5"
                                   ng-required="false" ng-blur="Proveedor=VerificarAutocomplete(Proveedor)">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblTipoIden">Tipo Peaje</label>
                            <select name="cmbTipoIden" class="form-control" ng-model="TipoPeaje" ng-options="i.Nombre for i in ListadoTipoPeaje"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" title="Buscar ciudad" ng-click="Buscar()">
                        Buscar
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-block btn-primary" title="Nueva ciudad" ng-click="NuevoDocumento()">
                        Nuevo
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoPeajes.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Código Alterno</th>
                                <th>Tipo Peaje</th>
                                <th>Proveedor</th>
                                <th>Ubicación</th> 
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoPeajes | orderBy:'Nombre'">
                                <td><a href="#!GestionarPeajes/{{item.Codigo}}">{{item.Nombre}}</a></td>
                                 <td>{{item.Codigo_Alterno}}</td>
                                <td>{{item.TipoPeaje.Nombre}}</td>
                                <td>{{item.Proveedor.Nombre}}</td>
                                <td>{{item.Ubicacion}}</td>

                                <td>
                                    <span ng-if="item.Estado == 0 " class="label pull-center bg-red">Inactiva</span>
                                    <span ng-if="item.Estado == 1" class="label label-success">Activa</span>
                                </td>
                                <td>
                                    <button class="button mini-button btn-primary" title="Tarifas" ng-click="AbrirTarifasPeaje(item)">
                                        <span class="glyphicon glyphicon-list-alt"></span>
                                    </button>
                                    <button class="button mini-button btn-danger" title="Eliminar" ng-click="EliminarPeaje(item.Codigo,item.Nombre)" ng-disabled="DeshabilitarEliminarAnular">
                                        <span class="fas fa-trash-alt"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="6">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <!--Modal Eliminar Peaje-->
    <div class="modal fade" id="modalEliminarPeaje" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar peaje {{ AuxiNombre }}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal Eliminar Peaje-->
    <!--Modal Mensaje Eliminar Peaje-->
    <div class="modal fade" id="modalMensajeEliminarPeaje" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click="MostrarMensajeErrorModal()"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="MostrarMensajeErrorModal()">
                                Mensaje Completo
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal Mensaje Eliminar Peaje-->
    <!--Modal Tarifas Peaje-->
    <div class="modal fade" id="modalTarifasPeaje" tabindex="-1" role="dialog" aria-labelledby="modalTarifasPeaje" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Asignar Tarifas Peaje</strong>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorTarifas.length > 0">
                                            <ul>
                                                <li ng-repeat="error in MensajesErrorTarifas">
                                                    <span>{{error}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="Concepto">Tipo Vehículo</label>
                                            <select name="Concepto" class="form-control" placeholder="SELECCIONE" ng-model="modalTarifasPeaje.TipoVehiculo"
                                                    ng-options="i.Nombre for i in ListadoTipoVehiculo | orderBy: 'Nombre'"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="Concepto">Categoría</label>
                                            <select name="Concepto" class="form-control" placeholder="SELECCIONE" ng-model="modalTarifasPeaje.Categoria"
                                                    ng-options="i.Nombre for i in ListadoCategorias | orderBy: 'Nombre'"></select>
                                        </div>
                                    </div>
                                    <!--<div class="col-md-8 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Descripción</label>
                                            <span class="form-control">{{modalTarifasPeaje.Categoria.CampoAuxiliar2}}</span>
                                        </div>
                                    </div>-->
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group" ng-show="InputValor == true">
                                            <label>Valor Sin Remolque</label>
                                            <input tabindex="4" ng-change="MaskNumero();MaskValores()" placeholder="Digite Valor" type="text"
                                                   class="form-control text-right" ng-model="modalTarifasPeaje.Valor">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group" ng-show="InputValor == true">
                                            <label>Valor Remolque 1 Eje</label>
                                            <input tabindex="4" ng-change="MaskNumero();MaskValores()" placeholder="Digite Valor" type="text"
                                                   class="form-control text-right" ng-model="modalTarifasPeaje.ValorRemolque1Eje">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group" ng-show="InputValor == true">
                                            <label>Valor Remolque 2 Ejes</label>
                                            <input tabindex="4" ng-change="MaskNumero();MaskValores()" placeholder="Digite Valor" type="text"
                                                   class="form-control text-right" ng-model="modalTarifasPeaje.ValorRemolque2Ejes">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group" ng-show="InputValor == true">
                                            <label>Valor Remolque 3 Ejes</label>
                                            <input tabindex="4" ng-change="MaskNumero();MaskValores()" placeholder="Digite Valor" type="text"
                                                   class="form-control text-right" ng-model="modalTarifasPeaje.ValorRemolque3Ejes">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group" ng-show="InputValor == true">
                                            <label>Valor Remolque 4 Ejes</label>
                                            <input tabindex="4" ng-change="MaskNumero();MaskValores()" placeholder="Digite Valor" type="text"
                                                   class="form-control text-right" ng-model="modalTarifasPeaje.ValorRemolque4Ejes">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-success" title="Adicionar" ng-click="AdicionarTarifasPeaje()" ng-show="!isEditTarifasPeaje">
                                                Adicionar
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>
                                            <button type="button" class="btn btn-default" ng-show="isEditTarifasPeaje" ng-click="LimpiarmodalTarifasPeaje(); InputValor = true">
                                                Cancelar
                                                <span class="glyphicon glyphicon-remove-circle"></span>
                                            </button>
                                            <button type="button" class="btn btn-primary" title="Adicionar" ng-click="AdicionarTarifasPeaje(); item.editable = false; InputValor = true" ng-show="isEditTarifasPeaje">
                                                Modificar
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="resultadoConsulta">
                                            <div class="table-responsive" ng-if="ListaTarifasPeaje.length > 0">
                                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th>Tipo Vehículo</th>
                                                            <th style="min-width: 100px">Categoría</th>
                                                            <!--<th>Descripción</th>-->
                                                            <th>Valor Sin Remolque</th>
                                                            <th>Valor Remolque 1 Eje</th>
                                                            <th>Valor Remolque 2 Ejes</th>
                                                            <th>Valor Remolque 3 Ejes</th>
                                                            <th>Valor Remolque 4 Ejes</th>
                                                            <th style="min-width: 80px">Opciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in ListaTarifasPeaje | orderBy: '[TipoVehiculo.Nombre,Categoria.Nombre]'">
                                                            <td>{{item.TipoVehiculo.Nombre}}</td>
                                                            <td>{{item.Categoria.Nombre}}</td>
                                                            <!--<td>{{item.Categoria.CampoAuxiliar2}}</td>-->
                                                            <td class="text-right" ng-show="item.editable == false">{{MaskValoresGrid(item.Valor)}}</td>
                                                            <td ng-show="item.editable == true">
                                                                <input class="form-control text-right" ng-change="MaskNumero();MaskValores()" placeholder="Digite Valor" 
                                                                       type="text" ng-show="item.editable == true" ng-model="modalTarifasPeaje.Valor" />                                                             
                                                            </td>
                                                            <td class="text-right" ng-show="item.editable == false">{{MaskValoresGrid(item.ValorRemolque1Eje)}}</td>
                                                            <td ng-show="item.editable == true">
                                                                <input class="form-control text-right" ng-change="MaskNumero();MaskValores()" placeholder="Digite Valor" 
                                                                       type="text" ng-show="item.editable == true" ng-model="modalTarifasPeaje.ValorRemolque1Eje" />
                                                            </td>
                                                            <td class="text-right" ng-show="item.editable == false">{{MaskValoresGrid(item.ValorRemolque2Ejes)}}</td>
                                                            <td ng-show="item.editable == true">
                                                                <input class="form-control text-right" ng-change="MaskNumero();MaskValores()" placeholder="Digite Valor" 
                                                                       type="text" ng-show="item.editable == true" ng-model="modalTarifasPeaje.ValorRemolque2Ejes"/>
                                                            </td>
                                                            <td class="text-right" ng-show="item.editable == false">{{MaskValoresGrid(item.ValorRemolque3Ejes)}}</td>
                                                            <td  ng-show="item.editable == true">
                                                                <input class="form-control text-right" ng-change="MaskNumero();MaskValores()" placeholder="Digite Valor" 
                                                                       type="text"  ng-show="item.editable == true" ng-model="modalTarifasPeaje.ValorRemolque3Ejes"/>
                                                            </td>
                                                            <td class="text-right" ng-show="item.editable == false">{{MaskValoresGrid(item.ValorRemolque4Ejes)}}</td>
                                                            <td ng-show="item.editable == true">
                                                                <input class="form-control text-right" ng-change="MaskNumero();MaskValores()" placeholder="Digite Valor" 
                                                                       type="text" ng-show="item.editable == true" ng-model="modalTarifasPeaje.ValorRemolque4Ejes"/>
                                                            </td>
                                                            <td>

                                                                <button class="button mini-button btn-default pull-left" title="Eliminar" ng-click="EditarTarifasPeaje(item); item.editable = true; InputValor = false" ng-show="!isEditTarifasPeaje">
                                                                    <span class="fa fa-edit"></span>
                                                                </button>

                                                                <button class="button mini-button btn-danger pull-right" title="Editar" ng-click="ConfirmarEliminarTarifasPeaje(item)" ng-show="!isEditTarifasPeaje">
                                                                    <span class="fas fa-trash-alt"></span>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="InputValor = true; toogleInputValor()">
                                    Cancelar
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarTarifasPeaje();InputValor = true">
                                    Aceptar
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal Tarifas Peaje-->
    <!-- Modal Confirmación Eliminar Tarifas Peaje-->
    <div class="modal fade" id="modalEliminarTarifasPeaje" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Eliminar Tarifas Peajes</strong>
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p class="text-center">¿Esta seguro que desea eliminar la información?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Eliminar Concepto" ng-click="EliminarTarifasPeajes(TmpEliminarTarifasPeaje.Indice)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal Confirmación Eliminar Tarifas Peaje-->
</div>