﻿<div > 
   
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
            <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
                {{opcion.Nombre}}
            </li>
        </ol>
        <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
        <section class="content-header">
            <h1>{{Titulo}}</h1>
        </section>
        <!--CONTENIEDO A PARTIR DE ESTA LINEA-->



        <div class="content">
            <form>
                <!--SECCION FILTROS-FORMULARIO-->
                <div class="SeccionFiltros-Formulario">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span class="errorField">{{error}}</span>
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="fechaInicial">Fecha Inicial</label>
                                <input name="fechaInicial" type="date" class="form-control" ng-model="FechaInicial">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="fechaFinal">Fecha Final</label>
                                <input name="fechaFinal" type="date" class="form-control" ng-model="FechaFinal">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Tipo Combustible</label>
                                <select name="tipoCombustible" class="form-control" ng-model="TipoCombustible"
                                        ng-options="i.Nombre for i in tipoCombustible | orderBy:'Nombre'"></select>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="SeccionBotones">
                    <div class="pull-left">
                        <button class="btn btn-block btn-primary" title="Buscar Valores" ng-click="paginaActual=1;Buscar()">
                            Buscar
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" title="Nuevo Valor" ng-click="NuevoValor()">
                            Nuevo
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>





                <div class="ResultadoConsulta">
                    <div class="table-responsive" ng-if="ListadoValoresCombustible.length > 0">
                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Combustible</th>
                                    <th>Valor</th>
                                    <th>Usuario</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ListadoValoresCombustible | orderBy:'Fecha'">
                                    <td>{{item.Fecha | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{item.TipoCombustible.Nombre}}</td>
                                    <td align="right">{{item.Valor  | number:0  }}</td>
                                    <td>{{item.UsuarioCrea.Nombre}}</td>
                                    <td>
                                        <button class="button mini-button btn-danger" title="Eliminar" ng-click="EliminarCombustible(
                                                item.Fecha,
                                                item.TipoCombustible.Nombre,
                                                item.TipoCombustible.Codigo,
                                                item.Valor)" ng-disabled="DeshabilitarEliminarAnular">
                                            <span class="fas fa-trash-alt"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                <tr>
                                    <td colspan="4">
                                        <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                        <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                            <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                <span class="item">&laquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                <span class="item">&lsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                <span class="item">&rsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                <span class="item">&raquo;</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>

                        </table>
                    </div>
                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                        <span style="color:red">
                            <small>{{ResultadoSinRegistros}}</small>
                        </span>
                    </div>
                </div>

                <div class="modal fade" id="modalEliminarCombustible" tabindex="-1" role="dialog" data-backdrop="static">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <form autocomplete="off">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">
                                        GESTRANS.NET CARGA
                                    </h4>
                                </div>

                                <div class="modal-body">
                                    <p>¿Está seguro de eliminar el Combustible {{Modelo.TipoCombustible.Nombre}} creado  el dia  {{Modelo.Fecha | date: 'dd/MM/yyyy'}}?</p>
                                </div>

                                <div class="modal-footer">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            Cancelar
                                            <span class="glyphicon glyphicon-remove-circle"></span>
                                        </button>
                                        <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                            Aceptar
                                            <span class="glyphicon glyphicon-ok-circle"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
            </form>
        </div> 
   
    </div>