﻿<div  ng-init="InitLoad()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}} </h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <section class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="Form-Imput">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Cliente</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Seleccione cliente" ng-model="Modelo.Cliente"
                                   uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in  AutocompleteCliente($viewValue) | filter:$viewValue | limitTo: 5"
                                   ng-blur="Modelo.Cliente=VerificarAutocomplete(Modelo.Cliente)" ng-disabled="Deshabilitar">
                            <div class="btnClose" ng-click="limpiarControl('Cliente')" title="Limpiar"><span class="fas fa-times-circle"></span></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Remitente</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Seleccione remitente" ng-model="Modelo.Remitente"
                                   uib-typeahead="Remi as Remi.NombreCompleto for Remi in  AutocompleteRemitente($viewValue) | filter:$viewValue | limitTo: 5"
                                   ng-blur="Modelo.Remitente=VerificarAutocomplete(Modelo.Remitente)" ng-disabled="Deshabilitar">
                            <div class="btnClose" ng-click="limpiarControl('Remitente')" title="Limpiar"><span class="fas fa-times-circle"></span></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Tenedor</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Seleccione tenedor" ng-model="Modelo.Tenedor"
                                   uib-typeahead="Tenedor as Tenedor.NombreCompleto for Tenedor in  AutocompleteTenedor($viewValue) | filter:$viewValue | limitTo: 5"
                                   ng-blur="Modelo.Tenedor=VerificarAutocomplete(Modelo.Tenedor)" ng-disabled="Deshabilitar">
                            <div class="btnClose" ng-click="limpiarControl('Tenedor')" title="Limpiar"><span class="fas fa-times-circle"></span></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Producto</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un producto" ng-change="MaskMayus()" ng-model="Modelo.Producto"
                                   uib-typeahead="Prod as Prod.Nombre for Prod in AutocompleteProducto($viewValue)| filter:$viewValue | limitTo: 5"
                                   ng-required="false" ng-blur="Modelo.Producto=VerificarAutocomplete(Modelo.Remesa.ProductoTransportado)" ng-disabled="Deshabilitar">
                            <div class="btnClose" ng-click="limpiarControl('Producto')" title="Limpiar"><span class="fas fa-times-circle"></span></div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select class="form-control" ng-model="Modelo.Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
                <!--SECCIÓN BOTONES-->
                <div class="lineButtons">
                    <div class="pull-left">
                        <button class="btn btn-block btn-primary" title="Buscar" ng-click="Buscar()">
                            Buscar
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" title="Nuevo" ng-click="NuevoDocumento()">
                            Nuevo
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
                <br />
                <hr />
                <!--RESULTADO CONSULTA-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive" ng-if="ListadoCombinacionesCvt.length > 0">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Cliente</th>
                                        <th>Remitente</th>
                                        <th>Tenedor</th>
                                        <th>Producto</th>
                                        <th>Tipo Cobro</th>
                                        <th>Valor</th>
                                        <th>Estado</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoCombinacionesCvt | orderBy:'Codigo'">
                                        <td><a href="#!GestionarCombinacionesCvt/{{item.Codigo}}">{{item.Codigo}}</a></td>
                                        <td>{{item.Cliente.NombreCompleto}}</td>
                                        <td>{{item.Remitente.NombreCompleto}}</td>
                                        <td>{{item.Tenedor.NombreCompleto}}</td>
                                        <td>{{item.Producto.Nombre}}</td>
                                        <td>{{item.TipoCobro.Nombre}}</td>
                                        <td class="text-right">{{item.Valor | number}}</td>
                                        <td>
                                            <span ng-if="item.Estado == 0" class="label label-warning">INACTIVO</span>
                                            <span ng-if="item.Estado == 1" class="label label-success">ACTIVO</span>
                                        </td>
                                        <td>
                                            <button class="button mini-button btn-danger" title="Eliminar" ng-click="EliminarCombinacion(item.Codigo)" ng-disabled="DeshabilitarEliminarAnular">
                                                <span class="fas fa-trash-alt"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                    <tr>
                                        <td colspan="9">
                                            <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                            <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                            <span style="color:red">
                                <small>{{ResultadoSinRegistros}}</small>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </section>
    <!--Modal Eliminar Combinacion-->
    <div class="modal fade" id="modalEliminarCombinacion" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar la combinación con el código {{ AuxiCodigo }}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal Eliminar Combinacion-->
</div>

