﻿<div  ng-init="InitLoad()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR GASTOS DE  RUTAS </h1>
    </section>

    <div class="content">
        <form>
            <div class="row">
                <div class="SeccionFiltros-Formulario">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Ruta</label>
                            <input type="text" class="form-control" placeholder="Seleccione una Ruta" ng-model="Modelo.Ruta"
                                   uib-typeahead="Ruta as Ruta.Nombre for Ruta in listadosRutas| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="FiltroRuta=VerificarAutocomplete(FiltroRuta)">
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Tipo Vehiculo">Tipo Vehículo</label>
                            <select name="Concepto" class="form-control" placeholder="Ingrese Tipo Vehículo"
                                    ng-model="Modelo.TipoVehiculo"
                                    ng-options="i.Nombre for i in ListadoTipoVehiculo  | orderBy: 'Nombre'"
                                    ></select>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Concepto">Concepto</label>
                            <select name="Concepto" class="form-control" placeholder="Ingrese Concepto" ng-model="Modelo.Concepto"
                                    ng-options="i.Nombre for i in ListadoConceptosGastos  | orderBy: 'Nombre' "
                                    ng-change="ValidarConcepto()"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" title="Buscar" ng-click="Buscar()">
                        Buscar
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-block btn-primary" title="Nueva" ng-click="NuevoGastoRuta()">
                        Nuevo
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>

            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListaGastosRuta.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>

                                <th>Ruta</th>
                                <th>Tipo Vehículo</th>
                                <th>Concepto</th>
                                <th>Valor</th>
                                <th style="max-width : 65px;">Aplica Anticipo</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListaGastosRuta | orderBy: '[TipoVehiculo.Nombre,Concepto.Nombre]'">
                                <td>{{item.Ruta.Nombre}}</td>
                                <td>{{item.TipoVehiculo.Nombre}}</td>
                                <td>{{item.Concepto.Nombre}}</td>

                                <td class="text-right">
                                    <input tabindex="4" ng-change="item.Valor = MaskValoresGrid(item.Valor)" placeholder="Digite Valor" type="text"
                                           class="form-control text-right" ng-model="item.Valor">
                                </td>
                                <td class="text-center"><input type="checkbox" ng-model="item.AplicaAnticipo"></td>
                                <td>
                                    <button class="button mini-button btn-danger" title="Eliminar" ng-click="ConfirmarEliminarGastosRuta(item)">
                                        <span class="fas fa-trash-alt"></span>
                                    </button> 
                                    <button class="button mini-button btn-primary" title="Actualizar" ng-click=" Actualizar(item)">
                                        <span class="far fa-edit"></span>
                                    </button>  
                                </td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
            </div>

        </form>

    </div>

    <div class="modal fade" id="modalActualizarGastosRuta" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Actualizar Gastos Ruta</strong>
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p class="text-center">¿Esta seguro que desea Actualizar la información?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Actualizar Concepto" ng-click="ActualizarGastosRuta(TmpActualizarGastosRuta)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

       <div class="modal fade" id="modalEliminarGastosRuta" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Eliminar Gastos Ruta</strong>
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p class="text-center">¿Esta seguro que desea eliminar la información?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Eliminar Concepto" ng-click="EliminarGastosRuta(TmpEliminarGastosRuta)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


</div>
