﻿<div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR VEHICULOS </h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="lblPlacVehi">Placa</label>
                            <input ng-change="MaskPlaca()" type="text" name="txtplaca" maxlength="6" class="form-control" placeholder="Ingrese la placa" ng-model="Modelo.Placa">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="lblNumeVehi">Código Vehículo</label>
                            <input name="txtNumeVehi" maxlength="20" class="form-control" ng-model="Modelo.CodigoAlterno" minlenght="1" />
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblNombCond">Conductor</label>
                            <input type="text" name="txtconductor" maxlength="60" class="form-control" placeholder="Ingrese el conductor" ng-model="Modelo.Conductor.Nombre">
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblNombTene">Tenedor</label>
                            <input type="text" name="txttenedor" class="form-control" maxlength="60" placeholder="Ingrese el tenedor" ng-model="Modelo.Tenedor.Nombre">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblNombTene">Semirremolque</label>
                            <input ng-change="MaskMayus()" type="text" name="txttenedor" class="form-control" maxlength="60" placeholder="Ingrese el semirremolque" ng-model="Modelo.Semirremolque.Placa">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Vehiculo</label>
                            <select name="cmbEstado" class="form-control" ng-model="TipoVehiculo" ng-options="i.Nombre for i in ListadoTipoVehiculos | orderBy:'Nombre'"></select>
                        </div>
                    </div>
                    <!--<div class="col-md-2 col-sm-4 col-xs-12">
                        <label for="lblTipoVehi">Tipo Vehículo</label>
                        <select name="cmbTipoVehi" class="form-control" ng-model="TipoVehiculo" ng-options="i.Nombre for i in ListadoTipoVehiculos"></select>
                    </div>-->

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="Modelo.Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" ng-disabled="DeshabilitarConsulta" title="Buscar ciudad" ng-click="paginaActual=1;Buscar()">
                        Buscar
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-block btn-primary" ng-disabled="DeshabilitarCrear" ng-show="!DeshabilitarCrear" title="Nueva ciudad" ng-click="NuevoDocumento()">
                        Nuevo
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoVehiculos.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Placa</th>
                                <th>Código Vehículo</th>
                                <th>Semirremolque</th>
                                <th>Tipo Vehículo</th>
                                <th>Conductor</th>
                                <th>Tenedor</th>
                                <th>Estado</th>
                                <!--<th>Opciones</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoVehiculos">
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                            <span class="fa fa-list"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-left" style="overflow-y:scroll; max-height:100px">
                                            <li>
                                                <a ng-click="modalAuditoriavehiculo(item.Codigo, item.Placa);">
                                                    <span class="glyphicon glyphicon-list-alt" style="font-size:18px"></span>Auditoria Vehiculos
                                                </a>
                                                <a ng-if="item.Anulado != 1 && Sesion.UsuarioAutenticado.ManejoPorcentajesPropietariosVehiculo" data-toggle="tooltip" ng-click="AbrirModalPropietarios(item)">
                                                    <span class="glyphicon glyphicon-list-alt" style="font-size:18px"></span>Adicionar Propietarios
                                                </a>
                                                <a ng-if="item.Anulado != 1 && Sesion.UsuarioAutenticado.ManejoPorcentajesPropietariosVehiculo" data-toggle="tooltip" ng-click="AbrirModalConsultaPropietarios(item)">
                                                    <span class="glyphicon glyphicon-list-alt" style="font-size:18px"></span>Consultar Propietarios
                                                </a>
                                                <!--class="button  primary btn-primary btn-xs" title="Adicionar Propietarios"-->
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td><a href="#!GestionarVehiculos/{{item.Codigo}}">{{item.Placa}}</a></td>
                                <td>{{item.CodigoAlterno}}</td>
                                <td>{{item.Semirremolque.Placa}}</td>
                                <td>{{item.TipoVehiculo.Nombre}}</td>
                                <td>{{item.Conductor.Nombre}}</td>
                                <td>{{item.Tenedor.Nombre}}</td>
                                <td>
                                    <span ng-if="item.Estado.Codigo == 1" class="label label-success">Activo</span>
                                    <span ng-if="item.Estado.Codigo == 0" class="label label-warning">Inactivo</span>
                                </td>
                                <!--<td>
                                <button ng-if="item.Anulado != 1" class="button  primary btn-primary btn-xs" title="Distribución porcentajes" data-toggle="tooltip" ng-click="AbrirModalPorcentaje(item)">
                                    <span>%</span>
                                </button>-->
                                <!--<td>
                                    <button ng-if="item.Anulado != 1 && Sesion.UsuarioAutenticado.ManejoPorcentajesPropietariosVehiculo" class="button  primary btn-primary btn-xs" title="Adicionar Propietarios" data-toggle="tooltip" ng-click="AbrirModalPropietarios(item)">
                                        <span class="glyphicon glyphicon-user"></span>
                                    </button>

                                </td>-->
                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalEliminarVehiculos" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar la ruta {{Nombre}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeEliminarVehiculos" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click="MostrarMensajeErrorModal()"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="MostrarMensajeErrorModal()">
                                Mensaje Completo
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


    <div class="modal fade" id="modalPropietariosVehiculo" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            Adicionar Propietarios
                        </h4>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-4 col-xs-12">
                                <label>Propietario</label>
                                <input type="text" class="form-control" name="Peajes" id="Peajes" placeholder="Ingrese un Propietario" ng-model="ModalPropietarios.Propietario"
                                       uib-typeahead="Tenedor as Tenedor.NombreCompleto for Tenedor in AutocompletePropietarios($viewValue)| filter:$viewValue | limitTo: 5"
                                       ng-blur="ModalPropietarios.Propietario=VerificarAutocomplete(ModalPropietarios.Propietario)">
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label>% Participación</label>
                                <input type="text" class="form-control text-right" name="Porcentaje" id="Peajes" placeholder="Ingrese % Participación" ng-model="ModalPropietarios.PorcentajeParticipacion"
                                       ng-change="ModalPropietarios.PorcentajeParticipacion = MaskPorcentaje(ModalPropietarios.PorcentajeParticipacion,ModalPropietarios.PorcentajeParticipacion)">
                            </div>
                        </div>
                        <br />
                        <div class="row" style="margin:0px">
                            <div class="pull-right">
                                <div class="row">
                                    <div class="col-md-12 col-sm-4 col-xs-12">
                                        <button type="button" class="btn btn-success" title="Adicionar" ng-click="AgregarPropietario()">
                                            Adicionar
                                            <span class="glyphicon glyphicon-ok-circle"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div id="resultadoConsulta" class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>

                                        <th>Propietario</th>
                                        <th>No. Identificación</th>
                                        <th>% Participación</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ModalPropietarios.ListadoPropietariosVehiculo">

                                        <td>{{item.Propietario.NombreCompleto}}</td>
                                        <td>{{item.Propietario. NumeroIdentificacion}}</td>
                                        <td>
                                            <input type="text" class="form-control text-right" ng-model="item.PorcentajeParticipacion" ng-change="item.PorcentajeParticipacion=MaskPorcentaje(item.PorcentajeParticipacion,item.PorcentajeParticipacion)" />
                                        </td>
                                        <td style="text-align:right">
                                            <button class="button mini-button danger" title="Eliminar propietario" ng-click="EliminarPropietario($index,item)">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarPropietarios()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalConsultaPropietariosVehiculo" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            Consultar Propietarios
                        </h4>
                    </div>

                    <div class="modal-body">

                        <div id="resultadoConsulta" class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Propietario</th>
                                        <th>No. Identificación</th>
                                        <th>% Participación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ModalPropietarios.ListadoPropietariosVehiculo">
                                        <td>{{item.Propietario.NombreCompleto}}</td>
                                        <td>{{item.Propietario.NumeroIdentificacion}}</td>
                                        <td>{{item.PorcentajeParticipacion}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!--Modal auditoria vehiculos-->
    <div class="modal fade" id="modalAuditoriavehiculo" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-content  modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            AUDITORIA VEHICULOS
                        </h4>
                    </div>
                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorAuditoria.length > 0">
                        <ul>
                            <li ng-repeat="error in MensajesErrorAuditoria">
                                <span>{{error}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="modal-footer">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="pull-left">
                                        <h4><span><strong>PLACA: {{PlacaVehiculo}}</strong></span></h4>
                                    </div>
                                    <div class="pull-left">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label class="pull-left" for="lblFechIni">Fecha Inicial</label>
                                                    <input name="txtFechIni" type="date" class="form-control" ng-model="ModeloFechaInicial">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-4 col-xs-12">
                                                <div class="form-group">
                                                    <label class="pull-left" for="lblFechFin">Fecha Final</label>
                                                    <input name="txtFechFin" type="date" class="form-control" ng-model="ModeloFechaFinal">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-left">
                                        <button type="button" class="btn btn-primary" title="Aceptar" ng-click="BuscarDetallleAuditoria()">
                                            Buscar
                                            <span class="glyphicon glyphicon-ok-circle"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="LimpiarDetalleauditoria()">
                                            Cerrar
                                            <span class="glyphicon glyphicon-remove-circle"></span>
                                        </button>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Usuario Modifica</th>
                                                <th>Fecha Modifica</th>
                                                <th>Causa Inactividad</th>
                                                <th>Evento Auditoria</th>
                                                <th>Estado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in ListadoAuditoria">
                                                <td>{{item.UsuarioModifica.Nombre}}</td>
                                                <td>{{item.FechaModifica}}</td>
                                                <td>{{item.CausaInactividad.Nombre}}</td>
                                                <td>{{item.EventoAuditoria}}</td>
                                                <td>
                                                    <span ng-if="item.Estado.Codigo == 1" class="label label-success">Activo</span>
                                                    <span ng-if="item.Estado.Codigo != 1" class="label label-warning">Inactivo</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>