﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>

    <section class="content-header">
        <h1>CONSULTAR VEHÍCULOS LISTA NEGRA </h1>
    </section>


    <div class="content">
        <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
            <ul>
                <li ng-repeat="error in MensajesError">

                    <span>{{error}}</span>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="form-group">
                    <label>Vehículo</label>
                    <input type="text" class="form-control" placeholder="Vehículo" ng-model="Modelo.Vehiculo" autocomplete="off"
                           uib-typeahead="Vehi as Vehi.Placa for Vehi in AutocompleteVehiculos($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                           ng-blur="Modelo.Vehiculo=VerificarAutocomplete(Modelo.Vehiculo)" />
                </div>
            </div>
        </div>

        <!--SECCIÓN BOTONES-->
        <div class="SeccionBotones">
            <div class="pull-left">
                <button class="btn btn-block btn-primary" ng-click="Buscar()" title="Buscar Ordenes Cargue ">
                    Buscar
                    <span class="glyphicon glyphicon-filter"></span>
                </button>
            </div>
            <div class="pull-right">
                <div class="pull-right">
                    <button class="btn btn-block btn-primary" ng-click="NuevoDocumento()" title="Nuevo Vehiculo Lista Negra">
                        Nuevo
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- RESULTADO CONSULTA -->
            <div class="ResultadoConsulta">
                <div class="table-responsive col-md-12" ng-if="ListadoVehiculosListaNegra.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th class="text-center">Placa </th>
                                <th class="text-center">Organismo Tránsito </th>
                                <th class="text-center">Causa</th>
                                <th class="text-center">Opciones</th>

                                <!--<th style="min-width: 80px;"></th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoVehiculosListaNegra">
                                <td class="text-center"><a href="#!GestionarVehiculosListaNegra/{{item.Codigo}}">{{item.Placa}}</a></td>
                                <td class="text-center">{{item.OrganismoTransito}}</td>
                                <td class="text-center">{{item.Causa}}</td>

                                <td>
                                    <button class="button mini-button  btn-danger" title="Eliminar" ng-click="EliminarVehiculo(item.Codigo, item.Placa)" ng-disabled="DeshabilitarEliminarAnular">
                                        <span class="fas fa-trash-alt"></span>
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                        <tfoot ng-if="totalRegistros == 0 && Buscando == false">
                            <tr>
                                <td colspan="4" style="color:red; text-align:center">
                                    <small>{{ResultadoSinRegistros}}</small>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                    <!--SECCIÓN BOTONES-->
                    <div class="SeccionBotones">
                        <div id="lineButtons">
                            <div class="pull-left">
                                <table>
                                    <tr>

                                        <td>
                                            <button class="button mini-button btn-success" style="border-radius:5px; width:50px; height:50px; color:white; padding:5px; margin-left:10px" title="Descargar en EXCEL" ng-click="DesplegarInforme(0, 0, 1)">
                                                <span class="fa fa-file-excel-o" style="font-size:35px"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar el Vehiculo {{ NombreVehiculo }}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeEliminar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click=" MostrarMensajeErrorCompleto = MostrarMensajeErrorModal(MostrarMensajeErrorCompleto)"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>