﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR RUTAS </h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input ng-change="MaskMayus()" name="nombre" type="text" class="form-control" ng-model="Nombre" maxlength="70">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="CodigoAlterno">Código Alterno</label>
                            <input name="CodigoAlterno" class="form-control" ng-model="CodigoAlterno" placeholder="Ingrese un valor" maxlength="20">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="ciudadorigen">Ciudad Origen</label>
                            <input ng-change="MaskMayus()" name="ciudadorigen" type="text" class="form-control" ng-model="CiudadOrigen" maxlength="40">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="ciudaddestino">Ciudad Destino</label>
                            <input ng-change="MaskMayus()" name="ciudaddestino" type="text" class="form-control" ng-model="CiudadDestino" maxlength="40">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Ruta</label>
                            <select name="cmbTipoRuta" class="form-control" ng-model="TipoRuta" ng-options="i.Nombre for i in ListadoTipoRuta"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" title="Buscar" ng-click="paginaActual=1;Buscar()">
                        Buscar
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-block btn-primary" title="Nueva" ng-click="NuevoDocumento()">
                        Nuevo
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoRutas.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Código Alterno</th>
                                <th>Ciudad Origen</th>
                                <th>Ciudad Destino</th>
                                <th>Tipo Ruta</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoRutas | orderBy:'Nombre'">
                                <td><a href="#!GestionarRutas/{{item.Codigo}}">{{item.Nombre}}</a></td>
                                <td>{{item.CodigoAlterno}}</td>
                                <td>{{item.CiudadOrigen.Nombre}}</td>
                                <td>{{item.CiudadDestino.Nombre}}</td>
                                <td>{{item.TipoRuta.Nombre}}</td>
                                <td>
                                    <span ng-if="item.Estado != 1 " class="label label-warning">Inactiva</span>
                                    <span ng-if="item.Estado == 1" class="label label-success">Activa</span>
                                </td>
                                <td>
                                    <button class="button mini-button btn-primary" title="Puestos de control" ng-click="AbrirPuestosControl(item)">
                                        <span class="glyphicon glyphicon-screenshot"></span>
                                    </button>
                                    <button class="button mini-button btn-primary" title="Cargues y Descargues" ng-click="AbrirCarguesyDescargues(item)" style="margin-left:0px; min-width: 29px; padding-left:0px">
                                        <span class="fa fa-arrow-up pull-left" style="max-width:3px"></span>
                                        <span class="fa fa-arrow-down" style="max-width:3px"></span>
                                    </button>
                                    <button class="button mini-button btn-primary" title="Gastos" ng-click="AbrirGastosRuta(item)">
                                        <span class="glyphicon glyphicon-usd"></span>
                                    </button>
                                    <button class="button mini-button btn-primary" title="Peajes" ng-click="AbrirPeajes(item)">
                                        <span class="glyphicon glyphicon-road"></span>
                                    </button>
                                    <button class="button mini-button btn-primary" title="Trayectos" ng-click="AbrirTrayectos(item)">
                                        <span class="fas fa-route"></span>
                                    </button>
                                    <button class="button mini-button btn-danger" title="Eliminar" ng-click="EliminarRutas(item.Codigo,item.Nombre,item.CodigoAlterno)" ng-disabled="DeshabilitarEliminarAnular">
                                        <span class="fas fa-trash-alt"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalEliminarRutas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar la ruta {{Nombre}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeEliminarRutas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click="MostrarMensajeErrorModal()"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="MostrarMensajeErrorModal()">
                                Mensaje Completo
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal puestos de control-->
    <div class="modal fade" id="modalPuestoControl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-body">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Asignar Puestos de Control</strong>
                        </h4>
                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorTramos.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesErrorTramos">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblNombRuta">RUTA: {{Modal.Nombre}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="col-md-12 col-sm-4 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-4 col-xs-12">
                                            <label>Puesto de Control</label>
                                            <input type="text" class="form-control" name="tramo" id="tramo" placeholder="Seleccione un Tramo" ng-model="PuestoControl" typeahead-no-results="myform.tramo.$error.required" uib-typeahead="pto as pto.Nombre for pto in ListadoPuestoControles| filter:$viewValue | limitTo: 5" ng-blur="PuestoControl=VerificarAutocomplete(PuestoControl)">
                                        </div>
                                    </div>
                                    <br />
                                    <div class="pull-right">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-4 col-xs-12">
                                                <button type="button" class="btn btn-success" title="Adicionar" ng-click="AgregarPuesto()">
                                                    Adicionar
                                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="resultadoConsulta" class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>

                                        <th>Nombre</th>
                                        <th>Orden</th>
                                        <th>Tiempo Estimado Arribo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in Modal.PuestosControl | orderBy : item.Orden">

                                        <td>{{item.Nombre}}</td>
                                        <td>
                                            <input type="text" ng-model="item.Orden" maxlength="3" ng-change="item.Orden=MaskNumeroGrid(item.Orden)" />
                                        </td>
                                        <td>
                                            <input type="text" ng-change="item.HoraPuesto = MaskHoraGrid(item.HoraPuesto)" class="form-control" maxlength="5" placeholder="HH:MM" ng-model="item.HoraPuesto" />
                                        </td>
                                        <td style="text-align:right">
                                            <button class="button mini-button danger" title="Eliminar puesto de control" ng-click="EliminarPuestoControl($index,item)">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                        <!--<td style="text-align:right" data-toggle="tooltip" title="El tramo no se puede eliminar debido a que tiene relacionado un tarifario" ng-if="item.BloqueoTramo == 1">
                                            <button class="button mini-button primary" disabled>
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>-->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="InsertarPuestosControl()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal puestos de control-->
    <!--Modal peaje-->
    <div class="modal fade" id="modalPeajes" tabindex="-1" role="dialog" aria-labelledby="modalPeajes" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-body">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Asignar Peajes</strong>
                        </h4>
                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorPeaje.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesErrorPeaje">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblNombRuta">RUTA: {{Modal.Nombre}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="col-md-12 col-sm-4 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-4 col-xs-12">
                                            <label>Peaje</label>
                                            <input type="text" class="form-control" name="Peajes" id="Peajes" placeholder="Seleccione un Peaje" ng-model="Peajes"
                                                   uib-typeahead="peaje as peaje.Nombre for peaje in ListadoPeajes| filter:$viewValue | limitTo: 5"
                                                   ng-blur="Peajes=VerificarAutocomplete(Peajes)" ng-enter="AgregarPeaje()">
                                        </div>
                                    </div>
                                    <br />
                                    <div class="pull-right">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-4 col-xs-12">
                                                <button type="button" class="btn btn-success" name="AgregarP" id="AgregarP" title="Adicionar" ng-click="AgregarPeaje()">
                                                    Adicionar
                                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="resultadoConsulta" class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Orden</th>
                                        <th>Tiempo Estimado Arribo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in Modal.PeajeRutas">

                                        <td>{{item.Peaje.Nombre}}</td>
                                        <td>
                                            <input type="text"  ng-model="item.Orden" maxlength="3" ng-change="item.Orden=MaskNumeroGrid(item.Orden)" />
                                        </td>
                                        <td>
                                     
                                            <input type="time"   step="1" ng-model="item.TiempoEstimado"  >
                                        </td>
                                        <td style="text-align:right">
                                            <button  tabindex="-1" class="button mini-button danger" title="Eliminar puesto de control" ng-click="EliminarPeaje($index,item)">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                        <!--<td style="text-align:right" data-toggle="tooltip" title="El tramo no se puede eliminar debido a que tiene relacionado un tarifario" ng-if="item.BloqueoTramo == 1">
                                            <button class="button mini-button primary" disabled>
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>-->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="InsertarPeaje()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal peaje-->
    
    <!--Modal taryectos-->
    <div class="modal fade" id="modalTrayectos" tabindex="-1" role="dialog" aria-labelledby="modalTrayectos" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-body">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Asignar Trayectos</strong>
                        </h4>
                       
                    </div>
                    <div class="modal-body">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblNombRuta">RUTA: {{ModalTrayectos.Nombre}}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="alert alert-danger" role="alert" ng-if="MensajesErrorTrayecto.length > 0">
                                <ul>
                                    <li ng-repeat="error in MensajesErrorTrayecto">
                                        <span>{{error}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="col-md-12 col-sm-4 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-4 col-xs-12">
                                            <label>Trayecto</label>
                                            <input type="text" class="form-control" name="Peajes" id="Peajes" placeholder="Seleccione un Trayecto" ng-model="Trayecto"
                                                   uib-typeahead="trayecto as trayecto.Nombre for trayecto in AutocompleteTrayectos($viewValue)| filter:$viewValue | limitTo: 5"
                                                   ng-blur="Trayecto=VerificarAutocomplete(Trayecto)">
                                        </div>
                                    </div>
                                    <br />
                                    <div class="pull-right">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-4 col-xs-12">
                                                <button type="button" class="btn btn-success" title="Adicionar" ng-click="AgregarTrayecto()">
                                                    Adicionar
                                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="resultadoConsulta" class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Orden</th>
                                        <th>Porcentaje Flete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ModalTrayectos.TrayectosRuta">

                                        <td>{{item.RutaTrayecto.Nombre}}</td>
                                        <td>
                                            <input class="form-control text-right" type="text" ng-model="item.Orden" maxlength="3" ng-change="item.Orden=MaskNumeroGrid(item.Orden)" />
                                        </td>
                                        <td>
                                            <input class="form-control text-right" type="text" ng-model="item.PorcentajeFlete" ng-change="item.PorcentajeFlete = MaskPorcentajeTrayectos(item.PorcentajeFlete,0,4)" />
                                                                                    </td>
                                        <td style="text-align:right">
                                            <button class="button mini-button danger" title="Eliminar puesto de control" ng-click="EliminarTrayecto($index,item)">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="InsertarTrayectos()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Fin Modal trayectos-->
    <!--Modal Gastos-->
    <div class="modal fade" id="modalGastosRuta" tabindex="-1" role="dialog" aria-labelledby="modalGastosRuta" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Asignar Gastos</strong>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorGastos.length > 0">
                                            <ul>
                                                <li ng-repeat="error in MensajesErrorGastos">
                                                    <span>{{error}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Ruta</label>
                                            <input placeholder="Ingrese Ruta" type="text" name="Ruta" id="Ruta"
                                                   class="form-control" ng-model="TMPOrigenDestino.Ruta" disabled>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="Tipo Vehiculo">Tipo Vehículo</label>
                                            <select name="TipoVehiculo" id="TipoVehiculo" class="form-control" placeholder="Ingrese Tipo Vehículo" ng-model="ModalGastosRuta.TipoVehiculo"
                                                    ng-options="i.Nombre for i in ListadoTipoVehiculo"></select>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="Concepto">Concepto</label>
                                            <select name="Concepto" id="Concepto" class="form-control" placeholder="Ingrese Concepto" ng-model="ModalGastosRuta.Concepto"
                                                    ng-options="i.Nombre for i in ListadoConceptosGastos" ng-change="ValidarConcepto()"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor</label>
                                            <input  ng-change="MaskValores()"   placeholder="Digite Valor" type="text"
                                                   class="form-control text-right" name="Valor" id="Valor" ng-model="ModalGastosRuta.Valor" ng-disabled="ModalGastosRuta.Concepto.Codigo == 10003 || ModalGastosRuta.Concepto.Codigo == 107">
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Aplica Anticipo</label>
                                            <br />
                                            <input type="checkbox" ng-model="ModalGastosRuta.AplicaAnticipo">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-success" title="Adicionar" ng-click="AdicionarGastosRuta()">
                                                Adicionar
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>
                                            <!--<button type="button" class="btn btn-default" ng-show="isEditGastosRuta" ng-click="LimpiarmodalGastosRuta()">
                                                Cancelar
                                                <span class="glyphicon glyphicon-remove-circle"></span>
                                            </button>-->
                                            <!--<button type="button" class="btn btn-primary" title="Adicionar" ng-click="AdicionarGastosRuta()" ng-show="isEditGastosRuta">
                                                Modificar
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>-->

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="resultadoConsulta">
                                            <div class="table-responsive" ng-if="ListaGastosRuta.length > 0">
                                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th>Tipo Vehículo</th>
                                                            <th>Concepto Gasto</th>
                                                            <th>Valor</th>
                                                            <th style="max-width : 65px;">Aplica Anticipo</th>
                                                            <th>Opciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in ListaGastosRuta | orderBy: '[TipoVehiculo.Nombre,Concepto.Nombre]'">
                                                            <td>{{item.TipoVehiculo.Nombre}}</td>
                                                            <td>{{item.Concepto.Nombre}}</td>

                                                            <td class="text-right">
                                                                <input tabindex="4" ng-change="item.Valor = MaskValoresGrid(item.Valor)" placeholder="Digite Valor" type="text"
                                                                       class="form-control text-right" ng-model="item.Valor" ng-disabled="item.Concepto.Codigo == 10003">
                                                            </td>
                                                            <td class="text-center"><input type="checkbox" ng-model="item.AplicaAnticipo"></td>

                                                            <td>
                                                                <!--<button class="button mini-button btn-default" title="Eliminar" ng-click="EditarGastoRuta(item); item.editable = true; InputValor = false" ng-show="!isEditGastosRuta">
                                                                    <span class="fa fa-edit"></span>
                                                                </button>-->

                                                                <button class="button mini-button btn-danger" title="Editar" ng-click="ConfirmarEliminarGastosRuta(item)">
                                                                    <span class="fas fa-trash-alt"></span>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Cancelar
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarGastosRuta()">
                                    Aceptar
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Modal Cargues y Descargues-->
    <div class="modal fade" id="modalCarguesDescargues" tabindex="-1" role="dialog" aria-labelledby="modalGastosRuta" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Cargues y Descargues</strong>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorCargueDescargue.length > 0">
                                            <ul>
                                                <li ng-repeat="error in MensajesErrorCargueDescargue">
                                                    <span>{{error}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Ruta</label>
                                            <input placeholder="Ingrese Ruta" type="text"
                                                   class="form-control" ng-model="TMPRuta.Nombre" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="Concepto">Sitio Cargue / Descargue</label>
                                            <select name="Concepto" class="form-control" placeholder="Ingrese Concepto" ng-model="ModalCargueDescargue.Sitio"
                                                    ng-options="i.Nombre for i in ListadoSitiosCargueDescargueFiltrado | orderBy:'Nombre'"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="Tipo Vehiculo">Tipo Vehículo</label>
                                            <select name="Concepto" class="form-control" placeholder="Ingrese Tipo Vehículo" ng-model="ModalCargueDescargue.TipoVehiculo"
                                                    ng-options="i.Nombre for i in ListadoTipoVehiculo | orderBy: 'Nombre'"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor Cargue</label>
                                            <input tabindex="4" ng-change="MaskValores()" placeholder="Digite Valor" type="text"
                                                   class="form-control text-right" ng-model="ModalCargueDescargue.ValorCargue">
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor Descargue</label>
                                            <input tabindex="4" ng-change="MaskValores()" placeholder="Digite Valor" type="text"
                                                   class="form-control text-right" ng-model="ModalCargueDescargue.ValorDescargue">
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Aplica Anticipo</label>
                                            <br />
                                            <input type="checkbox" ng-model="ModalCargueDescargue.AplicaAnticipo" disabled>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-success" title="Adicionar" ng-click="AdicionarCargueDescargue()">
                                                Adicionar
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="resultadoConsulta">
                                            <div class="table-responsive" ng-if="ListaCargueDescargue.length > 0">
                                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th>Sitio Cargue/Descargue</th>
                                                            <th>Tipo Vehículo</th>
                                                            <th>Valor Cargue</th>
                                                            <th>Valor Descargue</th>
                                                            <th>Aplica Anticipo</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in ListaCargueDescargue | orderBy: '[Sitio.Nombre,TipoVehiculo.Nombre]'">
                                                            <td>{{item.Sitio.Nombre}}</td>
                                                            <td>{{item.TipoVehiculo.Nombre}}</td>

                                                            <td class="text-right">
                                                                <input tabindex="4" ng-change="item.ValorCargue = MaskValoresGrid(item.ValorCargue)" placeholder="Digite Valor" type="text"
                                                                       class="form-control text-right" ng-model="item.ValorCargue">
                                                            </td>

                                                            <td class="text-right">
                                                                <input tabindex="4" ng-change="item.ValorDescargue = MaskValoresGrid(item.ValorDescargue)" placeholder="Digite Valor" type="text"
                                                                       class="form-control text-right" ng-model="item.ValorDescargue">
                                                            </td>
                                                            <td class="text-right">
                                                                <input type="checkbox" ng-model="item.AplicaAnticipo" disabled>
                                                            </td>

                                                            <td>
                                                                <button class="button mini-button btn-danger" title="Editar" ng-click="ConfirmarEliminarCargueDescargue($index)">
                                                                    <span class="fas fa-trash-alt"></span>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Cancelar
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarCargueDescargue()">
                                    Aceptar
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Modal Gastos-->
    <!-- Modal Confirmación Eliminar Gastos Ruta-->
    <div class="modal fade" id="modalEliminarGastosRuta" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Eliminar Gastos Ruta</strong>
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p class="text-center">¿Esta seguro que desea eliminar la información?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Eliminar Concepto" ng-click="EliminarGastosRuta(TmpEliminarGastosRuta.Indice)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmación Eliminar Gastos Ruta-->
    <!-- Modal Confirmación Eliminar Gastos Ruta-->
    <div class="modal fade" id="modalEliminarCargueDescargue" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Eliminar Sitio Cargue/Descargue Ruta</strong>
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p class="text-center">¿Esta seguro que desea eliminar la información?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Eliminar" ng-click="EliminarCargueDescargue(TmpEliminarCargueDescargue)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>