﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" name="txtNombre" ng-change="MaskMayus()" class="form-control" maxlength="100" placeholder="Nombre" ng-model="Modelo.Nombre" />
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Código Alterno</label>
                                <input type="text" name="txtCodiAlte" class="form-control" maxlength="20" placeholder="Código Alterno" ng-model="Modelo.CodigoAlterno" />
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="lblTipoIden">Tipo Puesto Control</label>
                                <select name="cmbTipoIden" class="form-control" ng-model="Modelo.TipoPuestoControl" ng-options="i.Nombre for i in ListadotipoPuestoControl"></select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Contacto</label>
                                <input type="text" name="txtNombre" ng-change="MaskMayus()" class="form-control" maxlength="100" placeholder="Contacto" ng-model="Modelo.Contacto" />
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Teléfono</label>
                                <input type="text" name="txtNombre" ng-change="MaskNumero()" class="form-control" maxlength="30" placeholder="Teléfono" ng-model="Modelo.Telefono" />
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Celular</label>
                                <input type="text" name="txtNombre" ng-change="MaskNumero()" class="form-control" maxlength="30" placeholder="Celular" ng-model="Modelo.Celular" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label>Proveedor {{Modelo.Proveedor.NumeroIdentificacion}}</label>
                            <input maxlength="60" type="text" class="form-control" name="Proveedor" id="propietario" placeholder="Seleccione un Proveedor" ng-model="Modelo.Proveedor"
                                   uib-typeahead="Proveedor as Proveedor.NombreCompleto for Proveedor in AutocompleteProveedor($viewValue)| filter:$viewValue | limitTo: 5"
                                   ng-required="false" ng-blur="Modelo.Proveedor=VerificarAutocomplete(Modelo.Proveedor)">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Ubicación</label>
                                <textarea type="text" name="txtNombre" ng-change="MaskMayus()" class="form-control" maxlength="300" placeholder="Ubicación" ng-model="Modelo.Ubicacion"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Latitud</label>
                            <input ng-model="Modelo.Latitud" ng-change="Modelo.Latitud=MasckDecimal(Modelo.Latitud)" maxlength="18" class="form-control" placeholder="Latitud" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Longitud</label>
                            <input ng-model="Modelo.Longitud" ng-change="Modelo.Longitud=MasckDecimal(Modelo.Longitud)" maxlength="18" class="form-control" placeholder="Longitud" />
                        </div>
                    </div>

                    <!--Div Mapa-->
                    <div class="col-md-12 col-sm-12 col-xs-12 " style="text-align:center">

                        <div class="box box-default box-solid collapsed-box ">
                            <!--Collapse-->
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    Mapa
                                </h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!--  --- MAPA  ---- -->
                            <div class="box-body">
                                <div style="height: 700px" id="gmaps"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Estado</label>
                                <select name="cmbEstado" class="form-control" ng-model="Modelo.Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>


