﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content"> 
        <form name="myform" autocomplete="off"> 
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                        <ul>
                            <li ng-repeat="error in MensajesError">
                                <span>{{error}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
           <div class="row">
                <br />
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="lblNombRuta">Ruta </label>
                        <input maxlength="60" type="text" autocomplete="off" class="form-control" placeholder="Ingrese Ruta" ng-model="Modelo.Ruta"
                               uib-typeahead="Ruta as Ruta.Nombre for Ruta in AutocompleteRuta($viewValue) | filter: $viewValue | limitTo:5"
                               ng-blur="Modelo.Ruta = VerificarAutocomplete(Modelo.Ruta)" />
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="lblVehiculo">Peaje</label>
                        <input maxlength="60" type="text" autocomplete="off" class="form-control" placeholder="Ingrese Peaje" ng-model="Modelo.Peaje"
                               uib-typeahead="Peaje as Peaje.Nombre for Peaje in AutocompletePeajes($viewValue) | filter: $viewValue | limitTo:5"
                               ng-blur="Modelo.Peaje = VerificarAutocomplete(Modelo.Peaje)" />
                    </div>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label>Orden</label>
                        <input type="text" name="txtCodiAlte" class="form-control  text-left" maxlength="20" placeholder="Digite Orden" ng-model="Modelo.CodigoAlterno" />
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label>Horas Estimadas</label>
                        <input name="Horas" ng-change="MaskDecimales()" class="form-control  text-left" maxlength="8" placeholder="Digite horas" ng-model="Modelo.DuracionHoras" />
                    </div>
                </div>
            </div>
              
            <div class="modal-footer">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form> 
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="AgregarPeaje()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>


