﻿<div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Placa</label>
                            <br />
                            <input ng-change="MaskPlaca()" name="txtplaca" type="text" placeholder="Digite una placa" class="form-control" ng-model="Modelo.Placa" maxlength="6" ng-required="true" ng-disabled="DesactivarPlaca" ng-blur="VerificarExistencia()" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Código Vehículo</label>
                            <input name="txtNumero" class="form-control" placeholder="Digite códgio vehículo" maxlength="20" ng-model="Modelo.CodigoAlterno" ng-change="LimpiarTenedor()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Semirremolque</label>
                            <input maxlength="30" type="text" class="form-control" name="marca" id="marca" placeholder="Seleccione el Semirremolque" ng-model="Modelo.Semirremolque" uib-typeahead="Semirremolque as Semirremolque.Placa for Semirremolque in ListadoSemirremolques| filter:$viewValue | limitTo: 5" ng-blur="Modelo.Semirremolque=VerificarAutocomplete(Modelo.Semirremolque);VerificarAsociacionSemirremolque()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Estudio Seguridad</label>
                            <div style="display:flex">
                                <input ng-change="MaskNumero()" name="txtCodiAlte" placeholder="Digite el número del Estudio" type="text" maxlength="10" class="form-control" ng-model="NumeroEstudioSeguridad">
                                <button type="button" class="btn btn-primary" title="Cargar" ng-click="CargarVehiculoEstudio()">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" onselectstart="return false" ng-click="MostrarTerceros()">Terceros</a></li>
                    <li><a data-toggle="tab" onselectstart="return false" ng-click="MostrarCaracteristicas()">Características</a></li>
                    <li ng-if="ListadoDocumentos.length > 0"><a data-toggle="tab" onselectstart="return false" ng-click="MostrarDocumentos()">Documentos</a></li>
                    <li><a data-toggle="tab" onselectstart="return false" ng-click="MostrarGPS()">GPS</a></li>
                    <li><a data-toggle="tab" onselectstart="return false" ng-click="MostrarEstado()">Estado</a></li>
                    <li ng-if="ItemFoto.Habilitado == 1"><a data-toggle="tab" onselectstart="return false" ng-click="MostrarFoto()">Foto</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" aria-selected="false" onselectstart="return false" ng-click="MostrarNovedades()">Novedades</a></li>
                </ul>
                <div id="terceros">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Terceros</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="alert alert-warning alert-dismissible p-3 mb-2" ng-show="SucursalInvalido">
                                        <!--<a href="" class="close" ng-click="TarifarioInvalido = false" aria-label="close">&times;</a>-->
                                        No existe una sucursal con el mismo codigo alterno del vehiculo.
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Propietario {{Modelo.Propietario.NumeroIdentificacion}}</label>
                                        <input maxlength="60"
                                               type="text" class="form-control" name="propietario" id="propietario" placeholder="Seleccione un propietario"
                                               ng-model="Modelo.Propietario"
                                               uib-typeahead="propietarios as propietarios.NombreCompleto for propietarios in AutocompletePropietario($viewValue)| filter:$viewValue | limitTo: 5"
                                               ng-required="false"
                                               ng-blur="Modelo.Propietario=VerificarAutocomplete(Modelo.Propietario)">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Tenedor {{Modelo.Tenedor.NumeroIdentificacion}}</label>
                                        <input maxlength="60"
                                               type="text"
                                               class="form-control"
                                               name="tenedor"
                                               id="tenedor"
                                               placeholder="Seleccione un tenedor"
                                               ng-model="Modelo.Tenedor"
                                               uib-typeahead="tenedores as tenedores.NombreCompleto for tenedores in AutocompleteTenedor($viewValue)| filter:$viewValue | limitTo: 5"
                                               ng-required="false" ng-blur="Modelo.Tenedor=VerificarAutocomplete(Modelo.Tenedor); SucursalesTenedorSIESA()">
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblSucursal">Sucursal</label>
                                        <div style="display:flex">
                                            <select name="cmbSucursal" class="form-control"
                                                    ng-model="Modelo.Sucursal" ng-options="i.Sucursal for i in ListadoSucursales | orderBy:'Sucursal'"
                                                    ng-blur="VerificarSucursal()" ng-disabled="CargandoSucursales"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Conductor {{Modelo.Conductor.NumeroIdentificacion}}</label>
                                        <input maxlength="60" type="text" class="form-control" name="conductor" id="conductor" placeholder="Seleccione un conductor" ng-model="Modelo.Conductor" uib-typeahead="conductores as conductores.NombreCompleto for conductores in AutocompleteConductor($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.Conductor=VerificarAutocomplete(Modelo.Conductor)">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Afiliador {{Modelo.Afiliador.NumeroIdentificacion}}</label>
                                        <input maxlength="60" type="text" class="form-control" name="afiliadora" id="afiliadora" placeholder="Seleccione una empresa afiliadora" ng-model="Modelo.Afiliador" uib-typeahead="Afiliadoras as Afiliadoras.NombreCompleto for Afiliadoras in AutocompleteAfilidor($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.Afiliador=VerificarAutocomplete(Modelo.Afiliador)">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="caracteristicas">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Características</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Tipo Dueño</label>
                                    <select name="cmbTipoDueno" class="form-control" ng-model="Modelo.TipoDueno" ng-options="i.Nombre for i in ListadoTipoDueno | orderBy:'Nombre'"></select>
                                </div>

                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label for="lblTipoVehi">Tipo Vehículo</label>
                                    <select name="cmbTipoVehi" class="form-control" ng-model="Modelo.TipoVehiculo" ng-options="i.Nombre for i in ListadoTipoVehiculo | orderBy:'Nombre'"></select>
                                </div>

                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label for="lblTipoVehi">Tipo Combustible</label>
                                    <select name="cmbTipoVehi" class="form-control" ng-model="Modelo.TipoCombustible" ng-options="i.Nombre for i in ListadoTiposCombustible | orderBy:'Nombre'"></select>
                                </div>
                                <!--<div class="col-md-2 col-sm-4 col-xs-12">
                                    <label for="lblLoca">Localización</label>
                                    <select name="cmbLoca" class="form-control" ng-model="Modelo.Localizacion" ng-options="i.Nombre for i in ListadoLocalizacion"></select>
                                </div>-->

                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Tarjeta Propiedad</label>
                                    <input ng-change="MaskNumero()" type="text" placeholder="Digite n° De T.Propiedad" class="form-control" Name="txtNumeTarjProp" maxlength="20" ng-model="Modelo.TarjetaPropiedad">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label for="lblTipoVehi">Tipo Carrocería</label>
                                    <select name="cmbTipoVehi" class="form-control" ng-model="Modelo.TipoCarroceria" ng-options="i.Nombre for i in ListadoTipoCarroceria | orderBy:'Nombre'"></select>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Número Motor</label>
                                    <input ng-change="MaskMayus()" placeholder="Digite n° del motor" type="text" class="form-control" Name="txtNumeMotor" maxlength="20" ng-model="Modelo.NumeroMotor">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Modelo</label>
                                    <input ng-change="MaskNumero()" type="text" placeholder="Digite el modelo" class="form-control" Name="txtMode" maxlength="4" ng-model="Modelo.Modelo">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Modelo Repotenciado</label>
                                    <input ng-change="MaskNumero()" type="text" placeholder="Digite el modelo" class="form-control" Name="txtMode" maxlength="4" ng-model="Modelo.ModeloRepotenciado">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Número Serie/Chasís</label>
                                    <input ng-change="MaskMayus()" placeholder="Digite el chasis" type="text" class="form-control" Name="txtChas" maxlength="20" ng-model="Modelo.Chasis">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label for="lblColor">Color</label>
                                    <input maxlength="20" type="text" autocomplete="off" class="form-control" name="color" id="color" placeholder="Seleccione el color" ng-model="Modelo.Color" uib-typeahead="colores as colores.Nombre for colores in AutocompleteColores($viewValue)| filter:$viewValue | limitTo: 15" ng-blur="Modelo.Color=VerificarAutocomplete(Modelo.Color)">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Marca</label>
                                    <input maxlength="30" type="text" autocomplete="off" class="form-control" name="marca" id="marca" placeholder="Seleccione la Marca" ng-model="Modelo.Marca" uib-typeahead="marcas as marcas.Nombre for marcas in ListadoMarcas| filter:$viewValue | limitTo: 5" ng-blur="Modelo.Marca=VerificarAutocomplete(Modelo.Marca);AsignarLineaVehiculo(Modelo.Marca)">

                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label for="lblLine">Línea</label>
                                    <input type="text" autocomplete="off" class="form-control" placeholder="Seleccione la línea" ng-model="Modelo.Linea" uib-typeahead="lineas as lineas.Nombre for lineas in ListadoLineas| filter:$viewValue | limitTo: 5" ng-blur="Modelo.Linea=VerificarAutocomplete(Modelo.Linea)">
                                </div>

                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Peso Bruto (Kg)</label>
                                    <input style="text-align:right" ng-change="MaskValores()" placeholder="Digite el peso Bruto" type="text" class="form-control" Name="txtPesoBrut" maxlength="7" ng-model="Modelo.PesoBruto">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Capacidad (Kg)</label>
                                    <input style="text-align:right" ng-change="MaskValores()" placeholder="Digite el peso Bruto" type="text" class="form-control" Name="txtPesoBrut" maxlength="7" ng-model="Modelo.Capacidad">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Peso Vacío(Kg)</label>
                                    <input style="text-align:right" ng-change="MaskValores()" placeholder="Digite el peso vacío" type="text" class="form-control" Name="txtPesoBrut" maxlength="7" ng-model="Modelo.PesoTara">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Capacidad Galones</label>
                                    <input style="text-align:right" ng-change="MaskValores()" placeholder="Digite el peso Bruto" type="text" class="form-control" Name="txtPesoBrut" maxlength="7" ng-model="Modelo.CapacidadGalones">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Capacidad Volumen(M3)</label>
                                    <input style="text-align:right" ng-change="MaskValores()" placeholder="Digite el peso Bruto" type="text" class="form-control" Name="txtPesoBrut" maxlength="7" ng-model="Modelo.CapacidadVolumen">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6">
                                    <label>No. Ejes</label>
                                    <input ng-change="MaskValores()" placeholder="N° de ejes 1-9" type="text" class="form-control" Name="txtNumeEjes" maxlength="2" ng-model="Modelo.NumeroEjes">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Cilindraje</label>
                                    <input style="text-align:right" ng-change="MaskValores()" placeholder="Cilindraje" type="text" class="form-control" Name="txtNumeEjes" maxlength="6" ng-model="Modelo.Cilindraje">
                                </div>

                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Kilometraje</label>
                                    <input style="text-align:right" ng-change="MaskValores()" placeholder="Kilometraje" type="text" class="form-control" Name="txtCatePeaj" maxlength="10" ng-model="Modelo.Kilometraje">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Fecha kilometraje</label>
                                    <input name="txtFechVinc" type="date" class="form-control" ng-model="Modelo.FechaActualizacionKilometraje">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12" ng-show=" DesabilitarFechaUltimoCargue ">
                                    <label>Ultima Fecha Cargue</label>
                                    <input name="txtFechVinc" type="date" class="form-control" ng-model="Modelo.FechaUltimoCargue" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="documentos">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Documentos</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Documento</th>
                                        <th>Referencia</th>
                                        <th>Emisor</th>
                                        <th>Fecha Emisión</th>
                                        <th>Fecha Vencimiento</th>
                                        <th>Adjunto</th>
                                        <th>Inactivación Obligatoria</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoDocumentos | orderBy:'Documento.Nombre'">
                                        <td>{{item.Documento.Nombre}}</td>
                                        <td>
                                            <input ng-change="MaskMayus()" ng-if="item.AplicaReferencia > 0" type="text" class="form-control" ng-model="item.Referencia" maxlength="50" placeholder="Ingrese una referencia" ng-disabled="false" />
                                        </td>
                                        <td>
                                            <input ng-change="MaskMayus()" ng-show="item.AplicaEmisor > 0 && item.Codigo !== 102" maxlength="60" type="text" class="form-control" name="propietario" id="propietario" placeholder="Seleccione un emisor" ng-model="item.Emisor"
                                                   uib-typeahead="Emisor as Emisor.NombreCompleto for Emisor in AutocompleteEmisor($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="item.Emisor=item.Emisor.NombreCompleto? item.Emisor.NombreCompleto: item.Emisor">
                                            <input ng-change="MaskMayus()" ng-show="item.AplicaEmisor > 0 && item.Codigo == 102" type="text" class="form-control" name="propietario" id="propietario" placeholder="Seleccione un Emisor" ng-model="item.Emisor"
                                                   uib-typeahead="Emisor as Emisor.NombreCompleto for Emisor in AutocompleteAseguradora($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="item.Emisor=VerificarAutocomplete(item.Emisor)">
                                        </td>
                                        <td>
                                            <input type="date" class="form-control" ng-if="item.AplicaFechaEmision > 0" ng-model="item.FechaEmision" id="FechaEmision" />
                                        </td>
                                        <td>
                                            <input type="date" class="form-control" ng-if="item.AplicaFechaVencimiento > 0" ng-model="item.FechaVence" id="FechaVence" />
                                        </td>
                                        <td>
                                            <div tabindex="400" class="btn btn-primary btn-file" ng-if="item.AplicaArchivo > 0">
                                                <i class="glyphicon glyphicon-folder-open"></i>
                                                <input type="file" ng-model-instant onchange="angular.element(this).scope().CargarArchivo(this)" accept="{{item.TipoArchivoDocumento.CampoAuxiliar2}}" class="">
                                            </div>
                                        </td>
                                        <td align="center">

                                            <input type="checkbox" ng-model="item.AplicaInactivacion" ng-disabled="Sesion.UsuarioAutenticado.ObligatoriedadPolizasYTecnicoMecanica && (item.Documento.Codigo==3 ||item.Documento.Codigo==5 ||item.Documento.Codigo==6)">

                                        </td>
                                        <td>
                                            <button ng-if="item.ValorDocumento == 1 && item.AplicaDescargar > 0" class="button mini-button btn-success" data-toggle="tooltip" title="Ver Archivo" ng-click="DesplegarArchivo(item)">
                                                <span class="fa fa-file"></span>
                                            </button>
                                            <button ng-if="(item.ValorDocumento == 0 || item.ValorDocumento == Undefined) && item.AplicaDescargar > 0" class="button mini-button primary" disabled>
                                                <span class="fa fa-file"></span>
                                            </button>
                                            <button ng-if="item.ValorDocumento == 1 && item.AplicaEliminar > 0" class="button mini-button btn-danger" data-toggle="tooltip" title="Eliminar Archivo" ng-click="ElimiarDocumento(item)">
                                                <span class="fas fa-trash-alt"></span>
                                            </button>
                                            <button ng-if="(item.ValorDocumento == 0 || item.ValorDocumento == Undefined) &&  item.AplicaEliminar > 0" class="button mini-button primary" disabled>
                                                <span class="fas fa-trash-alt"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="gps">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">GPS</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <input type="checkbox" ng-model="GPS.Tiene" ng-change="CamposGPS()"> Tiene GPS
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label>URL GPS</label>
                                    <input type="text" class="form-control" placeholder="Ingrese la URL" Name="txtUsua" maxlength="200" ng-model="Modelo.URLGPS" ng-disabled="DeshabilitarUsuario">
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label>Proveedor</label>
                                    <input ng-change="MaskMayus()" maxlength="60" type="text" class="form-control" name="proveedor" id="proveedor" placeholder="Seleccione un proveedor" ng-model="Modelo.ProveedorGPS" uib-typeahead="proveedores as proveedores.NombreCompleto for proveedores in AutocompleteProveedor($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.ProveedorGPS=VerificarAutocomplete(Modelo.ProveedorGPS)" ng-disabled="DeshabilitarProveedor">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Identificador</label>
                                    <input type="text" class="form-control" placeholder="Ingrese el usuario" Name="txtUsua" maxlength="50" ng-model="Modelo.IdentificadorGPS" ng-disabled="DeshabilitarUsuario">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Usuario</label>
                                    <input type="text" class="form-control" placeholder="Ingrese el usuario" Name="txtUsua" maxlength="50" ng-model="Modelo.UsuarioGPS" ng-disabled="DeshabilitarUsuario">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Clave</label>
                                    <input type="text" class="form-control" placeholder="Ingrese la clave" Name="txtClav" maxlength="50" ng-model="Modelo.ClaveGPS" ng-disabled="DeshabilitarClave">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Teléfono</label>
                                    <input ng-change="MaskNumero()" type="text" placeholder="Digite n° De telefono" class="form-control" Name="txtTele" maxlength="10" ng-model="Modelo.TelefonoGPS" ng-disabled="DeshabilitarTelefono">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="estado">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Estado</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Estado</label>
                                    <select name="cmbEstado" class="form-control" ng-model="Modelo.Estado" ng-options="i.Nombre for i in ListadoEstados" ng-disabled="DeshabilitarEstado" ng-change="AsignarJustificacionBloqueo(Modelo.Estado.Codigo)"></select>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12" id="CausaInactividad">
                                    <label>Causa inactividad</label>
                                    <select name="cmbCausa" class="form-control" ng-model="Modelo.CausaInactividad" ng-options="i.Nombre for i in ListadoCausa | orderBy:'Nombre'" ng-disabled="DeshabilitarEstado"></select>
                                </div>
                                <div class="col-md-7 col-sm-4 col-xs-12" id="JustificacionBloqueo">
                                    <div class="form-group">
                                        <label>Justificación inactividad</label>
                                        <input type="text" class="form-control" Name="txtJustBloq" maxlength="500" ng-model="Modelo.JustificacionBloqueo" ng-disabled="DeshabilitarEstado" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="foto">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Foto</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="table-responsive">
                                    <div class="box-body" style="width:auto">
                                        <table class="table table-responsive table-condensed table table-sm">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">
                                                        <div class="input-control file" data-role="input">
                                                            <input type="file" ng-model-instant onchange="angular.element(this).scope().CargarImagen(this)" accept="image/x-png, image/jpeg, application/pdf">
                                                        </div>
                                                        <div>
                                                            <h5 class="small">* Las imágenes con un tamaño superior a 4 MB no se tendrán en cuenta</h5>
                                                            <h5 class="small">* Sólo se permite cargar imágenes en formato jpeg, png o pdf</h5>
                                                            <h5 class="small">* Sólo se permite adjuntar máximo 3 imágenes</h5>
                                                        </div>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        IMAGEN
                                                    </th>
                                                    <th>
                                                        BORRAR
                                                    </th>
                                                </tr>
                                            </thead>

                                            <tbody class="logo">
                                                <tr ng-repeat="Item in list.Fotos">
                                                    <td>
                                                        <div class="logo">
                                                            <img ng-if="Item.ExtencionDocumento == 'PNG'" style="width:400px;height:250px" ng-src="data:image/png;base64,{{Item.Documento}}" />
                                                            <img ng-if="Item.ExtencionDocumento == 'JPEG'" style="width:400px;height:250px" ng-src="data:image/jpeg;base64,{{Item.Documento}}" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="button error" title="Borrar foto" ng-click="EliminarFoto($index, Item.Codigo, Item.EliminarTemporal)">
                                                            Borrar
                                                            <span class="icon mif-cross"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="novedades" class="tab-pane">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Novedades Vehículo</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="pull-left">
                                        <button class="btn btn-primary" title="Agregar" ng-click="AgregarNovedadVehiculo()">
                                            Agregar
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding:10px" ng-show="ListadoFiltradoNovedadesVehiculo.length > 0">
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Fecha</th>
                                            <th>Hora</th>
                                            <th>Responsable</th>
                                            <th>Estado</th>
                                            <th>Novedad</th>
                                            <th>Justificación</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ListadoFiltradoNovedadesVehiculo | orderBy: '-Fecha'">
                                            <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                            <td>{{item.Fecha | date: 'hh:mm:ss a'}}</td>
                                            <td>{{item.Responsable.NombreCompleto}}</td>
                                            <td>{{item.Estado.Nombre}}</td>
                                            <td>{{item.Novedad.Nombre}}</td>
                                            <td>
                                                <a href="" data-toggle="tooltip" title={{item.JustificacionNovedad}}>...Ver más</a>
                                            </td>

                                        </tr>
                                    </tbody>

                                    <tfoot>
                                        <tr>
                                            <td colspan="4">
                                                <small>Página: {{NumeroPaginaNovedades}} de {{totalPaginasNovedades}} ({{ListaNovedadesVehiculo.length}} Registros)</small>
                                                <div class="pagination rightAling">
                                                    <button class="button primary" ng-click="PrimerPaginaNovedades()" title="Primera">
                                                        <span class="item">&laquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="AnteriorNovedades()" title="Anterior">
                                                        <span class="item">&lsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="SiguienteNovedades()" title="Siguiente">
                                                        <span class="item">&rsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="UltimaPaginaNovedades()" title="Última">
                                                        <span class="item">&raquo;</span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>

                            <div class="SeccionBotones">
                                <div class="pull-left">
                                    <table>
                                        <tr>
                                            <td>
                                                <button class="button mini-button btn-success" style="border-radius:5px; width:50px; height:50px; color:white; padding:5px; margin-left:10px" title="Descargar en EXCEL" ng-click="DesplegarExcel(0, 1, 0)">
                                                    <span class="fa fa-file-excel-o" style="font-size:35px"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                    <style>
                                        .fa-file-pdf-o:hover {
                                            color: #58ACFA;
                                        }

                                        .fa-file-excel-o:hover {
                                            color: #58ACFA;
                                        }
                                    </style>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <!--SECCIÓN BOTONES-->
                <div class="SeccionBotones">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                            Cancelar
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                        <button type="button" class="btn btn-primary" ng-disabled="!PermisoGuardar" ng-show="PermisoGuardar" title="Aceptar" ng-click="ConfirmacionGuardar()">
                            Aceptar
                            <span class="glyphicon glyphicon-ok-circle"></span>
                        </button>
                    </div>
                </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <!-- Modal Agregar Novedad -->
    <div class="modal fade" id="modalAgregarNovedad" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            Agregar Novedad
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">

                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label for="lblBanco">Estado</label>
                                    <select name="cmbEstado" class="form-control" ng-change="ValidarEstadoModalNovedades()" ng-model="ModalNovedades.Estado" ng-options="i.Nombre for i in ListadoEstados | orderBy: 'Nombre'"></select>
                                </div>
                            </div>

                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="form-group">
                                    <label for="lblBanco">Novedad</label>
                                    <select name="cmbEstado" class="form-control" ng-change="AsignarJustificacion()" ng-model="ModalNovedades.Novedad" ng-options="i.Nombre for i in ListadoNovedades | orderBy: 'Nombre'"></select>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Justificación</label>
                                    <input name="txtJustBloq" type="text" class="form-control" ng-model="ModalNovedades.Justificacion" maxlength="150" placeholder="Ingrese una Justificación">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">

                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarNovedad()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmación Eliminar Documento  -->
    <div class="modal fade" id="modalConfirmacionEliminarDocumento" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p id="mensajearchivo"></p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="BorrarDocumento()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal remplazar Eliminar Documento  -->
    <div class="modal fade" id="modalConfirmacionRemplazarDocumento" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>Ya hay un documento asignado ¿Desea remplazarlo?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="RemplazarDocumento()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmación Eliminar Documento  -->
    <div class="modal fade" id="modalConfirmacionEliminarDocumento" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p id="mensajearchivo"></p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="BorrarDocumento()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <canvas id="CanvasVertical" width="500" height="700" style="display:none">
        Accede a este script con un navegador que acepte canvas del HTML 5
    </canvas>
    <canvas id="CanvasHorizontal" width="700" height="500" style="display:none">
        Accede a este script con un navegador que acepte canvas del HTML 5
    </canvas>
</div>