﻿<div  ng-init="InitLoad()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <section class="content">
        <form>
            <div class="Form-Imput">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Cliente</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Seleccione cliente" ng-model="Modelo.Cliente"
                                   uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in  AutocompleteCliente($viewValue) | filter:$viewValue | limitTo: 5"
                                   ng-blur="Modelo.Cliente=VerificarAutocomplete(Modelo.Cliente)" ng-disabled="Deshabilitar">
                            <div class="btnClose" ng-click="limpiarControl('Cliente')" title="Limpiar"><span class="fas fa-times-circle"></span></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Remitente</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Seleccione remitente" ng-model="Modelo.Remitente"
                                   uib-typeahead="Remi as Remi.NombreCompleto for Remi in  AutocompleteRemitente($viewValue) | filter:$viewValue | limitTo: 5"
                                   ng-blur="Modelo.Remitente=VerificarAutocomplete(Modelo.Remitente)" ng-disabled="Deshabilitar">
                            <div class="btnClose" ng-click="limpiarControl('Remitente')" title="Limpiar"><span class="fas fa-times-circle"></span></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Tenedor</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Seleccione tenedor" ng-model="Modelo.Tenedor"
                                   uib-typeahead="Tenedor as Tenedor.NombreCompleto for Tenedor in  AutocompleteTenedor($viewValue) | filter:$viewValue | limitTo: 5"
                                   ng-blur="Modelo.Tenedor=VerificarAutocomplete(Modelo.Tenedor)" ng-disabled="Deshabilitar">
                            <div class="btnClose" ng-click="limpiarControl('Tenedor')" title="Limpiar"><span class="fas fa-times-circle"></span></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Producto</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un producto" ng-change="MaskMayus()" ng-model="Modelo.Producto"
                                   uib-typeahead="Prod as Prod.Nombre for Prod in AutocompleteProducto($viewValue)| filter:$viewValue | limitTo: 5"
                                   ng-required="false" ng-blur="Modelo.Producto=VerificarAutocomplete(Modelo.Producto)" ng-disabled="Deshabilitar">
                            <div class="btnClose" ng-click="limpiarControl('Producto')" title="Limpiar"><span class="fas fa-times-circle"></span></div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Cobro</label>
                            <select class="form-control" ng-model="Modelo.TipoCobro" ng-options="i.Nombre for i in ListadoTipoCobro"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Valor</label>
                            <input type="text" ng-change="MaskValores()" class="form-control text-right" maxlength="18" placeholder="Valor" ng-model="Modelo.Valor" ng-disabled="Deshabilitar" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select class="form-control" ng-model="Modelo.Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
               
                <!--SECCIÓN BOTONES-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="SeccionBotones">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                                    Cancelar
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="Deshabilitar">
                                    Aceptar
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>