﻿<div >

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>

    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>GESTIONAR ASIGNACIÓN PRECINTOS OFICINA</h1>
    </section>

    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form name="myform">
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechIni">Fecha </label>
                            <input name="txtFechIni" type="date" class="form-control" ng-model="ModeloFecha">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina</label>
                            <input type="text" class="form-control" placeholder="Ingrese oficina" ng-model="ModeloOficina" autocomplete="off"
                                   uib-typeahead="Ofi as Ofi.Nombre for Ofi in AutocompleteOficina($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="ModeloOficina=VerificarAutocomplete(ModeloOficina)" ng-disabled="DeshabilitarActualizar" />
                        </div>
                    </div>
                    <!--<div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina Destino</label>
                            <select name="cmbOficina" class="form-control" ng-model="ModeloOficinaDestino" ng-options="i.Nombre for i in ListadoOficinasDestino"></select>
                        </div>
                    </div>-->
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="Cuenta">Responsable {{ModeloResponsable.NumeroIdentificacion}}</label>
                            <input type="text" class="form-control" autocomplete="off" name="Responsable" maxlength="100" id="ModeloResponsable" placeholder="Ingrese responsable" ng-model="ModeloResponsable"
                                   uib-typeahead="i as i.NombreCompleto for i in AutocompleteTercero($viewValue)| filter:$viewValue | limitTo: 5"
                                   ng-required="false" ng-blur="ModeloResponsable=VerificarAutocomplete(ModeloResponsable)" ng-disabled="DeshabilitarActualizar">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Precinto</label>
                            <select name="cmbOficina" class="form-control" ng-model="ModeloTipoPrecinto" ng-options="i.Nombre for i in ListadoTipoPrecinto | orderBy: 'Nombre'"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroInicial">Precinto Inicial</label>
                            <input name="NumeroInicial" class="form-control" ng-model="ModeloNumeroPrecintoInicial" placeholder="Ingrese número" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroInicial">Precinto Final</label>
                            <input name="NumeroInicial" class="form-control" ng-model="ModeloNumeroPrecintoFinal" placeholder="Ingrese número" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <!-- Modal Confirmación Guardar Cuenta -->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>