﻿<div >

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>

    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <a name="arriba"></a>
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Combustible</label>
                            <select name="cmbValCombus" class="form-control" ng-model="Modelo.TipoCombustible"
                                    ng-options="i.Nombre for i in tipoCombustible"></select>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Valor Combustible</label>
                            <input name="cmbValCombus" class="form-control text-right" ng-model="Modelo.Valor" ng-change="MaskValores()" />
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Fecha</label>
                            <input name="cmbValCombus" type="date" class="form-control ng-pristine ng-valid ng-not-empty ng-touched"
                                   ng-model="FechaActual" ng-disabled="BloqueoFecha">
                        </div>
                    </div>
                </div>
                <div class="SeccionBotones">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" ng-click="Regresar()">
                            Cancelar
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                        <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmarGuardar()">
                            Aceptar
                            <span class="glyphicon glyphicon-ok-circle"></span>
                        </button>
                    </div>
                </div>
             </div>
        </form>

    </div>

    <div class="modal fade" id="modaConfirmar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>



</div>

 

