﻿<div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" name="txtNombre" ng-change="MaskMayus(); CampoNombreModificado = true" class="form-control" maxlength="70" placeholder="Nombre" ng-model="Modelo.Nombre" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Código Alterno</label>
                            <input type="text" name="txtCodiAlte" class="form-control" maxlength="20" placeholder="Código Alterno" ng-model="Modelo.CodigoAlterno" ng-change="CampoCodigoAlternoModificado = true" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Ruta</label>
                            <select name="cmbEstado" class="form-control" ng-model="Modelo.TipoRuta" ng-options="i.Nombre for i in ListadoTipoRutas"></select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Duración Horas</label>
                            <input name="Horas" ng-change="MaskDecimales()" class="form-control" maxlength="8" placeholder="Digite horas" ng-model="Modelo.DuracionHoras" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Ciudad Origen</label>
                            <input ng-change="MaskMayus()" autocomplete="off" type="text" class="form-control" name="txtciudadorigen" id="txtciudadorigen" maxlength="30" typeahead-no-results="myform.txtciudadorigen.$error.required" placeholder="Seleccione la ciudad origen" ng-model="Modelo.CiudadOrigen" ng-required="true"
                                   uib-typeahead="CiudadOrigen as CiudadOrigen.NombreCompleto for CiudadOrigen in AutocompleteCiudades($viewValue) | filter:$viewValue | limitTo: 5" ng-blur="Modelo.CiudadOrigen=VerificarAutocomplete(Modelo.CiudadOrigen)">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Ciudad Destino</label>
                            <input ng-change="MaskMayus()" autocomplete="off" type="text" class="form-control" name="txtciudaddestino" id="txtciudaddestino" maxlength="30" typeahead-no-results="myform.txtciudaddestino.$error.required" placeholder="Seleccione la ciudad destino" ng-model="Modelo.CiudadDestino" ng-required="true"
                                   uib-typeahead="CiudadDestino as CiudadDestino.NombreCompleto for CiudadDestino in AutocompleteCiudades($viewValue) | filter:$viewValue | limitTo: 5" ng-blur="Modelo.CiudadDestino=VerificarAutocomplete(Modelo.CiudadDestino)">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Oficina Destino</label>
                            <input ng-change="MaskMayus()" autocomplete="off" type="text" class="form-control" name="txtoficinadestino" id="txtoficinadestino" maxlength="30" typeahead-no-results="myform.txtoficinadestino.$error.required" placeholder="Seleccione la oficina destino" ng-model="Modelo.OficinaDestino" ng-required="true"
                                   uib-typeahead="OficinaDestino as OficinaDestino.Nombre for OficinaDestino in AutocompleteOficinas($viewValue) | filter:$viewValue | limitTo: 5" ng-blur="Modelo.OficinaDestino=VerificarAutocomplete(Modelo.OficinaDestino)">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Porcentaje Anticipo</label>
                            <input ng-change="MaskDecimales()" class="form-control text-right" maxlength="4" placeholder="Digite el Porcentaje" ng-model="Modelo.PorcentajeAnticipo" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Kilómetros</label>
                            <input ng-change="MaskDecimales()" class="form-control text-right" maxlength="4" placeholder="Digite el Porcentaje" ng-model="Modelo.Kilometros" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12" ng-show="Sesion.UsuarioAutenticado.ManejoPlanPuntosVehiculos">
                        <div class="form-group">
                            <label>Plan Puntos</label>
                            <input ng-change="MaskNumero();ValidarPuntos(Modelo.PlanPuntos)" class="form-control" maxlength="4" placeholder="Digite Puntos" ng-model="Modelo.PlanPuntos" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>