﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <br />
                            <span> {{Modelo.Numero}}</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Formatos Inspección</label>
                            <input maxlength="60" type="text" class="form-control" ng-change="MaskMayus()" name="formularioinspeccion" id="formularioinspeccion" placeholder="Formatos Inspección" ng-model="Modelo.FormatoInspeccion"
                                   typeahead-no-results="myform.formularioinspeccion.$error.required" uib-typeahead="formularioinspeccion as formularioinspeccion.Nombre for formularioinspeccion in ListadoFormatosInspeccion| filter:$viewValue | limitTo: 5"
                                   ng-required="false" ng-disabled="DeshabilitarActualizar" ng-blur="Modelo.FormatoInspeccion=VerificarAutocomplete(Modelo.FormatoInspeccion); ConsultarFormatoInspeccion(Modelo.FormatoInspeccion.Codigo)" autocomplete="off">
                            <div ng-if="myform.formularioinspeccion.$error.required">
                                <i class="glyphicon glyphicon-remove"></i><small class="errorField"> El formato no existe en el sistema</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fecha">Fecha</label>
                            <input name="fecha" type="date" class="form-control" ng-model="Modelo.FechaInspeccion" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12" ng-show="!TipoInspeccionPreoperacional">
                        <div class="form-group">
                            <label>Tiempo Vigencia(Min.)</label>
                            <input type="text" ng-change="MaskNumero()" name="tiempovigencia" class="form-control" maxlength="5" placeholder="Tiempo Vigencia" ng-model="Modelo.TiempoVigencia" ng-disabled="Deshabilitar" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12" ng-show="!TipoInspeccionPreoperacional">
                        <div class="form-group">
                            <label>Código Alterno</label>
                            <input type="text" name="txtCodiAlte" class="form-control" maxlength="20" placeholder="Código Alterno" ng-model="Modelo.CodigoAlterno" ng-disabled="Deshabilitar" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="Vehiculo">Placa</label>
                            <input type="text" class="form-control" placeholder="Ingrese una Placa" ng-model="Modelo.Vehiculo" autocomplete="off"
                                   uib-typeahead="Vehi as Vehi.Placa for Vehi in AutocompleteVehiculos($viewValue) | filter:$viewValue | limitTo: 5"
                                   ng-change="MaskPlaca()" ng-required="false" ng-blur="Modelo.Vehiculo=VerificarAutocomplete(Modelo.Vehiculo);CargarSemirremolque(Modelo.Vehiculo);ValidarDocumentos(Modelo)" ng-disabled="DeshabilitarActualizar">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="Semirremolque">Semirremolque</label>
                            <input type="text" class="form-control" autocomplete="off" placeholder="Ingrese un semirremolque" ng-model="Modelo.Semirremolque"
                                   uib-typeahead="i as i.Placa for i in ListaSemirremolque| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.Semirremolque=VerificarAutocomplete(Modelo.Semirremolque)" ng-disabled="DeshabilitarActualizar">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Cuenta">Conductor</label>
                            <input type="text" class="form-control" placeholder="Ingrese un conductor" ng-model="Modelo.Conductor" autocomplete="off"
                                   uib-typeahead="Conductor as Conductor.NombreCompleto for Conductor in AutocompleteConductor($viewValue) | filter:$viewValue | limitTo: 5"
                                   ng-required="false" ng-blur="Modelo.Conductor=VerificarAutocomplete(Modelo.Conductor);ValidarDocumentos(Modelo)" ng-disabled="DeshabilitarActualizar">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12" ng-show="!TipoInspeccionPreoperacional">
                        <div class="form-group">
                            <label for="Transportador">Transportador</label>
                            <input type="text" class="form-control" placeholder="Ingrese un transportador" ng-model="Modelo.Transportador" autocomplete="off"
                                   uib-typeahead="Trans as Trans.NombreCompleto for Trans in AutocompleteTransportador($viewValue) | filter:$viewValue | limitTo: 5"
                                   ng-required="false" ng-blur="Modelo.Transportador=VerificarAutocomplete(Modelo.Transportador)" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12" ng-show="!TipoInspeccionPreoperacional">
                        <div class="form-group">
                            <label for="Cliente">Cliente</label>
                            <input type="text" class="form-control" placeholder="Ingrese un cliente" ng-model="Modelo.Cliente" autocomplete="off"
                                   uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in AutocompleteCliente($viewValue) | filter:$viewValue | limitTo: 5"
                                   ng-required="false" ng-blur="Modelo.Cliente=VerificarAutocomplete(Modelo.Cliente)" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12" ng-show="!TipoInspeccionPreoperacional">
                        <div class="form-group">
                            <label>Sitio Cargue</label>
                            <input name="SitioCargue" id="SitioCargue" autocomplete="off" placeholder="Sitio Cargue" type="text" class="form-control" ng-model="Modelo.SitioCargue" ng-disabled="Deshabilitar"
                                   uib-typeahead="i as i.Nombre for i in ListaSitiosCargueDescargue| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.SitioCargue=VerificarAutocomplete(Modelo.SitioCargue)">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12" ng-show="!TipoInspeccionPreoperacional">
                        <div class="form-group">
                            <label>Sitio Descargue</label>
                            <input name="SitioDescargue" id="SitioDescargue" autocomplete="off" placeholder="Sitio Descargue" type="text" class="form-control" ng-model="Modelo.SitioDescargue" ng-disabled="Deshabilitar"
                                   uib-typeahead="i as i.Nombre for i in ListaSitiosCargueDescargue| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.SitioDescargue=VerificarAutocomplete(Modelo.SitioDescargue)">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12" ng-show="!TipoInspeccionPreoperacional">
                        <div class="form-group">
                            <label>Responsable</label>
                            <input type="text" class="form-control" placeholder="Ingrese un responsable" ng-model="Modelo.Responsable" autocomplete="off"
                                   uib-typeahead="responsable as responsable.NombreCompleto for responsable in AutocompleteAutoriza($viewValue) | filter:$viewValue | limitTo: 5"
                                   ng-blur="Modelo.Responsable=VerificarAutocomplete(Modelo.Responsable)" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12" ng-show="!TipoInspeccionPreoperacional">
                        <div class="form-group">
                            <div class="input-control text full-size" data-role="input">
                                <label for="Fechainicio">Fecha Inicio</label>
                                <input class="form-control" name="Fechainicio" type="date" ng-model="Modelo.FechaInicioHora" ng-disabled="Deshabilitar" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12" ng-show="!TipoInspeccionPreoperacional">
                        <div class="form-group">
                            <label>Hora <small class="errorField" ng-show="myform.horaInicio.$error.required">*</small></label>
                            <input ng-change="MaskHora()" name="horaInicio" class="form-control" type="text" placeholder="HH:mm" ng-model="Modelo.HoraInicio" ng-required="true" maxlength="5" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12" ng-show="!TipoInspeccionPreoperacional">
                        <div class="form-group">
                            <div class="input-control text full-size" data-role="input">
                                <label for="FechaFin">Fecha Fin</label>
                                <input class="form-control" name="fechaFin" type="date" ng-model="Modelo.FechaFinHora" ng-disabled="Deshabilitar" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12" ng-show="!TipoInspeccionPreoperacional">
                        <div class="form-group">
                            <label>Hora <small class="errorField" ng-show="myform.horaOrigen.$error.required">*</small></label>
                            <input ng-change="MaskHora()" name="horaFin" class="form-control" type="text" placeholder="HH:mm" ng-model="Modelo.HoraFin" ng-required="true" maxlength="5" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12" ng-show="!TipoInspeccionPreoperacional">
                        <div class="form-group">
                            <label for="Autoriza">Autorizó</label>
                            <input type="text" class="form-control" placeholder="Autorizó" ng-model="Modelo.Autoriza" autocomplete="off"
                                   uib-typeahead="Autoriza as Autoriza.NombreCompleto for Autoriza in AutocompleteAutoriza($viewValue) | filter:$viewValue | limitTo: 5"
                                   ng-required="false" ng-blur="Modelo.Autoriza=VerificarAutocomplete(Modelo.Autoriza)" ng-disabled="Deshabilitar">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12" ng-show="!TipoInspeccionPreoperacional">
                        <div class="form-group">
                            <label for="fechaautoriza">Fecha Autoriza</label>
                            <input class="form-control" name="fechaautoriza" type="date" ng-model="Modelo.FechaAutoriza" ng-disabled="Deshabilitar" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalEstado" ng-options="i.Nombre for i in ListadoEstados"  disabled></select>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <div class="input-control text full-size" data-role="input">
                                <label for="observaciones">Observaciones</label>
                                <textarea class="form-control" maxlength="200" name="observaciones" type="text" ng-model="Modelo.Observaciones" ng-disabled="Deshabilitar"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div style="max-width:100%">
                            <div class="ResultadoConsulta">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm display nowrap dataTable dtr-inline" ng-if="ListadoSecciones.length > 0">
                                        <thead>
                                            <tr>
                                                <th width="10px"></th>
                                                <th style="cursor:pointer"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in ListadoSecciones">
                                                <td ng-click="ListTitem(item)" width="15px" style="cursor:pointer"><span class="glyphicon glyphicon-menu-right"></span> </td>
                                                <td style="min-width:90px" class="box box-default box-solid">
                                                    <div class="col-md-12 col-sm-6 col-xs-12" style="min-width:80px">
                                                        <strong class="box-title">ITEMS {{item.Nombre}}</></strong>
                                                    </div>
                                                    <div class="col-md-12 content-header" ng-show="item.items">
                                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                                            <thead>
                                                                <tr>
                                                                    <th>Nombre</th>
                                                                    <!--<th ng-show="false">Relevante</th>-->
                                                                    <th>Valor</th>
                                                                    <th>Cumple</th>
                                                                    <th>No Aplica</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="itemDetalle in item.ListadoItemSeccion | orderBy: 'Orden'" ng-if="item.ListadoItemSeccion.length > 0">
                                                                    <td style="min-width:70px">
                                                                        <p>{{itemDetalle.Nombre}}</p>
                                                                    </td>
                                                                    <td style="min-width:70px">
                                                                        <!--texto--><input class="form-control" ng-if="itemDetalle.TipoControl.Codigo == 12501" type="text" ng-model="itemDetalle.Valor" maxlength="{{itemDetalle.Tamano}}" ng-disabled="Deshabilitar" />
                                                                        <!--numerico--><input class="form-control" ng-if="itemDetalle.TipoControl.Codigo == 12502" type="text" ng-model="itemDetalle.Valor" maxlength="{{itemDetalle.Tamano}}" ng-disabled="Deshabilitar" ng-change="itemDetalle.Valor = MaskNumeroGird(itemDetalle.Valor)" />
                                                                        <!--fecha--><input class="form-control" ng-if="itemDetalle.TipoControl.Codigo == 12503" type="date" ng-model="itemDetalle.Valor" ng-disabled="Deshabilitar" />
                                                                        <!--correo--><input class="form-control" ng-if="itemDetalle.TipoControl.Codigo == 12504" type="text" ng-model="itemDetalle.Valor" maxlength="{{itemDetalle.Tamano}}" ng-disabled="Deshabilitar" />
                                                                        <!--telefono--><input class="form-control" ng-if="itemDetalle.TipoControl.Codigo == 12505" type="text" ng-model="itemDetalle.Valor" maxlength="{{itemDetalle.Tamano}}" ng-disabled="Deshabilitar" />
                                                                        <!--hora--><input class="form-control" ng-if="itemDetalle.TipoControl.Codigo == 12506" type="text" ng-model="itemDetalle.Valor" maxlength="5" placeholder="HH:MM" ng-disabled="Deshabilitar" ng-change="itemDetalle.Valor = MaskHoraGrid(itemDetalle.Valor)" />
                                                                        <!--check--><!--<input ng-if="itemDetalle.TipoControl.Codigo == 12507" type="checkbox" ng-model="itemDetalle.Valor" ng-disabled="Deshabilitar" />--><span ng-if="itemDetalle.TipoControl.Codigo == 12507">CHECK</span>
                                                                    </td>
                                                                    <!--<td style="text-align:center;min-width:70px" ng-show="false">
                                                                        <label>
                                                                            <input type="checkbox" ng-disabled="true" ng-model="itemDetalle.Relevante" />
                                                                        </label>
                                                                    </td>-->
                                                                    <td style="text-align:center;min-width:70px">
                                                                        <label>
                                                                            <input type="checkbox"  ng-click="validaCumple(itemDetalle)" ng-model="itemDetalle.Cumple" ng-disabled="Deshabilitar || itemDetalle.DeshabilitarCumple" />
                                                                        </label>
                                                                    </td>
                                                                    <td style="text-align:center;min-width:70px">
                                                                        <label>
                                                                            <input type="checkbox" ng-click="validaNoAplica(itemDetalle)"  ng-model="itemDetalle.NoAplica" ng-disabled="Deshabilitar || itemDetalle.DeshabilitarNoAplica" />
                                                                        </label>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="table-responsive">
                            <div class="box-body" style="width:auto">
                                <table class="table table-responsive table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th colspan="2">
                                                <div class="input-control file" data-role="input">
                                                    <input type="file" ng-disabled="Deshabilitar" ng-model-instant onchange="angular.element(this).scope().CargarImagen(this)" accept="image/x-png, image/jpeg, application/pdf">
                                                </div>
                                                <div>
                                                    <h5 class="small">* Las imágenes con un tamaño superior a 4 MB no se tendrán en cuenta</h5>
                                                    <h5 class="small">* Sólo se permite cargar imágenes en formato jpeg, png o pdf</h5>
                                                    <h5 class="small">* Sólo se permite adjuntar máximo 10 imágenes</h5>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                IMAGEN
                                            </th>
                                            <th>
                                                BORRAR
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody class="logo">
                                        <tr ng-repeat="Item in list.Fotos">
                                            <td>
                                                <div class="logo">

                                                    <img ng-if="Item.ExtencionDocumento == 'PNG'" style="width:200px;height:100px" ng-src="data:image/png;base64,{{Item.Documento}}" />
                                                    <img ng-if="Item.ExtencionDocumento == 'JPEG'" style="width:200px;height:100px" ng-src="data:image/jpeg;base64,{{Item.Documento}}" />

                                                    <button ng-if="Item.TipoImagen == 'PDF'" style="width:200px;height:100px" title="ver PDF" ng-click="MostraPDF(Item.Documento)">
                                                        <img src="../../../FrontEnd/Css/img/pdf.jpg" width="40" height="40" />
                                                    </button>

                                                </div>
                                            </td>
                                            <td>
                                                <button type="button" ng-disabled="Deshabilitar" class="button error" title="Borrar foto" ng-click="EliminarFoto($index, Item.Codigo)">
                                                    Borrar
                                                    <span class="icon mif-cross"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>-->
                    <!--<div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="btn-default">
                                <h2>Firma</h2>
                                <canvas id="Firma" class="Firma" ng-signature-pad="signature" ng-disabled="Deshabilitar">
                                    Firma
                                </canvas>

                                <button type="button" class="btn btn-default" ng-disabled="Deshabilitar" ng-click="LimpiarFirma()">
                                    limpiar firma
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                            </div>
                        </div>
                    </div>-->

                </div>
                <div class="row">
                    <div class="col-md-12" ng-show="HabilitarFirma">
                        <div class="FirmaDigital">
                            <div><h2>Firma</h2></div>
                            <div>
                                <canvas id="Firma" class="Firma" ng-signature-pad="signature" ng-show="MostrarCanvasFirma">Firma</canvas>
                                <img ng-src="{{ImgFirma}}" ng-show="!MostrarCanvasFirma" />
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-default" ng-click="LimpiarFirma()" ng-disabled="Deshabilitar">
                                    limpiar firma
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <!--SECCIÓN BOTONES-->
                        <div class="SeccionBotones">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                                    Cancelar
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="Deshabilitar">
                                    Aceptar
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionDatosDetalle" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿La inspección quedará en estado "Rechazada", Desea continuar?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!--<canvas id="CanvasVertical" width="500" height="700" style="display:none">
        Accede a este script con un navegador que acepte canvas del HTML 5
    </canvas>
    <canvas id="CanvasHorizontal" width="700" height="500" style="display:none">
        Accede a este script con un navegador que acepte canvas del HTML 5
    </canvas>-->

</div>