﻿<div ng-controller="GestionarNovedadTransitoCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Cuenta">Numero Planilla</label>
                            <input type="text" class="form-control" name="Placa" maxlength="50" id="ModeloNumeroPlanilla" placeholder="Numero Planilla" ng-model="ModeloNumeroPlanilla"
                                   uib-typeahead="i as i.NumeroDocumento for i in ListaPlanilla| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="ModeloNumeroPlanilla=VerificarAutocomplete(ModeloNumeroPlanilla);AsignarManifiesto(ModeloNumeroPlanilla.Manifiesto.Numero,ModeloNumeroPlanilla.Manifiesto.NumeroDocumento)" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Numero Manifiesto</label>

                            <input type="text" name="txtProducto" class="form-control" maxlength="150" placeholder="Numero Manifiesto" ng-model="ModeloManifiesto" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Sitio Reporte</label>
                            <select name="cmbSitioReporte" class="form-control" ng-model="Modelo.SitioReporteSeguimiento" ng-options="i.Nombre for i in ListadoSitioReporte | orderBy:'Codigo'" ng-blur="CargarNovedadesSitioReporte(Modelo.SitioReporteSeguimiento)"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Novedad</label>
                            <input name="cmbNovedad" class="form-control" ng-model="Modelo.NovedadSeguimiento" ng-blur="Modelo.NovedadSeguimiento=VerificarAutocomplete(Modelo.NovedadSeguimiento)" uib-typeahead="i as i.Nombre for i in ListaNovedadSeguimiento| filter:$viewValue | limitTo: 5" ng-disabled="DeshabilitarNovedadesSeguimiento" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Ubicación</label>
                            <input type="text" name="txtProducto" class="form-control" maxlength="150" placeholder="Ubicación" ng-model="Modelo.Ubicacion" />
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Observaciones</label>
                            <textarea type="text" class="form-control" maxlength="200" ng-model="Modelo.Observaciones"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>