﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>ADICIONAR RECOLECCIONES PLANILLA PAQUETERÍA</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <div class="box box-default box-solid">
            <div class="box-header with-border" ng-disabled="Bloquear">
                <h3 class="box-title">Buscar Planillas en Ruta</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <form>
                    <!--SECCION FILTROS-FORMULARIO-->
                    <div class="SeccionFiltros-Formulario">
                        <ul>
                            <li ng-repeat="error in MensajesError">
                                <span class="errorField">{{error}}</span>
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Oficina Origen</label>
                                    <select name="cmbOficina" class="form-control" ng-model="ModeloOficinaOrigen" ng-options="i.Nombre for i in ListadoOficinasOrigen | orderBy:'Nombre'" ng-disabled="Sesion.UsuarioAutenticado.ConsultaOtrasOficinas != 1"></select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="Cuenta">No. Planilla</label>

                                    <input name="lblNumeGuia" class="form-control" ng-model="ModeloPlanillaDespacho" placeholder="Ingrese la guía" maxlength="20" ng-change="MaskNumero()">

                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="Cuenta">Ruta</label>
                                    <input type="text" class="form-control" name="Ciudad Cargue" maxlength="50" id="ModeloCiudadCargue" placeholder="Ingrese una Ruta" ng-model="ModeloCiudadCargue"
                                           uib-typeahead="i as i.Nombre for i in AutocompleteRutas($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false"
                                           ng-blur="ModeloCiudadCargue=VerificarAutocomplete(ModeloCiudadCargue)" ng-change="MaskMayus()" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="Cuenta">Vehículo</label>
                                    <input type="text" class="form-control" name="Ciudad Cargue" maxlength="50" id="ModeloCiudadCargue" placeholder="Ingrese un Vehículo" ng-model="ModeloVehiculo"
                                           uib-typeahead="i as i.Placa for i in AutocompleteVehiculos($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModeloVehiculo=VerificarAutocomplete(ModeloVehiculo)"
                                           autocomplete="off" ng-change="MaskPlaca()">

                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="Cuenta">Conductor</label>
                                    <input type="text" class="form-control" name="Ciudad Cargue" maxlength="50" id="ModeloCiudadCargue" placeholder="Ingrese un Conductor" ng-model="ModeloCOnductor"
                                           uib-typeahead="i as i.NombreCompleto for i in AutocompleteConductores($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false"
                                           ng-blur="ModeloCOnductor=VerificarAutocomplete(ModeloCOnductor)" autocomplete="off" ng-change="MaskMayus()">

                                </div>
                            </div>



                        </div>


                    </div>

                    <!--SECCIÓN BOTONES-->
                    <div class="SeccionBotones">
                        <div class="pull-left">
                            <button class="btn btn-block btn-primary" title="Buscar" ng-click="paginaActual=1;Buscar()">
                                Buscar
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                    <!--RESULTADO CONSULTA-->
                    <div class="ResultadoConsulta">
                        <div class="table-responsive" ng-if="ListadoGuias.length > 0">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Número </th>
                                        <th>Fecha </th>
                                        <th>Vehiculo </th>
                                        <th>Ruta </th>
                                        <th>Conductor </th>
                                        <th>Celular</th>
                                        <th>Estado </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoGuias| orderBy:'Remesa.NumeroDocumento'">
                                        <td><a href="#!GestionarPlanillaPaqueteria/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>
                                        <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                        <td>{{item.Vehiculo.Placa}}</td>
                                        <td>{{item.Ruta.Nombre}}</td>
                                        <td>{{item.NombreConductor}}</td>
                                        <td>{{item.Conductor.Celulares}}</td>
                                        <td>
                                            <span ng-if="item.Anulado == 1" class="label label-danger">Anulado</span>
                                            <span ng-if="item.Estado.Codigo == 1 && item.Anulado == 0" class="label label-success">Definitivo</span>
                                            <span ng-if="item.Estado.Codigo == 0 && item.Anulado == 0" class="label label-warning">Borrador</span>
                                        </td>
                                        <td><input type="checkbox" ng-model="item.Seleccionado" ng-click="ValidarSeleccion(item)" /></td>
                                    </tr>
                                </tbody>
                                <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                    <tr>
                                        <td colspan="4">
                                            <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                            <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>

                            </table>
                        </div>
                        <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                            <span style="color:red">
                                <small>{{ResultadoSinRegistros}}</small>
                            </span>
                        </div>
                    </div>



                </form>
            </div>
        </div>

        <div class="box box-default box-solid" ng-show="MostrarSeccionRecolecciones == true">
            <div class="box-header with-border" ng-disabled="Bloquear">
                <h3 class="box-title">Recolecciones</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <ul>
                    <li ng-repeat="error in MensajesErrorRecolecciones">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechIni">Fecha Inicial</label>
                            <input name="txtFechIni" type="date" class="form-control" ng-model="Modelo.FechaInicial">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechFina">Fecha Final</label>
                            <input name="txtFechFina" type="date" class="form-control" ng-model="Modelo.FechaFinal">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroInicial">Número</label>
                            <input name="NumeroInicial" class="form-control" ng-model="Recoleccion.NumeroDocumento" placeholder="Ingrese número inicial" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Ciudad</label>
                            <input class="form-control" ng-model="Recoleccion.Ciudad" placeholder="Ingrese un valor" maxlength="150"
                                   uib-typeahead="i as i.NombreCompleto for i in AutocompleteCiudades($viewValue) | filter: $viewValue | limitTo:5"
                                   ng-blur="Recoleccion.Ciudad = VerificarAutocomplete(Recoleccion.Ciudad)" autocomplete="off" ng-change="MaskMayus()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="lblOficina">Oficina</label>
                            <select name="cmbOficina" class="form-control" ng-model="Recoleccion.Oficinas" ng-options="i.Nombre for i in ListadoOficinasActual | orderBy: 'Nombre'"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Zona</label>
                            <input ng-change="MaskMayus()" type="text" name="txtZona" class="form-control" maxlength="50" placeholder="Ingrese Zona" ng-model="Recoleccion.NombreZona"/>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Barrio</label>
                            <input ng-change="MaskMayus()" type="text" name="txtZona" class="form-control" maxlength="50" placeholder="Ingrese Zona" ng-model="Recoleccion.Barrio" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Cliente</label>
                            <input class="form-control" ng-model="Recoleccion.Cliente" placeholder="Ingrese un valor" maxlength="150"
                                   uib-typeahead="i as i.NombreCompleto for i in AutocompleteClientes($viewValue) | filter: $viewValue | limitTo: 5"
                                   autocomplete="off" ng-change="MaskMayus()" ng-blur="Recoleccion.Cliente = VerificarAutocomplete(Recoleccion.Cliente)">
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Remitente</label>
                            <input class="form-control" ng-model="Recoleccion.Remitente" placeholder="Ingrese un valor" maxlength="150"
                                   uib-typeahead="i as i.NombreCompleto for i in AutocompleteRemitentes($viewValue) | filter: $viewValue | limitTo: 5"
                                   autocomplete="off" ng-change="MaskMayus()" ng-blur="Recoleccion.Remitente = VerificarAutocomplete(Recoleccion.Remitente)">
                        </div>
                    </div>

                </div>
                <!--SECCIÓN BOTONES-->
                <div class="SeccionBotones">
                    <div class="pull-left">
                        <button class="btn btn-block btn-primary" title="Buscar ciudad" ng-click="paginaActual=1;BuscarRecolecciones();Modelo.NumeroFinal = 0">
                            Buscar
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" title="Nueva ciudad" ng-click="AsociarRecoleccionesPlanillas()">
                            Asociar
                            <span class="fas fa-truck-loading"></span>
                        </button>
                    </div>
                </div>
                <!--RESULTADO CONSULTA-->
                <div class="ResultadoConsulta" ng-show="ListadoRecolecciones.length > 0">
                    <br />
                    <label>Marcar Todos</label>
                    <input type="checkbox" ng-model="MarctodoRecolecciones" ng-change="MarcadDesmarcarTodoRecolecciones(Marctodo)" class="ng-valid ng-dirty ng-valid-parse ng-touched">
                    <div class="table-responsive" ng-show="ListadoRecolecciones.length > 0">
                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Número</th>
                                    <th>Fecha</th>
                                    <th>Cliente</th>
                                    <th>Remitente</th>
                                    <th>Contacto</th>
                                    <th>Ciudad</th>
                                    <th>Zona</th>
                                    <th>Barrio</th>
                                    <th>Dirección</th>
                                    <th>Teléfonos</th>
                                    <th>Mercancía</th>
                                    <th>Unidad Empaque</th>
                                    <th>Cantidad</th>
                                    <th>Peso (Kg)</th>
                                    <th class="Campo">Observaciones</th>


                                    <th>Oficina</th>
                                    <th>Estado</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ListadoRecolecciones | orderBy:'Codigo'">

                                    <td style="background-color: {{item.backGround}}"><input type="checkbox" ng-model="item.Marcado" /></td>
                                    <td style="background-color: {{item.backGround}}"><a href="#!GestionarRecolecciones/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>
                                    <td style="background-color: {{item.backGround}}">{{item.Fecha | date: 'dd/MM/yyyy'}}</td>
                                    <td style="background-color: {{item.backGround}}">{{item.Cliente.Nombre}}</td>
                                    <td style="background-color: {{item.backGround}}">{{item.Remitente.Nombre}}</td>
                                    <td style="background-color: {{item.backGround}}">{{item.NombreContacto}}</td>
                                    <td style="background-color: {{item.backGround}}">{{item.Ciudad.Nombre}}</td>
                                    <td style="background-color: {{item.backGround}}">{{item.NombreZona}}</td>
                                    <td style="background-color: {{item.backGround}}">{{item.Barrio}}</td>
                                    <td style="background-color: {{item.backGround}}">{{item.Direccion}}</td>
                                    <td style="background-color: {{item.backGround}}">{{item.Telefonos}}</td>
                                    <td style="background-color: {{item.backGround}}">{{item.Mercancia}}</td>
                                    <td style="background-color: {{item.backGround}}">{{item.UnidadEmpaque}}</td>
                                    <td style="background-color: {{item.backGround}}" align="right">{{MaskValoresGrid(item.Cantidad)}}</td>
                                    <td style="background-color: {{item.backGround}}" align="right">{{item.Peso | number : 0}}</td>
                                    <td style="background-color: {{item.backGround}}">{{item.Observaciones}}</td>
                                    <!--<td>{{item.NumeroPlanilla}}</td>-->
                                    <!--<td>{{item.FechaPlanilla | date: 'dd/MM/yyyy'}}</td>-->
                                    <!--<td>{{item.PlacaVehiculo}}</td>-->
                                    <td style="background-color: {{item.backGround}}">{{item.NombreOficina}}</td>
                                    <td style="background-color: {{item.backGround}}">
                                        <span ng-if="item.Estado == 3 " class="label pull-center bg-red">Anulada</span>
                                        <span ng-if="item.Estado == 2" class="label label-warning">Planillada</span>
                                        <span ng-if="item.Estado == 1" class="label label-success">Definitiva</span>
                                    </td>


                                </tr>
                            </tbody>
                            <tfoot ng-if="totalRegistrosRecoleccion > 0 || BuscandoRecoleccion == true">
                                <tr>
                                    <td colspan="4">
                                        <small ng-if="totalRegistrosRecoleccion > 0">Página: {{paginaActualRecoleccion}} de {{totalPaginasRecoleccion}} ({{totalRegistrosRecoleccion}} Registros)</small>
                                        <div class="pagination rightAling" ng-if="totalRegistrosRecoleccion > 0">
                                            <button class="button primary" ng-click="PrimerPaginaRecoleccion()" title="Primera">
                                                <span class="item">&laquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="AnteriorRecoleccion()" title="Anterior">
                                                <span class="item">&lsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="SiguienteRecoleccion()" title="Siguiente">
                                                <span class="item">&rsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="UltimaPaginaRecoleccion()" title="Última">
                                                <span class="item">&raquo;</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>

                        </table>
                    </div>
                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistrosRecoleccion == 0 && BuscandoRecoleccion == false">
                        <span style="color:red">
                            <small>{{ResultadoSinRegistrosRecoleccion}}</small>
                        </span>
                    </div>
                </div>
            </div>
        </div>
                <!-- Modal Confirmación Guardar Cuenta -->
                <div class="modal fade" id="modalConfirmacionRecepcionGuias" tabindex="-1" role="dialog" data-backdrop="static">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <form autocomplete="off">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">
                                        GESTRANS.NET CARGA
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <p>¿Está seguro de guardar la información?</p>
                                </div>
                                <div class="modal-footer">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            Cancelar
                                            <span class="glyphicon glyphicon-remove-circle"></span>
                                        </button>
                                        <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                            Aceptar
                                            <span class="glyphicon glyphicon-ok-circle"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
