﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>ASIGNACIÓN AFORADOR GUÍAS PREIMPRESAS</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>
                <div class="row">

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina Actual</label>
                            <input name="inpOficina" class="form-control" ng-model="ModeloOficinaActual" placeholder="Ingrese una Oficina" maxlength="9"
                                   uib-typeahead="Oficina as Oficina.Nombre for Oficina in ListadoOficinasActual| filter:$viewValue | limitTo: 5"
                                   ng-blur="ModeloOficinaActual=VerificarAutocomplete(ModeloOficinaActual)">
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="Cuenta">Aforador</label>
                            <input type="text" class="form-control" autocomplete="off" name="Cliente" maxlength="50" id="ModeloCliente" placeholder="Ingrese un Aforador" ng-model="ModeloAforador"
                                   uib-typeahead="i as i.NombreCompleto for i in AutocompleteTercero($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModeloAforador=VerificarAutocomplete(ModeloAforador)" ng-disabled="ModeloEstado.Codigo == 3">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroInicial">Número Inicial</label>
                            <input name="NumeroInicial" class="form-control" ng-model="ModeloNumeroInicial" placeholder="Ingrese número" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroFinal">Número Final</label>
                            <input name="NumeroFinal" class="form-control" ng-model="ModeloNumeroFinal" placeholder="Ingrese número" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>
                    


                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>No. Guía</label>
                            <input class="form-control" ng-model="ModeloNumeroRemesa" placeholder="Ingrese número" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModeloEstado" ng-options="i.Nombre for i in ListadoEstados" ng-change="ValidarEstado()"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" title="Buscar ciudad" ng-click="paginaActual=1;Buscar()">
                        Buscar
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>

            <br />
            <br />

            <div class="box box-default box-solid CriteriosBusqueda" id="CriteriosBusqueda" ng-show="ListadoPreimpresos.length > 0">
                <div class="box-header with-border">
                    <h3 class="box-title">Asignación Aforador</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse" id="btncriterios"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroInicial">No. Preimpreso Inicial</label>
                            <input name="NumeroInicial" class="form-control" ng-model="ModeloNumeroPreimpresoInicial" placeholder="Ingrese número" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroInicial">No. Preimpreso Final</label>
                            <input name="NumeroInicial" class="form-control" ng-model="ModeloNumeroPreimpresoFinal" placeholder="Ingrese número" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>

                    <div class="col-md-1 col-sm-4 col-xs-12" style="margin-top:25px;">
                        <div class="form-group">
                            <button style="padding-top:3px; min-width: 50px;" type="button" class="btn btn-primary" title="Filtrar Precintos" ng-click="Filtrar(ModeloNumeroPreimpresoInicial,ModeloNumeroPreimpresoFinal)">
                                Filtrar
                                <span class="glyphicon glyphicon-check"></span>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Aforador</label>
                            <input class="form-control" ng-model="ModeloAforador"
                                   uib-typeahead="Aforador as Aforador.NombreCompleto for Aforador in AutocompleteAforadores($viewValue) | filter:$viewValue | limitTo: 5"
                                   placeholder="Ingrese un Aforador" maxlength="60"
                                   ng-blur="ModeloAforador=VerificarAutocomplete(ModeloAforador)" ng-required="false">

                        </div>
                    </div>

                    <div class="col-md-1 col-sm-6 col-xs-12" style="margin-top:25px;">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" title="Trasladar Precintos" ng-click="Asignar()">
                                Asignar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12" style="margin-top:25px; margin-left: 5px">
                        <div class="form-group pull-left">
                            <button type="button" class="btn btn-primary" title="Trasladar Precintos" ng-click="Desasignar()">
                                Desasignar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoPreimpresos.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th>Número</th>
                                <th>Oficina Origen</th>
                                <th>Oficina Actual</th>
                                <th>Aforador</th>
                                <th>No. Guía</th>
                                <th>Estado</th>
                                <th style="text-align:center">
                                    <label>
                                        Todos
                                        <input type="checkbox" ng-click="MarcarRecorridos(RecorridosSeleccionados)" ng-model="RecorridosSeleccionados" title="Marcar o Desmarcar todos los recorridos" ng-disabled="Ocupado" />
                                    </label>
                                </th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoPreimpresos  | orderBy:'Nombre'">
                                <td>{{item.Numero_Precinto}}</td>
                                <td>{{item.OficinaOrigen.Nombre}}</td>
                                <td>{{item.Oficina.Nombre}}</td>
                                <td>{{item.Responsable.Nombre}}</td>
                                <td>{{item.Remesa.NumeroDocumento}}</td>
                                <td>
                                    <span ng-if="item.Anulado == 1" class="label label-danger">Anulado</span>
                                    <span ng-if="item.Estado == 1 && item.Anulado == 0 && item.Remesa.NumeroDocumento ==0 && item.OrdenCargue.NumeroDocumento == 0 && item.Planilla.NumeroDocumento == 0 && item.Planilla.Manifiesto.NumeroDocumento == 0" class="label label-success">Disponible</span>
                                    <span ng-if="item.Estado == 1 && item.Anulado == 0 && (item.Remesa.NumeroDocumento > 0 || item.OrdenCargue.NumeroDocumento > 0 || item.Planilla.NumeroDocumento > 0 || item.Planilla.Manifiesto.NumeroDocumento > 0)" class="label label-warning">Asignado</span>
                                </td>
                                <td align="center">
                                    <label>
                                        <input type="checkbox" ng-disabled="item.Anulado == 1 || item.Remesa.NumeroDocumento > 0" ng-model="item.Seleccionado" />
                                    </label>
                                </td>
                                <td align="center">
                                    <button class="button mini-button btn-danger" title="Anular" ng-click="AnularDocumento(item)" ng-show="item.Anulado == 0" ng-disabled="item.Remesa.NumeroDocumento > 0">
                                        <span class="fas fa-trash-alt"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalEliminarTarifarioVentas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar la linea vehículo {{Nombre}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeEliminarTarifarioVentas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click="MostrarMensajeErrorModal()"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="MostrarMensajeErrorModal()">
                                Mensaje Completo
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalAnular" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <ul>
                        <li ng-repeat="error in MensajesErrorAnular">
                            <span class="errorField">{{error}}</span>
                        </li>
                    </ul>
                    <div class="modal-body">
                        <p>¿Está seguro de anular la guía preimpresa {{NumeroDocumento}}?</p>

                        <label>Causa Anulacion</label>
                        <input name="nombre" class="form-control" ng-model="ModeloCausaAnula" placeholder="Ingrese una Causa" maxlength="40">

                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Anular()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>