﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CARGAR ARCHIVO RECOLECCIONES CLIENTE</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">

                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <label for="Cliente">Cliente</label>
                    <input class="form-control" type="text" name="Cliente" ng-model="Cliente" autocomplete="off"
                           uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in AutocompleteClientes($viewValue) | filter:$viewValue | limitTo: 5"
                           ng-blur="Cliente = VerificarAutocomplete(Cliente);ObtenerTercero();ObtenerTarifario()" />
                </div>
            </div>

            <br />
            <br />

            <div class="box box-default box-solid collapsed-box" ng-show="Cliente.Codigo > 0">
                <div class="box-header with-border ">
                    <h3 class="box-title">Información Cliente</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                    </div>
                </div>

                <div class="box-body">



                    <div class="table-responsive" ng-show="Cliente.Codigo > 0">
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Número Identificación</th>
                                    <th>Tarifario</th>
                                    <th>Condiciones Comerciales</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#!GestionarTerceros/{{Cliente.Codigo}}">{{Cliente.NumeroIdentificacion}}</a></td>
                                    <td><a href="#!GestionarTarifarioVentas/{{Cliente.Cliente.Tarifario.Codigo}}">{{Cliente.Cliente.Tarifario.Nombre}}</a></td>
                                    <td ng-show="Cliente.Cliente.CondicionesComercialesTarifas > 0">SÍ</td>
                                    <td ng-show="Cliente.Cliente.CondicionesComercialesTarifas == 0">NO</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>


                </div>
            </div>

            <!--SECCIÓN BOTONES-->
            <div class="row">
                <div class="SeccionBotones" style="margin-left:5px">
                    <div class="pull-left" style="padding-right:1%" ng-show="(DataActual.length == 0 || DataActual === undefined || DataActual == null || DataActual == '') && Cliente.Codigo > 0">
                        <div class="btn btn-block btn-primary btn-file" data-toggle="tooltip" title="Abrir Archivo" style="height:40px;" ng-click="CerrarModalNuevoProceso();">
                            Abrir Archivo
                            <span class="glyphicon glyphicon-folder-open"></span>
                            <input id="filePrincipal" type="file" name="xlfile" ng-model-instant onchange="angular.element(this).scope().handleFile(this)" class="">
                        </div>
                    </div>

                    <div class="pull-left" style="padding-right:1%" ng-show="DataActual.length > 0 && Cliente.Codigo > 0">
                        <div class="btn btn-block btn-primary btn-file" data-toggle="tooltip" title="Abrir Archivo" style="height:40px;" ng-click="ModalConfirmacionNuevoProceso()">
                            Abrir Archivo
                            <span class="glyphicon glyphicon-folder-open"></span>
                        </div>
                    </div>

                    <div class="pull-left" style="padding-right:1%">
                        <button class="btn btn-block btn-primary" ng-click="GenerarPlanilla()" data-toggle="tooltip" title="Generar Planitlla" style="height:40px">
                            Generar Plantilla
                            <span class="glyphicon glyphicon-save-file"></span>
                        </button>
                    </div>
                    <div class="pull-left" style="padding-right:1%" ng-show="DataActual.length > 0 && Cliente.Codigo > 0">
                        <!---->
                        <button class="btn btn-block btn-primary" id="btnValida" ng-click="ValidarDocumento()" data-toggle="tooltip" title="Guardar Programaciones" style="height:40px">
                            Guardar
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                        </button>
                    </div>
                    <div class="pull-left" style="padding-right:1%" ng-show="ListaErrores.length > 0 && Cliente.Codigo > 0">
                        <!---->
                        <button class="btn btn-block btn-primary" ng-click="VerErrores = false" ng-show="ListaErrores.length > 0 && VerErrores" data-toggle="tooltip" title="Ver Errores" style="height:40px">
                            Ocultar Errores
                            <span class="glyphicon glyphicon-eye-close"></span>
                        </button>
                        <button class="btn btn-danger" ng-click="VerErrores = true" ng-show="ListaErrores.length > 0 && !VerErrores" data-toggle="tooltip" title="Ver Errores" style="height:40px">
                            Ver Errores
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>

                    </div>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div ng-show="DataActual.length > 0">
                <div class="ResultadoConsulta" ng-show="!VerErrores">
                    <!--DataActual.length > 0 &&-->
                    <div class="table-responsive" style="max-height:1200px;max-width:100%">
                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                            <thead>
                                <tr>
                                    <th>Omitir</th>
                                    <th>Fecha</th>
                                    <th>Forma Pago</th>
                                    <th>Ciudad Recolección</th>
                                    <th>Zona</th>
                                    <th>Barrio Recolección</th>
                                    <th>Dirección Recolección</th>
                                    <th>Teléfono Recolección</th>
                                    <th>Fecha Recolección</th>
                                    <th>Contacto</th>
                                    <th>Tipo Id. Destinatario</th>
                                    <th>Idnt. Destinatario</th>
                                    <th>Nombre Destinatario</th>
                                    <th>Ciudad Destinatario</th>
                                    <th>Dirección Destinatario</th>
                                    <th>Barrio Destinatario</th>
                                    <th>Código Postal Destinatario</th>
                                    <th>Teléfono Destinatario</th>
                                    <th>Fecha Entrega</th>
                                    <th>Horario Entrega</th>
                                    <th>Observaciones</th>
                                    <th>Tarifa</th>
                                    <th>Producto</th>
                                    <th>Mercancía</th>
                                    <th>Unidad Empaque</th>
                                    <th>Cantidad</th>
                                    <th>Peso (Kg)</th>
                                    <th>Largo</th>
                                    <th>Alto</th>
                                    <th>Ancho</th>
                                    <th>Peso Volumétrico</th>
                                    <th>Valor Comercial</th>
                                    <th>Valor Flete</th>
                                    <th>Valor Manejo</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in DataActual" style="{{item.stRow}}">
                                    <!-- Omitir-->
                                    <td style="{{item.stGeneral}}">
                                        <input type="checkbox" ng-model="item.Omitido" />
                                        <span ng-if="item.msGeneral !== undefined && item.msGeneral !==''" class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msGeneral}}" data-placement="right"></span>
                                    </td>
                                    <td style="min-width:150px;{{item.stFechaCrea}}">
                                        <div class="input-group">
                                            <input class="form-control" ng-model="item.FechaCrea" type="datetime-local">
                                            <span ng-if="item.msFechaCrea !== undefined && item.msFechaCrea !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msFechaCrea}}"></span>
                                        </div>
                                    </td>
                                    <!-- Forma Pago-->
                                    <td style="min-width:150px;{{item.stFormaPago}}">
                                        <div class="input-group">
                                            <select name="cmbEstado" class="form-control" ng-model="item.FormaPago" ng-options="i.Nombre for i in ListadoFormaPago"></select>
                                            <span ng-if="item.msFormaPago !== undefined && item.msFormaPago !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msFormaPago}}"></span>
                                        </div>
                                    </td>
                                    <!-- Ciudad Recolección-->
                                    <td style="min-width:150px;{{item.stCiudadRecoleccion}}">
                                        <div class="input-group">
                                            <input maxlength="60" type="text" class="form-control plcRed" placeholder="{{item.msCiudadRecoleccion}}" ng-model="item.CiudadRecoleccion" ng-required="false" uib-typeahead="Ciudad as Ciudad.Nombre for Ciudad in ListadoCiudades| filter:$viewValue | limitTo: 5" ng-blur="item.CiudadRecoleccion=VerificarAutocomplete(item.CiudadRecoleccion)">
                                        </div>
                                    </td>
                                    <!-- Zona Recolección-->
                                    <td style="min-width:150px;{{item.stZonaRecoleccion}}">
                                        <input type="text" class="form-control plcRed" placeholder="{{item.msZonaRecoleccion}}" name="Zona Ciudad" maxlength="50" id="ModeloZonaCiudad" ng-model="item.ZonaRecoleccion" autocomplete="off"
                                               uib-typeahead="i as i.Nombre for i in AutocompleteZonasCiudades($viewValue, item.CiudadRecoleccion)| filter:$viewValue | limitTo: 5" ng-required="false"
                                               ng-blur=" item.ZonaRecoleccion=VerificarAutocomplete(item.ZonaRecoleccion)">
                                    </td>
                                    <!-- Barrio Recolección-->
                                    <td style="min-width:150px">
                                        <input maxlength="80" type="text" class="form-control" placeholder="Ingrese barrio" ng-model="item.BarrioRecoleccion" ng-change="item.BarrioRecoleccion=MaskMayusGrid(item.BarrioRecoleccion)">
                                    </td>
                                    <!-- Dirección Recolección-->
                                    <td style="min-width:150px;{{item.stDireccionRecoleccion}}">
                                        <div style="display:flex">
                                            <input class="form-control plcRed" ng-model="item.DireccionRecoleccion" maxlength="50" ng-change="item.DireccionRecoleccion=MaskMayusGrid(item.DireccionRecoleccion)" placeholder="{{item.msDireccionRecoleccion}}">
                                        </div>
                                    </td>
                                    <!-- Teléfono Recolección-->
                                    <td style="min-width:150px;{{item.stTelefonoRecoleccion}}">
                                        <div style="display:flex">
                                            <input class="form-control plcRed" ng-model="item.TelefonoRecoleccion" maxlength="50" ng-change="item.TelefonoRecoleccion=MaskNumeroGrid(item.TelefonoRecoleccion)" placeholder="{{item.msTelefonoRecoleccion}}">
                                        </div>
                                    </td>
                                    <td style="min-width:150px;{{item.stFechaRecoleccion}}">
                                        <div class="input-group">
                                            <input class="form-control" ng-model="item.FechaRecoleccion" type="datetime-local">
                                            <span ng-if="item.msFechaRecoleccion !== undefined && item.msFechaRecoleccion !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msFechaRecoleccion}}"></span>
                                        </div>
                                    </td>
                                    <!-- Contacto-->
                                    <td style="min-width:150px;{{item.stContacto}}">
                                        <div style="display:flex">
                                            <input class="form-control plcRed" ng-model="item.Contacto" maxlength="50" ng-change="item.Contacto=MaskMayusGrid(item.Contacto)" placeholder="{{item.msContacto}}">
                                        </div>
                                    </td>


                                    <!-- ------------------------------------------- DATOS DESTINATARIO ------------------------------------------- -->
                                    <!-- Tipo Identificación-->
                                    <td style="min-width:150px;{{item.stTipoIdentificacionDestinatario}}">
                                        <div class="input-group">
                                            <select name="cmbEstado" class="form-control" ng-model="item.Destinatario.TipoIdentificacion" ng-options="i.Nombre for i in ListadoTipoIdentificacion" ng-disabled="item.Cliente.Codigo > 0"></select>
                                            <span ng-if="item.msTipoIdentificacionDestinatario !== undefined && item.msTipoIdentificacionDestinatario !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msTipoIdentificacionDestinatario}}"></span>
                                        </div>
                                    </td>
                                    <!-- Idnt. Destinatario-->
                                    <td style="min-width:150px;{{item.stNumeroIdentificacionDestinatario}}">
                                        <div style="display:flex">
                                            <input maxlength="20" type="text" ng-change="item.Destinatario.NumeroIdentificacion=MaskNumeroGrid(item.Destinatario.NumeroIdentificacion)" class="form-control plcRed" placeholder="{{item.msNumeroIdentificacionDestinatario}}" ng-model="item.Destinatario.NumeroIdentificacion" ng-required="false" ng-blur="ObtenerDestinatario(item,true)" ng-disabled="item.Cliente.Codigo > 0">
                                        </div>
                                    </td>
                                    <!-- Nombre Destinatario-->
                                    <td style="min-width:150px;{{item.stNombreDestinatario}}">
                                        <div style="display:flex">
                                            <input maxlength="50" type="text" class="form-control plcRed" ng-change="item.Destinatario.Nombre=MaskMayusGrid(item.Destinatario.Nombre)" placeholder="{{item.msNombreDestinatario}}" ng-model="item.Destinatario.Nombre" ng-required="false" ng-disabled="item.Cliente.Codigo > 0">
                                        </div>
                                    </td>
                                    <!-- Ciudad Destinatario-->
                                    <td style="min-width:150px;{{item.stCiudadDestinatario}}">
                                        <div class="input-group">
                                            <input maxlength="60" type="text" class="form-control plcRed" placeholder="{{item.msCiudadDestinatario}}" ng-model="item.Destinatario.Ciudad" ng-required="false" uib-typeahead="Ciudad as Ciudad.Nombre for Ciudad in ListadoCiudades| filter:$viewValue | limitTo: 5" ng-blur="item.Destinatario.Ciudad=VerificarAutocomplete(item.Destinatario.Ciudad)">
                                        </div>
                                    </td>
                                    <!-- Dirección Destinatario-->
                                    <td style="min-width:150px;{{item.stDireccionDestinatario}}">
                                        <div style="display:flex">
                                            <input class="form-control plcRed" ng-model="item.Destinatario.Direccion" maxlength="50" ng-change="item.Destinatario.Direccion=MaskMayusGrid(item.Destinatario.Direccion)" placeholder="{{item.msDireccionDestinatario}}">
                                        </div>
                                    </td>
                                    <!-- Barrio Destinatario-->
                                    <td style="min-width:150px">
                                        <input maxlength="80" type="text" class="form-control" placeholder="Ingrese barrio" ng-model="item.BarrioDestinatario" ng-change="item.BarrioDestinatario=MaskMayusGrid(item.BarrioDestinatario)">
                                    </td>

                                    <!-- Codigo Postal Destinatario-->
                                    <td style="min-width:150px">
                                        <input class="form-control" ng-model="item.CodigoPostalDestinatario" maxlength="50" ng-change="item.CodigoPostalDestinatario=MaskNumeroGrid(item.CodigoPostalDestinatario)" placeholder="Ingrese el codigo postal">
                                    </td>


                                    <!-- Teléfono Destinatario-->
                                    <td style="min-width:150px;{{item.stTelefonosDestinatario}}">
                                        <div style="display:flex">
                                            <input class="form-control plcRed" ng-model="item.Destinatario.Telefonos" maxlength="50" ng-change="item.Destinatario.Telefonos=MaskNumeroGrid(item.Destinatario.Telefonos)" placeholder="{{item.msTelefonosDestinatario}}">
                                        </div>
                                    </td>
                                    <td style="min-width:150px;{{item.stFechaEntrega}}">
                                        <div class="input-group">
                                            <input class="form-control" ng-model="item.FechaEntrega" type="datetime-local">
                                            <span ng-if="item.msFechaEntrega !== undefined && item.msFechaEntrega !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msFechaEntrega}}"></span>
                                        </div>
                                    </td>
                                    <!--Horario Entrega-->
                                    <td style="min-width:150px;{{item.stHorario_Entrega}}">
                                        <select name="cmbTarifa" class="form-control" ng-model="item.Horario_Entrega" ng-options="i.Nombre for i in ListaHorariosEntrega | orderBy: 'Nombre'"></select>
                                        <span ng-if="item.msHorario_Entrega !== undefined && item.msHorario_Entrega !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msHorario_Entrega}}"></span>
                                    </td>


                                    <!-- Observaciones -->
                                    <td style="min-width:150px">
                                        <input type="text" class="form-control" Name="txtObservaciones" maxlength="500" ng-model="item.Observaciones" ng-change="item.Observaciones=MaskMayusGrid(item.Observaciones)" />
                                    </td>

                                    <!-- ------------------------------------------- Valores ------------------------------------------- -->
                                    <!-- Tarifa-->
                                    <td style="min-width:150px">
                                        <select name="cmbTarifa" class="form-control" ng-model="item.TarifaCarga" ng-options="i.Nombre for i in item.ListaTarifaCarga | orderBy: 'Nombre'" ng-change="DataArchivo[$index].TarifaCarga = item.TarifaCarga"></select>
                                    </td>
                                    <!-- Producto-->
                                    <td style="min-width:150px;{{item.stProductoTransportado}}">
                                        <div class="input-group">
                                            <input maxlength="60" type="text" class="form-control plcRed" placeholder="{{item.msProductoTransportado}}" ng-model="item.ProductoTransportado" uib-typeahead="Prod as Prod.Nombre for Prod in ListadoProductoTransportados| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="item.ProductoTransportado=VerificarAutocomplete(item.ProductoTransportado)">
                                        </div>
                                    </td>
                                    <!-- Mercancía-->
                                    <td style="min-width:150px;{{item.stMercancia}}">
                                        <input type="text" class="form-control plcRed" placeholder="{{item.msMercancia}}" ng-model="item.Mercancia" maxlength="20" ng-change="item.Mercancia=MaskMayusGrid(item.Mercancia)">
                                    </td>
                                    <!-- Unidad Empaque-->
                                    <td style="min-width:150px">
                                        <select name="cmbTarifa" class="form-control" ng-model="item.UnidadEmpaque" ng-options="i.Nombre for i in ListadoUnidadesEmpaque | orderBy:'Nombre'"></select>
                                    </td>
                                    <!-- Cantidad-->
                                    <td style="min-width:150px;{{item.stCantidad}}">
                                        <input type="text" style="text-align:right" class="form-control plcRed" placeholder="{{item.msCantidad}}" ng-model="item.Cantidad" maxlength="20" ng-change="item.Cantidad=MaskNumeroGrid(item.Cantidad)">
                                    </td>
                                    <!-- Peso (Kg)-->
                                    <td style="min-width:150px;{{item.stPesoCliente}}">
                                        <input type="text" style="text-align:right" class="form-control plcRed" placeholder="{{item.msPesoCliente}}" ng-model="item.PesoCliente" maxlength="20" ng-change="item.PesoCliente=MaskNumeroGrid(item.PesoCliente)">
                                    </td>
                                    <!-- Largo-->
                                    <td style="min-width:150px;{{item.stLargo}}">
                                        <input type="text" style="text-align:right" class="form-control plcRed" placeholder="{{item.msLargo}}" ng-model="item.Largo" maxlength="20" ng-change="item.Largo=MaskNumeroGrid(item.Largo)">
                                    </td>
                                    <!-- Alto-->
                                    <td style="min-width:150px;{{item.stAlto}}">
                                        <input type="text" style="text-align:right" class="form-control plcRed" placeholder="{{item.msAlto}}" ng-model="item.Alto" maxlength="20" ng-change="item.Alto=MaskNumeroGrid(item.Alto)">
                                    </td>
                                    <!-- Ancho-->
                                    <td style="min-width:150px;{{item.stAncho}}">
                                        <input type="text" style="text-align:right" class="form-control plcRed" placeholder="{{item.msAncho}}" ng-model="item.Ancho" maxlength="20" ng-change="item.Ancho=MaskNumeroGrid(item.Ancho)">
                                    </td>
                                    <!-- Peso_Volumetrico-->
                                    <td style="min-width:150px;{{item.stPeso_Volumetrico}}">
                                        <input type="text" style="text-align:right" class="form-control plcRed" placeholder="{{item.msPeso_Volumetrico}}" ng-model="item.Peso_Volumetrico" maxlength="20" ng-change="item.Peso_Volumetrico=MaskNumeroGrid(item.Peso_Volumetrico)">
                                    </td>
                                    <!-- Valor Comercial-->
                                    <td style="min-width:150px;{{item.stValorComercialCliente}}">
                                        <input type="text" style="text-align:right" class="form-control plcRed" placeholder="{{item.msValorComercialCliente}}" ng-model="item.ValorComercialCliente" maxlength="20" ng-change="item.ValorComercialCliente=MaskValoresGrid(item.ValorComercialCliente)">
                                    </td>

                                    <!-- Flete-->
                                    <td style="min-width:150px">
                                        {{item.ValorFleteCliente | number:0}}
                                    </td>
                                    <!-- Manejo-->
                                    <td style="min-width:150px">
                                        {{item.ValorManejoCliente | number:0}}
                                    </td>
                                    <!-- Total-->
                                    <td style="min-width:150px">
                                        {{item.TotalFleteCliente | number:0}}
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                <tr>
                                    <td colspan="4">
                                        <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                        <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                            <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                <span class="item">&laquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                <span class="item">&lsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                <span class="item">&rsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                <span class="item">&raquo;</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                        <span style="color:red">
                            <small>{{ResultadoSinRegistros}}</small>
                        </span>
                    </div>
                </div>
                <div class="ResultadoConsulta" ng-show="VerErrores">
                    <br />
                    <label>Omitir Todos</label>
                    <input type="checkbox" ng-model="Marctodo" ng-change="MarcadDesmarcarTodo(Marctodo)" class="ng-valid ng-dirty ng-valid-parse ng-touched">
                    <div class="table-responsive" style="max-height:1200px;max-width:100%">
                        <div class="table-responsive" style="max-height:1200px;max-width:100%">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Omitir</th>
                                        <th>Fecha</th>
                                        <th>Forma Pago</th>
                                        <th>Ciudad Recolección</th>
                                        <th>Zona</th>
                                        <th>Barrio Recolección</th>
                                        <th>Dirección Recolección</th>
                                        <th>Teléfono Recolección</th>
                                        <th>Fecha Recolección</th>
                                        <th>Contacto</th>
                                        <th>Tipo Id. Destinatario</th>
                                        <th>Idnt. Destinatario</th>
                                        <th>Nombre Destinatario</th>
                                        <th>Ciudad Destinatario</th>
                                        <th>Dirección Destinatario</th>
                                        <th>Barrio Destinatario</th>
                                        <th>Código Postal Destinatario</th>
                                        <th>Teléfono Destinatario</th>
                                        <th>Fecha Entrega</th>
                                        <th>Horario Entrega</th>
                                        <th>Observaciones</th>
                                        <th>Tarifa</th>
                                        <th>Producto</th>
                                        <th>Mercancía</th>
                                        <th>Unidad Empaque</th>
                                        <th>Cantidad</th>
                                        <th>Peso (Kg)</th>
                                        <th>Largo</th>
                                        <th>Alto</th>
                                        <th>Ancho</th>
                                        <th>Peso Volumétrico</th>
                                        <th>Valor Comercial</th>
                                        <th>Valor Flete</th>
                                        <th>Valor Manejo</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in DataActual" style="{{item.stRow}}">
                                        <!-- Omitir-->
                                        <td style="{{item.stGeneral}}">
                                            <input type="checkbox" ng-model="item.Omitido" />
                                            <span ng-if="item.msGeneral !== undefined && item.msGeneral !==''" class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msGeneral}}" data-placement="right"></span>
                                        </td>
                                        <td style="min-width:150px;{{item.stFechaCrea}}">
                                            <div class="input-group">
                                                <input class="form-control" ng-model="item.FechaCrea" type="datetime-local">
                                                <span ng-if="item.msFechaCrea !== undefined && item.msFechaCrea !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msFechaCrea}}"></span>
                                            </div>
                                        </td>
                                        <!-- Forma Pago-->
                                        <td style="min-width:150px;{{item.stFormaPago}}">
                                            <div class="input-group">
                                                <select name="cmbEstado" class="form-control" ng-model="item.FormaPago" ng-options="i.Nombre for i in ListadoFormaPago"></select>
                                                <span ng-if="item.msFormaPago !== undefined && item.msFormaPago !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msFormaPago}}"></span>
                                            </div>
                                        </td>
                                        <!-- Ciudad Recolección-->
                                        <td style="min-width:150px;{{item.stCiudadRecoleccion}}">
                                            <div class="input-group">
                                                <input maxlength="60" type="text" class="form-control plcRed" placeholder="{{item.msCiudadRecoleccion}}" ng-model="item.CiudadRecoleccion" ng-required="false" uib-typeahead="Ciudad as Ciudad.Nombre for Ciudad in ListadoCiudades| filter:$viewValue | limitTo: 5" ng-blur="item.CiudadRecoleccion=VerificarAutocomplete(item.CiudadRecoleccion)">
                                            </div>
                                        </td>
                                        <!-- Zona Recolección-->
                                        <td style="min-width:150px;{{item.stZonaRecoleccion}}">
                                            <input type="text" class="form-control plcRed" placeholder="{{item.msZonaRecoleccion}}" name="Zona Ciudad" maxlength="50" id="ModeloZonaCiudad" ng-model="item.ZonaRecoleccion" autocomplete="off"
                                                   uib-typeahead="i as i.Nombre for i in AutocompleteZonasCiudades($viewValue, item.CiudadRecoleccion)| filter:$viewValue | limitTo: 5" ng-required="false"
                                                   ng-blur=" item.ZonaRecoleccion=VerificarAutocomplete(item.ZonaRecoleccion)">
                                        </td>
                                        <!-- Barrio Recolección-->
                                        <td style="min-width:150px">
                                            <input maxlength="80" type="text" class="form-control" placeholder="Ingrese barrio" ng-model="item.BarrioRecoleccion" ng-change="item.BarrioRecoleccion=MaskMayusGrid(item.BarrioRecoleccion)">
                                        </td>
                                        <!-- Dirección Recolección-->
                                        <td style="min-width:150px;{{item.stDireccionRecoleccion}}">
                                            <div style="display:flex">
                                                <input class="form-control plcRed" ng-model="item.DireccionRecoleccion" maxlength="50" ng-change="item.DireccionRecoleccion=MaskMayusGrid(item.DireccionRecoleccion)" placeholder="{{item.msDireccionRecoleccion}}">
                                            </div>
                                        </td>
                                        <!-- Teléfono Recolección-->
                                        <td style="min-width:150px;{{item.stTelefonoRecoleccion}}">
                                            <div style="display:flex">
                                                <input class="form-control plcRed" ng-model="item.TelefonoRecoleccion" maxlength="50" ng-change="item.TelefonoRecoleccion=MaskNumeroGrid(item.TelefonoRecoleccion)" placeholder="{{item.msTelefonoRecoleccion}}">
                                            </div>
                                        </td>
                                        <td style="min-width:150px;{{item.stFechaRecoleccion}}">
                                            <div class="input-group">
                                                <input class="form-control" ng-model="item.FechaRecoleccion" type="datetime-local">
                                                <span ng-if="item.msFechaRecoleccion !== undefined && item.msFechaRecoleccion !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msFechaRecoleccion}}"></span>
                                            </div>
                                        </td>
                                        <!-- Contacto-->
                                        <td style="min-width:150px;{{item.stContacto}}">
                                            <div style="display:flex">
                                                <input class="form-control plcRed" ng-model="item.Contacto" maxlength="50" ng-change="item.Contacto=MaskMayusGrid(item.Contacto)" placeholder="{{item.msContacto}}">
                                            </div>
                                        </td>


                                        <!-- ------------------------------------------- DATOS DESTINATARIO ------------------------------------------- -->
                                        <!-- Tipo Identificación-->
                                        <td style="min-width:150px;{{item.stTipoIdentificacionDestinatario}}">
                                            <div class="input-group">
                                                <select name="cmbEstado" class="form-control" ng-model="item.Destinatario.TipoIdentificacion" ng-options="i.Nombre for i in ListadoTipoIdentificacion" ng-disabled="item.Cliente.Codigo > 0"></select>
                                                <span ng-if="item.msTipoIdentificacionDestinatario !== undefined && item.msTipoIdentificacionDestinatario !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msTipoIdentificacionDestinatario}}"></span>
                                            </div>
                                        </td>
                                        <!-- Idnt. Destinatario-->
                                        <td style="min-width:150px;{{item.stNumeroIdentificacionDestinatario}}">
                                            <div style="display:flex">
                                                <input maxlength="20" type="text" ng-change="item.Destinatario.NumeroIdentificacion=MaskNumeroGrid(item.Destinatario.NumeroIdentificacion)" class="form-control plcRed" placeholder="{{item.msNumeroIdentificacionDestinatario}}" ng-model="item.Destinatario.NumeroIdentificacion" ng-required="false" ng-blur="ObtenerDestinatario(item,true)" ng-disabled="item.Cliente.Codigo > 0">
                                            </div>
                                        </td>
                                        <!-- Nombre Destinatario-->
                                        <td style="min-width:150px;{{item.stNombreDestinatario}}">
                                            <div style="display:flex">
                                                <input maxlength="50" type="text" class="form-control plcRed" ng-change="item.Destinatario.Nombre=MaskMayusGrid(item.Destinatario.Nombre)" placeholder="{{item.msNombreDestinatario}}" ng-model="item.Destinatario.Nombre" ng-required="false" ng-disabled="item.Cliente.Codigo > 0">
                                            </div>
                                        </td>
                                        <!-- Ciudad Destinatario-->
                                        <td style="min-width:150px;{{item.stCiudadDestinatario}}">
                                            <div class="input-group">
                                                <input maxlength="60" type="text" class="form-control plcRed" placeholder="{{item.msCiudadDestinatario}}" ng-model="item.Destinatario.Ciudad" ng-required="false" uib-typeahead="Ciudad as Ciudad.Nombre for Ciudad in ListadoCiudades| filter:$viewValue | limitTo: 5" ng-blur="item.Destinatario.Ciudad=VerificarAutocomplete(item.Destinatario.Ciudad)">
                                            </div>
                                        </td>
                                        <!-- Dirección Destinatario-->
                                        <td style="min-width:150px;{{item.stDireccionDestinatario}}">
                                            <div style="display:flex">
                                                <input class="form-control plcRed" ng-model="item.Destinatario.Direccion" maxlength="50" ng-change="item.Destinatario.Direccion=MaskMayusGrid(item.Destinatario.Direccion)" placeholder="{{item.msDireccionDestinatario}}">
                                            </div>
                                        </td>
                                        <!-- Barrio Destinatario-->
                                        <td style="min-width:150px">
                                            <input maxlength="80" type="text" class="form-control" placeholder="Ingrese barrio" ng-model="item.BarrioDestinatario" ng-change="item.BarrioDestinatario=MaskMayusGrid(item.BarrioDestinatario)">
                                        </td>

                                        <!-- Codigo Postal Destinatario-->
                                        <td style="min-width:150px">
                                            <input class="form-control" ng-model="item.CodigoPostalDestinatario" maxlength="50" ng-change="item.CodigoPostalDestinatario=MaskNumeroGrid(item.CodigoPostalDestinatario)" placeholder="Ingrese el codigo postal">
                                        </td>


                                        <!-- Teléfono Destinatario-->
                                        <td style="min-width:150px;{{item.stTelefonosDestinatario}}">
                                            <div style="display:flex">
                                                <input class="form-control plcRed" ng-model="item.Destinatario.Telefonos" maxlength="50" ng-change="item.Destinatario.Telefonos=MaskNumeroGrid(item.Destinatario.Telefonos)" placeholder="{{item.msTelefonosDestinatario}}">
                                            </div>
                                        </td>
                                        <td style="min-width:150px;{{item.stFechaEntrega}}">
                                            <div class="input-group">
                                                <input class="form-control" ng-model="item.FechaEntrega" type="datetime-local">
                                                <span ng-if="item.msFechaEntrega !== undefined && item.msFechaEntrega !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msFechaEntrega}}"></span>
                                            </div>
                                        </td>
                                        <!--Horario Entrega-->
                                        <td style="min-width:150px;{{item.stHorario_Entrega}}">
                                            <select name="cmbTarifa" class="form-control" ng-model="item.Horario_Entrega" ng-options="i.Nombre for i in ListaHorariosEntrega | orderBy: 'Nombre'"></select>
                                            <span ng-if="item.msHorario_Entrega !== undefined && item.msHorario_Entrega !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.msHorario_Entrega}}"></span>
                                        </td>


                                        <!-- Observaciones -->
                                        <td style="min-width:150px">
                                            <input type="text" class="form-control" Name="txtObservaciones" maxlength="500" ng-model="item.Observaciones" ng-change="item.Observaciones=MaskMayusGrid(item.Observaciones)" />
                                        </td>

                                        <!-- ------------------------------------------- Valores ------------------------------------------- -->
                                        <!-- Tarifa-->
                                        <td style="min-width:150px">
                                            <select name="cmbTarifa" class="form-control" ng-model="item.TarifaCarga" ng-options="i.Nombre for i in item.ListaTarifaCarga | orderBy: 'Nombre'" ng-change="DataArchivo[$index].TarifaCarga = item.TarifaCarga"></select>
                                        </td>
                                        <!-- Producto-->
                                        <td style="min-width:150px;{{item.stProductoTransportado}}">
                                            <div class="input-group">
                                                <input maxlength="60" type="text" class="form-control plcRed" placeholder="{{item.msProductoTransportado}}" ng-model="item.ProductoTransportado" uib-typeahead="Prod as Prod.Nombre for Prod in ListadoProductoTransportados| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="item.ProductoTransportado=VerificarAutocomplete(item.ProductoTransportado)">
                                            </div>
                                        </td>
                                        <!-- Mercancía-->
                                        <td style="min-width:150px;{{item.stMercancia}}">
                                            <input type="text" class="form-control plcRed" placeholder="{{item.msMercancia}}" ng-model="item.Mercancia" maxlength="20" ng-change="item.Mercancia=MaskMayusGrid(item.Mercancia)">
                                        </td>
                                        <!-- Unidad Empaque-->
                                        <td style="min-width:150px">
                                            <select name="cmbTarifa" class="form-control" ng-model="item.UnidadEmpaque" ng-options="i.Nombre for i in ListadoUnidadesEmpaque | orderBy:'Nombre'"></select>
                                        </td>
                                        <!-- Cantidad-->
                                        <td style="min-width:150px;{{item.stCantidad}}">
                                            <input type="text" style="text-align:right" class="form-control plcRed" placeholder="{{item.msCantidad}}" ng-model="item.Cantidad" maxlength="20" ng-change="item.Cantidad=MaskNumeroGrid(item.Cantidad)">
                                        </td>
                                        <!-- Peso (Kg)-->
                                        <td style="min-width:150px;{{item.stPesoCliente}}">
                                            <input type="text" style="text-align:right" class="form-control plcRed" placeholder="{{item.msPesoCliente}}" ng-model="item.PesoCliente" maxlength="20" ng-change="item.PesoCliente=MaskNumeroGrid(item.PesoCliente)">
                                        </td>
                                        <!-- Largo-->
                                        <td style="min-width:150px;{{item.stLargo}}">
                                            <input type="text" style="text-align:right" class="form-control plcRed" placeholder="{{item.msLargo}}" ng-model="item.Largo" maxlength="20" ng-change="item.Largo=MaskNumeroGrid(item.Largo)">
                                        </td>
                                        <!-- Alto-->
                                        <td style="min-width:150px;{{item.stAlto}}">
                                            <input type="text" style="text-align:right" class="form-control plcRed" placeholder="{{item.msAlto}}" ng-model="item.Alto" maxlength="20" ng-change="item.Alto=MaskNumeroGrid(item.Alto)">
                                        </td>
                                        <!-- Ancho-->
                                        <td style="min-width:150px;{{item.stAncho}}">
                                            <input type="text" style="text-align:right" class="form-control plcRed" placeholder="{{item.msAncho}}" ng-model="item.Ancho" maxlength="20" ng-change="item.Ancho=MaskNumeroGrid(item.Ancho)">
                                        </td>
                                        <!-- Peso_Volumetrico-->
                                        <td style="min-width:150px;{{item.stPeso_Volumetrico}}">
                                            <input type="text" style="text-align:right" class="form-control plcRed" placeholder="{{item.msPeso_Volumetrico}}" ng-model="item.Peso_Volumetrico" maxlength="20" ng-change="item.Peso_Volumetrico=MaskNumeroGrid(item.Peso_Volumetrico)">
                                        </td>
                                        <!-- Valor Comercial-->
                                        <td style="min-width:150px;{{item.stValorComercialCliente}}">
                                            <input type="text" style="text-align:right" class="form-control plcRed" placeholder="{{item.msValorComercialCliente}}" ng-model="item.ValorComercialCliente" maxlength="20" ng-change="item.ValorComercialCliente=MaskValoresGrid(item.ValorComercialCliente)">
                                        </td>

                                        <!-- Flete-->
                                        <td style="min-width:150px">
                                            {{item.ValorFleteCliente | number:0}}
                                        </td>
                                        <!-- Manejo-->
                                        <td style="min-width:150px">
                                            {{item.ValorManejoCliente | number:0}}
                                        </td>
                                        <!-- Total-->
                                        <td style="min-width:150px">
                                            {{item.TotalFleteCliente | number:0}}
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot ng-if="totalRegistrosErrores > 0 || Buscando == true">
                                    <tr>
                                        <td colspan="4">
                                            <small ng-if="totalRegistrosErrores > 0">Página: {{paginaActualError}} de {{totalPaginasErrores}} ({{totalRegistrosErrores}} Registros)</small>
                                            <div class="pagination rightAling" ng-if="totalRegistrosErrores > 0">
                                                <button class="button primary" ng-click="PrimerPaginaModalError()" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="AnteriorModalError()" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="SiguienteModalError()" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPaginaModalError()" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div style="text-align:center" class="col-md-12" ng-if="totalRegistrosErrores == 0 && Buscando == false">
                            <span style="color:red">
                                <small>{{ResultadoSinRegistros}}</small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="modalConfirmacionGuardarPorgramacion" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" onclick="closeModal('modalConfirmacionGuardarPorgramacion')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p style="text-align:center">Los datos se verificaron correctamente. ¿Desea continuar con el cargue de la información?</p>

                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" onclick="closeModal('modalConfirmacionGuardarPorgramacion')">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="CargueMasivo()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    

    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionCancelarProceso" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Desea cancelar el proceso actual?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>

                        </div>
                        <div class="pull-left">
                            <div class="btn btn-block btn-primary btn-file" style="min-width : 100px;" data-toggle="tooltip" title="Abrir Archivo" ng-click="LimpiarData();CerrarModalNuevoProceso(this);ListaErrores = ''; VerErrores = false;angular.element(document.querySelector('#fileModal')).scope().$destroy();">
                                Aceptar
                                <input id="fileModal" type="file" name="xlfile" ng-model-instant onchange="angular.element(this).scope().handleFile(this)" class="">
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>