﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CUMPLIR GUÍAS</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <section class="content">
        <form>
            <div id="filtrosConsulta">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="CodigoAlterno">Número</label>
                            <input name="CodigoAlterno" class="form-control" ng-model="NumeroInicial" placeholder="Ingrese un valor" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechVinc">Fecha Inicial</label>
                            <input name="txtFechVinc" type="date" class="form-control" ng-model="FechaInicial">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechVinc">Fecha Final</label>
                            <input name="txtFechVinc" type="date" class="form-control" ng-model="FechaFinal">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="CodigoAlterno">No. Planilla</label>
                            <input name="CodigoAlterno" class="form-control" ng-model="NumeroPlanillaDespacho" placeholder="Ingrese un valor" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>
                    
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Vehículo</label>
                            <input type="text" class="form-control" placeholder="Vehículo" ng-model="Remesa.Vehiculo" autocomplete="off"
                                   uib-typeahead="Vehi as Vehi.Placa for Vehi in AutocompleteVehiculos($viewValue)| filter:$viewValue | limitTo: 5"
                                   ng-blur="Vehiculo=VerificarAutocomplete(Remesa.Vehiculo)" ng-disabled="DeshabilitarActualizar" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Ciudad Origen</label>
                            <input type="text" class="form-control" placeholder="Seleccione una Ciudad" ng-model="Remesa.CiudadRemitente"
                                   uib-typeahead="Ciudad as Ciudad.Nombre for Ciudad in ListadoCiudades| filter:$viewValue | limitTo: 5" autocomplete="off"
                                   ng-blur="Remesa.CiudadRemitente=VerificarAutocomplete(Modelo.Remesa.CiudadRemitente)">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Ciudad Destino</label>
                            <input type="text" class="form-control" placeholder="Seleccione una Ciudad" ng-model="Remesa.CiudadDestinatario"
                                   uib-typeahead="Ciudad as Ciudad.Nombre for Ciudad in ListadoCiudades| filter:$viewValue | limitTo: 5" autocomplete="off"
                                   ng-blur="Remesa.CiudadDestinatario=VerificarAutocomplete(Modelo.Remesa.CiudadDestinatario)">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Cliente</label>
                            <input type="text" class="form-control" placeholder="Seleccione un Cliente" ng-model="Remesa.Cliente" autocomplete="off"
                                   uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in AutocompleteCliente($viewValue) | filter:$viewValue | limitTo: 5"
                                   ng-blur="Remesa.Clientee=VerificarAutocomplete(Modelo.Remesa.Cliente)">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="CodigoAlterno">Documento Cliente</label>
                            <input name="CodigoAlterno" class="form-control" ng-model="Remesa.NumeroDocumentoCliente" placeholder="Ingrese un valor" maxlength="20">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Entrega</label>
                            <select class="form-control" ng-model="TipoEntregaRemesaPaqueteria" ng-options="i.Nombre for i in ListadoTipoEntregaRemesaPaqueteria"></select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="oficina">Oficina</label>
                            <select name="oficina" class="form-control" ng-model="Oficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                        </div>
                    </div>
                </div>
                <!--SECCIÓN BOTONES-->
                <div id="lineButtons">
                    <div class="pull-left">
                        <button class="btn btn-block btn-primary" ng-click="Buscar()" title="Buscar" ng-disabled="DeshabilitarConsulta">
                            Buscar
                            <span class="glyphicon glyphicon-filter"></span>
                        </button>
                    </div>
                </div>
                <br />
                <hr />
                <!--RESULTADO CONSULTA-->
                <div class="row">
                    <div class="col-md-12">
                        <div id="resultadoConsulta">
                            <div class="table-responsive" ng-if="ListadoRemesasPaqueteria.length > 0">
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Remesa</th>
                                            <th>Fecha</th>
                                            <th>Ciudad</th>
                                            <th>Cliente</th>
                                            <th>Vehiculo</th>
                                            <th>Conductor</th>
                                            <th>Producto</th>
                                            <th>Cantidad</th>
                                            <th>Peso (Kg)</th>
                                            <th>Oficina</th>
                                            <th>Observaciones</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ListadoRemesasPaqueteria | orderBy:'Numero'">
                                            <td>{{item.Remesa.NumeroDocumento}}</td>
                                            <td>{{item.Remesa.Fecha | date:'dd/MM/yyyy' }}</td>
                                            <td>{{item.Remesa.CiudadDestinatario.Nombre}}</td>
                                            <td>{{item.Remesa.Cliente.NombreCompleto}}</td>
                                            <td>{{item.Remesa.Vehiculo.Placa}}</td>
                                            <td>{{item.Remesa.Conductor.NombreCompleto}}</td>
                                            <td>{{item.Remesa.ProductoTransportado.Nombre}}</td>
                                            <td align="right">{{MaskValoresGrid(item.Remesa.CantidadCliente)}}</td>
                                            <td align="right">{{item.Remesa.PesoCliente}}</td>
                                            <td>{{item.OficinaActual.Nombre}}</td>
                                            <td>{{item.Remesa.Observaciones}}</td>
                                            <td>
                                                <button class="button mini-button btn-primary" title="Cumplir Remesa" ng-click="AbrirModalControlEntregas(item)" ng-disabled="DeshabilitarActualizar">
                                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                        <tr>
                                            <td colspan="4">
                                                <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                    <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                        <span class="item">&laquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                        <span class="item">&lsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                        <span class="item">&rsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                        <span class="item">&raquo;</span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                <span style="color:red">
                                    <small>{{ResultadoSinRegistros}}</small>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalControlEntregas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-danger" role="alert" ng-if="MensajesErrorRecibir.length > 0">
                                    <ul>
                                        <li ng-repeat="error in MensajesErrorRecibir">
                                            <span>{{error}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Número</label>
                                    <span class="form-control">{{ControlEntrega.NumeroDocumento}}</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Cliente</label>
                                    <span class="form-control">{{ControlEntrega.Cliente.NombreCompleto}}</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Producto</label>
                                    <span class="form-control">{{ControlEntrega.ProductoTransportado.Nombre}}</span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Cantidad</label>
                                    <span class="form-control">{{ControlEntrega.CantidadCliente}}</span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Peso</label>
                                    <span class="form-control">{{ControlEntrega.PesoCliente}}</span>
                                </div>
                            </div>
                        </div>
                        <!--Destinatario-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-default box-solid collapsed-box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title ng-binding">Destinatario</h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label for="lblTipoIden">Tipo Identificación</label>
                                                    <select name="cmbTipoIden" class="form-control" ng-model="ControlEntrega.Destinatario.TipoIdentificacion" ng-options="i.Nombre for i in ListadoTipoIdentificacion" ng-disabled="DeshabilitarDatosDestinatario"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Identificación</label>
                                                    <input ng-change="MaskNumero()" placeholder="Digite identificación" maxlength="30" type="text" class="form-control" ng-model="ControlEntrega.Destinatario.NumeroIdentificacion" ng-disabled="DeshabilitarDatosDestinatario">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Nombre</label>
                                                    <input ng-change="MaskMayus()" maxlength="50" placeholder="Digite nombre" type="text" class="form-control" ng-model="ControlEntrega.Destinatario.NombreCompleto" ng-disabled="DeshabilitarDatosDestinatario">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Ciudad</label>
                                                    <input autocomplete="off" type="text" class="form-control" maxlength="50" placeholder="Ingrese ciudad" ng-model="ControlEntrega.Destinatario.Ciudad.Nombre" ng-disabled="DeshabilitarDatosDestinatario">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label for="lblZona">Zona</label>
                                                    <input class="form-control" type="text" ng-model="ControlEntrega.Destinatario.ZonaDestinatario" ng-disabled="DeshabilitarDatosDestinatario">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Barrio</label>
                                                    <input ng-change="MaskMayus()" placeholder="Digite barrio" maxlength="50" type="text" class="form-control" ng-model="ControlEntrega.Destinatario.Barrio" ng-disabled="DeshabilitarDatosDestinatario">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Dirección</label>
                                                    <input ng-change="MaskDireccion()" placeholder="Digite dirección" maxlength="150" type="text" class="form-control" ng-model="ControlEntrega.Destinatario.Direccion" ng-disabled="DeshabilitarDatosDestinatario">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Código Postal</label>
                                                    <input ng-change="MaskNumero()" placeholder="Digite código postal" maxlength="8" type="text" class="form-control" ng-model="ControlEntrega.Destinatario.CodigoPostal" ng-disabled="DeshabilitarDatosDestinatario">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Teléfono</label>
                                                    <input ng-change="MaskTelefono()" placeholder="Digite teléfono" maxlength="30" type="text" class="form-control" ng-model="ControlEntrega.Destinatario.Telefonos" ng-disabled="DeshabilitarDatosDestinatario">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Destinatario-->
                        <!--Recibe-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-default box-solid">
                                    <div class="box-header with-border">
                                        <h3 class="box-title ng-binding">Recibe</h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Fecha</label>
                                                    <input type="date" class="form-control" ng-model="ControlEntrega.Recibe.FechaRecibe" ng-disabled="true">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Cantidad</label>
                                                    <input style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="8" placeholder="Ingrese cantidad" ng-model="ControlEntrega.Recibe.CantidadRecibe" ng-disabled="DeshabilitarDatosRecibe" ng-blur="VerificarCantidad()">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Peso (Kg)</label>
                                                    <input style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="8" placeholder="Ingrese peso" ng-model="ControlEntrega.Recibe.PesoRecibe" ng-disabled="DeshabilitarDatosRecibe" ng-blur="VerificarPeso()">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Tipo Identificación</label>
                                                    <select class="form-control" ng-model="ControlEntrega.Recibe.TipoIdentificacionRecibe" ng-options="i.Nombre for i in ListadoTipoIdentificacion  | orderBy:'Nombre' " ng-disabled="DeshabilitarDatosRecibe"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Identificación</label>
                                                    <input ng-change="MaskNumero()" placeholder="Digite identificación" maxlength="30" type="text" class="form-control" ng-model="ControlEntrega.Recibe.NumeroIdentificacion" ng-disabled="DeshabilitarDatosRecibe" ng-blur="VerificarRecibe(ControlEntrega.Recibe.NumeroIdentificacion)">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Nombre</label>
                                                    <input ng-change="MaskMayus()" maxlength="50" placeholder="Digite nombre" type="text" class="form-control" ng-model="ControlEntrega.Recibe.NombreRecibe" ng-disabled="DeshabilitarDatosRecibe">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Teléfono</label>
                                                    <input ng-change="MaskTelefono()" placeholder="Digite teléfono" maxlength="30" type="text" class="form-control" ng-model="ControlEntrega.Recibe.TelefonoRecibe" ng-disabled="DeshabilitarDatosRecibe">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Novedad Entrega</label>
                                                    <select class="form-control" ng-model="ControlEntrega.Recibe.NovedadEntrega" ng-options="i.Nombre for i in ListadoNovedades  | orderBy:'Nombre' " ng-disabled="DeshabilitarDatosRecibe"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label>Observaciones</label>
                                                    <input style="height:55px" type="text" class="form-control" maxlength="500" ng-model="ControlEntrega.Recibe.ObservacionesRecibe" ng-disabled="DeshabilitarDatosRecibe">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Recibe-->
                        <!--Digitalizacion-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-default box-solid">
                                    <div class="box-header with-border">
                                        <h3 class="box-title ng-binding">Digitalización</h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <canvas id="CanvasVertical" width="500" height="700" style="display:none">
                                                    Accede a este script con un navegador que acepte canvas del HTML 5
                                                </canvas>
                                                <canvas id="CanvasHorizontal" width="700" height="500" style="display:none">
                                                    Accede a este script con un navegador que acepte canvas del HTML 5
                                                </canvas>
                                                <span class="btn btn-default btn-file col-md-12">
                                                    Seleccionar Imagen <input type="file" id="inputImg" onchange="angular.element(this).scope().CargarImagen(this)" accept="image/x-png, image/jpeg" ng-disabled="DeshabilitarDatosRecibe">
                                                </span>
                                            </div>
                                            <div class="col-md-12">
                                                <img class="img-responsive" style="width:100%" src="{{Foto[0].FotoCargada}}" id="Foto" />
                                            </div>
                                            <div class="col-md-12">
                                                <button type="button" class="btn btn-danger  col-md-12" title="Borrar foto" ng-click="EliminarFoto(Foto)" ng-if="Foto[0].ValorDocumento == 1" ng-disabled="DeshabilitarDatosRecibe">
                                                    Eliminar Foto
                                                    <span class="fas fa-trash-alt"></span>
                                                </button>
                                            </div>
                                            <br />
                                            <div class="col-md-12">
                                                <div class="FirmaDigital">
                                                    <div><h2>Firma</h2></div>
                                                    <div>
                                                        <canvas id="Firma" class="Firma" ng-signature-pad="signature">Firma</canvas>
                                                    </div>
                                                    <div class="text-center">
                                                        <button type="button" class="btn btn-default" ng-click="LimpiarFirma()" ng-disabled="DeshabilitarDatosRecibe">
                                                            limpiar firma
                                                            <span class="glyphicon glyphicon-remove-circle"></span>
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Digitalizacion-->
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="LimpiarModalControlEntregas()" ">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ValidarCumplirRemesaPaqueteria()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de cumplir las guias seleccionadas?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionCumplir()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>