﻿<div ng-init="InitLoad()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>ENTREGAS EN OFICINA</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <section class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="Form-Imput">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechIni">Fecha Inicial</label>
                            <input name="txtFechIni" type="date" class="form-control" ng-model="Modelo.FechaInicial">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechFina">Fecha Final</label>
                            <input name="txtFechFina" type="date" class="form-control" ng-model="Modelo.FechaFinal">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroInicial">Número</label>
                            <input name="NumeroInicial" class="form-control" ng-model="Modelo.NumeroInicial" placeholder="Ingrese número inicial" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroInicial">No. Preimpreso</label>
                            <input name="NumeroInicial" class="form-control" ng-model="Modelo.Numeracion" placeholder="Ingrese numeración" maxlength="20">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Cliente</label>
                            <input class="form-control" ng-model="Modelo.Remesa.Cliente.NombreCompleto" placeholder="Ingrese un Cliente" maxlength="150">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="CodigoAlterno">Documento Cliente</label>
                            <input name="CodigoAlterno" class="form-control" ng-model="Modelo.Remesa.NumeroDocumentoCliente" placeholder="Ingrese un Documento Cliente" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Remitente</label>
                            <input class="form-control" ng-model="Modelo.Remesa.Remitente.Nombre" placeholder="Ingrese un Remitente" maxlength="150">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Destinatario</label>
                            <input class="form-control" ng-model="Modelo.Remesa.Destinatario.Nombre" placeholder="Ingrese un Destinatario" maxlength="150">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Origen</label>
                            <input class="form-control" ng-model="Modelo.Remesa.CiudadRemitente.Nombre" placeholder="Ingrese un Origen" maxlength="150">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Destino</label>
                            <input class="form-control" ng-model="Modelo.Remesa.CiudadDestinatario.Nombre" placeholder="Ingrese un Destino" maxlength="150">
                        </div>
                    </div>
                    <!--<div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina Actual</label>
                            <select name="cmbOficina" class="form-control" ng-model="Modelo.OficinaActual" ng-options="i.Nombre for i in ListadoOficinasActual"></select>
                        </div>
                    </div>-->
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina Crea</label>
                            <select name="cmbOficina" class="form-control" ng-model="Modelo.Oficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado Remesa</label>
                            <select name="cmbEstado" class="form-control" ng-model="Modelo.EstadoRemesaPaqueteria" ng-options="i.Nombre for i in ListadoEstadoGuia"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado Documento</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModeloEstado" ng-options="i.Nombre for i in ListadoEstadoRemesaPaqueteria"></select>
                        </div>
                    </div>
                </div>
                <!--SECCIÓN BOTONES-->
                <div class="lineButtons">
                    <div class="pull-left">
                        <button class="btn btn-block btn-primary" title="Buscar" ng-click="paginaActual=1;Buscar();Modelo.NumeroFinal = 0">
                            Buscar
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                    <!--<div class="pull-right">
                        <button class="btn btn-block btn-primary" title="Nuevo" ng-click="NuevoDocumento()">
                            Nuevo
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>-->
                </div>
                <br />
                <hr />
                <!--RESULTADO CONSULTA-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive" ng-if="ListadoGuias.length > 0">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Número</th>
                                        <th>No. Preimpreso</th>
                                        <th>Fecha</th>
                                        <th>Cliente/Remitente</th>
                                        <th>Documento Cliente</th>
                                        <th>Origen</th>
                                        <th>Destino</th>
                                        <th>Destinatario</th>
                                        <th>Forma Pago</th>
                                        <th>Total</th>
                                        <th>Oficina Actual</th>
                                        <th>Oficina Crea</th>
                                        <th>Estado Remesa</th>
                                        <th>Estado Documento</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoGuias | orderBy:'Codigo' | filter: filtroListadoGuias">
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                    <span class="fa fa-list"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-left" style="overflow-y:scroll; max-height:100px">
                                                    <li>
                                                        <a ng-click="GestionarControlEntregas(item, false);" ng-disabled="DeshabilitarActualizar">
                                                            <span class="fas fa-calendar-check-o"></span>Gestión Entrega
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a ng-click="GestionarControlEntregas(item, true)" ng-disabled="DeshabilitarActualizar">
                                                            <span class="fas fa-calendar-times-o"></span>Intento de Entrega
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </td>
                                        <td><a href="#!GestionarRemesasPaqueteria/{{item.Remesa.Numero}}/{{OPCION_MENU}}">{{item.Remesa.NumeroDocumento}}</a></td>
                                        <td>{{item.Numeracion}}</td>
                                        <td>{{item.Remesa.Fecha | date:'dd/MM/yyyy' }}</td>
                                        <td ng-show="item.Remesa.Cliente.Codigo > 0">{{item.Remesa.Cliente.NombreCompleto}}</td>
                                        <td ng-show="item.Remesa.Cliente.Codigo == 0">{{item.Remesa.Remitente.Nombre}}</td>
                                        <td>{{item.Remesa.NumeroDocumentoCliente}}</td>
                                        <td>{{item.Remesa.CiudadRemitente.Nombre}}</td>
                                        <td>{{item.Remesa.CiudadDestinatario.Nombre}}</td>
                                        <td>{{item.Remesa.Destinatario.Nombre}}</td>
                                        <!--<td>{{item.SitioDescargue.Nombre}}</td>-->
                                        <td>{{item.Remesa.FormaPago.Nombre}}</td>
                                        <td class="text-right">{{item.Remesa.TotalFleteCliente | number:0}}</td>
                                        <td>{{item.OficinaActual.Nombre}}</td>
                                        <td>{{item.Oficina.Nombre}}</td>
                                        <!--<td>{{item.Remesa.Observaciones}}</td>-->
                                        <td>
                                            <span ng-if="item.EstadoGuia.Codigo == 6001 && item.Anulado == 0" class="label label-warning">RECOGIDA</span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6005 && item.Anulado == 0" class="label label-info">OFICINA ORIGEN</span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6010 && item.Anulado == 0" class="label label-info">DESPACHADA</span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6015 && item.Anulado == 0" class="label label-info">TRANSITO</span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6017 && item.Anulado == 0" class="label label-info">RECIBIDA OFICINA INTERMEDIA</span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6020 && item.Anulado == 0" class="label label-info">RECIBIDA OFICINA DESTINO</span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6025 && item.Anulado == 0" class="label label-info">REPARTO OFICINA DESTINO</span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6030 && item.Anulado == 0" class="label label-success">ENTREGADA (CUMPLIDA)</span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6035 && item.Anulado == 0" class="label label-warning">DEVUELTA OFICINA DESTINO</span>
                                            <span ng-if="item.EstadoGuia.Codigo == 6040 && item.Anulado == 0" class="label label-warning">DEVUELTA OFICINA ORIGEN</span>
                                            <span ng-if="item.Anulado == 1" class="label label-danger">ANULADO</span>
                                        </td>
                                        <td>
                                            <span ng-if="item.Estado == 0 && item.Anulado == 0" class="label label-warning">BORRADOR</span>
                                            <span ng-if="item.Estado == 1 && item.Anulado == 0" class="label label-success">DEFINITIVO</span>
                                            <span ng-if="item.Anulado == 1" class="label label-danger">ANULADO</span>
                                        </td>


                                    </tr>
                                </tbody>
                                <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                    <tr>
                                        <td colspan="14">
                                            <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                            <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>

                            </table>
                        </div>
                        <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                            <span style="color:red">
                                <small>{{ResultadoSinRegistros}}</small>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </section>


    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <!-- Modal Gestionar Control Entregas-->
    <div class="modal fade" id="modalGestionarControlEntregas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTIÓN ENTREGA
                        </h4>
                    </div>
                    <div class="modal-body">

                        <div class="row mt-4" id="modalDestinatario">
                            <div class="col-md-12">
                                <div class="box box-default box-solid">
                                    <div class="box-header with-border">
                                        <h3 class="box-title ng-binding">Guía No: {{Modal.NumeroDocumento}}</h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Fecha</label>
                                                    <label style="text-align:left" class="form-control" maxlength="8" ng-disabled="true"> {{Modal.Fecha |  date: 'dd/MM/yyyy'}}  </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Remitente</label>
                                                    <input style="text-align:left" ng-change="MaskValores()" class="form-control" maxlength="8" ng-model="Modal.Remitente" ng-disabled="true">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Ciudad Origen</label>
                                                    <input style="text-align:left" ng-change="MaskValores()" class="form-control" maxlength="8" ng-model="Modal.CiudadOrigen" ng-disabled="true" ng-blur="VerificarCantidad()">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Ciudad Destino</label>
                                                    <input style="text-align:left" ng-change="MaskValores()" class="form-control" maxlength="8" ng-model="Modal.CiudadDestino" ng-disabled="true" ng-blur="VerificarCantidad()">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Forma Pago</label>
                                                    <input style="text-align:left" class="form-control" maxlength="8" ng-model=" Modal.FormaPago" ng-disabled="true"
                                                           ng-blur="VerificarCantidad()">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Producto</label>
                                                    <input style="text-align:left" class="form-control" maxlength="8" ng-model="Modal.Producto" ng-disabled="true" ng-blur="VerificarCantidad()">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Cantidad</label>
                                                    <input style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="8" ng-model="Modal.Cantidad" ng-disabled="true" ng-blur="VerificarCantidad()">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Peso (Kg)</label>
                                                    <input style="text-align:right" ng-change="MaskValores()" class="form-control" maxlength="8" ng-model="Modal.Peso" ng-disabled="true" ng-blur="VerificarPeso()">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Valor Total</label>
                                                    <input style="text-align:right" class="form-control" maxlength="8" ng-model="Modal.TotalValor" ng-disabled="true" ng-blur="VerificarCantidad()">
                                                </div>
                                            </div>
                                            <br />
                                            <hr />
                                        </div>
                                    </div>
                                </div>

                                <!--Modal Destinatario-->
                                <div class="row mt-4" id="modalDestinatario" ng-show="!DeshabilitarEntregar">
                                    <div class="col-md-12">
                                        <div class="box box-default box-solid">
                                            <div class="box-header with-border">
                                                <h3 class="box-title ng-binding">Destinatario</h3>
                                                <div class="box-tools pull-right">
                                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                                </div>
                                            </div>
                                            <div class="box-body">
                                                <div class="row">

                                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Tipo Identificación</label>
                                                            <input class="form-control" ng-model="ModalDestinatario.TipoIdentificacion.Nombre" ng-disabled="true">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <label>No. Identificación</label>
                                                            <input class="form-control" ng-model="ModalDestinatario.NumeroIdentificacion" ng-disabled="true" />
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Nombre</label>
                                                            <input ng-change="MaskMayus()" maxlength="50" type="text" class="form-control" ng-model="ModalDestinatario.Nombre" ng-disabled="true">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Teléfono</label>
                                                            <input style="text-align:right" ng-change="MaskTelefono()" maxlength="30" type="text" class="form-control" ng-model="ModalDestinatario.Telefono" ng-disabled="true">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Barrio </label>
                                                            <input ng-change="MaskTelefono()" maxlength="30" type="text" class="form-control" ng-model="ModalDestinatario.Barrio" ng-disabled="true">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Dirección</label>
                                                            <input ng-change="MaskTelefono()" maxlength="150" type="text" class="form-control" ng-model="ModalDestinatario.Direccion" ng-disabled="true">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <hr />
                                </div>

                                <!--Modal Entregas-->
                                <div class="row mt-4 modalEntregas">
                                    <div class="col-md-12">
                                        <div class="box box-default box-solid">
                                            <div class="box-header with-border">
                                                <h3 class="box-title ng-binding">Información Recibe</h3>
                                                <div class="box-tools pull-right">
                                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                                </div>
                                            </div>
                                            <div class="box-body">
                                                <div class="alert alert-danger" role="alert" ng-if="MensajesErrorRecibir.length > 0">
                                                    <ul>
                                                        <li ng-repeat="error in MensajesErrorRecibir">
                                                            <span class="">{{error}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-6 col-xs-12" ng-show="!DeshabilitarEntregar">
                                                        <div class="form-group">
                                                            <label>Tipo Identificación</label>
                                                            <select class="form-control" ng-model="Modal.TipoIdentificacionRecibe" ng-options="i.Nombre for i in ListadoTipoIdentificacion  | orderBy:'Nombre' "></select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6 col-xs-12" ng-show="!DeshabilitarEntregar">
                                                        <div class="form-group">
                                                            <label>No. Identificación</label>
                                                            <input ng-change="MaskNumero()" placeholder="Digite identificación" maxlength="30" type="text" class="form-control" ng-model="Modal.NumeroIdentificacion" ng-disabled="DeshabilitarDatosRecibe">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6 col-sm-6 col-xs-12" ng-show="!DeshabilitarEntregar">
                                                        <div class="form-group">
                                                            <label>Nombre</label>
                                                            <input ng-change="Modal.Nombre = MaskMayusGrid(Modal.Nombre)" maxlength="50" placeholder="Digite nombre" type="text" class="form-control" ng-model="Modal.Nombre" ng-disabled="DeshabilitarDatosRecibe">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-4 col-xs-12" ng-show="!DeshabilitarEntregar">
                                                        <div class="form-group">
                                                            <label>Teléfono</label>
                                                            <input style="text-align:right" ng-change="MaskNumero()" placeholder="Digite teléfono" maxlength="30" type="text" class="form-control" ng-model="Modal.Telefono" ng-disabled="DeshabilitarDatosRecibe">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Novedad Entrega</label>
                                                            <select class="form-control" ng-model="Modal.NovedadEntrega" ng-options="i.Nombre for i in ListadoNovedades  | orderBy:'Nombre' " ng-disabled="DeshabilitarDatosRecibe"></select>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Observaciones</label>
                                                            <input style="height:55px" type="text" class="form-control" maxlength="500" ng-model="Modal.Observaciones" ng-disabled="DeshabilitarDatosRecibe">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Gestion Documentos Cliente-->
                                        <div class="row" ng-show="ListaGestionDocuCliente.length > 0 && !DeshabilitarEntregar">
                                            <div class="col-sm-12">
                                                <div class="box box-default box-solid">
                                                    <div class="box-header with-border">
                                                        <h3 class="box-title">Gestión Documentos Cliente</h3>
                                                        <div class="box-tools pull-right">
                                                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                                        </div>
                                                    </div>
                                                    <div class="box-body">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="alert alert-danger" role="alert" ng-if="MensajesErrorDocu.length > 0">
                                                                    <ul>
                                                                        <li ng-repeat="error in MensajesErrorDocu">
                                                                            <span>{{error}}</span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="table-responsive">
                                                                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Entregado</th>
                                                                                <th>No. Documento</th>
                                                                                <th>Tipo Documento</th>
                                                                                <th>Tipo Gestión</th>
                                                                                <th>No. Hojas</th>
                                                                                <th>Valor Recaudar</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-repeat="item in ListaGestionDocuCliente | orderBy: 'Codigo'">
                                                                                <td style="text-align:center">
                                                                                    <select class="form-control" ng-model="item.Entregado" ng-options="i.Nombre for i in ListadoConfirma" ng-disabled="Deshabilitar"></select>
                                                                                </td>
                                                                                <td>{{item.NumeroDocumentoGestion}}</td>
                                                                                <td>{{item.TipoDocumento.Nombre}}</td>
                                                                                <td>{{item.TipoGestion.Nombre}}</td>
                                                                                <td align="right">{{item.NumeroHojas | number}}</td>
                                                                                <td align="right">{{item.ValorRecaudar | number}}</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Gestion Documentos Cliente-->
                                        <!--Adjuntar Documentos-->
                                        <div class="box box-default box-solid" ng-show="!DeshabilitarEntregar">
                                            <!--Collapse-->
                                            <div class="box-header with-border">
                                                <h3 class="box-title ng-binding">Adjuntar Documentos</h3>
                                                <div class="box-tools pull-right">
                                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                                </div>
                                            </div>
                                            <!--Contenido-->
                                            <div class="box-body">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="alert alert-warning alert-dismissible p-3 mb-2" ng-if="MensajesErrorAdjuntar.length > 0">
                                                            <ul>
                                                                <li ng-repeat="error in MensajesErrorAdjuntar">
                                                                    <span class="">{{error}}</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-sm-12">
                                                        <div class="lineButtons text-left">
                                                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="AgregarFilaDocumento()" ng-disabled="Deshabilitar">
                                                                Agregar
                                                                <span class="glyphicon glyphicon-plus"></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" ng-show="ListadoDocumentos.length > 0">
                                                    <div class="col-sm-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm table-responsive">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Documento</th>
                                                                        <th>Archivo</th>
                                                                        <th>Opciones</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="item in ListadoDocumentos">
                                                                        <td>
                                                                            <input ng-change="MaskMayusGrid(item.Descripcion)" maxlength="80" type="text" class="form-control" ng-model="item.Descripcion" placeholder="Ingrese un nombre" />
                                                                        </td>
                                                                        <td>{{item.NombreDocumento}}.{{item.ExtensionDocumento}}</td>
                                                                        <td>
                                                                            <div tabindex="400" class="btn btn-primary btn-file" ng-if="item.AplicaArchivo > 0 && (item.Descripcion == undefined || item.Descripcion == null || item.Descripcion == '')" title="Debe primero asignar un nombre al documento para habilitar la carga de archivos">
                                                                                <i class="glyphicon glyphicon-folder-open"></i>
                                                                                <input type="file" class="" disabled="disabled">
                                                                            </div>

                                                                            <div tabindex="400" class="btn btn-primary btn-file" ng-if="item.AplicaArchivo > 0 && (item.Descripcion !== undefined && item.Descripcion !== null && item.Descripcion !== '')">
                                                                                <i class="glyphicon glyphicon-folder-open"></i>
                                                                                <input type="file" ng-click="SeleccionarObjeto(item)" ng-model-instant onchange="angular.element(this).scope().CargarArchivo(this)" accept="{{item.TipoArchivoDocumento}}" class="">
                                                                            </div>
                                                                            <button ng-if="item.ValorDocumento == 1" class="button mini-button btn-success" data-toggle="tooltip" title="Ver Archivo" ng-click="DesplegarArchivo(item)">
                                                                                <span class="fa fa-file"></span>
                                                                            </button>
                                                                            <button ng-if="(item.ValorDocumento == 0 || item.ValorDocumento == Undefined) && item.AplicaDescargar > 0" class="button mini-button primary" disabled>
                                                                                <span class="fa fa-file"></span>
                                                                            </button>
                                                                            <button ng-if="item.ValorDocumento == 1 && item.AplicaEliminar > 0 && DeshabilitarGuardar !== true" class="button mini-button btn-danger" data-toggle="tooltip" title="Eliminar Archivo" ng-click="ElimiarDocumento(item)" ng-disabled="Deshabilitar">
                                                                                <span class="fas fa-trash-alt"></span>
                                                                            </button>
                                                                            <button ng-if="(item.ValorDocumento == 0 || item.ValorDocumento == Undefined) &&  item.AplicaEliminar > 0" class="button mini-button primary" disabled>
                                                                                <span class="fas fa-trash-alt"></span>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <canvas id="CanvasVertical" width="500" height="700" style="display:none">
                                                            Accede a este script con un navegador que acepte canvas del HTML 5
                                                        </canvas>
                                                        <canvas id="CanvasHorizontal" width="700" height="500" style="display:none">
                                                            Accede a este script con un navegador que acepte canvas del HTML 5
                                                        </canvas>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!--Adjuntar Documentos-->

                                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:10px; padding-bottom:10px;">
                                            <span class="btn btn-default btn-file col-md-12">
                                                Seleccionar Imagen <input type="file" id="inputfile" onchange="angular.element(this).scope().CargarImagen(this)" accept="image/x-png, image/jpeg" ng-disabled="DeshabilitarDatosRecibe">
                                            </span>
                                        </div>

                                        <div ng-repeat="item in Foto">

                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <img class="img-responsive" style="width:100%" src="{{item.FotoCargada}}" id="Foto" />
                                            </div>

                                            <div class="col-md-12 col-sm-12 col-xs-12" style="padding-bottom:10px;">
                                                <button type="button" class="btn btn-danger  col-md-12" title="Borrar foto" ng-click="EliminarFoto(item)" ng-if="item.ValorDocumento == 1" ng-disabled="DeshabilitarDatosRecibe">
                                                    Eliminar Foto
                                                    <span class="fas fa-trash-alt"></span>
                                                </button>
                                            </div>
                                        </div>

                                        <br />
                                        <div class="col-md-12 col-sm-12 col-xs-12" ng-show="!DeshabilitarEntregar">
                                            <div class="col-md-6 col-sm-12 col-xs-12" ng-disabled="DeshabilitarDatosRecibe">
                                                <div class="btn-default Firma" style="max-width: 300px">
                                                    <h2>Firma</h2>
                                                    <canvas id="Firma" class="Firma" ng-signature-pad="signature">
                                                        Firma
                                                    </canvas>
                                                    <!--LimpiarFirma-->
                                                    <button type="button" class="btn btn-default" ng-click="LimpiarFirma()" ng-disabled="DeshabilitarDatosRecibe">
                                                        limpiar firma
                                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <hr />
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cerrar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary"
                                    title="Aceptar" ng-click="ConfirmacionGuardarPaqueteria()"
                                    ng-disabled="DeshabilitarDatosRecibe" ng-show="!DeshabilitarEntregar">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary"
                                    title="Aceptar" ng-click="ConfirmacionGuardarIntento()"
                                    ng-disabled="DeshabilitarDatosRecibe" ng-show="DeshabilitarEntregar">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div>
    <!-- Modal Gestionar Control Entregas-->
    <!--Modal Reemplazar Documentos-->
    <div class="modal fade" id="modalConfirmacionRemplazarDocumentoRemesa" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>Ya hay un documento asignado ¿Desea remplazarlo?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="RemplazarDocumentoRemesa()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Reemplazar Documentos-->

    <canvas id="CanvasVertical" width="500" height="700" style="display:none">
        Accede a este script con un navegador que acepte canvas del HTML 5
    </canvas>
    <canvas id="CanvasHorizontal" width="700" height="500" style="display:none">
        Accede a este script con un navegador que acepte canvas del HTML 5
    </canvas>

</div>

