﻿<div >

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>

    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>GESTIONAR ETIQUETAS PREIMPRESAS</h1>
    </section>

    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form name="myform">
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">

                    <div class="col-md-2 col-sm-4 col-xs-12" ng-show="Numero > 0">
                        <div class="form-group">
                            <label for="NumeroInicial">Número</label>
                            <input name="NumeroInicial" class="form-control" ng-model="ModeloNumero" placeholder="Ingrese número" maxlength="20" ng-change="MaskNumero()" ng-disabled="Obtenido">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechIni">Fecha </label>
                            <input name="txtFechIni" type="date" class="form-control" ng-model="ModeloFecha" ng-disabled="Obtenido">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina Origen </label>
                            <input name="inpOficina" class="form-control" ng-model="ModeloOficina" placeholder="Ingrese una Oficina" maxlength="9"
                                   uib-typeahead="Oficina as Oficina.Nombre for Oficina in ListadoOficinas| filter:$viewValue | limitTo: 5"
                                   ng-blur="ModeloOficina=VerificarAutocomplete(ModeloOficina)" ng-disabled="Obtenido">
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="Cuenta">Responsable</label>
                            <input type="text" class="form-control" autocomplete="off" name="Cliente" maxlength="50" id="ModeloCliente" placeholder="Ingrese un Responsable" ng-model="ModeloResponsable"
                                   uib-typeahead="i as i.NombreCompleto for i in AutocompleteTercero($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModeloResponsable=VerificarAutocomplete(ModeloResponsable);ModeloIdentificacionResponsable = ModeloResponsable.NumeroIdentificacion " ng-disabled="Obtenido">
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="Cuenta">No. Identificación Responsable</label>
                            <input type="text" class="form-control" autocomplete="off" name="Cliente" maxlength="50" id="ModeloCliente" placeholder="Ingrese un Responsable" ng-model="ModeloIdentificacionResponsable"
                                   ng-blur="ModeloResponsable=VerificarAutocomplete(ModeloResponsable)" disabled>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12" ng-show="Numero <=0">
                        <div class="form-group">
                            <label for="NumeroInicial">No. Etiqueta Inicial</label>
                            <input name="NumeroInicial" class="form-control text-right" ng-model="ModeloNumeroPreimpresoInicial" placeholder="Ingrese número" maxlength="20" ng-change="MaskValores()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12" ng-show="Numero <=0">
                        <div class="form-group">
                            <label for="NumeroInicial">No. Etiqueta Final</label>
                            <input name="NumeroInicial" class="form-control text-right" ng-model="ModeloNumeroPreimpresoFinal" placeholder="Ingrese número" maxlength="20" ng-change="MaskValores()">
                        </div>
                    </div>

                    <br />
                    <br />


                </div>

                <div class="box box-default box-solid CriteriosBusqueda" id="CriteriosBusqueda" ng-show="Numero > 0">
                    <div class="box-header with-border">
                        <h3 class="box-title">Trasladar</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse" id="btncriterios"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="NumeroInicial">No. Etiqueta Inicial</label>
                                <input name="NumeroInicial" class="form-control text-right" ng-model="ModeloNumeroPreimpresoInicial" placeholder="Ingrese número" maxlength="20" ng-change="MaskValores()">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="NumeroInicial">No. Etiqueta Final</label>
                                <input name="NumeroInicial" class="form-control text-right" ng-model="ModeloNumeroPreimpresoFinal" placeholder="Ingrese número" maxlength="20" ng-change="MaskValores()">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12" style="margin-top:25px;">
                            <div class="form-group">

                                <button style="padding-top:3px; min-width: 50px;" type="button" class="btn btn-primary" title="Filtrar Precintos" ng-click="FiltroPrecintos(ModeloNumeroPreimpresoInicial,ModeloNumeroPreimpresoFinal)">
                                    Filtrar
                                    <span class="glyphicon glyphicon-check"></span>
                                </button>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12" ng-show="Modelo.TipoOficina.Codigo != 9901">
                            <div class="form-group">
                                <label for="numero">Oficina Destino</label>
                                <input name="numero" class="form-control" ng-model="ModeloOficinaDestino" placeholder="Ingrese una Oficina" maxlength="9"
                                       uib-typeahead="Oficina as Oficina.Nombre for Oficina in ListadoOficinas| filter:$viewValue | limitTo: 5"
                                       ng-blur="ModeloOficinaDestino=VerificarAutocomplete(ModeloOficinaDestino)">
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12" style="margin-top:25px;">
                            <div class="form-group">

                                <button type="button" class="btn btn-primary" title="Trasladar Precintos" ng-click="ConfirmacionGuardar()">
                                    Trasladar
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="ResultadoConsulta">
                    <div class="table-responsive" ng-if="ListadoPrecintos.length > 0">
                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                            <thead>
                                <tr>
                                    <th>Número</th>
                                    <th>Oficina Origen</th>
                                    <th>Oficina Actual</th>
                                    <th>No. Guía</th>
                                    <th>Estado</th>
                                    <th style="text-align:center">
                                        <label>
                                            Todos
                                            <input type="checkbox" ng-click="MarcarRecorridos(RecorridosSeleccionados)" ng-model="RecorridosSeleccionados" title="Marcar o Desmarcar todos los recorridos" ng-disabled="Ocupado" />
                                        </label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ListadoPrecintos  | orderBy:'Nombre'">
                                    <td align="right">{{item.Numero_Precinto | number:0}}</td>
                                    <td>{{item.OficinaOrigen.Nombre}}</td>
                                    <td>{{item.Oficina.Nombre}}</td>
                                    <td>{{item.Remesa.NumeroDocumento}}</td>
                                    <td>
                                        <span ng-if="item.Anulado == 1" class="label label-danger">Anulada</span>
                                        <span ng-if="item.Estado == 2" class="label label-warning">Trasladada</span>
                                        <span ng-if="item.Estado == 1 && item.Anulado == 0 && item.ENRE_Numero ==0 " class="label label-success">Disponible</span>
                                        <span ng-if="item.Estado == 1 && item.Anulado == 0 && item.ENRE_Numero > 0 " class="label label-info">Asignada</span>
                                    </td>
                                    <td style="text-align:center">
                                        <label>
                                            <input type="checkbox" ng-disabled="item.Anulado == 1 || item.Estado == 2" ng-model="item.Seleccionado" />
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                <tr>
                                    <td colspan="4">
                                        <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                        <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                            <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                <span class="item">&laquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                <span class="item">&lsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                <span class="item">&rsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                <span class="item">&raquo;</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>

                        </table>
                    </div>
                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                        <span style="color:red">
                            <small>{{ResultadoSinRegistros}}</small>
                        </span>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-show="Numero <= 0">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>

                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <!-- Modal Confirmación Guardar Cuenta -->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro de guardar la informaciòn?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="PantallaBloqueoGuardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>