﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>RECEPCIÓN GUÍAS OFICINA</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
           
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Cuenta">No. Planilla </label>
                            <input name="lblNumeGuia" class="form-control" ng-model="ModeloPlanillaDespacho" placeholder="Ingrese la Planilla"
                                   maxlength="20" ng-change="MaskNumero()" ng-blur="paginaActual=1;Buscar()">
                            <div class="btnClose" ng-click="limpiarPantalla()" title="Limpiar"><span class="fas fa-times-circle"></span></div>
                        </div>
                    </div>
                    

                </div>

                <div class="box box-default box-solid collapsed-box ">
                    <div class="box-header with-border" ng-disabled="Bloquear">
                        <h3 class="box-title">Información Planilla</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Fecha</label>
                                <input type="date" class="form-control" ng-model="Modelo.Planilla.Fecha" ng-disabled="true">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Vehículo</label>
                                <input type="text" class="form-control" maxlength="18" ng-model="Modelo.Planilla.Vehiculo.Placa"
                                       ng-disabled="true" />
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Semirremolque</label>
                                <input type="text" class="form-control" maxlength="18" ng-model="Modelo.Planilla.Semirremolque.Placa" ng-disabled="true" />
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Conductor</label>
                                <input maxlength="60" type="text" class="form-control" name="conductor" id="conductor"
                                       ng-model="Modelo.Planilla.Vehiculo.Conductor.NombreCompleto"
                                       ng-disabled="true">

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Tenedor</label>
                                <input maxlength="60" type="text" class="form-control" ng-model="Modelo.Planilla.Vehiculo.Tenedor.NombreCompleto" ng-disabled="true">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Fecha Salida</label>
                                <input type="date" class="form-control" ng-model="Modelo.Planilla.FechaSalida" ng-disabled="true">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Hora</label>
                                <input type="text" ng-change="MaskHora()" class="form-control" maxlength="5" ng-model="Modelo.Planilla.HoraSalida" ng-disabled="true" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Ruta</label>
                                <input maxlength="60" type="text" class="form-control" ng-model="Modelo.Planilla.Ruta.Nombre" ng-disabled="true" />
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Cantidad</label>
                                <input maxlength="60" type="text" class="form-control text-right" ng-model="Modelo.Planilla.Cantidad" ng-disabled="true" />
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Peso</label>
                                <input maxlength="60" type="text" class="form-control text-right" ng-model="Modelo.Planilla.Peso" ng-disabled="true" />
                            </div>
                        </div>

                        
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Observaciones</label>
                                <textarea maxlength="200" type="text" class="form-control" ng-model="Modelo.Planilla.Observaciones" ng-disabled="true" ng-required="false"></textarea>
                            </div>
                        </div>
                        

                    </div>
                </div>

               




        

        <div class="box box-default box-solid collapsed-box ">
            <div class="box-header with-border" ng-disabled="Bloquear">
                <h3 class="box-title">Filtrar Guías</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="alert alert-danger" role="alert" ng-if="MensajesErrorfil.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesErrorfil">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fechaInicialFiltro">Fecha Inicial</label>
                            <input name="fechaInicialFiltro" type="date" class="form-control" ng-model="modelofiltrofechaInicial">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fechaFinalFiltro">Fecha Final</label>
                            <input name="fechaFinalFiltro" type="date" class="form-control" ng-model="modelofiltrofechaFinal">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="numeroInicial">Guía </label>
                            <input name="numeroInicial" type="number" maxlength="10" id="guiaInicial" placeholder="Ingrese un número" ng-change="MaskNumero()" class="form-control" ng-model="ModeloFiltroNumeroInicial">
                        </div>
                    </div>

                    <!--<div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="numeroFinal">Guía Final</label>
                            <input name="numeroFinal" type="text" maxlength="10" id="guiaFinal" placeholder="Ingrese un número" ng-change="MaskNumero()" class="form-control" ng-model="ModeloFiltroNumeroFinal">
                        </div>
                    </div>-->

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="numeroFinal">Oficina Recibe</label>
                            <input name="numeroFinal" type="text" maxlength="10" autocomplete="off" placeholder="Ingrese una Oficina" ng-change="MaskMayus()" class="form-control" ng-model="ModeloFiltroOficinaDestino"
                                   uib-typeahead="Oficina as Oficina.Nombre for Oficina in  ListadoOficinas | filter:$viewValue | limitTo: 5"
                                   >
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-6" style="padding : 0px; max-width: 80px">
                        <div class="form-group">
                            <br />
                            <button type="button" class="btn btn-primary" title="Filtrar los recorridos actualmente cargados" ng-click="Filtrar()">
                                Filtrar
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-4 col-xs-6" style="padding-left : 0px">
                        <div class="form-group">
                            <br />
                            <button type="button" class="btn btn-primary" title="Reinicia la filtración actual para mostrar todos los recorridos cargados" ng-click="LimpiarFiltro()">
                                Limpiar
                                <span class="glyphicon glyphicon-refresh"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--SECCIÓN BOTONES-->
        <div class="SeccionBotones">
            
            <div class="pull-left">
                <button class="btn btn-block btn-primary" title="Procesar" ng-click="paginaActual=1;modalConfirmacionRecepcionGuias()" ng-show="ListadoGuias.length > 0">
                    Procesar
                    <span class="glyphicon glyphicon-share-alt"></span>
                </button>
            </div>
        </div>
        <!--RESULTADO CONSULTA-->
        <div class="ResultadoConsulta">
            <div class="table-responsive" ng-if="ListadoGuias.length > 0">
                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                    <thead>
                        <tr>
                            <th>
                                <label>
                                    Todos
                                    <input type="checkbox" ng-click="MarcarRemesas(ChkRemesa)" ng-model="ChkRemesa" title="Marcar o Desmarcar todas las remesas" />
                                </label>
                            </th>
                            <th>Guía</th>
                            <th>Fecha</th>
                            <th>Cliente/Remitente</th>
                            <th>Origen</th>
                            <th>Destino</th>
                            <th>Oficina Recibe</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Peso</th>
                            <th>Forma Pago</th>
                            <th>Total</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ListadoGuias| orderBy:'Remesa.NumeroDocumento'">


                            <td><input type="checkbox" ng-model="item.Seleccionado" /></td>
                            <td>{{item.Remesa.NumeroDocumento}}</td>
                            <td>{{item.Remesa.Fecha | date:'dd/MM/yyyy' }}</td>
                            <td ng-show="item.Remesa.Cliente.Codigo > 0">{{item.Remesa.Cliente.NombreCompleto}}</td>
                            <td ng-show="item.Remesa.Cliente.Codigo == 0">{{item.Remesa.Remitente.Nombre}}</td>
                            <td>{{item.Remesa.CiudadRemitente.Nombre}}</td>
                            <td>{{item.Remesa.CiudadDestinatario.Nombre}}</td>
                            <td>{{item.OficinaRecibe.Nombre}}</td>
                            <td>{{item.Remesa.ProductoTransportado.Nombre}}</td>
                            <td><span class="pull-right">{{item.Remesa.CantidadCliente | number}}</span></td>
                            <td><span class="pull-right">{{item.PesoCobrar | number}}</span></td>
                            <td>{{item.Remesa.FormaPago.Nombre}}</td>
                            <td align="right">{{item.Remesa.TotalFleteCliente | number}}</td>
                        </tr>
                    </tbody>
                    <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                        <tr>
                            <td colspan="4">
                                <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                    <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                        <span class="item">&laquo;</span>
                                    </button>
                                    <button class="button primary" ng-click="Anterior()" title="Anterior">
                                        <span class="item">&lsaquo;</span>
                                    </button>
                                    <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                        <span class="item">&rsaquo;</span>
                                    </button>
                                    <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                        <span class="item">&raquo;</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tfoot>

                </table>
            </div>
            <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                <span style="color:red">
                    <small>{{ResultadoSinRegistros}}</small>
                </span>
            </div>
        </div>



</form>
        <!-- Modal Confirmación Guardar Cuenta -->
        <div class="modal fade" id="modalConfirmacionRecepcionGuias" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <form autocomplete="off">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">
                                GESTRANS.NET CARGA
                            </h4>
                        </div>
                        <div class="modal-body">
                            <p>¿Está seguro de guardar la información?</p>
                        </div>
                        <div class="modal-footer">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Cancelar
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                    Aceptar
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>
</div>