﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i>Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">{{opcion.Nombre}}</li>
    </ol>

    <section class="content-header">
        <h1>VERIFICAR PROCESO DESCARGUE</h1>
    </section>

    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <ul class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <li ng-repeat="error in MensajesError">
                        <span>{{error}}</span>
                    </li>
                </ul>
                <ul class="alert alert-success" role="alert" ng-if="MensajesConfirmacion.length > 0">
                    <li ng-repeat="mensaje in MensajesConfirmacion">
                        <span>{{mensaje}}</span>
                    </li>
                </ul>

                <div class="row">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Planilla</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Número</label>
                                    <input class="form-control" type="text" autocomplete="off" ng-model="NumeroPlanilla" placeholder="Ingrese un Número" ng-change="MaskNumero()" ng-blur="ObtenerPlanilla()" />
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Vehículo</label>
                                    <input class="form-control" type="text" autocomplete="off" ng-model="PlacaVehiculo" placeholder="Ingrese una Placa" ng-change="MaskMayus()" ng-disabled="true" />
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Semirremolque</label>
                                    <input class="form-control" type="text" autocomplete="off" ng-model="PlacaSemirremolque" placeholder="Ingrese un Semirremolque" ng-change="MaskMayus()" ng-disabled="true" />
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Conductor</label>
                                    <input class="form-control" type="text" autocomplete="off" ng-model="NombreConductor" placeholder="Ingrese un Conductor" ng-change="MaskMayus()" ng-disabled="true" />
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Tenedor</label>
                                    <input class="form-control" type="text" autocomplete="off" ng-model="NombreTenedor" placeholder="Ingrese un Tenedor" ng-change="MaskMayus()" ng-disabled="true" />
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Ruta</label>
                                    <input class="form-control" type="text" autocomplete="off" ng-model="NombreRuta" placeholder="Ingrese una Ruta" ng-change="MaskMayus()" ng-disabled="true" />
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha Salida</label>
                                    <input class="form-control" type="date" autocomplete="off" ng-model="FechaSalida" placeholder="Ingrese una Fecha" ng-change="MaskMayus()" ng-disabled="true" />
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Hora</label>
                                    <input class="form-control" type="text" autocomplete="off" ng-model="HoraSalida" placeholder="Ingrese una Hora" ng-change="MaskMayus()" ng-disabled="true" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box box-default box-solid" ng-show="MostrarSeccionGuias == true">
                        <div class="box-header with-border">
                            <h3 class="box-title">Guías</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Número</label>
                                        <input class="form-control" type="text" autocomplete="off" ng-model="NumeroGuia" placeholder="Ingrese un Número" ng-change="MaskNumero()" ng-blur="ValidarGuia()" />
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" ng-show="ListadoGuias.length > 0">
                                <table class="table table-striped table-bordered table-hover table-condensed table-sm">
                                    <thead>
                                        <tr>
                                            <th>Número</th>
                                            <th>Observaciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ListadoGuias">
                                            <td><a href="#!GestionarRemesasPaqueteria/{{item.Remesa.Numero}}">{{item.Remesa.NumeroDocumento}}</a></td>
                                            <td><input class="form-control" type="text" ng-model="item.ObservacionesVerificacion" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <!-- Modal Confirmación Guardar Cargue -->
    <div class="modal fade" id="modalConfirmacionGuardarCargue" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>