﻿<div  ng-init="InitLoad()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <section class="content">
        <form>
            <div class="Form-Imput">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <!-- Encabezado -->
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <span class="form-control">{{ModeloNumeroDocumento}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha</label>
                            <input type="date" class="form-control" ng-model="ModeloFecha" ng-blur="ValidarCierre()" ng-disabled="DeshabilitarCampo" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Planilla</label>
                            <input type="text" class="form-control" ng-model="ModeloNumeroPlanilla" ng-change="MaskNumero()" ng-disabled="DeshabilitarControlPlanilla || DeshabilitarCampo" ng-blur="ValidarPlanilla(ModeloNumeroPlanilla)" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Manifiesto</label>
                            <input type="text" class="form-control" ng-model="ModeloNumeroManifiesto" ng-change="MaskNumero()" ng-disabled="DeshabilitarControlPlanilla || DeshabilitarCampo" ng-blur="ValidarPlanilla(ModeloNumeroManifiesto,1)" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>No. Cumplido</label>
                            <span class="form-control">{{ModeloNumeroCumplido}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Usuario Cumplido</label>
                            <span class="form-control">{{ModeloUsuarioCumplido}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha Cumplido</label>
                            <span class="form-control">{{ModeloFechaCumplido | date: 'dd/MM/yyyy'}}</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Ruta</label>
                            <span class="form-control">{{ModeloRuta}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Vehículo</label>
                            <span class="form-control">{{ModeloPlacaVehiculo}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Semirremolque</label>
                            <span class="form-control">{{ModeloSemirremolque}}</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblConductor">Conductor</label>
                            <span class="form-control">{{ModeloConductor}}</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblTenedor">Tenedor</label>
                            <span class="form-control">{{ModeloTenedor}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Observaciones</label>
                            <textarea type="text" class="form-control" maxlength="200" ng-model="ModeloObservaciones" ng-disabled="DeshabilitarCampo"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-default box-solid CriteriosBusqueda" id="GuiasAsociadas" ng-show="ListadoGuiaGuardadas.length > 0">
                            <div class="box-header with-border">
                                <h3 class="box-title">Remesas</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div style="padding-top: 2%">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Número</th>
                                                    <th>Fecha</th>
                                                    <th>Ruta</th>
                                                    <th>Cliente</th>
                                                    <th>Linea Negocio</th>
                                                    <th>Producto</th>
                                                    <th>Cantidad</th>
                                                    <th>Peso (Kg)</th>
                                                    <th>Observaciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ListadoGuiaGuardadas | orderBy:'Codigo'">
                                                    <td>{{item.Remesa.NumeroDocumento}}</td>
                                                    <td>{{item.Remesa.Fecha | date:'dd/MM/yyyy' }}</td>
                                                    <td>{{item.Remesa.Ruta.Nombre}}</td>
                                                    <td>{{item.Remesa.Cliente.NombreCompleto}}</td>
                                                    <td>{{item.Remesa.LineaNegocio.Nombre}}</td>
                                                    <td>{{item.Remesa.ProductoTransportado.Nombre}}</td>
                                                    <td align="right">{{MaskValoresGrid(item.Remesa.CantidadCliente)}}</td>
                                                    <td align="right">{{MaskValoresGrid(item.Remesa.PesoCliente)}}</td>
                                                    <td>{{item.Remesa.Observaciones}}</td>


                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                        <span style="color:red">
                                            <small>{{ResultadoSinRegistros}}</small>
                                        </span>
                                    </div>
                                </div>
                                <div class="row" ng-show="CondicionesPeso.length > 0">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="box box-default box-solid">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Condiciones Peso Cumplido</h3>
                                                <div class="box-tools pull-right">
                                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                                </div>
                                            </div>
                                            <div class="box-body">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div style="padding-top: 2%">
                                                            <div class="table-responsive">
                                                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Producto</th>
                                                                            <th>Unidad</th>
                                                                            <th>Base Cálculo</th>
                                                                            <th>Valor Unidad</th>
                                                                            <th>Tipo Cálculo</th>
                                                                            <th>Tolerancia</th>
                                                                            <th>Cond. Cobro</th>

                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="item in CondicionesPeso | orderBy:'Nombre'">
                                                                            <td>{{item.Producto.Nombre}}</td>
                                                                            <td>{{item.UnidadEmpaque.Nombre}}</td>
                                                                            <td>{{item.BaseCalculo.Nombre}}</td>
                                                                            <td class="text-right">{{MaskValoresGrid(item.ValorUnidad)}}</td>
                                                                            <td>{{item.TipoCalculo.Nombre}}</td>
                                                                            <td class="text-right">{{MaskValoresGrid(item.Tolerancia)}}</td>
                                                                            <td>{{item.CondicionCobro.Nombre}}</td>

                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">CONCEPTOS LIQUIDACIÓN</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="ResultadoConsulta">
                                        <div style="overflow-x:scroll; max-width:100%" class="table-responsive" ng-if="ModeloListadoConceptos.length > 0">
                                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th>Concepto</th>
                                                        <th>Valor</th>
                                                        <th></th>
                                                        <th>Observaciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in ModeloListadoConceptos | orderBy:'ConceptoLiquidacion.Nombre'">
                                                        <td ng-disabled="DeshabilitarCampo">{{item.ConceptoLiquidacion.Nombre}}</td>
                                                        <!--<td><input type="text" class="form-control align-right" ng-model="item.Valor" ng-disabled="item.ConceptoLiquidacion.Nombre == 'ANTICIPO' || item.ConceptoLiquidacion.Nombre == 'REANTICIPO' || DeshabilitarCampo" ng-change="item.Valor = MaskValoresGrid(item.Valor);Calcular(item.Valor,item)" placeholder="Valor" style="text-align:right" ng-click="GuardarValorSaldoOriginal(item,$index)" ng-blur="ValidarSaldoConcepto(item,$index)" /></td>-->
                                                        <td><input type="text" class="form-control align-right" ng-model="item.Valor" ng-disabled="item.ConceptoLiquidacion.Nombre == 'ANTICIPO' || item.ConceptoLiquidacion.Nombre == 'REANTICIPO' || DeshabilitarCampo" ng-change="item.Valor = MaskValoresGrid(item.Valor);Calcular()" placeholder="Valor" style="text-align:right" ng-click="GuardarValorSaldoOriginal(item,$index)" ng-blur="ValidarSaldoConcepto(item,$index)" /></td>
                                                        <td>
                                                            <span ng-if="item.Operacion == 2" class="label pull-center bg-red">-</span>
                                                            <span ng-if="item.Operacion == 1" class="label label-success">+</span>
                                                        </td>
                                                        <!--<td><input type="text" class="form-control" maxlength="250" ng-model="item.Observaciones" ng-disabled="DeshabilitarCampo" placeholder="Observaciones" /></td>-->

                                                        <td style="min-width:100px">
                                                            <!--<a href="" data-toggle="tooltip" title={{item.Observaciones}} ng-click>...Ver más</a>-->

                                                            <a uib-popover-template="'myPopoverTemplate.html'" popover-is-open="item1.popvisible" popover-class="increase-popover-width" popover-placement="left-bottom " popover-title="Observaciones" popover-trigger="'outsideClick'" href="" data-toggle="tooltip" title={{item1.Observaciones}}>

                                                                ...Ver más
                                                            </a>

                                                            <div>
                                                                <script type="text/ng-template" id="myPopoverTemplate.html">
                                                                    <div class="col-md-12 col-sm-12 col-xs-12" style="min-width:550px">
                                                                        <div class="form-group">
                                                                            <label>Observaciones</label>
                                                                            <textarea class="form-control" ng-model="item.Observaciones" ng-disabled="DeshabilitarCampo"></textarea>
                                                                        </div>
                                                                    </div>
                                                                </script>
                                                            </div>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                                    <tr>
                                                        <td colspan="4">
                                                            <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                            <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                                <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                                    <span class="item">&laquo;</span>
                                                                </button>
                                                                <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                                    <span class="item">&lsaquo;</span>
                                                                </button>
                                                                <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                                    <span class="item">&rsaquo;</span>
                                                                </button>
                                                                <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                                    <span class="item">&raquo;</span>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                        <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                            <span style="color:red">
                                                <small>{{ResultadoSinRegistros}}</small>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">INFORMACIÓN DE FACTURACIÓN</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="ResultadoConsulta">
                                        <div style="overflow-x:scroll; max-width:100%" class="table-responsive" ng-if="ListadoFacturacion.length > 0">
                                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th>Remesa</th>
                                                        <th>Factura</th>
                                                        <th>Peso Facturado</th>
                                                        <th>Flete Facturado</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in ListadoFacturacion | orderBy:'NumeroDocumento'">
                                                        <td><a href="Main.html#!/GestionarRemesa/{{item.CodigoRemesa}}" target="_blank">{{item.NumeroRemesa}}</a></td>
                                                        <td>{{item.NumeroDocumento}}</td>
                                                        <td class="text-right"><span ng-show="item.PesoFacturado > 0">{{item.PesoFacturado | number:0}}</span></td>
                                                        <td class="text-right"><span ng-show="item.FleteFacturado > 0">${{item.FleteFacturado | number:0}}</span></td>

                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Novedades-->
                <div class="row">
                    <div class="box box-default box-solid collapsed-box">
                        <div class="box-header with-border">
                            <h3 class="box-title">NOVEDADES</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive" ng-if="ListaNovedades.length > 0">
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Novedad</th>
                                            <th>Observaciones</th>
                                            <th>Proveedor</th>
                                            <th>Valor Costo</th>
                                            <th>Fecha Crea</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ListaNovedades">
                                            <td>{{item.Novedad.Nombre}}</td>
                                            <td>{{item.Observaciones}}</td>
                                            <td>{{item.Proveedor.Nombre}}</td>
                                            <td align="right">{{MaskValoresGrid(item.ValorCosto | number: 0)}}</td>
                                            <td>{{item.FechaCrea  | date: 'dd/MM/yyyy HH:mm'}}</td>
                                            <td>
                                                <button class="button mini-button  btn-danger" title="EliminarNovedad" ng-click="EliminarNovedades($index, false)">
                                                    <span class="fas fa-trash-alt"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-sm-6 col-xs-12 pull-right">
                                    <div class="form-group">
                                        <label>Total Costo Novedades</label>
                                        <span class="form-control" style="text-align:right">{{MaskValoresGrid(TotalCostoNovedades | number: 0)}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Novedades-->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">IMPUESTOS</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="ResultadoConsulta">
                                        <div class="table-responsive" ng-if="ModeloListadoImpuestos.length > 0">
                                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th>Nombre</th>
                                                        <th align="right">Valor Base</th>
                                                        <th align="right">Tarifa</th>
                                                        <th align="right">Valor Impuesto</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in ModeloListadoImpuestos | orderBy:'Codigo'">
                                                        <td>{{item.Nombre}}</td>
                                                        <td align="right">{{MaskValoresGrid(item.Valor_base)}}</td>
                                                        <td align="right">{{MaskValoresGrid(item.Valor_tarifa)}}</td>
                                                        <td align="right">{{MaskValoresGrid(item.ValorImpuesto)}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">TOTALES</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Cantidad</label>
                                            <span class="form-control" style="text-align:right">{{ModeloCantidad | number:0}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-xs-12" ng-show="Sesion.UsuarioAutenticado.ManejoRecalculoFleteLiquidacionPesoCumplido">
                                        <div class="form-group">
                                            <label>Peso Cargue</label>
                                            <input type="text" class="form-control align-right" ng-model="ModeloPesoCargue" ng-change="MaskValores()" style="text-align:right" ng-disabled="DeshabilitarGuardar || DeshabilitarCampo" />
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Peso Descargue</label>
                                            <input type="text" class="form-control align-right" ng-model="ModeloPesoCumplido" ng-change="MaskValores();Calcular()" placeholder="Valor Flete" style="text-align:right" ng-show="Sesion.UsuarioAutenticado.ManejoRecalculoFleteLiquidacionPesoCumplido" ng-disabled="DeshabilitarGuardar || DeshabilitarCampo" />
                                            <span class="form-control" style="text-align:right" ng-show="!Sesion.UsuarioAutenticado.ManejoRecalculoFleteLiquidacionPesoCumplido">{{ModeloPesoCumplido}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Peso Faltante</label>
                                            <span class="form-control" style="text-align:right">{{PesoFaltante}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Flete Unitario</label>
                                            <input type="text" class="form-control align-right" ng-model="ModeloValorFlete" ng-change="MaskValores();Calcular()" placeholder="Valor Flete" style="text-align:right" ng-show="Sesion.UsuarioAutenticado.ManejoRecalculoFleteLiquidacionPesoCumplido" ng-disabled="DeshabilitarGuardar || DeshabilitarCampo" />
                                            <span class="form-control" style="text-align:right" ng-show="!Sesion.UsuarioAutenticado.ManejoRecalculoFleteLiquidacionPesoCumplido">{{ModeloValorFlete}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Total Flete Transportador</label>
                                            <input type="text" class="form-control text-right" ng-model="ModeloTotalFleteTransportador" placeholder="Total Flete Transportador" disabled />
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor Conceptos</label>
                                            <span class="form-control" style="text-align:right">{{ModeloValorConceptos}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-sm-6 col-xs-12" ng-show="VisualizarCVT">
                                        <div class="form-group">
                                            <label>Valor CVT</label>
                                            <input type="text" class="form-control text-right" ng-model="ModeloValorCvt" ng-change="MaskValores();Calcular(true)" placeholder="Valor cvt" />
                                        </div>
                                    </div>
                                    <!--<div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Valor Base Impuestos</label>
                                <span class="form-control" style="text-align:right">{{ModeloValorBase}}</span>
                            </div>
                        </div>-->
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor Impuestos</label>
                                            <span class="form-control" style="text-align:right">{{ModeloValorImpuestos}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Valor Pagar</label>
                                            <span class="form-control" style="text-align:right">{{ModeloValorPagar}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Total Flete Cliente</label>
                                            <input type="text" class="form-control text-right" ng-model="TotalFleteCliente" placeholder="Total Flete Cliente" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina</label>
                            <span class="form-control">{{ModeloOficina}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModeloEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
                <!--SECCIÓN BOTONES-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" title="Cancelar" ng-click="VolverMaster()">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="DeshabilitarGuardar">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>

    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>