﻿ <div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>LISTADOS SEGURIDAD USUARIOS</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Listados</label>
                            <select ng-change="AjustarFiltros()" name="cmbEstado" class="form-control" ng-model="ListadosSeguridadUsuarios" ng-options="i.NombreMenu for i in ListaListados"></select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="box box-default box-solid">
                        <div class="box-header">
                            <h3 class="box-title">Filtros</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-disabled="Deshabilitar" ng-click="Filtros()" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body" style="display:block">
                            
                            <div class="row">
                                <div class="col-md-2 col-sm-4 col-xs-12" ng-show="ListadosSeguridadUsuarios.Codigo != 13008213">
                                    <div class="form-group">
                                        <label for="lblIdent">Código</label>
                                        <input type="text" class="form-control" maxlength="10" ng-model="Identificador" placeholder="Identificador" >
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-2 col-xs-12" ng-show="ListadosSeguridadUsuarios.Codigo != 13008213">
                                    <div class="form-group">
                                        <label for="lblNomb">Nombre</label>
                                        <input type="text" class="form-control" ng-model="Nombre" maxlength="50" placeholder="Nombre">
                                    </div>
                                </div>

                                <div style="display:block">

                                    <div class="col-md-3 col-sm-6 col-xs-12" ng-show="filtroUsuarios || ListadosSeguridadUsuarios.Codigo == 13008213">
                                        <div class="form-group">
                                            <label>Grupo</label>
                                            <select name="cmbGrupo" class="form-control" ng-model="Grupo" ng-options="i.Nombre for i in ListadoGrupoUsuarios"></select>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-12" ng-show="filtroUsuarios">
                                        <div class="form-group">
                                            <label>Tipo Aplicación</label>
                                            <select name="cmbEstado" class="form-control" ng-model="TipoAplicacion" ng-options="i.Nombre for i in ListadoTipoAplicacion"></select>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-12" ng-show="filtroUsuarios">
                                        <div class="form-group">
                                            <label>Cuenta Activa</label>
                                            <select name="cmbEstado" class="form-control" ng-model="ModeloCuentaActiva" ng-options="i.Nombre for i in ListadoEstadoCuentaActiva"></select>
                                        </div>
                                    </div>
                                </div>
                              
                                <!--SECCIÓN BOTONES-->
                                <div class="SeccionBotones" style="clear:both" >
                                    <div id="lineButtons">
                                        <div class="pull-left">
                                            <table>
                                                <tr>
                                                    <td ng-show="DeshabilitarPDF">
                                                        <button class="btn btn-block btn-primary " style="width:50px; height:50px" title="Abrir en PDF" ng-click="DesplegarInforme( 1, 0)" ng-disabled="DeshabilitarImprimir">
                                                            <img src="../../../../../Css/img/pdf.png" width="40" height="40" />
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-block btn-primary" style="width:50px; height:50px; margin-left:10px" title="Descargar en EXCEL" ng-click="DesplegarInforme(0, 1)">
                                                            <img src="../../../../../Css/img/excel.png" width="40" height="40" style="margin-left:0px" />
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>
                                    </div>
                                </div>

                            </div>



        </form>
    </div>

</div>