﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR LISTA DISTRIBUCIÓN CORREOS</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="estado">Evento Correo</label>
                            <select name="tipoDocu" class="form-control" ng-model="Modelo.NumeroEvento" ng-options="i.Nombre for i in ListaEventoCorreos"></select>
                        </div>
                    </div>

                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" title="Buscar" ng-click="paginaActual=1;Buscar()">
                        Buscar
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <!--<div class="pull-right">
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" title="Nuevo" ng-disabled="DeshabilitarActualizar" ng-click="NuevoDocumento()">
                            Nuevo
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>-->
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoEventoCorreos.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th>Evento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoEventoCorreos">
                                <td><a href="#!GestionarListaDistribucionCorreos/{{item.Codigo}}">{{item.Nombre}}</a></td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
</div>
