﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR AUDITORIA DOCUMENTOS</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="listado">Documentos</label>
                            <select placeholder="Seleccione un listado" name="listado" class="form-control" ng-model="TipoDocumento" ng-options="i.Nombre for i in TipoDocumentos | orderBy:'Nombre'" ng-change="AsignarFiltro()"></select>
                        </div>
                    </div>
                </div>
                <!--SECCION FILTROS-->
                <div class="box box-default box-solid">
                    <div class="box-header with-border" ng-disabled="Bloquear">
                        <h3 class="box-title">{{NombreSeccion}}</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">

                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="fechaInicial">Fecha Inicial</label>
                                    <input name="fechaInicial" type="date" class="form-control" ng-model="FechaInicial">
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="fechaFinal">Fecha Final</label>
                                    <input name="fechaFinal" type="date" class="form-control" ng-model="FechaFinal">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblNumeroInicial">Número Inicial</label>
                                    <input ng-change="MaskNumero()" name="txtNumeroInicial" placeholder="Número Inicial" class="form-control" ng-model="NumeroInicial" maxlength="20" />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblNumeroFinal">Número Final</label>
                                    <input ng-change="MaskNumero()" name="txtNumeroFinal" placeholder="Número Final" class="form-control" ng-model="NumeroFinal" maxlength="20" />
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="lblUsuario">Usuario</label>
                                    <input ng-change="MaskMayus()" name="txtUsuario" placeholder="Nombre Usuario" class="form-control" ng-model="NombreUsuario" type="text" maxlength="100" minlenght="4" />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="estado">Estado</label>
                                    <select name="estado" class="form-control" ng-model="Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" ng-click="paginaActual=1;Buscar()" title="Buscar">
                        Buscar
                        <span class="glyphicon glyphicon-filter"></span>
                    </button>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
                <div class="table-responsive" ng-if="ListadoAuditoria.length > 0">

                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th>Número </th>
                                <th>Fecha Documento</th>
                                <th>Usuario Crea</th>
                                <th>Fecha Crea</th>
                                <th>Usuario Modifica</th>
                                <th>Fecha Modifica</th>
                                <th>Usuario Anula</th>
                                <th>Fecha Anula</th>
                                <th>Causa Anula</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoAuditoria">
                                <td><a href={{item.UrlConsulta}}>{{item.Numero}}</a></td>
                                <td>{{item.FechaDocumento | date: 'dd/MM/yyyy'}}</td>
                                <td>{{item.UsuarioCrea.Nombre}}</td>
                                <td>{{item.FechaUsuarioCrea | date: 'dd/MM/yyyy HH:mm'}}</td>
                                <td>{{item.UsuarioModifica.Nombre}}</td>
                                <td>{{item.FechaUsuarioModifica | date: 'dd/MM/yyyy HH:mm'}}</td>
                                <td>{{item.UsuarioAnula.Nombre}}</td>
                                <td>{{item.FechaUsuarioAnula | date: 'dd/MM/yyyy HH:mm'}}</td>
                                <td>{{item.CausaAnula}}</td>
                                <td>{{item.NombreEstado}}</td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                    <!--SECCIÓN BOTONES-->
                    <div class="SeccionBotones">
                        <div id="lineButtons">
                            <div class="pull-left">
                                <table>
                                    <tr>

                                        <td>
                                            <button class="btn btn-block btn-primary" style="width:50px; height:50px; margin-left:10px" title="Descargar en EXCEL" ng-click="DesplegarInforme(0, 0, 1)">
                                                <img src="../../../FrontEnd/Css/img/excel.png" width="40" height="40" style="margin-left:0px" />
                                            </button>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>