﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>GENERAR LISTA DISTRIBUCIÓN CORREOS</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form name="myform">
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="estado">Evento Correo</label>
                            <select name="tipoDocu" class="form-control" ng-disabled="DesabilitarEvento" ng-change="CargarNuevoEvento()" ng-model="Modelo.NumeroEvento" ng-options="i.Nombre for i in ListadoEventoCorreos"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="Modelo.Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!------------------------------------------checkbox-------------------------------->

            <div class="box box-default box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Adicionar Perfiles</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <input type="checkbox" ng-model="Modelo.Conductor" ng-click="AddConductor(Modelo.Conductor)"> Conductor
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <input type="checkbox" ng-model="Modelo.Transportador" ng-click="AddTransportador(Modelo.Transportador)"> Transportador
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <input type="checkbox" ng-model="Modelo.Cliente" ng-click="AddCliente(Modelo.Cliente)"> Cliente
                        </div>
                    </div>
                </div>
            </div>
            <!-------------------------DATOS EMPLEADO-------------------------->
            <div class="box box-default box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Adicionar Empleado</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" name="" autocomplete="off" class="form-control" maxlength="40" ng-model="Modelo.Empleado" placeholder="Nombre del Empleado" ng-blur="ObtenerEmpleado()" uib-typeahead="Empleado as Empleado.NombreCompleto for Empleado in Sesion.FilterLst($viewValue,ListadoEmpleados,'NombreCompleto')| filter:$viewValue | limitTo: 5" />
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>E-mail</label>
                            <input name="txtEmail" type="text" class="form-control" maxlength="100" placeholder="Digite la direccion de correo electronico" ng-model="Modelo.Email" ng-pattern="/^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,3})$/" ng-blur="item.ModificarCorreo=true" />
                            <small class="errorField" ng-show="myform.txtEmail.$error.pattern">
                                Por favor verifique el formato del correo.
                            </small>
                        </div>
                    </div>
                    <div style="padding-top:24px" class="pull-right">
                        <button type="button" class="btn btn-primary" title="Agregar" ng-click="Agregar()">
                            Agregar
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Email</th>
                                <th>Opciones</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoEmpleadosCorreos">
                                <td>{{ item.Empleado.NombreCompleto }}</td>
                                <td>
                                    <label ng-show="!item.ModificarCorreo">{{item.Email}}</label>

                                    <div ng-show="item.ModificarCorreo" class="form-group">
                                        <input name="TextoEmail" type="text" class="form-control" maxlength="100" placeholder="Digite la direccion de correo electronico" ng-model="item.Email" ng-pattern="/^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,3})$/" ng-blur="item.ModificarCorreo=false" />
                                        <small class="errorField" ng-show="myform.TextoEmail.$error.pattern">
                                            Por favor verifique el formato del correo.
                                        </small>
                                    </div>

                                </td>
                                <td>
                                    <button class="button mini-button btn-danger" title="Eliminar" ng-click="MensajeEliminarCorreo(item.Empleado.NombreCompleto,item.Correo, $index)" ng-show="item.OcultarBotones">
                                        <span class="fas fa-trash-alt"></span>
                                    </button>
                                    <button class="button mini-button btn-warning" title="Editar" ng-click="item.ModificarCorreo=true" ng-show="item.OcultarBotones">
                                        <span class="fa fa-edit"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="Volver()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarCorreosEmpleados()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!---------------------VENTANAS MODAL A PARTIR DE ESTA LINEA--------------->
    <div class="modal fade" id="MensajeEliminarCorreo" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar el E-mail de {{ Empleado }} ?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="EliminarCorreo()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- modal-eliminar -->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar(ListadoEmpleadosCorreos)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- modal-guardar -->
</div>