﻿<div >

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>

    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>

    <section class="content" tabindex="-1">
        <div class="row">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="box-group" id="accordion">
                        <div class="panel box box-primary">
                            <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true">
                                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                                    <ul>
                                        <li ng-repeat="error in MensajesError">
                                            <span>{{error}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="box-body">
                                    <form name="myform" autocomplete="off">
                                        <div id="infoBasica">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Smtp</label>
                                                        <input ng-change="MaskMayus()" type="text" name="" class="form-control" maxlength="40" placeholder="Smtp" ng-model="Smtp" />
                                                    </div>
                                                </div>

                                                <div class="col-md-3 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Puerto Smtp</label>
                                                        <input ng-change="MaskMayus()" type="text" name="" class="form-control" maxlength="40" placeholder="Puerto Smtp" ng-model="SmtpPuerto" />
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Usuario</label>
                                                        <input ng-change="MaskMayus()" type="text" name="" class="form-control" maxlength="40" placeholder="Usuario" ng-model="Usuario" />
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Contraseña</label>
                                                        <input ng-change="MaskMayus()" type="text" name="" class="form-control" maxlength="40" placeholder="Contraseña" ng-model="Contrasena" />
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Remitente</label>
                                                        <input ng-change="MaskMayus()" type="text" name="" class="form-control" maxlength="40" placeholder="Remitente" ng-model="Remitente" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Autenticación Smtp</label>
                                                        <br />
                                                        <input type="checkbox" name="" ng-model="AutenticacionRequerida" />
                                                    </div>
                                                </div>

                                                <div class="col-md-3 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Autenticación SSL</label>
                                                        <br />
                                                        <input type="checkbox" name="" ng-model="AutenticacionSSL" />
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="box box-default box-solid collapsed-box">
                                                <div class="box-header with-border" ng-disabled="Bloquear">
                                                    <h3 class="box-title">Probar Configuración</h3>
                                                    <div class="box-tools pull-right">
                                                        <button class="btn btn-box-tool" ng-disabled="Deshabilitar" ng-click="AdicionarTramosRuta()" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                                    </div>
                                                </div>
                                                <div class="box-body">
                                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Destinatario</label>
                                                            <input ng-change="MaskMayus()" type="text" name="" class="form-control" maxlength="40" placeholder="Usuario" ng-model="Receptor" />
                                                        </div>
                                                    </div>
                                                    <div class="pull-right">
                                                        <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ProbarConfiguracion()">
                                                            Probar
                                                            <span class="glyphicon glyphicon-ok-circle"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="modal fade" id="modalConfirmacionGuardarBanco" tabindex="-1" role="dialog" data-backdrop="static">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <form autocomplete="off">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">
                                            GESTRANS.NET PASAJEROS
                                        </h4>
                                    </div>

                                    <div class="modal-body">
                                        <p>¿Está seguro de guardar la información?</p>
                                    </div>

                                    <div class="modal-footer">
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                Cancelar
                                                <span class="glyphicon glyphicon-remove-circle"></span>
                                            </button>
                                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                                Aceptar
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
                </div>
            </div>

            <div class="pull-right">
                <!--<button type="button" class="btn btn-default" ng-click="VolverMaster()">
                    Cancelar
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>-->
                <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardarConfiguracion()">
                    Aceptar
                    <span class="glyphicon glyphicon-ok-circle"></span>
                </button>


            </div>

        </div>

    </section>
</div>