﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <!-- Encabezado -->
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <span class="form-control">{{ModeloNumeroDocumento}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha</label>
                            <input type="date" class="form-control" ng-model="ModeloFecha" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Documento</label>
                            <select name="cmbEstado" class="form-control" ng-model="TipoDocuumeto" ng-options="i.Nombre for i in ListadoDocumentos" ng-change="ValidarPlanilla(ModeloNumeroPlanilla)"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Planilla</label>
                            <input type="text" class="form-control" ng-model="ModeloNumeroPlanilla" ng-change="MaskNumero()" ng-disabled="DeshabilitarControlPlanilla" ng-blur="ValidarPlanilla(ModeloNumeroPlanilla)" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Manifiesto</label>
                            <input type="text" class="form-control" ng-model="ModeloNumeroManifiesto" ng-change="MaskNumero()" ng-disabled="DeshabilitarControlPlanilla" ng-blur="ValidarPlanilla(ModeloNumeroManifiesto,1)" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>No. Cumplido</label>
                            <span class="form-control">{{ModeloNumeroCumplido}}</span>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Vehículo</label>
                            <span class="form-control">{{ModeloPlacaVehiculo}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Semirremolque</label>
                            <span class="form-control">{{ModeloSemirremolque}}</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblConductor">Conductor</label>
                            <span class="form-control">{{ModeloConductor}}</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblTenedor">Tenedor</label>
                            <span class="form-control">{{ModeloTenedor}}</span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Observaciones</label>
                            <textarea class="form-control" ng-model="ModeloObservaciones"></textarea>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">CONCEPTOS LIQUIDACIÓN</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="ResultadoConsulta">
                                    <div style="overflow-x:scroll; max-width:100%" class="table-responsive" ng-if="ModeloListadoConceptos.length > 0">
                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Concepto</th>
                                                    <th>Valor</th>
                                                    <th></th>
                                                    <th>Observaciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ModeloListadoConceptos | orderBy:'ConceptoLiquidacion.Nombre'">
                                                    <td>{{item.ConceptoLiquidacion.Nombre}}</td>
                                                    <td><input type="text" class="form-control align-right" ng-model="item.Valor" ng-disabled="item.ConceptoLiquidacion.Nombre == 'ANTICIPO' || item.ConceptoLiquidacion.Nombre == 'REANTICIPO'" ng-change="item.Valor = MaskValoresGrid(item.Valor);Calcular(item.Valor,item)" placeholder="Valor" style="text-align:right" /></td>
                                                    <td>
                                                        <span ng-if="item.Operacion == 2" class="label pull-center bg-red">-</span>
                                                        <span ng-if="item.Operacion == 1" class="label label-success">+</span>
                                                    </td>
                                                    <td><input type="text" class="form-control" maxlength="250" ng-model="item.Observaciones" ng-disabled="DeshabilitarCampo" placeholder="Observaciones" /></td>
                                                </tr>
                                            </tbody>
                                            <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                                <tr>
                                                    <td colspan="4">
                                                        <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                        <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                            <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                                <span class="item">&laquo;</span>
                                                            </button>
                                                            <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                                <span class="item">&lsaquo;</span>
                                                            </button>
                                                            <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                                <span class="item">&rsaquo;</span>
                                                            </button>
                                                            <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                                <span class="item">&raquo;</span>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                        <span style="color:red">
                                            <small>{{ResultadoSinRegistros}}</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">NOVEDADES</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="ResultadoConsulta">
                                    <div style="overflow-x:scroll; max-width:100%" class="table-responsive" ng-if="ListaNovedades.length > 0">
                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Novedad</th>
                                                    <th>Observaciones</th>
                                                    <th>Valor</th>
                                                    <th>Fecha</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ListaNovedades">
                                                    <td>{{item.Novedad.Nombre}}</td>
                                                    <td>{{item.Observaciones}}</td>
                                                    <td align="right">{{MaskValoresGrid(item.ValorVenta)}}</td>
                                                    <td>{{item.FechaCrea  | date: 'dd/MM/yyyy HH:mm'}}</td>
                                                </tr>
                                            </tbody>
                                            <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                                <tr>
                                                    <td colspan="4">
                                                        <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                        <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                            <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                                <span class="item">&laquo;</span>
                                                            </button>
                                                            <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                                <span class="item">&lsaquo;</span>
                                                            </button>
                                                            <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                                <span class="item">&rsaquo;</span>
                                                            </button>
                                                            <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                                <span class="item">&raquo;</span>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                        <span style="color:red">
                                            <small>{{ResultadoSinRegistros}}</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">TOTALES</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Valor Flete</label>
                                        <span class="form-control" style="text-align:right">{{ModeloValorFlete}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Valor Conceptos</label>
                                        <span class="form-control" style="text-align:right">{{ModeloValorConceptos}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Valor Base Impuestos</label>
                                        <span class="form-control" style="text-align:right">{{ModeloValorBase}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Valor Impuestos</label>
                                        <span class="form-control" style="text-align:right">{{ModeloValorImpuestos}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Valor Pagar</label>
                                        <span class="form-control" style="text-align:right">{{ModeloValorPagar}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">IMPUESTOS</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="ResultadoConsulta">
                                    <div class="table-responsive" ng-if="ModeloListadoImpuestos.length > 0">
                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th align="right">Valor Base</th>
                                                    <th align="right">Tarifa</th>
                                                    <th align="right">Valor Impuesto</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ModeloListadoImpuestos | orderBy:'Codigo'">
                                                    <td>{{item.Nombre}}</td>
                                                    <td align="right">{{MaskValoresGrid(item.Valor_base)}}</td>
                                                    <td align="right">{{MaskValoresGrid(item.Valor_tarifa)}}</td>
                                                    <td align="right">{{MaskValoresGrid(item.ValorImpuesto)}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina</label>
                            <span class="form-control">{{ModeloOficina}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModeloEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
            </div>

            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" title="Cancelar" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="DeshabilitarGuardar">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>