﻿<div >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR PLANILLA DESPACHOS</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->

            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechIni">Fecha Inicial</label>
                            <input name="txtFechIni" type="date" class="form-control" ng-model="FechaInicio">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechFin">Fecha Final</label>
                            <input name="txtFechFin" type="date" class="form-control" ng-model="FechaFin">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="numero">Número</label>
                            <input name="numero" ng-change="MaskNumero()" class="form-control" ng-model="NumeroDocumento" placeholder="Ingrese un número" maxlength="10">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="numero">Manifiesto</label>
                            <input name="numero" ng-change="MaskNumero()" class="form-control" ng-model="NumeroManifiesto" placeholder="Ingrese un número" maxlength="10">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Cuenta">Placa</label>
                            <input type="text" class="form-control" name="Placa" maxlength="50" id="ModeloPlaca" placeholder="Ingrese una Placa" ng-model="ModeloPlaca">

                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Cuenta">Ruta</label>
                            <input type="text" class="form-control" name="Ruta" maxlength="50" id="ModeloRuta" placeholder="Ingrese una Ruta" ng-model="ModeloRuta">

                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Cuenta">Conductor</label>
                            <input type="text" class="form-control" name="Conductor" maxlength="50" id="ModeloConductor" placeholder="Ingrese un Conductor" ng-model="ModeloConductor">

                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina</label>
                            <select name="cmbOficina" class="form-control" ng-model="ModalOficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>


                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" ng-click="paginaActual=1;Buscar()" title="Buscar Ordenes Cargue " ng-disabled="DeshabilitarConsulta">
                        Buscar
                        <span class="glyphicon glyphicon-filter"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" ng-disabled="DeshabilitarActualizar" ng-click="NuevoDocumento()" title="Nueva Impuesto">
                            Nuevo
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-show="ListadoPlanillaDespacho.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Número </th>
                                <th>Fecha </th>
                                <th>Manifiesto </th>
                                <th>Cumplido </th>
                                <th>Liquidación</th>
                                <th>Legalización</th>
                                <th>Vehiculo </th>
                                <th>Conductor </th>
                                <th>Ruta </th>
                                <th>Estado </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoPlanillaDespacho  | orderBy:'-Nombre'">
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                            <span class="fa fa-list"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-left" style="overflow-y:scroll; max-height:100px">
                                            <li>
                                                <a ng-click="AbrirNovedades(item)" ng-disabled="PermisosNovedades.DeshabilitarConsulta" ng-show="!PermisosNovedades.DeshabilitarConsulta">
                                                    <span class="fa fa-exclamation-circle"></span>Agregar novedad
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="AbrirTiempos(item)" ng-class="{'optiondisabled': DeshabilitarActualizar == true}">
                                                    <span class="fa fa-clock-o" style="font-size:18px"></span>Registro tiempos
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="DesplegarInforme(item.Numero,1, 0)" ng-class="{'optiondisabled': DeshabilitarImprimir == true}">
                                                    <span class="glyphicon glyphicon-print" style="font-size:18px"></span>Imprimir Reporte
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="DesplegarInformePoliza(item.Numero, 1, 0)" ng-if="item.Numero>0"
                                                   ng-class="{'optiondisabled': DeshabilitarImprimir == true}">
                                                    <span class="fa fa-cog" style="font-size:18px"></span>Imprimir Póliza
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="AnularDocumento(item.Numero,item.NumeroDocumento,item)" ng-class="{'optiondisabled': DeshabilitarEliminarAnular == true}"
                                                   ng-show="item.Anulado == 0">
                                                    <span class="fas fa-trash-alt" style="font-size:18px; margin-right: 5px;"></span> Anular
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </td>
                                <td><a href="#!GestionarPlanillasDespachos/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>
                                <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                <td>{{item.Manifiesto.NumeroDocumento}}</td>
                                <td>{{item.Cumplido.NumeroDocumento}}</td>
                                <td>{{item.Liquidacion.NumeroDocumento}}</td>
                                <td>{{item.NumeroTarifario}}</td>
                                <td>{{item.Vehiculo.Placa}}</td>
                                <td>{{item.NombreConductor}}</td>
                                <td>{{item.Ruta.Nombre}}</td>
                                <td>
                                    <span ng-if="item.Anulado == 1" class="label label-danger">Anulado</span>
                                    <span ng-if="item.Estado.Codigo == 1 && item.Anulado == 0" class="label label-success">Definitivo</span>
                                    <span ng-if="item.Estado.Codigo == 0 && item.Anulado == 0" class="label label-warning">Borrador</span>
                                </td>

                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                        <tfoot ng-if="totalRegistros == 0 && Buscando == false">
                            <tr>
                                <td colspan="4" style="color:red; text-align:center">
                                    <small>{{ResultadoSinRegistros}}</small>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>

    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <!--Modal puestos de control-->
    <div class="modal fade" id="modalNovedades" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-body modal-lg">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="MensajesErrorModal = []"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <h4><strong>NOVEDADES DESPACHOS</strong></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorModal.length > 0">
                                        <ul>
                                            <li ng-repeat="error in MensajesErrorModal">
                                                <span>{{error}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label>No. Planilla</label><span> {{NumeroDocumentoPlanilla}}</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <br />
                                            <div class="pull-right" id="BotonNuevo">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <button type="button" class="btn btn-primary" title="Nueva Novedad" data-toggle="tooltip" onclick="$('#NuevaNovedad').show(500);$('#BotonNuevo').hide(500)" ng-click="Novedades.Novedad = '';
                                                                  MensajesErrorModal = []; Novedades.ValorCompra = ''; Novedades.ValorVenta = ''; Novedades.ValorCosto = ''; Novedades.Proveedor = ''; Novedades.Observaciones = ''; Remesa = '';
                                                                  DeshabilitarNumeroRemesa = true; DeshabilitarValorCompra = true; DeshabilitarValorCliente = true;" ng-show="!PermisosNovedades.DeshabilitarCrear">
                                                            Nuevo
                                                            <span class="glyphicon glyphicon-plus"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="NuevaNovedad">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label>Novedad</label>
                                                <select class="form-control" ng-model="Novedades.Novedad" ng-change="CargarValidacionesNovedad(Novedades.Novedad)" ng-options="i.Nombre for i in ListadoNovedadesDespachos"></select>
                                            </div>
                                            <!--//FP 2022 02 27 req 026 remueve valores cliente y transportador y lo relacionado
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label>No. Remesa</label>
                                                <input class="form-control" placeholder="Ingrese número remesa" ng-model="Remesa" ng-blur="VerificarNumeroFactura(Remesa)" uib-typeahead="i as i.NumeroDocumentoRemesa for i in ListadoNumerosRemesas | filter:$viewValue | limitTo: 5" ng-disabled="DeshabilitarNumeroRemesa" />
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label>Valor Transportador</label>
                                                <input style="text-align:right" ng-change="MaskNumero();MaskValores()" class="form-control" maxlength="10" placeholder="Ingrese valor transportador" ng-model="Novedades.ValorCompra" ng-disabled="DeshabilitarValorCompra" />
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label>Valor Cliente</label>
                                                <input style="text-align:right" ng-change="MaskNumero();MaskValores()" class="form-control" maxlength="10" placeholder="Ingrese valor cliente" ng-model="Novedades.ValorVenta" ng-disabled="DeshabilitarValorCliente" />
                                            </div>-->
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label>Proveedor</label>
                                                <input ng-change="MaskMayus()" type="text" class="form-control" placeholder="Ingrese proveedor" ng-model="Novedades.Proveedor" uib-typeahead="i as i.NombreCompleto for i in ListaProveedores| filter:$viewValue | limitTo: 5" />
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label>Valor Costo</label>
                                                <input style="text-align:right" ng-change="MaskNumero();MaskValores()" class="form-control" maxlength="10" placeholder="Ingrese valor costo" ng-model="Novedades.ValorCosto" />
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <label>Observaciones</label>
                                                <input style="height:55px" type="text" class="form-control" maxlength="500" ng-model="Novedades.Observaciones">
                                            </div>
                                        </div>
                                        <br />
                                        <div class="pull-right">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <button type="button" class="btn btn-default" title="Cancelar" data-toggle="tooltip" onclick="$('#NuevaNovedad').hide(500);$('#BotonNuevo').show(500)" ng-click="MensajesErrorModal = []">
                                                        Cancelar
                                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-primary" title="Adicionar" data-toggle="tooltip" ng-click="InsertarNovedad()" ng-show="!PermisosNovedades.DeshabilitarCrear">
                                                        Adicionar
                                                        <span class="glyphicon glyphicon-ok-circle"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align:center" class="col-md-12" ng-if="ListaNovedades.length <= 0">
                        <span style="color:red">
                            <small>{{ResultadoSinRegistrosNovedad}}</small>
                        </span>
                    </div>
                    <div class="modal-body">
                        <div id="resultadoConsulta" class="table-responsive" ng-if="ListaNovedades.length > 0">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>

                                        <th>No. Planilla</th>
                                        <th>No. Remesa</th>
                                        <th>Novedad</th>
                                        <!--<th>Valor Transportador</th>
                                        <th>Valor Cliente</th>-->
                                        <th>Valor Costo</th>
                                        <th>Usuario Crea</th>
                                        <th>Fecha Crea</th>
                                        <th>Observaciones</th>
                                        <th>Estado</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListaNovedades">

                                        <td>{{item.NumeroDocumentoPlanilla}}</td>
                                        <td>{{item.NumeroDocumentoRemesa}}</td>
                                        <td>{{item.Novedad.Nombre}}</td>
                                        <!--<td align="right">{{MaskValoresGrid(item.ValorCompra | number: 0)}}</td>
                                        <td align="right">{{MaskValoresGrid(item.ValorVenta | number: 0)}}</td>-->
                                        <td align="right">{{MaskValoresGrid(item.ValorCosto | number: 0)}}</td>
                                        <td>{{item.UsuarioCrea.Nombre}}</td>
                                        <td>{{item.FechaCrea  | date: 'dd/MM/yyyy HH:mm'}}</td>
                                        <td>{{item.Observaciones}}</td>
                                        <td>
                                            <span ng-if="item.Anulado == 0 " class="label label-success">Activa</span>
                                            <span ng-if="item.Anulado == 1 " class="label pull-center bg-red">Anulada</span>
                                        </td>
                                        <td ng-if="item.Anulado == 0 ">
                                            <button class="button mini-button  btn-danger" title="Anular" ng-click="AnularNovedad(item)" ng-disabled="PermisosNovedades.DeshabilitarEliminarAnular" ng-show="!PermisosNovedades.DeshabilitarEliminarAnular">
                                                <span class="fas fa-trash-alt"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="MensajesErrorModal = []">
                                Cerrar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajePlanillaDespacho" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-open">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click=" MostrarMensajeErrorCompleto = MostrarMensajeErrorModal(MostrarMensajeErrorCompleto)"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div>
    <!-- Modal Asignar datos anulación-->
    <div class="modal fade" id="modalAnular" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <ul>
                        <li ng-repeat="error in MensajesErrorAnular">
                            <span class="errorField">{{error}}</span>
                        </li>
                    </ul>
                    <div class="modal-body">
                        <p>¿Está seguro de Anular la planilla {{NumeroDocumento}}?</p>

                        <label>Causa Anulacion</label>
                        <input name="nombre" class="form-control" ng-model="ModeloCausaAnula" placeholder="Ingrese una Causa" maxlength="40">

                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ValidarComprobantes()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    
    <!-- Modal Confirmación CUentas-->
    <div class="modal fade" id="ModalConfirmacionCxC" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <ul>
                        <li ng-repeat="error in MensajesErrorAnular">
                            <span class="errorField">{{error}}</span>
                        </li>
                    </ul>
                    <div class="modal-body">
                        <p>La planilla No. {{NumeroDocumento}}  tiene Comprobantes de Egresos relacionados con anticipos por un total de ${{Total}}. Se van a generar la(s) cuenta(s) por cobrar al {{TerceroDestino}}</p>


                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Anular()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modalDatosAnular" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="causaAnulacion">Causa Anulación<small class="small">*</small></label>
                                    <input class="form-control" name="causaAnulacion" type="text" ng-model="CausaAnulacion">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="fechaAnulacion">Fecha Anulación</label>
                                    <span class="form-control">{{FechaAnulacion | date: 'dd/MM/yyyy HH:MM'}}</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Usuario Anula</label>
                                    <span class="form-control"> {{Sesion.Identificador}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="AnularNovedades(CausaAnulacion)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalTiempos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-body modal-lg">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="MensajesErrorModalTiempos = []"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <h4><strong>TIEMPOS CARGUE Y DESCARGUE</strong></h4>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorModalTiempos.length > 0">
                                        <ul>
                                            <li ng-repeat="error in MensajesErrorModalTiempos">
                                                <span>{{error}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-tabs tabs" role="tablist">
                            <li class="nav-item" onclick="$('#TabPlanillas').show();$('#TabRemesas').hide()"><a class="nav-link active show" role="tab" aria-selected="false" data-toggle="tab" onselectstart="return false" onclick="$('#TabPlanillas').show();$('#TabRemesas').hide()">Planilla</a></li>
                            <li class="nav-item" onclick="$('#TabPlanillas').hide();$('#TabRemesas').show()"><a class="nav-link" role="tab" aria-selected="false" data-toggle="tab" onselectstart="return false" onclick="$('#TabPlanillas').hide();$('#TabRemesas').show()">Remesas</a></li>
                        </ul>

                        <div class="tab-content tabs card-block">
                            <div id="TabPlanillas" class="tab-pane">
                                <div id="resultadoConsulta" class="table-responsive" ng-show="ListadoTiemposReporte.length > 0">
                                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                        <tbody>
                                            <tr ng-repeat="item in ListadoTiemposReporte">
                                                <td>{{item.Nombre}}</td>
                                                <td><input type="datetime-local" class=" form-control" ng-model="item.Fecha" ng-disabled="(ListadoTiemposReporte[$index-1].Fecha == undefined || ListadoTiemposReporte[$index-1].Fecha == null || ListadoTiemposReporte[$index-1].Fecha == '') && $index != 0" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-primary" title="Aceptar" onclick="showModal('ModalReplicarRemesas')">
                                            Replicar
                                            <span class="glyphicon glyphicon-share-alt"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div id="TabRemesas" class="tab-pane">
                                <div id="resultadoConsulta" class="table-responsive" ng-show="ListadoTiemposRemesas.length > 0">
                                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm display nowrap dataTable dtr-inline" style="overflow-x:scroll">
                                        <thead>
                                            <tr>
                                                <th width="10px"></th>
                                                <th>Remesa</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!--Listado Grid agrupado-->
                                            <tr ng-repeat="item in ListadoTiemposRemesas">
                                                <td ng-click="ShowList(item)" width="15px"><span class="glyphicon glyphicon-menu-right"></span></td>
                                                <td>
                                                    <div class="col-md-10"> <label>{{item.Numero}}</label></div>
                                                    <div>
                                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm display nowrap dataTable dtr-inline" ng-show="item.show">
                                                            <thead>
                                                                <tr>
                                                                    <th>Descripción</th>
                                                                    <th>Fecha Hora</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="item2 in item.Data">
                                                                    <td>{{item2.Nombre}}</td>
                                                                    <td><input type="datetime-local" class=" form-control" ng-model="item2.Fecha" ng-disabled="(item.Data[$index-1].Fecha == undefined || item.Data[$index-1].Fecha == null || item.Data[$index-1].Fecha == '') && item2.Codigo != 20201" /></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="pull-right">
                                                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Replicarplanilla(item)" onclick="showModal('ModalReplicarPlanilla')">
                                                                Replicar
                                                                <span class="glyphicon glyphicon-share-alt"></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="MensajesErrorModalTiempos = []">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarTiempos()" ng-disabled="DeshabilitarActualizarTiempos">
                                Guardar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModalReplicarRemesas" tabindex="-1" role="alert" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Esta seguro de replicar los tiempos a las remesas?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" tabindex="1" onclick="closeModal('ModalReplicarRemesas',1)">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ReplicarTiemposRemesas()" onclick="closeModal('ModalReplicarRemesas',1)" tabindex="1">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="ModalReplicarPlanilla" tabindex="-1" role="alert" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Esta seguro de replicar los tiempos a la planilla?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" tabindex="1" onclick="closeModal('ModalReplicarPlanilla',1)">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ReplicarTiemposPlanilla()" onclick="closeModal('ModalReplicarPlanilla',1)" tabindex="1">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>