﻿<div  ng-init="InitLoad()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <input class="form-control" ng-model="Modelo.Planilla.NumeroDocumento" maxlength="20" ng-change="MaskNumero()" disabled>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha</label>
                            <input type="date" class="form-control" ng-model="Modelo.Planilla.Fecha" ng-disabled="DeshabilitarActualizar">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Codigo Vehículo</label>
                            <input type="text" class="form-control" maxlength="18" placeholder="Codigo Vehículo" ng-model="Modelo.Planilla.Vehiculo"
                                   uib-typeahead="Vehi as Vehi.CodigoAlterno for Vehi in AutocompleteVehiculos($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="Modelo.Planilla.Vehiculo=VerificarAutocomplete(Modelo.Planilla.Vehiculo);ObtenerInformacionTenedor(Modelo.Planilla.Vehiculo);Modelo.Planilla.Ruta = ''" ng-disabled="DeshabilitarActualizar" />
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Placa Vehículo</label>
                            <input type="text" class="form-control" maxlength="18" placeholder="Placa Vehículo" ng-model="Modelo.Planilla.Vehiculo"
                                   uib-typeahead="Vehi as Vehi.Placa for Vehi in AutocompleteVehiculos($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="Modelo.Planilla.Vehiculo=VerificarAutocomplete(Modelo.Planilla.Vehiculo);ObtenerInformacionTenedor(Modelo.Planilla.Vehiculo);Modelo.Planilla.Ruta = ''" ng-disabled="DeshabilitarActualizar" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Semirremolque</label>
                            <input type="text" class="form-control" maxlength="18" placeholder="Semirremolque" ng-model="Modelo.Planilla.Semirremolque"
                                   uib-typeahead="semi as semi.Placa for semi in ListaRemolque| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="Modelo.Planilla.Semirremolque=VerificarAutocomplete(Modelo.Planilla.Semirremolque)" ng-disabled="DeshabilitarActualizar" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Operario de vehículo</label> <label ng-show="Modelo.Planilla.Vehiculo.Conductor.NumeroIdentificacion != undefined"> - {{Modelo.Planilla.Vehiculo.Conductor.NumeroIdentificacion}}</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="" ng-model="Modelo.Planilla.Vehiculo.Conductor.Nombre" disabled>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tenedor</label> <label ng-show="Modelo.Planilla.Vehiculo.Tenedor.NumeroIdentificacion != undefined"> - {{Modelo.Planilla.Vehiculo.Tenedor.NumeroIdentificacion}}</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="" ng-model="Modelo.Planilla.Vehiculo.Tenedor.NombreCompleto" disabled>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha Salida</label>
                            <input type="date" class="form-control" ng-model="Modelo.Planilla.FechaSalida" ng-disabled="DeshabilitarActualizar">
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Hora</label>
                            <input type="text" ng-change="MaskHora()" class="form-control" maxlength="5" placeholder="HH:MM" ng-model="Modelo.Planilla.HoraSalida" ng-disabled="DeshabilitarActualizar" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Ruta</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="Seleccione una ruta" ng-model="Modelo.Planilla.Ruta" ng-show="Modelo.Planilla.Vehiculo.Tenedor.Codigo > 0"
                                   uib-typeahead="Ruta as Ruta.Nombre for Ruta in LustadoRutasFiltrado| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="CargarImpuestos(Modelo.Planilla.Ruta);Modelo.Planilla.Ruta=VerificarAutocomplete(Modelo.Planilla.Ruta);FiltrarTarifas(Modelo.Planilla.Ruta)" ng-disabled="DeshabilitarActualizar">
                            <input maxlength="60" type="text" class="form-control plcRed" placeholder="Seleccione un vehículo" ng-model="Modelo.Planilla.Ruta" ng-show="!(Modelo.Planilla.Vehiculo.Tenedor.Codigo > 0)"
                                   ng-required="false" disabled>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12" ng-hide="Sesion.UsuarioAutenticado.ManejoTarifasProgramacion">
                        <div class="form-group">
                            <label>Tarifa</label>
                            <select name="cmbEstado" class="form-control" ng-model="Modelo.Planilla.TarifaTransportes" ng-change="FiltrarTipoTarifa()" ng-options="i.Nombre for i in ListaTarifas" ng-disabled="DeshabilitarTarifas || DeshabilitarActualizar"></select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12" ng-hide="Sesion.UsuarioAutenticado.ManejoTarifasProgramacion">
                        <div class="form-group">
                            <label>Tipo Tarifa</label>
                            <select name="cmbEstado" class="form-control" ng-model="TipoTarifaTransportes" ng-change="Calcular(1)" ng-options="i.NombreTipoTarifa for i in ListadoTipoTarifa" ng-disabled="DeshabilitarTarifas || DeshabilitarActualizar"></select>
                        </div>
                    </div>

                </div>


            </div>
            <!--Filtros-->
            <div class="box box-default box-solid CriteriosBusqueda" id="CriteriosBusqueda" ng-show="!DeshabilitarActualizar">
                <div class="box-header with-border">
                    <h3 class="box-title">Cargar Remesas</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse" id="btncriterios"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorConslta.length > 0">
                        <ul>
                            <li ng-repeat="error in MensajesErrorConslta">
                                <span>{{error}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <!--Oficina Despacha-->
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <div class="form-group">
                                <label for="OficDesp">Oficina</label>
                                <select name="OficDesp" class="form-control" tabindex="1" ng-model="Filtro.Oficina" ng-options="i.Nombre for i in ListaOficinasDespacha"></select>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="NumeroInicial">Número </label>
                                <input name="NumeroInicial" class="form-control" ng-model="Filtro.NumeroDocumento" placeholder="Ingrese número inicial" maxlength="20" ng-change="MaskNumero()">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="lblFechIni">Fecha Inicial</label>
                                <input name="txtFechIni" type="date" class="form-control" ng-model="Filtro.FechaInicial">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="lblFechFina">Fecha Final</label>
                                <input name="txtFechFina" type="date" class="form-control" ng-model="Filtro.FechaFinal">
                            </div>
                        </div>
                        <!--<div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Cliente</label>
                                <input class="form-control" ng-model="Filtro.FiltroCliente" placeholder="Ingrese un valor" maxlength="150">
                            </div>
                        </div>-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Cliente</label>
                                <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un Cliente" ng-model="Filtro.Cliente" autocomplete="off"
                                       uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in AutocompleteCliente($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false"
                                       ng-blur="Modelo.Cliente=VerificarAutocomplete(Modelo.Cliente)">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Origen</label>
                                <input maxlength="60" type="text" class="form-control" placeholder="Seleccione una ciudad" ng-model="Filtro.CiudadRemitente" uib-typeahead="ciud as ciud.Nombre for ciud in ListadoCiudades| filter:$viewValue | limitTo: 5" ng-required="false"
                                       ng-blur="Filtro.CiudadRemitente=VerificarAutocomplete(Filtro.CiudadRemitente)">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Destino</label>
                                <input maxlength="60" type="text" class="form-control" placeholder="Seleccione una ciudad" ng-model="Filtro.CiudadDestinatario" uib-typeahead="ciud as ciud.Nombre for ciud in ListadoCiudades| filter:$viewValue | limitTo: 5" ng-required="false"
                                       ng-blur="Filtro.CiudadDestinatario=VerificarAutocomplete(Filtro.CiudadDestinatario)">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="CodigoAlterno">Documento Cliente</label>
                                <input name="CodigoAlterno" class="form-control" ng-model="Filtro.NumeroDocumentoCliente" placeholder="Ingrese un valor" maxlength="20" ng-change="MaskNumero()">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="CodigoAlterno">Órden Servicio</label>
                                <input name="CodigoAlterno" class="form-control" ng-model="Filtro.NumeroDocumentoOrdenServicio" placeholder="Ingrese un valor" maxlength="20" ng-change="MaskNumero()">
                            </div>
                        </div>

                    </div>
                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                        <span style="color:red">
                            <small>{{ResultadoSinRegistros}}</small>
                        </span>
                    </div>
                    <div class="SeccionBotones">
                        <div class="pull-left">
                            <button class="btn btn-block btn-primary" title="" ng-click="Buscar()">
                                Cargar
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>

                </div>

            </div>
            <div class="box box-default box-solid CriteriosBusqueda" ng-show="!DeshabilitarActualizar">
                <div class="box-header with-border">
                    <h3 class="box-title">Filtrar Remesas</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse" id="btnFiltros"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorFiltro.length > 0">
                        <ul>
                            <li ng-repeat="error in MensajesErrorFiltro">
                                <span>{{error}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="CodigoAlterno">Número Inicial</label>
                                <input name="CodigoAlterno" class="form-control" ng-model="Filtro2.NumeroInicial" placeholder="Ingrese un valor" maxlength="20" ng-change="MaskNumero()">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="CodigoAlterno">Número Final</label>
                                <input name="CodigoAlterno" class="form-control" ng-model="Filtro2.NumeroFinal" placeholder="Ingrese un valor" maxlength="20" ng-change="MaskNumero()">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="lblFechVinc">Fecha Inicial</label>
                                <input name="txtFechVinc" type="date" class="form-control" ng-model="Filtro2.FechaInicial">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="lblFechVinc">Fecha Final</label>
                                <input name="txtFechVinc" type="date" class="form-control" ng-model="Filtro2.FechaFinal">
                            </div>
                        </div>
                    </div>
                    <div class="SeccionBotones">
                        <div class="pull-left">
                            <button class="btn btn-block btn-primary" title="" ng-click="Filtrar()">
                                Filtrar
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>

                    <div>
                        <div class="ResultadoConsulta">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Número</th>
                                            <th>Fecha</th>
                                            <th>Cliente/Remitente</th>
                                            <th>Linea Negocio</th>
                                            <th>Órden Servicio</th>
                                            <th>Ruta</th>
                                            <th>Peso (Kg)</th>
                                            <th>Cantidad</th>
                                            <th>Observaciones</th>
                                            <th>Documento Cliente</th>
                                            <th ng-show="Sesion.UsuarioAutenticado.ManejoTarifasProgramacion">Total Flete Transportador</th>
                                            <th>
                                                <label>
                                                    Todos
                                                    <input type="checkbox" ng-click="MarcarRemesas(ChkRemesa);Calcular(1)" ng-model="ChkRemesa" title="Marcar o Desmarcar todas las recolecciones" />
                                                </label>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ListadoGuias | orderBy:'Codigo'">
                                            <td><a href="#!GestionarRemesa/{{item.Numero}}" target="_blank">{{item.NumeroDocumento}}</a></td>
                                            <td>{{item.Fecha | date:'dd/MM/yyyy' }}</td>
                                            <td ng-show="item.Cliente.Codigo > 0">{{item.Cliente.NombreCompleto}}</td>
                                            <td ng-show="item.Cliente.Codigo == 0">{{item.Remitente.NombreCompleto}}</td>
                                            <td>{{item.LineaNegocio.Nombre}}</td>
                                            <td>{{item.NumeroOrdenServicio}}</td>
                                            <td>{{item.Ruta.Nombre}}</td>
                                            <td align="right">{{item.PesoCliente | number}}</td>
                                            <td align="right">{{item.CantidadCliente | number}}</td>
                                            <td>{{item.Observaciones}}</td>
                                            <td>{{item.NumeroDocumentoCliente}}</td>
                                            <td ng-show="Sesion.UsuarioAutenticado.ManejoTarifasProgramacion" align="right">{{item.TotalFleteTransportador | number}}</td>

                                            <td style="text-align:center">
                                                <label>
                                                    <input type="checkbox" ng-model="item.Seleccionado" ng-click="Calcular(1)" />
                                                </label>
                                            </td>

                                        </tr>
                                    </tbody>
                                    <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                        <tr>
                                            <td colspan="4">
                                                <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                    <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                        <span class="item">&laquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                        <span class="item">&lsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                        <span class="item">&rsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                        <span class="item">&raquo;</span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>

                                </table>
                            </div>
                            <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                <span style="color:red">
                                    <small>{{ResultadoSinRegistros}}</small>
                                </span>
                            </div>
                        </div>
                        <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                            <span style="color:red">
                                <small>{{ResultadoSinRegistros}}</small>
                            </span>
                        </div>
                    </div>


                </div>
            </div>
            <!--Guías Guardadas-->
            <div class="box box-default box-solid CriteriosBusqueda" id="GuiasAsociadas" ng-show="ListadoGuiaGuardadas.length > 0">
                <div class="box-header with-border">
                    <h3 class="box-title">Remesas</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">


                    <div style="padding-top: 2%">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Número</th>
                                        <th>Fecha</th>
                                        <th>Ruta</th>
                                        <th>Cliente</th>
                                        <th>Linea Negocio</th>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Peso (Kg)</th>
                                        <th>Observaciones</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoGuiaGuardadas | orderBy:'Codigo'">
                                        <td>{{item.Remesa.NumeroDocumento}}</td>
                                        <td>{{item.Remesa.Fecha | date:'dd/MM/yyyy' }}</td>
                                        <td>{{item.Remesa.Ruta.Nombre}}</td>
                                        <td>{{item.Remesa.Cliente.NombreCompleto}}</td>
                                        <td>{{item.Remesa.LineaNegocio.Nombre}}</td>
                                        <td>{{item.Remesa.ProductoTransportado.Nombre}}</td>
                                        <td align="right">{{item.Remesa.CantidadCliente | number}}</td>
                                        <td align="right">{{item.Remesa.PesoCliente }}</td>
                                        <td>{{item.Remesa.Observaciones}}</td>
                                        <td>
                                            <button class="button mini-button btn-danger" title="Eliminar" ng-click="EliminarGuiaGuardada($index);Calcular()" ng-disabled="DeshabilitarActualizar">
                                                <span class="fas fa-trash-alt"></span>
                                            </button>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                            <span style="color:red">
                                <small>{{ResultadoSinRegistros}}</small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Conductores-->
            <div class="box box-default box-solid collapsed-box" ng-show="AplicaVariosConductores">
                <div class="box-header with-border">
                    <h3 class="box-title">Conductores</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row" ng-show="!DeshabilitarActualizar">
                        <div class="col-md-6 col-sm-4 col-xs-12" ng-show="!DeshabilitarActualizar">
                            <div class="form-group">
                                <label for="Cuenta">Conductor</label>
                                <input ng-change="MaskMayus()" type="text" autocomplete="off" class="form-control" maxlength="50" placeholder="Ingrese un conductor" ng-model="Conductores" uib-typeahead="i as i.NombreCompleto for i in AutocompleteConductor($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false">
                            </div>
                        </div>
                        <div class="SeccionBotones" ng-show="!DeshabilitarActualizar">
                            <div class="pull-left">
                                <button class="btn btn-block btn-primary" title="" ng-click="AgregarConductores()">
                                    Agregar
                                    <span class="fa fa-plus"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="ResultadoConsulta">
                        <div class="table-responsive" ng-if="ListaConductores.length > 0" style="overflow-y:scroll;overflow-x:scroll;max-height:500px;max-width:100%">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Conductor</th>
                                        <th>Identificación</th>
                                        <th>Ciudad</th>
                                        <th>Teléfono</th>
                                        <th>Celular</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody style="text-align:left ">
                                    <tr ng-repeat="item in ListaConductores">
                                        <td>{{item.NombreCompleto}}</td>
                                        <td>{{item.NumeroIdentificacion}}</td>
                                        <td>{{item.Ciudad.Nombre}}</td>
                                        <td>{{item.Telefonos}}</td>
                                        <td>{{item.Celular}}</td>
                                        <td style="text-align:center">
                                            <button ng-hide="$index == 0 || DeshabilitarActualizar" class="button mini-button btn-danger" title="Eliminar" ng-click="EliminarConductor(item.Codigo)">
                                                <span class="fas fa-trash-alt"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--auxiliares-->
            <div class="box box-default box-solid collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Auxiliares</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row" ng-show="!DeshabilitarActualizar">
                        <div class="col-md-6 col-sm-4 col-xs-12" ng-show="!DeshabilitarActualizar">
                            <div class="form-group">
                                <label for="Cuenta">Funcionario</label>
                                <input ng-change="MaskMayus()" type="text" autocomplete="off" class="form-control" name="Funcioario" maxlength="50" id="ModeloFuncionario" placeholder="Ingrese Funcionario" ng-model="ModeloFuncionario" uib-typeahead="i as i.NombreCompleto for i in ListaFuncionario| filter:$viewValue | limitTo: 5" ng-required="false">
                            </div>
                        </div>
                        <div class="SeccionBotones" ng-show="!DeshabilitarActualizar">
                            <div class="pull-left">
                                <button class="btn btn-block btn-primary" title="" ng-click="AgregarAuxiliar()">
                                    Agregar
                                    <span class="fa fa-plus"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="ResultadoConsulta">
                        <div class="table-responsive" ng-if="ListaAuxiliares.length > 0" style="overflow-y:scroll;overflow-x:scroll;max-height:500px;max-width:100%">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Funcionario</th>
                                        <th>Horas Trabajadas</th>
                                        <th>Valor</th>
                                        <th>Observaciones</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody style="text-align:left ">
                                    <tr ng-repeat="item in ListaAuxiliares">
                                        <td>{{item.Tercero.Nombre}}</td>
                                        <td>
                                            <span ng-show="!item.Modificarfuncionario">{{item.Horas}}</span>
                                            <div ng-show="item.Modificarfuncionario" class="form-group">
                                                <input ng-change="item.Horas = MaskNumeroGrid(item.Horas)" name="txtHoras" class="form-control" placeholder="Ingrese horas" ng-model="item.Horas" maxlength="10" />
                                            </div>
                                        </td>
                                        <td>
                                            <span ng-show="!item.Modificarfuncionario">{{item.Valor}}</span>

                                            <div ng-show="item.Modificarfuncionario" class="form-group">
                                                <input style="text-align:right" ng-change="item.Valor = MaskValoresGrid(item.Valor)" name="txtValor" class="form-control" placeholder="Ingrese valor" ng-model="item.Valor" maxlength="10" />
                                            </div>
                                        </td>
                                        <td>
                                            <span ng-show="!item.Modificarfuncionario">{{item.Observaciones}}</span>
                                            <input name="txtObservaciones" type="text" class="form-control" placeholder="Ingrese observaciones" ng-show="item.Modificarfuncionario" ng-model="item.Observaciones" maxlength="500" />
                                        </td>
                                        <td style="text-align:center">
                                            <button class="button mini-button btn-success" title="Agregar" ng-click="ValidarDatosFuncionario()">
                                                <span class="fa fa-check"></span>
                                            </button>
                                            <button class="button mini-button btn-warning" title="Editar" ng-click="item.Modificarfuncionario = true">
                                                <span class="fa fa-edit"></span>
                                            </button>
                                            <button class="button mini-button btn-danger" title="Eliminar" ng-click="EliminarFuncionario(item.Codigo)">
                                                <span class="fas fa-trash-alt"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="text-align:center" class="col-md-12" ng-if="DeshabilitarActualizar && (ListaAuxiliares.length == 0 || ListaAuxiliares == undefined)">
                            <span style="color:red">
                                <small>{{ResultadoSinRegistros}}</small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Impuestos-->
            <div class="box box-default box-solid collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Impuestos</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="ResultadoConsulta">
                            <div class="table-responsive" ng-if="ListadoImpuestosFiltrado.length > 0">
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th align="right">Valor Base</th>
                                            <th align="right">Tarifa</th>
                                            <th align="right">Valor Impuesto</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ListadoImpuestosFiltrado | orderBy:'Nombre'">
                                            <td>{{item.Nombre}}</td>
                                            <td align="right">{{item.ValorBase | number}}</td>
                                            <td align="right">{{item.ValorTarifa}}</td>
                                            <td align="right">{{item.ValorImpuesto | number}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Totales transportador-->
            <div class="box box-default box-solid ">
                <div class="box-header with-border">
                    <h3 class="box-title">Totales</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Cantidad</label>
                                <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores()" placeholder="Seleccione un conductor" ng-model="Modelo.Planilla.Cantidad" ng-required="false" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Peso</label>
                                <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores()" placeholder="Seleccione un conductor" ng-model="Modelo.Planilla.Peso" ng-required="false" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Valor Flete Transportador</label>
                                <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores();ValidarFleteTransportador()" placeholder="Seleccione un conductor" ng-model="Modelo.Planilla.ValorFleteTransportador" ng-required="false" ng-disabled="DeshabilitarActualizar">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Valor Anticipo</label>
                                <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores();Calcular(0,true);ValidarAnticipoPlanilla(Modelo.Planilla.ValorAnticipo)" placeholder="Seleccione un conductor" ng-model="Modelo.Planilla.ValorAnticipo" ng-required="false" ng-disabled="DeshabilitarActualizar">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Valor Impuestos</label>
                                <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores();" ng-model="Modelo.Planilla.ValorImpuestos" ng-required="false" ng-disabled="true">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Valor a Pagar</label>
                                <input maxlength="18" type="text" style="text-align:right" class="form-control" ng-change="MaskValores()" placeholder="Seleccione un conductor" ng-model="Modelo.Planilla.ValorPagarTransportador" ng-required="false" disabled>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-2 col-xs-12">
                            <div class="form-group">
                                <div class="col-md-4 col-sm-2 col-xs-12">
                                    <label for="lblFleteTransportador">Anticipo Pagado</label>
                                </div>
                                <div class="col-md-4 col-sm-2 col-xs-12">
                                    <label for="lblFleteTransportador"><input tabindex="1" type="radio" ng-model="Modelo.Planilla.AnticipoPagadoA" value="Conductor" ng-disabled="DeshabilitarActualizar" />Conductor</label>
                                </div>
                                <div class="col-md-4 col-sm-2 col-xs-12">
                                    <label for="lblFleteTransportador"><input tabindex="1" type="radio" ng-model="Modelo.Planilla.AnticipoPagadoA" value="Tenedor" ng-disabled="DeshabilitarActualizar" />Tenedor</label>
                                </div>
                                <input maxlength="60" ng-show="Modelo.Planilla.AnticipoPagadoA == 'Conductor'" type="text" autocomplete="off" class="form-control" ng-model="Modelo.Planilla.Vehiculo.Conductor.Nombre" disabled>
                                <input maxlength="60" ng-show="Modelo.Planilla.AnticipoPagadoA == 'Tenedor'" type="text" autocomplete="off" class="form-control" ng-model="Modelo.Planilla.Vehiculo.Tenedor.NombreCompleto" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-12" ng-show="Sesion.UsuarioAutenticado.ManejoAnticiposPSL">
                            <div class="form-group">
                                <label for="lblFleteTransportador">Medio Pago Anticipo</label>
                                <select name="formapago" class="form-control" ng-model="FormaPagoRecaudo" ng-options="i.Nombre for i in ListaFormaPago" ng-disabled="DeshabilitarActualizar"></select>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-12" ng-show="Sesion.UsuarioAutenticado.ManejoAnticiposPSL">
                            <div class="form-group">
                                <label for="lblFleteTransportador">Valor Seguro</label>
                                <input ng-change="MaskNumero(); MaskValores()" name="txtAnticipoPlanilla" type="text" class="form-control" ng-model="Modelo.Planilla.ValorSeguroPoliza" style="text-align:right" tabindex="1" ng-disabled="DeshabilitarActualizar">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--SECCIÓN BOTONES-->
            <div class="col-md-2 col-sm-3 col-xs-12">
                <div class="form-group">
                    <label>Oficina</label>
                    <input name="cmbOficina" class="form-control" uib-typeahead="i as i.Nombre for i in ListadoOficina| filter:$viewValue | limitTo: 5" ng-model="ModeloOficina" disabled>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label>Estado</label>
                    <select name="cmbEstado" class="form-control" ng-model="Modelo.Planilla.Estado" ng-options="i.Nombre for i in ListadoEstados" ng-disabled="DeshabilitarActualizar"></select>
                </div>
            </div>
            <br />
            <br />
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="DeshabilitarActualizar">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ValidarGuardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--VENTANAS CONFIRMACIONES-->
    <div class="modal fade" id="modalConfirmacionAnticipo" tabindex="-1" role="alert" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>El anticipo ingresado es superior al parametrizado para la ruta ({{AnticipoAutorizado}}), si desea continuar el anticipo se verá efectivo una vez sea autorizado</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="AutorizacionAnticipo = 0;Modelo.Planilla.ValorAnticipo = 0 " tabindex="1" onclick="closeModal('modalConfirmacionAnticipo')">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="AutorizacionAnticipo = 1" tabindex="1" onclick="closeModal('modalConfirmacionAnticipo')">
                                Continuar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>